<div is_mail_content="true">
━━━━━━━━━━━━━━━━
求人広告終了７日前のお知らせ
━━━━━━━━━━━━━━━━
※本メールは『コールナビ』より自動送信されています。

出稿者の無料広告の掲載期間が残り7日間となりました。
該当の広告は以下です。

＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
アカウント名：{{account.company_name}}様
広告名：{{offer.title}}<br/>
受付日時：{{date.year}}年{{date.month}}月{{date.day}}日　{{date.time}}<br/>
広告種別：無料広告（オーガニック検索)
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

━━━━━━━━━━━━━━━━
『コールナビ』 http://callnavi.jp/
━━━━━━━━━━━━━━━━
</div is_mail_content="true">

