<div id="content-template" style="display:none">
<!--
<li class="df-padding">
	<div class="article-box">
		<div class="display-table">
			<div class="search-image">
				<a href="{url}"><img src="{image}"></a>
			</div>

			<div class="search-content">
				<div class="top-part clearfix">
					<div class="pull-left">
						<time>{createdDate}</time>
						<span class="new-label active-{isNew}">NEW</span>
					</div>
					<div class="pull-right">
						<big>{view}</big> view
					</div>
				</div>
				<div class="middle-part">
					<a href="{url}">{title}</a>
				</div>
				<div class="bottom-part text-right">
					<a href="{category_href}">{category_name}</a>
				</div>
			</div>
		</div>
	</div>
</li>
-->
</div>