<div class="plaid-topic df-padding">
	<span>関連する記事</span>
</div>


<?php echo $this->element('Item/content_similar_aticles_sp',
        				 ['category'=>  $list['Contents']['category_alias']]
    					 );
?>