<div is_mail_content="true">
━━━━━━━━━━━━━━━━
求人広告掲載終了のお知らせ
━━━━━━━━━━━━━━━━
※本メールは『コールナビ』より自動送信されています。

{{account.representative}}様

この度は『コールナビ』をご利用いただき、
誠にありがとうございます。

下記、広告の掲載が終了しました。

＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
広告名：{{offer.title}}<br/>
受付日時：{{date.year}}年{{date.month}}月{{date.day}}日　{{date.time}}<br/>
広告種別：ピックアップ広告
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

本メールについてご不明な点や心当たりが無い場合は、大変お手数ですが、
下記の『お問い合わせ先』までご連絡ください。
━━━━━━━━━━━━━━━━
全国のコールセンター転職・求人一括検索！
アルバイト・中途・新卒もおまかせ！
『コールナビ』
http://callnavi.jp/
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
【お問い合わせ先】
株式会社コールナビ
Eメール：info@callnavi.jp
━━━━━━━━━━━━━━━━
</div is_mail_content="true">

