    <section>
      <ul class="bottom-banner-list">
        <li class="bottom-banner-list__item"><a href="./pretty"><img src="./img/pretty.png"></a></li>
        <li class="bottom-banner-list__item"><a href="./callcenter_matome"><img src="./img/map.png"></a></li>
        <li class="bottom-banner-list__item"><img src="./img/sns.png">
          <div class="fb-like" data-href="https://callnavi.jp" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="false"></div>
        </li>
      </ul>
    </section>