

<div class="container no-padding mg-left-60 mg-top-50 mg-bottom-60">
	<div class="top-reference-box">
		<div class="reference-column">
			<a href="/pretty">
				<img width="100%" src="/img/banner/ranking.png" alt="美男美女図鑑">
			</a>
		</div>

		<div class="reference-column">
			<a href="/callcenter_matome" title="日本コールセンターまとめ">
				<img width="100%" src="/img/search_bnr01.png" alt="日本コールセンターまとめ">
			</a>
		</div>

		<div class="reference-column">
			<?php echo $this->element('../Top/2017/__social_column');?>
		</div>
	</div>
</div>

