<div class="container no-padding mg-top-60 mg-bottom-60 text-align-center">
    <div class="banner-block clearfix">
        <div class="banner-block__item"><a href="http://85baito.com/" target="_blank"><img src="/img/banner/callnavi_pc_new.jpg" /></a></div>
        <div class="banner-block__item"><a href="https://share.callnavi.jp/" target="_blank"><img src="./img/secret/bnr_top_callshare_pc.png" alt="コールシェア 在宅テレワーカー支援サイト"></a></div>
    </div>
</div>