<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 footersplinktext">
    <div class="footer-mail"><a href="/contact"><img src="/img/sp_footer_mail.png">お問い合わせ</a> |　<a href="/keisaiguide">企業の方はこちら</a></div>
    <div class="footer-link"><a href="/company/">運営会社</a>　|　<a href="/company">プライバシーポリシー</a></div>
    <div class="footer-call-center"><a href="/about">コールセンター総合情報サイトについて</a></div>
    <div class="copy-right"><span>©</span> 2015 Call Navi</div>
</div>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 gotop">
    <p><a href="#goTop" class="src">TOP</a></p>
</div>