<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 footersplinkleft">
            <p><a href="/search">求人まとめ</a></p>
            <p><a href="/callcenter_matome/">日本CCまとめ</a></p>
            <p><a href="/blog">ブログ＆コラム</a></p>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 footersplinkright">
            <p><a href="/secret">シークレット求人</a></p>
            <p><a href="/contents">特集記事</a></p>
            <p><a href="#">ランキング</a></p>
        </div>
		
		