<?php
$this->set('title', 'コールナビ｜ブログ管理');
    $this->start('script');
        echo $this->Html->script('jquery.validate.min');
        echo $this->Html->script('fileinput');
    $this->end('script');

    $this->start('css');
        echo $this->Html->css('fileinput');
    $this->end('css');
?>

<?php $this->start('css'); ?>
    <link rel="stylesheet" href="<?php echo $this->base;?>/admin/css/common.css" type="text/css" media="all">
    <link rel="stylesheet" href="<?php echo $this->base;?>/admin/css/blogs.css" type="text/css" media="all">
    <link rel="stylesheet" href="<?php echo $this->base;?>/admin/css/manage-blogs-categoy.css" type="text/css" media="all">
<?php $this->end('css'); ?>

<div id="manage-blogs-categoy-edit" class="container-fluid">
    <div class="row">
        <div class="col-md-2 padding-right-10">
            <?php echo $this->element('../Elements/left_menu'); ?>
        </div>

        <div class="col-md-8 padding-left-10">
            <div id="edit-blogs-categoy" ><?php echo $this->element('../Blogs/_form'); ?>
                <br>
            </div>
        </div>
    </div>



    <script>
        $( document ).ready(function() {



        });
    </script>

</div>
