<?php
?>

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <style type="text/css">
        /* Client-specific Styles */
        #outlook a{padding:0;} /* Force Outlook to provide a "view in browser" button. */
        body{font-family:Arial; width:100% !important;} .ReadMsgBody{width:100%;} .ExternalClass{width:100%;} /* Force Hotmail to display emails at full width */
        body{-webkit-text-size-adjust:none;} /* Prevent Webkit platforms from changing default text sizes. */

    </style>

</head>
<body>

<p><strong>Dear Mr/Ms,</strong></p>
<p>
    Thank you for contact with Callnavi<br>
    Administrator will contact you as soon as possible
</p>

</body>
</html>