<?php
?>

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <style type="text/css">
        /* Client-specific Styles */
        #outlook a{padding:0;} /* Force Outlook to provide a "view in browser" button. */
        body{font-family:Arial; width:100% !important;} .ReadMsgBody{width:100%;} .ExternalClass{width:100%;} /* Force Hotmail to display emails at full width */
        body{-webkit-text-size-adjust:none;} /* Prevent Webkit platforms from changing default text sizes. */

    </style>

</head>
<body>

<p><strong>Dear Admin,</strong></p>
<p><strong> You have a user send e-mail with content below: </strong></p>
<p>氏名: <?php echo $arr["name"] ;?> </p>
<p>メールアドレス:<?php echo $arr["mail"] ;?></p>
<p>お問い合わせ内容:<br>
    <?php echo $arr["content"] ;?>
</p>

</body>
</html>