<div id="contents">
<div id="contentsContainer">
<!-- InstanceBeginEditable name="mainContents" -->
<div class="unitA01">
<h2 class="headingA01">登録情報の変更・解約</h2>

<p class="alignC">登録情報を変更いたしました。</p>
<p class="alignC"><a href="/customer/index">求人広告管理（HOME）へ戻る</a></p>

</div><!-- /.unitA01 -->
<!-- InstanceEndEditable -->
</div><!-- / contentsContainer -->
</div><!-- / contents -->
