<div id="contents">
<div id="contentsContainer">
<div class="unitA01">

{{ partial("/rectangle/preview_template")}}
</div><!-- /.unitA01 -->
</div><!-- / contentsContainer -->
</div><!-- / contents -->

