<title>{{head.title}}</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1" />
<meta name="title" content="{{head.title}}">
<meta name="description" content="{{head.description}}">
<meta name="keywords" content="{{head.keywords}}">