<div class="tab__title">募集情報</div>

<?php echo $this->element('../Secret/detail-sp/detail-sp2/_detail-tab2-sp',[
	'CareerOpportunity' => $CareerOpportunity,
	'CorporatePrs' => $CorporatePrs,
]); ?>

<div class="tab__title mg-top-60">メッセージ</div>

<?php echo $this->element('../Secret/detail-sp/detail-sp2/_detail-tab1-sp',[
	'CareerOpportunity' => $CareerOpportunity,
	'CorporatePrs' => $CorporatePrs,
]); ?>

<div class="tab__title mg-top-60">企業情報</div>

<?php echo $this->element('../Secret/detail-sp/detail-sp2/_detail-tab3-sp',[
	'CareerOpportunity' => $CareerOpportunity,
	'CorporatePrs' => $CorporatePrs,
]); ?>