<div class="container-980 mg-top-40">
	<ul id="tab-top" class="clearfix custom-nav-tabs">
		<li class="pull-left active"><a class="brick-btn" href="#tab3" title="3" data-toggle="tab" >企業情報</a></li>
	</ul>

	<div id="tab-content" class="tab-content">	
	  	<div class="tab-pane fade active in" id="tab3">		
	  		<?php $CareerOpportunity['senior_employee_interview'] = 'temp'; ?>		
			<?php echo $this->element('../Secret/detail/detail2/index-tab3', array('CareerOpportunity' => $CareerOpportunity)); ?>
	  	</div>		  
	</div>
</div>