<?php 
	$here =  strtolower($this->here);
	$url = "/concierge";
	if(strpos($here,$url) !== 0)
	{
		//Those contents will add <script> [data-form='1']
		$listContentsID = array(525, 523, 502, 644, 704, 633, 555, 539);
		if(!empty($list['Contents']['id']) && in_array($list['Contents']['id'], $listContentsID))
		{
			echo "<!--for issue #310-->";
			//echo "<script type='text/javascript' src='https://ws1.sinclo.jp/client/wiz.js' data-form='1'></script>";
			//echo "<style>.bg-concierge-link {display:none !important;} #footer{height: auto;}</style>";
		}
		else
		{
			//Default page will add <script> [data-hide='1']
			echo "<!--not for concierge and issue #310-->";
			//echo "<script type='text/javascript' src='https://ws1.sinclo.jp/client/wiz.js' data-hide='1'></script>";
		}
	}
?>