


<div class="unitC01">
<div class="close"><a href="javascript:void(0)" onclick="window.close();"><img src="/public/admin_images/btn_close_n.png" alt="このウィンドウを閉じる"></a></div>
<h2 class="headingA01">利用規約・プライバシーポリシー</h2>
<section class="unitB03 documentA01">
<div class="headingB01">
<h3>利用規約</h3>
</div>
<h4>第1条（サービス）</h4>
<p>株式会社コールナビ（以下「当社」といいます）は、インターネット上における求人メディア（以下「パートナー」といいます）が所持する求人情報の一括検索サイト「コールナビ（以下、「本サイト」といいます）」と、本サイトに求人広告を掲載できるシステム（以下、「本サービス」といいます）を提供しています。<br />
本サービスのロゴ・画像・文章に関する著作権は、当社に帰属します。ただし、各パートナーから情報の提供を受けて本サービスに掲載される画像、及び文章等の著作権は、各パートナーまたは各パートナーへ情報提供している第三者に帰属します。<br />
本サービスに掲載されている文章・画像等の無断転載・二次利用は禁止します。<br />
当社は、各パートナーより提供されて掲載される情報の内容の正確性、合法性、有効性およびその他一切に関する事由について、監視、審査などの管理に関する一切の責任を負わないものとします。<br />
各パートナーから情報の提供を受けて本サービスに掲載される情報に対するお問い合わせは、情報提供元の各パートナーに直接ご連絡ください。</p>
<h4>第2条（利用規約の適用）</h4>
<p>本利用規約（以下、「本規約」といいます）は、当社と利用登録の上、本サービスを利用するすべての企業・団体（以下、「利用企業」といいます）との間の一切の関係に適用するものとします。<br />
本規約については、利用企業に対する事前の通知なく、当社の判断により、いつでも任意に変更ができるものとします。本規約が変更された場合、当社が別途定める場合を除き、当社サイトに表示した時点により効力を生じるものとします。また、当該変更後の利用企業による本サービスの利用には変更後の本規約が適用されるものとし、当該利用により、利用企業は当該変更に同意したものとみなされます。<br />
当社は、利用企業に対して予告なく、本サービスの内容の全部又は一部の変更、提供停止もしくは終了をすることができます。</p>
<h4>第3条（利用契約の成立）</h4>
<p>本サービスの利用を希望する利用企業は、当社が指定する情報の登録（以下、「利用登録」といいます）をおこなうにあたり、以下の各号の内容について予め承諾するものとします。</p>
<ul>
<li>1. 本サービスの利用を希望する企業・団体は、自らの意思及び責任をもって、当社所定の方法により、利用登録の申込を行うものとします。</li>
<li>2. 利用登録を申込む場合には、本サービスが提供する企業情報登録画面より当社が指定する事項を書式、又はフォームに記入又は記載しインターネット回線を通じて送信するものとします。</li>
<li>3. 利用登録に必要な情報が当社において問題なく受信されたのち、当社の定める基準による審査により適格と判断され、利用を希望する企業、団体に対して承諾の意思表示がなされた時点で利用登録が完了したものとして、当社と利用企業の間に本サービスの利用契約が成立したものとします。</li>
<li>4. 利用登録をしようとする企業・団体は、自身の情報として入力するものは全て真実、正確かつ最新であることを表明保証します。</li>
</ul>
<h4>第4条（利用権限）</h4>
<p>当社は、第3条で定める本サービスの利用契約の成立後、利用企業に対し、本サービスにおける管理画面へのログインの権限を付与します。<br />
利用企業等は、第三者にログインID・パスワードを譲渡・貸与・開示・漏洩等をしてはならないものとします。<br />
利用企業は、その管理するログインID・パスワードを第三者に知られた場合や第三者に使用されるおそれのある場合には、直ちに当社にその旨連絡するとともに、当社の指示がある場合にはこれに従うものとします。</p>
<h4>第5条（求人情報の掲載・審査）</h4>
<p>利用企業は自社で保有する求人情報を、本サービスの管理画面より入力することで本サイト上に掲載することができるものとします。<br />
当社は、利用企業が求人情報を入力し又は掲載先のリンクを設定した場合には、当該求人情報の内容が当社の定める基準に適合しているか否かを審査するものとします。<br />
当社は、入力された求人情報が以下の各号に当てはまる基準に反する場合に、利用企業に対して求人情報の掲載をお断りする権利を有するものとします。</p>
<ul>
<li>1. 事業内容・募集内容が法令に抵触するもの</li>
<li>2. 均等な雇用機会を損なうおそれがあると認められるもの</li>
<li>3. 社会倫理・社会秩序に反すると認められるもの</li>
<li>4. 利用者に不利益を与えるもの</li>
<li>5. 予め提供する意思のない労働条件を表示するもの</li>
<li>6. その他、弊社により不適切だと判断したもの</li>
</ul>
<p>前項に該当する場合において、本サービスの履行不能または不完全履行の事象が生じた場合であっても、当社は、当該事象に起因する利用企業の損害および当社の債務不履行に関する責任について免責されるものとします。</p>
<h4>第6条（掲載の停止）</h4>
<p>当社は、以下の各号のいずれかの事由が生じた場合には、利用企業への通知をすることなく、任意に、本サービス内における当該利用企業の求人情報の掲載を中止し、また本サービスの利用を停止することができます。この場合、利用企業等は速やかに当社の指示に従い、改善措置を取らなければなりません。なお、本条の定めは、当社が本契約の一部又は全部を解除することを妨げないものとします。</p>
<ul>
<li>1. 利用企業等が本規約の規定に違反した場合</li>
<li>2. 利用者および第三者から利用企業に対する苦情が発生したとき</li>
<li>3. 前項に準じ合理的な停止理由があると当社が判断した場合</li>
</ul>
<p>前項に基づく措置が講じられたことにより、利用企業にいかなる損害が生じたとしても、当社は利用企業に対して一切損害賠償責任を負わないものとします。</p>
<h4>第7条（求人情報への応募への対応）</h4>
<p>利用企業は、利用者から本サービスを通じて利用企業が掲載した求人情報に応募がなされた場合には、雇用対策法、雇用の分野における男女の均等な機会及び待遇の確保等に関する法律その他法令の定めるところに従い、速やかに選考を実施するものとします。<br />
利用企業は、本サービスを通じて受領した個人情報について、個人情報の保護に関する法律の法令の定めに従い取り扱わなければならないものとします。<br />
利用企業は、利用企業に関して利用者その他第三者との間に紛争等が発生し、当社が直接これに対応せざるを得ない場合、当社にかかる合理的な手続き費用等を負担するものとします。</p>
<h4>第8条（禁止事項）</h4>
<p>利用企業は、以下の各号の行為、これらを助長する行為、又は各号に該当するおそれのある行為を行ってはならないものとします。</p>
<ul>
<li>1. 違法行為・犯罪行為・反社会的行為を暗示・誘発・助長・推奨等する行為</li>
<li>2. 当社、掲載企業、他の利用者又は第三者の著作権、商標権等の知的財産権を侵害する行為</li>
<li>3. 当社、掲載企業、他の利用者又は第三者の財産・信用・名誉・プライバシー等を侵害する行為</li>
<li>4. 当社又は第三者になりすます行為</li>
<li>5. 当社又は第三者のサーバーに負担をかける行為、又は本サービスの運営やネットワーク・システムに支障を与える行為</li>
<li>6. コンピュータウィルス等の有害なコンピュータプログラム等を送信又は掲載する行為</li>
<li>7. その他、当社が不適切と判断する行為</li>
</ul>
<p>当社は、利用企業の行為が本規約等及び法令に違反し、又は前号の禁止行為に該当する場合やその他当社が必要と判断した場合には、利用企業の本サービスの全部又は一部の利用を禁止し、又は利用企業との契約を解約し、もしくは求人情報等の削除その他あらゆる必要な措置を取ることができるものとします。</p>
<h4>第9条（免責事項）</h4>
<p>当社は、利用企業に対して、利用者を本サービスから設定されたリンク先への送客後、利用者のリンク先における利用企業又は第三者保有のサイトの利用態様について一切責任を負わないものとします。<br />
本サービスの利用は、利用企業の判断と責任において行われるものとします。当社は、利用者の資質・能力および利用企業への適合性等につき保証しないものとします。<br />
当社は、利用企業が掲載した求人情報及びリンクを設定した求人情報に対する送客数及び応募数について、一切の保証をしないものとします。<br />
当社は、利用企業が、本サービスを通じて求人情報を掲載し、又はリンクを設定したことにより生じたいかなる損害について、一切の責任を負わないものとします。<br />
当社は、本サービスの内容をいつでも任意の理由で変更、追加、中断、終了することができるものとします。当社は、本サービスの変更等により生じたいかなる損害について、一切の責任を負わないものとします。</p>
<h4>第10条（補償）</h4>
<p>利用企業は、その行為が原因で生じたクレームなどに関連して、当社に費用や損害が発生した場合、又は当社が賠償金等の支払を行った場合、当該費用、損害や賠償金等（当社が支払った弁護士費用を含みます）を負担するものとします。</p>
<h4>第11条（本サービスの休止）</h4>
<p>当社は、以下の各号のいずれかに該当する場合、又は該当するおそれがあると当社が判断するときは、本サービスの提供を休止することができます。本サービスの提供を休止した場合に、利用企業が被った損害について当社は賠償の責任を負わないものとします。</p>
<ul>
<li>1. 当社のサーバーやソフトウェア等電気通信設備の保守、点検、修理、データ更新の必要があるとき</li>
<li>2. 設備の故障等やむを得ない事情があるとき</li>
<li>3. 電気通信事業法第8条の規定に基づき、天災その他の非常事態が発生し、もしくはそのおそれがあり、公共の利益の為に緊急を要する通信を優先させる必要があるとき</li>
<li>4. 電気通信事業者等が、電気通信サービスを中断したとき</li>
<li>5. 利用企業等の行為が当社の電気通信設備に支障を及ぼし、又はそのおそれがあり、その結果、当社の業務遂行に支障が生じたとき</li>
</ul>
<p>当社は、本サービスを休止する場合には、利用企業等に対して、その旨ならびに理由および期間を通知するものとします。但し、定期的なメンテナンスや一時的なサーバーダウン、その他緊急を要する場合はこの限りではありません。</p>
<h4>第12条（本サービスの廃止）</h4>
<p>当社は、自己の裁量に基づき、本サービスの一部又は全部を廃止することができるものとします。<br />
当社は、本サービスを廃止するときは、事前に利用企業にその旨を通知するものとします。<br />
利用企業は、本サービスが廃止されることにより、利用企業が本サービス利用の目的を達することができない場合は、本契約を終了させることができるものとします。</p>
<h4>第13条（本契約の解除、終了）</h4>
<p>当社は、利用企業が次の各号に該当するときには、事前の催告を要することなく、利用企業等に対し通知し、本契約を解除することができるものとします。</p>
<ul>
<li>1. 差押え、仮差押え、仮処分、租税滞納処分等の処分を受け、または破産、民事再生、特別清算、会社更生等を自ら申し立てもしくは申し立てを受けたとき</li>
<li>2. 手形・小切手の不渡処分を受け、またはその他支払い不能となったとき</li>
<li>3. 事業の全部または重要な部分を他に譲渡したとき</li>
<li>4. 合併や事業の廃止等により経営環境に大きな変化が生じたとき</li>
<li>5. その他本規約に定める事項を遂行できる見込みがないとき</li>
</ul>
<p>利用企業が、本契約の解約を希望する場合には、本サービスが提供する管理画面より当社が指定する事項を書式又はフォームに記入し、インターネット回線を通じて送信できるものとします。解約に必要な情報が当社において問題なく受信されたのち、利用企業に対して解約を承諾する意思表示がなされた時点で本契約が終了したものとします。</p>
<h4>第14条（個人情報の取扱）</h4>
<p>当社は、利用企業の個人情報を当社が別途定める「プライバシーポリシー」に基づき、適切に取り扱うものとします。</p>
<h4>第15条（権利譲渡の制限）</h4>
<p>利用企業は、本規約上の地位に基づく一切の権利義務を、当社の事前の書面による承諾なく、第三者に譲渡もしくは貸与し、又は担保に供してはならないものとします。<br />
当社は、本サービスに関する事業を事業譲渡その他の事由により第三者に承継させる場合には、当該事業の承継に伴い、本規約等上の地位、本規約等に基づく権利、義務及び利用企業の登録情報その他利用企業の情報を当該事業の承継人に譲渡することができるものとし、利用企業は、かかる譲渡について予め同意したものとします。</p>
<h4>第16条（準拠法・合意管轄）</h4>
<p>本規約等は日本法を準拠法とし、本サービスに関する一切の紛争については、東京地方裁判所又は東京簡易裁判所を第一審の専属的合意管轄裁判所とします。</p>
</section>

<section class="unitB03 documentA01">
<div class="headingB01">
<h3>プライバシーポリシー</h3>
</div>
<h4>1. 個人情報の取り扱いについて</h4>
<p>当社は、当社が遂行する各事業において、必要となる個人情報を取得しますが、これらの個人情報は下記の目的で利用します。 また、当社は、業務を円滑に進めるため、業務の一部を委託し、業務委託先に対して必要な範囲内で個人情報を提供することがありますが、 この場合、当社は当該委託先との間で個人情報の取扱いに関する契約の締結をはじめ、適切な監督を実施します。</p>
<p>（1）利用目的<br />
本サービスへの会員登録<br />
求人企業への応募<br />
サービスの品質向上を目的としたアンケートの実施<br />
その他本サービスに付随するサービスの提供を行うこと</p>
<p>（2）第三者提供
当社は、個人情報を、事業の再編、合併、組織改編または営業譲渡等の際のデュー・デリジェンス（企業内容の調査）を目的として、 当該デュー・デリジェンスを行なう者に提供する場合があります。</p>
<h4>2. 第三者への開示・提供</h4>
<p>当社は、業務委託先等への提供の場合、1. の（2）に記載の目的に利用する場合、<br />
及び以下の何れかに該当する場合を除き、個人情報を第三者へ開示または提供しません。</p>
<ul>
<li>（1）ご本人様の同意がある場合</li>
<li>（2）統計的なデータなどご本人様を識別することができない状態で開示・提供する場合</li>
<li>（3）法令に基づき開示・提供を求められた場合</li>
<li>（4）人の生命、身体または財産の保護のために必要な場合であって、ご本人様の同意を得ることが 困難である場合</li>
<li>（5）国または地方公共団体等が公的な事務を実施するうえで、協力する必要がある場合であって、 ご本人様の同意を得ることにより当該事務の遂行に支障を及ぼすおそれがある場合</li>
</ul>
<h4>3. 開示の手続</h4>
<p>当社は、業務委託先等への提供の場合、1. の（2）に記載の目的に利用する場合、<br />
及び以下の何れかに該当する場合を除き、個人情報を第三者へ開示または提供しません。</p>
<ul>
<li>（1）ご本人様の同意がある場合</li>
<li>（2）統計的なデータなどご本人様を識別することができない状態で開示・提供する場合</li>
<li>（3）法令に基づき開示・提供を求められた場合</li>
<li>（4）人の生命、身体または財産の保護のために必要な場合であって、ご本人様の同意を得ることが 困難である場合</li>
<li>（5）国または地方公共団体等が公的な事務を実施するうえで、協力する必要がある場合であって、 ご本人様の同意を得ることにより当該事務の遂行に支障を及ぼすおそれがある場合</li>
</ul>
<h4>4. 訂正・削除等</h4>
<p>当社の保有個人データの内容に関して、ご本人様の情報について訂正、追加または削除をご希望される場合には、 お申し出いただいた方がご本人であることを確認したうえで、事実と異なる内容がある場合には、合理的な期間及び範囲で情報の訂正、 追加または削除をします。</p>
<h4>5. 利用停止・消去</h4>
<p>当社の保有個人データに関して、ご本人様の情報の利用停止または消去をご希望される場合で、以下の事項のいずれか一つに該当する場合には、 お申し出いただいた方がご本人であることを確認したうえで、原則として合理的な期間及び範囲で利用停止または消去します。</p>
<ul>
<li>（1）当社が、ご本人様の同意なく本方針の1に記載の利用目的の範囲を超えて個人情報を利用したとき</li>
<li>（2）当社が、当該個人情報を違法または不正な方法で取得したとき</li>
<li>（3）当社が、不正に第三者に個人情報を開示したとき</li>
</ul>
<p>なお、これらの情報の一部または全部を利用停止または消去した場合、不本意ながらご要望に沿ったサービスの提供ができなくなることが ありますので、ご理解とご協力を賜りますようお願い申し上げます。 また、労働基準法等、法令に基づき保有しております情報については、利用停止または消去のお申し出には応じられない場合があります。</p>
<h4>6. 開示等の受付方法・窓口</h4>
<p>当社の保有個人データに関して、上記3. 4. 5. のお申し出及び、その他の個人情報に関するお問合せは以下の方法にて受け付けます。 なお、この受付方法によらない開示等の求めには応じられない場合がありますので、ご了承ください。</p>
<p>（1）受付手続<br />
下記の宛先に電話でお申込ください。受付手続についての詳細は、お申し出いただいた際にご案内申し上げますが、下記の窓口及び方法により、 ご本人様（または代理人）であることの確認をしたうえで、原則として書面により回答します。また、お申し出内容によっては、 当社所定の申込書面をご提出いただく場合があります。</p>
<p>○開示等の求めに際して提出すべき書面の様式その他の開示等の求めの方式<br />
下記を当社「個人情報苦情及びご相談窓口」までご送付ください。できる限り迅速に対応いたします。<br />
a）当社指定の「開示等の求め申請書」<br />
b）本人確認書類</p>
<p>【受付の方法・窓口】お客様、及びその他の方の窓口<br />
住所：東京都新宿区高田馬場2-13-2　個人情報受付センター<br />
コールナビ窓口：<a href="mailto:info@callnavi.jp">info@callnavi.jp</a><br />
○ご本人様からのお申込の場合、ご本人であることの確認のために、以下の情報をご提出いただきます。</p>
<p>【電話口での確認方法】<br />
○氏名・住所・電話番号・生年月日等の当社ご登録情報の確認。</p>
<p>【申込書面をご提出いただく際に同封いただくもの】<br />
○運転免許証、パスポート、健康保険の被保険者証、外国人登録証の写しのいずれか1つ<br />
○現住所を確認できる書類（住民票の写し、公共料金の請求書等）</p>
<p>【代理人からのお申込の場合】<br />
○代理人であることを示す委任状<br />
○委任状に押印されたご本人様の印鑑の印鑑証明書<br />
○代理人の本人確認書類（ご本人様からのお申込に準ずる）<br />
なお、ご提出いただいた証明書類等につきましては返却いたしません。</p>
<p>【手数料】<br />
「利用目的の通知」あるいは「開示」につきましては、1件のお申込みにつき手数料として1,000円いただきます。1,000円分の郵便小為替を上記書類にあわせてご同封ください。上記の通り手数料が同封されていなかった場合は、その旨ご連絡申し上げますが、所定の期間内にお支払いいただけない場合は開示等の求めがなかったものといたします。</p>
<p>なお、送付頂いた書類は原則としてご返却いたしません。</p>
<p>※注意事項<br />
○郵送や配送途中の書類の紛失、事故による未着につきましては、当社では責任を負いかねます。<br />
○必要事項を全てご記入ください。書類に不備がある場合は、返送させていただく場合がございます。<br />
○個人情報保護法の例外規定にあたる場合など、開示等の求めにお答えできない場合がございます。<br />
○内容により、お時間をいただく場合がございます。<br />
○開示等の求めにともない収集した個人情報は、開示等の求めの必要な範囲のみで取扱うものとします。 提出していただいた書面は当社で適切に廃棄いたします。<br />
○「訂正等」、「利用停止等」の結果、該当するサービスがご利用いただけなくなることがあります。あらかじめご了承ください。</p>
<p>※「開示対象個人情報」とは、電子計算機を用いて検索することができるように体系的に構成した情報の集合物又は一定の規則に従って整理、 分類し、目次、索引、符合などを付すことによって特定の個人情報を容易に検索できるように体系的に構成した情報の集合物を構成する 個人情報であって、当社が、本人から求められる開示、内容の訂正、追加又は削除、利用の停止、消去及び第三者への提供の停止の求めの すべてに応じることができる権限を有するものをいいます。詳しくは、「個人情報苦情及びご相談窓口」までご連絡ください。</p>
<h4>7. 附則</h4>
<p>この個人情報保護方針は、平成27年4月1日から施行します。<br />
なお、法令・各種ガイドライン等の制定や変更等に伴い、この個人情報保護方針を変更することがあります。 方針の変更につきましては当社ホームページ上において公表します。</p>
<p>株式会社コールナビ<br />
【個人情報取扱い窓口】　平成27年4月1日から開設<br />
コールナビ窓口：<a href="mailto:info@callnavi.jp">info@callnavi.jp</a></p>
</section>
</div><!--//.unitC01-->
<!-- InstanceEndEditable -->
