<?php


$post_title = $relation['post']['title'];
$post_id = $relation['post']['id'];
$alliance_view_post_link = $_SERVER['HTTP_HOST'].'/hkk/user/post_view/'.$post_id;
$href = 'http://'.$_SERVER['HTTP_HOST'].'/hkk/redirect?link='.$alliance_view_post_link;

$user_name = $relation['user']['given_name'].$relation['user']['family_name'];
$alliance_name = $relation['alliance']['given_name'].$relation['alliance']['family_name'];

$new_price = $relation['purchase']['price'];
$new_comment = $relation['purchase']['comment'];
?>

Dear <?php echo $user_name; ?>,
<br>

<?php
switch($action)
{
    case 1:
        echo "$alliance_name quoted on your post";
        echo "<br>";
        break;

    case 2:
        $old_price = $oldPurchase['price'];
        $old_comment = $oldPurchase['comment'];

        echo "$alliance_name edited the quatation on your post";

        if($new_price != $old_price)
        {
            echo "<br>";
            echo "Changed price from $old_price to $new_price";
        }

        if($new_comment != $old_comment)
        {
            echo "<br>";
            echo "Changed comment from: <br>";
            echo "<div style='border-left-style: solid;
                        border-width: 3px;'><span style='padding-left: 10px;'>";
            echo $old_comment;
            echo "</span></div>";
            echo "<br>to<br><br>";
            echo "<div style='border-left-style: solid;
                        border-width: 3px;'><span style='padding-left: 10px;'>";
            echo $new_comment;
            echo "</span></div>";
        }

        break;

    case 3:
        echo "$alliance_name canceled the quatation on your post";
        break;

}
?>
<br>
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
<br>
<?php echo $post_title; ?>
<br>
<br>
Go to detail: <a href="<?php echo $href; ?>"><?php echo $href; ?></a>
<br>
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
<br>
(C)2016 Hikaku-jan. 
