<?php
$post_id = $relation['purchase']['post_id'];
$alliance_view_post_link = $_SERVER['HTTP_HOST'].'/hkk/user/post_view/'.$post_id;
$href = 'http://'.$_SERVER['HTTP_HOST'].'/hkk/redirect?link='.$alliance_view_post_link;
$alliance_name = $relation['alliance']['given_name'].$relation['alliance']['family_name'];
$post_title = $relation['post']['title'];
?>

Dear <?php echo $alliance_name ?>,
<br>
<br>
Congratulations! You have been selected to ......
<br>
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
<br>
<?php echo $post_title ?>
<br>
<br>
Go to detail: <a href="<?php echo $href; ?>"><?php echo $href; ?></a>
<br>
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
<br>
(C)2016 Hikaku-jan. 
