<?php
    $post_title = isset($post['title'])?$post['title']:'';
    $post_id = isset($post['id'])?$post['id']:'';
    $alliance_view_post_link = $_SERVER['HTTP_HOST'].'/hkk/alliance/post_view/'.$post_id; 
    $href = 'http://'.$_SERVER['HTTP_HOST'].'/hkk/redirect?link='.$alliance_view_post_link;
?>

Dear Alliance,

There is a new post for you.
<br>
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 
<br>
<?php echo $post_title; ?>
<br>
<br>
Go to detail: <a href="<?php echo $href; ?>"><?php echo $href; ?></a>
<br>
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 
<br>
(C)2016 Hikaku-jan. 
