<?php
$user['priority_contact'];
$priority_contact="";
switch($user['priority_contact']){
    case "0":
        $priority_contact ="どちらでもOK";
        break;
    case "1":
        $priority_contact ="電話を希望";
        break;
    case "2":
        $priority_contact ="メールを希望";
        break;
}

$user['received_wiz'];
$received_wiz="";
switch($user['received_wiz']) {
    case "0":
        $received_wiz = "受け取らない";
        break;
    case "1":
        $received_wiz = "受け取る";
        break;

}

$user['level'];
$level="";
switch($user['level']) {
    case "0":
        $level = "member";
        break;
    case "1":
        $level = "alliance";
        break;

}

?>
<?php echo $user['family_name'].$user['given_name'].'様';?>

Hikaku-月へようこそ

You just signed up to become members of the site with the following information:
<br>
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 
<br>
電話番号: <?php echo $user['tel']; ?>
<br>
メールアドレス: <?php echo $user['email']; ?>
<br>
優先連絡希望先: <?php echo $priority_contact; ?>
<br>
Wizメイトに登録してお得な情報を受け取る: <?php echo $received_wiz; ?>
<br>
level: <?php echo $level; ?>
<br>

━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 
<br>
(C)2016 Hikaku-jan. 
