<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 footersp">
	    <h1>話題のキーワード</h1>
	    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 footerspleft">
	        <p><a href="/contents/work">働く人の声</a></p>
	        <p><a href="/contents/saiyo">採用・面接</a></p>
	        <p><a href="/contents/topics">注目トピック</a></p>
	        <p><a href="/contents/japanesecallcenter">エリア特集</a></p>
	        <p><a href="/contents/skill">スキル・テクニック</a></p>
	        <p><a href="/contents/bisiness">ビジネス・キャリア</a></p>
	    </div>
<!--	    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 footerspright"> -->
<!--	        <p><a href="/news/it">IT通信</a></p> -->
<!--        	<p><a href="/news/insurance">保険</a></p> -->
<!--    	    <p><a href="/news/estate">不動産</a></p> -->
<!--	        <p><a href="/contents/skill">スキル・テクニック</a></p> -->
<!--        	<p><a href="/contents/bisiness">ビジネス・キャリア</a></p> -->
<!--    	    <p><a href="/contents/japanesecallcenter">エリア特集</a></p> -->
<!--	    </div> -->
	</div>