<div id="panel-keyword" class="slide-panel slidertop">
	<div class="slider-header">
		<h1>メニュー</h1>
<div class="new_menulist">
	<ul>
		<li><a href="/search">求人まとめ</a></li>
		<li><a href="/callcenter_matome">日本コールセンターまとめ</a></li>
		<li><a href="/blog">ブログ&コラム</a></li>
		<li><a href="/contents">特集記事</a></li>
		<li><a href="/news">ニュース</a></li>
		<li><a href="#">ランキング</a></li>
	</ul>
</div>
	</div>
</div>

<!--<div id="panel-keyword" class="slide-panel no-padding slidertop">
	<div class="slider-header">
		<h1>KEY WORD</h1>
		<h2>キーワード</h2>
		<div class="slider-content">
			<div class="footerbut">
				<a href="/news/callcenter">コールセンター</a>
				<a href="/news/it">IT通信</a>
				<a href="/news/smartphone">スマホ</a>
				<a href="/news/insurance">背景</a>
				<a href="/news/electric">電力</a>
				<a href="/news/estate">不動産</a>
				<a href="/news/callcenter">コールセンター</a>
				<a href="/search">求人まとめ</a>
				<a href="/search/pickup/">シークレット求人</a>
				<a href="/news">ニュース</a>
				<a href="/blog">CCブログ</a>
			</div>
		</div>
	</div>
</div>-->