<div class="menulist">
	<ul>
		<li class="first">Menu</li>
		<!--<li class="first">Menu メ二ユー</li>-->
		<li><a href="/search">求人まとめ</a>
		</li>
		<li><a href="#">シークレット求人</a>
		</li>
		<li><a href="/callcenter_matome">日本CCまとめ</a>
		</li>
		<li><a href="/blog">CCブログ</a>
		</li>
		<li><a href="/contents">特集</a>
		</li>
		<li><a class="lastchild" href="/news">二ユース</a>
		</li>
	</ul>
	<div id="btnGoto" class="col-xs-12 col-sm-12 col-md-2 col-lg-2 gotop">
		<p>
			<a href="#goTop" class="src">
				Page Top <img src="<?php echo $this->webroot; ?>img/g_top.png">
			</a>
		</p>
	</div>
</div>