<div id="module_view">
<div id="mainContents">

<section>
<div class="moduleTextB01">テーブル [tableA01]</div>
<table class="tableA01">
<col style="width:130px">
<col>
<tr>
<th>テキスト</th>
<td>テキストテキストテキストテキストテキストテキスト</td>
</tr>
<tr>
<th>テキスト</th>
<td>テキストテキストテキストテキストテキストテキスト</td>
</tr>
<tr>
<th>テキスト</th>
<td>テキストテキストテキストテキストテキストテキスト</td>
</tr>
</table>
<textarea class="source sixLines" readonly>&lt;table class=&quot;tableA01&quot;&gt;
&lt;tr&gt;
&lt;th&gt;&lt;/th&gt;
&lt;td&gt;&lt;/td&gt;
&lt;/tr&gt;
&lt;/table&gt;</textarea>

<div class="moduleTextB01">テーブル [tableB01]</div>
<table class="tableB01">
<col style="width:130px">
<col>
<tr>
<th>テキスト</th>
<td>テキストテキストテキストテキストテキストテキスト</td>
</tr>
<tr>
<th>テキスト</th>
<td>テキストテキストテキストテキストテキストテキスト</td>
</tr>
<tr>
<th>テキスト</th>
<td>テキストテキストテキストテキストテキストテキスト</td>
</tr>
</table>
<textarea class="source sixLines" readonly>&lt;table class=&quot;tableB01&quot;&gt;
&lt;tr&gt;
&lt;th&gt;&lt;/th&gt;
&lt;td&gt;&lt;/td&gt;
&lt;/tr&gt;
&lt;/table&gt;</textarea>
</section>

</div><!-- / mainContents -->
</div>