<div id="contents">
<div id="contentsContainer">
<!-- InstanceBeginEditable name="mainContents" -->
<div class="unitA01">
<h2 class="headingA01">ログアウト</h2>
<p class="alignC marginB40">ログアウトいたしました。<br>ご利用ありがとうございました。</p>
<p class="alignC"><a href="/account/index">トップページへ</a></p></div>
<!-- InstanceEndEditable -->
</div><!-- / contentsContainer -->
</div><!-- / contents -->
