#div-main {
  width: 100% !important;
}
.about_us {
  font-size: 14px;
}
.row_about  {
  padding: 90px 240px;
  padding-bottom: 60px;
}
.h1_title {
  font-size: 22px;
  color: #00b2e8;
  border-bottom: 1px solid #00b2e8;
  line-height: 32px;
  font-weight: bold;
  margin-left: -20px;
  padding-left: 10px;
}
.h1_title span {
  font-size: 32px;

}
.short {
  font-size:16px;
}
.bg_about {
  background: #f2f2f2;
}
.bg_about .container {
  position: relative;
}
.bg_about .container:before {
  background: url("../img/about/arrow_top.gif") top center no-repeat;
  position: absolute;
  top: 0px;
  left: 45%;
  width: 102px;
  height:31px;
}

.bg_about .container:after {
  bottom: -30px;
  left: 45%;
  background: url("../img/about/arrow_bottom.gif") bottom center no-repeat;
  position: absolute;
  width: 102px;
  height: 30px;
}

.title_about {
  padding-bottom: 10px;
  color: #00b2e8;
  font-size: 22px;
  font-weight: bold;

}
.title_about img {
  padding-right: 15px;
  margin-top: -5px;
}
center {
  padding-top: 15px;
}

.content_about p{
  margin-bottom: 5px;
  line-height: 20px;

}


.last_about {
  color: #00b2e8;
  font-weight: bold;
  padding-bottom: 50px;
}

.title_about_last img{
  float: left;
  margin-right: 15px;
}

.last_about .content_about {
  text-align: center;
  font-size:18px;
  padding-top: 50px;
}
.last_about .content_about p {
  margin-bottom: 15px
}