@charset "utf-8";
@font-face{
	font-family: 'Lato Bold';
	src: url("../fonts/Lato-Bold.ttf");
}
.c-icon-btn__header,.c-icon-btn__footer{
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-align: center;
	align-items: center;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	font-size: 20px;
	line-height: 1;
}
.c-icon-btn__header{
	background-color: #00b8ee;
}
.c-icon-btn__header .fa{
	color: #ffffff;
}
.common-header{
	background-color: rgba(255,255,255,0.9);
	box-shadow: 0 3px 5px 0 rgba(128,128,128,0.3);
	width: 100%;
	position: fixed;
	z-index: 10;
}
.common-header h1{
	margin: 0;
	padding: 0;
}
.common-header ul,.common-header li{
	list-style: none;
	margin-bottom: 0;
	padding-left: 0;
}
.common-header a:focus,.common-header a:active{
	text-decoration: none;
}
.common-header__inner{
	width: 1100px;
	margin: 0 auto;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-align: center;
	align-items: center;
	height: 60px;
}
.common-header__logo a{
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
}
.common-header__logo svg{
	fill: #00b8ee;
	width: 142px;
	height: 33px;
}
.common-header__primary-menu{
	display: -ms-flexbox;
	display: flex;
}
.common-header__primary-list{
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	margin-right: 30px;
}
.common-header__primary-list__item{
	margin-left: 40px;
}
.common-header__primary-list__item:first-of-type{
	margin-left: 0;
}
.txt-link__header{
	display: -ms-flexbox;
	display: flex;
	color: #686868;
	font-size: 12px;
	-ms-flex-align: center;
	align-items: center;
}
.txt-link__header > .fa{
	display: inline-block;
	font-size: 18px;
	margin-right: 6px;
}
.common-header__nav{
	width: 1100px;
	margin: 0 auto;
}
.common-header__nav__inner{
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 15px 0;
}
.common-header__nav__item{
	border-right: 1px dotted #cccccc;
	-ms-flex: 1 0 220px;
	flex: 1 0 220px;
	position: relative;
}
.common-header__nav__item:first-of-type{
	border-left: 1px dotted #cccccc;
}
.common-header__nav__item.is-active:after,.common-header__nav__item:hover:after{
	content: '';
	display: block;
	width: 80px;
	height: 0;
	border-top: 5px solid #cccccc;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
}
.nav-menu{
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-align: center;
	align-items: center;
	font-weight: bold;
	height: 50px;
	position: relative;
	z-index: 2;
}
.nav-menu__txt{
	color: #686868;
	font-size: 14px;
	line-height: 1;
}
.nav-menu__txt--sub{
	color: #00b8ee;
	font-size: 12px;
}
.common-header__nav__sub-menu{
	position: absolute;
	width: 260px;
	background-color: rgba(255,255,255,0.9);
	padding: 0 17px;
	top: 85px;
	right: -20px;
	box-shadow: 0 1px 5px 0 rgba(128,128,128,0.3);
	visibility: hidden;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	transition: all 0.3s linear;
}
.common-header__nav__sub-menu.is-open{
	visibility: visible;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.common-header__nav__sub-menu:before{
	content: '';
	display: block;
	background: url("../img/common/bg_header_sub-menu.png") no-repeat top center;
	width: 32px;
	height: 16px;
	position: absolute;
	top: -16px;
	left: 0;
	right: 0;
	margin: 0 auto;
}
.common-header__nav__sub-menu li{
	border-top: 1px solid #cccccc;
}
.common-header__nav__sub-menu li:first-of-type{
	border-top: 0;
}
.common-header__nav__sub-menu li > a{
	display: -ms-flexbox;
	display: flex;
	height: 60px;
	-ms-flex-align: center;
	align-items: center;
	color: #686868;
	font-size: 14px;
	font-weight: bold;
}
.common-header__nav__sub-menu li > a:hover{
	color: #00b8ee;
}
.c-icon-btn__footer{
	background-color: #ffffff;
}
.c-icon-btn__footer .fa{
	color: #2c2c2c;
}
.bottom-banner-list{
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: justify;
	justify-content: space-between;
	width: 1020px;
	margin: 0 auto 40px;
	padding: 0;
	list-style: none;
}
.bottom-banner-list__item{
	list-style: none;
	position: relative;
}
.bottom-banner-list__item .fb-like{
	position: absolute;
	top: 28px;
	right: 110px;
	z-index: 1;
	width: 70px;
	overflow: hidden;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}
.common-footer__adv-txt{
	background-color: #454545;
}
.common-footer__adv-txt__inner{
	width: 1100px;
	margin: 0 auto;
	padding: 15px 0;
	color: #ffffff;
	font-size: 10px;
	line-height: 2;
}
.common-footer__inner{
	width: 1100px;
	margin: 0 auto;
	padding-top: 50px;
	font-size: 12px;
}
.footer-search-box{
	display: -ms-flexbox;
	display: flex;
	margin-top: 15px;
	margi-bottom: 0;
}
.footer-search-box__ttl{
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	max-width: 275px;
	min-width: 275px;
}
.footer-search-box__ttl:before{
	background-image: url("../img/footer_arrow.png");
	background-size: 12px 15px;
	background-repeat: no-repeat;
	width: 12px;
	height: 15px;
	display: inline-block;
	content: '';
	margin-right: 5px;
}
.footer-link-list{
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	list-style: none;
	margin-bottom: 0;
	padding-left: 0;
}
.footer-link-list > li{
	list-style: none;
	margin-right: 14px;
}
.footer-link-list a{
	color: #ffffff;
}
.footer-link-list--secondary{
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-pack: justify;
	justify-content: space-between;
	width: 550px;
	list-style: none;
	margin-bottom: 0;
	padding: 0;
	-ms-flex-align: center;
	align-items: center;
}
.footer-link-list--secondary > li{
	list-style: none;
}
.footer-link-list--secondary a{
	color: #ffffff;
}
.common-footer__box--secondary{
	border-top: 1px solid #4e4e4e;
	padding: 32px 0;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-align: center;
	align-items: center;
}
.common-footer__box--secondary ul,.common-footer__box--secondary li{
	list-style: none;
}
._box--secondary__item{
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex: 2 0 825px;
	flex: 2 0 825px;
}
._box--secondary__item--copyright{
	-ms-flex: 1 0 275px;
	flex: 1 0 275px;
	font-size: 10px;
}
.social-list{
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 0;
	padding: 0 40px;
}
.social-list--header{
	display: -ms-flexbox;
	display: flex;
}
.social-list__item{
	margin-left: 15px;
}
.advertisement--concierge{
	background: url("../img/concierge/banner_link/concierge_link_bg.png") no-repeat center;
	height: 275px;
	background-size: 100%;
	background-color: #fffdec;
	overflow: hidden;
}
.advertisement__inner{
	width: 1060px;
	margin: 0 auto;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.advertisement__inner img{
	vertical-align: top;
}
.advertisement__item--left{
	position: relative;
	padding-top: 50px;
}
.advertisement__item--right{
	position: relative;
	padding-top: 15px;
}
.advertisement--concierge__img01{
	position: absolute;
	top: 25px;
	right: 20px;
}
.advertisement--concierge__txt01{
	font-size: 14.75px;
	line-height: 27.52px;
}
.advertisement--concierge__txt02{
	color: #29d38d;
	font-size: 13.8px;
	line-height: 1.2;
	font-weight: bold;
	margin-left: 20px;
}
.advertisement--concierge__txt02 span{
	font-size: 25.6px;
}
.advertisement--concierge__cv{
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
}
.form-area{
	font-size: 14px;
	width: 800px;
	margin: 0 auto;
}
.form-block{
	display: -ms-flexbox;
	display: flex;
	border-bottom: 1px solid #eeeeee;
	padding: 30px 0;
	margin: 0;
}
.form-block__ttl{
	-ms-flex: 1 0 230px;
	flex: 1 0 230px;
	font-weight: bold;
	padding-top: 13px;
	padding-left: 10px;
}
.form-block__content{
	-ms-flex: 1 0 570px;
	flex: 1 0 570px;
	padding-right: 20px;
}
.form-input-block{
	width: 430px;
}
.form-input-block--half{
	display: -ms-flexbox;
	display: flex;
}
.form-input-block--half .form-input-block__item{
	-ms-flex: 1 0 40%;
	flex: 1 0 40%;
}
.form-input-block--half .form-input-block__item:first-of-type{
	margin-right: 10px;
}
.form-input-block--date{
	display: -ms-flexbox;
	display: flex;
	width: 80%;
}
.form-input-block--date .form-input-block__item{
	-ms-flex: 1 0 20%;
	flex: 1 0 20%;
	margin-left: 10px;
}
.form-input-block--date .form-input-block__item:first-of-type{
	-ms-flex: 2 0 40%;
	flex: 2 0 40%;
	margin-left: 0;
}
.c-tag--require{
	display: inline-block;
	background-color: #00b8ee;
	border-radius: 3px;
	padding: 5px 10px;
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
	line-height: 1;
	margin-right: 8px;
}
.form--text,.form--textarea{
	border: 1px solid #f9f9f9;
	background-color: #f9f9f9;
	padding: 14px 19px;
	width: 100%;
}
.form--text::-webkit-input-placeholder,.form--textarea::-webkit-input-placeholder{
	color: rgba(102,102,102,0.4);
}
.form--text:-ms-input-placeholder,.form--textarea:-ms-input-placeholder{
	color: rgba(102,102,102,0.4);
}
.form--text::placeholder,.form--textarea::placeholder{
	color: rgba(102,102,102,0.4);
}
.form--text:focus,.form--textarea:focus{
	border: 1px solid #b9e6f4;
	outline: 0;
}
.form--text.error,.form--textarea.error{
	color: inherit;
}
.form--text + .form--text,.form--textarea + .form--text{
	margin-left: 5px;
}
.form--text--confirm{
	padding: 15px 0;
}
.form--textarea{
	line-height: 1.7;
	border-radius: 3px;
}
.form--textarea--confirm{
	padding: 15px 20px;
	line-height: 1.7;
	min-height: 120px;
	border: 1px solid #eeeeee;
	border-radius: 3px;
}
.form-select-triangle{
	display: inline-block;
	margin-left: 10px;
	position: relative;
	width: 100%;
}
.form-select-triangle:first-of-type{
	margin-left: 0;
}
.form-select-triangle:after{
	content: '';
	display: block;
	width: 0;
	height: 0;
	border-style: solid;
	border-color: #ffffff transparent transparent transparent;
	border-width: 4px;
	position: absolute;
	top: 16px;
	right: 5px;
}
.form--select{
	border-style: solid;
	border-color: #d2d2d2 #00b8ee #d2d2d2 #d2d2d2;
	border-width: 1px 18px 1px 1px;
	border-radius: 3px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	padding: 10px;
	line-height: 1;
	width: 100%;
	background-color: #ffffff;
}
.form--select:focus{
	outline: 0;
}
.form--select::-ms-expand{
	display: none;
}
.form--select.error{
	color: inherit;
}
.form--select option{
	color: #7e7d7d;
}
.form--checkbox-label{
	position: relative;
	font-size: 14px;
}
.form--checkbox-label:before{
	content: '';
	display: inline-block;
	width: 15px;
	height: 15px;
	background-color: #ffffff;
	vertical-align: middle;
	border: 1px solid #7e7d7d;
	margin-right: 9px;
}
.form--checkbox{
	visibility: hidden !important;
	width: 0;
}
.form--checkbox:checked + .form--checkbox-label:before{
	background-color: #00b8ee;
	border: none;
}
.form--checkbox:checked + .form--checkbox-label:after{
	content: '';
	display: block;
	position: absolute;
	top: 5px;
	left: 4px;
	width: 6px;
	height: 7px;
	-ms-transform: rotate(40deg);
	transform: rotate(40deg);
	border-bottom: 2px solid #ffffff;
	border-right: 2px solid #ffffff;
}
.agreement-checkbox-label{
	background-color: #f3f3f3;
	border-radius: 10px;
	padding: 15px 40px;
	font-weight: normal;
}
.agreement-checkbox{
	visibility: hidden !important;
	width: 0;
}
.agreement-checkbox + span{
	vertical-align: middle;
	position: relative;
}
.agreement-checkbox + span:before{
	content: '';
	display: inline-block;
	width: 15px;
	height: 15px;
	background-color: #ffffff;
	border: 1px solid #7e7d7d;
	margin-right: 9px;
	vertical-align: middle;
}
.agreement-checkbox:checked + span:before{
	background-color: #00b8ee;
	border: none;
}
.agreement-checkbox:checked + span:after{
	content: '';
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 4px;
	width: 6px;
	height: 7px;
	-ms-transform: rotate(40deg);
	transform: rotate(40deg);
	border-bottom: 2px solid #ffffff;
	border-right: 2px solid #ffffff;
	margin: auto;
}
.error-msg label.error{
	color: #e60012;
	font-weight: bold;
	margin-top: 9px;
	font-size: 14px;
}
.error-msg label.error:before{
	content: '!';
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-right: 10px;
	color: #ffffff;
	text-align: center;
	background-color: #e60012;
	border-radius: 50%;
}
.page-oiwaikin .btn--primary,.page-oiwaikin .btn--secondary{
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-align: center;
	align-items: center;
	border: 5px solid #00a6d6;
	border-radius: 10px;
	padding: 15px 0;
}
.page-oiwaikin button{
	margin: 0;
	padding: 0;
	border: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 100%;
}
.page-oiwaikin .note{
	list-style: none;
	margin: 0;
	padding: 0;
}
.page-oiwaikin .single-banner{
	background: url("../img/oiwaikin/bg_mainvisual.png") repeat-x top center;
	height: 880px;
}
.page-oiwaikin .main-visual{
	margin: 0;
	padding-top: 220px;
}
.page-oiwaikin .main-visual img{
	display: block;
	margin: 0 auto;
}
.page-oiwaikin .btn-shadow{
	display: block;
	padding-bottom: 5px;
	background-image: linear-gradient(45deg, transparent 25%, #00a6d6 25%, #00a6d6 50%, transparent 50%, transparent 75%, #00a6d6 75%, #00a6d6);
	background-size: 4px 4px;
	border-radius: 10px;
}
.page-oiwaikin .btn-shadow--gray{
	display: block;
	padding-bottom: 5px;
	background-image: linear-gradient(45deg, transparent 25%, #cccccc 25%, #cccccc 50%, transparent 50%, transparent 75%, #cccccc 75%, #cccccc);
	background-size: 4px 4px;
	border-radius: 10px;
}
.page-oiwaikin .btn-area{
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: center;
	justify-content: center;
	margin-top: 50px;
}
.page-oiwaikin .btn-area--compliance{
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: center;
	justify-content: center;
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: rgba(255,255,255,0.9);
	padding: 50px 0;
	box-shadow: 0 0 15px #cccccc;
	transition: all 0.2s ease-out 0s;
}
.page-oiwaikin .btn-area--compliance.is_hide{
	bottom: -200px;
}
.page-oiwaikin .btn-area__item{
	width: 380px;
	margin-left: 28px;
}
.page-oiwaikin .btn-area__item:first-of-type{
	margin-left: 0;
}
.page-oiwaikin .txt-link{
	color: #00b8ee;
}
.page-oiwaikin .section{
	background-color: #ffffff;
}
.page-oiwaikin .section--bg-beige{
	background-color: #f7f6ee;
}
.page-oiwaikin .section__inner{
	width: 1100px;
	margin: 0 auto;
	padding: 90px 0 80px;
}
.page-oiwaikin .dl-list{
	box-sizing: border-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0;
	font-size: 14px;
	border-right: 1px solid #d2d2d2;
	border-bottom: 1px solid #d2d2d2;
	border-left: 1px solid #d2d2d2;
}
.page-oiwaikin .dl-list:first-of-type{
	border-top: 1px solid #d2d2d2;
}
.page-oiwaikin .dl-list__dt{
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	background-color: #eeeeee;
	font-weight: bold;
	-ms-flex: 1 0 240px;
	flex: 1 0 240px;
	border-right: 1px solid #d2d2d2;
	padding: 20px 65px;
}
.page-oiwaikin .dl-list__dd{
	background-color: #ffffff;
	-ms-flex: 2 0 858px;
	flex: 2 0 858px;
	padding: 20px 28px;
}
.page-oiwaikin .list-block{
	padding-left: 1.2em;
}
.page-oiwaikin .list-block li{
	margin-top: 8px;
}
.page-oiwaikin .list-block li:first-of-type{
	margin-top: 0;
}
.page-oiwaikin .btn--primary{
	background-color: #00b8ee;
	color: #fffc00;
	font-size: 24px;
	font-weight: bold;
}
.page-oiwaikin .btn--secondary{
	background-color: #fffc00;
	color: #00b8ee;
	font-size: 24px;
	font-weight: bold;
}
.page-oiwaikin .btn--tertiary{
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-align: center;
	align-items: center;
	border: 5px solid #cccccc;
	border-radius: 10px;
	padding: 15px 0;
	background-color: #eeeeee;
	color: #7e7d7d;
	font-size: 24px;
	font-weight: bold;
}
.page-oiwaikin .btn__img{
	width: auto;
	height: 30px;
}
.page-oiwaikin .heading--primary{
	margin: 0;
	background-color: #00b8ee;
	background-image: linear-gradient(-45deg, transparent 25%, rgba(255,255,255,0.07) 25%, rgba(255,255,255,0.07) 50%, transparent 50%, transparent 75%, rgba(255,255,255,0.07) 75%, rgba(255,255,255,0.07));
	background-size: 8px 8px;
	height: 80px;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-align: center;
	align-items: center;
}
.page-oiwaikin .heading--primary__inner{
	display: inline-block;
	position: relative;
	font-weight: bold;
	font-size: 24px;
	color: #ffffff;
	padding-left: 50px;
}
.page-oiwaikin .heading--primary__inner:before{
	content: '';
	display: block;
	background-color: #ffffff;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	position: absolute;
	top: -50%;
	bottom: -50%;
	left: 0;
	margin: auto;
}
.page-oiwaikin .heading--primary__inner:after{
	content: '';
	display: block;
	width: 0;
	height: 0;
	border-style: solid;
	border-color: #00b8ee transparent transparent transparent;
	border-width: 7px;
	position: absolute;
	top: 10px;
	left: 12px;
	margin: auto;
}
.page-oiwaikin .heading--secondary{
	text-align: center;
	margin: 0 0 40px;
}
.page-oiwaikin .heading--secondary__inner{
	display: inline-block;
	border: 10px solid #eeeeee;
	border-radius: 60px;
	color: #00b8ee;
	font-size: 32px;
	font-weight: bold;
	background-color: #ffffff;
	padding: 20px 50px;
}
.page-oiwaikin .step-box{
	margin: 0;
	padding: 0;
	list-style: none;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.page-oiwaikin .step-box__item{
	width: 300px;
	margin-left: 98px;
	margin-top: 20px;
}
.page-oiwaikin .step-box__item:nth-of-type(3n+1){
	margin-left: 0;
}
.page-oiwaikin .step-box__ttl{
	font-size: 24px;
	color: #00b8ee;
	font-weight: bold;
	margin: 0;
}
.page-oiwaikin .step-box__ttl__img{
	display: inline-block;
	vertical-align: middle;
	margin-right: 19px;
}
.page-oiwaikin .step-box__img{
	min-height: 80px;
	margin-top: 26px;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-align: center;
	align-items: center;
}
.page-oiwaikin .agreement-checkbox-label{
	background-color: #f3f3f3;
	border-radius: 10px;
	padding: 15px 40px;
	font-weight: normal;
}
.page-oiwaikin .agreement-checkbox{
	visibility: hidden;
	width: 0;
}
.page-oiwaikin .agreement-checkbox + span{
	vertical-align: middle;
	position: relative;
}
.page-oiwaikin .agreement-checkbox + span:before{
	content: '';
	display: inline-block;
	width: 15px;
	height: 15px;
	background-color: #ffffff;
	border: 1px solid #7e7d7d;
	margin-right: 9px;
	vertical-align: middle;
}
.page-oiwaikin .agreement-checkbox:checked + span:before{
	background-color: #00b8ee;
	border: none;
}
.page-oiwaikin .agreement-checkbox:checked + span:after{
	content: '';
	display: block;
	position: absolute;
	top: 6px;
	left: 4px;
	width: 6px;
	height: 7px;
	-ms-transform: rotate(40deg);
	transform: rotate(40deg);
	border-bottom: 2px solid #ffffff;
	border-right: 2px solid #ffffff;
}
.page-oiwaikin .confirm-button{
	width: 380px;
	margin: 30px auto;
}
.page-oiwaikin .form--checkbox-label{
	margin-left: -8px;
}
html,body{
	height: 100%;
}
.page-keisaiguide{
	font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo;
	padding: 0;
	color: #4e4e4e;
	word-break: break-word;
	line-height: 1.6;
	position: relative;
}
.page-keisaiguide h1,.page-keisaiguide h2,.page-keisaiguide h3,.page-keisaiguide h4,.page-keisaiguide p{
	margin: 0;
}
.page-keisaiguide ul,.page-keisaiguide li{
	list-style: none;
	padding: 0;
	margin: 0;
}
.page-keisaiguide a{
	text-decoration: none;
	display: inline-block;
}
.page-keisaiguide .color--primary{
	color: #00b8ee;
}
.page-keisaiguide .page__inner{
	position: relative;
	min-height: 100%;
}
.page-keisaiguide .font-lato{
	font-family: "Lato Bold";
}
.page-keisaiguide .heading{
	height: 90px;
}
.page-keisaiguide .heading--contact{
	border-bottom: 1px solid #cccccc;
}
.page-keisaiguide .heading__inner{
	width: 1100px;
	margin: 0 auto;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.page-keisaiguide .heading__ttl{
	width: 550px;
	color: #999999;
	font-size: 32px;
	line-height: 90px;
	letter-spacing: 3.2px;
	letter-spacing: 0.2rem;
}
.page-keisaiguide .heading__logo{
	width: 236px;
	height: 53px;
	vertical-align: middle;
	position: relative;
	top: -4px;
	fill: #00b8ee;
}
.page-keisaiguide .heading__tell{
	line-height: 90px;
}
.page-keisaiguide .top{
	height: 550px;
	background-size: cover;
	background: url("../img/keisaiguide/bg_top.png") no-repeat center;
}
.page-keisaiguide .top_main_img{
	text-align: center;
	padding-top: 60px;
}
.page-keisaiguide .nav{
	height: 100px;
}
.page-keisaiguide .nav__inner{
	height: 100px;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: center;
	justify-content: center;
	border-bottom: 1px solid #000000;
	background-color: #ffffff;
}
.page-keisaiguide .nav__inner.is-fixed{
	position: fixed;
	z-index: 10;
	width: 100%;
	top: 0;
}
.page-keisaiguide .nav__item.is-active,.page-keisaiguide .nav__item:hover{
	background: #fff100;
	transition: 1s;
}
.page-keisaiguide .nav__item:hover{
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}
.page-keisaiguide .nav__item__inner{
	width: 274px;
	height: 99px;
	padding-top: 27px;
	font-size: 24px;
	color: #4e4e4e;
	line-height: 20px;
	letter-spacing: 2px;
}
.page-keisaiguide .nav__item__inner:hover{
	text-decoration: none;
	color: #4e4e4e;
}
.page-keisaiguide .nav__item__inner:active{
	text-decoration: none;
	color: #4e4e4e;
}
.page-keisaiguide .nav__item__inner:focus{
	color: #4e4e4e;
}
.page-keisaiguide .nav__item__inner p{
	margin-bottom: 0;
}
.page-keisaiguide .nav__item__inner:not(.nav__contact):after{
	content: '\f0d7';
	font-family: FontAwesome;
	display: block;
	font-size: 13px;
	line-height: 15px;
}
.page-keisaiguide .nav__contact{
	padding-top: 40px;
	font-size: 16px;
	background: #000000;
	fill: #ffffff;
	color: #ffffff;
}
.page-keisaiguide .nav__contact:hover{
	color: #000000;
	fill: #000000;
	background: #fff100;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	fill-opacity: 0.8;
	transition: 0.8s;
}
.page-keisaiguide .nav__contact__img{
	margin-right: 7px;
	width: 20px;
	height: 19px;
	vertical-align: text-bottom;
}
.page-keisaiguide .article{
	padding-bottom: 100px;
}
.page-keisaiguide .section--bg-beige{
	background-color: #f7f6ee;
}
.page-keisaiguide .section__inner{
	width: 1100px;
	padding: 80px 0;
	margin: 0 auto;
}
.page-keisaiguide .section__inner h2{
	line-height: 45px;
	letter-spacing: 2px;
}
.page-keisaiguide .section__heading{
	font-size: 20px;
	line-height: 45px;
	letter-spacing: 2px;
}
.page-keisaiguide .section__heading__lead-txt{
	font-size: 48px;
	display: block;
}
.page-keisaiguide .contact-btn--primary__inner{
	background: #fff100;
	padding-top: 24px;
	width: 600px;
	height: 77px;
	border-radius: 40px;
	box-shadow: 0 4px #b5ab00;
}
.page-keisaiguide .contact-btn--primary__inner:hover{
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}
.page-keisaiguide .contact-btn--primary__inner:active{
	top: 2px;
	box-shadow: none;
	position: relative;
}
.page-keisaiguide .btn-wrap{
	width: 380px;
	margin-left: auto;
	margin-right: auto;
}
.page-keisaiguide .btn--primary__img{
	width: 486px;
}
.page-keisaiguide .btn--secondary{
	display: block;
	border: 5px solid #00b8ee;
	border-radius: 40px;
	padding: 20px;
	font-size: 24px;
	color: #00b8ee;
	font-weight: bold;
	text-align: center;
	line-height: 1;
}
.page-keisaiguide .feature-column{
	border-top: 2px dashed #c6c5be;
	padding-top: 40px;
}
.page-keisaiguide .feature-column:first-of-type{
	padding-top: 0;
	border-top: 0;
}
.page-keisaiguide .feature-column__heading{
	font-size: 35px;
	padding-top: 40px;
}
.page-keisaiguide .feature-column__heading-icon{
	width: 100px;
	margin-right: 15px;
}
.page-keisaiguide .feature-column__description{
	padding-top: 12px;
	padding-left: 120px;
	line-height: 30px;
}
.page-keisaiguide .section__concept{
	padding: 80px 0 77px;
}
.page-keisaiguide .feature01-img{
	padding: 35px 0 60px;
}
.page-keisaiguide .feature-tbl{
	display: inline-block;
}
.page-keisaiguide .feature-tbl table{
	border-collapse: separate;
}
.page-keisaiguide .col-1{
	background: #eeeeee;
}
.page-keisaiguide .feature__tr--primary th{
	vertical-align: bottom;
}
.page-keisaiguide .feature__tr--secondary{
	height: 130px;
}
.page-keisaiguide .feature__tr--secondary th{
	position: relative;
}
.page-keisaiguide .empty{
	background: #f7f6ee;
}
.page-keisaiguide .feature__th--secondary{
	height: 60px;
	line-height: 60px;
	background: #cccccc;
	font-size: 24px;
}
.page-keisaiguide .feature__th--primary{
	width: 300px;
	height: 154px;
	padding: 10px;
	background: #00b8ee;
	color: #ffffff;
	font-size: 24px;
	border-radius: 4px 4px 0 0;
}
.page-keisaiguide .feature__logo{
	width: 163px;
	height: 40px;
	fill: #ffffff;
	display: block;
	margin: 30px auto 0;
}
.page-keisaiguide .feature__td{
	padding-left: 19px;
	padding-right: 19px;
	background: #ffffff;
	line-height: 22px;
	position: relative;
	vertical-align: top;
}
.page-keisaiguide .feature__td:first-letter{
	font-size: 24px;
}
.page-keisaiguide .radius--left-top{
	border-radius: 4px 0 0 0;
}
.page-keisaiguide .radius--left-bottom{
	border-radius: 0 0 0 4px;
}
.page-keisaiguide .radius--right-top{
	border-radius: 0 4px 0 0;
}
.page-keisaiguide .radius--right-bottom{
	border-radius: 0 0 4px 0;
}
.page-keisaiguide .drawing-line{
	border-bottom: 3px dotted #d6d6d6;
	width: 90%;
	display: inline-block;
	position: absolute;
	bottom: 0;
	left: 10px;
}
.page-keisaiguide .side-border--primary{
	border-left: 5px solid #00b8ee;
	border-right: 5px solid #00b8ee;
}
.page-keisaiguide .sidedowm-border--primary{
	border-left: 5px solid #00b8ee;
	border-right: 5px solid #00b8ee;
	border-bottom: 5px solid #00b8ee;
}
.page-keisaiguide .flow-box{
	height: 300px;
	padding: 20px 0;
	background: #f7f6ee;
	border: 1px solid #4e4e4e;
	border-radius: 4px;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.page-keisaiguide .flow-box__inner{
	width: 25%;
	position: relative;
	border-left: 1px solid #4e4e4e;
}
.page-keisaiguide .flow-box__inner:first-child{
	border-left: 0;
}
.page-keisaiguide .flow-icon{
	fill: #4e4e4e;
}
.page-keisaiguide .flow-box__icon{
	display: table;
	text-align: center;
	width: 100%;
}
.page-keisaiguide .flow-box__icon__inner{
	height: 70px;
	display: table-cell;
	vertical-align: bottom;
}
.page-keisaiguide .flow-box__txt{
	padding: 15px 30px 0;
	font-size: 20px;
	letter-spacing: 1px;
}
.page-keisaiguide .flow-box__txt p{
	font-weight: normal;
	letter-spacing: 0;
}
.page-keisaiguide .fa-caret-right{
	font-size: 21px;
	position: absolute;
	top: 50%;
	right: 0;
	padding: 4px;
	background: #f7f6ee;
	-ms-transform: translateY(-50%) translateX(0.5em);
	transform: translateY(-50%) translateX(0.5em);
	z-index: 1;
}
.page-keisaiguide .faq-list{
	width: 90%;
	margin: 0 auto;
	border-top: 1px solid #4e4e4e;
	letter-spacing: 2px;
}
.page-keisaiguide .faq-list:first-of-type{
	border-top: 0;
}
.page-keisaiguide .question{
	font-size: 20px;
	padding-bottom: 20px;
}
.page-keisaiguide .question:before{
	content: '\ Q';
	font-family: "Lato Bold";
	padding-right: 15px;
	font-size: 26px;
}
.page-keisaiguide .answer{
	display: -ms-flexbox;
	display: flex;
}
.page-keisaiguide .answer:before{
	content: '\ A';
	font-family: "Lato Bold";
	padding-right: 15px;
	font-size: 26px;
	font-weight: bold;
}
.page-keisaiguide .answer-txt{
	padding-top: 8px;
}
.page-keisaiguide .footer{
	height: 100px;
	background: #4e4e4e;
	color: #ffffff;
	margin-top: 0;
	position: absolute;
	bottom: 0;
	width: 100%;
}
.page-keisaiguide .footer__inner{
	width: 1100px;
	margin: 0 auto;
	padding-top: 40px;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.page-keisaiguide .footer__inner small{
	font-size: 12px;
}
.page-keisaiguide .footer-link{
	display: inline-block;
	border-right: 1px solid #ffffff;
}
.page-keisaiguide .footer-link:hover{
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}
.page-keisaiguide .footer-link:last-child{
	border-right: 0;
}
.page-keisaiguide .footer-link a{
	color: #ffffff;
	padding: 0 20px;
}
.page-keisaiguide .footer-link a:hover{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	color: #ffffff;
}
.page-keisaiguide .txt-link{
	color: #00b8ee;
}
.page-keisaiguide .form-area{
	width: 900px;
}
.page-keisaiguide .form-block__ttl{
	-ms-flex: 1 0 200px;
	flex: 1 0 200px;
}
.page-keisaiguide .form-block__content{
	-ms-flex: 1 0 700px;
	flex: 1 0 700px;
	padding-right: 0;
}
.page-keisaiguide .form-block{
	padding: 40px 0;
}
.page-keisaiguide .form--text--confirm,.page-keisaiguide .form--textarea--confirm{
	font-weight: bold;
}
.u-fc--txt--contact{
	color: #7e7d7d;
}
.u-text--l{
	font-size: 18px;
	line-height: 1.5;
}
.u-text--m{
	font-size: 16px;
	line-height: 1.5;
}
.u-tal{
	text-align: left;
}
.u-tac{
	text-align: center;
}
.u-fwb{
	font-weight: bold;
}
.u-fs--xxl{
	font-size: 28px;
}
.u-fs--l{
	font-size: 18px;
}
.u-fs--m{
	font-size: 16px;
}
.u-fs--s{
	font-size: 14px;
}
.u-fs--ss{
	font-size: 12px;
}
.u-mt10{
	margin-top: 10px !important;
}
.u-mt15{
	margin-top: 15px !important;
}
.u-mt20{
	margin-top: 20px !important;
}
.u-mt30{
	margin-top: 30px !important;
}
.u-mt40{
	margin-top: 40px !important;
}
.u-mt45{
	margin-top: 45px !important;
}
.u-mt50{
	margin-top: 50px !important;
}
.u-mt55{
	margin-top: 55px !important;
}
.u-mt60{
	margin-top: 60px !important;
}
.u-mt80{
	margin-top: 80px !important;
}
.u-mt90{
	margin-top: 90px !important;
}
.u-mt100{
	margin-top: 100px !important;
}
.u-mb00{
	margin-bottom: 0 !important;
}
.u-mb10{
	margin-bottom: 10px !important;
}
.u-mb20{
	margin-bottom: 20px !important;
}
.u-mb45{
	margin-bottom: 45px !important;
}
.u-mb50{
	margin-bottom: 50px !important;
}
.u-mb55{
	margin-bottom: 55px !important;
}
.u-mb60{
	margin-bottom: 60px !important;
}
.u-mb65{
	margin-bottom: 65px !important;
}
.u-mb90{
	margin-bottom: 90px !important;
}
.u-pt20{
	padding-top: 20px;
}
.u-pt30{
	padding-top: 30px;
}
.u-width20{
	width: 20%;
}
.u-width40{
	width: 40%;
}
.u-width49{
	width: 49%;
}
.u-width100{
	width: 100%;
}