@charset "utf-8";
@font-face{
	font-family: 'Lato Bold';
	src: url("../fonts/Lato-Bold.ttf");
}
body.is-fixed{
	overflow: hidden;
}
.common-header{
	position: fixed;
	width: 100%;
	height: 100px;
	background-color: rgba(255,255,255,0.6);
	z-index: 10;
}
.common-header__inner{
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-align: center;
	align-items: center;
	box-shadow: 0 3px 5px 0 rgba(128,128,128,0.3);
	position: relative;
	z-index: 10;
}
.common-header__logo svg{
	fill: #00b8ee;
	width: 185px;
	height: 40px;
	vertical-align: top;
}
.common-header__btn,.common-header__btn--menu{
	width: 100px;
	height: 100px;
	background: none;
	border: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	text-align: center;
	outline: none;
	padding: 10px;
}
.common-header__btn svg,.common-header__btn--menu svg{
	fill: #00b8ee;
	vertical-align: middle;
	margin-top: 4px;
}
.common-header__btn__txt{
	display: inline-block;
	line-height: 1;
	color: #00b8ee;
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
	vertical-align: top;
	margin-top: 5px;
}
.common-header__btn--menu i{
	display: block;
	width: 60px;
	height: 10px;
	margin: 8px auto 0;
	background-color: #00b8ee;
}
.common-header__btn--menu.is-open i{
	margin: 0;
	position: absolute;
}
.common-header__btn--menu.is-open i:first-of-type{
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	top: 25px;
	left: 0;
}
.common-header__btn--menu.is-open i:nth-of-type(2){
	display: none;
}
.common-header__btn--menu.is-open i:last-of-type{
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	left: 0;
	top: 25px;
}
.common-header__btn__icon{
	display: block;
	position: relative;
	width: 60px;
	height: 54px;
	margin: 0 auto;
	overflow: hidden;
	text-align: center;
}
.common-header__nav-wrap.is-open .bg--overlay{
	visibility: visible;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.common-header__nav-wrap.is-open .common-header__nav{
	left: 0;
}
.common-header__nav{
	position: fixed;
	z-index: 9;
	transition: all 0.2s linear;
	overflow-y: scroll;
	top: 100px;
	bottom: 0;
	width: 100%;
	left: 100%;
}
.common-header__nav__inner{
	background-color: #ffffff;
}
.nav-menu-list__item{
	border-top: 1px solid #ababab;
}
.nav-menu-list__item:first-of-type{
	border-top: 0;
}
.nav-menu--secondary{
	background-color: #ababab;
}
.nav-menu-list--secondary{
	padding: 15px 0 25px;
}
.nav-menu-list--secondary__item{
	padding: 15px 0;
}
.nav-link__icon,.nav-link--secondary__icon{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-align: center;
	align-items: center;
	margin-right: 22px;
}
.nav-link,.nav-link--toggle{
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	height: 100px;
	color: #808080;
	font-weight: bold;
	padding: 0 25px;
	position: relative;
	font-size: 24px;
}
.nav-link__icon{
	background-color: #00b8ee;
}
.nav-link__icon svg{
	fill: #ffffff;
}
.nav-link--secondary{
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	color: #ffffff;
	font-weight: bold;
	padding: 0 25px;
	position: relative;
	font-size: 20px;
}
.nav-link--secondary__icon{
	background-color: #ffffff;
}
.nav-link--secondary__icon svg{
	fill: #00b8ee;
}
.nav-link--toggle:after{
	content: '';
	width: 20px;
	height: 20px;
	border-right: 4px solid #808080;
	border-bottom: 4px solid #808080;
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	position: absolute;
	top: -50%;
	bottom: -50%;
	right: 25px;
	margin: auto;
}
.nav-link--toggle.is-open:after{
	-ms-transform: rotate(-135deg);
	transform: rotate(-135deg);
}
.nav-link--sub{
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	color: #808080;
	height: auto;
	padding: 0;
	font-size: 24px;
}
.nav-link--sub:before{
	content: '';
	display: block;
	border-style: solid;
	border-color: transparent transparent transparent #808080;
	border-width: 10px;
	-ms-transform: scale(1, 0.75);
	transform: scale(1, 0.75);
}
.nav-sub-menu{
	background-color: #eeeeee;
	transition: all 0.4s linear;
	max-height: 0;
	overflow: hidden;
}
.nav-sub-menu.is-open{
	max-height: 650px;
}
.nav-sub-menu__inner li{
	padding: 25px 70px;
}
.social-area{
	display: -ms-flexbox;
	display: flex;
	border-top: 1px solid #ffffff;
}
.social-area__item{
	-ms-flex: 1 0 50%;
	flex: 1 0 50%;
}
.social-area__item:first-of-type{
	border-right: 1px solid #ffffff;
}
.social-link{
	color: #ffffff;
	font-size: 24px;
	font-weight: bold;
	display: block;
	height: auto;
	padding: 0;
}
.social-link span{
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-align: center;
	align-items: center;
	height: 100px;
}
.social-link .fa{
	font-size: 35px;
}
.social-link .fa-twitter{
	margin-right: 8px;
}
.social-link .fa-facebook{
	margin-right: 13px;
}
.bg--overlay{
	background: rgba(0,0,0,0.75);
	position: fixed;
	top: 100px;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 9;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	visibility: hidden;
	transition: visibility 0.5s, opacity 0.5s;
}
.banner-list{
	padding: 60px 30px 90px;
}
.banner-list__item{
	margin-top: 20px;
}
.banner-list__item:first-of-type{
	margin-top: 0;
}
.banner-list__item img{
	width: 100%;
	height: auto;
	vertical-align: top;
}
.banner-list__item a{
	height: auto;
	padding: 0;
}
.common-footer{
	background-color: #4e4e4e;
	color: #ffffff;
	padding: 60px 40px 40px;
	position: relative;
}
.common-footer__page-top{
	display: block;
	width: 90px;
	height: 90px;
	background-color: #ffffff;
	border-radius: 50%;
	position: absolute;
	top: -50px;
	left: 0;
	right: 0;
	margin: 0 auto;
}
.common-footer__page-top:after{
	content: '';
	display: block;
	border-style: solid;
	border-color: transparent transparent #4e4e4e transparent;
	border-width: 28px;
	width: 0;
	height: 0;
	-ms-transform: scale(0.67, 1);
	transform: scale(0.67, 1);
	margin: 0 auto;
}
.common-footer__list__item{
	margin-top: 30px;
}
.common-footer__list__item:first-of-type{
	margin-top: 0;
}
.common-footer__copyright{
	display: block;
	text-align: center;
	font-weight: bold;
	margin-top: 50px;
	font-size: 20px;
}
.footer-link{
	color: #ffffff;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	font-size: 24px;
	font-weight: bold;
}
.footer-link__icon{
	width: 60px;
	height: 60px;
	background-color: #ffffff;
	border-radius: 50%;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-align: center;
	align-items: center;
	margin-right: 20px;
}
.footer-link__icon svg{
	fill: #00b2e8;
}
.form-area{
	font-size: 26px;
}
.form-block{
	border-bottom: 1px solid #eeeeee;
	padding: 40px 0;
	margin: 0;
}
.form-block__ttl{
	font-weight: bold;
}
.form-block__content{
	padding-top: 20px;
}
.form-input-block--half{
	display: -ms-flexbox;
	display: flex;
}
.form-input-block--half .form-input-block__item{
	-ms-flex: 1 0 40%;
	flex: 1 0 40%;
}
.form-input-block--half .form-input-block__item:first-of-type{
	margin-right: 30px;
}
.form-input-block--date{
	display: -ms-flexbox;
	display: flex;
}
.form-input-block--date .form-input-block__item{
	-ms-flex: 1 0 20%;
	flex: 1 0 20%;
	margin-left: 16px;
}
.form-input-block--date .form-input-block__item:first-of-type{
	-ms-flex: 2 0 40%;
	flex: 2 0 40%;
	margin-left: 0;
}
.c-tag--require{
	display: inline-block;
	background-color: #00b8ee;
	border-radius: 3px;
	padding: 8px 10px;
	color: #ffffff;
	font-size: 20px;
	font-weight: bold;
	line-height: 1;
	margin-right: 8px;
	min-width: 80px;
	text-align: center;
}
.form--text,.form--textarea{
	border: 0;
	background-color: #f9f9f9;
	padding: 20px 25px;
	width: 100%;
}
.form--text::-webkit-input-placeholder,.form--textarea::-webkit-input-placeholder{
	color: rgba(102,102,102,0.4);
}
.form--text:-ms-input-placeholder,.form--textarea:-ms-input-placeholder{
	color: rgba(102,102,102,0.4);
}
.form--text::placeholder,.form--textarea::placeholder{
	color: rgba(102,102,102,0.4);
}
.form--text.error,.form--textarea.error{
	color: inherit;
}
.form--text + .form--text,.form--textarea + .form--text{
	margin-left: 30px;
}
.form--text--confirm{
	padding: 15px 20px 0;
}
.form--textarea{
	line-height: 1.7;
	border-radius: 3px;
}
.form--textarea--confirm{
	padding: 15px 20px;
	line-height: 1.7;
	min-height: 260px;
	border: 1px solid #eeeeee;
	border-radius: 3px;
}
.form-select-triangle{
	display: inline-block;
	margin-left: 10px;
	position: relative;
	width: 100%;
}
.form-select-triangle:first-of-type{
	margin-left: 0;
}
.form-select-triangle:after{
	content: '';
	display: block;
	width: 0;
	height: 0;
	border-style: solid;
	border-color: #ffffff transparent transparent transparent;
	border-width: 8px;
	position: absolute;
	top: 30px;
	right: 10px;
}
.form--select{
	border-style: solid;
	border-color: #d2d2d2 #00b8ee #d2d2d2 #d2d2d2;
	border-width: 2px 36px 2px 2px;
	border-radius: 8px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	padding: 20px 15px;
	line-height: 1;
	width: 100%;
	background-color: #ffffff;
}
.form--select::-ms-expand{
	display: none;
}
.form--select.error{
	color: inherit;
}
.form--select option{
	color: #7e7d7d;
}
.form--checkbox-label{
	position: relative;
	font-weight: bold;
	margin-left: -16px;
}
.form--checkbox-label:before{
	content: '';
	display: inline-block;
	box-sizing: border-box;
	width: 30px;
	height: 30px;
	background-color: #ffffff;
	vertical-align: middle;
	border: 1px solid #7e7d7d;
	margin-right: 9px;
}
.form--checkbox{
	visibility: hidden !important;
	width: 0;
}
.form--checkbox:checked + .form--checkbox-label:before{
	background-color: #00b8ee;
	border: 0;
}
.form--checkbox:checked + .form--checkbox-label:after{
	content: '';
	display: block;
	position: absolute;
	top: 8px;
	left: 6px;
	width: 10px;
	height: 12px;
	-ms-transform: rotate(40deg);
	transform: rotate(40deg);
	border-bottom: 6px solid #ffffff;
	border-right: 6px solid #ffffff;
}
.error-msg label.error{
	display: inline-block;
	color: #e60012;
	font-weight: bold;
	margin-top: 10px;
	font-size: 24px;
}
.error-msg label.error:before{
	content: '!';
	display: inline-block;
	width: 25px;
	height: 25px;
	margin-right: 9px;
	color: #ffffff;
	text-align: center;
	background-color: #e60012;
	border-radius: 50%;
	vertical-align: middle;
	font-size: 20px;
	line-height: 25px;
}
.agreement-checkbox-label{
	background-color: #f3f3f3;
	border-radius: 10px;
	padding: 15px 40px;
	font-weight: normal;
	display: inline-block;
	margin: 20px auto auto;
	font-size: 24px;
}
.agreement-checkbox{
	visibility: hidden !important;
	width: 0;
}
.agreement-checkbox + span{
	vertical-align: middle;
	position: relative;
}
.agreement-checkbox + span:before{
	content: '';
	display: inline-block;
	width: 30px;
	height: 30px;
	background-color: #ffffff;
	border: 1px solid #7e7d7d;
	margin-right: 18px;
	vertical-align: middle;
	box-sizing: border-box;
	border-radius: 3px;
}
.agreement-checkbox:checked + span:before{
	background-color: #00b8ee;
	border: 0;
}
.agreement-checkbox:checked + span:after{
	content: '';
	display: block;
	position: absolute;
	top: 8px;
	left: 6px;
	width: 10px;
	height: 12px;
	-ms-transform: rotate(40deg);
	transform: rotate(40deg);
	border-bottom: 6px solid #ffffff;
	border-right: 6px solid #ffffff;
}
#mainvisual--oiwaikin{
	background: url("../img/oiwaikin/bg_mainvisual_sp.png") repeat-x center top;
	background-size: contain;
}
.page-oiwaikin .btn--primary,.page-oiwaikin .btn--secondary{
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-align: center;
	align-items: center;
	border: 5px solid #00a6d6;
	border-radius: 10px;
	padding: 15px;
	min-height: 75px;
}
.page-oiwaikin{
	font-size: 26px;
}
.page-oiwaikin .main-visual{
	padding-top: 44px;
}
.page-oiwaikin .btn-area{
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: center;
	justify-content: center;
	margin-top: 60px;
	padding: 0 30px 60px;
}
.page-oiwaikin .btn-area--confirm{
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: center;
	justify-content: center;
	padding: 30px 0;
}
.page-oiwaikin .btn-area--compliance{
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: center;
	justify-content: center;
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: rgba(255,255,255,0.9);
	padding: 40px 30px;
	box-shadow: 0 0 15px #cccccc;
	transition: all 0.2s ease-out 0s;
}
.page-oiwaikin .btn-area--compliance.is_hide{
	bottom: -200px;
}
.page-oiwaikin .btn-area__item{
	-ms-flex: 1 0 40%;
	flex: 1 0 40%;
	margin-left: 15px;
}
.page-oiwaikin .btn-area__item:first-of-type{
	margin-left: 0;
}
.page-oiwaikin .btn-shadow{
	display: block;
	padding-bottom: 5px;
	background-image: linear-gradient(45deg, transparent 25%, #00a6d6 25%, #00a6d6 50%, transparent 50%, transparent 75%, #00a6d6 75%, #00a6d6);
	background-size: 4px 4px;
	border-radius: 10px;
}
.page-oiwaikin .btn-shadow--gray{
	display: block;
	padding-bottom: 5px;
	background-image: linear-gradient(45deg, transparent 25%, #cccccc 25%, #cccccc 50%, transparent 50%, transparent 75%, #cccccc 75%, #cccccc);
	background-size: 4px 4px;
	border-radius: 10px;
}
.page-oiwaikin .btn--primary{
	background-color: #00b8ee;
	color: #fffc00;
	font-size: 30px;
	font-weight: bold;
}
.page-oiwaikin .btn--secondary{
	background-color: #fffc00;
	color: #00b8ee;
	font-size: 30px;
	font-weight: bold;
}
.page-oiwaikin .btn--tertiary{
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-align: center;
	align-items: center;
	border: 5px solid #cccccc;
	border-radius: 10px;
	padding: 15px 0;
	background-color: #eeeeee;
	color: #7e7d7d;
	font-size: 30px;
	font-weight: bold;
}
.page-oiwaikin .btn__img--search{
	width: 100%;
	height: auto;
	max-width: 284px;
	vertical-align: top;
}
.page-oiwaikin .btn__img--apply{
	width: 100%;
	height: auto;
	max-width: 269px;
	vertical-align: top;
}
.page-oiwaikin .heading--primary{
	margin: 0;
	background-color: #00b8ee;
	background-image: linear-gradient(-45deg, transparent 25%, rgba(255,255,255,0.07) 25%, rgba(255,255,255,0.07) 50%, transparent 50%, transparent 75%, rgba(255,255,255,0.07) 75%, rgba(255,255,255,0.07));
	background-size: 16px 16px;
	height: 80px;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-align: center;
	align-items: center;
}
.page-oiwaikin .heading--primary__inner{
	display: inline-block;
	position: relative;
	font-weight: bold;
	font-size: 24px;
	color: #ffffff;
	padding-left: 50px;
}
.page-oiwaikin .heading--primary__inner:before{
	content: '';
	display: block;
	background-color: #ffffff;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	position: absolute;
	top: -50%;
	bottom: -50%;
	left: 0;
	margin: auto;
}
.page-oiwaikin .heading--primary__inner:after{
	content: '';
	display: block;
	width: 0;
	height: 0;
	border-style: solid;
	border-color: #00b8ee transparent transparent transparent;
	border-width: 7px;
	position: absolute;
	top: 15px;
	left: 12px;
	margin: auto;
}
.page-oiwaikin .heading--secondary{
	text-align: center;
	margin-bottom: 40px;
}
.page-oiwaikin .heading--secondary__inner{
	display: inline-block;
	min-width: 70%;
	border: 10px solid #eeeeee;
	border-radius: 60px;
	color: #00b8ee;
	font-size: 32px;
	font-weight: bold;
	background-color: #ffffff;
	padding: 15px 35px;
}
.page-oiwaikin .txt-link{
	color: #00b8ee;
}
.page-oiwaikin .section{
	background-color: #ffffff;
}
.page-oiwaikin .section--bg-beige{
	background-color: #f7f6ee;
}
.page-oiwaikin .section__inner{
	margin: 0 auto;
	padding: 70px 30px 60px;
}
.page-oiwaikin .step-box{
	margin: 0;
	padding: 0;
}
.page-oiwaikin .step-box__item{
	padding: 30px 90px;
	border-top: 2px dotted #eeeeee;
}
.page-oiwaikin .step-box__item:first-of-type{
	border-top: 0;
}
.page-oiwaikin .step-box__ttl{
	margin: 0;
	text-align: center;
}
.page-oiwaikin .step-box__ttl__img{
	height: 70px;
	width: auto;
}
.page-oiwaikin .step-box__img{
	display: inline-block;
	vertical-align: middle;
	margin-left: 20px;
	width: 60px;
	height: 60px;
}
.page-oiwaikin .step-box__img img{
	width: 100%;
	height: auto;
}
.page-oiwaikin .dl-list{
	box-sizing: border-box;
	margin: 0;
	border: 2px solid #eeeeee;
}
.page-oiwaikin .dl-list__dt{
	background-color: #eeeeee;
	font-weight: bold;
	border-bottom: 2px solid #eeeeee;
	padding: 20px 18px;
}
.page-oiwaikin .dl-list__dd{
	background-color: #ffffff;
	padding: 20px 18px;
}
.page-oiwaikin .list-block--ul{
	padding-left: 1.2em;
}
.page-oiwaikin .list-block--ul li{
	margin-top: 16px;
	list-style: disc;
}
.page-oiwaikin .list-block--ul li:first-of-type{
	margin-top: 0;
}
.page-oiwaikin .list-block--ol{
	padding-left: 1.2em;
}
.page-oiwaikin .list-block--ol li{
	margin-top: 16px;
	list-style: decimal;
}
.page-oiwaikin .list-block--ol li:first-of-type{
	margin-top: 0;
}
.page-oiwaikin .confirm-button{
	width: 50%;
	margin: 30px auto;
}
html,body{
	height: 100%;
}
.page-keisaiguide{
	margin: 0;
	position: relative;
	/* table */
}
.page-keisaiguide *{
	box-sizing: border-box;
}
.page-keisaiguide figure{
	margin: 0;
}
.page-keisaiguide .page__inner{
	position: relative;
	min-height: 100%;
}
.page-keisaiguide .txt-link{
	color: #00b8ee;
	text-decoration: none;
}
.page-keisaiguide .btn--primary{
	display: block;
	border: 5px solid #00b8ee;
	border-radius: 45px;
	padding: 25px;
	font-size: 30px;
	line-height: 1;
	text-align: center;
	color: #00b8ee;
	font-weight: bold;
}
.page-keisaiguide .btn--contact{
	display: block;
	background-color: #fffc00;
	border-radius: 80px;
	box-shadow: 0 8px 0 0 #b5ab00;
	padding: 30px 50px;
	text-align: center;
}
.page-keisaiguide .btn--contact img{
	width: 100%;
	max-width: 590px;
	vertical-align: top;
}
.page-keisaiguide .btn--telephone{
	display: block;
	background-color: #00b8ee;
	border-radius: 80px;
	box-shadow: 0 8px 0 0 #008db7;
	padding: 10px 50px;
	text-align: center;
}
.page-keisaiguide .btn--telephone img{
	width: 100%;
	max-width: 590px;
	vertical-align: top;
}
.page-keisaiguide .header-area{
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-align: center;
	align-items: center;
	border-bottom: 1px solid #cccccc;
	padding: 20px 8%;
	height: 90px;
}
.page-keisaiguide .header__logo{
	fill: #00b8ee;
	width: 240px;
	height: 50px;
	vertical-align: top;
}
.page-keisaiguide .header__txt{
	margin: 0;
	color: #999999;
	font-size: 32px;
	font-weight: bold;
}
.page-keisaiguide .article{
	padding-bottom: 190px;
}
.page-keisaiguide .section{
	background-color: #ffffff;
}
.page-keisaiguide .section--bg-beige{
	background-color: #f7f6ee;
}
.page-keisaiguide .section__inner{
	padding: 60px 30px;
}
.page-keisaiguide .heading{
	text-align: center;
	font-weight: normal;
}
.page-keisaiguide .heading__main-txt{
	font-family: 'Lato Bold';
	font-size: 48px;
}
.page-keisaiguide .heading__sub-txt{
	font-size: 22px;
}
.page-keisaiguide .heading--flex{
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
}
.page-keisaiguide .heading--flex__icon{
	width: 100px;
	margin-right: 10px;
}
.page-keisaiguide .heading--flex__txt{
	font-size: 36px;
	line-height: 1.4;
	-ms-flex: 1 0 150px;
	flex: 1 0 150px;
}
.page-keisaiguide .footer-area{
	background-color: #4e4e4e;
	color: #ffffff;
	padding: 0 30px;
	position: absolute;
	bottom: 0;
	width: 100%;
}
.page-keisaiguide .footer-area a{
	color: #ffffff;
	text-decoration: none;
}
.page-keisaiguide .footer-area a:active,.page-keisaiguide .footer-area a:visited{
	color: #ffffff;
}
.page-keisaiguide .footer-link-list{
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 50px 0 40px;
	line-height: 1;
}
.page-keisaiguide .footer-link-list__item{
	padding: 0 30px;
	border-left: 1px solid #ffffff;
}
.page-keisaiguide .footer-link-list__item:first-of-type{
	border-left: 0;
	padding-left: 0;
}
.page-keisaiguide .footer-link-list__item:last-of-type{
	padding-right: 0;
}
.page-keisaiguide .footer__copy{
	border-top: 1px solid #999999;
	font-size: 20px;
	text-align: center;
	padding: 25px;
}
.page-keisaiguide .main-visual{
	background: url("../img/keisaiguide/bg_mv_sp.jpg") no-repeat top center;
	background-size: cover;
	padding: 15px;
}
.page-keisaiguide .main-visual__img img{
	width: 100%;
	height: auto;
	vertical-align: top;
}
.page-keisaiguide .contents-menu-wrap{
	height: 130px;
}
.page-keisaiguide .contents-menu{
	display: -ms-flexbox;
	display: flex;
	background-color: #ffffff;
	border-bottom: 1px solid #4e4e4e;
}
.page-keisaiguide .contents-menu.is-fixed{
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 10;
}
.page-keisaiguide .contents-menu__item{
	-ms-flex: 1 0 33.3%;
	flex: 1 0 33.3%;
	padding: 15px 0;
	transition: all 0.3s ease;
}
.page-keisaiguide .contents-menu__item:first-of-type a{
	border-left: 0;
}
.page-keisaiguide .contents-menu__item.is-active{
	background-color: #fffc00;
}
.page-keisaiguide .contents-menu__item > a{
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-align: center;
	align-items: center;
	color: inherit;
	border-left: 1px solid #4e4e4e;
	min-height: 99px;
}
.page-keisaiguide .contents-menu__item > a:after{
	content: '';
	display: block;
	width: 0;
	height: 0;
	border-color: #4e4e4e transparent transparent transparent;
	border-width: 6px;
	border-style: solid;
	margin-top: 10px;
}
.page-keisaiguide .feature-item{
	border-top: 2px dashed #c6c5be;
	margin-top: 60px;
	padding-top: 60px;
}
.page-keisaiguide .feature-item:first-of-type{
	border-top: 0;
	margin-top: 40px;
	padding-top: 0;
}
.page-keisaiguide .feature-item__contents{
	padding: 0 40px;
}
.page-keisaiguide .feature-item__img img{
	width: 100%;
	height: auto;
}
.page-keisaiguide .feature-tbl{
	table-layout: fixed;
	border-collapse: collapse;
}
.page-keisaiguide .feature-tbl__th,.page-keisaiguide .feature-tbl__td,.page-keisaiguide .feature-tbl__td--bg-none{
	padding: 0;
	vertical-align: top;
}
.page-keisaiguide .feature-tbl__th--vbottom{
	vertical-align: bottom;
	padding: 0;
}
.page-keisaiguide thead .feature-tbl__th__inner--left,.page-keisaiguide thead .feature-tbl__th__inner--right{
	background-color: #cccccc;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	padding: 10px;
}
.page-keisaiguide thead .feature-tbl__th__inner--left{
	border-radius: 5px 0 0 0;
}
.page-keisaiguide thead .feature-tbl__th__inner--right{
	border-radius: 0 5px 0 0;
}
.page-keisaiguide thead .feature-tbl__th__inner--em{
	background-color: #00b8ee;
	color: #ffffff;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	padding: 20px 0;
	border-radius: 5px 5px 0 0;
}
.page-keisaiguide thead .feature-tbl__th__inner--em svg{
	display: block;
	margin: 0 auto;
	fill: #ffffff;
	width: 109px;
	height: 24px;
}
.page-keisaiguide tbody .feature-tbl__th__inner,.page-keisaiguide tbody .feature-tbl__th__inner--em{
	background-color: #eeeeee;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	padding: 10px 5px;
}
.page-keisaiguide tbody .feature-tbl__th__inner--em{
	border-left: 5px solid #00b8ee;
	border-right: 5px solid #00b8ee;
}
.page-keisaiguide tbody .feature-tbl__td{
	position: relative;
	background-color: #ffffff;
}
.page-keisaiguide tbody .feature-tbl__td--bg-none{
	position: relative;
}
.page-keisaiguide tbody .feature-tbl__td__inner{
	padding: 20px;
}
.page-keisaiguide tbody ._td--bg-none__inner{
	padding: 20px;
	background-color: #ffffff;
}
.page-keisaiguide tbody .feature-tbl__td__inner--em{
	color: #00b8ee;
	padding: 20px 15px;
	border-left: 5px solid #00b8ee;
	border-right: 5px solid #00b8ee;
	position: absolute;
	width: 100%;
	top: 0;
	bottom: 0;
	margin: auto;
}
.page-keisaiguide tbody ._td--bg-none__inner--em--last{
	color: #00b8ee;
	background-color: #ffffff;
	padding: 20px 15px;
	border-left: 5px solid #00b8ee;
	border-right: 5px solid #00b8ee;
	border-bottom: 5px solid #00b8ee;
}
.page-keisaiguide .flow-box{
	border: 2px solid #4e4e4e;
	border-radius: 5px;
	padding: 0 38px;
	background-color: #f7f6ee;
}
.page-keisaiguide .flow-box__item{
	border-top: 2px solid #4e4e4e;
	padding: 40px 0;
	position: relative;
}
.page-keisaiguide .flow-box__item:first-of-type{
	border-top: 0;
}
.page-keisaiguide .flow-box__item:before{
	content: '';
	display: block;
	width: 40px;
	height: 4px;
	position: absolute;
	bottom: -2px;
	left: 0;
	right: 0;
	margin: auto;
	background-color: #f7f6ee;
	z-index: 1;
}
.page-keisaiguide .flow-box__item:after{
	content: '';
	display: block;
	width: 0;
	height: 0;
	border-color: #4e4e4e transparent transparent transparent;
	border-width: 11px;
	border-style: solid;
	position: absolute;
	bottom: -21px;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 2;
}
.page-keisaiguide .flow-box__item:last-of-type:before,.page-keisaiguide .flow-box__item:last-of-type:after{
	display: none;
}
.page-keisaiguide .flow-box__icon,.page-keisaiguide .flow-box__icon--l{
	display: block;
	margin-left: auto;
	margin-right: auto;
	fill: #4e4e4e;
}
.page-keisaiguide .flow-box__icon{
	width: 58px;
	height: 51px;
}
.page-keisaiguide .flow-box__icon--l{
	width: 70px;
	height: 70px;
}
.page-keisaiguide .faq-block{
	border-top: 1px solid #4e4e4e;
	padding-top: 40px;
	margin-top: 40px;
}
.page-keisaiguide .faq-block:first-of-type{
	border-top: 0;
}
.page-keisaiguide .faq-block__que,.page-keisaiguide .faq-block__ans{
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: start;
	align-items: flex-start;
}
.page-keisaiguide .faq-block__que{
	font-weight: bold;
	font-size: 28px;
}
.page-keisaiguide .faq-block__ans{
	font-size: 24px;
	margin-top: 15px;
}
.page-keisaiguide .faq-block__mark{
	font-family: 'Lato Bold';
	font-weight: normal;
	font-size: 28px;
	line-height: 1.2;
	min-width: 40px;
}
.page-keisaiguide .form-block:first-of-type{
	padding-top: 10px;
}
.u-ff--lato{
	font-family: 'Lato Bold';
}
.u-fc--txt{
	color: #4e4e4e;
}
.u-fc--txt--contact{
	color: #7e7d7d;
}
.u-tal{
	text-align: left;
}
.u-tac{
	text-align: center;
}
.u-fwb{
	font-weight: bold;
}
.u-fs--xxl{
	font-size: 32px;
}
.u-fs--xl{
	font-size: 30px;
}
.u-fs--l{
	font-size: 28px;
}
.u-fs--m{
	font-size: 26px;
}
.u-fs--ms{
	font-size: 24px;
}
.u-fs--s{
	font-size: 20px;
}
.u-mt10{
	margin-top: 10px !important;
}
.u-mt20{
	margin-top: 20px !important;
}
.u-mt30{
	margin-top: 30px !important;
}
.u-mt35{
	margin-top: 35px !important;
}
.u-mt40{
	margin-top: 40px !important;
}
.u-mt60{
	margin-top: 60px !important;
}
.u-mt70{
	margin-top: 70px !important;
}
.u-mt90{
	margin-top: 90px !important;
}
.u-mt100{
	margin-top: 100px;
}
.u-mt180{
	margin-top: 180px;
}
.u-mb00{
	margin-bottom: 0 !important;
}
.u-mb20{
	margin-bottom: 20px !important;
}
.u-mb30{
	margin-bottom: 30px !important;
}
.u-mb90{
	margin-bottom: 90px !important;
}
.u-pb00{
	padding-bottom: 0 !important;
}
.u-pr40{
	padding-right: 40px;
}