

.container-contact.secret.apply
{
	background: white;
}

a:focus {
    outline: none;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
}

.tabcontrol > .content {
	margin-top: 40px;
    height: 655px;
}
label.error {
    color: #ff8a8a;
}

.tab2 > .content
{
    height: 600px !important;
}

#frm-contact-form2{
    display: none;
}

.color-disable{
    color: #dcdcdc !important;
}
#contact-main .div-contact-form .div_gender .custom-checkbox{
	display: inline-block;
	margin-top: 0;
	margin-right: 15px;
}

.top-banner .single-banner{
		background: url('/img/banner/entry_banner_full.jpg') center top;
		height: 320px;
}

/*Custom Tablist Step*/
.tabcontrol > .steps{
	margin-top: 15px;
}
.tabcontrol > .steps > ul{
	margin: 0 auto;
    display: table;
}
.tabcontrol > .steps > ul > li{
	float: none;
	display: inline-block;
	width: auto;
	vertical-align: middle;
	margin-bottom: 0;
}
.tabcontrol > .steps > ul > li > a{
	border: 0;
	background: white;
	color: #999999;
	font-size: 20px;
	text-align: center;
	display: inline-block;
	vertical-align: middle;
}
.tabcontrol > .steps > ul > li.current > a{
	color: #29d38d;
	background: white;
	border: 0;
}
.tabcontrol > .steps > ul > li:last-child > a{
	border: 0;
}

.tabcontrol > .steps > ul > li > a:before,
.tabcontrol > .steps > ul > li > a:after{
	content: none;
}

.tabcontrol > .steps > ul > li:nth-child(2):before,
.tabcontrol > .steps > ul > li:nth-child(2):after{
	content: "•••";
    color: #29d38d;
    font-size: 35px;
    display: inline-block;
    vertical-align: middle;
    letter-spacing: 7px;
    margin: 0 30px;
}

/*FORM*/
.tabcontrol > .content{
	padding: 0 20px;
}
#contact-main .div-contact-form .contact-lablel{
	width: 90px;
	background: white;
    padding: 0;
    font-size: 14px;
	vertical-align: top;
}

#contact-main .div-contact-form .contact-lablel span.require{
	float: none;
	display: block;
	width: 50px;
	text-align: center;
	padding: 2px 0;
	background: #29d38d;
	color: white;
	font-size: 14px;
	margin-top: 6px;
}
#contact-main .div-contact-form .form-group{
	padding-bottom: 20px;
	border-bottom: 1px solid #eeeeee;
	margin-bottom: 20px;
}
#contact-main .div-contact-form section.body > .form-group:last-child{
	border-bottom: 0;
}

#contact-main .div-contact-form .contact-input .form-control{
	border: 0;
    outline: none;
	box-shadow: none;
	font-size: 14px;
	color: #666666;
	background: #f2f2f2;
	box-sizing: content-box;
    padding: 8px 20px;
}

#contact-main .div-contact-form .step2 .contact-input .form-control[disabled]{
	background: #f2f2f2;
}

#contact-main .div-contact-form .contact-input{
	width: auto;
	vertical-align: middle;
	padding: 0;
}
#contact-main .div-contact-form .form-group-custom-text {
	margin-top: 40px;
	font-size: 12px
}
#contact-main .div-contact-form .form-panel{
	overflow: hidden;
}
#contact-main .div-contact-form .form-panel > .form-group{
	float: left;
	width: 50%;
}
#contact-main .div-contact-form .form-panel > .form-group:first-child{
	padding-right: 20px;
}
#contact-main .div-contact-form .form-panel > .form-group:last-child{
	padding-left: 20px;
}
/*Button*/
.wizard ul, .tabcontrol ul{
	margin: 0 auto;
	display: table;
}
.wizard ul > li, .tabcontrol ul > li{
	display: inline-block;
}
.actions .disabled{
	display: inline-block;
}

.actions ul li a{
	font-size: 18px;
	padding: 11px 77px;
}
.actions ul li .btn-pre,
.actions ul li a[href="#previous"]{
	background: #ababab;
	border-bottom-color: #838181;
	margin-right: 10px;
	width: 320px;
}
.finish strong,
.finish .btn-finish{
	font-size: 18px;
}
.finish .custom-text{
	display: block;
	text-align: left;
	margin: 30px 62px 0;
}
.finish .custom-text > span{
	display: block;
	text-align: center;
}
.finish .btn-finish{
	color: #4e4e4e;
    display: block;
    margin-top: 100px;
    text-decoration: underline;
	font-weight: bold;
}
.finish .btn-thanks{
    font-size: 14px;
    color: white;
    background-color: #29d38d;
    border-bottom: 3px solid #3ea67b;
    padding: 12px 90px;
    display: inline-block;
    text-decoration: none;
}
@media only screen and (max-width: 480px){
    .custom-radio{
        padding-left: 0;
        width: 100%;
    }
}


@media only screen and (max-width: 320px){
    .contact-subtitle{
        padding-bottom: 10px;
    }
}