@charset "utf-8";
.container-contact.secret.apply{
	background: #ffffff;
}
a:focus{
	outline: none;
	outline: 0px auto -webkit-focus-ring-color;
	outline-offset: 0px;
}
.tabcontrol > .content{
	margin-top: 40px;
	height: 655px;
}
label.error{
	position: relative;
	color: #e60012;
	font-size: 14px;
	margin-left: 0;
	margin-top: 10px;
}
label.error:before{
	content: '!';
	display: inline-block;
	color: #ffffff;
	background-color: #e60012;
	width: 20px;
	line-height: 20px;
	text-align: center;
	border-radius: 10px;
	margin-right: 4px;
}
#error-msg--cv1 .error,#error-msg--cv2 .error{
	margin-top: 0;
}
.tab2 > .content{
	height: 600px !important;
}
#frm-contact-form2{
	display: none;
}
.color-disable{
	color: #dcdcdc !important;
}
#contact-main .div-contact-form .div_gender .custom-checkbox{
	display: inline-block;
	margin-top: 15px;
	margin-right: 15px;
}
.top-banner .single-banner{
	background: url("../img/banner/entry_banner_full.jpg") center top;
	height: 460px;
}
/*Custom Tablist Step*/
.tabcontrol > .steps{
	margin-top: 15px;
}
.tabcontrol > .steps > ul{
	margin: 0 auto;
	display: table;
}
.tabcontrol > .steps > ul > li{
	float: none;
	display: inline-block;
	width: auto;
	vertical-align: middle;
	margin-bottom: 0;
}
.tabcontrol > .steps > ul > li > a{
	border: 0;
	background: #ffffff;
	color: #999999;
	font-size: 20px;
	text-align: center;
	display: inline-block;
	vertical-align: middle;
}
.tabcontrol > .steps > ul > li.current > a{
	color: #29d38d;
	background: #ffffff;
	border: 0;
}
.tabcontrol > .steps > ul > li:last-child > a{
	border: 0;
}
.tabcontrol > .steps > ul > li > a:before,.tabcontrol > .steps > ul > li > a:after{
	content: none;
}
.tabcontrol > .steps > ul > li:nth-child(2):before,.tabcontrol > .steps > ul > li:nth-child(2):after{
	content: "•••";
	color: #29d38d;
	font-size: 35px;
	display: inline-block;
	vertical-align: middle;
	letter-spacing: 7px;
	margin: 0 30px;
}
/*FORM*/
.tabcontrol > .content{
	padding: 0 20px;
}
#contact-main .div-contact-form .contact-lablel{
	width: 170px;
	background: #ffffff;
	padding: 14px 0 0;
	font-size: 14px;
	vertical-align: top;
	font-weight: bold;
}
#contact-main .div-contact-form .contact-lablel--half{
	width: 95px;
	background: #ffffff;
	padding: 14px 0 0;
	font-size: 14px;
	vertical-align: top;
}
#contact-main .div-contact-form .contact-lablel span.require,#contact-main .div-contact-form .contact-lablel--half span.require{
	float: none;
	display: inline-block;
	width: 50px;
	text-align: center;
	padding: 2px 0;
	background: #29d38d;
	color: #ffffff;
	font-size: 14px;
	margin-right: 7px;
}
/* txt, list */
#contact-main .div-contact-form .contact-input-txt{
	font-size: 14px !important;
	font-weight: bold;
	margin-bottom: 10px;
}
#contact-main .div-contact-form .contact-input__inner{
	font-size: 14px;
	font-weight: bold;
	padding: 8px 20px;
	line-height: 34px;
	min-width: 200px;
}
#contact-main .div-contact-form .contact-list{
	padding-left: 0;
	list-style: none;
}
#contact-main .div-contact-form .contact-list__item{
	margin-top: 6px;
	font-size: 14px;
	font-weight: bold;
}
#contact-main .div-contact-form .contact-list__item:first-of-type{
	margin-top: 0;
}
/* checkbox */
#contact-main .div-contact-form .contact-checkbox{
	visibility: hidden;
	width: 0;
}
#contact-main .div-contact-form .contact-checkbox-label{
	position: relative;
	font-size: 14px;
}
#contact-main .div-contact-form .contact-checkbox-label:before{
	content: '';
	display: inline-block;
	width: 15px;
	height: 15px;
	background-color: #ffffff;
	vertical-align: middle;
	border: 1px solid #7e7d7d;
	margin-right: 9px;
}
#contact-main .div-contact-form .contact-checkbox:checked + .contact-checkbox-label:before{
	background-color: #29d38d;
	border: none;
}
#contact-main .div-contact-form .contact-checkbox:checked + .contact-checkbox-label:after{
	content: '';
	display: block;
	position: absolute;
	top: 5px;
	left: 4px;
	width: 6px;
	height: 7px;
	-ms-transform: rotate(40deg);
	transform: rotate(40deg);
	border-bottom: 2px solid #ffffff;
	border-right: 2px solid #ffffff;
}
#contact-main .div-contact-form .form-group{
	padding-bottom: 20px;
	border-bottom: 1px solid #eeeeee;
	margin-bottom: 20px;
}
#contact-main .div-contact-form section.body > .form-group:last-child{
	border-bottom: 0;
}
#contact-main .div-contact-form .contact-input .form-control{
	border: 0;
	outline: none;
	box-shadow: none;
	font-size: 14px;
	color: #666666;
	background: #f2f2f2;
	box-sizing: border-box;
	padding: 8px 20px;
	height: 50px;
}
/* step2 */
#contact-main .div-contact-form .step2 .contact-input .form-control[disabled]{
	font-weight: bold;
	-webkit-text-fill-color: #666666;
}
#contact-main .div-contact-form .step2 .contact-input textarea.form-control[disabled]{
	border: 1px solid #eeeeee;
	border-radius: 3px;
}
#contact-main .div-contact-form .step2 #step1Skill .control-label,#contact-main .div-contact-form .step2 #step2Content .control-label{
	padding-top: 0;
}
#contact-main .div-contact-form .step2 .contact-list{
	padding: 0 20px;
}
#contact-main .div-contact-form .contact-input{
	width: auto;
	vertical-align: middle;
	padding: 0;
}
#contact-main .div-contact-form .contact-input.contact-input--select{
	font-weight: bold;
	font-size: 14px;
}
#contact-main .div-contact-form .form-group-custom-text{
	margin-top: 20px !important;
	font-size: 12px !important;
}
#contact-main .div-contact-form .form-panel{
	overflow: hidden;
	display: -ms-flexbox;
	display: flex;
}
#contact-main .div-contact-form .form-panel > .form-group{
	display: block;
}
#contact-main .div-contact-form .form-panel > .form-group:first-child{
	padding-right: 20px;
	width: 55%;
}
#contact-main .div-contact-form .form-panel > .form-group:last-child{
	padding-left: 20px;
	width: 45%;
}
/* file */
#contact-main .contact-select-file,.div-contact-form .contact-select-file{
	visibility: hidden;
	height: 0;
}
#contact-main .contact-btn--file,.div-contact-form .contact-btn--file{
	border: 1px solid #d2d2d2;
	background: linear-gradient(#ffffff 0%, #dcdcdc 100%);
	color: #666666;
	font-size: 14px;
	padding: 5px 18px;
	border-radius: 2px;
	cursor: pointer;
}
#contact-main .contact-btn--file:hover,.div-contact-form .contact-btn--file:hover{
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}
#contact-main .contact-file-name,.div-contact-form .contact-file-name{
	display: inline-block;
	font-weight: bold;
	font-size: 14px;
	line-height: 34px;
	padding: 8px 20px;
}
/* select-box */
#contact-main .div-contact-form .contact-select-triangle{
	display: inline-block;
	vertical-align: middle;
	position: relative;
	margin: 0 5px;
}
#contact-main .div-contact-form .contact-select-triangle:after{
	content: '';
	display: block;
	width: 0;
	height: 0;
	border-style: solid;
	border-color: #ffffff transparent transparent transparent;
	border-width: 4px;
	position: absolute;
	right: 3px;
	top: 9px;
}
#contact-main .div-contact-form .select-box{
	box-sizing: border-box;
	border-style: solid;
	border-color: #7e7d7d #29d38d #7e7d7d #7e7d7d;
	border-width: 1px 14px 1px 1px;
	border-radius: 2px;
	width: 110px;
	height: 24px;
	line-height: 1;
	position: relative;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	padding: 2px 4px;
}
#contact-main .div-contact-form .select-box::-ms-expand{
	display: none;
}
/* thanks */
#contact-main .div-contact-form .finish{
	margin: 0 auto;
	color: #4e4e4e;
}
#contact-main .div-contact-form .finish .contact-main-txt{
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	line-height: 30px;
}
#contact-main .div-contact-form .finish .contact-btn-wrap{
	max-width: 300px;
	margin: 140px auto 0;
}
#contact-main .div-contact-form .finish .btn-finish{
	display: block;
	font-size: 14px;
	background-color: #29d38d;
	border-bottom: 3px solid #3ea67b;
	text-align: center;
	text-decoration: none;
	padding: 12px;
	color: #ffffff;
}
/*Button*/
.wizard ul,.tabcontrol ul{
	margin: 0 auto;
	display: table;
}
.wizard ul > li,.tabcontrol ul > li{
	display: inline-block;
}
.actions .disabled{
	display: inline-block;
}
.actions ul li{
	margin-left: 10px;
}
.actions ul li:first-of-type{
	margin-left: 0;
}
.actions ul li a{
	font-size: 18px;
	padding: 11px;
	text-align: center;
	width: 280px;
}
.actions ul li .btn-pre,.actions ul li a[href="#previous"]{
	background: #ababab;
	border-bottom-color: #838181;
}
.finish strong,.finish .btn-finish{
	font-size: 18px;
}
.finish .custom-text{
	display: block;
	text-align: left;
	margin: 30px 62px 0;
}
.finish .custom-text > span{
	display: block;
	text-align: center;
}
.finish .btn-finish{
	color: #4e4e4e;
	display: block;
	margin-top: 100px;
	text-decoration: underline;
	font-weight: bold;
}
/* .apply */
.apply .main-title{
	color: #ffffff;
	font-size: 32px;
	font-weight: bold;
	padding: 240px 0 0;
	text-align: center;
}
/* apply-steps */
.apply-steps{
	max-width: 700px;
	margin: 0 auto;
	padding: 30px 0 0;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-align: center;
	align-items: center;
}
.apply-steps__item{
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-align: center;
	align-items: center;
}
.apply-steps__item:before{
	content: '';
	display: block;
	width: 0;
	height: 0;
	border-color: transparent transparent transparent #ffffff;
	border-style: solid;
	border-width: 18px;
	-ms-transform: scale(1, 0.7);
	transform: scale(1, 0.7);
	margin-right: 18px;
	margin-left: 36px;
}
.apply-steps__item:first-of-type:before{
	display: none;
}
.apply-steps__item.is_active .apply-steps__mark{
	background-color: rgba(41,210,141,0.8);
	color: #ffffff;
}
.apply-steps__item.is_active .apply-steps__mark:hover{
	color: #ffffff;
}
.apply-steps__mark{
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-align: center;
	align-items: center;
	width: 100px;
	height: 100px;
	background-color: rgba(255,255,255,0.8);
	color: #29d28d;
	border: 4px solid #29d28d;
	border-radius: 50%;
	font-weight: bold;
	text-decoration: none;
}
.apply-steps__mark:hover{
	color: #29d28d;
}
.apply-steps__ttl{
	font-size: 24px;
}
@media only screen and (max-width: 480px){
	.custom-radio{
		padding-left: 0;
		width: 100%;
	}
}
@media only screen and (max-width: 320px){
	.contact-subtitle{
		padding-bottom: 10px;
	}
}