@charset "utf-8";



/* margin set
----------------------------------------------------------------------------------------------*/
*{
margin:0;
padding:0;
}

p{
margin-bottom:10px;
}

table{
margin-bottom:10px;
}


ul{
margin-bottom:10px;
}

ol{
margin:0 0 10px 1.8em;
padding:0;
}

dl{
margin-bottom:10px;
}
tr{
    background: white;
}


/* base style
----------------------------------------------------------------------------------------------*/
html{
	min-height:100%;
	height:100%;

}

body{
	min-height:100%;
	position:relative;
	background:#fff;
	color:#595757;
}

a{
	color:#00b2e8;
}
a:hover{
	text-decoration: none;
}

input[type=text],
input[type=password],
textarea{
	border:1px solid #d6d6d6;
	padding:10px;
	background:#fff;
}
@media screen and (max-width: 750px) {
	input[type=text],
	input[type=password],
	textarea{
		font-size:16px;
	}
}
input[type=text]:focus,
input[type=password]:focus,
input[type=text]:hover,
input[type=password]:hover{
}


select{
	border:1px solid #ccc;
	border-radius:4px;
	padding:10px;
	background:#fff;
	transition:all 0.2s ease;
}
select:hover{
	border-color:#000;
}
select:focus{
	border-color:#000;
	outline:none;
}



/* global header
----------------------------------------------------------------------------------------------*/
#globalHeader{
	margin:auto;
	padding: 16px 0 10px;
	width:1200px;
	position:relative;
	color:#717071;
}
#globalHeader:before,
#globalHeader:after{
	content:"";
	display:table;
}
#globalHeader:after{
	clear:both;
}
@media screen and (max-width: 750px) {
	#globalHeader{
		box-sizing:border-box;
		padding:0 15px 5px;
		width:100%;
		/*position:static;*/
	}
	#floatBlockConteiner{
		margin-bottom:15px;
	}
	#floatingHeader{
		padding-top:15px;
		/*position:fixed !important;*/
	}
	#floatingHeader.floatBlock{
		box-sizing:border-box;
		padding:15px 15px 1px;
		width:100%;
		left:0;
		background:#fff;
	}
}



#ci{
	margin-bottom:0.2em;
	width:234px;
	height:69px;
	position:absolute;
	top: 10px;
	bottom:14px;
}
#ci a{
	display:block;
	width:inherit;
	height:inherit;
	overflow:hidden;
	transition:all 0.2s ease;
}
#ci a:hover{
	opacity:0.8;
}
#ci a:before{
	content:'';
	display:block;
	width:inherit;
	height:inherit;
	background-image:url(/public/images/common/logo_01.png);
	background-repeat: no-repeat;
}
@media screen and (max-width: 750px) {
	#ci{
		margin-bottom:15px;
		width:257px;
		height:32px;
		position:static;
	}
	#ci a:before{
		background-size:257px 32px;
		background-image:url(/public/images/common/logo_01_02.png);
		background-repeat: no-repeat;
	}
}

#shoulder{
	margin-left:255px;
	float:left;
}
#shoulder em{
	padding:0 0.2em;
	display:inline-block;
	color:#dd007f;
	font-family:Arial, Helvetica, sans-serif;
	font-size:37px;
	line-height:1;
}
#shoulder .num .update{
	line-height:1;
}
#shoulder .num .update span{
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	font-weight: bold;
	vertical-align: baseline;
}
@-moz-document url-prefix() {
	#shoulder {
		word-break: keep-all;
	}
}
@media screen and (max-width: 750px) {
	#shoulder{
		margin-left:0;
		float:none;
		font-size:12px;
	}
	#shoulder .num{
		display:none !important;
	}
}


#gnavCheckbox{
	display:none;
}
#gnavCheckbox:checked ~ #globalHeader #shoulder,
#gnavCheckbox:checked ~ #conditionsSearch,
#gnavCheckbox:checked ~ #contents,
#gnavCheckbox:checked ~ #snsArea,
#gnavCheckbox:checked ~ #globalFooter{
	display:none;
}

#gnavIcon{
	display:none;
}
@media screen and (max-width: 750px) {
	#gnavIcon{
		position:absolute;
		top:24px;
		right:15px;
		width:22px;
		height:22px;
		display:block;
	}
	#gnavIcon:before{
		content:'';
		width:inherit;
		height:inherit;
		position:absolute;
		display:block;
		background:url(/public/images/common/gnav_img_02.gif);
		background-size:46px 22px;
		opacity:1;
		transition:opacity 0.2s ease;
		-webkit-transform: translateZ(0);
	}
	#gnavIcon:after{
		content:'';
		width:inherit;
		height:inherit;
		position:absolute;
		display:block;
		background:url(/public/images/common/gnav_img_02.gif) right top;
		background-size:46px 22px;
		opacity:0;
		transition:opacity 0.2s ease;
		-webkit-transform: translateZ(0);
	}
	#gnavCheckbox:checked ~ #globalHeader #gnavIcon:before{ opacity:0; }
	#gnavCheckbox:checked ~ #globalHeader #gnavIcon:after{ opacity:1; }
}

#globalNav{}
@media screen and (min-width: 751px){
	#globalNav{
		padding-top:0.2em;
		float:right;
	}
	#globalNav ul{
		border-right:1px solid #00b2e8;
		display:table;
	}
	#globalNav ul li{
		border-left:1px solid #00b2e8;
		width:139px;
		height:51px;
		display:table-cell;
		vertical-align:top;
	}
	#globalNav ul li a{
		width:inherit;
		height:inherit;
		display:block;
		position:relative;
		overflow:hidden;
		transition:all 0.2s ease;
	}
	#globalNav ul li a:hover{
		opacity:0.8;
	}
	#globalNav ul li a:before{
		content:'';
		width:inherit;
		height:inherit;
		display:block;
		background-image:url(/public/images/common/gnav_img_01.gif);
	}
	#globalNav ul li.about a:before{ background-position:left top; }
	#globalNav ul li.contact a:before{ background-position:right top; }
}
@media screen and (max-width: 750px) {
	#globalNav{
		width:100%;
		position:fixed;
		top:65px;
		left:100%;
		bottom:0;
		background:#000;
		transition:left 0.2s ease;
		-webkit-transform: translateZ(0);
		z-index:100;
	}
	#gnavCheckbox:checked ~ #globalHeader #globalNav{
		left:0;
	}
	#globalNav li a{
		padding:25px;
		display:block;
		position:relative;
		background:#aeaeaf;
		color:#fff;
		font-size:18px;
		text-decoration:none;
	}
	#globalNav li a:before{
		content:'';
		margin:auto;
		width:10px;
		height:15px;
		position:absolute;
		top:0;
		right:28px;
		bottom:0;
		background-image:url(/public/images/common/mod_arrow_01.png);
		background-size:50px 15px;
		background-position:-30px 0;
	}
	#globalNav li + li a{
		border-top:1px solid #fff;
	}
}



/* conditionsSearch
----------------------------------------------------------------------------------------------*/
#conditionsSearch{
	background:#00b2e8;
}
#conditionsSearch > .contentsInner{
}

#conditionsSearch form{
	width:100%;
}
#conditionsSearch form div{
	position:relative;
}
#conditionsSearch form .search{
	background:#dd007f;
	transition:all 0.2s ease;
}
#conditionsSearch form .search:hover{
	background:#e43399;
}
#conditionsSearch form .search:before{
	content:'';
	margin:auto;
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	background-image:url(/public/images/common/mod_btn_search_01.png);
}
@media all and (-ms-high-contrast:none){
	#conditionsSearch form .search:before { top: 35px }
}
#conditionsSearch form .search button{
	border:none;
	width:100%;
	display:block;
	position:absolute;
	top:0;
	bottom:0;
	background:none;
	color:#fff;
	outline:none;
	text-indent:-9999px;
	z-index:2;
}
#conditionsSearch form input{
	border:none;
	box-sizing:border-box;
	width:100%;
	font-size:15px;
}
@media screen and (min-width: 751px) {
	#conditionsSearch{
		min-width:1200px;
	}
	#conditionsSearch > .contentsInner{
		margin:auto;
		padding:20px 0 15px;
		width:1200px;
	}
	#conditionsSearch form{
		display:table;
		table-layout:fixed;
	}
	#conditionsSearch form div{
		padding-right:23px;
		display:table-cell;
	}
	#conditionsSearch form .search{
		padding-right:0;
		width:115px;
	}
	#conditionsSearch form .search:before{
		width:64px;
		height:17px;
		background-size:64px 17px;
	}
	#conditionsSearch form .search button{
		text-indent:-9999px;
	}
}
@media screen and (max-width: 750px) {
	#conditionsSearch > .contentsInner{
		padding:20px 15px;
	}
	#conditionsSearch form div{
		margin-bottom:15px;
	}
	#conditionsSearch form input{
		border:none;
		box-sizing:border-box;
		width:100%;
		font-size:14px;
	}
	#conditionsSearch form .search{
		margin-bottom:0;
		width:100%;
		height:53px;
	}
	#conditionsSearch form .search:before{
		width:80px;
		height:21px;
		background-size:80px 21px;
	}
}

#conditionsSearch .tags{
	overflow: hidden;
	max-height: 24px;
	line-height: 25px;
	margin:15px 0 0 0;
	padding:10px 20px 10px 0px;
	background:#7ecef4;
	font-size:0;
}
#conditionsSearch .tags li{
	margin-left:20px;
	margin-bottom: 20px;
	display:inline-block;
	font-size:14px;
}
#conditionsSearch .tags li a{
	color:#595757;
	font-size:13px;
	text-decoration:none;
}
#conditionsSearch .tags li a:hover{
	text-decoration:underline;
}
#conditionsSearch .tags li a.level01{ font-size:13px; }
#conditionsSearch .tags li a.level02{ color:#ec9000; font-size:14px; }
#conditionsSearch .tags li a.level03{ color:#1ea439; font-size:15px; line-height:1.2 }
#conditionsSearch .tags li a.level04{ color:#0099e2; font-size:17px; line-height:1.2; }
#conditionsSearch .tags li a.level05{ color:#dd007f; font-size:18px; line-height:1.2; }




/* contents
----------------------------------------------------------------------------------------------*/
#contents{
	background:#f2f2f2;
}
@media screen and (min-width: 751px) {
	#contents{
		min-width:1200px;
	}
	#contents > .contentsInner{
		margin:auto;
		padding:30px 0;
		width:1200px;
		position:relative;
	}
	#contents > .contentsInner:before,
	#contents > .contentsInner:after{
		content:"";
		display: table;
	}
	#contents > .contentsInner:after{
		clear:both;
	}

}
@media screen and (max-width: 750px) {
	#contents > .contentsInner{
	    padding: 0px 10px 0px;
	    width: 100%;
	    overflow: hidden;
	    margin-left: 0;
	}
}

#contentsContainer{
}
@media screen and (min-width: 751px) {
	#contentsContainer{
		float:left;
		width:960px;
	}
	#contentsContainer:before,
	#contentsContainer:after{
		content:"";
		display: table;
	}
	#contentsContainer:after{
		clear:both;
	}
}

#mainContents{
}
@media screen and (min-width: 751px) {
	#mainContents{
		width:820px;
		float:left;
	}
}
@media screen and (max-width: 750px) {
	#mainContents{
		margin-bottom:0px;
	}
}

#subContents{
}
@media screen and (min-width: 751px) {
	#subContents{
		width:200px;
		float:left;
	}
}
@media screen and (max-width: 750px) {
	#subContents{
	}
}

#asideContents{
	padding-bottom:73px;
	width:200px;
	float:right;
}
@media screen and (max-width: 750px) {
	#asideContents{
		width:100%;
		float:none;
		padding-bottom:20px;
	}
}

#sideNavigation{
	margin-bottom:40px;
}
#sideNavigation ul{
	margin:0;
}
#sideNavigation li + li{
	margin-top:10px;
}
@media screen and (max-width: 750px) {
	#sideNavigation li + li{
		margin-top:10px;
	}
}
#sideNavigation a{
	border-left:5px solid #00B2E8;
	padding:10px 10px 5px 20px;
	border-radius:2px;
	display:block;
	position:relative;
	background:#fff;
	color:#595757;
	font-size:16px;
	text-decoration:none;
	transition:all 0.2s ease;
}
/*#sideNavigation a:before{
	content:'';
	margin:auto;
	width:8px;
	height:13px;
	position:absolute;
	top:0;
	bottom:0;
	left:8px;
	background:url(/public/images/common/mod_arrow_02.png) -26px 0;
}*/
#sideNavigation a:hover{
	background:#e8e8e8;
}
.sideNavigation_maintext{
	font-size:20px;
	font-style:bold;
	line-height: 1.3em;
	margin-bottom:none;
	color:#00B2E8;
}
.sideNavigation_subtext{
	font-size:12px;
	line-height: 1.3em;
	margin-bottom:none;
}
@media screen and (max-width: 750px) {
	#sideNavigation a{
		border-left:5px solid #00B2E8;
		padding:15px 0px 5px 15px;
		border-radius:2px;
		display:block;
		position:relative;
		background:#fff;
		color:#595757;
		font-size:16px;
		text-decoration:none;
		transition:all 0.2s ease;
	}
	#sideNavigation a:hover{
		background:#e8e8e8;
	}
	.sideNavigation_maintext{
		font-size:15px;
		font-style:bold;
		line-height: 1em;
		margin-bottom:none;
		color:#00B2E8;
	}
	.sideNavigation_subtext{
		font-size:11px;
		line-height: 1em;
		margin-bottom:none;
		margin-left: 10px;
		color:#717071;
	}
}
#pageTop{
	z-index:2;
}
#pageTop a{
	display:block;
	background-image:url(/public/images/common/pagetop_img_01.gif);
	overflow:hidden;
	text-indent:-9999px;
	transition:opacity 0.2s ease;
}
#pageTop a:hover{
	opacity:0.8;
}
@media screen and (min-width: 751px) {
	#pageTop{
		margin-left:400px;
		position:fixed;
		left:50%;
		bottom:30px;
	}
	#pageTop.absolute{
		margin-left:0;
		position:absolute;
		right:136px;
		left:auto;
	}
	#pageTop a{
		width:63px;
		height:63px;
	}

}
@media screen and (max-width: 750px) {
	#pageTop{
		position:fixed;
		right:15px;
		bottom:16px;
	}
	#pageTop a{
		width:50px;
		height:50px;
		background-image:url(/public/images/common/pagetop_img_02.gif);
		background-size:50px 50px;
		box-shadow: 0 1px 4px rgba(0,0,0,0.4);
	}
}



/* global fotter
----------------------------------------------------------------------------------------------*/
#snsArea{
	margin:auto;
	padding:20px 0;
	width:1200px;
}
#snsArea ul{
	margin:auto;
	display:table;
}
#snsArea ul li{
	display:table-cell;
}
#snsArea ul li + li{
	padding-left:15px;
}
#snsArea ul li a{
	display:block;
	width:169px;
	height:50px;
	position:relative;
	text-indent:-9999px;
	overflow:hidden;
	transition:opacity 0.2s ease;
}
#snsArea ul li a:hover{
	opacity:0.8;
}
#snsArea ul li a:before{
	content:'';
	margin:auto;
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	background-image:url(/public/images/common/logo_sns_01.png);
	background-size:120px 26px;
}
#snsArea ul li.fb a{ background:#3b5998; }
#snsArea ul li.fb a:before{ width:14px; height:26px; background-position:0 0; }
#snsArea ul li.tw a{ background:#20aee5; }
#snsArea ul li.tw a:before{ width:29px; height:24px; background-position:-30px 0; }
#snsArea ul li.gp a{ background:#dc4b39; }
#snsArea ul li.gp a:before{ width:24px; height:23px; background-position:-60px 0; }
#snsArea ul li.hb a{ background:#008fde; }
#snsArea ul li.hb a:before{ width:25px; height:21px; background-position:-90px 0; }
@media screen and (max-width: 750px) {
	#snsArea{
		box-sizing:border-box;
		padding:15px;
		width:100%;
		position:static;
	}
	#snsArea ul li + li{
		padding-left:18px;
	}
	#snsArea ul li a{
		width:58px;
		height:48px;
	}
}

#globalFooter{
	margin:auto;
	background:#00b2e8;
}
#globalFooter > .contentsInner{
	position:relative;
}
@media screen and (min-width: 751px) {
	#globalFooter{
		min-width:1200px;
	}
	#globalFooter > .contentsInner{
		margin:auto;
		padding:10px 0 5px;
		width:1200px;
	}
}
@media screen and (max-width: 750px) {
	#globalFooter > .contentsInner{
		padding:0 0 1px;
	}
}

#footerNav{}
@media screen and (min-width: 751px) {
	#footerNav{
		box-sizing:border-box;
		margin-bottom:46px;
		border-right:1px solid #fff;
		width:100%;
		display:table;
		table-layout:fixed;
		font-size:12px;
	}
	#footerNav li{
		border-left:1px solid #fff;
		display:table-cell !important;
		line-height:23px;
		text-align:center;
		vertical-align:middle;
	
	}
	#footerNav li a{
		color:#fff;
		text-decoration:none;
	}
	#footerNav li a:hover{
		text-decoration:underline;
	}
	#footerNav li a:before{
		content:'＞';
	}
}
@media screen and (max-width: 750px){
	#footerNav{
		margin:0;
		background:#f0f0f0;
		font-size:12px;
	}
	#footerNav li + li{
		border-top:1px solid #d2d2d2;
	}
	#footerNav a{
		padding:15px;
		display:block;
		color:#282828;
		text-decoration:none;
	}
	#footerNav a:before{
		content:'＞';
	}
}

#footerutilityNav{}
@media screen and (min-width: 751px) {
	#footerutilityNav{
		margin-left:160px;
	}
	#footerutilityNav li{
		padding-right:12px;
		display:table-cell;
	}
	#footerutilityNav li br {
		display:none;
	}
	#footerutilityNav li a{
		color:#fff;
		font-size:12px;
		text-decoration:none;
	}
	#footerutilityNav li a:hover{
		text-decoration:underline;
	}
	#footerutilityNav li a:before{
		content:'＞';
	}
}
@media screen and (max-width: 750px) {
	#footerutilityNav{
		margin:0 0 15px;
		border-bottom:1px solid #fff;
		width:100%;
		display:table;
		table-layout:fixed;
	}
	#footerutilityNav li{
		box-sizing:border-box;
		display:table-cell;
		font-size:10px;
		vertical-align:middle;
	}
	#footerutilityNav li + li{
		border-left:1px solid #fff;
	}
	#footerutilityNav li a{
		padding:12px 10px 12px 24px;
		display:block;
		color:#fff;
		text-decoration:none;
		text-indent:-1em;
	}
	#footerutilityNav li a:before{
		content:'＞';
	}
}

#footerLogo{
}
#footerLogo img{
	width:100%;
}
@media screen and (min-width: 751px) {
	#footerLogo{
		width:133px;
		position:absolute;
		left:0;
		bottom:15px;
	}
}
@media screen and (max-width: 750px){
	#footerLogo{
		margin-left:15px;
		margin-bottom:10px;
		width:103px;
	}
}

#copyright{
	color:#fff;
	font-size:11px;
}
@media screen and (min-width: 751px) {
	#copyright{
		position:absolute;
		right:0;
		bottom:15px;
	}
}
@media screen and (max-width: 750px) {
	#copyright{
		margin-left:15px;
		margin-bottom:10px;
		font-size:8px;
		line-height:1;
	}
}