.fl {
  float: left;
  font-size: 11px;
}
.fr {
  float: right;
  font-size: 11px;
  margin-top: -2px;
}


/****************INDEX********************/
.banner .background{
	max-height: 500px;
	overflow: hidden;
}

.contentBlog {
  background: #fff;
}

.contentBlog .article-box{
	padding: 30px 0;
	border-color: #dddddd;
}

.contentBlog .article-box .search-image{
	height: auto;
	width: 200px;
	padding: 0 10px;
	vertical-align: middle;
}

.contentBlog .article-box .search-content{
	width: 69.4%;
	vertical-align: middle;
	padding-right: 10px;
	padding-left: 10px;
}
.contentBlog .article-box .reference{
	text-align: right;
    display: table-cell;
    vertical-align: middle;
}
.contentBlog .article-box .reference .icon-big-arrow{
	width: 30px;
	height: 110px;
}

.contentBlog .article-box .search-content h3{
	font-size: 28px;
	font-weight: bold;
}
.contentBlog .article-box .search-content .short{
	font-size: 22px;
	line-height: 1.6;
}

.contentBlog .article-box .search-image img{
	width: 100%;
	position: static;
	height: auto;
	-webkit-transform: none;
	-ms-transform: none;
	-o-transform: none;
	transform: none;
}

/**********************BLOG category******************************/
.category-banner.banner .background{
	max-height: 300px;
}
.banner .blog-avatar{
	text-align: center;
	margin-top: -90px;
}
.banner .blog-avatar img{
	width: 180px;
}

.blog-info h1{
	font-size: 34px;
	text-align: center;
}
.blog-info.blog-title h1{
	text-align: left;
}
.blog-info h2{
	font-size: 24px;
}

.blog-info-bottom{
	border-bottom: 1px solid #dddddd;
	height: 65px;
}
/**************************DETAIl*****************************************/
.banner .blog-view{
	position: absolute;
	bottom: 110px;
	right: 40px;
	color: white;
}
.banner .blog-view big{
	font-size: 30px;
}

.banner .blog-view .clip-of-logo{
	background: url(/img/logo-white-230-sp.png) no-repeat top left;
    display: inline-block;
    width: 30px;
    height: 36px;
    background-position: 1px 1px;
    background-size: 150px;
    vertical-align: top;
}