/*------------------BLOG content------------------*/
.blog-content{
	width: 942px;
	margin: 0 auto;
}
/*------------------BLOG------------------*/
.list_blog .main-list li {
	width: 33.3%;
	padding: 0 10px;
	margin-bottom: 20px;
}

.person-item{
	height: 200px;
	overflow: hidden;
	position: relative;
	margin-top: 20px;
}

.person-item .avatar{
	position: absolute;
	bottom: 0;
	right: 10px;
	z-index: 2;
}
.person-item .div_img:before{
	content: "";
	display: block;
	top:0;
	right:0;
	left:0;
	bottom: 0;
	background: rgba(0,0,0,0.25);
	z-index: 1;
	position: absolute;
}

.person-item .div_img img{
	width: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
}
.person-item .info{
	position: absolute;
	z-index: 1;
	top:0;
	left: 0;
	width: 75%;
	padding: 20px;
	color: #ffffff;
} 

.person-item .i-title{
	margin: 0;
	font-size: 19px;
}
.person-item .short p{
	margin: 0;
}
.person-item .short{
	margin: 8px 0;
}

.person-item hr{
	margin: 0;
	border-color: #8e8e8e;
}

.person-item .attribute{
	padding: 11px 8px 0 8px;
}
.person-item .attribute span{
	margin-right: 20px;
}

.person-item .bottom-part{
	margin-top: 27px;
	font-size: 10px;
}
.person-item .bottom-part span{
	float: right;
}

.person-item .bottom-part .i-date{
	margin-right: 20px;
}
/*------------------BLOG person-list------------------*/
.person-list:before,
.person-list:after{
	content: "";
	clear: both;
	display: table;
}
.person-list .person-item-box{
	float: left;
	width: 25%;
	height: auto;
}

.person-item-box .item{
	margin-top: 60px;
	height: 292px;
	color: #4e4e4e;
}

.person-item-box .item .top-part,
.person-item-box .item .content-part{
	text-align: center;
}
.person-item-box .item img{
	width: 131px;
}

.person-item-box .item .content-part{
	margin-top: 20px;
}

.person-item-box .item .bottom-part{
	margin-top: 20px;
	padding: 0 25px;
}

.person-item-box .item .i-title{
	font-size: 14px;
    margin-top: 0;
    margin-bottom: 16px;
	text-align: center;
	font-weight: 600;
}

.person-item-box .item  .short{
	letter-spacing: 0.7px;
	font-size: 10.5px;
	line-height: 1.7;
	font-weight: 600;
}



/*********CATEGORY**********/
.container.blog-category-layout{
	padding: 0 10px;
}

/************************person-item-header*************************/
.person-item-header .container{
	padding: 0 20px;
	position: relative;
	margin-top: -178px;
}

.person-item-header .top-part{
	height: 320px;
	overflow: hidden;
}
.person-item-header .top-part img{
	width: 100%;
}


.person-item-header .content-part
{
	background: rgba(0, 0, 0, 0.28);
    font-size: 10px;
    color: white;
    padding: 15px 10px;
    display: inline-block;
	line-height: 18px;
}

.person-item-header .content-part .attribute{
	margin-top: 10px;
}

.person-item-header .bottom-part {
	margin-top: -20px;
	color: #4e4e4e;
	
}

.person-item-header .bottom-part img{
	width: 131px;
	
}

.person-item-header .i-title{
	font-size: 16px;
	margin-top: 20px;
	margin-bottom: 15px;
	font-weight: 600;
}
.person-item-header .short{
	font-size: 12px;
	width: 500px;
	margin: 0 auto;
	font-weight: 600;
}
.person-item-header .short p{
	margin: 0;
}

/******************DETAIL BLOG*********************/
.detail_blog .person-item{
	margin-top: 10px;
}

.detail_info {
	padding-top: 10px;
	margin-bottom: 10px;
}
.detail_info .view  {
	padding-left: 10px;
}
.fb_iframe_widget {
	position: relative;
	top: -5px;
}

.title_other {
	padding-top: 15px;
	padding-bottom: 10px;
	padding-left: 10px;
	color: #939393;
}