/*---------------------------------HEADER-------------------------------*/
.callcenter-header{
		padding-bottom: 0;
	}
	
	.callcenter-header .intro,
	.callcenter-header .title{
		padding-left: 200px;
	}
	
	.callcenter-header .intro{
	    border-top: 0px solid #0097c5;
	    background: #00b2e8;
	    border-bottom-left-radius: 3px;
	    border-bottom-right-radius: 3px;
	    position: relative;
	}
	.callcenter-header .intro h2{
	    color: white;
	    font-size: 12px;
	    line-height: 1.6;
	    padding: 12px 0px;
	    margin: 0;
	}
	.callcenter-header .intro:before{
		content: "";
		background: url('/img/callcenter_logo.png') no-repeat center;
		width: 110px;
		height: 110px;
		display: block;
		position: absolute;
		left: 55px;
		top: -60px;
	}
	.callcenter-header .title{
		color: #00b2e8;
	}
	.callcenter-header .title > p{
	    font-size: 14px;
	    padding-top: 15px;
	    font-family: Times, Times New Roman, serif;
	    font-weight: bold;
	    letter-spacing: 0.2em;
	}
	.callcenter-header .title > h1{
	    font-size: 22px;
	    padding-bottom: 10px;
	    margin: 0;
	    font-weight: bold;
	}
	.callcenter-header .title > h1 small{
		font-size: 16px;
		color: inherit;
		font-weight: bold;
		margin-left: 5px;
	}
.callcenter .des-header{
	margin: 0;
	font-size: 12px;
	line-height: 1.8;
}
.callcenter .list-header{
	margin-bottom: 10px;
	margin-top: 12px
}
.list-header > h1
{
	color: #4e4e4e;
    font-size: 14px;
}

.keyword-result .number-result{
	float: right;
    line-height: 1;
    margin-top: 6px;
    font-size: 10.5px;
    font-weight: normal;
    color: #4e4e4e;
}
/*---------------------------------AREA POSITION-------------------------------*/
/*TODO: common button*/
	.btn-area{
		padding: 8px 10px 8px 15px;
		line-height: 1;
		color: white;
		font-size: 12px;
		border-radius: 3px;
		background: gray;
		display: inline-block;
		width: 100px;
	}
	.btn-area:hover,
	.btn-area:focus
	{
		text-decoration: none;
		color: white;
	}
	.btn-area > span{
		width: 36px;
    	display: inline-block;
		text-align: justify;
		vertical-align: middle;
    	height: 12px;
		overflow: hidden;
		margin-right: 4px;
	}
	.btn-area > span:after{
		content: "";
		display: inline-block;
		width: 100%;  
	}	
	
	/*TODO: btn colors*/
	.callcenter-area .group-1 .btn-area{
		background: #5a85ff;
	}
	.callcenter-area .group-2 .btn-area{
		background: #31b779;
	}
	.callcenter-area .group-3 .btn-area,
	.callcenter-area .group-4 .btn-area{
		background: #ffc028;
	}
	.callcenter-area .group-5 .btn-area{
		background: #f493ff;
	}
	.callcenter-area .group-6 .btn-area{
		background: #a1825e;
	}
	.callcenter-area .group-7 .btn-area{
		background: #ff9bbe;
	}
	/*TODO: button setting*/
	.callcenter-area .group-area{
		position: absolute;
	}
	.callcenter-area  ul{
		position: relative;
	}
	.callcenter-area  ul li{
		position: absolute;
	}
	/*TODO: group 1 position*/
	.callcenter-area .group-1{
		top: 9px;
		left: 709px;
	}
	.callcenter-area .group-1 ul{
		height: 430px;
		width: 250px;
	}
	.callcenter-area .pro-1
	{
		top:0;
		left: 0;
	}
	
	.callcenter-area .pro-2
	{
		right: 0;
		bottom: 200px;
	}
	.callcenter-area .pro-3{
		right: 0;
		bottom: 160px;
	}
	.callcenter-area .pro-4{
		right: 0;
		bottom: 120px;
	}
	.callcenter-area .pro-5{
		right: 0;
		bottom: 80px;
	}
	.callcenter-area .pro-6{
		right: 0;
		bottom: 40px;
	}
	.callcenter-area .pro-7{
		right: 0;
		bottom: 0px;
	}
	
	/*TODO: group 2 position*/
	.callcenter-area .group-2{
		top: 479px;
		left: 750px;
	}
	.callcenter-area .group-2 ul{
		height: 190px;
		width: 210px;
	}
	
	.callcenter-area .pro-13
	{
		right:0;
		top:0;
	}
	.callcenter-area .pro-14
	{
		right: 0;
		top: 40px;
	}
	.callcenter-area .pro-11{
		right: 0;
		top: 80px;
	}
	.callcenter-area .pro-12{
		right: 0;
		top: 120px;
	}
	.callcenter-area .pro-8{
		right: 0;
		top: 160px;
	}
	.callcenter-area .pro-9{
		left: 0;
		bottom: 40px;
	}
	.callcenter-area .pro-10{
		left: 0;
		bottom: 0px;
	}
	
	/*TODO: group 3 position*/
	.callcenter-area .group-3{
		top: 110px;
		left: 590px;
	}
	.callcenter-area .group-3 ul{
		width: 110px;
	}
	.callcenter-area .pro-15{
		left: 0;
		top:0;
	}
	.callcenter-area .pro-16{
		left: 0;
		top:40px;
	}
	.callcenter-area .pro-17{
		left: 0;
		top:80px;
	}
	.callcenter-area .pro-18{
		left: 0;
		top:120px;
	}
	.callcenter-area .pro-19{
		left: 0;
		top:160px;
	}
	.callcenter-area .pro-20{
		left: 0;
		top:200px;
	}
	
	/*TODO: group 4 position*/
	.callcenter-area .group-4{
		top: 600px;
		left: 630px;
	}
	.callcenter-area .group-4 ul{
		width: 110px;
	}
	.callcenter-area .pro-23{
		left: 0;
		top:0;
	}
	.callcenter-area .pro-21{
		left: 0;
		top:40px;
	}
	.callcenter-area .pro-22{
		left: 0;
		top:80px;
	}
	.callcenter-area .pro-24{
		left: 0;
		top:120px;
	}
	
	
	/*TODO: group 5 position*/
	.callcenter-area .group-5{
		top: 210px;
		left: 470px;
		z-index: 2;
	}
	.callcenter-area .group-4 ul{
		width: 110px;
	}
	.callcenter-area .pro-27{
		left: 0;
		top:0;
	}
	.callcenter-area .pro-25{
		left: 0;
		top:40px;
	}
	.callcenter-area .pro-26{
		left: 0;
		top:80px;
	}
	.callcenter-area .pro-28{
		left: 0;
		top:120px;
	}
	.callcenter-area .pro-29{
		left: 0;
		top:160px;
	}
	.callcenter-area .pro-30{
		left: 0;
		top:200px;
	}
	
	/*TODO: group 7 position*/
	.callcenter-area .group-6{
		top: 368px;
		left: 240px;
	}
	.callcenter-area .group-6 ul{
		width: 370px;
		height:380px;
	}
	
	.callcenter-area .pro-31{
		left: 0;
		top:40px;
	}
	
	.callcenter-area .pro-32{
		left: 110px;
		top:0;
	}
	.callcenter-area .pro-33{
		left: 110px;
		top:40px;
	}
	.callcenter-area .pro-34{
		left: 110px;
		top:80px;
	}
	.callcenter-area .pro-35{
		left: 0;
		top:80px;
	}
	.callcenter-area .pro-36{
		right:0;
		bottom:0;
	}
	.callcenter-area .pro-37{
		right:0;
		bottom:40px;
	}
	.callcenter-area .pro-38{
		right: 110px;
		bottom:40px;
	}
	.callcenter-area .pro-39{
		right: 110px;
		bottom: 0px;
	}
	
	/*TODO: group 7 position*/
	.callcenter-area .group-7{
		top: 308px;
		left: 120px;
	}
	.callcenter-area .group-7 ul{
		width: 110px;
		height: 440px;
	}
	.callcenter-area .pro-40{
		left: 0;
		bottom:270px;
	}
	.callcenter-area .pro-41{
		left: 0;
		bottom:230px;
	}
	.callcenter-area .pro-42{
		left: 0;
		bottom:190px;
	}
	.callcenter-area .pro-43{
		left: 0;
		bottom:150px;
	}
	.callcenter-area .pro-44{
		left: 0;
		bottom:110px;
	}
	.callcenter-area .pro-45{
		left: 0;
		bottom:70px;
	}
	.callcenter-area .pro-46{
		left: 0;
		bottom:30px;
	}
	
	.callcenter-area .pro-47{
		right: 0;
		top:0;
	}

/*---------------------------------TOP-------------------------------*/
.callcenter-top .callcenter-full-map{
	text-align: right;
}

.callcenter .list-header{
	width: 590px;
}

.callcenter-area{
	
}

.callcenter-top{
		margin-bottom: 123px;
		position: relative;
}
.callcenter-area ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
.callcenter-top .callcenter-full-map img{
	margin-top: -39px;
	margin-right: 120px;
}
@media only screen and (max-width: 1024px) {
	.callcenter-top {
		margin-left: -20px;
		margin-right: -20px;
	}
}
/*---------------------------------AREA + CITY-------------------------------*/

.select-group {
	margin-top: 15px;
	margin-bottom: 10px;
}

.select-group .pull-right > *{
	vertical-align: middle;
}
.select-group .pull-right > *:nth-child(2){
	margin: 0 6px;
}

.select-group .custom-select:before {
	top: 14px;
    right: 10px;
    left: auto;
}

.select-group .custom-select select {
	padding: 10px 20px 10px 10px;
	background: #ffffff;
}

.select-group .custom-select {
	width: 180px;
}

.pagination-box {
	padding: 0 0 0 1px;
	margin: 0;
	list-style: none;
	overflow: hidden;
}

.pagination-box li a {
	color: #666;
	font-size: 14px;
	padding: 0 5px;
	display: block;
	width: 27px;
	text-align: center;
}

.pagination-box li.active a {
	font-weight: bold;
}

.pagination-box li.disable a {
	color: #C0C0C0;
	cursor: default;
}

.pagination-box li {
	float: left;
}

.pagination-box li:first-child {
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
}

.pagination-box li:last-child {
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
}

.call-center-bar .pagination-box {
	display: inline-block;
	vertical-align: bottom;
	margin-left: 5px;
	position: relative;
    top: -2px;
}

.call-center .call-center-bar .pull-left {
	margin-top: 0;
    font-size: 14px;
    margin-left: 10px;
    color: #666666;
}
.call-center .call-center-bar .pull-left span{
	font-size: 12px;
	margin-left: 5px;
}

.call-center-list {
	margin-top: 20px !important;
    margin-bottom: 30px;
    height: 800px;
    background-color: #eee;
    border-radius: 5px;
}
.call-center-list.relation-callcenter{
	height: 400px;
}
.call-center-list .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	width: 5px;
}

.call-center-list ol {
	list-style: none;
	padding-left: 0;
}

.call-center-list ol li {
	padding: 9px 10px;
    margin-right: 10px;
    padding-right: 0px;
	padding-left: 180px;
	position: relative;
}

.call-center-list ol li.first-row{
	padding-top: 29px;
}

.call-center-list ol li .list-label {
	position: absolute;
	left: 20px;
	color: white;
	border-bottom: none;
	font-size: 12px;
	background: #5a85ff;
	border-radius: 3px;
	width: 140px;
	line-height: 30px;
	text-align: center;
}
.call-center-list ol li .list-label a{
	color: white;
}
.call-center-list ol li .list-city{
	border-bottom: 1px solid #dadada;
	padding-left: 0px;
	padding-bottom: 25px;
}
.call-center-list ol li h4 {
	margin: 0;
    font-size: 14px;
    line-height: 1.5;
    width: 600px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.call-center-list ol li h4 a {
	font-size: 14px;
    font-weight: bold;
    color: #444444;
    padding-right: 5px;
    padding-bottom: 3px;
    text-decoration: none;
    width: 200px;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: middle;
}
.call-center-list ol li h5 {
	margin: 0;
    font-size: 12px;
    line-height: 1.5;
}
.call-center-list ol li p {
	font-size: 12px;
	line-height: 1.5em;
	color: #808080;
	margin: 0;
	padding-top: 5px;
    padding-left: 15px;
}

.call-center-list ol li p:last-child{
    float: right;
    margin-top: -20px;
}
.call-center-list ol li span{
    color:#00b2e8;
}
.callcenter-layout button{
	background: #29d38d;
	border: none;
	border-radius: 4px;
	color: white;
	padding: 10px 30px;
	font-size: 14px;
}

.call-center-bar .brick-btn {
	margin-top: 20px;
    width: 71%;
    padding: 2px;
    box-shadow: 0px 3px #2387a6;
    font-size: 16px;
    border-radius: 0px;
}
.call-center-bar{
    text-align: center;
}

.callcenter-layout .list-sub-header{
    margin-top: 10px;
    font-size: 14px;
    color: #686868;
    line-height: 1.6;
}

.callcenter-layout .list-header {
    margin-top: 12px;
	margin-bottom: 0;
}
/*---------------------------------DETAIL-------------------------------*/

.callcenter-detail .topic-header .ptop > span {
	font-size: 13px;
	color: #808080;
}

.callcenter-detail .topic-header .ptop > strong {
	color: black;
}

.callcenter-detail .common-panel hr{
	margin: 40px 0;
	border-color: #ababab;
}

.callcenter-detail{
	margin-bottom: 45px;
}
.callcenter-detail h2{
    padding-top: 20px;
    border-bottom: 1px dotted #d0d0d0;
    padding-bottom: 10px;
	margin: 0;
	font-size: 16px;
    color: #444444;
    font-weight: bold;
}

.callcenter-detail h2 > span{
	font-size: 14px;
    color: #444444;
    font-weight: normal;
}

.callcenter-detail .common-panel .relation-job{
    padding-top: 20px;
}
.callcenter-contact {
	color: #4a4a4a;
	padding-top: 8px;
	padding-bottom: 10px;
}
.callcenter-contact a{
    color:#31cdf4;
}


.relation-job .title {
	font-size: 12px;
	color: #636363;
	font-weight: bold;
	margin-bottom: 20px;
}

.relation-job > ul {
	list-style: none;
	padding: 0;
}

.relation-job > ul li {
	margin-bottom: 10px;
    padding-bottom: 10px;
}

.relation-job > ul li .clearfix p {
	margin: 0;
	color: black;
}

.relation-job > ul li .pull-left p a {
	text-decoration: underline !important;
	color: inherit;
}

.relation-job > ul li .pull-left p:last-child {
	margin-top: 5px;
}

.relation-job ul li p:last-child{
    float: left;
    margin-top: 2px;
}

.relation-job p:first-child:before{
    content: "▶";
	font-size: 10px;
	margin-right: 5px;
}
.relation-job p:first-child{
	margin-bottom: 3px;
}
.find-way-link {
	font-size: 14px;
	margin-bottom: 20px;
	text-align: right;
}

.find-around-link {
	text-align: right;
	padding-top: 15px;
	padding-bottom: 10px;
}

.find-around-link .brick-btn{
    box-shadow: none;
	border-radius: 3px;
	line-height: 25px;
	padding-left: 10px;
	padding-right: 10px;
	color: white;
	display: inline-block;
	background-color: #29d38d;
}

.find-way-link a {
	color: #808080;
	text-decoration: underline !important;
}

/*---------------------------------Around-------------------------------*/
.call-center-list.relation-callcenter li{
	border-bottom: none;
	/*background: #F2F2F2;*/
	margin-bottom: 10px;
}
.call-center-list.relation-callcenter li > div{
	display: inline-block;
	vertical-align: top;
}
.call-center-list.relation-callcenter li > span{
	display: inline-block;
	vertical-align: middle;
	position: relative;
    width: 20px;
	border-radius: 100%;
    text-align: center;
	margin-right: 10px;
	line-height: 18px;
	border: 1px solid #00b2e8;
}

.call-center-list.relation-callcenter li > span i{
	font-size: 12px;
	color: #00b2e8;
    font-style: normal;
}

.call-center-list.relation-callcenter ol li,
.call-center-list.relation-callcenter ol{
    padding: 6px;
	margin-right: 0;
}

.call-center-list.relation-callcenter li{
    padding: 0;
	margin-bottom: 15px;
}
.callcenter-around h2{
    color: #565656;
    border-bottom: 1px dotted #d0d0d0;
    padding-bottom: 5px;
	margin-top: 0;
	font-size: 22px;
}

.callcenter-map{
	margin-top: 20px;
}

#markerLayer img {
        border: 2px solid red !important;
        width: 85% !important;
        height: 90% !important;
        border-radius: 5px;
}

/*-----------------right colum in area---------------------- */
.callcenter-rightcolumn .right-breadrum{
	border-bottom: 1px solid #ababab;
	margin-top: 12px;
}

.callcenter-rightcolumn .right-breadrum p{
    color: #4e4e4e;
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: bold;
}

.callcenter-rightcolumn .right-area{
	position: relative;
	margin-top: 40px;
	margin-bottom: 40px;
	text-align: center;
	overflow: hidden;
}

.callcenter-rightcolumn .group-search {
	margin-bottom: 30px;
}

/*[group-1]*/
.right-area .img-group-1{
	max-height: 430px;
}
.callcenter-area .right-group-1{
	top: 0;
	left: 40px;
}
.call-center-list ol li .group-1{
	background: #5a85ff ;
}
.callcenter-area .right-group-1 ul li a.btn-area{
	background: #5a85ff;
	opacity: 0.6;
}
.callcenter-area .right-group-1 ul li a.active{
	opacity: 1;
}
/*[ end group-1]*/

/*[group-2]*/
.group-height-2{
	min-height: 190px;
}

.callcenter-area .right-group-2{
	right: 0;
	top: 0;
	left: inherit;
}
.call-center-list ol li .group-2{
	background: #31b779 ;
}
.callcenter-area .right-group-2 ul li a.btn-area{
	background: #31b779;
	opacity: 0.6;
}
.callcenter-area .right-group-2 ul li a.active{
	opacity: 1;
}
/*[ end group-2]*/

/*[group-3]*/
.group-height-3 .img-group-3{
	padding-top: 250px;
}
.callcenter-area .right-group-3{
	top: 0;
	left: 150px
}
.call-center-list ol li .group-3{
	background: #ffc028 ;
}
.callcenter-area .right-group-3 ul li a.btn-area{
	background: #ffc028;
	opacity: 0.6;
}
.callcenter-area .right-group-3 ul li a.active{
	opacity: 1;
}
/*[ end group-3]*/

/*[group-4]*/
.group-height-4{
	min-height: 380px;
}
.callcenter-area .right-group-4{
	top: 230px;
	left: 175px;
}
.call-center-list ol li .group-4{
	background: #ffc028 ;
}
.callcenter-area .right-group-4 ul li a.btn-area{
	background: #ffc028;
	opacity: 0.6;
}
.callcenter-area .right-group-4 ul li a.active{
	opacity: 1;
}
/*[ end group-4]*/

/*[group-5]*/
.img-group-5{
	padding-top: 250px;
}
.callcenter-area .right-group-5{
	top: 0;
	left: 115px;
}
.call-center-list ol li .group-5{
	background: #f493ff ;
}
.callcenter-area .right-group-5 ul li a.btn-area{
	background: #f493ff;
	opacity: 0.6;
}
.callcenter-area .right-group-5 ul li a.active{
	opacity: 1;
}
/*[ end group-5]*/

/*[group-6]*/
.img-group-6{
	padding-top: 130px;
	padding-bottom: 90px;
}
.callcenter-area .right-group-6{
	top: 0;
	left: 0;
}
.call-center-list ol li .group-6{
	background: #a1825e ;
}
.callcenter-area .right-group-6 ul li a.btn-area{
	background: #a1825e;
	opacity: 0.6;
}
.callcenter-area .right-group-6 ul li a.active{
	opacity: 1;
}
/*[ end group-6]*/

/*[group-7]*/
.callcenter-area .right-group-7{
	top: 60px;
	left: 60px;
}
.call-center-list ol li .group-7{
	background: #ff9bbe ;
}
.callcenter-area .right-group-7 ul li a.btn-area{
	background: #ff9bbe;
	opacity: 0.6;
}
.callcenter-area .right-group-7 ul li a.active{
	opacity: 1;
}
/*[ end group-7]*/
.group-search .clearfix{
	margin-top: 20px;
}

.group-search button {
	background: #29d38d;
	border: none;
	border-radius: 3px;
	color: white;
	line-height: 32px;
	width: 127px;
	font-size: 13px;
}

.group-search .custom-select{
	width: 220px;
	margin-right: 10px;
}
@media only screen and (max-width: 1024px) {
	.group-search .custom-select{
		width: 200px;
	}
}
/*-----------------end right colum in area---------------------- */
#map{
	height: 360px;
}