@charset "utf-8";
.callcentersp-around{
	font-size: 12px;
}
/*---------------------------------DROPDOW-TOP-------------------------------*/
#navPanel{
	max-width: 300px;
}
.panel-title > a{
	color: inherit;
	display: block;
	font-weight: bold;
	font-size: 2.4em;
	padding: 0.62em;
	line-height: 1.8;
}
.panel-title > a span span{
	font-weight: normal;
	font-size: 0.77em;
}
.panel-body{
	padding: 0px;
}
.list-group{
	padding-left: 0;
	margin-bottom: 0px;
	border-radius: 0;
	box-shadow: none;
}
.glyphicon-plus:before{
	content: "\e260";
}
.collapsed .glyphicon-plus:before{
	content: "\e259";
}
.glyphicon-link:before{
	content: "\e258";
}
.panel-primary > .panel-heading{
	color: #00b2e8;
	background: #ffffff;
	padding: 0px;
	border-radius: 0;
}
.panel-primary{
	border: none;
}
.callcenter-top{
	background: none;
	box-shadow: none;
	padding-top: 0px;
	padding-bottom: 0px;
}
.callcenter-top .panel-title > a:focus,.callcenter-top .panel-title > a:hover{
	color: #00b2e8 !important;
}
.callcenter-top .pull-right{
	width: auto;
	float: right !important;
	margin-top: 0.3em;
}
.callcenter-top .panel-title{
	font-size: inherit;
	text-align: center;
}
.panel-primary > .panel-heading + .panel-collapse > .panel-body{
	border-top: none;
}
.list-group-item{
	padding: 0.7em;
	border: 0;
	border-bottom: 2px dotted #ececec;
}
.list-group-item:last-child{
	border-radius: 0;
}
.list-group-item .glyphicon{
	font-size: 0.8em;
	margin-right: 4px;
}
.callcenter-top a.list-group-item{
	color: #00b2e8;
	font-size: 2.2em;
	font-weight: bold;
}
.callcenter-top a.list-group-item:focus{
	color: #00b2e7 !important;
	background: #ffffff;
}
.callcenter-top .panel-group .panel + .panel{
	margin-top: 0.8em;
}
.callcenter-top .panel-group .panel{
	box-shadow: none;
}
.croll-boxtop{
	margin-top: 2em;
}
.callcenter-top .panel-group{
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 2em;
}
.croll-boxtop strong{
	font-size: 0.75em;
	font-family: Kozuka Gothic Pr6n;
}
/*---------------------------------HEADER-------------------------------*/
.callcentersp-header{
	width: 100%;
	position: relative;
}
.callcentersp-around{
	padding-left: 0px !important;
	padding-right: 0px !important;
}
.callcentersp-header .img{
	position: absolute;
	width: 20%;
	top: 0.2em;
	left: 5%;
}
.callcentersp-header .img img{
	width: 100%;
}
.callcentersp-header p{
	color: #00b2e8;
	font-size: 2em;
	font-family: Times, Times New Roman, serif;
	font-weight: bold;
	padding-left: 30%;
	padding-top: 3.5%;
	margin-bottom: 1%;
	letter-spacing: 0.2em;
}
.callcentersp-header h1{
	background: #00b2e8;
	color: #ffffff;
	margin: 0px;
	padding-top: 3.5%;
	padding-left: 30%;
	font-size: 3em;
	font-weight: bold;
	white-space: nowrap;
	line-height: 1;
}
.callcentersp-header h2{
	background: #00b2e8;
	padding: 2%;
	color: #ffffff;
	margin: 0px;
	padding-left: 30%;
	font-size: 2em;
	font-weight: bold;
}
.callcenter-top .callcentersp-header h2{
	padding: 4% 5% 2% 5%;
	font-weight: normal;
	font-size: 2em;
	line-height: 1.5;
}
.custom-select:before{
	top: 36%;
	font-size: 17px;
}
callcenter-top .ranking{
	margin-top: 40px;
}
/*---------------------------------DETAIL-------------------------------*/
.callcentersp-around .commonsp-panel{
	padding: 0 10px;
}
.callcebter-toptic h2{
	border-bottom: 2px dotted #dcdcdc;
	font-size: 2.33em;
	font-weight: bold;
	margin: 1em 0 0.57em 0;
	padding-bottom: 0.35em;
	color: #565656;
}
.call-center-list ol{
	list-style: none;
	padding-left: 0px;
}
.find-way-link,.find-around-link{
	text-align: right;
	font-size: 1.83em;
	line-height: 1;
}
.call-bottom{
	margin-top: 2.5em;
	margin-bottom: 2.5em;
}
.find-around-link a:focus{
	color: #ffffff !important;
}
.find-around-link a{
	padding: 0.68em 0.75em;
	display: inline-block;
	font-size: 1em;
}
.find-way-link{
	margin-top: 0.5em;
}
.find-way-link a{
	color: #565656;
	border-bottom: 1px solid #808080;
	line-height: 1.7;
}
.relation-ol ol{
	list-style: none;
	padding-left: 0px;
}
.callcenter-detail .relation-job{
	padding-top: 3.75em;
}
.relation-job .title{
	font-size: 1.8em;
	color: #00b2e8;
	font-weight: bold;
}
.relation-ol li{
	border-bottom: 2px dotted #dcdcdc;
	padding: 2em 0;
}
.relation-ol li p{
	margin: 0;
	padding-left: 2em;
	position: relative;
}
.relation-ol li p:first-child:before{
	content: "▶";
	position: absolute;
	left: -2px;
	font-size: 1.5em;
	line-height: 1;
	top: 0.3em;
}
.relation-ol li a{
	font-size: 1.7em;
	padding: 0;
	height: auto;
	color: #565656;
}
.relation-ol li p:last-child{
	line-height: 1.5;
	font-size: 1.5em;
	margin-top: 0.3em;
	padding-left: 1.33em;
}
.relation-ol li span{
	margin-left: 1em;
}
.callcenter-contact{
	font-size: 2em;
}
.callcenter-contact a{
	color: #31cdf4;
}
.callcenter-contact p{
	margin-bottom: 0px;
}
.callcenter-contact p label{
	font-weight: normal;
	margin-bottom: 0;
}
.callcenter-contact p:last-child{
	margin-top: 0.83em;
	margin-bottom: 1.25em;
	line-height: 1;
}
.callcenter-map iframe{
	height: 28.5em;
}
.callcenter-map #map_canvas{
	height: 28em;
	width: 100%;
}
/*---------------------------------AROUND_SEARCH-------------------------------*/
.callcenter-around .common-panel{
	margin-top: 10px;
	padding: 20px;
}
.call-center-list.relation-callcenter li{
	border-bottom: none;
	margin-bottom: 10px;
	position: relative;
	margin-top: 3em;
}
.call-center-list.relation-callcenter li > div{
	padding-left: 5em;
}
.call-center-list.relation-callcenter li > span{
	display: inline-block;
	width: 3.3em;
	height: 3.3em;
	text-align: center;
	background: #00b2e8;
	border-radius: 50%;
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -1.5em;
}
.call-center-list.relation-callcenter li > span i{
	font-size: 1.83em;
	font-weight: bold;
	color: #ffffff;
	font-style: normal;
	line-height: 1.83em;
}
.callcenter-around .call-center-list ol li,.callcenter-around .call-center-list ol{
	padding-left: 0px;
}
.call-center-list.relation-callcenter li{
	padding-bottom: 0px;
	margin-bottom: 0px;
}
.relation-callcenter p{
	font-size: 1.6em;
	line-height: 1.5;
	margin: 0;
}
.relation-callcenter h4{
	font-size: 2.1em;
	margin: 0;
}
.relation-callcenter h4 a{
	color: #565656;
	padding: 0;
	height: auto;
}
.relation-callcenter ol li h4:before{
	display: none;
}
.callcenter-around h2{
	color: #565656;
	font-weight: bold;
	border-bottom: 1px dotted #d0d0d0;
	padding-bottom: 5px;
}
/*---------------------------------AREA-------------------------------*/
.search-group{
	margin-top: 2.58em;
}
.search-group .custom-select{
	width: 50%;
	float: left;
}
.search-group p{
	font-size: 28px;
	color: #666666;
	margin-top: 20px;
	margin-bottom: 50px;
}
.search-group span{
	color: #00b2e8;
	float: right;
}
.search-group button{
	border: none;
	background: #00b2e8;
	color: #ffffff;
	font-size: 22px;
	padding: 10px 20px;
}
.search-result{
	margin-top: 0.5em;
	border-bottom: 1px solid #dcdcdc;
	padding-bottom: 10px !important;
}
.search-result > p{
	float: left;
	font-size: 2.2em;
	margin-bottom: 0;
	font-weight: bold;
	color: #565656;
}
.search-result > p span{
	font-style: 0.85em;
}
.search-result > label{
	float: right;
	font-size: 2.2em;
	margin-bottom: 0;
	color: #00b2e8;
}
.callcenter-area-list ol{
	margin: 0;
}
.callcenter-area-list ol li{
	list-style: none;
	border-bottom: 2px dotted #dcdcdc;
	padding: 1.25em 0;
}
.callcenter-area-list ol li label{
	font-size: 1.8em;
	color: #f6f6f6;
	background: #00b2e8;
	padding: 0.2em 1.2em;
	line-height: 1.5;
	margin-bottom: 1em;
	margin-top: 0.5em;
}
.callcenter-area-list ol li h4 a{
	padding: 0;
	height: auto;
	text-decoration: underline !important;
	color: #565656;
}
.callcenter-area-list li h4:before{
	content: "▶";
	position: absolute;
	left: 0;
	font-size: 0.7em;
	line-height: 1;
	top: 0.55em;
}
.callcenter-area-list li h4{
	font-size: 2.166em;
	line-height: 1.5;
	padding-left: 1em;
	margin: 0;
	position: relative;
}
.callcenter-area-list li p{
	font-size: 1.8em;
	margin-bottom: 0;
	padding-left: 1em;
}
.callcenter-area-list li p.tel a{
	display: inline;
	margin: 0;
	padding: 0;
}
.callcenter-area-list li p.tel span{
	color: #00b2e8;
	margin-right: 5px;
}
.search-group .custom-select select{
	font-size: 2.4em;
	padding: 10px;
	background: #ffffff;
}
.search-group .custom-select:before{
	font-size: 1.8em;
	top: 50%;
	margin-top: -0.5em;
	right: 15px;
}
.search-group .custom-select:last-child:before{
	right: 10px;
}
.search-group .custom-select:first-child{
	padding-right: 5px;
}
.search-group .custom-select:last-child{
	padding-left: 5px;
}
.callcenter-area-list ol{
	padding: 0;
}
.callcenter-area-list ol strong{
	text-decoration: underline;
	color: #565656;
}
.callcenter-pagination{
	display: table;
	width: 100%;
	padding: 20px;
	text-align: center;
}
.callcenter-prev{
	display: table-cell;
	width: 47%;
	padding: 30px;
	background: #dcdcdc;
	float: left;
	font-size: 22px;
}
.callcenter-next{
	display: table-cell;
	width: 47%;
	padding: 30px;
	background: #dcdcdc;
	float: left;
	font-size: 22px;
	margin-left: 5%;
}
.search-group,.search-result,.callcenter-area-list ol,.callcenter-area-list > .prev{
	padding: 0 10px;
}
/*---------------------------------TOP-------------------------------*/
.pickup-title{
	color: #00b2e8;
	padding: 0 10px;
}
.pickup-title > p{
	font-size: 2.16em;
	margin-top: 10px;
}
.pickup-title span{
	color: #888888;
}
.callcenter-pickup{
	padding: 0px;
}
.callcenter-content{
	background: #ffffff;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), 0 1px 2px rgba(0,0,0,0.05);
	margin-top: 1em;
}
.callcenter-content .image img{
	width: 100%;
}
.callcenter-content .intro{
	padding: 10px;
}
.callcenter-content .intro h3{
	font-size: 2.2em;
	margin-top: 0;
	margin-bottom: 0px;
}
.callcenter-content .intro h3 a{
	font-weight: bold;
	line-height: 1.5em;
	color: #444444;
}
.callcenter-content .intro h4,.callcenter-content .intro h5{
	line-height: 1.2;
	margin-top: 5px;
	margin-bottom: 5px;
}
/*Secret*/
.secret-box .secret-foot .pull-left{
	width: 60%;
	height: 45px;
}
.secret-box .secret-foot .pull-right{
	width: 40%;
	text-align: right;
}
/*---------------------------------SMARTPHONE-------------------------------*/
@media only screen and (max-width: 680px){
	.callcentersp-around{
		font-size: 11px;
	}
}
@media only screen and (max-width: 600px){
	.secret-box .secret-title a{
		font-size: 17px;
	}
	.search-box .search-title a,.secret-box .secret-company,.secret-box .secret-salary p,.cachet-btn,.secret-label{
		font-size: 15px;
	}
}
@media only screen and (max-width: 640px){
	.callcentersp-around{
		font-size: 10px;
	}
}
@media only screen and (max-width: 570px){
	.callcentersp-around{
		font-size: 9px;
	}
}
@media only screen and (max-width: 520px){
	.callcentersp-around{
		font-size: 8px;
	}
}
@media only screen and (max-width: 480px){
	.callcentersp-around{
		font-size: 7.5px;
	}
	.secret-box .secret-title a{
		font-size: 16px;
		line-height: 1.4;
	}
	.search-box .search-title a,.secret-box .secret-company,.secret-box .secret-salary p,.cachet-btn,.secret-label{
		font-size: 12px;
	}
}
@media only screen and (max-width: 420px){
	.callcentersp-around{
		font-size: 7px;
	}
}
@media only screen and (max-width: 380px){
	.callcentersp-around{
		font-size: 6px;
	}
	.callcenter-area-list li h4:before{
		top: 0.7em;
	}
	.secret-box .secret-title a{
		font-size: 14px;
	}
	.secret-box .secret-company,.secret-box .secret-salary p,.cachet-btn,.secret-label{
		font-size: 10px;
		overflow: hidden;
		/* height: 16px; */
	}
}
@media only screen and (max-width: 320px){
	.callcentersp-around{
		font-size: 5.5px;
	}
}