@charset "utf-8";

/* 全解像度共通 */

.Nonborder {
    border:none !important;
}
.button-link {
    color:#fff;
    text-decoration:none;
}

.inner-link {
    color:#00b2e8;
}

.contents__textLink {
    width: 100%;
    border: 0;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    background: linear-gradient(to bottom, rgba(97, 210, 244, 1) 0%, rgba(0, 178, 232, 1) 70%, rgba(0, 178, 232, 1) 100%);
    padding: 25px;
    font-size: 32px;
    display: inline-block;
    text-align: center;
    box-shadow: 0px 6px 0px rgba(1, 111, 144, 1);
    margin-bottom: 06px;
    text-decoration: none !important;
}

.ccwork_entry a{
    text-decoration: underline;
}

.ccwork_entry .img-remarks{
    display: block;
    margin-top:-65px;
    margin-bottom:30px;
}

/* ========================= text-style start ========================= */
.Blue_text{
    color: #00b2e8;
    line-height:30px;
    margin-right: 5px;
    margin-left: 5px;
}

.Pink_text{
    color: #f40087;
    margin-right: 5px;
    margin-left: 5px;
}

.orange_text{
    color: #f39800;
    margin-right: 5px;
    margin-left: 5px;
}

.Blue_textbold{
    color: #00b2e8;
    font-weight:bold;
    font-size: 15px;
}

.blue_textbold{
    color: #00b2e8;
    font-weight:bold;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 20px;
}

.Blue_Btextbold{
    color: #00b2e8;
    font-weight:bold;
    font-size:16px;
}

.Pink_textbold{
    color:#dd007f;
    font-weight:bold;
}

.Pink_Btextbold{
    color:#dd007f;
    font-weight:bold;
    font-size:16px;
}

.orange_textbold{
    color: #f39800;
    font-weight:bold;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 20px;
}

.orange_Btextbold{
    color: #f39800;
    font-weight:bold;
    font-size:16px;
}

.text_bold{
    color:#444;
    font-weight:bold;
}


.text_bold:before {
    content: "■";
    font-size: 20px;
    margin-right: 5px;
}

.text_small{
    color:#444;
    font-size:12px;
}

.textCenter_bold{
    color:#444;
    font-weight:bold;
    text-align:center;
}

.text_bold_b{
    color:#444;
    font-weight:bold;
    font-size:18px;
}
/* ============================ text-style end ============================= */

/*-----------------------------------------------------------------------------------------------

　　　　　　　　　　　　　　　　　　       　　common CSS　【 start 】
　
-----------------------------------------------------------------------------------------------*/

/* ========================== 青ボックス（左：青 / 右：白） start ==================== */
.ccwork_entry .bluebox_lefttext_blue {
    background:#00c6ff !important;
    width:5% !important;
    padding:16px;
    color:#fff !important;
    font-weight:bold;
}

.ccwork_entry .bluebox_righttext_white {
    background:#fff !important;
    padding:16px;
    color:#000 !important;
}
/* ========================== 青ボックス（左：青 / 右：白） end ===================== */

/* ============================= 青丸 箇条書き start =========================== */
.ccwork_entry .dot_bluecircle_text {
    line-height:1.8em;
    margin-bottom:5px;
    padding:0 10px;
}

.ccwork_entry .dot_bluecircle_text:before {
    content:"●";
    color:#00b2e8;
    font-weight:bold;
    font-size:24px;
    line-height:1.2em;
    padding:4px;
}
/* ============================= 青丸 箇条書き end =========================== */

/* ============================= ★ 箇条書き start =========================== */
.ccwork_entry .dot_bluestar_text:before {
    content:"★";
    color:#00b2e8;
    font-weight:bold;
    font-size:18px;
    margin-top:10px;
}

.ccwork_entry .dot_bluestar_text > span {
    color:#00b2e8;
    font-weight:bold;
    font-size:18px;
    margin-left:10px;
}

/* ============================= ★ 箇条書き end =========================== */

/* ========================== 吹き出し内　テキスト start ========================= */
.ccwork_entry .bluefukidasi_bluetext_dot {
    margin:0px !important;
    padding:0px !important;
    font-size:14px;
    line-height:1.5;
}
@media screen and (max-width: 750px) {
    .ccwork_entry .bluefukidasi_bluetext_dot {
        margin:0px !important;
        padding:0px !important;
        font-size:20px !important;
        line-height:1.6;
    }
}
.ccwork_entry .bluefukidasi_bluetext_dot:before {
    content:"●";
    color:#00b2e8;
    font-weight:bold;
    font-size:24px;
    padding:4px;
}

.ccwork_entry .pinkfukidasi_pinktext_dot {
    margin:0px !important;
    padding:0px !important;
    font-size:14px;
    line-height:1.5;
}
@media screen and (max-width: 750px) {
    .ccwork_entry .pinkfukidasi_pinktext_dot {
        margin:0px !important;
        padding:0px !important;
        font-size:20px !important;
        line-height:1.6;
    }
}
.ccwork_entry .pinkfukidasi_pinktext_dot:before {
    content:"●";
    color:#dd007f;
    font-weight:bold;
    font-size:24px;
    padding:4px;
}
/* ========================== 吹き出し内　テキスト end ========================= */

/* =============================== dl表 start ============================== */
.ccwork_entry .c-h01 {
    border-top: 3px solid #00b2e8;
    padding: 10px 20px;
    background:#eee !important;
    margin: 0;
    font-weight: bold;
    color: #00b2e8;
    letter-spacing: 0.1em;
    font-size: 16px;
    line-height: 1.5;
}

.ccwork_entry .c_list01 {
    box-sizing: border-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 60px;
    font-size: 14px;
    border-bottom: 1px solid #ccc;
}

.ccwork_entry .c-dl-list01 {
    border-bottom: 1px solid #ccc;
    font-size: 14px;
    box-sizing: border-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

.ccwork_entry .c-dl-list01_dt {
    -ms-flex: 1 0 130px;
    flex: 1 0 130px;
    /*width: 130px;*/
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    font-size: 14px;
    margin: 0;
    padding: 20px 20px;
    /*float: left;*/
    /*clear: left;*/
}

.ccwork_entry .c-dl-list01_dd {
    −ms−flex: 2 0 calc(100% - 130px);
    flex: 2 0 calc(100% - 130px);
    /*margin: 0 0 0 120px;*/
    padding: 20px 35px;
    border-top: 1px solid #ccc;
    font-size: 14px;
}
/* =============================== dl表 【 end 】 ============================== */

/*-----------------------------------------------------------------------------------------------

　　　　　　　　　　　　　　　　　       　　　common CSS　【 end 】
　
-----------------------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------------------

　　　　　　　　　　　　　　　　　　　　       素材 PC CSS　【 start 】
　
-----------------------------------------------------------------------------------------------*/

@media screen and (min-width: 751px) {
    /* ================================= 帯 start ============================= */
    .ccwork_entry .blueblockBG {
        border-bottom: 2px solid #cccccc;
        padding: 5px 0px;
        margin: 40px 0px 20px;
        font-weight: bold;
        color: #2c2c2c;
        font-size: 34px;
        line-height: 1.8;
    }

    .ccwork_entry .blueblockBG > span {
        font-size:10px;
    }

    .ccwork_entry .blueblockBG_title {
        margin:10px 0px 0px 0px;
        color:#00b2e8;
        font-weight:bold;
    }
    .ccwork_entry .blueblockBG_title  > span {
        color:#000;
        font-weight:bold;
    }

    .ccwork_entry .blueblockBG_title  > span:before {
        content:"・・・";
    }

    .ccwork_entry .orangeblockBG{
        background:#f39800;
        padding:5px 10px;
        margin:20px 0px 20px 0px;
        font-weight:bold;
        color:#fff;
        letter-spacing:0.1em;
        font-size:16px;
    }

    .ccwork_entry .orangeblockBG_title {
        margin:10px 0px 0px 0px;
        color:#f39800;
        font-weight:bold;
    }
    .ccwork_entry .orangeblockBG_title  > span {
        color:#000;
        font-weight:bold;
    }

    .ccwork_entry .orangeblockBG_title  > span:before {
        content:"・・・";
    }

    .ccwork_entry .pinkblockBG {
        background:#dd007f;
        padding:5px 10px;
        margin:20px 0px 20px 0px;
        font-weight:bold;
        color:#fff;
        letter-spacing:0.1em;
        font-size:16px;
    }

    .ccwork_entry .pinkblockBG_title {
        margin:10px 0px 0px 0px;
        color:#dd007f;
        font-weight:bold;
    }
    .ccwork_entry .pinkblockBG_title > span {
        color:#000;
        font-weight:bold;
    }

    .ccwork_entry .pinkblockBG_title > span:before {
        content:"・・・";
    }

    .ccwork_entry .yellowBlockBG {
        background:#FFFF00;
        padding:13px 10px 10px;
        margin:20px 0px 20px 0px;
        font-weight:bold;
        color:#3F3F3F;
        letter-spacing:0.1em;
        font-size:16px;
    }
    /* ================================== 帯 end ============================= */

    /* ============================ Yellow circle start =========================== */

    /* 001 使用中 */

    .ccwork_entry .yellowcirclewrapper {
        min-height:120px !important;
        height:auto;
        margin-bottom:20px;
    }

    .ccwork_entry .yellowcircle {
        margin-right:8px;
        background:#ffea00;
        border-radius:50%;
        width:118px;
        height:118px;
        float:left;
        text-align:center;
    }

    .ccwork_entry .yellowcircle > p {
        margin:12px 14px 0px 14px;
        padding:0;
        font-weight:normal;
        border-bottom:3px solid rgba(255,255,255,1.00);
    }

    .ccwork_entry .yellowcircle > p  > .yellownumber{
        font-size:22px;
        font-weight:normal;
    }

    .ccwork_entry .yellowcircle > span {
        display:block;
        margin:8px 18px 18px 18px;
        padding:0;
        text-align:center;
        font-size:14px;
        line-height:20px;
        font-weight:bold;
        letter-spacing:0.05em;
    }

    .ccwork_entry .yellowcircletext {
        margin:5px 20px;
        padding-top:5px;
        font-size:14px;
        font-weight:bold;
    }
    /* ============================= Yellow circle end =========================== */

    /* ========================= Yellow small middle circle start ====================== */

    /* 006　setsumei.html 使用中 */

    .ccwork_entry .yellowmiddlecircle {
        width:90px;
        height:90px;
        margin:0;
        padding-top:18px;
        background:url(/img/circle_bg.jpg) no-repeat;
        background-size:contain;
        text-align:center;
        float:left;
        box-sizing:border-box;
    }

    .ccwork_entry .yellowmiddlecircle_title {
        margin:0 auto;
        padding:0;
        font-weight:bold;
    }

    .ccwork_entry .yellowmiddlecircle_titlenumber {
        margin:10 auto;
        margin-top: 2px;
        padding:0;
        font-weight:bold;
        font-size:20px;
    }

    .ccwork_entry .yellowmiddlecircle_titleimg {
        display:none;
    }

    .ccwork_entry .yellowmiddlecircle_titlebox {
        float:left;
        height:105px;
        width:500px;
    }

    .ccwork_entry .yellowmiddlecircle_titletextblue {
        display:table-cell;
        height:90px;
        padding-left:20px;
        color:#00b2e8;
        font-size:18px;
        font-weight:bold;
        vertical-align:middle;
    }

    .ccwork_entry .yellowmiddlecircle2 {
        width:90px;
        height:90px;
        margin:0;
        padding-top:18px;
        background:url(/img/icon_001.jpg) no-repeat;
        background-size:contain;
        text-align:center;
        float:left;
        box-sizing:border-box;
    }

    .ccwork_entry .yellowmiddlecircle3 {
        width:90px;
        height:90px;
        margin:0;
        padding-top:18px;
        background:url(/img/icon_002.jpg) no-repeat;
        background-size:contain;
        text-align:center;
        float:left;
        box-sizing:border-box;
    }

    .ccwork_entry .yellowmiddlecircle4 {
        width:90px;
        height:90px;
        margin:0;
        padding-top:18px;
        background:url(/img/icon_003.jpg) no-repeat;
        background-size:contain;
        text-align:center;
        float:left;
        box-sizing:border-box;
    }

    .ccwork_entry .yellowmiddlecircle5 {
        width:90px;
        height:90px;
        margin:0;
        padding-top:18px;
        background:url(/img/icon_004.jpg) no-repeat;
        background-size:contain;
        text-align:center;
        float:left;
        box-sizing:border-box;
    }

    .ccwork_entry .yellowmiddlecircle6 {
        width:90px;
        height:90px;
        margin:0;
        padding-top:18px;
        background:url(/img/icon_005.jpg) no-repeat;
        background-size:contain;
        text-align:center;
        float:left;
        box-sizing:border-box;
    }

    .ccwork_entry .yellowmiddlecircle_titleimg2 {
        display:none;
    }

    .ccwork_entry .yellowmiddlecircle_titleimg3 {
        display:none;
    }

    .ccwork_entry .yellowmiddlecircle_titleimg4 {
        display:none;
    }

    .ccwork_entry .yellowmiddlecircle_titleimg5 {
        display:none;
    }

    .ccwork_entry .yellowmiddlecircle_titleimg6 {
        display:none;
    }

    /* ========================= Yellow small middlecircle end ======================== */

    /* =========================== Yellow small circle start ========================== */

    /* 005 使用中 */

    .ccwork_entry .yellowsmallcircle_Number {
        width: 30px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        background: #f0f0f0;
        font-weight: bold;
        font-size: 18px;
        display: inline-block;
    }

    .ccwork_entry .yellowsmallcircle_title {
        margin: 0px 0px 0px 15px;
        background: linear-gradient(transparent 70%, #f0f0f0 0%);
        font-weight: bold;
        font-size: 18px;
        display: inline-block;
    }
    /* =========================== Yellow small circle end ========================== */

    /* ========================= 青 リストボックス 枠組み start ======================== */

    /* 003  使用中 */

    .ccwork_entry .blue_listbox {
        border:2px solid #00c6ff !important;
        background:#00c6ff !important;
        width:100%;
    }

    .ccwork_entry .ok{
        width: 30%;
        vertical-align:top;
        background:url(/img/ok.gif) !important;
    }

    .ccwork_entry .triangle {
        width: 30%;
        vertical-align:top;
        background:url(/img/triangle.gif) !important;
    }

    .ccwork_entry .blue_listbox  .fig {
        width: 100%;
        height: auto;
    }

    .ccwork_entry .blue_listbox .blue {
        background: #eaf6fd;
        text-align:center;
        font-weight:bold;
        color:#00b2e8;
    }

    .ccwork_entry .blue_listbox ul {
        padding:10px;
        padding-left:30px;
        font-size:14px;
        list-style-type:disc;
    }

    .ccwork_entry .blue_listbox  li{
    }

    .ccwork_entry .bluetitlepcnone {
        display:none;
    }
    /* ========================== 青 リストボックス 枠組み end ======================= */

    /* =========================== 吹き出し01 一式　start ========================== */

    /* 004 使用中 */

    .ccwork_entry .bluefukidasi_bluetext {
        display:block;
        text-align:center !important;
        font-size:20px;
        font-weight:bold;
        line-height:1.5;
        margin-top:40px;
        color:#00b2e8 !important;
        margin-bottom: -30px;
    }

    .ccwork_entry .pinkfukidasi_pinktext {
        display:block;
        text-align:center !important;
        font-size:20px;
        font-weight:bold;
        line-height:1.5;
        margin-top:40px;
        color:#dd007f;
        margin-bottom: -30px;
    }

    .ccwork_entry .bluefukidasi {
        position: relative;
        background: #dff2fc;
        border: 4px solid #;
        margin:30px 15px 30px 0;
        padding:40px 20px;
        border-radius:8px;
    }

    .ccwork_entry .bluefukidasi:after, .ccwork_entry .bluefukidasi:before {
        right: 100%;
        top: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }

    .ccwork_entry .bluefukidasi:after {
        border-color: rgba(223, 242, 252, 0);
        border-right-color: #dff2fc;
        border-width: 20px;
        margin-top: -20px;
    }

    .ccwork_entry .bluefukidasi:before {
        border-color: rgba(0, 0, 0, 0);
        border-right-color: #;
        border-width: 26px;
        margin-top: -26px;
    }

    .ccwork_entry .pinkfukidasi {
        position: relative;
        background: #fdeff5;
        border: 4px solid #;
        margin:30px 15px 30px 0;
        padding:40px 20px;
        border-radius:8px;
    }

    .ccwork_entry .pinkfukidasi:after, .ccwork_entry .pinkfukidasi:before {
        left: 100%;
        top: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }

    .ccwork_entry .pinkfukidasi:after {
        border-color: rgba(253, 239, 245, 0);
        border-left-color: #fdeff5;
        border-width: 20px;
        margin-top: -20px;
    }

    .ccwork_entry .pinkfukidasi:before {
        border-color: rgba(0, 0, 0, 0);
        border-left-color: #;
        border-width: 26px;
        margin-top: -26px;
    }
    /* ============================ 吹き出し01 一式 end =========================== */

    /* ============================ 吹き出し02 一式 start ========================== */

    /* 007  使用中 */

    .ccwork_entry .pinkfukidasi02 {
        position: relative;
        padding:16px;
        background: #fbe6ef;
        border-radius:30px;
        width:410px;
        margin-top:35px;
        margin-left:125px;
        font-weight:bold;
        color:#dd007f;
    }

    .ccwork_entry .pinkfukidasi02:after {
        right: 98%;
        top: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(251, 230, 239, 0);
        border-right-color: #fbe6ef;
        border-width: 12px;
        border-right-width:24px;
        margin-top: -12px;
    }

    .ccwork_entry .bluefukidasi02 {
        position: relative;
        padding:16px;
        background: #dff2fc;
        border-radius:30px;
        width:410px;
        margin-top:36px;
        margin-left:125px;
        color:#00b2e8;
        font-weight:bold;
    }

    .ccwork_entry .bluefukidasi02:after {
        right: 98%;
        top: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(251, 230, 239, 0);
        border-right-color: #dff2fc;
        border-width: 12px;
        border-right-width:24px;
        margin-top: -12px;
    }

    .ccwork_entry .fukidasi02_answer {
        margin-top:8px;
        display:inline-block;
        line-height:30px;
    }

    .ccwork_entry .fukidasi02_answer:before {
        content:"A.";
        font-size:18px;
        color:#26b8ea;
        margin-right:4px;
    }

    .ccwork_entry .fukidasi02_bg {
        float:left;
        margin-left:20px;
    }

    .ccwork_entry .fukidasi02_bluebox {
        margin:10px 0px 20px 0px;
        padding:16px;
        background:#00b2e8;
        display:block;
    }

    .ccwork_entry .fukidasi02_bluebox li {
        margin:4px;
        font-weight:bold !important;
        color:#fff;
    }

    .ccwork_entry .fukidasi02_graybox {
        padding: 30px 20px 30px;
        display: block;
        background: #eee;
        font-size: 14px;
        line-height: 1.6;
    }

    .ccwork_entry .fukidasi02_graybox li {
        margin:20px 5px;
        font-weight:bold !important;
    }

    .ccwork_entry .fukidasi02_graybox li a {
        color: #4e4e4e;
    }

    .ccwork_entry .fukidasi02_graybox .gray{
        color:#595757;
    }

    .ccwork_entry .pinkbox_dotsentence {
        margin:5px 0px 20px 0px;
        padding:16px;
        background:#fdeff5;
        display:block;
    }

    .ccwork_entry .pinkbox_dotsentence li {
        margin:4px;
        font-weight:bold !important;
    }

    .ccwork_entry .pinkbox_dotsentence li:before {
        content:"●";
        font-size:18px;
        color:#dd007f;
        margin-right:2px;
    }

    .ccwork_entry .bluebox_dotsentence {
        margin:5px 0px 20px 0px;
        padding:16px;
        background:#dff2fc;
        display:block;
    }

    .ccwork_entry .bluebox_dotsentence li {
        margin:4px;
        font-weight:bold !important;
    }

    .ccwork_entry .bluebox_dotsentence li:before {
        content:"●";
        font-size:18px;
        color:#00b2e8;
        margin-right:2px;
    }


    /* ============================== 吹き出し02 一式 end ========================== */

    /* ======================= ピンクボックス（左：ピンク / 右：白） start =================== */

    /* 008 使用中 */

    .ccwork_entry .pinkbox01 {
        margin:10px 0px 10px 0px;
        padding:0;
        width:100%;
        height:68px;
        background:#dd007f;
        border:2px #dd007f solid;
        box-sizing:border-box;
        clear:both;
        overflow:hidden;
    }

    .ccwork_entry .pinkbox01_leftwhitetext_title {
        padding:8px;
        text-align:center;
        width:120px;
        float:left;
        font-weight:bold;
        color:#fff;
        word-wrap:break-word;
        background:#dd007f;
    }

    .ccwork_entry .pinkbox01_leftwhitetext_title span{
        display:block;
    }

    .ccwork_entry .pinkbox01 ul{
        background:#fff;
        float:left;
        width:460px;
        height:64px;
    }
    .ccwork_entry .pinkbox01 li{
        float:left;
        line-height:64px;
        margin-left:24px;
        padding-left:8px;
        font-weight:bold;
        font-size:13px;
        position:relative;
        box-sizing:border-box;
    }

    .ccwork_entry .pinkbox01 ul li:before {
        content:"●";
        font-size:28px;
        color:#dd007f;
        position:absolute;
        left:-10px;
        top:-3px;
    }

    .ccwork_entry .pinkbox01_textpink {
        color:#dd007f;
        font-weight:bold;
    }
    /* ====================== ピンクボックス（左：ピンク / 右：白） end ===================== */

    /* ====================== ブルーボックス01（左：ブルー / 右：白） start =================== */

    /* 008 009 使用中 */

    .ccwork_entry .bluebox01 {
        margin:10px 0px 10px 0px;
        padding:0;
        width:100%;
        height:68px;
        background:#00b2e8;
        border:2px #00b2e8 solid;
        box-sizing:border-box;
        clear:both;
        overflow:hidden;
    }

    .ccwork_entry .bluebox01_leftwhitetext_title {
        padding:8px;
        text-align:center;
        width:120px;
        float:left;
        font-weight:bold;
        color:#fff;
        word-wrap:break-word;
        background:#00b2e8;
    }

    .ccwork_entry .bluebox01_leftwhitetext_title span{
        display:block;
    }

    .ccwork_entry .bluebox01 ul{
        background:#fff;
        float:left;
        width:460px;
        height:64px;
    }
    .ccwork_entry .bluebox01 li{
        float:left;
        line-height:64px;
        margin-left:24px;
        padding-left:8px;
        font-weight:bold;
        font-size:13px;
        position:relative;
        box-sizing:border-box;
    }

    .ccwork_entry .bluebox01 ul li:before {
        content:"●";
        font-size:28px;
        color:#00b2e8;
        position:absolute;
        left:-10px;
        top:-3px;
    }

    .ccwork_entry .bluebox01_textBlue {
        color:#00b2e8;
        font-weight:bold;
    }
    /* ====================== ブルーボックス01（左：ブルー / 右：白） end =================== */

    /* ========================== 青 リストボックス 枠組み start ======================== */

    /* 003　004  使用中 */

    .ccwork_entry .blue_listbox {
        width: 100% ;
        margin: 0 auto;
        margin-bottom:18px;
        border:2px solid #00c6ff !important;
        border-collapse: collapse;
    }

    .ccwork_entry .blue_listbox th {
        width: 1%;
        background: #eaf6fd;
        color: #000;
        vertical-align:top;
        padding:10px;
        padding-bottom:0;
        text-align:center;
        font-weight:bold;
        color:#00b2e8;
        vertical-align:bottom;
    }

    .ccwork_entry .blue_listbox td {
        width: 30%;
        vertical-align:top;
        background:none;
    }

    .ccwork_entry .bluet004  {
        width: 100% ;
        margin: 0 auto;
        margin-bottom:18px;
        border:2px solid #00c6ff !important;
        border-collapse: collapse;
    }

    .ccwork_entry .bluet004 th {
        width: 1%;
        background: #eaf6fd;
        color: #000;
        vertical-align:top;
        padding:10px;
        padding-bottom:0;
        text-align:center;
        font-weight:bold;
        color:#00b2e8;
        vertical-align:bottom;
    }

    .ccwork_entry .bluet004 td {
        width: 30%;
        vertical-align:top;
        background:none;
    }
    /* ========================== 青 リストボックス 枠組み end ========================= */

    /* ====================== オレンジボックス（左：オレンジ / 右：白） start ================== */

    /* 008 使用中 */

    .ccwork_entry .orangebox01 {
        margin:10px 0px 10px 0px !important;
        padding: 0;
        width: 100%;
        height: 68px;
        background: #f39800;
        border: 2px solid #f39800;
        box-sizing: border-box;
        overflow: hidden;
        clear:both;
    }

    .ccwork_entry .orangebox01_leftwhitetext_title {
        padding:8px;
        text-align:center;
        width:120px;
        float:left;
        font-weight:bold;
        color:#fff;
        word-wrap:break-word;
        background:#f39800;
    }

    .ccwork_entry .orangebox01_leftwhitetext_title span{
        display:block;
    }

    .ccwork_entry .orangebox01 ul{
        background:#fff;
        float:left;
        width:460px;
        height:66px;
    }

    .ccwork_entry .orangebox01 li{
        float:left;
        line-height:64px;
        margin-left:24px;
        padding-left:8px;
        font-weight:bold;
        font-size:13px;
        position:relative;
        box-sizing:border-box;
    }

    .ccwork_entry .orangebox01 ul li:before {
        color:#f39800;
        content:"●";
        font-size:28px;
        position:absolute;
        left:-10px;
        top:-3px;
    }

    .ccwork_entry .orangebox01_textorange {
        color:#f39800;
        font-weight:bold;
    }
    /* ====================== オレンジボックス（左：オレンジ / 右：白） end =================== */

    /* ====================== グリーンボックス（左：グリーン / 右：白） start =================== */

    /* 008 使用中 */

    .ccwork_entry .greenbox01 {
        margin:10px 0px 10px 0px !important;
        padding: 0;
        width: 100%;
        height: 68px;
        background: #39b54a;
        border:2px solid #39b54a;
        box-sizing: border-box;
        overflow: hidden;
        clear:both;
    }

    .ccwork_entry .greenbox01_leftwhitetext_title {
        padding:8px;
        text-align:center;
        width:120px;
        float:left;
        font-weight:bold;
        color:#fff;
        word-wrap:break-word;
        background:#39b54a;
    }

    .ccwork_entry .greenbox01_leftwhitetext_title span{
        display:block;
    }

    .ccwork_entry .greenbox01 ul{
        background:#fff;
        float:left;
        width:460px;
        height:64px;
    }
    .ccwork_entry .greenbox01 li{
        float:left;
        line-height:64px;
        margin-left:24px;
        padding-left:8px;
        font-weight:bold;
        font-size:13px;
        position:relative;
        box-sizing:border-box;
    }

    .ccwork_entry .greenbox01 ul li:before {
        content:"●";
        font-size:28px;
        position:absolute;
        left:-10px;
        top:-3px;
        color:#39b54a;
    }

    .ccwork_entry .greenbox01_textgreen {
        color:#39b54a;
        font-weight:bold;
    }
    /* ====================== グリーンボックス（左：グリーン / 右：白） end =================== */

    /* ======================= ボックス01 一式  （上：title text 下：text）start ================= */

    /* 005 使用中 */

    .ccwork_entry .freebox01_blueBG_wrapper {
        margin: 10px 0 20px 0;
        padding: 30px;
        border: 2px solid #dff2fc;
    }

    .ccwork_entry .freebox01_blueBG_title01 {
        display:inline-block;
        margin:0;
        margin-bottom:8px;
        padding:5px 15px;
        background:#4e4e4e;
        color:#fff;
        font-weight:bold;
        font-size:22px !important;
    }

    .ccwork_entry .freebox01_blueBG_title02 {
        margin:0;
        margin-bottom:8px;
        padding:8px;
        display:inline-block;
        color:#00b2e8;
        font-size:14px;
        font-weight:bold;
    }

    .ccwork_entry .freebox01_pinkBG_wrapper {
        margin:10px 0 20px 0;
        padding:20px 30px;
        border: 2px solid #fbe6ef;
    }

    .ccwork_entry .freebox01_pinkBG_title01 {
        display:inline-block;
        margin:0;
        margin-bottom:8px;
        padding:8px;
        background:#dd007f;
        color:#fff;
        font-weight:bold;
        font-size:20px;
    }

    .ccwork_entry .freebox01_pinkBG_title02 {
        margin:0;
        margin-bottom:8px;
        padding:8px;
        display:inline-block;
        color:#dd007f;
        font-size:14px;
        font-weight:bold;
    }

    .ccwork_entry .freebox01_orangeBG_wrapper {
        margin: 10px 0 20px 0;
        padding: 20px 30px;
        border: 2px solid #dff2fc;
    }

    .ccwork_entry .freebox01_orangeBG_title01 {
        display:inline-block;
        margin:0;
        margin-bottom:8px;
        padding:8px;
        background:#f39800;
        color:#fff;
        font-weight:bold;
        font-size:12px;
    }

    .ccwork_entry .freebox01_orangeBG_title02 {
        margin:0;
        margin-bottom:8px;
        padding:8px;
        display:inline-block;
        color:#f39800;
        font-size:14px;
        font-weight:bold;
    }
    /* ===================== ボックス01 一式  （上：title text 下：text）end ==================== */

    /* ===================== ボックス02 一式 （左：image 右：text） start ===================== */

    /* 007  使用中 */

    .ccwork_entry .freebox02_wrapper {
        margin:10px 0px 10px 0px;
        padding:0;
        height:117px;
        width:auto;
        clear:both;
        display:inline-block;
        vertical-align:middle;
    }

    .ccwork_entry .freebox02_wrapper img{
        float:left;
    }

    .ccwork_entry .freebox02_text {
        vertical-align:middle;
        float:right;
        width:480px;
        height:117px;
        display:inline-block;
        padding:8px;
        box-sizing:border-box;
        font-size:14px;
        line-height:30px;
    }

    .ccwork_entry .freebox02_margintop12px {
        margin-top:12px;
    }

    .ccwork_entry .freebox02_margintop4px {
        margin-top:4px;
    }

    .ccwork_entry .freebox02_smart {
        display:none;
    }
    /* ===================== ボックス02 一式 （左：image 右：text） end ===================== */

    /* ===================== ボックス03 一式 （背景グレー テキスト黒）start ==================== */

    /* 013  使用中 */

    .ccwork_entry .freebox03_grayBG {
        margin:25px 0;
        padding:25px 30px;
        background:#f0f0f0;
        display:block;
    }

    .ccwork_entry .freebox03_grayBG_textbold {
        font-weight:bold;
        color:#333;
        margin:0;
        padding:0;
    }
    /* ===================== ボックス03 一式 （背景グレー テキスト黒）end ===================== */

    /* ===================== ボックス04 一式 （背景グレー テキスト黒）start ==================== */

    /* 008  使用中 */

    .freebox04_border {
        margin-top:10px !important;
        padding-top:10px !important;
    }

    .freebox04_border_none {
        margin-top:10px !important;
        margin-bottom:40px !important;
    }

    .ccwork_entry .freebox04_margin20px {
        padding-bottom:20px!important;
        margin-bottom:20px !important;
    }

    .ccwork_entry .freebox04_innermargin {
        box-sizing:border-box;
        padding-left:60px;
    }
    /* ===================== ボックス04 一式 （背景グレー テキスト黒）end ===================== */

    /* ============================== ボックス05 一式 start =========================== */

    /* 028 029 使用中 */

    .ccwork_entry .freebox05_circle01 {
        width:120px;
        height:120px;
        margin:0;
        padding-top:10px;
        background:url(/img/ng_bg.jpg) no-repeat;
        background-size:contain;
        text-align:center;
        float:left;
        box-sizing:border-box;
    }

    .ccwork_entry .freebox05_circle02 {
        width:120px;
        height:120px;
        margin:0;
        padding-top:10px;
        background:url(/img/ok_bg.jpg) no-repeat;
        background-size:contain;
        text-align:center;
        float:left;
        box-sizing:border-box;
    }

    .ccwork_entry .freebox05_circle03_attention {
        width:90px;
        height:90px;
        margin:0;
        padding-top:10px;
        background:url(/img/attention.jpg) no-repeat;
        background-size:contain;
        text-align:center;
        float:left;
        box-sizing:border-box;
    }

    .ccwork_entry .freebox05_circle03_imagesA {
        width:90px;
        height:90px;
        margin:0;
        padding-top:10px;
        background:url(/img/sub_003.jpg) no-repeat;
        background-size:contain;
        text-align:center;
        float:left;
        box-sizing:border-box;
    }

    .ccwork_entry .freebox05_circle03_imagesB {
        width:90px;
        height:90px;
        margin:0;
        padding-top:10px;
        background:url(/img/sub_004.jpg) no-repeat;
        background-size:contain;
        text-align:center;
        float:left;
        box-sizing:border-box;
    }

    .ccwork_entry .freebox05_circle03_imagesC {
        width:90px;
        height:90px;
        margin:0;
        padding-top:10px;
        background:url(/img/sub_005.jpg) no-repeat;
        background-size:contain;
        text-align:center;
        float:left;
        box-sizing:border-box;
    }

    .ccwork_entry .freebox05_circle_titleimg {
        display:none;
    }

    .ccwork_entry .freebox05_circle_titlebox {
        float:left;
        height:120px;
        width:600px;
    }

    .ccwork_entry .freebox05_circle_titletext {
        display:table-cell;
        height:120px;
        padding-left:20px;
        color:#000;
        font-size:18px;
        font-weight:bold;
        vertical-align:middle;
    }

    .ccwork_entry .freebox05_circle_titletextsmall {
        display:table-cell;
        height:90px;
        padding-left:20px;
        color:#000;
        font-size:16px;
        font-weight:bold;
        vertical-align:middle;
    }
    /* ============================== ボックス05 一式 ng ============================ */

    /* =============================== 箇条書き00 start ============================= */

    /* 009  使用中 */

    .ccwork_entry .bluedot {
        margin:5px 0px 5px 0px;
        padding-left:24px;
        font-weight:bold;
        font-size:18px;
        display:inline-block;
        line-height:24px;
        position:relative;
    }

    .ccwork_entry .bluedot:before {
        content:"●";
        font-size:26px;
        top:-2px;
        left:4px;
        position:absolute;
    }

    .ccwork_entry .blackdot {
        margin:5px 0px 5px 0px;
        padding-left:35px;
        font-weight:bold;
        font-size:15px;
        display:inline-block;
        line-height:24px;
        position:relative;
        clear: both;
        display: block;
    }

    .ccwork_entry .blackdot:before {
        content:"●";
        padding-left:10px;
        font-size:26px;
        top:-2px;
        left:4px;
        position:absolute;
    }
    /* =============================== 箇条書き00 end ============================= */

    /* =============================== 箇条書き01 start ============================= */

    /* 009  使用中 */

    .ccwork_entry .dot_underline {
        margin:5px 0px 5px 0px;
        padding-left:24px;
        background: linear-gradient(transparent 60%, #f0f0f0 0%);
        font-weight:bold;
        font-size:18px;
        display:inline-block;
        line-height:24px;
        position:relative;
    }

    .ccwork_entry .dot_underline:before {
        content:"●";
        font-size:26px;
        top:-2px;
        left:4px;
        position:absolute;
    }
    /* =============================== 箇条書き01 end ============================= */

    /* =============================== 箇条書き02 start ============================= */

    /* 013 使用中 */

    .ccwork_entry .dot_bluetext {
        margin:0;
        padding:0;
    }

    .ccwork_entry .dot_bluetext li{
        margin:20px 0px;
        font-weight:bold;
        color:#00b2e8;
    }

    .ccwork_entry .dot_bluetext li span{
        background:#00b2e8;
        padding:4px 14px;
        color:#fff;
        border-radius:50%;
        margin-right:8px;
    }
    /* =============================== 箇条書き02 end ============================= */

    /* =============================== 箇条書き03 start ============================= */

    /* komata.html 使用中 */

    .ccwork_entry .dot_yellowtext_Number {
        width: 30px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        background: #f0f0f0;
        font-weight: bold;
        font-size: 30px !important;
        display: inline-block;
    }

    .ccwork_entry .dot_yellowtext_title {
        margin: 0px 0px 0px 15px;
        background: linear-gradient(transparent 70%, #f0f0f0 0%);
        font-weight: bold;
        font-size: 30px !important;
        display: inline-block;
    }

    .ccwork_entry .dot_yellowtext_title_noline {
        margin:0px 0px 0px 3px;
        font-weight:bold;
        font-size:22px;
        display:inline-block;
    }
    /* =============================== 箇条書き03 end ============================= */

    /* ================================ map start =============================== */

    /* 010 */

    .ccwork_entry .map {
        margin:0;
        margin-bottom:20px;
        padding:0;
        list-style:none;
        clear:both;
        overflow:hidden;
    }

    .ccwork_entry .map li {
        margin:4px;
        padding:10px;
        text-align:center;
        width:122px;
        background:#00b2e8;
        float:left;
        color:#fff !important;
        font-weight:bold;
    }

    .ccwork_entry .map li:before{
        content:"■";
        color:#fff;
        margin-right:8px;
        font-size:0.9em;
    }

    .ccwork_entry .map li a{
        color:#fff !important;
        text-decoration:none !important;
    }

    .ccwork_entry .mapTitle{
        margin-bottom:8px;
        padding-bottom: 3px;
        padding-left:15px;
        border-bottom: 3px solid #00b2e8;
        color: #00b2e8;
        font-size:18px;
        font-weight: normal;
    }

    .ccwork_entry .company_name {
        margin-top: 5px;
        margin-bottom:0px;
        margin-left: 15px;
        color: #000;
        font-size:16px;
        font-weight: normal;
    }

    .ccwork_entry .company_name::before {
        content:"■";
        color: #00B2E8;
        margin-right:8px;
        font-size:0.9em;
    }

    .ccwork_entry .company_add {
        margin-top: 2px;
        margin-bottom:10px;
        margin-left: 37px;
        color: #595757;
        font-size:14px;
        font-weight: normal;
    }

    .ccwork_entry .mapDesc {
        margin:0;
        margin-bottom:40px;
        padding:0;
        list-style:none;
    }
    .ccwork_entry .mapDesc li{
        margin:4px 0px;
        padding:4px 0px;
        border-bottom:1px dashed #ccc;
        clear: both;
        display: block;
    }

    .ccwork_entry .mapDesc li a{
        color:#333;
        text-decoration:underline;
    }

    .ccwork_entry .mapimage{
        position:absolute;
        margin-top:-130px;
        margin-left:-80px;
    }
    /* ============================== map end =============================== */

    /* ============================ 画像関係 start =============================== */
    .ccwork_entry .imagemargin_T20B20 {
        margin:20px auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .ccwork_entry .imagemargin_T25B25 {
        margin:25px auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .ccwork_entry .imagemargin_T0B50 {
        margin-bottom:50px;
        margin-top:0;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .ccwork_entry .imagemargin_T10B30 {
        margin-bottom:20px;
        margin-top:10px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .ccwork_entry .imagemargin_T10B20 {
        margin-bottom:20px;
        margin-top:10px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }


    .ccwork_entry .imagemargin_B10 {
        margin-bottom:10px !important;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .ccwork_entry .imagemargin_B25 {
        margin-bottom:25px !important;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .ccwork_entry .images_marginbottom30px {
        margin-bottom:30px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .ccwork_entry .images_ctl {
        vertical-align: bottom;
        float: left;
    }
    /* ============================= 画像関係 end =============================== */

    /* ============================= 余白調整 start =============================== */
    .ccwork_entry .link_margin60px{
        margin:60px 0 0 0 ;
    }

    .ccwork_entry .sectborder {
        display:block;
        clear:both;
        padding-bottom:20px;
        margin-bottom:20px;
        border-bottom:1px #ccc dashed;
    }

    .ccwork_entry .sectborder1 {
        display:block;
        clear:both;
        padding-bottom:40px;
        border-bottom:1px #ccc dashed;
    }

    .ccwork_entry .sectborder2 {
        display:block;
        clear:both;
        padding-top:40px;
        margin-top:20px;
        border-top:1px #ccc dashed;
    }

    .ccwork_entry .marginBottom {
        margin-bottom:50px !important;
    }

    .ccwork_entry .marginBottom0 {
        margin-bottom:0px !important;
    }

    .ccwork_entry .marginBottom10 {
        margin-bottom:10px !important;
    }

    .ccwork_entry .img_margin {
        margin: 0 30px 10px 0 !important;
    }

    .ccwork_entry .textalign_right {
        text-align:right;
    }

    .ccwork_entry .marginB20 {
        clear: both;
        display: block;
        margin-bottom:20px;
        line-height:30px;
    }

    .ccwork_entry .marginB40 {
        clear: both;
        display: block;
        margin-bottom:40px;
        line-height:30px;
    }

    .ccwork_entry .marginT20B20 {
        clear: both;
        display: block;
        margin-bottom:20px;
        margin-top:20px;
        line-height:30px;
    }
    /* ============================= 余白調整 end =============================== */

    /* ============================= 外部リンク start ============================= */
    .commonlinkgroup {
        margin:0;
        margin-bottom:16px;
        padding:0;
        padding-bottom:20px;
        overflow:hidden;
        position:relative;
        border-bottom:1px solid #ccc;
        clear:both;
    }

    .ccwork_entry .commonlinkgroup:last-child {
        border-bottom:none;
    }

    .commonlinkgroup img {
        float:left;
        width:80px !important;
        height:auto;
        margin-right:16px;
    }

    .ccwork_entry .commonlinkgrouptitle {
        margin:0;
        margin-right:0px;
        margin-bottom:10px;
        padding:0;
        font-size:14px;
        font-weight:bold;
        text-decoration:underline;
        float:left;
        width:390px;
        display:block;
    }

    .ccwork_entry .commonlinkgrouptitle a{
        color:#282828 !important;
    }

    .ccwork_entry .commonlinkgroupsubtitle {
        margin:0;
        font-size:14px;
        font-weight:bold;
        color:#ccc;
        float:left;
        width:380px;
        bottom:20px;
        position:absolute;
        left:90px;
    }
    /* ============================= 外部リンク end ============================= */
}
/*------------------------------------------------------------------------------------------------

　　　　　　　　　　　　　　　　　　　　　　　素材 PC CSS　【 end 】
　
------------------------------------------------------------------------------------------------*/


/*------------------------------------------------------------------------------------------------

　　　　　　　　　　　　　　　　　　　　　　素材 スマホ CSS　【 start 】
　
------------------------------------------------------------------------------------------------*/



@media screen and (max-width: 750px) {/* スマフォ等*/
    /* ================================= 帯 start ============================= */
    .ccwork_entry .blueblockBG {
        border-bottom: 2px solid #cccccc;
        padding: 5px 0px;
        margin: 40px 0px 20px;
        font-weight: bold;
        color: #2c2c2c;
        font-size: 30px;
        line-height: 1.8;
    }

    .ccwork_entry .blueblockBG_title {
        margin:10px 0px 0px 0px;
        color:#00b2e8;
        font-weight:bold;
    }

    .ccwork_entry .blueblockBG_title  > span {
        color:#000;
        font-weight:bold;
    }

    .ccwork_entry .blueblockBG_title  > span:before {
        content:"・・・";
    }

    .ccwork_entry .orangeblockBG{
        background:#f39800;
        padding:5px 10px;
        margin:20px 0px 20px 0px;
        font-weight:bold;
        color:#fff;
        letter-spacing:0.1em;
        font-size:16px;
    }

    .ccwork_entry .orangeblockBG_title {
        margin:10px 0px 0px 0px;
        color:#f39800;
        font-weight:bold;
    }
    .ccwork_entry .orangeblockBG_title  > span {
        color:#000;
        font-weight:bold;
    }

    .ccwork_entry .orangeblockBG_title  > span:before {
        content:"・・・";
    }

    .ccwork_entry .pinkblockBG {
        background:#dd007f;
        padding:5px 10px;
        margin:20px 0px 20px 0px;
        font-weight:bold;
        color:#fff;
        letter-spacing:0.1em;
        font-size:16px;
    }

    .ccwork_entry .pinkblockBG_title {
        margin:10px 0px 0px 0px;
        color:#dd007f;
        font-weight:bold;
    }

    .ccwork_entry .pinkblockBG_title > span {
        color:#000;
        font-weight:bold;
    }

    .ccwork_entry .pinkblockBG_title > span:before {
        content:"・・・";
    }

    .ccwork_entry .yellowBlockBG {
        background:#FFFF00;
        padding:5px 10px;
        margin:20px 0px 20px 0px;
        font-weight:bold;
        color:#3F3F3F;
        letter-spacing:0.1em;
        font-size:16px;
    }
    /* ================================== 帯 end ============================= */

    /* ============================ Yellow circle start ============================ */

    /* 001 使用中 */

    .ccwork_entry .yellowcirclewrapper {
        min-height:120px !important;
        height:auto;
    }

    .ccwork_entry .yellowcircle {
        margin-bottom:15px;
        padding:6px 10px;
        font-size:13px;
        text-align:left;
        background:#ffea00;
        height:30px;
        line-height:30px;
    }

    .ccwork_entry .yellowcircle > p {
        font-weight:bold;
        float:left;
        text-align:left;
    }

    .ccwork_entry .yellowcircle > p  > .yellownumber{
        font-size:13px;
        font-weight:bold;
        margin-right:8px;
    }

    .ccwork_entry .yellowcircle > span {
        text-align:center;
        font-size:13px;
        float:left;
        font-weight:bold;
    }

    .ccwork_entry .yellowcircletext {
    }
    /* =========================== Yellow circle end =========================== */

    /* ======================== Yellow small middle 帯 start ======================= */

    /* 006 使用中 */

    .ccwork_entry .yellowmiddlecircle {
        margin:0;
        padding:0;
        width:100%;
        height:32px;
        background:#ffea00 !important;
        background:url(../public/images/ccwork/006/circle_bg-sp.jpg) top no-repeat;
        text-align:left;
        display:block;
        box-sizing:border-box;
    }

    .ccwork_entry .yellowmiddlecircle_title {
        margin:0;
        padding:0;
        font-weight:bold;
        font-size:18px;
        line-height:30px;
        display:inline-table;
    }

    .ccwork_entry .yellowmiddlecircle_titleimg {
        display:inline-table;
        width:30px !important;
    }

    .ccwork_entry .yellowmiddlecircle_titlenumber {
        margin:0;
        padding:0;
        font-weight:bold;
        font-size:18px;
        line-height:32px;
        display:inline-table;
    }

    .ccwork_entry .yellowmiddlecircle_titlebox {
        margin:1%;
    }

    .ccwork_entry .yellowmiddlecircle_titletextblue {
        margin:0%;
        margin-bottom:20px;
        width:98%;
        display:block;
        color:#00b2e8;
        font-size:18px;
        font-weight:bold;
        box-sizing:border-box;
    }

    .ccwork_entry .yellowmiddlecircle2 {
        margin:0;
        padding:0;
        width:100%;
        height:32px;
        background:#ffea00 !important;
        background:url(/public/images/ccwork/044/icon_sp_001.jpg) top no-repeat;
        text-align:left;
        display:block;
        box-sizing:border-box;
    }

    .ccwork_entry .yellowmiddlecircle3 {
        margin:0;
        padding:0;
        width:100%;
        height:32px;
        background:#ffea00 !important;
        background:url(/public/images/ccwork/044/icon_sp_002.jpg) top no-repeat;
        text-align:left;
        display:block;
        box-sizing:border-box;
    }

    .ccwork_entry .yellowmiddlecircle4 {
        margin:0;
        padding:0;
        width:100%;
        height:32px;
        background:#ffea00 !important;
        background:url(/public/images/ccwork/044/icon_sp_003.jpg) top no-repeat;
        text-align:left;
        display:block;
        box-sizing:border-box;
    }

    .ccwork_entry .yellowmiddlecircle5 {
        margin:0;
        padding:0;
        width:100%;
        height:32px;
        background:#ffea00 !important;
        background:url(/public/images/ccwork/044/icon_sp_004.jpg) top no-repeat;
        text-align:left;
        display:block;
        box-sizing:border-box;
    }

    .ccwork_entry .yellowmiddlecircle6 {
        margin:0;
        padding:0;
        width:100%;
        height:32px;
        background:#ffea00 !important;
        background:url(/public/images/ccwork/044/icon_sp_005.jpg) top no-repeat;
        text-align:left;
        display:block;
        box-sizing:border-box;
    }

    .ccwork_entry .yellowmiddlecircle_titleimg2 {
        display:inline-table;
        width:30px !important;
    }

    .ccwork_entry .yellowmiddlecircle_titleimg3 {
        display:inline-table;
        width:30px !important;
    }

    .ccwork_entry .yellowmiddlecircle_titleimg4 {
        display:inline-table;
        width:30px !important;
    }

    .ccwork_entry .yellowmiddlecircle_titleimg5 {
        display:inline-table;
        width:30px !important;
    }

    .ccwork_entry .yellowmiddlecircle_titleimg6 {
        display:inline-table;
        width:30px !important;
    }
    /* ========================= Yellow small middle 帯 end ========================= */

    /* ========================== Yellow small circle start ========================== */

    /* 005 使用中 */

    .ccwork_entry .yellowsmallcircle_Number {
        margin-right:10px;
        width:30px;
        height:30px;
        text-align:center;
        line-height:30px;
        background:#ffea00;
        border-radius:40px;
        font-weight:bold;
        font-size:20px;
        display:block;
        float:left;
    }

    .ccwork_entry .yellowsmallcircle_title {
        margin:0;
        background: linear-gradient(transparent 70%, #ff0 0%);
        font-weight:bold;
        line-height:30px;
        font-size:16px;
        display:inline;
        clear:both;
    }
    /* ========================== Yellow small circle end ========================== */

    /* ======================== 青 リストボックス 枠組み start ======================== */

    /* 003 使用中 */

    .ccwork_entry table {
        border: none;
    }
    .ccwork_entry tr {
        display:block;
        margin-bottom: 10px;
    }
    .ccwork_entry th {
        display:block;
        width: 95%;
        margin: 0 auto 10px;
        background: #fff;
        color: #ffffff;
        border:none;
        border-radius: 3px;
    }
    .ccwork_entry td {
        display: list-item;
        width: 90%;
        margin-left: 20px;
        border:none;
        list-style:none;
    }

    .ccwork_entry table img{
        width:20% !important;
        padding-left:10px;
    }

    .ccwork_entry .blue {
        display:none;
    }

    .ccwork_entry .bluetitlepcnone {
        background:#00b2e8;
        padding:5px 10px;
        margin:20px 0px 0px 0px;
        font-weight:bold;
        color:#fff;
        letter-spacing:0.1em;
        font-size:16px;
        list-style:none !important;
        list-style-type:none !important;
    }

    .ccwork_entry .blue_listbox ul {
        padding:10px;
        padding-left:30px;
        font-size:14px;
        list-style:disc;
    }

    .ccwork_entry .blue_listbox  li{
    }

    .ccwork_entry .pcnonetext {
        float:right;
        color: #00b2e8;
        font-weight:bold;
        font-size:20px;
        margin-top:22px;
        text-align:left;
        left:120px;
        position:absolute;
    }
    /* ======================== 青 リストボックス 枠組み end ========================== */

    /* ======================== 青ボックス（左：青 / 右：白） start ====================== */

    /* 003　004  使用中 */

    .ccwork_entry .bluebox_lefttext_blue  {
        display:block;
        width:20% !important;
        height:100%;
        color:#fff !important;
        font-weight:bold;
        float:left;
        padding-top:20px !important;
    }

    .ccwork_entry .bluebox_righttext_white {
        display:block;
        background:#fff !important;
        padding-top:20px !important;
        width:66% !important;
        color:#000 !important;
        float:left;
    }

    .ccwork_entry .bluet004 {
        border:2px solid #00c6ff !important;
        width:100%;
    }
    .ccwork_entry .bluet004 tr {
        width:100%;
        height:100%;

    }
    .ccwork_entry .bluet004 td {
        margin:0;
        padding:10px;
        height:50px;
    }
    /* ========================= 青ボックス（左：青 / 右：白） end ====================== */

    /* ======================= ピンクボックス（左：ピンク / 右：白） start =================== */
    .ccwork_entry .pinkbox01 {
        margin:10px 0px 10px 0px;
        padding:0;
        width:100%;
        height:68px;
        background:#dd007f;
        border:2px #dd007f solid;
        box-sizing:border-box;
        clear:both;
        overflow:hidden;
    }

    .ccwork_entry .pinkbox01_leftwhitetext_title {
        padding:8px;
        text-align:center;
        width:36%;
        float:left;
        font-weight:bold;
        color:#fff;
        background:#dd007f;
        font-size:14px;
        line-height:46px;
    }

    .ccwork_entry .pinkbox01_leftwhitetext_title span{
        display:inline;
        font-size:14px;
        color:#fff !important;
        margin-top:8px;
        line-height:46px;
    }

    .ccwork_entry .pinkbox01 ul{
        background:#fff;
        float:left;
        width:58.4%;
        padding-top:7px;
        height:64px;
    }

    .ccwork_entry .pinkbox01 li{
        float:none;
        margin:0;
        margin-top:-4px;
        padding:0;
        margin-left:8px;
        font-weight:bold;
        font-size:13px;
    }

    .ccwork_entry .pinkbox01 ul li:before {
        content:"●";
        font-size:14px;
        color:#dd007f;
    }

    .ccwork_entry .pinkbox01_textpink {
        color:#dd007f;
        font-weight:bold;
    }
    /* ======================= ピンクボックス（左：ピンク / 右：白） end =================== */

    /* ======================= ブルーボックス（左：ブルー / 右：白） start =================== */
    .ccwork_entry .bluebox01 {
        margin:10px 0px 10px 0px;
        padding:0;
        width:100%;
        height:68px;
        background:#00b2e8;
        border:2px #00b2e8 solid;
        box-sizing:border-box;
        clear:both;
        overflow:hidden;
    }

    .ccwork_entry .bluebox01_leftwhitetext_title {
        padding:8px;
        text-align:center;
        width:36%;
        line-height:46px;
        float:left;
        font-weight:bold;
        color:#fff;
        word-wrap:break-word;
        background:#00b2e8;
    }

    .ccwork_entry .bluebox01_leftwhitetext_title span{
        display:inline;
        line-height:46px;
    }

    .ccwork_entry .bluebox01 ul{
        background:#fff;
        float:left;
        width:58.4%;
        height:64px;
        padding-top:7px;
    }

    .ccwork_entry .bluebox01 li{
        float:none;
        margin-left:8px;
        margin-top:-4px;
        font-weight:bold;
        font-size:12px;
    }

    .ccwork_entry .bluebox01 ul li:before {
        content:"●";
        font-size:14px;
        color:#00b2e8;
    }

    .ccwork_entry .bluebox01_textblue {
        color:#00b2e8;
        font-weight:bold;
    }
    /* ======================= ブルーボックス（左：ブルー / 右：白） end ==================== */

    /* ====================== オレンジボックス（左：オレンジ / 右：白） start ================== */
    .ccwork_entry .orangebox01 {
        margin:10px 0px 10px 0px !important;
        padding: 0;
        width: 100%;
        height: 68px;
        background: #f39800;
        border: 2px solid #f39800;
        box-sizing: border-box;
        overflow: hidden;
        clear:both;
    }

    .ccwork_entry .orangebox01_leftwhitetext_title {
        padding:8px;
        text-align:center;
        width:36%;
        line-height:46px;
        float:left;
        font-weight:bold;
        color:#fff;
        word-wrap:break-word;
        background:#f39800;
    }

    .ccwork_entry .orangebox01_leftwhitetext_title span{
        display:inline;
        line-height:46px;
    }

    .ccwork_entry .orangebox01 ul{
        background:#fff;
        float:left;
        width:58.4%;
        height:64px;
        padding-top:7px;
    }

    .ccwork_entry .orangebox01 li{
        float:none;
        margin-left:8px;
        font-weight:bold;
        font-size:13px;
        margin-top:-4px;
    }

    .ccwork_entry .orangebox01 ul li:before {
        content:"●";
        font-size:14px;
        color:#f39800;
    }

    .ccwork_entry .orangebox01_textorange {
        color:#f39800;
        font-weight:bold;
    }
    /* ====================== オレンジボックス（左：オレンジ / 右：白） end =================== */

    /* ====================== グリーンボックス（左：グリーン / 右：白） start ================== */
    .ccwork_entry .greenbox01 {
        margin:10px 0px 10px 0px !important;
        padding: 0;
        width: 100%;
        height: 68px;
        background: #39b54a;
        border:2px solid #39b54a;
        box-sizing: border-box;
        overflow: hidden;
        clear:both;
    }

    .ccwork_entry .greenbox01_leftwhitetext_title {
        padding:8px;
        text-align:center;
        width:36%;
        line-height:46px;
        float:left;
        font-weight:bold;
        color:#fff;
        word-wrap:break-word;
        background:#39b54a;
    }

    .ccwork_entry .greenbox01_leftwhitetext_title span{
        display:inline;
        line-height:46px;
    }

    .ccwork_entry .greenbox01 ul{
        background:#fff;
        float:left;
        width:58.4%;
        height:64px;
    }
    .ccwork_entry .greenbox01 li{
        float:none;
        margin-left:8px;
        font-weight:bold;
        font-size:12px;
    }

    .ccwork_entry .greenbox01 ul li:before {
        content:"●";
        font-size:14px;
        color:#39b54a;
    }

    .ccwork_entry .greenbox01_textgreen {
        color:#39b54a;
        font-weight:bold;
    }
    /* ====================== グリーンボックス（左：グリーン / 右：白） end =================== */

    /* ============================= 吹き出し01 一式　start ========================== */

    /* 004 使用中 */

    .ccwork_entry .bluefukidasi_bluetext {
        display:block;
        text-align:left !important;
        font-size:16px;
        font-weight:bold;
        line-height:26px;
        margin-top:20px;
        margin-right:0px;
        color:#00b2e8 !important;
        float:right;
    }

    .ccwork_entry .pinkfukidasi_pinktext {
        display: block;
        text-align: left !important;
        font-size: 16px;
        font-weight: bold;
        line-height: 26px;
        margin-top: 20px;
        margin-right: 0px;
        color: #dd007f;
        float: right;
    }

    .ccwork_entry .bluefukidasi {
        margin-top:0px;
        margin-bottom:20px;
        position: relative;
        background: #dff2fc;
        border: 4px solid #;
        padding:10px 20px;
        border-radius:5px;
    }

    .ccwork_entry .pinkfukidasi {
        position: relative;
        background: #fdeff5 ;
        border: 4px solid #fdeff5;
        margin:30px 15px 30px 0;
        padding:40px 20px;
        border-radius:8px;
    }

    .ccwork_entry .pinkfukidasi:after, .ccwork_entry .pinkfukidasi:before {
        left: 100%;
        top: 50%;
        border: solid transparent;
        content: "";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }

    .ccwork_entry .pinkfukidasi:after {
        border-color: rgba(253, 239, 245, 0);
        border-left-color: #fdeff5 ;
        border-width: 20px;
        margin-top: -20px;
    }

    .ccwork_entry .pinkfukidasi:before {
        border-color: rgba(0, 0, 0, 0);
        border-left-color: #fdeff5;
        border-width: 26px;
        margin-top: -26px;
    }

    .ccwork_entry .image_left {
        margin-left: 60px;
        padding: 0;
        width: 70% !important;
    }

    .ccwork_entry .image_right {
        margin-left: 60px;
        padding: 0;
        width: 70% !important;
    }

    .ccwork_entry .image_right2 {
        margin-bottom:-40px !important;
        padding:0;
        width:18% !important;
    }
    /* ============================ 吹き出し01 一式　end =========================== */
    /* ============================ 吹き出し01 一式　end =========================== */

    /* ============================ 吹き出し02 一式　start =========================== */

    /* 007 使用中 */

    .ccwork_entry .pinkfukidasi02 {
        position: relative;
        padding:12px;
        background: #fbe6ef;
        border-radius:10px;
        width:250px;
        margin-left:90px;
        font-weight:bold;
        color:#dd007f;
    }

    .ccwork_entry .pinkfukidasi02:after {
        right: 99%;
        top: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(251, 230, 239, 0);
        border-right-color: #fbe6ef;
        border-width: 16px;
        margin-top: -16px;
    }

    .ccwork_entry .bluefukidasi02 {
        position: relative;
        padding:12px;
        background: #dff2fc;
        border-radius:10px;
        width:250px;
        margin-left:90px;
        color:#00b2e8;
        font-weight:bold;
    }

    .ccwork_entry .bluefukidasi02:after {
        right: 99%;
        top: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(251, 230, 239, 0);
        border-right-color: #dff2fc;
        border-width: 16px;
        margin-top: -16px;
    }

    .ccwork_entry .fukidasi02_answer {
        margin-top:8px;
        display:inline-block;
        line-height:24px;
    }

    .ccwork_entry .fukidasi02_answer:before {
        content:"A.";
        font-size:18px;
        color:#26b8ea;
        margin-right:4px;
    }

    .ccwork_entry .fukidasi02_graybox {
        padding: 30px 20px 30px;
        display: block;
        background: #f2f2f2;
        font-size: 14px;
        line-height: 1.6;
    }

    .ccwork_entry .fukidasi02_graybox .gray {
        color: #4e4e4e ;
    }

    .ccwork_entry .fukidasi02_graybox li {
        margin:10px 0 10px 0;
        font-weight:bold !important;
        padding: 0px;
        /*color: #00b2e8;*/
    }

    .ccwork_entry .fukidasi02_graybox li a {
        color: #4e4e4e;
    }

    .ccwork_entry .pinkbox_dotsentence {
        margin:10px 0px 20px 0px;
        padding:16px;
        background:#fdeff5;
        display:block;
    }

    .ccwork_entry .pinkbox_dotsentence li {
        margin:4px;
        font-weight:bold !important;
    }

    .ccwork_entry .pinkbox_dotsentence li:before {
        content:"●";
        font-size:18px;
        color:#dd007f;
        margin-right:2px;
    }

    .ccwork_entry .bluebox_dotsentence {
        margin:10px 0px 20px 0px;
        padding:16px;
        background:#dff2fc;
        display:block;
    }

    .ccwork_entry .bluebox_dotsentence li {
        margin:4px;
        font-weight:bold !important;
    }

    .ccwork_entry .bluebox_dotsentence li:before {
        content:"●";
        font-size:18px;
        color:#00b2e8;
        margin-right:2px;
    }

    .ccwork_entry .fukidasi02_bluebox {
        margin:10px 0px 20px 0px;
        padding:16px;
        background:#00b2e8;
        display:block;
    }

    .ccwork_entry .fukidasi02_bluebox li {
        margin:4px;
        font-weight:bold !important;
        color:#fff;
    }

    .ccwork_entry .p007smart {
        padding:8px;
        background:#ffea00;
        width:100%;
        box-sizing:border-box;
        font-weight:bold;
    }

    .ccwork_entry .fukidasi02_bg {
        width:65px !important;
        height:auto !important;
        float:left;
    }
    /* ============================ 吹き出し02 一式　end =========================== */

    /* ======================= ボックス01 一式  （上：title text 下：text）start ================= */

    /* 005 使用中 */

    .ccwork_entry .freebox01_blueBG_wrapper {
        margin: 10px auto 40px;
        padding: 20px 15px;
        border: 5px solid #dff2fc;
    }

    .ccwork_entry .freebox01_blueBG_title01 {
        display:inline-block;
        margin:0;
        margin-bottom: 5px;
        padding: 2px 10px;
        background:#00b2e8;
        color:#fff;
        font-weight:bold;
        font-size:13px;
    }

    .ccwork_entry .freebox01_blueBG_title02 {
        margin:0;
        margin-bottom:8px;
        padding:8px;
        display:inline-block;
        color:#00b2e8;
        font-size:12px;
        font-weight:bold;
    }

    .ccwork_entry .freebox01_pinkBG_wrapper {
        margin: 10px auto 40px;
        padding: 20px 15px;
        border: 5px solid #fbe6ef;
    }

    .ccwork_entry .freebox01_pinkBG_title01 {
        display:inline-block;
        margin:0;
        margin-bottom:10px;
        padding:8px;
        background:#dd007f;
        color:#fff;
        font-weight:bold;
        font-size:12px;
    }

    .ccwork_entry .freebox01_pinkBG_title02 {
        margin:0;
        margin-bottom:8px;
        padding:8px;
        display:inline-block;
        color:#dd007f;
        font-size:12px;
        font-weight:bold;
    }

    .ccwork_entry .freebox01_orangeBG_wrapper {
        margin: 10px auto 40px;
        padding: 20px 15px;
        border: 5px solid #FFF3AF;
    }

    .ccwork_entry .freebox01_orangeBG_title01 {
        display:inline-block;
        margin:0;
        margin-bottom:10px;
        padding:8px;
        background:#f39800;
        color:#fff;
        font-weight:bold;
        font-size:12px;
    }

    .ccwork_entry .freebox01_orangeBG_title02 {
        margin:0;
        margin-bottom:8px;
        padding:8px;
        display:inline-block;
        color:#f39800;
        font-size:12px;
        font-weight:bold;
    }
    /* ======================= ボックス01 一式  （上：title text 下：text）end ================= */

    /* ======================= ボックス02 一式 （左：image 右：text） start ================== */

    /* 007  使用中 */

    .ccwork_entry .freebox02_wrapper {
        margin:10px 0px 0px 0px;
        padding:0;
        width:auto;
        clear:both;
        display:inline-block;
        vertical-align:middle;
    }

    .ccwork_entry .freebox02_wrapper img{
        display:none !important;
    }

    .ccwork_entry .freebox02_text {
        vertical-align:middle;
        float:none;
        width:100%;
        height:auto;
        display:inline-block;
        box-sizing:border-box;
    }

    .ccwork_entry .freebox02_smart {
        padding:8px;
        background:#ffea00;
        width:100%;
        box-sizing:border-box;
        font-weight:bold;
    }
    /* ===================== ボックス02 一式 （左：image 右：text） end ===================== */

    /* ===================== ボックス03 一式 （背景グレー テキスト黒）start ==================== */

    /* 013  使用中 */

    .ccwork_entry .freebox03_grayBG {
        margin:20px 0;
        padding:20px 30px;
        background:#f0f0f0;
        display:block;
    }

    .ccwork_entry .freebox03_grayBG_textbold {
        font-weight:bold;
        color:#333;
        margin:0;
        padding:0;
    }
    /* ===================== ボックス03 一式 （背景グレー テキスト黒）end ===================== */

    /* ===================== ボックス04 一式 （背景グレー テキスト黒）start ==================== */
    .ccwork_entry .freebox04_border {
        margin-top:10px;
    }

    .ccwork_entry .freebox04_border_none {
        margin-top:10px;
    }
    /* ===================== ボックス04 一式 （背景グレー テキスト黒）end ===================== */

    /* ========================== ボックス05 一式 start ========================= */

    /* 028 029 使用中 */

    .ccwork_entry .freebox05_circle01 {
        margin: 0;
        padding: 0;
        width: 100px;
        height: 100px;
        background: url(/img/ng_bg.jpg) top no-repeat;
        text-align: left;
        float: left;
        box-sizing: border-box;
        background-size: contain;
    }

    .ccwork_entry .freebox05_circle02 {
        margin: 0;
        padding: 0;
        width: 100px;
        height: 100px;
        background: url(/img/ok_bg.jpg) top no-repeat;
        text-align: left;
        float: left;
        box-sizing: border-box;
        background-size: contain;
    }

    .ccwork_entry .freebox05_circle03_attention {
        margin:0;
        padding:0;
        width:45px;
        height:45px;
        background:url(/img/attention_sp.jpg) top no-repeat;
        text-align:left;
        float:left;
        box-sizing:border-box;
    }

    .ccwork_entry .freebox05_circle03_imagesA {
        margin:0;
        padding:0;
        width:45px;
        height:45px;
        background:url(/img/sub_003_sp.jpg) top no-repeat;
        text-align:left;
        float:left;
        box-sizing:border-box;
    }

    .ccwork_entry .freebox05_circle03_imagesB {
        margin:0;
        padding:0;
        width:45px;
        height:45px;
        background:url(/img/sub_004_sp.jpg) top no-repeat;
        text-align:left;
        float:left;
        box-sizing:border-box;
    }

    .ccwork_entry .freebox05_circle03_imagesC {
        margin:0;
        padding:0;
        width:45px;
        height:45px;
        background:url(/img/sub_005_sp.jpg) top no-repeat;
        text-align:left;
        float:left;
        box-sizing:border-box;
    }

    .ccwork_entry .freebox05_circlee_titleimg {
        display:inline-table;
        width:45px !important;
    }


    .ccwork_entry .freebox05_circle_titletext {
        margin:0%;
        padding-left:20px;
        width:100%;
        height:100px;
        display:table-cell;
        color:#000;
        font-size:16px;
        font-weight:bold;
        vertical-align:middle;
    }

    .ccwork_entry .freebox05_circle_titletextsmall {
        margin:0%;
        padding-left:20px;
        width:100%;
        height:100px;
        display:table-cell;
        color:#000;
        font-size:14px;
        font-weight:bold;
        vertical-align:middle;
    }
    /* ============================== ボックス05 一式 end ============================ */

    /* =============================== 箇条書き00 start ============================= */
    .ccwork_entry .bluedot {
        margin:10px 0px 10px 0px;
        color: #00b2e8;
        padding-left:24px;
        font-weight:bold;
        font-size:20px;
        display:inline-block;
        box-sizing:border-box;
        line-height:20px;
        position:relative;
    }

    .ccwork_entry .bluedot:before {
        content:"●";
        color: #00b2e8;
        font-size:30px;
        top: 60%;
        left: 0px;
        position:absolute;
        margin-top:-15px;
    }

    .ccwork_entry .blackdot {
        margin:2px 0px;
        padding-left:50px;
        font-weight:bold;
        font-size:15px;
        display:inline-block;
        box-sizing:border-box;
        line-height:20px;
        position:relative;
        display:block;
        clear:both;
    }

    .ccwork_entry .blackdot:before {
        content:"●";
        font-size:20px;
        top: 60%;
        left: 0px;
        position:absolute;
        margin-top:-15px;
        padding-left:30px;
    }
    /* =============================== 箇条書き00 end ============================= */

    /* =============================== 箇条書き01 start ============================= */
    .ccwork_entry .dot_underline {
        margin:10px 0px 10px 0px;
        padding-left:24px;
        background: linear-gradient(transparent 60%, #ff0 0% );
        background-position:bottom !important;
        font-weight:bold;
        font-size:20px;
        display:inline-block;
        box-sizing:border-box;
        line-height:20px;
        position:relative;
    }

    .ccwork_entry .dot_underline:before {
        content:"●";
        font-size:30px;
        top: 60%;
        left: 0px;
        position:absolute;
        margin-top:-15px;
    }
    /* =============================== 箇条書き01 end ============================= */

    /* =============================== 箇条書き02 start ============================= */

    /* 013 使用中 */

    .ccwork_entry .dot_bluetext {
        margin-bottom: 20px;
        padding:0;
    }

    .ccwork_entry .dot_bluetext li{
        margin:10px 0px;
        font-weight:bold;
        color:#00b2e8;
        line-height: 30px;
        font-size: 16px;
    }

    .ccwork_entry .dot_bluetext li span{
        background:#00b2e8;
        padding:2px 6px;
        color:#fff;
        border-radius:50%;
        margin-right:8px;
    }
    /* =============================== 箇条書き02 end ============================= */

    /* =============================== 箇条書き03 start ============================= */

    /* komata.html 使用中 */

    .ccwork_entry .dot_yellowtext_Number {
        width: 30px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        background: #f0f0f0;
        border-radius: 0px;
        font-weight: bold;
        font-size: 16px;
        display: inline-block;
    }

    .ccwork_entry .dot_yellowtext_title {
        margin: 0px 0px 0px 5px;
        background: linear-gradient(transparent 70%, #f0f0f0 0%);
        font-weight: bold;
        font-size: 16px;
        display: inline-block;
    }

    .ccwork_entry .dot_yellowtext_title_noline {
        margin:0px 0px 0px 3px;
        font-weight:bold;
        font-size:18px;
        display:inline-block;
    }
    /* =============================== 箇条書き03 end ============================= */

    /* ================================= map start =============================== */

    /* 010 使用中 */

    .ccwork_entry .map {
        margin:0;
        margin-bottom:20px;
        padding:0;
        list-style:none;
        clear:both;
        overflow:hidden;
    }

    .ccwork_entry .map li{
        margin:1%;
        padding:4% 2%;
        text-align:center;
        width:48%;
        background:#00b2e8;
        float:left;
        color:#fff !important;
        font-weight:bold;
        font-size:18px;
        box-sizing:border-box;
    }

    .ccwork_entry .map li a{
        color:#fff !important;
        text-decoration:none;
    }

    .ccwork_entry .map li:before{
        content:"笆ｶ";
        color:#fff;
        margin-right:8px;
        font-size:0.9em;
    }

    .ccwork_entry .mapTitle{
        margin-bottom:8px;
        margin-top:20px;
        padding-left:10px;
        padding-bottom: 3px;
        border-bottom: 3px solid #00b2e8;
        color: #00b2e8;
        font-size:18px;
        font-weight: normal;
    }

    .ccwork_entry .company_name {
        margin-top: 5px;
        margin-bottom:0px;
        margin-left: 10px;
        color: #333;
        font-size:16px;
        font-weight: normal;
    }

    .ccwork_entry .company_name::before {
        content:"笆ｶ";
        color: #00B2E8;
        margin-right:8px;
        font-size:0.9em;
    }

    .ccwork_entry .company_add {
        margin-top: 2px;
        margin-bottom:10px;
        margin-left: 30px;
        color: #595757;
        font-size:14px;
        font-weight: normal;
    }

    .ccwork_entry .mapDesc {
        margin:0;
        padding:0;
        list-style:none;
        clear:both;
        overflow:hidden;
    }
    .ccwork_entry .mapDesc li{
        margin:4px 0px;
        padding:4px 0px;
        border-bottom:1px dashed #ccc;
        box-sizing:border-box;
        vertical-align:middle;
    }

    .ccwork_entry .mapDesc li a{
        color:#333;
    }

    .ccwork_entry .mapimage{
        position:absolute;
        margin-top:-130px;
        margin-left:-80px;
        display:none;
    }
    /* ================================= map end =============================== */

    /* =============================== 画像関係 start ============================== */
    .ccwork_entry .imagemargin_T20B20 {
        margin:2rem auto;
    }

    .ccwork_entry .imagemargin_T25B25 {
        margin:2.5rem auto;
    }

    .ccwork_entry .imagemargin_T10B10 {
        margin-bottom:1rem;
        margin-top:1rem;
    }

    .ccwork_entry .imagemargin_T10B30 {
        margin-bottom:3rem;
        margin-top:1rem;
    }

    .ccwork_entry .imagemargin_T0B50 {
        margin-bottom:3rem;
        margin-top:0;
    }

    .ccwork_entry .imagemargin_B10 {
        margin-bottom:1rem !important;
    }

    .ccwork_entry .imagemargin_B25 {
        margin-bottom:2.5rem !important;
    }
    /* =============================== 画像関係 end =============================== */

    /* =============================== 余白調整 start =============================== */
    .ccwork_entry .sectborder {
        display:block;
        clear:both;
        padding-bottom:20px;
        border-bottom:1px #ccc dashed;
    }

    .ccwork_entry .sectborder1 {
        display:block;
        clear:both;
        padding-bottom:30px;
        border-bottom:1px #ccc dashed;
    }

    .ccwork_entry .textalign_right {
        text-align:right;
    }

    .ccwork_entry .marginB20 {
        clear: both;
        display: block;
        line-height:30px;
    }

    .ccwork_entry .marginT20B20 {
        clear: both;
        display: block;
        margin-bottom:20px;
        margin-top:10px;
        line-height:30px;
    }
    /* ============================== 余白調整 end =============================== */

    /* ============================= 外部リンク start =============================== */

    .ccwork_entry .commonlinkgroup {
        margin:0;
        margin-bottom:10px;
        padding:0;
        padding-bottom:20px;
        margin-top:20px;
        overflow:hidden;
        position:relative;
        border-bottom:1px solid #ccc;
    }

    .ccwork_entry  .commonlinkgroup img {
        float:left;
        width:80px !important;
        height:auto;
        margin-right:16px;
    }

    .ccwork_entry .commonlinkgrouptitle {
        margin:0;
        padding:0;
        width:180px;
        height:60px;
        font-size:14px;
        font-weight:bold;
        text-decoration:underline;
        overflow: hidden;
        float:left;
        text-overflow:ellipsis !important;
    }

    .ccwork_entry .commonlinkgroupsubtitle {
        margin:0px;
        font-size:10px;
        font-weight:normal;
        color:#ccc;
        position:absolute;
        bottom:20px;
    }
    /* ============================= 外部リンク end =============================== */

    /* ========================= text-style start ========================= */
    .Blue_text{
        color: #00b2e8;
        line-height:30px;
    }

    .Pink_text{
        color: #f40087;
    }

    .orange_text{
        color: #f39800;
    }

    .Blue_textbold{
        color: #00b2e8;
        font-weight:bold;
    }

    .detail-content .Blue_Btextbold,
    .Blue_Btextbold{
        color: #00b2e8;
        font-weight:bold;
        font-size:18px;
    }

    .Pink_textbold{
        color:#dd007f;
        font-weight:bold;
    }

    .Pink_Btextbold{
        color:#dd007f;
        font-weight:bold;
        font-size:18px;
    }

    .text_bold{
        color: #595757;
        font-weight:bold;
    }

    .text_small{
        color: #595757;
        font-size:12px;
    }

    .text_bold_b{
        color: #595757;
        font-weight:bold;
        font-size:18px;
    }
    /* ========================= text-style end ========================= */
}

@media screen and (max-width: 380px) {
    .ccwork_entry .bluefukidasi_bluetext {
        display: block;
        text-align: left !important;
        font-size: 16px;
        font-weight: bold;
        line-height: 26px;
        margin-top: 20px;
        margin-right: 80px;
        color: #00b2e8 !important;
        float: right;
    }
    .ccwork_entry .pinkfukidasi_pinktext {
        display:block;
        text-align:left !important;
        font-size:16px;
        font-weight:bold;
        line-height:26px;
        margin-top:20px;
        margin-right:150px;
        color:#dd007f;
        float:right;
    }
}

@media screen and (max-width: 380px) {
    .ccwork_entry .bluefukidasi_bluetext {
        display: block;
        text-align: left !important;
        font-size: 16px;
        font-weight: bold;
        line-height: 26px;
        margin-top: 20px;
        margin-right: 50px;
        color: #00b2e8 !important;
        float: right;
    }
    .ccwork_entry .pinkfukidasi_pinktext {
        display: block;
        text-align: left !important;
        font-size: 16px;
        font-weight: bold;
        line-height: 26px;
        margin-top: 20px;
        margin-right: 50px;
        color: #dd007f;
        float: right;
    }
    .ccwork_entry .dot_yellowtext_title {
        margin: 0px 0px 0px 5px;
        background: linear-gradient(transparent 70%, #f0f0f0 0%);
        font-weight: bold;
        font-size: 14px;
        display: inline-block;
    }
    .ccwork_entry .dot_yellowtext_Number {
        width: 25px;
        height: 25px;
        text-align: center;
        line-height: 25px;
        background: #f0f0f0;
        border-radius: 0px;
        font-weight: bold;
        font-size: 14px;
        display: inline-block;
    }
}

@media screen and (min-width:321px) and ( max-width:375px) {
    .ccwork_entry .freebox05_circle_titlebox {
        float: left;
        height: 100px;
        width: 540px;
    }
}

@media screen and (max-width: 320px) {
    .ccwork_entry .freebox03_grayBG {
        margin: 15px 0;
        padding: 15px 10px;
        background: #f0f0f0;
        display: block;
    }
    .ccwork_entry .freebox05_circle_titlebox {
        float: left;
        height: 100px;
        width: 420px;
    }
}

/*---------------------------------------------------------------------------------------------------

　　　　　　　　　　　　　　　　　　       　　素材 スマホ CSS　【 end 】
　