
/*TODO: [top secret]*/
.bg-secret{
    position: relative;
	overflow: hidden;
}

.bg-secret .secret-content{
    position: relative;
    /*width: 400px;
    height: 240px;
    margin: 0 auto;
    left: 0;
    right: 0;*/
}

.bg-secret .secret-content .container{
    position: absolute;
    z-index: 2;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    height: 100%;
}

.bg-secret .secret-content .benefits{
    position: absolute;
    width: 400px;
    height: 270px;
    margin: 0 auto;
    left: 0;
    top: 0;
}


.bg-secret .secret-content .center-bg{
    width: 400px;
    height: 270px;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.bg-secret .secret-content .background{
    position: relative;
    width: 400px;
    height: 270px;
    margin: 0 auto;
    left: 0;
    top: 0;
}

.bg-secret .background:before {
    background: url(/img/secret/secret-bg-1.png) no-repeat center top;
    background-size: 100%;
    right: 100%;
    z-index: 1;
}

.bg-secret .background:after {
    background: url(/img/secret/secret-bg-2.png) no-repeat center top;
    background-size: 100%;
    left: 100%;
    z-index: 1;
}

.bg-secret .secret-content .background:before, .bg-secret .secret-content .background:after{
    content: "";
    position: absolute;
    display: block;
    top: 0;
    width: 760px;
    height: 270px;
}


.bg-secret .secret-content .benefits {
    z-index: 2;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.benefits img{
    margin-left: -205px;
    margin-top: 28px;
}

.secret-content span {
    color: #4e4e4e;
}

.bg-secret .secret-content .main .img-title{
    margin: 35px 0  20px 0;
}

.btn-more-secret{
    display: inline-block;
    margin-top: 25px;
}

a:hover.btn-more-secret{
    opacity: 0.8;
}
/*TODO: [top secret/]*/
