@charset "utf-8";
/*Must delete after completed*/
.top-pre{
	display: none;
}
/*
	Common CSS contains used object commonly.

	Please don't write any CSS of a special page in this file

	If need to fix the object, please check it careful because it will make other page drop
*/
/*TODO: font-size*/
._h1{
	font-size: 38px;
	color: #4e4e4e;
}
._h2{
	font-size: 22px;
}
._h3{
	font-size: 18px;
}
._p{
	font-size: 14px;
}
._s{
	font-size: 12px;
	color: #4e4e4e;
}
._ss{
	font-size: 12px;
	color: #636363;
}
._sss{
	font-size: 10px;
}
.lh-1{
	line-height: 1;
}
.href{
	color: #00b2e8;
	line-height: 1.5;
}
.mg-0{
	margin: 0;
}
/*TODO: margin-top classes*/
.mg-top-0{
	margin-top: 0px;
}
.mg-top-5{
	margin-top: 5px;
}
.mg-top-10{
	margin-top: 10px;
}
.mg-top-15{
	margin-top: 15px;
}
.mg-top-20{
	margin-top: 20px;
}
.mg-top-25{
	margin-top: 25px;
}
.mg-top-30{
	margin-top: 30px;
}
.mg-top-40{
	margin-top: 40px;
}
.mg-top-50{
	margin-top: 50px;
}
.mg-top-60{
	margin-top: 60px;
}
.mg-top-70{
	margin-top: 70px;
}
.mg-top-80{
	margin-top: 80px;
}
.mg-top-100{
	margin-top: 100px;
}
.mg-top-120{
	margin-top: 120px;
}
/*TODO: margin-bottom classes*/
.mg-bottom-0{
	margin-bottom: 0px;
}
.mg-bottom-5{
	margin-bottom: 5px;
}
.mg-bottom-10{
	margin-bottom: 10px;
}
.mg-bottom-15{
	margin-bottom: 15px;
}
.mg-bottom-20{
	margin-bottom: 20px;
}
.mg-bottom-25{
	margin-bottom: 25px;
}
.mg-bottom-30{
	margin-bottom: 30px;
}
.mg-bottom-40{
	margin-bottom: 40px;
}
.mg-bottom-50{
	margin-bottom: 50px;
}
.mg-bottom-60{
	margin-bottom: 60px;
}
.mg-bottom-70{
	margin-bottom: 70px;
}
.mg-bottom-80{
	margin-bottom: 80px;
}
.mg-bottom-90{
	margin-bottom: 90px;
}
.mg-bottom-100{
	margin-bottom: 100px;
}
.mg-bottom-120{
	margin-bottom: 120px;
}
.mg-right-20{
	margin-right: 20px;
}
.padding-lr-40{
	padding-left: 30px;
	padding-right: 30px;
}
.padding-l-40{
	padding-left: 40px;
}
.padding-tb-1{
	padding-bottom: 10px;
	padding-top: 10px;
}
.padding-t-170{
	padding-top: 170px;
}
.position-relative{
	position: relative;
}
.none-type{
	list-style: none;
	padding: 0;
}
.text-align-center{
	text-align: center;
}
/*TODO: common support*/
.color-df-white{
	color: #ffffff;
}
.color-df-green{
	color: #29d38d;
}
.all-middle > *{
	vertical-align: middle;
}
.display-table{
	display: table;
}
/*TODO: div-main*/
#div-main{
	position: relative;
}
/*TODO: single-form-layout */
.single-form-layout > .content{
	margin: 0 auto;
}
/*TODO: [line-high] @comment*/
.df-lh{
	line-height: 1;
}
/*TODO: [line-high/]*/
/*TODO: [v3] @comment*/
.hr--v3{
	border-top: 2px solid #cccccc;
}
.secret-v3{
	background: #eeeeee;
}
.panel-v3{
	padding: 40px 60px !important;
}
.btn-entry3{
	background: url("../img/btn-entry-v3.png") no-repeat center;
	width: 665px;
	height: 136px;
	display: block;
	margin: 0 auto;
}
.btn-entry4{
	background: url("../img/secret/secret_entry_button.jpg") no-repeat center;
	width: 560px;
	height: 70px;
	display: block;
}
.group-label > [class^="label-"]{
	margin-left: 10px;
}
.label-green{
	background: #29d38d;
	padding: 7px 8px;
	color: #ffffff;
}
.label-blue{
	background: #00b2e8;
	border-radius: 3px;
	padding: 4px 7px;
	color: #ffffff;
	font-size: 11px;
}
.topic-v3{
	background: #29d38d;
	color: #ffffff;
	font-size: 18px;
	padding: 7px 18px;
}
/*TODO: [v3/]*/
/*TODO: [secret v3] @comment*/
.secret-table3 .display-table{
	table-layout: fixed;
	width: 100%;
}
.secret-table3 .display-table > div{
	padding: 20px;
}
.secret-table3 .display-table > div:first-child{
	width: 195px;
	border-bottom: 1px solid #d5d5d5;
}
.secret-table3 .display-table > div:last-child{
	border-bottom: 1px solid #d5d5d5;
	border-left: 1px solid #d5d5d5;
}
/*TODO: [secret v3/]*/
/*TODO: icons*/
.icon-circle-plus{
	background: url("../img/icons/circle-plus-icon.png") no-repeat center;
	display: inline-block;
	width: 30px;
	height: 30px;
}
/*TODO: icons -> arrow down*/
.icon-arrow-down{
	background: url("../img/arrow-down.png") no-repeat center;
	display: inline-block;
	width: 30px;
	height: 10px;
}
/*Common box: for all box with padding 20px*/
.common-box{
	padding: 20px 20px;
	background: #ffffff;
	box-shadow: 0 -1px 2px rgba(0,0,0,0.05), 0 1px 2px rgba(0,0,0,0.05);
	font-family: Avenir, "Open Sans", "Helvetica Neue", Helvetica, Arial, Verdana, Roboto, "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Meiryo UI", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
/*Common panel: for all panels resemble*/
.common-panel{
	padding-bottom: 20px;
	background: #ffffff;
	box-shadow: 0 -1px 2px rgba(0,0,0,0.05), 0 1px 2px rgba(0,0,0,0.05);
}
.panel-shadown{
	background: #ffffff;
	box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.1);
}
.panel-trans{
	background: rgba(255,255,255,0.3);
	border-radius: 3px;
	border: 2px solid #ffffff;
}
/*[custom checkbox]*/
.custom-checkbox input[type="checkbox"],.custom-checkbox input[type="radio"]{
	/*	display: none;*/
	/*	visibility: hidden;*/
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	position: absolute;
	z-index: -10;
}
.custom-checkbox .vir-label{
	cursor: pointer;
	margin-bottom: 5px;
}
.custom-checkbox .vir-content{
	vertical-align: middle;
	font-size: 12px;
	margin-left: 5px;
	font-weight: normal;
	color: #636363;
	line-height: 1;
}
.custom-checkbox .vir-checkbox{
	width: 10px;
	height: 10px;
	border: 1px solid #bbbbbb;
	background: #ffffff;
	vertical-align: middle;
	position: relative;
	display: inline-block;
}
.custom-checkbox input[type="checkbox"]:checked + .vir-label .vir-checkbox:before,.custom-checkbox input[type="radio"]:checked + .vir-label .vir-checkbox:before{
	content: "";
	background: #29d38d;
	height: 6px;
	width: 6px;
	position: absolute;
	display: inline-block;
	top: 1px;
	left: 1px;
}
.green-dot{
	border-color: #666666 !important;
}
.green-dot:before{
	background: #29d38d !important;
}
/*[custom checkbox/]*/
/*Circle checkbox extend [custom checkbox]*/
.custom-checkbox .circle-style .vir-checkbox{
	border: 1px solid #dadada;
	height: 24px;
	width: 24px;
	border-radius: 90%;
}
.custom-checkbox input[type="checkbox"]:checked + .vir-label.circle-style .vir-checkbox:before,.custom-checkbox input[type="radio"]:checked + .vir-label.circle-style .vir-checkbox:before{
	width: 12px;
	height: 12px;
	background: #636363;
	border-radius: 100%;
	left: 5px;
	top: 5px;
}
.custom-checkbox .circle-style .vir-content{
	font-size: 14px;
	font-weight: bold;
	margin-right: 10px;
}
/*Circle checkbox extend [custom checkbox/]*/
/*[custom-textbox]*/
.custom-textbox input[type="text"]{
	padding: 10px 12px;
	border: 1px solid #cccccc;
	border-radius: 2px;
	font-size: 14px;
	color: #9d9d9d;
	outline: 0;
	width: 100%;
	/*
      -webkit-box-shadow: inset 0px 8px 8px -8px rgba(0,0,0,0.3);
      -moz-box-shadow: inset 0px 8px 8px -8px rgba(0,0,0,0.3);
      box-shadow: inset 0px 8px 8px -8px rgba(0,0,0,0.3);
  */
	-moz-appearance: none;
}
/*[custom-textbox/]*/
/*[custom search select]*/
.custom-search-select{
	position: relative;
}
.custom-search-select:before{
	content: "▼";
	color: #636363;
	font-size: 12px;
	position: absolute;
	left: 12px;
	top: 11px;
}
.custom-search-select select{
	padding: 10px 12px 8px 30px;
	border: 1px solid #cccccc;
	border-radius: 2px;
	overflow: hidden;
	outline: 0;
	width: 240px;
	/*
      -webkit-box-shadow: inset 0px 8px 8px -8px rgba(0,0,0,0.3);
      -moz-box-shadow: inset 0px 8px 8px -8px rgba(0,0,0,0.3);
      box-shadow: inset 0px 8px 8px -8px rgba(0,0,0,0.3);
  */
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	font-size: 13px;
	color: #636363;
	background: #ffffff;
}
/*[custom search select/]*/
/*TODO: [custom modern textbox] @comment*/
.custom-modern-textbox{
	display: inline-block;
	box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.3);
}
.custom-modern-textbox input{
	padding: 12px 15px;
	background: #ffffff;
	border: 0;
	outline: none;
	border-radius: 3px;
	width: 100%;
}
/*TODO: [custom modern textbox/]*/
/*TODO: [custom modern select] @comment*/
.add-modern-arrow{
	position: relative;
}
.custom-modern-select{
	position: relative;
	display: inline-block;
	box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.3);
	background: #ffffff;
	border-radius: 3px;
}
.add-modern-arrow:after,.custom-modern-select:after{
	content: "";
	position: absolute;
	right: 20px;
	top: 15px;
	background: url("../img/arrow-gray.png") no-repeat;
	display: block;
	width: 15px;
	height: 17px;
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
	z-index: 0;
}
.custom-modern-select select{
	padding: 12px 50px 12px 15px;
	background: transparent;
	border: 0;
	outline: none;
	border-radius: 3px;
	width: 100%;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	position: relative;
	z-index: 1;
}
.custom-modern-select select::-ms-expand{
	display: none;
}
/*TODO: [custom modern select/]*/
/*TODO: [comment style] @comment*/
.comment-oval{
	display: inline-block;
}
.comment-oval__box{
	background: #ffffff;
	display: inline-block;
	padding: 20px 30px;
	border-radius: 50%;
	position: relative;
	width: 210px;
	height: 80px;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
}
.comment-oval__box:after{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px 30px 20px 0;
	border-color: transparent #ffffff transparent transparent;
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	z-index: 0;
	position: absolute;
	left: 12px;
	bottom: -7px;
	content: '';
}
.comment-oval__content{
	margin-top: -68px;
	position: relative;
	z-index: 1;
}
/*TODO: [comment style/]*/
/*custom select*/
.custom-select{
	display: inline-block;
	position: relative;
}
.custom-select select{
	padding: 10px 12px 10px 30px;
	border: 1px solid #cccccc;
	border-radius: 2px;
	overflow: hidden;
	outline: 0;
	width: 100%;
	/*
      -webkit-box-shadow: inset 0px 8px 8px -8px rgba(0,0,0,0.3);
      -moz-box-shadow: inset 0px 8px 8px -8px rgba(0,0,0,0.3);
      box-shadow: inset 0px 8px 8px -8px rgba(0,0,0,0.3);
  */
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	font-size: 14px;
	color: #9d9d9d;
	background: #ffffff;
}
.custom-select .arrow{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px 3px 0 3px;
	border-color: #bababa transparent transparent transparent;
}
.custom-select:before{
	content: "▼";
	color: #bababa;
	font-size: 12px;
	position: absolute;
	left: 12px;
	top: 16px;
}
/*TODO: all button in herer*/
/*TODO: btn-normal-gray*/
.btn-normal-gray:hover,.btn-normal-gray:focus{
	color: #ffffff;
	text-decoration: none;
}
.btn-normal-gray{
	background: #4e4e4e;
	color: #ffffff;
	border-radius: 3px;
	padding: 15px;
	width: 200px;
	text-align: center;
	display: inline-block;
}
/*TODO: btn-shadown-gray*/
.btn-shadown-green{
	background: #29d38d;
	color: #ffffff;
	border-radius: 3px;
	padding: 20px;
	text-align: center;
	border: 0;
	font-size: 22px;
	box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.3);
}
/*TODO: btn-gray*/
.btn-gray:hover{
	text-decoration: none;
	color: #636363;
}
.btn-gray{
	background: #ffffff;
	padding: 7px 10px;
	color: #636363;
}
/*TODO: btn-enter*/
.btn-enter{
	display: inline-block;
	color: #4e4e4e;
	font-size: 12px;
	border: 1px solid #4e4e4e;
	padding: 3px 18px;
	line-height: 1;
	position: relative;
}
.btn-enter:hover{
	text-decoration: none;
	color: #4e4e4e;
}
.btn-enter:after{
	content: "";
	position: absolute;
	bottom: 2px;
	right: 2px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 0 5px 5px;
	border-color: transparent transparent #4e4e4e transparent;
}
/*TODO: Brick button*/
.brick-btn{
	outline: 0;
	border: 0;
	color: #ffffff;
	text-align: center;
	text-decoration: none;
	font-size: 11px;
	background-color: #00b2e8;
	box-shadow: 0px 3px #2387a6;
}
.brick-btn:focus,.brick-btn:hover{
	color: #ffffff;
	text-decoration: none;
}
.brick-green{
	background: #29d38d;
	box-shadow: 0px 3px #3ea67b;
}
.brick-gray{
	background: #ababab;
	box-shadow: 0px 3px #888888;
}
/*[cachet btn]*/
.cachet-btn{
	background: rgba(0,178,232,0.7);
	border-radius: 3px;
	color: #ffffff;
	font-size: 10px;
	padding: 2px 10px;
}
.cachet-btn:visited,.cachet-btn:hover{
	color: #ffffff;
}
/*[cachet btn/]*/
/*[secret label]*/
.secret-label{
	color: #ffffff;
	background: rgba(0,178,232,0.6);
	border-right: 0;
	padding: 5px 15px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	font-size: 10px;
}
/*[secret label/]*/
/*[new-label]*/
.new-label{
	color: #29d38d;
	font-size: 10px;
}
/*[new-label/]*/
/*[rank-label]*/
.rank-label{
	border: 2px solid #29d38d;
	color: #29d38d;
	font-size: 10px;
	text-align: center;
	display: inline-block;
	width: 35px;
	height: 35px;
	float: left;
	padding: 3px;
	/* border-radius: 50%; */
}
.rank-label span{
	vertical-align: middle;
	font-size: 18px;
	font-weight: bold;
}
/*[rank-label/]*/
/*TODO: [material-box]*/
.material-box{
	margin-bottom: 0px;
}
.material-box .material-wapper{
	position: relative;
}
.material-box .material-header{
	font-size: 12px;
	color: #ffffff;
	background: #29d38d;
	display: inline-block;
	padding: 6px 25px;
	line-height: 1;
	position: relative;
	margin-left: -11px;
}
.material-box .material-header:before{
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 10px 10px 0;
	border-color: transparent #159a63 transparent transparent;
	position: absolute;
	left: 0;
	bottom: -10px;
}
.material-box .material-content{
	margin-top: -32px;
	padding-top: 42px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	background: #ffffff;
	box-shadow: 0 2px 5px 0 rgba(1,4,0,0.2);
}
.material-box hr{
	margin-top: 30px;
	margin-bottom: 20px;
	border-color: #ffffff;
}
.material-box .material-topic{
	font-size: 14px;
	line-height: 2.5;
	color: #4e4e4e;
}
.material-box .material-topic span{
	margin-right: 5px;
}
/*[material-box/]*/
/*TODO: [related-box] @for right column*/
.related-box .related-header{
	color: #29d38d;
	padding-top: 10px;
	margin-bottom: 5px;
	font-weight: bold;
}
.related-list .search-box{
	margin-bottom: 10px;
	padding: 0;
}
.related-list .search-box .search-content{
	padding: 5px 10px;
	height: 90px;
	vertical-align: middle;
}
.related-list .search-box .search-image{
	width: 45%;
}
.related-list .search-content .top-part a{
	font-size: 11.5px;
	line-height: 17px;
	color: #4e4e4e;
	width: 160px;
	overflow: hidden;
	max-height: 50px;
	text-overflow: ellipsis;
	display: block;
	display: -webkit-box;
	-webkit-line-clamp: 3;
}
.related-list .search-content .top-part.content-style a,.related-list .search-content .top-part.content-style{
	font-size: 12px;
}
.related-list .search-content .middle-part{
	font-size: 10px;
	color: #ababab;
	margin-top: 10px;
	margin-bottom: 5px;
	width: 160px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.related-list .search-content .bottom-part{
	font-size: 10px;
	color: #00b2e8;
	overflow: hidden;
	width: 160px;
	height: 30px;
	text-overflow: ellipsis;
	display: block;
	display: -webkit-box;
	-webkit-line-clamp: 2;
}
/*TODO: [related-article] @comment*/
.related-box.related-article .search-image{
	border-left: 5px solid #29d38d;
}
/*TODO: [related-article/]*/
/*TODO: [related-box/]*/
.bg-white{
	background-color: #ffffff;
}
.bg-gray{
	background-color: #f2f2f2 !important;
}
.bg-gray-2{
	background-color: #edebe7;
}
.width-100{
	width: 100%;
}
.about-top,.about-bottom{
	text-align: center;
	background-color: #ffffff;
	position: relative;
	padding-bottom: 50px;
}
.about-top:after,.about-top:before{
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.about-top:after{
	border-color: rgba(0,0,0,0);
	border-top-color: #ffffff;
	border-width: 40px 70px 0 70px;
	margin-left: -70px;
}
.about-top:before{
	border-color: rgba(0,0,0,0);
	border-top-color: #ffffff;
	border-width: 40px 70px 0 70px;
	margin-left: -70px;
}
.about-top img{
	margin-top: 100px;
	margin-bottom: 100px;
}
.about-top img,.about-bottom img,.about-merit img{
	max-width: 100%;
}
.breadcrumb-about{
	margin-bottom: 40px;
	font-weight: normal;
}
.breadcrumb-about a{
	text-decoration: underline !important;
	font-weight: normal;
}
.about-merit{
	text-align: center;
	margin-top: 100px;
	margin-bottom: 100px;
}
.about-bottom:after,.about-bottom:before{
	top: 0%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.about-bottom:after{
	border-color: rgba(0,0,0,0);
	border-top-color: #f2f2f2;
	border-width: 40px 70px 0 70px;
	margin-left: -70px;
}
.about-bottom:before{
	border-color: rgba(0,0,0,0);
	border-top-color: #f2f2f2;
	border-width: 40px 70px 0 70px;
	margin-left: -70px;
}
#company-main{
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	font-family: Avenir, "Open Sans", "Helvetica Neue", Helvetica, Arial, Verdana, Roboto, "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Meiryo UI", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
.about-bottom img{
	margin-bottom: 150px;
	margin-top: 150px;
}
#company-main .company-title,#contact-main .contact-title{
	border-left: 10px solid #00b2e8;
	height: 40px;
	display: inline-block;
	vertical-align: middle;
	margin-top: 30px;
}
#company-main .company-title h4,#contact-main .contact-title h4{
	font-size: 22px;
	padding-left: 10px;
	margin: 0px;
	line-height: 40px;
	color: #636363;
}
#company-main .company-subtitle p{
	font-size: 14px;
	color: #636363;
	margin-top: 10px;
	margin-bottom: 30px;
	line-height: 1.8em;
}
#company-main .company-management{
	background: #ffffff;
	box-shadow: 0 -1px 2px rgba(0,0,0,0.05), 0 1px 2px rgba(0,0,0,0.05);
	margin-top: 30px;
	padding: 25px;
	border-radius: 3px;
}
#company-main .company-management table{
	width: 100%;
	font-size: 14px;
}
#company-main .company-management table tr td{
	padding-bottom: 25px;
	padding-left: 20px;
}
#company-main .company-management table tr:last-child td{
	padding-bottom: 10px;
}
#company-main .company-management table tr td:first-child{
	color: #636363;
}
#company-main .company-management table tr td:last-child{
	color: #808080;
}
#company-main .company-management table a{
	color: #00b2e8;
	text-decoration: underline !important;
}
#company-main .company-margintop-60{
	margin-top: 60px;
}
#company-main .company-term{
	background: #ffffff;
	margin-top: 30px;
	padding: 20px 0 20px 20px;
	border-radius: 3px;
	height: 400px;
	margin-bottom: 80px;
	box-shadow: 0 -1px 2px rgba(0,0,0,0.05), 0 1px 2px rgba(0,0,0,0.05);
}
#company-main .company-term h4{
	font-size: 14px;
	color: #636363;
	margin-bottom: 10px;
	margin-top: 0;
}
#company-main .company-term p{
	color: #636363;
	font-size: 12px;
	line-height: 1.8em;
	margin-bottom: 35px;
}
#company-main .company-term p:last-child{
	margin-bottom: 10px;
}
#footer.about{
	box-shadow: none;
}
span.require{
	font-size: 10px;
	background-color: #29d38d;
	color: #ffffff;
	padding: 2px 5px;
	border-radius: 3px;
}
.error{
	color: #ff8a8a;
}
.new-article{
	color: #29d38d !important;
	background: none !important;
	font-weight: bold;
	letter-spacing: 0.15em;
	font-size: 10px;
}
/*Category title inside news topics*/
.category-title{
	display: inline-block;
	font-size: 12px;
	color: #ffffff;
	background: #00b2e8;
	text-align: center;
	border-radius: 0px;
	padding: 5px 10px;
	position: relative;
	font-weight: normal;
	top: -3px;
	font-family: Avenir, "Open Sans", "Helvetica Neue", Helvetica, Arial, Verdana, Roboto, "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Meiryo UI", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
.category-title:hover,.category-title:focus{
	color: #ffffff !important;
}
a.category-title:after{
	border-style: solid;
	border-width: 0 0 6px 6px;
	border-color: transparent transparent #ffffff transparent;
	content: '';
	position: absolute;
	bottom: 2px;
	right: 2px;
}
/*[source page]*/
.detail-source{
	color: #919191;
}
/*[source page /]*/
/*TODO: [noselect] */
.noselect{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
/*TODO: [top-banner]*/
.top-banner{
	position: relative;
}
.top-banner .background .container{
	padding: 0;
	position: relative;
}
.top-banner .background .container .clearfix{
	height: 520px;
	overflow: hidden;
}
.top-banner .background .container img{
	width: 50%;
	float: left;
}
.top-banner .background .container:before,.top-banner .background .container:after{
	content: "";
	position: absolute;
	display: block;
	top: 0;
	width: 550px;
	height: 520px;
}
.top-banner .background .container:before{
	left: 100%;
	background: url("../img/banner/top_04.jpg") no-repeat center top;
	background-size: 100%;
}
.top-banner .background .container:after{
	right: 100%;
	background: url("../img/banner/top_01.jpg") no-repeat center top;
	background-size: 100%;
}
.top-banner-bg ._h2.color-df-white{
	margin-left: 5px;
}
.focus-search-bar{
	position: absolute;
	top: 0;
	left: 0;
	color: #ffffff;
}
.focus-search-bar .container{
	padding-left: 60px;
}
.focus-search-bar .present strong{
	font-size: 27px;
	margin-right: 2px;
}
.focus-search-bar .present{
	margin-top: 255px;
	margin-bottom: 0;
	font-size: 20px;
}
.focus-search-bar .search-wrap-box{
	margin-top: -75px;
}
.focus-search-bar .statistical{
	margin-top: -83px;
	font-size: 13px;
}
.focus-search-bar .statistical strong{
	font-size: 27px;
	margin: 0 5px;
}
.focus-search-bar .introduce{
	font-size: 13px;
	margin: 0;
	margin-top: 30px;
	float: left;
	border: 1px solid #ffffff;
	padding: 10px 20px;
}
.focus-search-bar .equal-symbol{
	margin-left: 10px;
}
.focus-search-bar .btn-focus-search{
	position: relative;
	top: 10px;
}
.btn-focus-search:hover{
	opacity: 0.85;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
}
.btn-focus-search{
	background: url("../img/btn-search-lg.png") no-repeat center;
	width: 200px;
	height: 215px;
	border: 0;
	vertical-align: middle;
	outline: none;
}
.equal-symbol{
	vertical-align: middle;
	font-size: 40px;
	color: #ffffff;
}
/*TODO: module .top-banner-secrect */
/*TODO: .top-banner-secrect .banner-secrect-header*/
.banner-secrect-header .banner-slogan{
	display: inline-block;
	vertical-align: bottom;
	padding-left: 20px;
	margin-bottom: 22px;
}
.banner-secrect-header .banner-slogan > *{
	display: block;
	color: #686868;
}
.banner-secrect-header .banner-slogan > strong{
	font-size: 20px;
	font-weight: 800;
	margin-bottom: 2px;
	color: #686868;
}
.banner-secrect-header .btn-green-gardient{
	margin-top: 25px;
	margin-right: 10px;
	background: none;
	color: #29d38d;
	border-bottom: 1px solid #29d38d;
	padding: 10px 5px;
}
/*TODO: .top-banner-secrect .banner-secrect-list*/
.banner-secrect-list{
	padding: 0px;
}
.banner-secrect-list ul{
	padding: 0;
	margin: 0;
	list-style: none;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.banner-secrect-list ul li{
	width: 350px;
	overflow: hidden;
}
/*.banner-secrect-list ul li :hover {
    background-color: #f1f1f1;
}*/
.banner-secrect-list ul li:first-child{
	padding-left: 0;
}
.banner-secrect-list ul li:last-child{
	padding-right: 0;
}
/*TODO: .top-banner-secrect .banner-secret-bottom*/
.top-banner-secrect{
	background-color: #ffffff;
	padding-top: 0px;
	/*border-top: 5px solid #eee;*/
}
.banner-secret-bottom{
	height: 40px;
	background: url("../img/bg-socnho.png") repeat-x left bottom;
}
/*TODO: [list-header]*/
.list-header{
	padding-bottom: 5px;
	font-weight: normal;
	margin-bottom: 10px;
	margin-top: 30px;
	border-bottom: 1px solid #cccccc;
}
.list-header > span{
	color: #4e4e4e;
	margin-right: 10px;
	display: inline-block;
	line-height: 1;
	font-size: 14px;
}
.list-header.non-type{
	border-left: none;
	padding-bottom: 15px;
	margin-bottom: 0;
	margin-top: 17px;
	font-size: 16px;
	color: #636363;
}
.list-header > h1{
	display: inline;
	color: inherit;
	font-size: inherit;
	font-weight: bold;
}
.list-header .callnavi-icon{
	background-image: url("../img/callnavi-icon.png");
	background-repeat: no-repeat;
	background-position: center;
	width: 40px;
	height: 25px;
	vertical-align: middle;
}
/*TODO: list-header-simple*/
.list-header-simple h1{
	font-size: 18px;
	color: #4e4e4e;
	text-align: center;
	font-weight: bold;
}
.list-header-simple small{
	font-size: 14px;
}
/*TODO: i-cat-label*/
.i-cat-label{
	border: 1px solid #00b2e8;
	padding: 3px 10px;
	color: #00b2e8;
	font-size: 10px;
	line-height: 1;
	border-radius: 2px;
}
/*TODO: .i-cat-green*/
.i-cat-green:hover,.i-cat-green:focus{
	color: #2c2c2c;
	text-decoration: none;
}
.i-cat-green{
	background: #edebe7;
	color: #2c2c2c;
	font-size: 10px;
	padding: 5px 10px;
	font-weight: bold;
	display: inline-block;
	border-bottom: 2px solid #808080;
}
.i-cat-green--secondary{
	background: #29d38d;
	color: #ffffff;
	font-size: 10px;
	padding: 5px 10px;
	font-weight: bold;
	text-align: center;
	display: inline-block;
	border-bottom: 2px solid #2b825e;
	min-width: 100px;
}
/*TODO: i-white-cat*/
.i-white-cat{
	padding: 5px 10px;
	color: #29d38d;
	font-size: 16px;
	line-height: 1;
	background: #ffffff;
}
/*TODO: [list-bottom]*/
.list-bottom{
	padding: 0 6px;
	margin-top: 10px;
	display: -ms-flexbox;
	display: flex;
	margin-left: auto;
	margin-right: auto;
}
.list-bottom .btn-green-gardient{
	width: 100%;
	text-align: center;
}
/*TODO: [button] .btn-green-gardien*/
.btn-green-gardient{
	display: inline-block;
	padding: 10px 16px;
	border-radius: 2px;
	color: #ffffff;
	font-weight: 800;
	background: #29d38d;
	/*	display: inline-block;
      padding: 10px 16px;
      background: red;
      color: white;
      font-weight: 800;
      background: rgba(0,178,232,1);
      background: -moz-linear-gradient(top, rgba(0,178,232,1) 0%, rgba(0,178,232,1) 48%, rgba(7,163,210,1) 48%, rgba(7,163,210,1) 100%);
      background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,178,232,1)), color-stop(48%, rgba(0,178,232,1)), color-stop(48%, rgba(7,163,210,1)), color-stop(100%, rgba(7,163,210,1)));
      background: -webkit-linear-gradient(top, rgba(0,178,232,1) 0%, rgba(0,178,232,1) 48%, rgba(7,163,210,1) 48%, rgba(7,163,210,1) 100%);
      background: -o-linear-gradient(top, rgba(0,178,232,1) 0%, rgba(0,178,232,1) 48%, rgba(7,163,210,1) 48%, rgba(7,163,210,1) 100%);
      background: -ms-linear-gradient(top, rgba(0,178,232,1) 0%, rgba(0,178,232,1) 48%, rgba(7,163,210,1) 48%, rgba(7,163,210,1) 100%);
      background: linear-gradient(to bottom, rgba(0,178,232,1) 0%, rgba(0,178,232,1) 48%, rgba(7,163,210,1) 48%, rgba(7,163,210,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b2e8', endColorstr='#07a3d2', GradientType=0 );*/
}
.btn-green-gardient:hover{
	/*color: white;*/
	text-decoration: none;
}
.btn-green-color{
	display: inline-block;
	border-radius: 2px;
	color: #29d38d;
	font-size: 16px;
	border-bottom: 1px solid #29d38d;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}
.btn-green-color:hover,.btn-green-color:focus{
	color: #29d38d;
	text-decoration: none;
}
.btn-green--secondary{
	display: inline-block;
	position: relative;
	background-color: #29d38d;
	padding: 14px 40px;
	color: #ffffff;
	font-size: 16px;
	line-height: 2;
	font-weight: bold;
	text-align: center;
	border-radius: 3px;
	box-shadow: 0 5px 0 0 #3ea67b;
	min-width: 360px;
}
.btn-green--secondary:hover{
	color: #ffffff;
}
.btn-green--secondary:after{
	content: '';
	display: block;
	border-top: 1px solid #ffffff;
	border-right: 1px solid #ffffff;
	width: 9px;
	height: 9px;
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	position: absolute;
	top: -50%;
	bottom: -50%;
	right: 20px;
	margin: auto;
}
/*TODO: [item "common"]*/
.item .i-cat{
	border: 1px solid #00b2e8;
	padding: 3px 10px;
	color: #00b2e8;
	font-size: 10px;
	line-height: 1;
}
/*TODO: [BOX] .item-secret-banner*/
.item-secret-banner{
	width: 100%;
	overflow: hidden;
	margin-top: 0px;
	padding-top: 15px;
	padding-bottom: 10px;
	/*border-bottom: 2px solid #ddd;*/
	/*background-color: #eee;*/
	background: url("../img/bg-socsoc.png") no-repeat left bottom;
}
.item-secret-banner .content-part{
	height: 130px;
	width: 350px;
	overflow: hidden;
	float: left;
	position: relative;
}
.item-secret-banner .content-part img{
	width: 90%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
.item-secret-banner .top-part{
	font-size: 11px;
	color: #686868;
	margin-bottom: 5px;
	margin-top: 5px;
	padding: 2px 18px;
	width: 100%;
	font-weight: bold;
}
.item-secret-banner .bottom-part a:hover{
	text-decoration: none;
}
.item-secret-banner .bottom-part h3{
	font-size: 10px;
	padding-left: 18px;
	margin-bottom: 0px;
	margin-top: 5px;
	color: #ababab;
	width: auto;
}
.item-secret-banner .bottom-part p{
	font-size: 14px;
	padding: 12px 18px 0px;
	margin-bottom: 0;
	color: #4e4e4e;
	font-weight: 600;
	height: 50px;
	display: table-cell;
	width: auto;
}
.item-secret-banner .content-part .i-cat-group{
	position: absolute;
	bottom: 15px;
	left: 30px;
}
.item-secret-banner .content-part .i-cat-group .i-cat{
	background: rgba(41,211,141,0.7);
	color: #ffffff;
	padding: 5px 10px;
	font-size: 10px;
	line-height: 1;
	margin-right: 8px;
}
/*TODO: [cat-list] for NEWS*/
.cat-list ul{
	list-style: none;
	padding: 6px 10px;
	overflow: hidden;
	margin-bottom: 0;
}
.cat-list ul li{
	width: 25%;
	float: left;
	padding: 12px 0;
}
.cat-list ul li > span{
	color: #44c7ee;
	margin-right: 5px;
	font-size: 11px;
}
.cat-list ul li > a{
	color: #636363;
}
.cat-list ul li > a:hover{
	text-decoration: none;
}
/*TODO: [main-list]*/
.main-list:before,.main-list:after{
	content: "";
	clear: both;
	display: table;
}
.main-list ol{
	padding: 0;
	margin: 0;
	list-style: none;
}
.main-list ol li{
	float: left;
	width: 50%;
	padding: 0 2px;
	margin-bottom: 4px;
}
.main-list .item{
	position: relative;
}
.main-list .item .top-part{
	height: 190px;
	position: relative;
	overflow: hidden;
	background: #ffffff;
}
.main-list .item.done .top-part{
	background: #bfbfbf;
}
.main-list .item .top-part img{
	width: 110%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: -5%;
	margin: auto 0;
	filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.8" /><feFuncG type="linear" slope="0.8" /><feFuncB type="linear" slope="0.8" /></feComponentTransfer></filter></svg>#filter');
	filter: brightness(80%);
}
.main-list .item .top-part .i-view{
	position: absolute;
	top: 10px;
	right: 0;
	background: rgba(41,211,141,0.7);
	color: #ffffff;
	padding: 5px 10px;
	font-size: 15px;
	line-height: 1;
	width: 110px;
}
.main-list .item .top-part .i-view small{
	font-size: 14px;
}
.main-list .item .content-part .i-date{
	color: #ffffff;
	font-size: 10px;
	position: absolute;
	top: 10px;
	left: 10px;
}
.main-list .item .content-part .i-new{
	color: #29d38d;
	font-size: 10px;
	position: absolute;
	top: 10px;
	left: 70px;
}
.main-list .item .content-part .i-title{
	position: absolute;
	top: 85px;
	left: 15px;
	right: 15px;
}
.main-list .item .content-part .i-title a{
	font-size: 14px;
	color: #ffffff;
	line-height: 1.3;
}
.main-list .item .i-cat{
	position: absolute;
	top: 38px;
	right: 0;
	width: 100px;
	border: 0;
	padding-left: 0;
	color: #ffffff;
}
/*TODO: [main-list] relation-list*/
.relation-list .main-list ol li{
	margin-bottom: 20px;
}
.relation-list .main-list ol li:nth-child(2n+1){
	padding-right: 10px;
	padding-left: 0;
}
.relation-list .main-list ol li:nth-child(2n+2){
	padding-left: 10px;
	padding-right: 0;
}
/*TODO: [main-list] with pickup*/
.pick-up-box{
	margin-bottom: 4px;
	padding: 0 2px;
}
.pick-up-box .i-date{
	text-align: right;
}
.pick-up-box .i-title{
	color: #ffffff;
	position: absolute;
	top: 85px;
	left: 0;
	right: 0;
	padding: 0 20px;
}
.pick-up-box .i-title a{
	color: #ffffff;
	line-height: 2;
	font-size: 14px;
}
.pick-up-box .i-pick-up{
	color: #29d38d;
	font-size: 16px;
	position: absolute;
	top: 10px;
	left: 20px;
}
/*TODO: [slider-column]*/
.slider .slider-wrap{
	position: relative;
}
.slider-column{
	margin-bottom: 20px;
}
/*
.slider .slider-column:last-child{
	margin-bottom: 0;
}
*/
.slider-column .slider-header{
	color: #939393;
	font-size: 12px;
	margin-bottom: 0px;
	font-weight: 600;
}
.slider-column ol{
	list-style: none;
	padding: 0;
	margin: 0;
}
.slider-column .item .top-part img{
	width: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	margin: auto 0;
}
.blog-reference-column img{
	width: 100%;
}
/*TODO: [slider-ranking]*/
.slider-ranking .item{
	position: relative;
	height: 100px;
	overflow: hidden;
	margin-bottom: 0px;
}
.slider-ranking .item .top-part{
	height: inherit;
	/*background: white;*/
}
.slider-ranking .slider-content ol > li{
	position: relative;
	margin-bottom: 5px;
}
.slider-ranking .slider-content ol > li:last-child{
	margin-bottom: 0;
}
.slider-ranking .item .top-part .i-rank{
	/*	display: block;
      border-radius: 100%;
      color: white;
      font-size: 12px;
      line-height: 30px;
      height: 30px;
      width: 30px;
      text-align: center;
      background: #29d38d;
      position: absolute;
      left: 20px;
      top: 50%;
      margin-top: -15px;*/
	font-size: 12px;
	color: #ffffff;
	background: #29d38d;
	display: inline-block;
	padding: 6px 20px;
	line-height: 1;
	position: absolute;
	margin-left: -10px;
	z-index: 6;
	overflow: auto;
	margin-top: 30px;
}
/*.slider-content li:before {*/
/*content: "";*/
/*width: 0;*/
/*height: 0;*/
/*border-style: solid;*/
/*border-width: 11px 0 0 8px;*/
/*border-color: transparent transparent transparent #1d9463;*/
/*position: absolute;*/
/*left: 61px;*/
/*top: -11px;*/
/*margin-left: 0;*/
/*}*/
.i-rank{
	font-size: 20px;
	color: #ffffff;
	background: #29d38d;
	display: inline-block;
	padding: 10px 15px;
	line-height: 1;
	position: absolute;
	z-index: 1;
	font-weight: bold;
	top: -12px;
	left: 20px;
}
.slider-ranking .content-part{
	background: rgba(0,0,0,0.3);
	width: 100%;
	height: 100px;
	padding: 14px 10px 10px 80px;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
}
.slider-ranking .content-part .i-cat{
	border-bottom: 1px solid #29d38d;
	border-top: none;
	border-left: none;
	border-right: none;
	padding: 0px 0px 2px;
	color: #ffffff;
	font-size: 14px;
	line-height: 1;
	/*font-weight: bold;*/
}
.slider-ranking .content-part .i-title{
	margin-top: 10px;
	margin-bottom: 0;
	font-size: 12px;
	line-height: 1.5;
}
.slider-ranking .content-part .i-title a{
	color: #ffffff;
}
/*TODO: [slider-block]*/
.slider-blog-content{
	margin-top: 20px;
}
.slider-blog .item{
	position: relative;
	height: 120px;
	overflow: hidden;
	margin-bottom: 15px;
}
.slider-blog .item img{
	width: 100%;
}
.slider-blog .item .content-part{
	height: 70px;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 10px 10px;
	padding-right: 80px;
	color: #ffffff;
	background: rgba(0,0,0,0.4);
}
.slider-blog .item .content-part .z-index{
	z-index: 4;
	position: relative;
}
.slider-blog .item .content-part .z-index p{
	font-size: 10px;
}
.slider-blog .item .content-part .i-title{
	margin-bottom: 5px;
	line-height: 1;
	padding-right: 0px;
	font-weight: bold;
}
.slider-blog .item .content-part .i-title a{
	color: #ffffff;
	font-size: 14px;
}
.slider-blog .item .content-part .i-des{
	font-size: 10px;
	margin: 0;
	padding-right: 100px;
}
.slider-blog .item .avatar{
	position: absolute;
	bottom: 0;
	right: 10px;
	z-index: 3;
	text-align: right;
}
.slider-blog .item .avatar img{
	width: 55%;
}
.slider-blog .model{
	width: 80px;
	height: 99px;
	display: block;
}
/*TODO: [social-column]*/
.social-column .fb-column{
	background: url("../img/happy-face.jpg") no-repeat top right;
	border: 1px solid #e3e3e3;
}
.social-column .fb-column .content-part{
	color: #636363;
	padding: 18px 16px;
	width: 200px;
}
.social-column .fb-column .i-desc{
	padding: 8px 0;
	margin-top: 8px;
	border-top: 1px solid #00b2e8;
	font-size: 10px;
}
.social-column .twitter-button a{
	background: #50aaf0;
	position: relative;
	height: 50px;
	line-height: 50px;
	text-align: center;
	display: block;
	text-decoration: none;
}
.social-column .twitter-button span{
	color: #ffffff;
	font-size: 14px;
	vertical-align: middle;
}
.social-column .twitter-button .fa-twitter{
	color: #ffffff;
	font-size: 20px;
	margin-right: 7px;
	vertical-align: middle;
}
/*TODO: [secret slider]*/
.secret-slider .slider-wp{
	position: relative;
	margin: 0 auto;
	top: 0px;
	left: 0px;
	width: 700px;
	height: 225px;
	visibility: hidden;
	background: #b3b3b3;
}
.secret-slider .slider-wp .slides{
	cursor: default;
	position: relative;
	top: 0px;
	left: 0px;
	width: 700px;
	height: 225px;
	overflow: hidden;
}
.secret-slider .slider-wp .arrow-right,.secret-slider .slider-wp .arrow-left{
	display: block;
	width: 142px;
	height: 100%;
	background: rgba(0,0,0,0.25);
	position: absolute;
	cursor: pointer;
}
.secret-slider .slider-wp .arrow-right{
	right: 0px;
	top: 0 !important;
}
.secret-slider .slider-wp .arrow-left{
	left: 0px;
	top: 0 !important;
}
.secret-slider .arrow-right:before,.secret-slider .arrow-left:before{
	content: "";
	width: 0;
	height: 0;
	margin-top: 8px;
	position: absolute;
}
.secret-slider .arrow-right:before{
	border-top: 12px solid transparent;
	border-bottom: 12px solid transparent;
	border-left: 12px solid #ffffff;
	margin-left: 30px;
	margin-top: 90px;
}
.secret-slider .arrow-left:before{
	border-top: 12px solid transparent;
	border-bottom: 12px solid transparent;
	border-right: 12px solid #ffffff;
	margin-left: 100px;
	margin-top: 90px;
}
.secret-slider .slider-nav{
	display: block;
	width: 200px;
	height: 25px;
	position: absolute;
	z-index: 4;
	right: 0;
	top: -25px;
}
.secret-slider .slider-nav > div{
	background-color: rgba(0,0,0,0.25);
	position: absolute;
	width: 10px;
	height: 10px;
	overflow: hidden;
	cursor: pointer;
	border-radius: 50%;
}
.secret-slider .slider-nav > div.av{
	background-color: rgba(0,0,0,0.6);
}
/*
.secret-slider .slides > div[style*="(142px,"] .item .i-title a{
	color: white;
}

.secret-slider .slides > div[style*="(142px,"] .item .bottom-part:before{
	background: rgba(10,10,10,0);
}

.secret-slider .slides > div[style*="(142px,"] .item .bottom-part{
	background: rgba(10,10,10,0.55);
}
*/
.secret-slider .slides .item .top-part a:before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	background: rgba(0,0,0,0.3);
}
.secret-slider .slides .item .top-part img{
	width: 100%;
	left: 0%;
}
.secret-slider .slides .item .i-title{
	position: relative;
	z-index: 1;
	padding: 10px 20px;
}
.secret-slider .slides .item .i-title a{
	/*	color: #b3b3b3;*/
	color: #ffffff;
	font-size: 15px;
	line-height: 1.5;
	transition: color 0.5s;
}
.secret-slider .slides .item .bottom-part{
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	height: 65px;
	/*	background: rgba(10,10,10,0.37);*/
	background: rgba(10,10,10,0.55);
	padding: 10px 20px;
	color: #ffffff;
	z-index: 2;
}
.secret-slider .slides .item .bottom-part:before{
	content: "";
	/*	background: rgba(10,10,10,0.3);*/
	background: rgba(10,10,10,0);
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	height: 65px;
	z-index: 3;
	transition: background 0.5s;
}
.secret-slider .slides .item .i-label{
	color: #00b2e8;
	padding: 2px 10px;
	border-radius: 1px;
	font-size: 11px;
	border: 1px solid #00b2e8;
}
.secret-slider .slides .item .i-salary{
	background: #f2f2f2;
	padding: 5px;
	color: #535353;
	display: inline-block;
	font-size: 11px;
	margin-top: 3px;
	border: 1px solid #76787a;
}
/*TODO: [background for search/secret]*/
.search.seoSearch,.secret.detail,.secret.seoSearch,.secret.index,.search.index{
	background: #eeeeee;
}
/*TODO: [search-header] @comment*/
.search-layout .search-header{
	padding: 0 25px 0 15px;
	color: #4e4e4e;
}
.search-header h2{
	font-size: 14px;
	margin: 0;
	border-left: 5px solid #4e4e4e;
	padding-left: 5px;
	font-weight: bold;
}
.search-header .desc{
	font-size: 12px;
	line-height: 1.8;
}
.search-header .present{
	font-size: 12px;
	margin-bottom: 5px;
}
/*TODO: [search-header/]*/
/*TODO: [search-box]*/
.search-layout .search-result ul{
	padding: 0 25px 0 15px;
}
.search-result ul{
	list-style: none;
	margin: 0;
	padding-left: 0;
}
.search-result ul li{
	margin-bottom: 20px;
}
.search-box{
	overflow: hidden;
	font-size: 12px;
	line-height: 1.6;
	color: #4e4e4e;
	background: #ffffff;
	padding: 15px 20px 20px 20px;
}
.search-box .search-title{
	padding-bottom: 10px;
	border-bottom: 1px solid #4e4e4e;
	margin-bottom: 9px;
}
.search-box .search-title h3{
	margin: 0;
	font-size: 17px;
	line-height: 1;
	font-weight: bold;
}
.search-box .display-table{
	width: 100%;
	table-layout: fixed;
}
.search-box .search-image{
	width: 35.5%;
	height: 170px;
	overflow: hidden;
	position: relative;
	height: inherit;
	display: table-cell;
}
.relation-job .search-box .search-image{
	height: 170px;
}
.search-box .search-image img{
	width: 100%;
	position: absolute;
	top: 0;
}
.search-box .search-content{
	width: 64.5%;
	padding-left: 20px;
	background: #ffffff;
	display: table-cell;
}
.search-box .search-company{
	margin: 0;
	font-weight: 600;
	font-size: 14px;
}
.search-box .search-head{
	margin-bottom: 9px;
}
.search-box .search-salary{
	margin-bottom: 10px;
	overflow: hidden;
}
.search-box .search-salary > span{
	float: left;
	display: block;
	padding: 4px 10px;
	width: 70px;
	background: #686868;
	color: #ffffff;
	text-align: center;
	line-height: 1.4;
	font-weight: bold;
}
.search-box .search-salary > p{
	padding-left: 9px;
	line-height: 1.8;
	font-size: 14px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.search-content .search-content__item > span,.search-content .search-content__item--benefit > span{
	-ms-flex: 1 0 70px;
	flex: 1 0 70px;
	padding: 4px 10px;
	max-width: 70px;
	color: #ffffff;
	text-align: center;
	line-height: 1.4;
	font-weight: bold;
}
.search-content .search-content__item > p,.search-content .search-content__item--benefit > p{
	font-size: 14px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	line-height: 1.9;
}
.search-content .search-content__item-wrap{
	min-height: 130px;
}
.search-content .search-content__item,.search-content .search-content__item--benefit{
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: start;
	align-items: flex-start;
	margin-bottom: 10px;
}
.search-content .search-content__item > ._item__txt--full,.search-content .search-content__item--benefit > ._item__txt--full{
	text-overflow: clip;
	white-space: normal;
}
.search-content .search-content__item > ._item__tag--l,.search-content .search-content__item--benefit > ._item__tag--l{
	font-size: 14px;
	max-width: 80px;
	min-width: 80px;
	padding: 5px;
}
.search-content .search-content__item > span{
	background: #686868;
}
.search-content .search-content__item > p{
	padding-left: 9px;
}
.search-content .search-content__item--benefit > span{
	background: #d1ab4c;
}
.search-content .search-content__item--benefit > p{
	padding-left: 9px;
	color: #d1ab4c;
}
.secret-search-box__v3 .search-content__item-wrap{
	min-height: 160px;
}
.search-box .search-keyword{
	display: -ms-flexbox;
	display: flex;
	background: #eeeeee;
	padding: 5px 10px;
	margin-bottom: 15px;
}
.search-keyword__title{
	max-width: 3em;
	-ms-flex: 1 0 3em;
	flex: 1 0 3em;
}
.search-box .search-keyword .i-condi:after{
	content: " / ";
	letter-spacing: 1px;
}
.search-box .search-keyword .i-condi:last-child:after{
	content: "";
}
.search-box .brick-btn{
	padding: 10px;
	display: block;
	font-size: 16px;
	box-shadow: none;
	border-bottom: solid 3px #3ea67b;
}
.search-box .new-label,.search-box .search-work{
	height: 12px;
	text-align: right;
	font-size: 10px;
}
.search-box .search-work{
	line-height: 1.4;
}
.search-box .search-tag{
	display: -ms-flexbox;
	display: flex;
	padding: 0 !important;
	margin-bottom: 14px;
	-ms-flex-align: center;
	align-items: center;
}
.search-box .search-tag__item{
	margin: 0 0 0 10px;
}
.search-box .search-tag__item:first-of-type{
	margin-left: 0;
}
.search-box .search-tag__item > span{
	color: #ffffff;
	font-size: 11px;
	padding: 3px 10px;
	vertical-align: middle;
}
.search-box .search-tag__item .interview-tag{
	background: #29d38d;
}
.search-box .search-tag__item .secret-tag{
	background: #1db3e5;
}
.search-box .search-tag__item .benefit-tag{
	background: #d1ab4c;
}
/*[search-box/]*/
/*TODO: [bottom_banner]*/
.bottom-banner{
	position: relative;
	height: 200px;
	overflow: hidden;
}
.bottom-banner .background .container{
	padding: 0;
	position: relative;
}
.bottom-banner .background img{
	width: 50%;
	float: left;
}
.bottom-banner .background .container:before,.bottom-banner .background .container:after{
	content: "";
	position: absolute;
	display: block;
	top: 0;
	width: 550px;
	height: 200px;
}
.bottom-banner .background .container:before{
	left: 100%;
	background: url("../img/banner/adv_area_04.jpg") no-repeat center top;
	background-size: 100%;
}
.bottom-banner .background .container:after{
	right: 100%;
	background: url("../img/banner/adv_area_01.jpg") no-repeat center top;
	background-size: 100%;
}
/*TODO: [bottom_banner/adv-banner]*/
.bottom-banner .adv-banner{
	position: absolute;
	bottom: 0;
	z-index: 1;
	left: 0;
	right: 0;
	text-align: center;
}
/*TODO: [FOOTER]*/
footer{
	background: #2c2c2c;
	color: #ffffff;
}
footer .foot-logo img{
	width: 140px;
}
.footer-grid{
	overflow: hidden;
}
.footer-grid .footer__menu{
	float: left;
	width: 25%;
}
.footer__left1{
	width: 19%;
	border-right: 1px solid #ffffff;
}
.footer__left2{
	width: 100%;
	overflow: hidden;
}
.border-gray-divide{
	margin: 0 auto;
	width: 1100px;
	border-bottom: 1px solid #4e4e4e;
}
.footer-left-search{
	width: 25%;
	float: left;
}
.footer-right-search{
	width: 75%;
	float: left;
}
.padding-bottom-30{
	padding-bottom: 30px;
}
/*TODO: [Footer/contact]*/
footer .contact{
	margin-top: 20px;
	padding: 0 20px;
}
footer .contact span{
	width: 65%;
	display: inline-block;
	vertical-align: top;
	font-size: 11px;
	color: #636363;
}
footer .contact a img{
	width: 33.5%;
}
/*TODO: [footer__menu] @comment*/
.footer__menu__header{
	font-weight: normal;
	font-size: 18px;
	color: #ffffff;
}
.footer__menu__header:before{
	content: "▶";
	font-size: 75%;
}
.footer__menu__list{
	list-style: none;
	padding-left: 20px;
	margin-top: 15px;
	margin-bottom: 0;
}
.footer__menu__list li{
	margin-bottom: 9px;
}
/*.footer__menu__list a:before{
	content: ">";
}*/
.footer__menu__list a{
	color: #ffffff;
	text-decoration: none;
	font-size: 12px;
}
.footer__menu__list a:hover,.footer__menu__list a:focus{
	color: #ffffff;
	text-decoration: underline;
	font-size: 12px;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
}
/*TODO: [footer__menu/]*/
/*TODO: [footer__gray-bg] @comment*/
/*TODO: [footer__gray-bg/]*/
.footer__adv--textArea{
	text-align: left;
	background-color: #454545;
}
.footer__adv--p{
	font-size: 10px;
	line-height: 1.6;
	font-weight: normal;
	margin: 0 auto;
	padding: 26px 0px;
	color: #ffffff;
}
.btn-feedback{
	border-radius: 3px;
	width: 100%;
	padding: 7px 0;
	color: #ffffff;
	background: #1eb9ee;
	border: 0;
	font-weight: bold;
}
.fa-icon{
	background: #999999;
	width: 120px;
	border-radius: 2px;
	height: 30px;
	display: inline-block;
	text-align: center;
}
.fa-icon .fa{
	color: #ffffff;
	font-size: 1.4em;
	line-height: 30px;
}
.fa-facebook-icon{
	background-color: #515c9b;
}
.fa-twitter-icon{
	background-color: #5ca0ef;
	margin-left: 8px;
}
.short-dash{
	display: inline-block;
	width: 80px;
	height: 5px;
	background: #4e4e4e;
}
.arrow-r-green{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 6px 0 6px 10px;
	border-color: transparent transparent transparent #29d38d;
	display: inline-block;
}
.arrow-b-green{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 15px 25px 0 25px;
	border-color: #29d38d transparent transparent transparent;
	display: inline-block;
}
/*TODO: [footer__search] @comment*/
.footer-right-search .footer__menu__list{
	padding-left: 0;
	margin-top: 0;
}
.footer-right-search .footer__menu__list li{
	float: left;
	margin-right: 12px;
}
.footer-left-search{
	position: relative;
	padding-left: 22px;
}
.footer-left-search:before{
	background-image: url("../img/footer_arrow.png");
	background-size: 12px 15px;
	background-repeat: no-repeat;
	position: absolute;
	top: 0px;
	left: 5px;
	width: 12px;
	height: 15px;
	display: inline-block;
	content: "";
}
.footer-search{
	padding-bottom: 10px;
	overflow: hidden;
}
/*TODO: [footer__search/]*/
/*TODO: [footer__advertisement] @comment*/
.footer__advertisement{
	padding-left: 30px;
}
.footer__advertisement__item{
	float: left;
	margin-left: 20px;
	position: relative;
}
.footer__advertisement__item .fb-like{
	position: absolute;
	top: 28px;
	right: 110px;
	z-index: 1;
	width: 70px;
	overflow: hidden;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}
/*TODO: [footer__advertisement/]*/
/*TODO: [slider]*/
.slider #right-column-search{
	width: 340px;
}
.slider #right-column-search.isFixed,.slider #right-column-search #history_box.isFixed{
	position: fixed;
	top: 140px;
	width: 340px;
	margin-top: 20px;
}
.slider #right-column{
	width: 360px;
	margin-top: 30px;
}
.slider #right-column.isFixed{
	position: fixed;
	bottom: 0px;
	width: 360px;
	margin-top: 0;
}
.slider #right-column.isBottom{
	position: absolute;
	bottom: 0;
}
/*TODO: .header .hidden-gray-menu */
.header .head-menu{
	position: relative;
}
.hidden-gray-menu ul{
	list-style: none;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	position: absolute;
	top: 50px;
	right: 0;
	z-index: 5;
	padding: 15px 0;
	width: 300px;
	height: 0;
	margin: 0;
	text-align: left;
	overflow: hidden;
	background: rgba(255,255,255,0.8);
	transition: height, opacity 0.5s;
	box-shadow: 0px 4px 10px 2px rgba(4,0,0,0.2);
}
.hidden-gray-menu.active ul{
	overflow: visible;
	height: auto;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.hidden-gray-menu ul:before{
	content: "";
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 20px solid rgba(255,255,255,0.8);
	position: absolute;
	top: -20px;
	right: 45px;
}
.hidden-gray-menu ul li a:hover{
	text-decoration: none;
}
.hidden-gray-menu ul li a{
	padding: 14px 30px;
	display: block;
	font-size: 13px;
	color: #808080;
	line-height: 1;
}
.hidden-gray-menu ul li a:after{
	content: "";
	background: url("../img/arrow-gray.png") no-repeat;
	width: 10px;
	height: 20px;
	display: block;
	float: right;
	margin-top: -2px;
}
/*TODO: [headerlink or breadcrumb]*/
.headerlink,.headerlink--secondary{
	font-size: 10.5px;
	color: #ffffff;
	width: 1060px;
	margin: 160px auto 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.headerlink a,.headerlink--secondary a{
	color: #ffffff;
}
.headerlink a:hover,.headerlink--secondary a:hover{
	color: inherit;
}
.headerlink p,.headerlink--secondary p{
	display: inline;
}
.headerlink span,.headerlink--secondary span{
	font-size: 12px;
	font-family: tahoma;
	margin-left: 12px;
	margin-right: 8px;
}
.headerlink--secondary{
	color: #333333;
}
.headerlink--secondary a{
	color: #333333;
}
/*TODO: [article] used to NEWS and CONTENT*/
.article-accessory{
	margin-top: 0px;
	margin-bottom: 60px;
	font-size: 12.5px;
	color: #4e4e4e;
	font-family: sans-serif;
}
.article-accessory .datetime{
	margin-right: 8px;
}
.article-accessory big{
	font-size: 16px;
}
.article-main{
	font-size: 18px;
	line-height: 2.2;
	color: #4e4e4e;
}
.article-main ul,.article-main li{
	padding: 10px 10px !important;
	list-style: none;
	color: #00b2e8;
	font-size: 14px;
}
.article-source{
	text-align: right;
	font-size: 12px;
	color: #939393;
	margin: 5px 0;
}
.article-title h1{
	color: #4e4e4e;
	font-size: 26px;
	margin-top: 44px;
	margin-bottom: 20px;
	line-height: 1.5;
	font-weight: bold;
}
/*TODO: - article-relation*/
.article-relation .relation-header{
	padding-left: 0;
	padding-right: 10px;
	padding-bottom: 10px;
	color: #939393;
}
.article-relation .relation-header-2{
	padding-left: 40px;
	padding-bottom: 10px;
	color: #4e4e4e;
}
.article-relation .relation-list{
	padding-left: 0;
	padding-right: 0;
}
/*TODO: - article-more*/
.article-more{
	text-align: center;
	min-height: 39px;
	clear: both;
}
.article-more a{
	color: #4e4e4e;
}
.article-more a:hover{
	color: #4e4e4e;
	text-decoration: none;
}
/*TODO: social-buttons*/
.social-buttons .fb-like{
	vertical-align: top;
}
.facebook-button-article,.twitter-button-article{
	width: 70px;
	height: 40px;
	text-align: center;
	line-height: 42px;
	color: #ffffff;
	display: inline-block;
	border-radius: 3px;
	font-size: 18px;
	margin-right: 5px;
}
.twitter-button-article:focus,.facebook-button-article:focus,.facebook-button-article:hover,.twitter-button-article:hover{
	color: #ffffff;
}
.facebook-button-article{
	background: #3b5999;
}
.twitter-button-article{
	background: #55acee;
}
/*TODO: clearfix*/
.clearfix{
	clear: both;
}
/*TODO: search-horizon*/
.search-horizon .custom-checkbox{
	float: left;
	width: 50%;
}
.custom-checkbox .vir-content i{
	font-style: normal;
	font-size: 11px;
}
.search-horizon .diff-zone .pull-left{
	width: 43.75%;
	font-size: 12px;
	line-height: 38px;
	color: #636363;
}
.search-horizon .diff-zone .pull-right{
	width: 56.25%;
}
.search-horizon .diff-zone .custom-search-select select{
	width: 100%;
}
.search-horizon .diff-zone > .clearfix{
	margin-bottom: 10px;
}
.search-horizon .diff-zone{
	margin: 10px 0 15px;
}
.search-horizon .brick-btn{
	margin-bottom: 5px;
	line-height: 38px;
	display: block;
	height: 37px;
}
.search-horizon .clear-filter:hover{
	color: #ffffff;
}
.search-horizon .clear-filter{
	width: 110px;
	font-size: 12px;
	box-shadow: 0px 3px #1489ad;
	vertical-align: top;
	float: left;
}
.search-horizon .search-btn{
	width: 200px;
	font-size: 14px;
	box-shadow: 0px 3px #3ea67b;
	float: right;
}
.search-horizon .search-horizon-result strong{
	color: #ffffff;
}
/*[search-horizon/]*/
/*[secret-box]: variable secret box*/
.secret-box{
	margin-bottom: 10px;
	overflow: hidden;
}
.secret-box .slider-wp .slides,.secret-box .slider-wp{
	width: 100%;
	height: 340px;
}
.secret-box .slides .item .bottom-part:before{
	content: none;
}
.secret-box .item .top-part img{
	width: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	margin: auto 0;
}
.secret-box .slides .item .top-part a:before{
	background: rgba(0,0,0,0.2);
}
.secret-box .slides .item .bottom-part{
	background: rgba(10,10,10,0.55);
}
.secret-box .slides .item .i-company{
	margin-right: 5px;
}
.secret-box .slides .item .content-part{
	position: absolute;
	bottom: 75px;
}
.secret-box .slides .item .i-title a{
	color: #ffffff;
}
.secret-box .slides .item .i-title{
	padding: 0 20px;
	margin: 0;
}
.secret-box .item .i-cat{
	border-radius: 2px;
	padding: 2px 10px;
}
.secret-box .container{
	position: relative;
	top: 50%;
}
.secret-box .container:before,.secret-box .container:after{
	content: "";
	position: absolute;
	top: -170px;
	height: 340px;
	width: 100%;
	background: rgba(0,0,0,0.15);
	z-index: 5;
}
.secret-box .container:before{
	left: -100%;
}
.secret-box .container:after{
	right: -100%;
}
.secret-box .slider-wp .arrow-right{
	top: -20px;
	right: 40px;
}
.secret-box .slider-wp .arrow-left{
	top: -20px;
	left: 40px;
}
.secret-box .slides .item .i-salary{
	font-size: 11px;
	line-height: 1;
	margin-top: 6px;
}
.secret-box .slider-wp .arrow-left:before,.secret-box .slider-wp .arrow-right:before{
	margin-top: 0;
}
/*[secret-box/]*/
/*TODO: .container .content-center-column*/
.content-center-column{
	width: 700px;
	margin: 0 auto;
}
/*TODO: lazy effect*/
.lazy{
	display: block !important;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	/*
      -webkit-transform: scale(0.5);
      -moz-transform: scale(0.5);
      -o-transform: scale(0.5);
      -ms-transform: scale(0.5);
      transform: scale(0.5);
  */
	transition: opacity 1s !important;
	-moz-transition: opacity 1s !important;
	-webkit-transition: opacity 1s !important;
}
.lazy.done{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	/*
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -o-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
  */
}
/*TODO: [show more]*/
.show-more{
	clear: both;
	text-align: center;
	padding: 80px 0;
	display: none;
}
.show-more .loading{
	background: url("../img/loading.gif") no-repeat center;
	display: inline-block;
	width: 50px;
	height: 50px;
	background-size: 50px 50px;
}
/*TODO: [TOP BANNER SEARCH]*/
.i-hotkey{
	display: inline-block;
	background: #ffffff;
	padding: 7px 10px;
	margin-bottom: 5px;
	border-radius: 2px;
	font-size: 12px;
}
.icon-search{
	background: url("../img/search_icon.png") no-repeat;
	width: 20px;
	height: 20px;
	display: inline-block;
	vertical-align: bottom;
}
.top-banner-search{
	position: absolute;
	top: 220px;
}
.top-list-header{
	border-left: 5px solid #29d38d;
	color: #ffffff;
	padding-top: 1px;
	padding-bottom: 5px;
	font-size: 14px;
	border-bottom: 0;
	margin-bottom: 10px;
}
.top-list-header .label-header{
	background: #29d38d;
	padding: 6px 12px;
	color: #ffffff;
	font-size: 12px;
	vertical-align: top;
	margin-right: 0;
	display: inline-block;
}
.top-list-header big{
	font-weight: bold;
	font-size: 18px;
	vertical-align: bottom;
	line-height: 1.3;
	padding: 0px 2px;
}
.top-list-header small{
	vertical-align: bottom;
	font-size: 14px;
}
.top-list-header small.unit{
	font-size: 14px;
	/*font-weight: bold;*/
}
.top-list-header big.callcenterjob{
	margin-left: 10px;
	margin-right: 20px;
}
.top-banner-search .banner-search-wrap-box{
	display: table;
	width: 100%;
	table-layout: fixed;
}
.top-banner-search .banner-search-wrap-box > .column-left{
	width: 65%;
	padding-right: 35px;
	border-right: 1px solid #ffffff;
	display: table-cell;
}
.top-banner-search .banner-search-wrap-box > .column-right{
	width: 35%;
	padding-left: 35px;
	display: table-cell;
	position: relative;
}
.top-banner-search .banner-search-wrap-box .history-box-metal{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 35px;
	min-height: 150px;
}
.search-box-metal .top-part:before,.search-box-metal .top-part:after,.metal-item:before,.metal-item:after{
	content: "";
	clear: both;
	display: table;
}
.metal-item{
	padding: 14px;
	color: #4e4e4e;
	font-size: 14px;
	display: table;
}
.metal-item > *{
	display: table-cell;
}
.metal-item > .i-change{
	text-align: right;
	vertical-align: bottom;
	cursor: pointer;
}
.metal-item > .i-change:after{
	content: "";
	background: url("../img/arrow-gray.png") no-repeat;
	width: 10px;
	height: 20px;
	display: inline-block;
	vertical-align: middle;
	margin-left: 20px;
}
.metal-item .textbox-metal,.metal-item .select-metal{
	width: 100%;
	border-radius: 0;
	height: 30px;
}
.search-box-metal .top-part .i-label{
	width: 30%;
	vertical-align: middle;
}
.search-box-metal .content-part .i-label{
	width: 20%;
}
.search-box-metal .bottom-part .i-label{
	width: 10%;
	vertical-align: top;
}
.search-box-metal .bottom-part .metal-item > div{
	width: 70%;
}
.search-box-metal .metal-item{
	background: rgba(255,255,255,0.65);
}
.search-box-metal .top-part .metal-item{
	width: 50%;
	float: left;
}
.search-box-metal .top-part .metal-item:first-child{
	border-right: 1px solid #ffffff;
}
.search-box-metal .content-part .metal-item{
	border-top: 1px solid #ffffff;
}
.search-box-metal .content-part .metal-item,.search-box-metal .bottom-part .metal-item{
	width: 100%;
}
.search-box-metal .bottom-part .metal-item{
	padding: 10px 14px;
}
.search-box-metal .bottom-part{
	margin-top: 10px;
}
.metal-text-justify{
	width: 140px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: block;
}
/*TODO: history-box-metal*/
.history-box-metal{
	background: #ffffff;
	padding: 18px;
	font-size: 12px;
}
.history-box-metal .go-to-search-history{
	color: #4e4e4e;
	text-decoration: underline;
	margin-left: 8px;
}
.history-box-metal .clear-search-history{
	color: #4e4e4e;
	text-decoration: underline;
	float: right;
}
.history-box-metal .top-part{
	color: #4e4e4e;
}
.history-box-metal .content-part{
	margin-top: 15px;
	padding: 0 10px;
	line-height: 2.1;
}
.history-box-metal .content-part > span{
	display: inline-block;
	margin-right: 4px;
}
.history-box-metal .brick-btn{
	width: 100%;
	font-size: 16px;
	padding: 10px;
}
.history-box-metal .bottom-part{
	position: absolute;
	left: 18px;
	right: 18px;
	bottom: 18px;
}
/*TODO: Pop up: top-popup-search*/
.top-popup-search{
	display: none;
	position: fixed;
	background: rgba(0,0,0,0.75);
	z-index: 1040;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	overflow: hidden;
	-webkit-overflow-scrolling: touch;
	outline: 0;
}
.top-popup-search .popup-container{
	width: 640px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -320px;
	margin-top: -150px;
	-ms-transform: translate(0, 0);
	transform: translate(0, 0);
}
.top-popup-search .bottom-submit{
	text-align: center;
	margin-top: 20px;
}
.top-popup-search .bottom-submit .brick-btn{
	padding: 10px 0;
	width: 220px;
	text-align: center;
	font-size: 16px;
}
.top-popup-search .search-box-metal .bottom-part .metal-item > div{
	width: 90%;
}
.top-popup-search .close-button{
	float: right;
	margin-top: 5px;
	color: #ffffff;
}
.close-button{
	cursor: pointer;
}
.close-button i{
	display: inline-block;
	height: 1px;
	width: 20px;
	background: #ffffff;
	vertical-align: middle;
}
.close-button i:nth-child(1){
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	right: -24px;
	position: relative;
}
.close-button i:nth-child(2){
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
/*TODO: checkbox-i-button*/
.checkbox-i-button{
	cursor: pointer;
}
.checkbox-i-button input{
	display: none;
}
.checkbox-i-button .i-hotkey{
	opacity: 0.4;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
}
.checkbox-i-button input:checked + .i-hotkey{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
/*TODO: select metal*/
.select-metal{
	border: 0;
	outline: 0;
	color: #808080;
	padding: 0 6px;
	font-size: 11px;
	border-radius: 3px;
	background: #ffffff;
	position: relative;
	-webkit-overflow-scrolling: touch;
}
/*
.select-metal:before{
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 4px 4px 4px;
	border-color: transparent transparent #cccccc transparent;
	position: absolute;
    right: 7px;
    top: 7px;
}

.select-metal:after{
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 4px 4px 0 4px;
	border-color: #cccccc transparent transparent transparent;
	position: absolute;
	right: 7px;
    bottom: 7px;
}
*/
.select-metal select{
	width: 100%;
	outline: 0;
	border: 0;
	vertical-align: bottom;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	height: 30px;
	background-color: #ffffff;
}
.textbox-metal:focus,.select-metal:focus{
	color: #4e4e4e;
}
.textbox-metal{
	border: 0;
	outline: 0;
	color: #cccccc;
	padding: 8px;
	font-size: 11px;
}
/*TODO: disable-scrolling*/
.disable-scrolling{
	overflow: hidden;
	-webkit-overflow-scrolling: touch;
}
/*TODO: container-900*/
.container-980{
	width: 980px !important;
	font-family: Avenir, "Open Sans", "Helvetica Neue", Helvetica, Arial, Verdana, Roboto, "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Meiryo UI", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	margin-right: auto;
	margin-left: auto;
}
/*TODO: [article-box] @comment*/
.relation-list .main-list-v2 ol li{
	margin-bottom: 20px;
	width: 100%;
}
.main-list-v2 ol{
	padding: 0;
	margin: 0;
	list-style: none;
}
.main-list-v2 ol li{
	/*    float: left;*/
	padding: 0 2px;
	margin-bottom: 10px;
	width: 100%;
}
.main-list-v2 ol li:hover .article-box{
	background: #ffffff;
}
.article-box{
	overflow: hidden;
	color: #4e4e4e;
	background: #f9f9f9;
	font-size: 14px;
}
.article-box > a{
	color: #4e4e4e;
}
.article-box .search-image{
	width: 27%;
	overflow: hidden;
	position: relative;
	display: table-cell;
}
.article-box .search-image img{
	width: 100%;
	position: absolute;
}
.article-box .search-content{
	padding-left: 30px;
	padding-right: 30px;
	width: 80%;
	height: 120px;
	display: table-cell;
	position: relative;
	vertical-align: middle;
}
.article-box .search-content > a{
	color: inherit;
}
.article-box .middle-part{
	margin-top: 5px;
	margin-bottom: 6px;
	color: #4e4e4e;
	font-size: 18px;
	line-height: 1.7;
}
.article-box .middle-part a{
	color: #4e4e4e;
	font-size: 18px;
}
.slider-ranking .slider-content ol > li > .article-box .middle-part{
	font-size: 12px;
}
.article-box .bottom-part{
	position: absolute;
	right: 30px;
	bottom: 10px;
}
.article-box .bottom-part a{
	color: #29d38d;
	display: inline-block;
	border-bottom: 1px solid #29d38d;
	padding: 0 4px;
	font-size: 10px;
}
.new-label{
	color: #29d38d;
}
.article-box .display-table{
	width: 100%;
	padding: 10px;
}
/*TODO: [article-box/]*/
/*TODO: [silder bar]*/
.slider-ranking .slider-content ol > li > .article-box .search-content{
	padding-left: 20px;
	padding-right: 20px;
	height: 60px;
}
/*TODO: [silder bar/]*/
.popup-search-box{
	display: none;
	position: fixed;
	background: rgba(0,0,0,0.75);
	z-index: 999;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.popup-search-box .popup-content.box-search{
	width: 1024px;
	width: 64rem;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -512px;
	margin-left: -32rem;
	-webkit-transform: translateY(-50%);
}
.top-box-header{
	font-weight: bold;
	color: #ffffff;
	padding-top: 1.6px;
	padding-top: 0.1rem;
	padding-bottom: 8px;
	padding-bottom: 0.5rem;
	font-size: 28.8px;
	font-size: 1.8rem;
	border-bottom: 0;
	margin-bottom: 16px;
	margin-bottom: 1rem;
}
.popup-search-box .close-button{
	float: right;
}
.top-box-title{
	background: #eeeeee;
	height: 64px;
	height: 4rem;
	text-align: center;
	display: table;
	width: 100%;
}
.top-box-title .title{
	display: table-cell;
	vertical-align: middle;
	font-size: 22.4px;
	font-size: 1.4rem;
}
.popup-search-box .search-box-metal .metal-item{
	width: 50%;
	float: left;
	border-top: 1px solid #ffffff;
	cursor: pointer;
	padding-left: 48px;
	padding-left: 3rem;
	padding-right: 32px;
	padding-right: 2rem;
}
.popup-search-box .search-box-metal .metal-item:first-child{
	border-top: none;
}
.popup-search-box .search-box-metal .metal-item:nth-child(2){
	border-top: none;
}
.popup-search-box .search-box-metal .metal-item:nth-child(odd){
	border-right: 1px solid #ffffff;
}
.popup-search-box .search-box-metal{
	overflow: hidden;
	overflow-y: auto;
}
.back-to-previous-step{
	display: table-cell;
	vertical-align: middle;
	text-align: left;
	padding-left: 48px;
	padding-left: 3rem;
	width: 16px;
	width: 1rem;
}
.back-to-previous-step img{
	cursor: pointer;
}
.title-padding-r-4{
	padding-right: 64px;
	padding-right: 4rem;
}
/*TODO: [popup_search_box_search_PC/]*/
/*TODO: [main-list] with pickup v2*/
.pick-up-box_v2{
	margin-bottom: 10px;
	padding: 0;
}
.pick-up-box_v2 .i-date{
	text-align: right;
}
.pick-up-box_v2 .i-title{
	color: #ffffff;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 0 20px;
	background-color: rgba(0,0,0,0.5);
	height: 70px;
}
.pick-up-box_v2 .i-title a{
	color: #ffffff;
	line-height: 1.5;
	font-size: 14px;
	padding: 13px 0;
	display: inline-block;
}
.pick-up-box_v2 .i-pick-up{
	color: #29d38d;
	font-size: 16px;
}
.pick-up-box_v2 .i-view{
	float: right;
	font-size: 16px;
}
/*Todo: concierge link banner*/
.bg-concierge-link{
	background: url("/img/concierge/banner_link/concierge_link_bg.png") no-repeat center;
	height: 300px;
	background-size: 100%;
	background-color: #fffdec;
	overflow: hidden;
}
.bg-concierge-link .container{
	display: -ms-flexbox;
	display: flex;
}
.bg-concierge-link .container .left{
	padding-left: 40px;
	padding-top: 55px;
	position: relative;
}
.bg-concierge-link .container .left h4{
	font-size: 30px;
	font-weight: bold;
	text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
	color: #4e4e4e;
	line-height: 1.5em;
	margin-bottom: 0px;
}
.bg-concierge-link .container .left h4 span{
	font-size: 35px;
}
.bg-concierge-link .container .left p{
	font-size: 15px;
	margin-bottom: 20px;
}
.bg-concierge-link .container .left img.chat-box{
	position: absolute;
	top: 35px;
	right: 25px;
}
.bg-concierge-link .container .left .dv-bottom{
	display: -ms-flexbox;
	display: flex;
}
.bg-concierge-link .container .left .dv-bottom .next-to-btn{
	padding-left: 20px;
	color: #29d38d;
	font-weight: bold;
}
.bg-concierge-link .container .left .dv-bottom .next-to-btn span:first-child{
	font-size: 14px;
}
.bg-concierge-link .container .left .dv-bottom .next-to-btn span:last-child{
	font-size: 26px;
}
.bg-concierge-link .container .right{
	float: right;
	padding-top: 35px;
}
.bg-yellow{
	background-color: #fffdec;
}
/*Todo: end concierge link banner*/
/*TODO: [top banner-block]*/
.banner-block{
	width: 1020px;
	margin: 0 auto;
}
.banner-block__item{
	float: left;
	width: 500px;
}
.banner-block__item:first-of-type{
	margin-right: 20px;
}
/*TODO: end [top banner-block]*/
/*TODO: [top secret]*/
.bg-secret{
	position: relative;
	background-color: #f7f6ee;
}
.bg-secret .secret-content{
	position: relative;
	/*width: 400px;
  height: 240px;
  margin: 0 auto;
  left: 0;
  right: 0;*/
}
.bg-secret .secret-content .container{
	position: absolute;
	z-index: 2;
	top: 55%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
	height: 100%;
}
.bg-secret .secret-content .benefits{
	position: absolute;
	width: 400px;
	height: 270px;
	margin: 0 auto;
	left: 0;
	top: 0;
}
.bg-secret .secret-content .center-bg{
	width: 400px;
	height: 270px;
	margin: 0 auto;
	left: 0;
	right: 0;
}
.bg-secret .secret-content .benefits{
	z-index: 2;
	top: 55%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.benefits img{
	margin-left: -205px;
	margin-top: 28px;
}
.secret-content span{
	color: #4e4e4e;
}
.bg-secret .secret-content .main .img-title{
	margin: 35px 0 20px 0;
}
.btn-more-secret{
	display: inline-block;
}
a:hover.btn-more-secret{
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}
/*TODO: [top secret/]*/
/*TODO: [fix height] @comment*/
.fix-height-160{
	height: 160px;
}
.fix-height-210{
	height: 210px;
}
/*TODO: [fix height/]*/
/*TODO: [verticle_art_box] @comment*/
.verticle_art_box--title{
	font-size: 14px;
	line-height: 1.6;
	color: #4e4e4e;
	height: 45px;
	overflow: hidden;
}
.verticle_art_box--title--white{
	line-height: 1.5;
	font-weight: bold;
	color: #4e4e4e;
	background-color: #ffffff;
	padding: 13px 20px 5px;
	font-size: 14px;
}
.verticle_art_box--title--white span{
	display: inline-block;
	overflow: hidden;
	height: 42px;
}
.verticle_art_box--cat{
	margin-bottom: -20px;
	position: relative;
	z-index: 1;
	padding-left: 10px;
}
.verticle_art_box--time{
	font-size: 12px;
}
.verticle_art_box--view{
	font-size: 12px;
}
._art_box--detail{
	margin: 5px 0 0;
	display: -ms-flexbox;
	display: flex;
	padding: 0;
	overflow: hidden;
}
._art_box--detail:first-of-type{
	margin: 0;
}
._art_box--detail__title{
	-ms-flex: 1 0 80px;
	flex: 1 0 80px;
	overflow: hidden;
}
._art_box--detail__title > span{
	display: block;
	background-color: #e2e0db;
	text-align: center;
	font-weight: bold;
	padding: 5px;
	min-width: 80px;
	box-sizing: border-box;
}
._art_box--detail__text{
	-ms-flex: 2 0 156px;
	flex: 2 0 156px;
	margin-left: 5px;
	background-color: #ffffff;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	padding: 5px;
	box-sizing: border-box;
}
/*TODO: [verticle_art_box/]*/
/*TODO: [mark-image] @comment*/
.mark-image--wp{
	position: relative;
	overflow: hidden;
}
.mark-image--wp img{
	width: 110%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: -5%;
	margin: auto 0;
}
/*TODO: [mark-image/]*/
/*TODO: [main-list-col-4] @comment*/
.main-list-col-4 ol > li{
	width: 25%;
	float: left;
}
.main-list-col-4 ol > li:nth-child(4n+1){
	padding-right: 15px;
	padding-left: 0;
}
.main-list-col-4 ol > li:nth-child(4n+2){
	padding-left: 5px;
	padding-right: 10px;
}
.main-list-col-4 ol > li:nth-child(4n+3){
	padding-left: 10px;
	padding-right: 5px;
}
.main-list-col-4 ol > li:nth-child(4n+4){
	padding-left: 15px;
	padding-right: 0;
}
/*TODO: [main-list-col-4/]*/
/*TODO: [reference_box] @comment*/
.reference-column{
	width: 315px;
	float: left;
	margin: 0 10px;
}
.top-reference-box{
	margin: 0 40px;
}
.reference-column .social-column{
	margin-bottom: 0;
}
.reference-column .social-column .fb-column{
	background: url("../img/top-happy-face.jpg") no-repeat top right;
	border: none;
}
.reference-column .social-column .fb-column .content-part{
	padding: 18px 20px;
}
/*TODO: [reference_box/]*/
/*TODO: [hori-modern-form] @comment*/
.hori-modern-form{
	line-height: 1.4;
}
.hori-modern-form .custom-modern-textbox,.hori-modern-form .btn-shadown-green,.hori-modern-form .custom-modern-select{
	display: block;
	width: 100%;
}
/*TODO: [hori-modern-form/]*/
/*TODO: [content part] @comment*/
/*TODO: [content part/]*/
/*TODO: [float-swp] @comment*/
.float-swp .pull-left{
	width: 32.3%;
}
.float-swp .pull-right{
	width: 67.7%;
}
/*TODO: [float-swp/]*/
/*TODO: [area-ref] @comment*/
.area-ref{
	overflow: hidden;
	margin-bottom: 10px;
	line-height: 1.4;
}
.area-ref .area-ref__th,.area-ref .area-ref__tr,.area-ref .area-ref__md{
	float: left;
}
.area-ref a:hover{
	color: #ffffff;
	text-decoration: underline;
}
.area-ref a{
	color: #ffffff;
	font-size: 13px;
}
.area-ref__th{
	width: 16%;
	text-align: center;
}
.area-ref__tr{
	width: 77%;
}
.area-ref__md{
	text-align: center;
	width: 7%;
	margin-top: 3px;
	line-height: 1;
}
.area-ref__tr a{
	margin-right: 11px;
}
.area-ref__tr__wp{
	margin-right: -15px;
}
/*TODO: [area-ref/]*/
/*TODO: [top-banner] @comment*/
.top-banner__h{
	position: relative;
}
.top-banner__h .comment-oval{
	position: absolute;
	left: 744px;
	top: -44px;
}
/*[top banner]*/
.top-banner-bg{
	background: url("../img/banner/top_banner.jpg") no-repeat center;
	height: 700px;
	position: relative;
}
.top-banner-bg > .container{
	padding-top: 140px;
}
/*TODO: [top-banner/]*/
/*TODO: [iframe[name="google_conversion_frame"]] @comment*/
iframe[name="google_conversion_frame"]{
	display: none;
}
/*TODO: [iframe[name="google_conversion_frame"]/]*/
/*TODO: [special-feature] @comment*/
.special-feature ol > li{
	width: 240px;
	float: left;
	margin: 0 10px 30px 10px;
}
.special-feature .mark-image--wp{
	overflow: visible;
}
.special-feature .mark-image--wp img{
	width: 100%;
	left: 0;
}
/*TODO: [special-feature/]*/
/*TODO: Similar content v3*/
/*TODO: [article-box] @comment*/
.relation-list .main-list-v3 ol{
	padding: 0;
	margin: 0;
	list-style: none;
}
.relation-list .main-list-v3 ol li{
	margin-bottom: 20px;
	width: 33.3%;
	float: left;
	padding: 0 20px;
}
.relation-list .main-list-v3 ol li .article-box{
	overflow: hidden;
	color: #4e4e4e;
	background: none;
	font-size: 14px;
}
.relation-list .main-list-v3 ol li .article-box .search-image{
	width: 100%;
	overflow: hidden;
	position: relative;
	display: table-row;
}
.relation-list .main-list-v3 ol li .article-box .search-image img{
	width: 110%;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
}
.relation-list .main-list-v3 ol li .article-box .search-image a{
	position: relative;
	display: table-cell;
	height: 170px;
	overflow: hidden;
	text-align: center;
}
.relation-list .main-list-v3 ol li .article-box .search-content{
	padding-left: 0;
	padding-right: 0;
	width: 100%;
	height: 120px;
	display: table-cell;
	position: relative;
	vertical-align: middle;
}
.relation-list .main-list-v3 ol li .article-box .search-content .middle-part.title{
	font-size: 14px;
	margin-top: 12px;
	height: 40px;
	display: table;
	width: 100%;
}
.relation-list .main-list-v3 ol li .article-box .search-content .middle-part.title strong{
	display: table-cell;
	vertical-align: middle;
}
.relation-list .main-list-v3 ol li .article-box .search-content .middle-part.desciption{
	font-size: 12px;
	margin-top: 0;
	margin-bottom: 15px;
}
.relation-list .main-list-v3 ol li .article-box .bottom-part{
	position: static;
}
/*TODO: End similar content v3*/
.own-carousel{
	overflow: hidden;
	margin-right: -10px;
}
.own-carousel .item{
	float: left;
	width: 290px;
	margin-right: 10px;
}
.own-carousel .item img{
	width: 100%;
}
/*TODO: [interview-v3] @comment*/
.interview-v3 .hr--v3{
	border-top: 1px solid #4e4e4e;
}
/*TODO: [interview-v3/]*/
/*TODO: [content--p] @comment*/
.content--p{
	line-height: 2.25;
	color: #4e4e4e;
}
.content--rm .content--big_title:first-child{
	margin-top: 0px;
}
.content--big_title{
	margin-top: 75px;
}
.content--big_title h3{
	font-weight: bold;
}
.content--small_title{
	margin-top: 45px;
	padding-left: 35px;
	font-size: 18px;
}
.content--small_title:before{
	content: "笏笏笏";
	margin-left: -35px;
	width: 35px;
	display: inline-block;
	font-size: 15px;
	line-height: 1;
}
.p--green-span{
	color: #29d38d;
}
.content--p > p{
	margin-top: 25px;
}
/*TODO: [content--p/]*/
/*TODO: [p--imggrp] @comment*/
.p--imggrp{
	background: #d53931;
	margin-top: 40px;
	margin-bottom: 40px;
}
.p--imggrp__img{
	width: 65%;
	display: table-cell;
}
.p--imggrp__img img{
	width: 100%;
}
.p--imggrp__txt{
	vertical-align: middle;
	text-align: center;
	color: #ffffff;
	width: 35%;
	display: table-cell;
}
/*TODO: [p--imggrp/]*/
/*TODO: [v4] @comment*/
.topic-v4{
	background: #29d38d;
	color: #ffffff;
	font-size: 18px;
	padding: 10px 18px;
	line-height: 2;
	font-weight: bold;
}
.panel-v4{
	padding: 20px 60px 60px !important;
}
.secret-search-box{
	padding: 0;
}
/*TODO: [v4/]*/
/*TODO: Secret Job In Contents*/
.secret-search-box .search-salary.gray-bg > span,.topic-gray{
	background-color: #eeeeee;
	color: #222222;
}
.secret-search-box .search-salary.content--salary{
	font-size: 14px;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
}
.secret-search-box .search-salary.content--salary > span{
	-ms-flex: 1 0 80px;
	flex: 1 0 80px;
	max-width: 80px;
	padding: 6px 4px;
	background-color: #686868;
}
.secret-search-box .search-salary.content--salary > .search-salary__txt{
	text-overflow: ellipsis;
	white-space: nowrap;
}
.secret-search-box .search-benefit.content--benefit{
	font-size: 14px;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	margin-top: 30px;
}
.secret-search-box .search-benefit.content--benefit > span{
	-ms-flex: 1 0 80px;
	flex: 1 0 80px;
	max-width: 80px;
	padding: 6px 4px;
}
.secret-search-box .search-benefit.content--benefit > .search-salary__txt{
	text-overflow: ellipsis;
	white-space: nowrap;
}
.content--small_title{
	position: relative;
	font-weight: bold;
}
.content--p-18{
	font-size: 18PX;
}
.content--p-16{
	font-size: 16px;
}
.content--small_title:before{
	content: "" !important;
	height: 1px !important;
	background-color: #000000;
	/* top: 2px !important; */
	position: absolute;
	top: 16px;
	width: 30px;
}
.content--big_title h1,.content--big_title h3{
	font-size: 24px;
	font-weight: bold;
}
span.p--green-span{
	font-weight: bold;
}
/*TODO: End Secret Job In Contents*/
@media only screen and (max-width: 1024px){
	.bg-secret .secret-content,.top-banner{
		overflow: hidden;
	}
	.slider #right-column,.slider #right-column.isFixed{
		width: 340px;
	}
	.ipad-mg-lr-15{
		margin-left: -15px;
		margin-right: -15px;
	}
}
@media screen and (min-width: 1760px){
	.top-banner-bg{
		background: url("../img/banner/top_banner_2.jpg") no-repeat center;
		background-size: cover;
	}
}
/* no in gulp */
.search-title span.interview-tag {
	background: #29d38d;
    color: white;
    font-size: 12px;
    padding: 1px 5px;
    vertical-align: middle;
    margin-right: 5px;
    display: block;
    width: auto;
    text-align: center;
    margin-bottom: 8px;
    float: left;
}
.search-title span.benefit-tag {
	background: #d1ab4c;
    color: white;
    font-size: 12px;
    padding: 1px 5px;
    vertical-align: middle;
    margin-right: 5px;
    display: block;
    width: auto;
    text-align: center;
    margin-bottom: 8px;
    float: left;
}

.search-title span.secret-tag {
	background: #1db3e5;
    color: white;
    font-size: 12px;
    padding: 1px 5px;
    vertical-align: middle;
    margin-right: 5px;
    display: block;
    width: auto;
    text-align: center;
    margin-bottom: 8px;
    float: left;
}
.search-box .search-title h3{
	margin: 0;
	font-size: 17px;
	line-height: 1.6;
	font-weight: bold;
	clear: left;
}
.search-box .search-benefit > span{
	float: left;
	display: block;
	padding: 1px 5px;
	background: #d1ab4c;
	color: white;
}

.search-box .search-benefit > p{
    color: #d1ab4c;
    padding-left: 70px;
    line-height: 1.7;
    height: 40px;
}
.search-box .search-salary > span{
	float: left;
	width: auto;
	display: block;
	padding: 1px 17px;
	background: #686868;
	color: white;
}

.search-box .search-benefit > p {
    padding-left: 65px;
    line-height: 1.7;
    height: 40px;
}