/*
	Common CSS contains used object commonly.

	Please don't write any CSS of a special page in this file

	If need to fix the object, please check it careful because it will make other page drop
*/

/*Common box: for all box with padding 20px*/
.common-box{
	padding: 20px 20px;
	background: white;
	box-shadow: 0 -1px 2px rgba(0,0,0,0.05), 0 1px 2px rgba(0,0,0,0.05);
    font-family: FreeSans,Arimo,"Droid Sans",Helvetica,Arial,sans-serif;
}

.common_secret-box{
    padding: 20px 50px;
    background: white;
    box-shadow: 0 -1px 2px rgba(0,0,0,0.05), 0 1px 2px rgba(0,0,0,0.05);
    font-family: FreeSans,Arimo,"Droid Sans",Helvetica,Arial,sans-serif;
}

/*Common panel: for all panels resemble*/
.common-panel{
	padding-bottom: 20px;
	background: white;
	box-shadow: 0 -1px 2px rgba(0,0,0,0.05), 0 1px 2px rgba(0,0,0,0.05);
}
/*[custom checkbox]*/
.custom-checkbox input[type="checkbox"]{
	display: none;
}
.custom-checkbox .vir-label{
	cursor: pointer;
    margin-bottom: 5px;
}
.custom-checkbox .vir-content{
    vertical-align: middle;
    font-size: 12px;
    margin-left: 5px;
    font-weight: normal;
    color: #636363;
}
.custom-checkbox .vir-checkbox{
	border-radius: 100%;
	width: 15px;
    height: 15px;
	border: 1px solid #808080;
	background: #ffffff;
	vertical-align: middle;
	position: relative;
	display: inline-block;
}
.custom-checkbox input[type="checkbox"]:checked + .vir-label .vir-checkbox:before{
    content: "";
    background: #00b2e8;
    height: 7px;
    width: 7px;
    position: absolute;
    display: inline-block;
    top: 3px;
    left: 3px;
    border-radius: 100%;
}
/*[custom checkbox/]*/

/*[custom-textbox]*/
.custom-textbox input[type="text"]{
	padding: 10px 12px;
    border: 1px solid #cccccc;
    border-radius: 2px;
	font-size: 14px;
    color: #9d9d9d;
	outline: 0;
    width: 100%;
    -webkit-box-shadow: inset 0px 8px 8px -8px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0px 8px 8px -8px rgba(0,0,0,0.3);
    box-shadow: inset 0px 8px 8px -8px rgba(0,0,0,0.3);
    -moz-appearance: none;
}
/*[custom-textbox/]*/

/*[custom search select]*/
.custom-search-select{
	position: relative;
}

.custom-search-select:before{
    content: "▼";
    color: #636363;
    font-size: 12px;
    position: absolute;
    left: 12px;
    top: 11px;
}

.custom-search-select select{
	padding: 10px 12px 8px 30px;
    border: 1px solid #cccccc;
    border-radius: 2px;
    overflow: hidden;
    outline: 0;
    width: 240px;
    -webkit-box-shadow: inset 0px 8px 8px -8px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0px 8px 8px -8px rgba(0,0,0,0.3);
    box-shadow: inset 0px 8px 8px -8px rgba(0,0,0,0.3);
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    font-size: 13px;
    color: #636363;
    background: #ffffff;
}
/*[custom search select/]*/

/*custom select*/
.custom-select{
	display: inline-block;
	position: relative;
}
.custom-select select{
	padding: 10px 12px 10px 30px;
	border: 1px solid #cccccc;
	border-radius: 2px;
	overflow: hidden;
	outline: 0;
	width: 100%;
	
	-webkit-box-shadow: inset 0px 8px 8px -8px rgba(0,0,0,0.3);
	-moz-box-shadow: inset 0px 8px 8px -8px rgba(0,0,0,0.3);
	box-shadow: inset 0px 8px 8px -8px rgba(0,0,0,0.3);

	-moz-appearance: none;
	-webkit-appearance: none;
    appearance: none;
	font-size: 14px;
	color: #9d9d9d;
}
.custom-select .arrow{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px 3px 0 3px;
	border-color: #bababa transparent transparent transparent;
}
.custom-select:before{
	content: "▼";
    color: #bababa;
    font-size: 12px;
    position: absolute;
    left: 12px;
    top: 16px;
}

/*Brick button*/
.brick-btn{
	outline: 0;
	border: 0;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 11px;
	background-color: #00b2e8;
	box-shadow: 0px 3px #2387a6;
}
.brick-green{
	background:#29d38d;
	box-shadow: 0px 3px #3ea67b;
}

/*[cachet btn]*/
.cachet-btn{
    background: rgba(0,178,232,0.7);
	border-radius: 3px;
	color: #ffffff;
	font-size: 10px;
	padding: 2px 10px;
}
.cachet-btn:visited,
.cachet-btn:hover{
	color: white;
}
/*[cachet btn/]*/

/*[secret label]*/
.secret-label{
    color: #fff;
    background: rgba(0,178,232,0.6);
    border-right: 0;
    padding: 5px 15px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    font-size: 10px;
}
/*[secret label/]*/

/*[new-label]*/
.new-label{
	background: #29d38d;
    color: white;
    font-size: 10px;
    text-align: center;
    display: inline-block;
    width: 50px;
    height:15px;
}
/*[new-label/]*/

/*[rank-label]*/
.rank-label{
    border: 2px solid #29d38d;
    color: #29d38d;
    font-size: 10px;
    text-align: center;
    display: inline-block;
    width: 35px;
    height: 35px;
    float: left;
    padding: 3px;
    /* border-radius: 50%; */
}

.rank-label span {
    vertical-align: middle;
    font-size: 18px;
    font-weight: bold;
}
/*[rank-label/]*/

/*[material-box]*/
.material-box .material-header{
    font-size: 14px;
    color: #636363;
    margin-bottom: 2px;
    margin-top: 1px;
}

.material-box .material-content{
	border-top: 2px solid #00b2e8;
	padding: 10px;
	background: white;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), 0 1px 2px rgba(0,0,0,0.05);
}
/*[material-box/]*/

.bg-white{
    background-color: #ffffff;
}

.bg-gray{
    background-color: #f2f2f2 !important;
}

.width-100{
    width: 100%;
}

.about-top, .about-bottom{
    text-align: center;
    background-color: #ffffff;
    position: relative;
    padding-bottom: 50px;
}
.about-top:after, .about-top:before{
    top: 100%;
    left: 50%;
    border:  solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.about-top:after {
    border-color: rgba(0, 0, 0, 0);
    border-top-color: #ffffff;
    border-width: 40px 70px 0 70px;
    margin-left: -70px;
}
.about-top:before {
    border-color: rgba(0, 0, 0, 0);
    border-top-color: #ffffff;
    border-width: 40px 70px 0 70px;
    margin-left: -70px;
}
.about-top img{
    margin-top: 100px;
    margin-bottom: 100px;
}
.about-top img, .about-bottom img, .about-merit img{
    max-width: 100%;
}

.breadcrumb-about{
    margin-bottom: 40px;
    font-weight: normal;
}

.breadcrumb-about a{
    text-decoration:underline !important;
    font-weight: normal;
}

.about-merit{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
.about-bottom:after, .about-bottom:before{
    top: 0%;
    left: 50%;
    border:  solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.about-bottom:after {
    border-color: rgba(0, 0, 0, 0);
    border-top-color: #f2f2f2;
    border-width: 40px 70px 0 70px;
    margin-left: -70px;
}
.about-bottom:before {
    border-color: rgba(0, 0, 0, 0);
    border-top-color: #f2f2f2;
    border-width: 40px 70px 0 70px;
    margin-left: -70px;
}
#company-main{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    font-family: FreeSans,Arimo,"Droid Sans",Helvetica,Arial,sans-serif;
}

.about-bottom img{
    margin-bottom: 150px;
    margin-top: 150px;
}
#company-main .company-title, #contact-main .contact-title{
    border-left: 10px solid #00b2e8;
    height: 40px;
    display: inline-block;
    vertical-align: middle;
    margin-top: 30px;
}
#company-main .company-title h4, #contact-main .contact-title h4{
    font-size: 22px;
    padding-left: 10px;
    margin: 0px;
    line-height: 40px;
    color: #636363;
}

#company-main .company-subtitle p{
    font-size: 14px;
    color: #636363;
    margin-top: 10px;
    margin-bottom: 30px;
    line-height: 1.8em;
}

#company-main .company-management{
    background: #ffffff;
    box-shadow: 0 -1px 2px rgba(0,0,0,0.05), 0 1px 2px rgba(0,0,0,0.05);
    margin-top: 30px;
    padding: 25px;
    border-radius: 3px;
}

#company-main .company-management table{
    width: 100%;
    font-size: 14px;

}
#company-main .company-management table tr td{
    padding-bottom: 25px;
    padding-left: 20px;
}
#company-main .company-management table tr:last-child td{
    padding-bottom: 10px;
}
#company-main .company-management table tr td:first-child{
    color: #636363;
}
#company-main .company-management table tr td:last-child{
    color: #808080;
}
#company-main .company-management table a{
    color: #00b2e8;
    text-decoration:underline !important;
}

#company-main .company-margintop-60{
    margin-top: 60px;
}

#company-main .company-term{
    background: #ffffff;
    margin-top: 30px;
    padding: 20px 0 20px 20px;
    border-radius: 3px;
    height: 400px;
    margin-bottom: 60px;
    box-shadow: 0 -1px 2px rgba(0,0,0,0.05), 0 1px 2px rgba(0,0,0,0.05);
}

#company-main .company-term h4{
    font-size: 18px;
    color: #636363;
    margin-bottom: 15px;
    margin-top: 0;
}

#company-main .company-term p{
    color: #636363;
    font-size: 14px;
    line-height: 1.8em;
    margin-bottom: 35px;
}
#company-main .company-term p:last-child{
    margin-bottom: 10px;
}
#footer.about{
    box-shadow:none;
}

span.require{
    font-size: 10px;
    background-color: #ff8a8a;
    color: #ffffff;
    padding: 2px 5px;
    border-radius: 3px;
}

.new-article{
    color: #29d38d !important;
    background: none !important;
    font-weight: bold;
    letter-spacing: 0.15em;
    font-size: 10px;
}

/*Category title inside news topics*/
.category-title{
    display: inline-block;
    font-size: 12px;
    color: #fff;
    background: #00b2e8;
    text-align: center;
    border-radius: 0px;
    padding: 5px 10px;
    position: relative;
    font-weight: normal;
    top: -3px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.category-title:hover,
.category-title:focus{
    color: #fff !important;
}

a.category-title:after{
    border-style: solid;
    border-width: 0 0 6px 6px;
    border-color: transparent transparent #ffffff transparent;
    content: '';
    position: absolute;
    bottom: 2px;
    right: 2px;
}
/*[source page]*/
.detail-source{
    color: #919191;
}
/*[source page /]*/

.clearfix{
    clear: both;
}