@charset "utf-8";
/*-------------------
Default Settings
-------------------*/
*{
    box-sizing: border-box;
    font-size: inherit;
    font-family: inherit;
}
html *{
    max-height: 1000000px;
}
html{
    /*  font-size: 36.45%;*/
    font-size: 12px;
    position: relative;
    min-height: 100%;
    /*
      -moz-text-size-adjust: none;
      -webkit-text-size-adjust: none;
      -ms-text-size-adjust: none;
      text-size-adjust: none;
  */
}
body{
    margin: 0;
    font-size: 24px;
    line-height: 1.5;
    font-family: Avenir, "Open Sans", "Helvetica Neue", Helvetica, Arial, Verdana, Roboto, "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Meiryo UI", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    /*font-family: "ヒラギノ明朝 Pro W3","Hiragino Mincho Pro","ＭＳ Ｐ明朝","MS PMincho",serif;*/
    overflow-x: hidden;
    color: #4e4e4e;
    background: #ffffff;
}
h1,h2,h3,h4,h5,h6,p,ul,ol,li,dl,dt,dd{
    margin: 0;
    padding: 0;
}
li{
    list-style-type: none;
}
a,a:hover{
    text-decoration: none;
}
.cf{
    *zoom: 1;
}
.cf:after{
    content: "";
    display: block;
    width: 100%;
    clear: both;
}
.disable-scroll{
    overflow: hidden;
    -webkit-overflow-scrolling: auto;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.vm:before{
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
.position-relative{
    position: relative;
}
.clearfix:before,.clearfix:after{
    content: "";
    clear: both;
    display: table;
}
.pull-left{
    float: left;
}
.pull-right{
    float: right;
}
.display-table{
    display: table;
}
.display-table .table-cell{
    display: table-cell;
}
.img-child-full img{
    width: 100%;
}
/*TODO: fonts*/
.font-yugothic{
    font-size: 185px;
    font-family: "游ゴシック体", "Yu Gothic", YuGothic, sans-serif;
}
.font-yumincho{
    font-size: 185px;
    font-family: "游明朝体", "Yu Mincho", YuMincho, serif;
}
.font-hiragino{
    font-family: "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳ Ｐ明朝", "MS PMincho", serif;
}
.w6{
    font-weight: 600;
}
.df-padding{
    padding-left: 40px;
    padding-right: 40px;
}
.df-padding--secondary{
    padding-left: 60px;
    padding-right: 60px;
}
.df-small-padding{
    padding-left: 15px;
    padding-right: 15px;
}
/*TODO: [margin] @comment*/
.mg-top-5{
    margin-top: 5px;
}
.mg-top-10{
    margin-top: 10px;
}
.mg-top-15{
    margin-top: 15px;
}
.mg-top-20{
    margin-top: 20px;
}
.mg-top-25{
    margin-top: 25px;
}
.mg-top-30{
    margin-top: 30px;
}
.mg-top-40{
    margin-top: 40px;
}
.mg-top-50{
    margin-top: 50px;
}
.mg-top-60{
    margin-top: 60px;
}
.mg-top-70{
    margin-top: 70px;
}
.mg-top-80{
    margin-top: 80px;
}
.mg-top-120{
    margin-top: 120px;
}
.mg-bottom-0{
    margin-bottom: 0px;
}
.mg-bottom-5{
    margin-bottom: 5px;
}
.mg-bottom-10{
    margin-bottom: 10px;
}
.mg-bottom-20{
    margin-bottom: 20px;
}
.mg-bottom-30{
    margin-bottom: 30px;
}
.mg-bottom-40{
    margin-bottom: 40px;
}
.mg-bottom-50{
    margin-bottom: 50px;
}
.mg-bottom-60{
    margin-bottom: 60px;
}
.mg-bottom-80{
    margin-bottom: 80px;
}
.mg-bottom-120{
    margin-bottom: 120px;
}
/*TODO: [margin/]*/
/*TODO: [padding]*/
.pd-top-50{
    padding-top: 50px;
}
/*TODO: [google_conversion_frame]*/
iframe[name="google_conversion_frame"]{
    display: none;
}
/*TODO: [google_conversion_frame/]*/
/*TODO: [darker] @for image*/
.darker-75{
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.75" /><feFuncG type="linear" slope="0.75" /><feFuncB type="linear" slope="0.75" /></feComponentTransfer></filter></svg>#filter');
    filter: brightness(75%);
}
/*TODO: [darker/]*/
/*TODO: [buttons] @all buttons*/
.btn-blue-3d{
    border: 0;
    color: #ffffff;
    border-radius: 10px;
    background: #61d2f4;
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #61d2f4), color-stop(70%, #00b2e8), color-stop(100%, #00b2e8));
    background: linear-gradient(to bottom, #61d2f4 0%, #00b2e8 70%, #00b2e8 100%);
    padding: 25px;
    font-size: 32px;
    display: inline-block;
    text-align: center;
    box-shadow: 0px 6px 0px #016f90;
    margin-bottom: 6px;
}
.btn-green-2d{
    display: block;
    text-align: center;
    border-bottom: 6px solid #177a51;
    background-color: #29d38d;
    padding: 30px 0;
    font-size: 34px;
    line-height: 1;
    color: #ffffff;
    font-weight: bold;
}
.btn-blue-2d{
    display: block;
    text-align: center;
    border-bottom: 6px solid #016f90;
    background-color: #00b2e8;
    padding: 30px 0;
    font-size: 34px;
    line-height: 1;
    color: #ffffff;
    font-weight: bold;
}
/*TODO: [buttons/]*/
/*TODO: [custom-checkbox] @comment*/
.custom-radius-checkbox input{
    display: none;
}
.custom-radius-checkbox .vir-checkbox{
    position: relative;
    background: rgba(255,255,255,0.35);
    height: 50px;
    border-radius: 25px;
    width: 90px;
    display: inline-block;
    vertical-align: middle;
}
.custom-radius-checkbox .vir-content{
    vertical-align: middle;
    color: #ffffff;
    font-size: 28px;
    line-height: 50px;
}
.custom-radius-checkbox .vir-checkbox:before{
    content: "";
    display: block;
    height: 30px;
    width: 30px;
    border-radius: 20px;
    background: #00b2e8;
    position: absolute;
    left: 10px;
    top: 10px;
}
.custom-radius-checkbox input:checked + .vir-label .vir-checkbox{
    background: rgba(0,178,232,0.35);
}
.custom-radius-checkbox input:checked + .vir-label .vir-checkbox:before{
    right: 10px;
    left: auto;
}
/*TODO: [custom-checkbox/]*/
/*TODO: [custom-radio] @comment*/
.custom-checkbox{
    display: inline-block;
}
.custom-checkbox > label{
    position: relative;
}
.custom-checkbox input[type="checkbox"],.custom-checkbox input[type="radio"]{
    /*    display: none;*/
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    position: absolute;
    z-index: -10;
}
.custom-checkbox .vir-label{
    cursor: pointer;
    margin-bottom: 5px;
}
.custom-checkbox .vir-content{
    vertical-align: middle;
    font-size: 22px;
    margin-left: 5px;
    font-weight: normal;
    color: #636363;
    line-height: 1;
}
.custom-checkbox .vir-checkbox{
    width: 40px;
    height: 40px;
    border: 1px solid #bbbbbb;
    background: #ffffff;
    vertical-align: middle;
    position: relative;
    display: inline-block;
}
.custom-checkbox input[type="checkbox"]:checked + .vir-label .vir-checkbox:before,.custom-checkbox input[type="radio"]:checked + .vir-label .vir-checkbox:before{
    content: "";
    background: #00b2e8;
    height: 20px;
    width: 20px;
    position: absolute;
    display: inline-block;
    top: 1px;
    left: 1px;
}
.green-dot{
    border-color: #666666 !important;
}
.green-dot:before{
    height: 24px !important;
    width: 24px !important;
    top: 7px !important;
    left: 7px !important;
    background: #29d38d !important;
}
/*[custom checkbox/]*/
/*Circle checkbox extend [custom checkbox]*/
.custom-checkbox .circle-style .vir-checkbox{
    border: 1px solid #dadada;
    width: 40px;
    height: 40px;
    border-radius: 90%;
}
.custom-checkbox input[type="checkbox"]:checked + .vir-label.circle-style .vir-checkbox:before,.custom-checkbox input[type="radio"]:checked + .vir-label.circle-style .vir-checkbox:before{
    height: 20px;
    width: 20px;
    background: #636363;
    border-radius: 100%;
    left: 9px;
    top: 8px;
}
.custom-checkbox .circle-style .vir-content{
    font-size: 22px;
    font-weight: bold;
    margin-right: 10px;
}
/*TODO: [custom-radio/]*/
/*TODO: [custom-text-box] @comment*/
.custom-text-box{
    border-radius: 2px;
    border: 1px solid #bbbbbb;
    background: #ffffff;
}
.custom-text-box input{
    width: 100%;
    outline: 0;
    border: 0;
    vertical-align: bottom;
    height: 88px;
    line-height: 88px;
    border-radius: inherit;
    color: #bababa;
    padding-left: 30px;
    box-shadow: inset 0px 8px 8px -8px rgba(0,0,0,0.3);
}
/*TODO: [custom-text-box/]*/
/*TODO: [icons] @icon urls*/
.icon-present{
    background: url("../img/icons/circle-present-icon.png") no-repeat center;
}
.icon-mail{
    background: url("../img/icons/circle-mail-icon.png") no-repeat center;
}
.icon-logo{
    background: url("../img/icons/circle-logo-icon.png") no-repeat center;
}
.icon-company{
    background: url("../img/icons/circle-building-icon.png") no-repeat center;
}
.icon-blog{
    background: url("../img/icons/circle-blog-icon.png") no-repeat center;
}
.icon-callcenter{
    background: url("../img/icons/circle-callcenter-icon.png") no-repeat center;
}
.icon-content{
    background: url("../img/icons/circle-content-icon.png") no-repeat center;
}
.icon-home{
    background: url("../img/icons/home-icon.png") no-repeat center;
}
.right-arrow-gray{
    background: url("../img/icons/right-arrow-gray-icon.png") no-repeat center;
    width: 25px;
    height: 40px;
    background-size: 100%;
}
.icon-search{
    background: url("../app/webroot/img/icons/search-white-small-icon.png") no-repeat center;
    background-size: 100%;
    display: inline-block;
    width: 30px;
    height: 30px;
}
.icon-close{
    background: url("../app/webroot/img/icons/x-icon.png") no-repeat center;
    background-size: 100%;
    display: inline-block;
    width: 30px;
    height: 30px;
}
.icon-big-arrow{
    background: url("../app/webroot/img/icons/big-arrow-right-sp.png") no-repeat center;
    background-size: 100%;
    display: inline-block;
}
/*TODO: [icons/]*/
/*TODO: [disable scrolling on element of IOS] @comment*/
.stop-iphone-scroll{
    -webkit-overflow-scrolling: auto;
}
/*TODO: [disable scrolling on element of IOS/]*/
/*TODO: [active setting] @comment*/
.active-false{
    display: none;
}
/*TODO: [active setting/]*/
/*-------------------
End --- Default Settings
-------------------*/
/*TODO: [header] @comment*/
.nav-header{
    width: 100%;
    position: absolute;
    z-index: 5;
}
.nav-header > .display-table{
    width: 100%;
}
.nav-header > .display-table > .table-cell{
    vertical-align: middle;
    height: 100px;
}
.nav-header > .display-table .nav-btn-wp{
    width: 100px;
}
.nav-header .btn-square{
    position: fixed;
    top: 0;
}
.nav-header .btn-search{
    left: 0;
}
.nav-header .btn-menu{
    right: 0;
}
.nav-header .nav-logo{
    text-align: center;
}
.nav-header .nav-logo img{
    width: 200px;
}
/*TODO: [header/]*/
/*TODO: [footer] @comment*/
.footer .f-wp{
    background: #4e4e4e;
}
.f-menu li > span,.f-menu li > a,.f-menu li > a:focus,.f-menu li > a:active,.f-menu li > a:visited{
    vertical-align: middle;
    font-size: 20px;
}
.f-menu li > span{
    margin-right: 18px;
    display: inline-block;
    width: 60px;
    height: 60px;
    background-size: 100%;
}
.f-menu li > a{
    color: #ffffff;
}
.go-to-top{
    top: -40px;
    position: relative;
    z-index: 1;
}
.go-to-top{
    text-align: center;
}
.copy-right{
    color: #ffffff;
    padding-top: 55px;
    padding-bottom: 42px;
    font-size: 28px;
}
.btn-arrow-up{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 21px 28px 21px;
    border-color: transparent transparent #4e4e4e transparent;
}
.btn-go-top-top{
    background: #ffffff;
    display: inline-block;
    width: 90px;
    height: 90px;
    text-align: center;
    border-radius: 50%;
}
.btn-go-top-top .btn-arrow-up{
    position: relative;
    top: -5px;
}
/*TODO: [footer/]*/
/*TODO: [banner] @for top page*/
.banner{
    position: relative;
}
.banner .background{
    line-height: 0;
}
.banner .background img{
    width: 100%;
    margin-top: -1px;
}
.banner .top-search{
    width: 100%;
    position: absolute;
    z-index: 1;
    bottom: 0;
}
.top-search{
    color: #ffffff;
}
.top-search h2{
    font-size: 48px;
}
.top-search .bottom-pr{
    margin-top: 240px;
    margin-bottom: 60px;
}
.top-search .display-table{
    width: 100%;
}
.top-search .table-cell{
    width: 46%;
}
.top-search .table-cell.multiply-wp{
    width: 8%;
    vertical-align: middle;
    text-align: center;
}
.top-search .button-select-group{
    margin-top: 20px;
}
.top-search .button-select-group button{
    width: 100%;
    padding: 30px;
}
.bottom-pr{
    font-size: 22px;
    border: 1px solid #ffffff;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}
.bottom-pr big{
    font-weight: bold;
    font-size: 28px;
}
.multiply{
    background: url("../img/multiply_symbol-25.png") no-repeat center bottom;
    background-size: 100%;
    width: 25px;
    height: 25px;
    display: inline-block;
    margin-top: 12px;
}
/*TODO: [banner/]*/
/*TODO: [banner] @for blog page*/
.banner .middle-content{
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    width: 100%;
}
.banner .banner-title{
    color: #ffffff;
    padding: 0 50px;
}
.banner .banner-title h1,.banner .banner-title h2{
    font-size: 28px;
}
/*TODO: [banner/]*/
/*TODO: [banner apply] @for apply page*/
/*.clip-bottom-arrow{
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 95%, 60% 95%, 50% 100%, 40% 95%, 0 95%);
clip-path: polygon(0% 0%, 100% 0%, 100% 95%, 60% 95%, 50% 100%, 40% 95%, 0 95%);
    overflow: hidden;
}*/
.clip-bottom-arrow{
    position: relative;
    overflow: hidden;
}
.clip-bottom-arrow.gray-color:before,.clip-bottom-arrow.gray-color:after{
    background: #eeeeee;
}
.clip-bottom-arrow:before,.clip-bottom-arrow:after{
    content: "";
    position: absolute;
    bottom: 0;
    display: block;
    width: 50%;
    height: 20px;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    background: #ffffff;
    z-index: 1;
}
.clip-bottom-arrow:before{
    left: 0;
    -ms-transform: skewX(72deg);
    transform: skewX(72deg);
}
.clip-bottom-arrow:after{
    right: 0;
    -ms-transform: skewX(-72deg);
    transform: skewX(-72deg);
}
/*TODO: [banner apply/]*/
/*TODO: [buttons] @for all buttons of website*/
.btn-square{
    border: 0;
    width: 100px;
    height: 100px;
    color: #ffffff;
    text-align: center;
    background: rgba(0,178,232,0.35);
    font-size: 21px;
    outline: none;
}
.btn-search i{
    background: url("../img/icons/search-white-icon.png") no-repeat center;
    background-size: 100%;
    display: block;
    width: 50px;
    height: 50px;
    margin: 5px auto;
}
.btn-menu i{
    width: 60px;
    height: 10px;
    background: #ffffff;
    display: block;
    margin: 0 auto;
    margin-bottom: 8px;
}
.btn-close{
    position: relative;
}
.btn-close i:last-child,.btn-close i:first-child{
    display: inline-block;
    width: 56px;
    height: 10px;
    background: #ffffff;
    position: absolute;
    left: 25px;
    top: 45px;
}
.btn-close i:last-child{
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.btn-close i:first-child{
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.btn-close-x{
    height: 100px;
    width: 100px;
    border-radius: 100%;
    border: 5px solid #ffffff;
    background: rgba(0,0,0,0);
}
.btn-close-x i:last-child,.btn-close-x i:first-child{
    width: 56px;
    height: 5px;
    left: 18px;
    top: 44px;
}
.btn-long-square{
    border: 0;
    outline: 0;
    background: rgba(96,193,158,0.8);
    color: #ffffff;
    font-size: 26px;
    text-align: left;
    line-height: 1;
}
.btn-long-square .icon-search{
    float: right;
}
.btn-eclipse{
    height: 200px;
    width: 200px;
    border-radius: 100px;
    color: #ffffff;
    background: #aaaaaa;
    border: 0;
    padding-bottom: 40px;
    outline: none;
}
.btn-eclipse-left{
    background: rgba(96,193,158,0.8);
    padding-left: 40px;
}
.btn-eclipse-right{
    background: rgba(255,255,255,0.35);
    padding-right: 40px;
}
/*TODO: [buttons/]*/
/*TODO: [custom-select] @for custom selectbox*/
.custom-select{
    border: 1px solid #bbbbbb;
    font-size: 22px;
    border-radius: 3px;
    background: #ffffff;
    position: relative;
}
.custom-select:before,.custom-select:after{
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    right: 20px;
}
.custom-select:before{
    border-width: 0 8px 14px 7px;
    border-color: transparent transparent #cccccc transparent;
    top: 30%;
}
.custom-select:after{
    border-width: 14px 7px 0 8px;
    border-color: #cccccc transparent transparent transparent;
    bottom: 30%;
}
.custom-select select{
    width: 100%;
    outline: 0;
    border: 0;
    vertical-align: bottom;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    height: 88px;
    line-height: 88px;
    border-radius: inherit;
    color: #bababa;
    padding-left: 30px;
    box-shadow: inset 0px 8px 8px -8px rgba(0,0,0,0.3);
}
/*TODO: [custom-select/]*/
/*TODO: [gray-border] @comment*/
.gray-border{
    height: 20px;
    background: #cccccc;
}
/*TODO: [gray-border/]*/
/*TODO: [secret-banner] @comment*/
.secret-banner{
    padding-top: 40px;
    padding-bottom: 30px;
}
.secret-banner .banner-image{
    width: 24%;
}
.secret-banner .banner-image,.secret-banner .banner-slogan{
    vertical-align: middle;
}
.secret-banner .banner-image img{
    width: 100%;
}
.secret-banner .banner-slogan{
    padding-left: 20px;
    line-height: 1.1;
}
.secret-banner .banner-slogan > strong{
    font-size: 26px;
    display: block;
}
.secret-banner .banner-slogan > span{
    font-size: 20px;
}
.secret-banner-advertisement{
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
}
.secret-banner-advertisement img{
    width: 100%;
    vertical-align: top;
}
.secret-banner-benefits img{
    width: 100%;
}
/*TODO: [secret-banner/]*/
/*TODO: [plaid-topic] @comment*/
.plaid-topic{
    background: #4e4e4e url("../img/line-through-bg.png") left top;
    padding-top: 24px;
    padding-bottom: 24px;
    color: #ffffff;
    font-size: 28px;
    font-weight: bold;
}
.plaid-topic--secondary{
    background: #29d38d url("../img/line-through-bg.png") left top;
    padding-top: 24px;
    padding-bottom: 24px;
    color: #ffffff;
    font-size: 28px;
    font-weight: bold;
}
/*TODO: [plaid-topic/]*/
/*TODO: [article-box] @comment*/
.article-box{
    overflow: hidden;
    color: #4e4e4e;
    background: #ffffff;
    font-size: 20px;
    padding: 20px 0;
    border-bottom: 1px solid #cccccc;
}
.article-box > a{
    color: #4e4e4e;
}
.article-box .search-image{
    width: 32%;
    height: 180px;
    overflow: hidden;
    position: relative;
    display: table-cell;
}
.article-box .search-image img{
    height: 120%;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-right: -50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.article-box .search-content{
    padding: 8px 18px;
    vertical-align: top;
    width: 68%;
    display: table-cell;
}
.article-box .middle-part{
    margin-top: 20px;
    margin-bottom: 20px;
}
.article-box .middle-part a{
    color: #4e4e4e;
    font-size: 24px;
}
.article-box .bottom-part a{
    color: #00b2e8;
    display: inline-block;
    border-bottom: 1px solid #00b2e8;
    padding: 0 4px;
}
.new-label{
    color: #29d38d;
}
.article-box .display-table{
    width: 100%;
}
.article-box .txt-link{
    color: #29d28d;
    text-decoration: underline;
}
.article-box .display-table{
    table-layout: fixed;
}
.article-box .middle-part--search{
    font-weight: bold;
    font-size: 20px;
}
.article-box .search-content__title{
    font-size: 24px;
    font-weight: bold;
    color: inherit;
}
.article-box .search-detail{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 24px;
}
.article-box .search-detail__title{
    font-weight: bold;
    display: inline;
    color: #29d28d;
}
.article-box .search-detail__text{
    display: inline;
}
/*TODO: [article-box/]*/
/*TODO: [article-list] @comment*/
.article-list .article-box .middle-part{
    height: 65px;
    overflow: hidden;
}
/*TODO: [article-list/]*/
/*TODO: [pickup-box] @comment*/
.pickup-box .article-box{
    padding: 0;
    border-bottom: 0;
}
.pickup-box .article-box .display-table{
    background: #eeeeee;
}
.pickup-box .article-box .search-content{
    vertical-align: middle;
}
.pickup-box .article-box .search-content .middle-part a{
    font-size: 22px;
    margin: 0;
}
.pickup-box .article-box .search-content .top-part{
    font-size: 20px;
    text-align: center;
    margin-bottom: 25px;
}
.pickup-box .article-box .search-content .top-part img{
    vertical-align: middle;
    width: 140px;
    margin-right: 20px;
}
.pickup-box .article-box .search-image{
    width: 42%;
}
.pickup-box .article-box .search-content{
    padding-bottom: 30px;
    padding-top: 40px;
    width: 58%;
}
/*TODO: [pickup-box/]*/
/*TODO: [fullcolor-list] @comment*/
.fullcolor-list li{
    position: relative;
}
.fullcolor-list li:before{
    content: "";
    border-left: 6px solid #cccccc;
    position: absolute;
    top: 0;
    bottom: -1px;
    left: 0;
}
.fullcolor-list li:nth-child(3n+1):before{
    border-left-color: #29d38d;
}
.fullcolor-list li:nth-child(3n+2):before{
    border-left-color: #00b2e8;
}
.fullcolor-list li:nth-child(3n+3):before{
    border-left-color: #cccccc;
}
.fullcolor-list li:last-child:before{
    bottom: 0;
}
/*TODO: [fullcolor-list/]*/
/*TODO: [show-more] @comment*/
.show-more .btn-blue-3d{
    width: 100%;
}
.lazy-loading-page.loading,.loading-effect{
    display: none;
    text-align: center;
}
.lazy-loading-page.loading + .loading-effect{
    display: block;
}
.loading-icon{
    background: url("../img/loading.gif") no-repeat center;
    display: inline-block;
    width: 70px;
    height: 70px;
    background-size: 70px 70px;
}
/*TODO: [show-more/]*/
/*TODO: [social-box] @comment*/
.social-box{
    background: #dadada;
    padding-top: 40px;
    padding-bottom: 100px;
}
.social-box .fb-column{
    background: #ffffff;
}
.social-box .fb-column .image-part{
    width: 35%;
    line-height: 0;
}
.social-box .fb-column .image-part img{
    width: 100%;
}
.social-box .fb-column .table-cell{
    vertical-align: middle;
}
.social-box .fb-column .content-part{
    padding: 10px 40px;
}
.social-box .fb-column .i-title{
    font-size: 22px;
    font-weight: bold;
    border-bottom: 1px solid #00b2e8;
    padding-bottom: 10px;
    margin-bottom: 15px;
}
.social-box .fb-column .i-desc{
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 15px;
}
.social-box .fb-column .fb-like{
    position: absolute;
    top: 7.3vw;
    right: 37.2vw;
    -ms-transform: scale(2);
    transform: scale(2);
}
.social-box .fb-column .fb-like > span{
    overflow: hidden;
    width: 70px !important;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.social-box .twitter-button{
    padding: 30px 35px;
    background: #ffffff;
    font-size: 20px;
    font-weight: 600;
}
.social-box .twitter-button > a{
    background: url("../img/twitter-button-sp.png") no-repeat;
    background-size: 100%;
    width: 170px;
    height: 40px;
}
.advertisement__item{
    position: relative;
    padding-bottom: 32px;
    background-color: #dadada;
}
.twitter-button .description{
    position: relative;
    top: 5px;
}
.advertisement__item img{
    width: 100%;
}
/*TODO: [social-box/]*/
/*TODO: [top-slider] @comment*/
.owl-item{
    background: #ffffff;
}
.owl-dots{
    display: block;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 40px;
    line-height: 0;
}
.owl-dots .owl-dot{
    display: inline-block;
    width: 18px;
    height: 18px;
    background: #cccccc;
    border-radius: 9px;
    margin: 0 10px;
}
.owl-dots .owl-dot.active{
    background: #808080;
}
.owl-nav .owl-prev,.owl-nav .owl-next{
    display: block;
    width: 12px;
    height: 50px;
    position: absolute;
    top: 28%;
}
.owl-nav .owl-prev{
    background: url("../img/icons/arrow-right-sp-icon.png") no-repeat;
    left: -20px;
    background-size: 100%;
}
.owl-nav .owl-next{
    background: url("../img/icons/arrow-left-sp-icon.png") no-repeat;
    right: -20px;
    background-size: 100%;
}
.owl-carousel .owl-item .search-image img{
    width: auto;
    height: 120%;
}
.article-secret-box{
    font-size: 24px;
    padding: 0;
    border-bottom: 0;
    background: #eeeeee;
}
.article-secret-box .search-content{
    padding: 25px 20px;
}
.article-secret-box .search-content .middle-part{
    margin: 0;
}
.article-secret-box .search-content .middle-part a > div{
    height: 64px;
    overflow: hidden;
}
.article-secret-box .search-content .top-part{
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #4e4e4e;
    height: 40px;
    overflow: hidden;
}
.article-secret-box .search-image{
    width: 37%;
    height: auto;
}
/*TODO: [top-slider/]*/
/*TODO: [bg-overlay] @comment*/
.bg-overlay{
    background: rgba(0,0,0,0.75);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    visibility: hidden;
    transition: visibility 0.5s, opacity 0.5s;
}
/*TODO: [bg-overlay/]*/
/*TODO: [bg-gray] @comment*/
.bg-gray{
    background-color: #eeeeee;
}
/*TODO: [bg-gray/]*/
/*TODO: [nav-menu] @comment*/
.nav-menu .nav-menu-contain{
    width: 600px;
    position: fixed;
    top: 0;
    right: -700px;
    bottom: 0;
    z-index: 10;
    max-width: 100%;
    transition: right 0.5s;
}
.nav-menu.active .nav-menu-contain{
    right: 0;
}
.nav-menu.active .bg-overlay{
    visibility: visible;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.nav-menu-contain > .display-table{
    width: 100%;
    height: 100%;
}
.nav-menu-contain > .display-table > .table-cell{
    vertical-align: top;
}
.nav-menu-contain .nav-menu-close{
    width: 100px;
}
.nav-menu-contain .nav-menu-list{
    background: #ababab;
}
.menu-list{
    background: #ababab;
    -webkit-overflow-scrolling: touch;
    height: 100%;
    height: 200vh;
    overflow-x: hidden;
    overflow-y: scroll;
}
.menu-list li a{
    display: table;
    width: 100%;
    height: 100px;
    border-bottom: 1px solid #ababab;
    color: #808080;
    font-size: 24px;
    line-height: 1;
    padding: 0 20px;
    background: #ffffff;
}
.menu-list li.gray-padding-top{
    height: 8px;
    background: #ababab;
}
.menu-list li.gray-padding-bottom{
    min-height: 200px;
}
.menu-list li.gray a{
    font-size: 20px;
    background: #ababab;
    color: #ffffff;
    height: 85px;
}
.menu-list li a > span{
    display: table-cell;
    vertical-align: middle;
}
.menu-list li a > span[class^="icon-"]{
    width: 50px;
    height: 50px;
    background-size: 100%;
}
.menu-list li a > span[class^="icon-"] + span{
    padding-left: 20px;
}
/*TODO: [nav-menu/]*/
/*TODO: [nav-search] @comment*/
.nav-search{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
    background: rgba(0,0,0,0.75);
    display: none;
    -webkit-overflow-scrolling: touch;
}
.nav-search hr{
    background: #ffffff;
    height: 1px;
    border: 0;
    margin: 40px 0;
}
.nav-search-wp{
    overflow-y: scroll;
    height: 100%;
    height: 100vh;
}
.content_listbox{
    overflow: hidden;
}
.content_listbox > .custom-radius-checkbox{
    width: 50%;
    float: left;
    margin-bottom: 30px;
}
.content_listbox > .custom-radius-checkbox .vir-label{
    overflow: hidden;
}
.content_listbox > .custom-radius-checkbox .vir-checkbox{
    float: right;
}
.content_listbox > .custom-radius-checkbox:nth-child(2n){
    padding-left: 20px;
}
.button-close-group{
    position: absolute;
    z-index: 1;
    left: 50%;
    margin-left: -50px;
    bottom: 60px;
}
.nav-search .buttons-group{
    min-height: 250px;
}
.nav-search .btn-eclipse{
    position: fixed;
    bottom: -70px;
}
.nav-search .btn-eclipse-left{
    left: -50px;
}
.nav-search .btn-eclipse-right{
    right: -50px;
}
/*TODO: [nav-search/]*/
/*TODO: [detail content] @for all content page*/
.detail-datetime datetime{
    font-size: 22px;
    font-family: Avenir, "Open Sans", "Helvetica Neue", Helvetica, Arial, Verdana, Roboto, "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Meiryo UI", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
.ccwork_entry p,.detail-content p:not([class]) span,.detail-content p{
    font-size: 18px !important;
    color: #333333;
    line-height: 1.8;
}
.ccwork_entry p a span{
    font-size: 24px !important;
}
.detail-content p strong{
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 28px;
    display: block;
    font-weight: 600;
}
.detail-content p strong:before{
    content: "";
    border-left: 6px solid #00b2e8;
    padding-right: 8px;
}
.ccwork_entry .image-rmp-wp,.detail-content .image-rmp-wp{
    margin-left: -40px;
    margin-right: -40px;
    display: block;
    margin-top: 60px;
    margin-bottom: 60px;
}
.ccwork_entry img,.detail-content img{
    width: auto;
    width: 100%;
}
.detail-social .icon-facebook img,.detail-social .icon-twitter img{
    width: 120px;
    margin-right: 15px;
}
/*TODO: [detail content/]*/
/*TODO: [setting /contents/index page]*/
.contents.index .pickup-box{
    margin-top: 30px;
    margin-bottom: 30px;
}
/*TODO: [setting /contents/index page/] */
/*TODO: [setting /contents/@detail page]*/
.banner .bottom-u-content{
    position: absolute;
    bottom: 40px;
    left: 0;
    width: 100%;
    color: #ffffff;
}
.banner .bottom-u-content-wp{
    overflow: hidden;
}
.banner .bottom-u-content-wp .contents-detail-category{
    float: left;
}
.banner .bottom-u-content-wp .contents-detail-view{
    float: right;
}
/*TODO: [setting /contents/@detail page/] */
/*TODO: [banner] @for contents detail page*/
.banner .bottom-content{
    position: absolute;
    top: 87%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
}
.banner .contents-detail-category{
    font-size: 24px;
    line-height: 2;
}
.contents-detail-view{
    float: right;
    font-size: 24px;
}
.banner .contents-detail-view big{
    font-size: 30px;
}
.banner .contents-detail-view .clip-of-logo{
    background: url("../img/logo-white-230-sp.png") no-repeat top left;
    display: inline-block;
    width: 30px;
    height: 36px;
    background-position: 1px 1px;
    background-size: 150px;
    vertical-align: top;
}
.contents-detail-info h1{
    font-size: 38px;
    font-weight: bold;
}
/*TODO: [banner/]*/
/*TODO: [about page]*/
.width-100{
    width: 100%;
}
.format-image{
    margin: 0;
    display: block;
    padding: 0;
    border: none;
}
/*TODO: [about page/]*/
/*TODO: [company page]*/
.title_page{
    background: #cdcdcd;
    padding-top: 120px;
    padding-bottom: 50px;
    text-align: center;
}
.title_page p{
    color: #ffffff;
    font-size: 28px;
}
#sp-company-main{
    padding-top: 40px;
    padding-bottom: 90px;
}
.sp-company-term{
    height: 460px;
    margin-top: 20px;
    border: 1px solid #cccccc;
    padding: 20px;
    padding-right: 0;
    overflow: hidden;
    font-size: 20px;
}
.sp-company-term h4{
    margin-bottom: 10px;
    margin-top: 20px;
}
.sp-company-title h4{
    font-size: 26px;
    padding-bottom: 10px;
}
.sp-company-management{
    padding-top: 20px;
    padding-bottom: 40px;
}
.sp-company-management li{
    padding: 15px 20px;
    font-size: 16px;
}
.sp-company-management li a{
    color: #636363;
}
.sp-company-management li.bg{
    background: #cdcdcd;
    color: #ffffff;
}
.sp-company-subtitle{
    font-size: 22px;
}
.sp-company-term .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
    border-radius: 2px;
    height: 50px;
    width: 10px;
    background: #d7d6d6;
}
/*TODO: [company page/]*/
/*TODO: [text-ellipsis] @comment*/
[class*="text-ellipsis-"]{
    display: block;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}
.text-ellipsis-100{
    width: 100%;
}
/*TODO: [text-ellipsis/]*/
/*TODO: [nav-horizontal] @comment*/
.nav-horizontal{
    overflow: hidden;
    width: 100%;
    height: 96px;
    background-color: #dadada;
}
.nav-horizontal__mask{
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    height: 120px;
    -webkit-overflow-scrolling: touch;
}
.nav-horizontal__list{
    display: inline-table;
    max-width: 100%;
    height: 100%;
}
.nav-horizontal__lists{
    display: table-cell;
    padding-top: 30px;
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 0px;
    vertical-align: top;
    white-space: nowrap;
    border-bottom: 28px solid #ababab;
}
.nav-horizontal__lists a{
    color: #ffffff;
    font-size: 28px;
}
.nav-horizontal__lists.active{
    background: #ababab;
    position: relative;
}
.nav-horizontal__lists.active:before{
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 70px 80px 70px;
    border-color: transparent transparent #ffffff transparent;
    position: absolute;
    bottom: -62px;
    left: 50%;
    margin-left: -70px;
}
/*TODO: Pop up: top-popup-search*/
.top-popup-search{
    display: none;
    position: fixed;
    background: rgba(0,0,0,0.75);
    z-index: 999;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.top-popup-search .popup-container{
    width: 640px;
    position: absolute;
    margin: auto;
    vertical-align: middle;
    padding: 0 40px;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.top-popup-search .bottom-submit{
    text-align: center;
    margin-top: 20px;
}
.top-popup-search .bottom-submit .brick-btn{
    padding: 10px 0;
    width: 220px;
    text-align: center;
    font-size: 16px;
}
.top-popup-search .search-box-metal .bottom-part .metal-item > div{
    width: 90%;
}
.top-popup-search .close-button{
    float: right;
    margin-top: 5px;
    color: #ffffff;
}
.close-button{
    cursor: pointer;
}
.close-button i{
    display: inline-block;
    height: 1px;
    width: 27px;
    background: #ffffff;
    vertical-align: middle;
}
.close-button i:nth-child(1){
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    right: -29px;
    position: relative;
}
.close-button i:nth-child(2){
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
/*TODO: [nav-horizontal/]*/
/*TODO: [media screen] @comment*/
/*TODO: [media screen/]*/
/*TODO: [popup_search_box_search_PC] @for popup search new (search PC)*/
.popup-search-box{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
    background: rgba(0,0,0,0.75);
    display: none;
    -webkit-overflow-scrolling: touch;
    font-size: 24px;
}
.popup-search-box .popup-content.box-search{
    width: 90%;
    position: absolute;
    top: 50%;
    left: 5%;
    -webkit-transform: translateY(-50%);
}
.top-box-header{
    display: table;
    width: 100%;
    vertical-align: middle;
    height: 100px;
    color: #ffffff;
    padding-top: 20px;
    padding-bottom: 5px;
    font-size: 24px;
    background-color: #00b2e8;
    clear: both;
}
.top-box-header .logo{
    padding-left: 40px;
    display: table;
    vertical-align: middle;
}
.top-box-header div .image{
    width: 60px;
    float: left;
}
.top-box-header div .title{
    padding-top: 10px;
    float: left;
}
.popup-search-box .close-button{
    color: #ffffff;
    float: right;
    font-size: 32px;
}
.close-button i:nth-child(1){
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    right: -35px;
    position: relative;
}
.close-button i:nth-child(2){
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.close-button i{
    display: inline-block;
    height: 1px;
    width: 35px;
    background: #ffffff;
    vertical-align: middle;
}
.top-box-title{
    background: #eeeeee;
    height: 80px;
    text-align: center;
    display: table;
    width: 100%;
}
.top-box-title .title{
    display: table-cell;
    vertical-align: middle;
}
.popup-search-box .search-box-metal .metal-item{
    width: 50%;
    float: left;
    border-bottom: 1px solid #cccccc;
    cursor: pointer;
    padding-left: 30px;
    padding-right: 20px;
}
.popup-search-box .search-box-metal .metal-item:before,.popup-search-box .search-box-metal .metal-item:after{
    content: "";
    clear: both;
    display: table;
}
.popup-search-box .search-box-metal .metal-item{
    padding: 30px 20px 30px 40px;
    color: #4e4e4e;
    font-size: 24px;
    display: table;
}
.popup-search-box .search-box-metal .metal-item > *{
    display: table-cell;
}
.popup-search-box .search-box-metal .metal-item > .i-change{
    text-align: right;
    vertical-align: bottom;
    cursor: pointer;
}
.popup-search-box .search-box-metal .metal-item > .i-change:after{
    content: "";
    background: url("../img/arrow-gray.png") no-repeat;
    width: 10px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
}
.popup-search-box .search-box-metal .metal-item:first-child{
    border-top: none;
}
.popup-search-box .search-box-metal .metal-item:nth-child(2){
    border-top: none;
}
.popup-search-box .search-box-metal .metal-item:nth-child(odd){
    border-right: 1px solid #cccccc;
}
.popup-search-box .search-box-metal{
    background-color: #ffffff;
    max-height: 630px;
    overflow: hidden;
    overflow-y: auto;
}
.back-to-previous-step{
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    padding-left: 40px;
    width: 10px;
    padding-top: 7px;
}
.back-to-previous-step img{
    cursor: pointer;
}
.title-padding-r-4{
    padding-right: 60px;
}
/*TODO: [popup_search_box_search_PC/]*/
/*Todo: concierge link banner*/
.bg-concierge-link{
    position: fixed;
    bottom: 0;
    z-index: 2;
    width: 100%;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    visibility: hidden;
    transition: all linear 0.5s;
}
.bg-concierge-link.is-active{
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    visibility: visible;
}
.bg-concierge-link a img{
    width: 100%;
    display: block;
}
/*Todo: end concierge link banner*/
/*.height-730{
    height: 730px;
}
*/
/*Todo : content interview*/
._h2{
    font-size: 32px;
}
._h3{
    font-size: 26px;
}
._h4{
    font-size: 24px;
}
.interview-v3{
    background-color: #eeeeee;
    padding-bottom: 60px;
}
.bg-white{
    background-color: #ffffff;
}
.label-green{
    background: #29d38d;
    padding: 7px 8px;
    color: #ffffff;
    font-size: 20px;
}
.inline-block{
    display: inline-block;
    width: 100%;
}
.interview-v3 .content--p p img{
    max-width: 100%;
}
.interview-v3 .banner .clip-bottom-arrow:before,.interview-v3 .banner .clip-bottom-arrow:after{
    content: none;
}
.topic-v4{
    background: #29d38d;
    color: #ffffff;
    padding: 30px;
    font-weight: bold;
}
.topic-v4 .topic__small{
    font-size: 20px;
    line-height: 1.8;
}
.interview-v3 .hr--v3{
    border-top: 1px solid #cccccc;
    margin-top: 20px;
    margin-bottom: 20px;
}
.content--p{
    line-height: 2em;
    color: #4e4e4e;
    text-align: justify;
}
.content--p > p{
    margin-top: 20px;
}
.display-table{
    display: table;
}
.p--imggrp{
    background: #d53931;
    margin-top: 40px;
    margin-bottom: 40px;
}
.display-table > *{
    display: table-cell;
}
.p--imggrp__img{
    width: 65%;
    display: table-cell;
}
.p--imggrp__img img{
    width: 100%;
}
/*Todo : end content interview*/
/*Todo: secret job in contents*/
.interview-v3 .search-box .search-image{
    width: 100%;
}
.interview-v3 .search-box .search-image img{
    max-width: 100%;
}
.interview-v3 .search-box .search-content{
    line-height: 2em;
}
.content--benefit{
    color: #00b2e8;
    border: 1px solid #00b2e8;
    padding: 20px 10px;
}
.interview-v3 .search-content .display-table .table-cell{
    vertical-align: top;
}
.interview-v3 .search-content .display-table .table-cell p{
    padding-left: 28px;
    margin-bottom: 20px;
}
.content--small_title{
    margin-top: 45px;
    padding-left: 35px;
    font-size: 24px;
    font-weight: bold;
}
.content--small_title:before{
    content: "───";
    margin-left: -35px;
    width: 35px;
    display: inline-block;
    font-size: 15px;
    line-height: 1;
}
.content--p > p{
    margin-top: 25px;
}
.p--green-span{
    color: #29d38d;
}
.content--small_title{
    position: relative;
}
.content--small_title:before{
    content: "" !important;
    height: 1px !important;
    background-color: #000000;
    /* top: 2px !important; */
    position: absolute;
    top: 20px;
    width: 30px;
}
.sc-li .search-box .search-title span.secret-tag:before{
    font-size: 12px;
    padding: 6px 10px;
    width: auto;
    background: #0096c0;
}
.search-title span.interview-tag{
    font-size: 12px;
    padding: 6px 10px;
    background-color: #19a96a;
    width: auto;
}
/*Todo: end secret job in contents*/
.finish .btn-thanks{
    font-size: 14px;
    color: #ffffff;
    background-color: #29d38d;
    border-bottom: 3px solid #3ea67b;
    padding: 12px 90px;
    display: inline-block;
    text-decoration: none;
}
.finish .finish-link .btn-thanks{
    font-size: 38px important;
    color: #ffffff !important;
    background-color: #29d38d;
    border-bottom: 6px solid #3ea67b;
    padding: 20px;
    display: block;
    text-decoration: none important;
    font-weight: normal;
}
/*Todo: end secret job in contents*/
/* Todo: utility */
.u-fc--secondary{
    color: #d1ab4c;
}
/* Todo: utility/ */
@media screen and (max-width: 750px){
    .ccwork_entry .image-rmp-wp,.detail-content .image-rmp-wp{
        display: block;
        margin-top: 60px;
        margin-bottom: 60px;
    }
}
@media only screen and (min-width: 600px){
    .article-box .search-image img,.owl-carousel .owl-item .search-image img{
        width: 150%;
        height: auto;
    }
}
@media only screen and (max-width: 600px){
    .social-box .fb-column .image-part{
        width: 40%;
    }
}
@media only screen and (max-width: 720px){
    .social-box .fb-column .fb-like{
        top: 6.5vw;
        right: 35vw;
        -ms-transform: scale(1.5);
        transform: scale(1.5);
    }
}
@media only screen and (max-width: 400px){
    .top-search h2{
        font-size: 36px;
    }
}
@media only screen and (max-width: 380px){
    .article-box .search-image,.article-secret-box .search-image{
        width: 40%;
        height: 160px;
    }
    .article-box .middle-part{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .social-box .fb-column .content-part{
        padding: 10px 20px;
    }
    .social-box .fb-column .image-part{
        width: 40%;
        overflow: hidden;
    }
    .social-box .fb-column .image-part img{
        width: 100%;
    }
    .top-search .bottom-pr{
        margin-top: 100px;
        margin-bottom: 40px;
    }
    .secret-banner .banner-image{
        width: 37%;
    }
    .social-box .twitter-button{
        padding: 20px;
        font-size: 15px;
        line-height: 3;
    }
    .top-search .button-select-group button{
        font-size: 20px;
    }
    .f-menu li > a{
        font-size: 22px;
    }
    .content_listbox .custom-radius-checkbox .vir-checkbox{
        width: 80px;
    }
    .content_listbox .custom-radius-checkbox .vir-content{
        font-size: 25px;
    }
    .pickup-box .article-box .search-content{
        padding-bottom: 20px;
        padding-top: 20px;
    }
    .pickup-box .article-box .search-content .top-part img{
        width: 100px;
    }
    .custom-select{
        font-size: 20px;
    }
    .custom-text-box input,.custom-select select{
        padding-left: 20px;
    }
}
@media only screen and (max-width: 320px){
    .banner .banner-title{
        padding: 0 20px;
    }
    .popup-search-box .search-box-metal .metal-item{
        padding: 30px 20px 30px 20px;
        color: #4e4e4e;
        font-size: 20px;
        line-height: 2;
        display: table;
    }
}
@media only screen and (max-height: 600px){
    .content_listbox > .custom-radius-checkbox{
        margin-bottom: 20px;
    }
    .nav-search .mg-title-search{
        margin-top: 20px;
    }
    .nav-search .mg-title-check{
        margin-bottom: 20px;
    }
    .button-close-group{
        bottom: 20px;
    }
}
@media only screen and (max-height: 650px){
    .nav-search .mg-title-search{
        margin-top: 40px;
    }
}

/*  no in gulp  */

.article-box span.interview-tag {
    background: #29d38d;
    color: white;
    font-size: 20px;
    padding: 0px 15px;
    vertical-align: middle;
    margin-right: 7px;
    display: block;
    width: auto;
    text-align: center;
    margin-bottom: 8px;
    float: left;
}

.article-box span.secret-tag {
    background: #1db3e5;
    color: white;
    font-size: 20px;
    padding: 0px 15px;
    vertical-align: middle;
    margin-right: 7px;
    display: block;
    width: auto;
    text-align: center;
    margin-bottom: 8px;
    float: left;
}

.article-box span.benefit-tag {
    background: #d1ab4c;
    color: white;
    font-size: 20px;
    padding: 0px 15px;
    vertical-align: middle;
    margin-right: 7px;
    display: block;
    width: auto;
    text-align: center;
    margin-bottom: 8px;
    float: left;
}