@charset "utf-8";
.bg-white{
    background-color: #ffffff;
}
.bg-gray{
    background-color: #f2f2f2 !important;
}
.width-100{
    width: 100%;
}
.sp-about-top img,.sp-about-bottom img,.sp-about-merit img{
    max-width: 100%;
}
a:focus{
    color: initial !important;
}
.sp-about-merit{
    text-align: center;
    margin-top: 45px;
    margin-bottom: 45px;
    padding-left: 20px;
    padding-right: 20px;
}
.sp-company-subtitle p{
    font-size: 14px;
    line-height: 1.6;
    color: #636363;
}
.arrow-right{
    width: 18px;
    height: 25px;
    background: url("../img/arrow-right.png") no-repeat center;
    float: right;
}
.link-footer ul li a{
    border-top: 1px solid #f5f5f5;
    border-bottom: none;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    color: #a2a2a2;
    line-height: 35px;
}
.footer-logo{
    text-align: center;
    background-color: #ffffff;
    padding-top: 40px;
    padding-bottom: 40px;
}
.footer-logo a{
    color: #b1b1b1;
}
.footer-logo a img{
    max-width: 100%;
}
#sp-company-main .sp-company-title{
    border-left: 10px solid #00b2e8;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
}
#sp-company-main{
    padding-left: 10px;
    padding-right: 10px;
    font-family: FreeSans, Arimo, "Droid Sans", Helvetica, Arial, sans-serif;
}
#sp-company-main .sp-company-title{
    margin-top: 30px;
    margin-bottom: 10px;
}
#sp-company-main .sp-company-title h4{
    font-size: 17px;
    padding-left: 10px;
    margin: 0px;
    line-height: 30px;
    font-weight: bold;
    color: #636363;
}
#sp-company-main .sp-company-management{
    background-color: #ffffff;
    border-radius: 3px;
    padding: 10px;
    box-shadow: 0 -1px 2px rgba(0,0,0,0.05), 0 1px 2px rgba(0,0,0,0.05);
}
#sp-company-main .sp-company-management table{
    margin-bottom: 20px;
    margin-top: 20px;
}
#sp-company-main .sp-company-management table tr td{
    padding-bottom: 20px;
}
#sp-company-main .sp-company-management table tr:last-child td{
    padding-bottom: 0px;
}
#sp-company-main .sp-company-management table tr td:first-child{
    color: #636363;
    font-size: 13px;
    font-weight: bold;
}
#sp-company-main .sp-company-management table tr td:last-child{
    color: #808080;
    font-size: 12px;
    font-weight: bold;
}
#sp-company-main .sp-company-management table a{
    color: #00b2e8;
    text-decoration: underline !important;
}
#sp-company-main .sp-company-term{
    background: #ffffff;
    padding: 10px;
    border-radius: 3px;
    height: 290px;
    margin-bottom: 10px;
    box-shadow: 0 -1px 2px rgba(0,0,0,0.05), 0 1px 2px rgba(0,0,0,0.05);
}
#sp-company-main .sp-company-term p{
    color: #b3b3b3;
    font-size: 12px;
    line-height: 1.5em;
    margin-bottom: 15px;
}
#sp-company-main .sp-company-term h4{
    font-size: 16px;
    color: #8e8e8e;
    margin-top: 0;
    margin-bottom: 15px;
}
#sp-company-main .sp-company-term p{
    font-size: 12px;
    color: #b1b1b1;
    line-height: 1.5em;
}
.header-title{
    border-left: 10px solid #00b2e8;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    padding-left: 7px;
}
/*[search-box]*/
.search-box{
    overflow: hidden;
    background: #ffffff;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), 0 1px 2px rgba(0,0,0,0.05);
}
.search-box a{
    padding: 0;
}
.search-box .search-image{
    position: relative;
    overflow: hidden;
}
.search-box .search-image img{
    width: 100%;
}
.search-box .search-image .new-label{
    position: absolute;
    top: -7px;
    left: -30px;
}
.search-box .search-keywork{
    position: absolute;
    bottom: 0;
    padding: 5px;
    width: 100%;
}
.search-box .search-keywork .cachet-btn{
    padding: 4px 11px;
    white-space: nowrap;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
}
.search-box .search-title{
    padding: 10px;
    height: 115px;
    overflow: hidden;
    display: table;
}
.search-box .search-foot{
    padding: 10px;
}
.search-box .search-title h4{
    margin: 0;
    display: table-cell;
    vertical-align: middle;
}
.search-box .search-title a{
    font-size: 22px;
    color: #2f2f2f;
    line-height: 30px;
}
.search-box .search-salary{
    background: #f2f2f2;
    padding: 10px;
    height: 70px;
    display: table;
    width: 100%;
}
.search-box .search-salary p{
    margin: 0;
    font-size: 17px;
    color: #535353;
    display: table-cell;
    vertical-align: middle;
}
.search-company p{
    text-align: right;
    font-size: 16px;
    color: #a3a3a3;
    margin-top: 10px;
    margin-bottom: 0;
    overflow: hidden;
    height: 14px;
}
.search-box .search-work{
    text-shadow: 0px 0px 3px #000000;
    position: absolute;
    top: 8px;
    right: 10px;
    color: #ffffff;
    font-size: 16px;
}
/*[search-box/]*/
/*custom select*/
.custom-select{
    display: inline-block;
    position: relative;
    width: 44%;
}
.custom-select select{
    padding: 10px 12px 10px 30px;
    border: 1px solid #cccccc;
    border-radius: 2px;
    overflow: hidden;
    outline: 0;
    width: 100%;
    box-shadow: inset 0px 8px 8px -8px rgba(0,0,0,0.3);
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    font-size: 14px;
    color: #9d9d9d;
}
.custom-select .arrow{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 3px 0 3px;
    border-color: #bababa transparent transparent transparent;
}
.custom-select:before{
    content: "▼";
    color: #bababa;
    font-size: 12px;
    position: absolute;
    right: 10px;
    top: 13px;
}
/*[secret-box]: variable secret box*/
.secret-box{
    padding-bottom: 10px;
    background: #ffffff;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), 0 1px 2px rgba(0,0,0,0.05);
}
.secret-box a{
    padding: 0;
}
.secret-box .cachet-btn{
    padding: 2px 10px 0px;
    display: inline-block;
}
/**/
.custom-aboutsp select{
    padding: 10px 12px 10px 11px;
    position: relative;
    background: rgba(84,53,34,0);
}
/*.custom-aboutsp:before{
    content: "▼";
    color: #bababa;
    font-size: 12px;
    position: absolute;
    background: #1eb9ee;
    top: 0;
    right: 0;
    bottom: 0;
    width: 20px;
    line-height: 42px;
    color:white;
}*/
.brick-green{
    width: 100%;
    height: 40px;
    font-size: 15px;
}
.top-search{
    padding: 10px 10px;
    font-size: 26px;
}
.button-select{
    padding-top: 10px;
}
.search-sp{
    padding-bottom: 30px;
}
/**/
.secret-box .secret-title h2{
    margin: 0;
    line-height: 24px;
}
.secret-box .secret-title a{
    color: #2e2e2e;
    font-size: 26px;
    font-weight: 600;
    line-height: 1.5;
}
.secret-box .secret-title{
    padding: 8px 10px;
}
.secret-box .secret-foot{
    padding: 0 10px;
}
.secret-box .secret-salary{
    background: #f2f2f2;
    padding: 5px 10px;
    display: table;
    width: 100%;
    height: 45px;
}
.secret-box .secret-salary p{
    margin: 0;
    font-size: 20px;
    color: #535353;
    display: table-cell;
    vertical-align: middle;
}
.secret-box .secret-company{
    font-size: 20px;
    color: #a3a3a3;
    margin-top: 8px;
    margin-bottom: 0;
}
.secret-box .secret-image{
    overflow: hidden;
    position: relative;
    height: 100px;
}
.secret-box .secret-image img{
    width: 100%;
    position: absolute;
    transform: translate3d(-50%, -50%, 0);
    -webkit-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0);
    top: 50%;
    left: 50%;
}
.secret-box .secret-image .secret-work{
    position: absolute;
    right: 0;
    top: 10px;
    z-index: 1;
}
/*[secret-box/]*/
/*[custom search select]*/
.custom-search-select{
    position: relative;
}
.custom-search-select:before{
    content: "▼";
    color: #00b2e8;
    font-size: 12px;
    position: absolute;
    right: 12px;
    top: 13px;
}
.custom-search-select select{
    padding: 10px 30px 10px 12px;
    border: 1px solid #00afe4;
    border-radius: 4px;
    overflow: hidden;
    outline: 0;
    width: 100%;
    box-shadow: inset 0px 10px 10px -10px rgba(0,0,0,0.75);
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    font-size: 14px;
    color: #00b2e8;
    font-weight: 600;
}
/*[custom search select/]*/
/*Brick button*/
.brick-btn{
    outline: 0;
    border: 0;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    background-color: #00b2e8;
    border-bottom: 2px solid #2387a6;
}
.brick-green{
    background: #29d38d;
    border-color: #3ea67b;
}
.brick-green:active,.brick-green:focus{
    /* -webkit-transition: All 0.4s ease; */
    /* -moz-transition: All 0.4s ease; */
    /* -o-transition: All 0.4s ease; */
    /* -ms-transition: All 0.4s ease; */
    /* transition: All 0.4s ease; */
    position: relative;
    top: 2px;
    -ms-box-shadow: none !important;
    -o-box-shadow: none !important;
    box-shadow: none !important;
    transition: All 0.1s ease;
    outline: none;
    background: #3ea67b;
}
/*custom textbox*/
.custom-text-box input[type="text"]{
    padding: 10px 12px;
    border: 1px solid #cccccc;
    border-radius: 2px;
    color: #9d9d9d;
    outline: 0;
    width: 100%;
    box-shadow: inset 0px 8px 8px -8px rgba(0,0,0,0.3);
    -moz-appearance: none;
}
/*[cachet btn]*/
.cachet-btn{
    background: rgba(0,178,232,0.7);
    border-radius: 2px;
    color: #ffffff;
    font-size: 20px;
    padding: 5px 25px;
    text-align: center;
}
.cachet-btn:visited,.cachet-btn:hover{
    color: #ffffff;
}
/*[cachet btn/]*/
/*[secret label]*/
.secret-label{
    color: #ffffff;
    background: rgba(0,178,232,0.6);
    border-right: 0;
    padding: 5px 15px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
/*[secret label/]*/
/*[new-label]*/
.new-label{
    background: #29d38d;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    display: inline-block;
    width: 32px;
    float: left;
    height: 32px;
    line-height: 1.8em;
    border-radius: 50%;
}
/*[new-label/]*/
/*[custom search select]*/
.custom-search-select{
    position: relative;
}
.custom-search-select:before{
    content: "▼";
    color: #bababa;
    font-size: 16px;
    position: absolute;
    right: 12px;
    top: 50%;
    margin-top: -10px;
}
.custom-search-select select{
    padding: 20px 30px 20px 12px;
    border: 1px solid #cccccc;
    border-radius: 2px;
    overflow: hidden;
    outline: 0;
    width: 100%;
    box-shadow: inset 0px 8px 8px -8px rgba(0,0,0,0.3);
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    font-size: 22px;
    color: #9d9d9d;
    font-weight: 600;
}
/*[custom search select/]*/
/*[search-vericle]*/
.search-vericle{
    background: #ffffff;
    padding: 10px 10px;
    font-family: FreeSans, Arimo, "Droid Sans", Helvetica, Arial, sans-serif;
}
.search-vericle .select-right{
    padding-left: 15px;
}
.search-vericle .select-left{
    padding-right: 15px;
}
.search-vericle .row{
    position: relative;
}
.search-vericle .row .multiply{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -7px;
    margin-top: -7px;
}
.search-vericle .brick-btn-group{
    margin-top: 15px;
}
.search-vericle .brick-btn-group .brick-btn{
    padding: 16px;
    width: 100%;
    border-width: 10px;
    font-size: 24px;
    white-space: nowrap;
    overflow: hidden;
}
.search-vericle .brick-btn-group .pull-right{
    width: 27%;
}
.search-vericle .brick-btn-group .pull-left{
    width: 72%;
}
/*[search-vericle/]*/
/*[multiply] this is a symbol*/
.multiply{
    background: url("/img/multiply_symbol.png") no-repeat center bottom;
    width: 14px;
    height: 14px;
    display: inline-block;
    margin: 0 5px;
}
/*[multiply/]*/
span.require{
    font-size: 10px;
    background-color: #ff8a8a;
    color: #ffffff;
    padding: 2px 5px;
    border-radius: 3px;
}
/*--------------RESPONSIVE---------------*/
/*new label in news page*/
.new-article{
    background-color: #29d38d !important;
    position: absolute;
    padding: 1px 5px;
    color: #ffffff;
    font-size: 10px;
    letter-spacing: 0.1em;
}
/*new label in news page /*/
/*[source page]*/
.detail-source{
    color: #919191;
}
/*[source page /]*/
.custom-radius-checkbox label{
    display: block;
}
@media only screen and (max-width: 320px){
    .custom-select{
        display: inline-block;
        position: relative;
        width: 46%;
    }
    .new-label{
        background: #29d38d;
        color: #ffffff;
        font-size: 16px;
        text-align: center;
        display: inline-block;
        width: 30px;
        float: left;
        height: 30px;
        line-height: 1.8em;
    }
    .multiply{
        background: url("/img/multiply_symbol.png") no-repeat center bottom;
        width: 14px;
        height: 14px;
        display: inline-block;
        margin: 0;
    }
}
@media only screen and (max-width: 380px){
    .secret-box .cachet-btn{
        padding: 2px 10px 2px;
        display: inline-block;
        margin-top: 5px;
        font-size: 7px;
    }
    .secret-box .secret-company{
        font-size: 20px;
        color: #a3a3a3;
        margin-top: 0;
        margin-bottom: 0;
    }
    .secret-label{
        color: #ffffff;
        background: rgba(0,178,232,0.6);
        border-right: 0;
        padding: 5px 15px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }
    .multiply{
        background: url("/img/multiply_symbol.png") no-repeat center bottom;
        width: 14px;
        height: 14px;
        display: inline-block;
        margin: 0 3px;
    }
}