#company-main {
  width: auto;
}
#company-main .title h4 {
  margin: 0;
  color: #636363;
  font-size:14px;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 10px;
}
.company-table-info {
  border-top: 2px solid #cdcdcd;
  color: #636363;
}
.company-table-info a {
  color: #636363;
}
.company-table-info td {
  padding: 18px 20px;
  border-bottom: 2px solid #cdcdcd;
}
.company-table-info td:first-child {
  font-size: 14px;
  background: #cdcdcd;
  color: #fff;
  border-bottom: 2px solid #fff;
}
.company-table-info tr:last-child td:first-child {
  border-bottom: 2px solid #cdcdcd;
}

.title_2nd {
  padding-top: 30px;
  font-size: 14px;
}

#company-main .company-term{
  box-shadow: 0 -1px 2px rgba(205,205,205,1), 0 1px 2px rgba(205,205,205,1);
  margin-top: 15px;
}

#company-main .company-term h4 {
  font-weight: bold;
  color: #636363;
}

#company-main .company-subtitle p {
  font-size:12px;
  margin: 0;
  padding-top: 15px;
}