@charset "utf-8";
.main-contain{
    font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Meiryo UI", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    position: relative;
}
.nav-header .nav-logo{
    display: none;
}
.main-contain .container{
    padding-left: 30px;
    padding-right: 30px;
}
.bg-gray{
    background-color: #f9f9f9;
}
/*Todo: top banner concierge*/
.top-banner .background-full .container{
    padding: 0;
    position: relative;
}
.top-banner .background-full .container .clearfix{
    overflow: hidden;
}
.top-banner .background-full .container img{
    width: 100%;
    float: left;
}
.top-banner .background-full .container .text{
    position: absolute;
    top: 45.5%;
    margin: auto;
    width: 100%;
    vertical-align: middle;
    color: #ffffff;
    font-weight: bold;
    text-shadow: 4px 3px 8px rgba(0,0,0,0.5);
}
.top-banner .background-full .container .text h1{
    font-size: 46px;
    margin-bottom: 12px;
    font-weight: bold;
}
.top-banner .background-full .container .text p{
    font-size: 28px;
    line-height: 1.7em;
    font-weight: bold;
}
.top-banner .background-full .container .cirle-green{
    position: absolute;
    font-weight: bold;
    font-size: 40px;
    background-color: #29d38d;
    color: #ffffff;
    line-height: 1.1;
    width: 130px;
    height: 130px;
    text-align: center;
    vertical-align: middle;
    border-radius: 100%;
    top: 150px;
    right: 40px;
    padding-top: 23px;
}
/*Todo: end top banner concierge*/
/*Todo: contact info box*/
.contact-info .format-image img{
    width: 100%;
}
.contact-info div:first-child{
    padding-top: 45px;
}
.contact-info div{
    padding-bottom: 20px;
}
.contact-info div:last-child{
    padding-bottom: 80px;
}
/*Todo: end contact info box*/
/*Todo: point*/
.main-contain .point-title{
    margin-bottom: 30px;
}
.main-contain .point-title .container img{
    width: 100%;
}
.main-contain .point{
    margin-top: 20px;
    padding-top: 35px;
    padding-bottom: 35px;
}
.main-contain .point .container{
    display: table;
}
.main-contain .point .container .title{
    text-align: center;
    color: #29d38d;
    font-size: 24px;
    font-weight: bold;
    display: table-cell;
    width: 34%;
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 30px;
}
.main-contain .point .container .title p{
    line-height: 1.5;
    border-bottom: 2px solid #cccccc;
}
.main-contain .point .container .title p span{
    font-size: 58px;
    vertical-align: middle;
}
.main-contain .point .container .content p{
    font-weight: bold;
    font-size: 26px;
    line-height: 1.7em;
}
/*Todo: end point*/
/*Todo: member list */
.main-contain .point .container .header-member-list{
    text-align: center;
}
.main-contain .container .header-member-list h4{
    color: #00d392;
    font-size: 38px;
    font-weight: bold;
    text-align: center;
    margin-top: 100px;
}
.main-contain .container .header-member-list img{
    width: 100%;
    text-align: center;
    padding: 25px 35px 0 35px;
}
.banner-list ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.banner-list ul li{
    width: 100%;
    padding-left: 40px;
    padding-bottom: 35px;
}
.banner-list ul li:last-child{
    padding-bottom: 0;
}
.banner-list ul li .li-item{
    display: table;
}
.banner-list ul li .li-item img{
    display: table-cell;
}
.banner-list ul li .li-item .member-info{
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    display: table-cell;
    vertical-align: middle;
    padding-left: 45px;
    line-height: 2em;
}
.banner-list ul li .li-item .member-info span{
    font-size: 32px;
    font-weight: normal;
}
/*Todo: end member list */
/*Todo step by step*/
.section.concierge_banner_2{
    background: url("../img/concierge/concierge_banner_full_3_sp.png") no-repeat center 0;
    min-height: 1172px;
    background-size: 100%;
    margin-top: 20px;
}
.section.concierge_banner_2 .container{
    text-align: center;
    padding-top: 65px;
}
.section.concierge_banner_2 .container img{
    padding-bottom: 70px;
}
/*Todo end step by step*/
/*Todo: contact form*/
.require.require-green{
    background-color: #29d38d;
    color: #ffffff;
    padding: 5px;
    border-radius: 3px;
}
.section .container.contact-form,.concierge-popup .dv-thanks{
    margin-top: 40px;
}
.section form.contact-form,.concierge-popup .dv-thanks{
    margin-bottom: 85px;
}
.contact-form .title,.concierge-popup .dv-thanks h4{
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 40px;
}
.contact-form .title{
    margin-bottom: 0;
}
.contact-form .title_p{
    padding-bottom: 50px;
    width: 540px;
    margin: 0 auto;
}
.contact-form .mailform-01 dt{
    width: 100%;
    background-color: #eeeeee;
    padding-top: 30px;
    padding-bottom: 35px;
    vertical-align: text-top;
    padding-left: 50px;
}
.contact-form .mailform-01 dt label{
    font-weight: bold;
    font-size: 26px;
    color: #666666;
}
.contact-form .mailform-01 dt label span.require-green{
    margin-right: 24px;
    font-size: 20px;
    font-weight: normal;
}
.contact-form .mailform-01 dt p.text-green{
    font-size: 20px;
    color: #29d38d;
    display: initial;
    padding-left: 15px;
}
.contact-form .mailform-01 dd{
    padding: 30px;
}
.contact-form .mailform-01 dd input[type=text],.contact-form .mailform-01 dd input[type=email]{
    border: none;
    height: 80px;
    background-color: #f9f9f9;
    font-size: 24px;
    padding-left: 20px;
    width: 100%;
    outline-color: transparent;
}
.contact-form .mailform-01 dd textarea{
    border: none;
    background-color: #f9f9f9;
    font-size: 24px;
    padding-left: 20px;
    width: 100%;
    outline-color: transparent;
    padding-top: 25px;
}
.contact-form .mailform-01 dd label{
    font-size: 24px;
    font-weight: bold;
    color: #666666;
    display: inline-block;
    padding-bottom: 5px;
}
.contact-form .mailform-01 dd label[for=phone]{
    padding-top: 30px;
}
.contact-form .btn_submit{
    width: 93%;
    font-size: 32px;
    font-weight: bold;
    background-color: #29d38d;
    color: #ffffff;
    height: 130px;
    border-radius: 5px;
    -webkit-appearance: none;
    border: none;
    outline: transparent;
    border-bottom: 10px solid #3cba86;
    margin: 0 30px 30px 30px;
    display: block;
}
.contact-form .popup-btn .btn_submit.btn_gray{
    background-color: #ababab;
    height: 130px;
    border-radius: 5px;
    border: none;
    outline: transparent;
    border-bottom: 10px solid #838181;
    margin: 0 30px 30px 30px;
}
.contact-form p.privacy{
    font-size: 20px;
    line-height: 1.8em;
    padding-left: 30px;
    padding-right: 30px;
    text-align: justify;
}
.contact-form .privacy a{
    color: inherit;
    border-bottom: 1px solid #4e4e4e;
    font-weight: bold;
}
.concierge-popup .dv-thanks p{
    text-align: center;
    font-size: 26px;
    line-height: 1.7em;
    margin-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
}
.concierge-popup .dv-thanks a{
    width: 93%;
    font-size: 32px;
    font-weight: bold;
    background-color: #29d38d;
    color: #ffffff;
    height: 130px;
    border-radius: 5px;
    -webkit-appearance: none;
    border: none;
    outline: transparent;
    border-bottom: 10px solid #3cba86;
    margin: 0 30px 30px 30px;
    display: block;
    line-height: 130px;
    text-align: center;
    margin-top: 30px;
}
/*Todo: end contact form*/