@charset "utf-8";
#div-main{
    width: 100% !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.section,.section .container{
    font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Meiryo UI", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    position: relative;
    color: #4e4e4e;
}
.width-50{
    float: left;
    width: 50%;
}
.bg-gray{
    background-color: #eeeeee;
}
.bottom-banner{
    display: none;
}
.text-green{
    color: #29d38d;
}
.require.require-green{
    background-color: #29d38d;
}
textarea{
    resize: none;
}
/*Todo: top banner concierge*/
.top-banner .background-full .container{
    padding: 0;
    position: relative;
}
.top-banner .background-full .container .clearfix{
    height: 620px;
    overflow: hidden;
}
.top-banner .background-full .container img{
    width: 100%;
    float: left;
}
.top-banner .background-full .container:before,.top-banner .background-full .container:after{
    content: "";
    position: absolute;
    display: block;
    top: 0;
    width: 550px;
    height: 620px;
}
.top-banner .background-full .container:after{
    right: 100%;
    background: url("../img/banner/top_concierge_left.png") no-repeat center top;
    background-size: 100%;
}
.top-banner .background-full .container:before{
    left: 100%;
    background: url("../img/banner/top_concierge_right.png") no-repeat center top;
    background-size: 100%;
}
.top-banner .background-full .container .text{
    position: absolute;
    top: 58.5%;
    margin: auto;
    width: 100%;
    vertical-align: middle;
    color: #ffffff;
    font-weight: bold;
    text-shadow: 4px 3px 8px rgba(0,0,0,0.5);
}
.top-banner .background-full .container .text h1{
    font-size: 32px;
    margin-bottom: 12px;
    font-weight: bold;
}
.top-banner .background-full .container .text p{
    font-size: 22px;
    line-height: 1.7em;
}
.top-banner .background-full .container .cirle-green{
    position: absolute;
    font-weight: bold;
    font-size: 34px;
    background-color: #29d38d;
    color: #ffffff;
    line-height: 1.1;
    width: 115px;
    height: 115px;
    text-align: center;
    vertical-align: middle;
    border-radius: 100%;
    top: 233px;
    right: 70px;
    padding-top: 23px;
}
/*Todo: end top banner concierge*/
/*Todo: contact info*/
.contact-info .text-right{
    line-height: 160px;
    padding-right: 20px;
}
.contact-info .text-left{
    line-height: 160px;
    padding-left: 20px;
}
#contact_area .p_title{
    padding-left: 265px;
}
/*Todo: end contact info*/
.section.concierge_banner{
    background: url("../img/concierge/concierge_banner_full_2.jpg") center -155px no-repeat;
    height: 720px;
}
.section.concierge_banner_2{
    background: url("../img/concierge/concierge_banner_full_3.png") no-repeat center 100%;
    height: 640px;
    background-size: 100%;
}
.section.concierge_banner_2:before{
    content: '';
    background-color: rgba(0,0,0,0.35);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.section.concierge_banner_2 .container{
    line-height: 640px;
}
.section.concierge_banner_2 .container img{
    width: 100%;
}
.section .text-banner{
    position: absolute;
    top: 167px;
    left: 0px;
    font-size: 20px;
}
.section .text-banner .title{
    color: #ffffff;
    font-size: 32px;
    font-weight: bold;
}
.section .text-banner .title span.text-green{
    font-size: 64px;
    color: #29d38d;
}
.section .bg-black-blur{
    background-color: rgba(0,0,0,0.5);
    height: 280px;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 60px;
}
/*Todo: banner list*/
.banner-list{
    padding: 0;
}
.banner-list ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.banner-list ul li{
    width: 350px;
    overflow: hidden;
}
.banner-list ul li:last-child{
    padding-right: 0;
}
.banner-list ul li:first-child{
    padding-left: 0;
}
.banner-list ul li .li-item .li-header{
    text-align: center;
    color: #29d38d;
    font-size: 24px;
    font-weight: bold;
    border-bottom: 2px solid #cccccc;
    width: 140px;
    margin-left: auto;
    margin-right: auto;
}
.banner-list ul li .li-item .li-header p{
    line-height: 1;
}
.banner-list ul li .li-item .li-header span{
    font-size: 58px;
    vertical-align: middle;
}
.banner-list ul li .li-item .li-content{
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    width: 267px;
    margin-left: auto;
    margin-right: auto;
    line-height: 2em;
    padding-top: 7px;
}
/*Todo: end banner list*/
/*Todo: list member*/
.list-member-title{
    font-weight: bold;
    font-size: 38px;
    text-align: center;
    padding-top: 120px;
}
.list-member-sub-title{
    text-align: center;
    font-size: 22px;
    line-height: 2em;
}
.member-info{
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}
.member-info span{
    font-size: 26px;
    font-weight: normal;
}
.banner-list ul.list-member-2{
    display: -ms-inline-flexbox;
    display: inline-flex;
}
/*Todo:End list member*/
/*Todo: contact form*/
.contact-form .title{
    font-size: 38px;
    font-weight: bold;
    margin-top: 80px;
}
.contact-form{
    width: 720px;
    margin-left: auto;
    margin-right: auto;
}
.table-form{
    margin-top: 38px;
    margin-bottom: 30px;
}
.table-form tr td:first-child{
    width: 260px;
    background-color: #eeeeee;
    border-bottom: 1px solid #f9f9f9;
    padding-top: 35px;
    padding-bottom: 45px;
    vertical-align: text-top;
}
.table-form tr td:nth-child(2){
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    padding-left: 40px;
    padding-right: 20px;
}
.table-form tr td:first-child label{
    font-size: 16px;
    font-weight: bold;
    padding-left: 40px;
}
.table-form tr td:first-child label span.require{
    font-size: 12px;
    margin-right: 10px;
}
.table-form tr td:first-child p{
    font-size: 14px;
    font-weight: bold;
    padding-left: 40px;
}
.table-form tr td input[type=text],.table-form tr td input[type=email],.table-form tr td textarea{
    border: none;
    height: 50px;
    background-color: #f9f9f9;
    font-size: 14px;
    padding-left: 20px;
    width: 100%;
    outline-color: transparent;
}
.table-form tr td:nth-child(2) label[for=email]{
    padding-top: 35px;
}
.table-form tr td:nth-child(2) label[for=phone]{
    padding-top: 15px;
}
.table-form tr td input[name=phone]{
    margin-bottom: 30px;
}
.table-form tr td textarea[name=work_condition]{
    height: 120px;
    margin-top: 20px;
    margin-bottom: 30px;
    padding-top: 18px;
}
.contact-form .privacy{
    line-height: 2.5em;
}
.contact-form .privacy a{
    color: inherit;
    border-bottom: 1px solid #4e4e4e;
}
.contact-form .btn_submit{
    width: 360px;
    font-size: 22px;
    font-weight: bold;
    background-color: #29d38d;
    color: #ffffff;
    height: 80px;
    border-radius: 5px;
    border: none;
    outline: transparent;
    border-bottom: 5px solid #3cba86;
    margin: 30px auto 50px auto;
    display: block;
}
/*Todo: pop up confirm*/
.concierge-popup{
    position: fixed;
    background: rgba(0,0,0,0.75);
    z-index: 1040;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Meiryo UI", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
.concierge-popup .contact-form{
    margin-top: 5%;
    overflow: hidden;
    overflow-y: auto;
    height: 87%;
}
.concierge-popup .contact-form h4{
    font-weight: bold;
    font-size: 22px;
    padding-bottom: 20px;
    text-align: center;
    margin: 0;
    color: #ffffff;
}
.concierge-popup .contact-form .table-form{
    margin-top: 0;
    margin-bottom: 0;
    background: #ffffff;
}
.concierge-popup .contact-form .popup-btn{
    display: -ms-flexbox;
    display: flex;
    padding-top: 30px;
}
.concierge-popup .contact-form .popup-btn .btn_submit{
    width: 300px;
    margin: 0;
}
.concierge-popup .contact-form .popup-btn .btn_submit.btn_gray{
    background-color: #ababab;
    height: 80px;
    border-radius: 5px;
    border: none;
    outline: transparent;
    border-bottom: 5px solid #838181;
    margin-right: 20px;
    margin-left: 50px;
}
/*Todo: end pop up*/
/*Todo: pop up thanks*/
.concierge-popup .dv-thanks{
    width: 840px;
    background: #ffffff;
    padding: 60px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 6%;
}
.concierge-popup .dv-thanks h4{
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 26px;
}
.concierge-popup .dv-thanks p{
    text-align: center;
    font-size: 18px;
    line-height: 1.5em;
    margin-top: 20px;
}
.concierge-popup .dv-thanks a{
    width: 360px;
    font-size: 22px;
    font-weight: bold;
    background-color: #29d38d;
    color: #ffffff;
    height: 80px;
    border-radius: 5px;
    border: none;
    outline: transparent;
    border-bottom: 5px solid #3cba86;
    margin: 30px auto 0 auto;
    display: block;
    line-height: 80px;
    text-align: center;
}
/*Todo: end pop up thanks*/
.concierge_banner__point{
    background-color: rgba(0,0,0,0.25);
    padding: 40px 0;
    position: absolute;
    width: 100%;
    bottom: 0;
}
.point-box-list{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    list-style: none;
    width: 1100px;
    margin: 0 auto;
}
.point-box-list__item{
    list-style: none;
    width: 280px;
}
.point-box__ttl{
    color: #29d28d;
    font-size: 24px;
    font-weight: bold;
    border-bottom: 2px solid #cccccc;
    width: 140px;
    margin: 0 auto;
    text-align: center;
    line-height: 1;
    padding-bottom: 15px;
}
.point-box__ttl span{
    margin-left: 5px;
    font-size: 58px;
    vertical-align: middle;
}
.point-box__txt{
    margin: 16px 0 0;
    color: #ffffff;
    font-size: 16px;
    line-height: 2;
    font-weight: bold;
}