@charset "utf-8";

.article-content img{
	max-width: 100%;
}

/* unit
----------------------------------------------------------------------------------------------*/
section + section,
section + aside,
aside + section,
aside + aside{
	margin-top:20px;
	margin-bottom:20px;
}
#asideContents section + section,
#asideContents section + aside,
#asideContents aside + section,
#asideContents aside + aside{
	margin-top:30px;
}
section[class^=media]+ section,
section[class^=media] + aside,
aside[class^=media] + section,
aside[class^=media] + aside{
	margin-top:0;
}
@media screen and (max-width: 750px) {
	section + section,
	section + aside,
	aside + section,
	aside + aside{
		margin-top:10px;
	}
}

.unitA01{
	padding:30px 40px 20px;
	background:#fff;
}
@media screen and (max-width: 750px) {
	.unitA01{
		margin-right:-15px;
		margin-left:-15px;
		border-top:1px solid #00b2e8;
		border-bottom:1px solid #00b2e8;
		padding:30px 15px 20px;
		background:#fff;
	}
}

.unitA02{
	padding:20px 20px 10px;
	background:#fff;
}

.unitB01{
	padding:30px 40px 20px;
	background:#dff2fc;
}
@media screen and (max-width: 750px) {
	.unitB01{
		margin-right:-15px;
		margin-left:-15px;
		border-top:1px solid #00b2e8;
		border-bottom:1px solid #00b2e8;
		padding:30px 15px 20px;
		background:#dff2fc;
	}
}

@media screen and (max-width: 750px) {
	.mobileUnitA01{
		margin-top:0;
		background:#fff;
	}

	.mobileUnitB01{
		border-top:none;
		margin-top:0;
		background:#fff;
	}
	.mobileUnitB02{
		border-bottom:none;
		background:#fff;
	}
	
	.mobileUnitC01{
		margin:-10px -15px 0;
		padding:24px 0;
		background:#fff;
	}
	.mobileUnitD01{
		margin-top:-30px;
		background:#fff;
	}
}


/*----------------------------------------------------------------------------------------

　　　　　　　　　　　　　　　　　　　　コンテンツ内 CSS　【 start 】
　
----------------------------------------------------------------------------------------*/

/* ========================= entryA01 start ========================= */
.entryA01 header {
	margin: 0 0 30px 0;
	padding:0 60px 20px;
	border-bottom: 3px solid #00b2e8;;
}
.entryA01 header .sub_title01 {
	margin: 0 0 10px 0;
	font-size: 16px;
}
.entryA01 header .sub_title02 {
	position:relative;
	display: inline-block;
	padding: 2px 8px 3px;
	margin: -6px 8px 0 8px;
	background: #ffea00;
	font-size:14px;
	text-align: center;
	vertical-align: middle;
}
.entryA01 header .sub_title02:before {
	content:"";
	position:absolute;
	left:50%;
	bottom:-12px;
	border:6px solid transparent;
	border-top:6px solid #ffea00;
	margin-left:-6px;
}
.entryA01 header h1 {
	color: #00b2e8;
	font-size: 23px;
	font-weight: bold;
	line-height: 1.2;
}
.entryA01 section,
.entryA01 aside {
	padding:0;
}
.entryA01 section {
	font-size: 15px;
}
.entryA01 dl.captionBoxA01 {
	position: relative;
	font-size: 12px;
	text-align: left;
}
.entryA01 dl.captionBoxA01 dt {
	position: absolute;
	width: 4em;
	padding: 1.25em 0.25em 1.5em;
	background: #00b2e8;
	color: #FFFFFF;
}
.entryA01 dl.captionBoxA01 dd {
	padding: 0 0 0 5em;
}

.entryA01 section img{
	max-width: 100%;
}

.entryA01 .imageBlockA01 .contentsInner,
.entryA01 .imageBlockA02 .contentsInner,
.entryA01 .imageBlockB01 .contentsInner {
	vertical-align: top;
}

@media screen and (max-width: 750px) {
	.entryA01{
		margin-right:-15px;
		margin-left:-15px;
		padding:20px 0px 0px;
		background:#fff;
	}
	.entryA01 header {
		margin: 0 0 20px 0;
		padding:0 15px 15px;
	}
	.entryA01 header .sub_title01 {
		margin: 0 0 8px 0;
		font-size: 14px;
	}
	.entryA01 header .sub_tile02 {
		font-size: 12px;
	}
	.entryA01 header h1 {
		font-size: 22px;
	}
	.entryA01 section,
	.entryA01 aside {
		padding:0 15px 5px;
	}
	.entryA01 section {
		font-size: 14px;
		color:#4a4a4a;
	}
	.entryA01 section img {
		width: 100%;
	}
	.entryA01 .imageBlockA01,
	.entryA01 .imageBlockA01 .image,
	.entryA01 .imageBlockA01 .contentsInner,
	.entryA01 .imageBlockA02,
	.entryA01 .imageBlockA02 .image,
	.entryA01 .imageBlockA02 .contentsInner,
	.entryA01 .imageBlockB01,
	.entryA01 .imageBlockB01 .image,
	.entryA01 .imageBlockB01 .contentsInner {
		display: block;
		width: 100%;
	}
}

/* ========================= entryA01 end ========================= */

/* ========================= heading start ========================= */

.headingA01{
	margin-bottom:10px;
	padding:10px 20px;
	position:relative;
	background:#00b2e8;
	color:#fff;
	font-size:16px;
	font-weight:bold;
}
.headingA03{
	margin-bottom:10px;
	padding:10px 20px;
	position:relative;
	background:#00b2e8;
	color:#fff;
	font-size:16px;
	font-weight:bold;
}
@media screen and (max-width: 750px) {
	.headingA01{
		margin-bottom:15px;
		padding:6px 10px;
		font-size:13px;
	}
	.headingA03{
		margin-bottom:10px;
		padding:6px 10px;
		font-size:13px;
	}
}
.headingA01.topics,
.headingA01.recommend,
.headingA03.contentslist{
	padding-left:50px;
}
.headingA01.topics:before,
.headingA01.recommend:before,
.headingA03.contentslist:before{
	content:'';
	margin:auto;
	position:absolute;
	top:0;
	bottom:0;
	left:20px;
}
.headingA01.topics:before{
	width:17px;
	height:21px;
	background-image:url(/public/images/common/heading-a01_icon_01.png);
	background-size:17px 21px;
}
.headingA01.recommend:before{
	width:18px;
	height:20px;
	background-image:url(/public/images/common/heading-a01_icon_02.png);
}
.headingA03.contentslist:before{
	width:17px;
	height:21px;
	background-image:url(/public/images/common/contents_icon_01.png);
	background-size:17px 21px;
}
@media screen and (max-width: 750px) {
	.headingA01.topics,
	.headingA01.recommend,
	.headingA03.contentslist{
		padding-left:30px;
	}
	.headingA01.topics:before,
	.headingA01.recommend:before,
	.headingA03.contentslist:before{
		left:10px;
	}
	.headingA01.topics:before{
		width:11px;
		height:14px;
		background-image:url(/public/images/common/heading-a01_icon_01.png);
		background-size:11px 14px;
	}
	.headingA01.recommend:before{
		width:11px;
		height:14px;
		background-image:url(/public/images/common/heading-a01_icon_02.png);
		background-size:11px 14px;
	}
	.headingA03.contentslist:before{
		width:11px;
		height:14px;
		background-image:url(/public/images/common/contents_icon_01.png);
		background-size:11px 14px;
	}
}

.headingA02{
	margin-bottom:20px;
	padding:10px 20px;
	position:relative;
	background:#ffea00;
	color:#696978;
	font-size:16px;
	font-weight:bold;
}
#asideContents .headingA02 {margin-bottom: 0;}
@media screen and (max-width: 750px) {
	.headingA02{
		margin-bottom:15px;
		padding:6px 10px;
		font-size:13px;
	}
	#asideContents .headingA02 {
		margin-bottom: 0;
	}
}
.headingA02.pickup{
	padding-left:50px;
}
.headingA02.pickup:before{
	content:'';
	margin:auto;
	position:absolute;
	top:0;
	bottom:0;
	left:20px;
}
.headingA02.pickup:before{
	width:18px;
	height:18px;
	background-image:url(/public/images/common/heading-a02_icon_01.png);
	background-size:18px auto;
}
@media screen and (max-width: 750px) {
	.headingA02.pickup{
		padding-left:30px;
		text-align: left;
	}
	.headingA02.pickup:before{
		left:10px;
		width:14px;
		height:14px;
		background-image:url(/public/images/common/heading-a02_icon_01.png);
		background-size:14px auto;
		background-repeat: no-repeat;
	}
}

.headingB01,
.headingB02{
	margin-bottom:30px;
	color:#00b2e8;
	font-size:22px;
	font-weight:bold;
	line-height:1.2;
}
@media screen and (max-width: 750px) {
	.headingB01,
	.headingB02{
		margin-bottom:20px;
		font-size:16px;
	}

}
.headingB02{
	color:#282828;
}

.headingC01,
.headingC02{
	margin-top:0;
	margin-bottom:20px;
	padding-left:20px;
	border-left:5px solid #00b2e8;
	font-size:24px;
	font-weight:bold;
	line-height:1.2;
}
.headingC02{
	color:#00b2e8;
}
@media screen and (max-width: 750px) {
	.headingC01,
	.headingC02{
		border-left:3px solid #00b2e8;
		padding-left:6px;
		font-size:18px;
	}
}

.sideBlueBorder_none_blueText01,
.sideBlueBorder_none_blueText02{
	margin-top:10px;
	margin-bottom:10px;
	font-size:30px;
	font-weight:bold;
	line-height:1.8;
	color:#00b2e8;
}

.sideBlueBorder_blueText01,
.sideBlueBorder_blueText02{
    margin-top: 80px;
    margin-bottom: 40px;
    padding-left: 10px;
    border-left: 10px solid #808080;
    font-size: 30px;
    font-weight: bold;
    line-height: 1.8;
    color: #4e4e4e;
}

.sideBlueBorder_blueText01s,
.sideBlueBorder_blueText02s{
    margin-top: 10px;
    margin-bottom: 15px;
    padding-left: 10px;
    border-left: 2px dotted #00b2e8;
<<<<<<< HEAD
    font-size: 18px;
    font-weight: bold;
    line-height: 1.2;
=======
    font-size: 30px;
    font-weight: bold;
    line-height: 1.8;
>>>>>>> ab98d7771a93d420fa11ebe8547607c7d7b2ce5f
    color: #00b2e8;
}

@media screen and (max-width: 750px) {
	.sideBlueBorder_none_blueText01,
	.sideBlueBorder_none_blueText02{
	margin-top:10px;
	margin-bottom:10px;
	font-size:18px;
	font-weight:bold;
	line-height:1.2;
	color:#00b2e8;
	}

	.sideBlueBorder_blueText01,
	.sideBlueBorder_blueText02,
	.sideBlueBorder_blueText01s,
	.sideBlueBorder_blueText02s{
		margin-top: 4rem;
		margin-bottom: 2rem;
		font-size: 2.8rem;
		display: block;
		font-weight: 600;
		border-left: 0;
    	padding-left: 0;
		color: #4e4e4e;
		line-height: 2;
	}
	.sideBlueBorder_blueText01:before,
	.sideBlueBorder_blueText02:before,
	.sideBlueBorder_blueText01s:before,
	.sideBlueBorder_blueText02s:before{
		content: "";
    	border-left: 10px solid #808080;
    	padding-right: 10px;
	}
}


.headingD01{
	margin-bottom:20px;
	border:1px solid #00b2e8;
	padding:5px 15px;
	display:table;
	color:#00b2e8;
	font-size:15px;
	line-height:1.2;
}
@media screen and (max-width: 750px) {
	.headingD01{
		margin-bottom:16px;
	}
}

.headingE01{
	margin-bottom: 20px;
	color: #00b2e8;
	font-size: 20px;
	font-weight: bold;
	line-height: 1.2;
}
.headingE01 img{
	margin-right: 18px;
	display: inline-block;
	vertical-align: middle;
}

.headingF01{
	margin-bottom:20px;
	padding:10px 20px;
	background:#f0f0f0;
	font-size:15px;
}
@media screen and (max-width: 750px) {
	.headingF01{
		margin-bottom:15px;
		padding:8px 10px;
		font-size:12px;
	}
}

.headingG01{
	margin-bottom:8px;
	padding-bottom: 3px;
	border-bottom: 3px solid #00b2e8;
	color: #00b2e8;
	font-size:18px;
	font-weight: bold;
}
/* ========================= heading end ========================= */

/* ======================= generalBlock start ======================== */
.generalBlockA01{
	margin-bottom:10px;
	padding:15px 30px 5px;
	background:#f0f0f0;
}
@media screen and (max-width: 750px) {
	.generalBlockA01{
		padding:15px 15px 5px;
	}
}

.generalBlockB01{
	margin-bottom:10px;
	padding:15px 30px 5px;
	background:#fff;
}
@media screen and (max-width: 750px) {
	.generalBlockB01{
		padding:15px 15px 5px;
	}
}

.generalBlockC01{
	overflow: hidden;
	margin-bottom:10px;
}
.generalBlockC01 > .contentsInner {
	float: left;
	max-width: 49%;
}
.generalBlockC01 > .contentsInner + .contentsInner {
	float: right;
}
.generalBlockC01 > .contentsInner img {
	margin-bottom:10px;
}
@media screen and (max-width: 750px) {
	.generalBlockC01{
		overflow: auto;
	}
	.generalBlockC01 > .contentsInner {
		float: none;
		max-width: none;
		margin-bottom:10px;
	}
	.generalBlockC01 > .contentsInner + .contentsInner {
		float: none;
	}
}

.buttonBlockA01{
	margin:30px 0;
}
@media screen and (max-width: 750px) {
	.buttonBlockA01{
		margin:12px 0;
	}
}

.buttonBlockB01 {
	margin: 0 auto 30px auto;
	padding: 20px;
	background: #fff;
	text-align: center;
}
.buttonBlockB01 p {
	color: #696978;
	font-size: 16px;
	font-weight: bold;
}
@media screen and (max-width: 750px) {
	.buttonBlockB01 {
		padding: 15px 10px;
	}
	.buttonBlockB01 p {
		font-size: 14px;
	}
}

/* ======================= generalBlock end ======================== */

/* ======================= imageBlock start ======================== */

.imageBlockA01{
width:100%;
display:table;
direction:rtl;
}
.imageBlockA01 .image{
margin:0;
padding-bottom:20px;
display:table-cell;
vertical-align:middle;
width:22%;
direction:ltr;
}
.imageBlockA01 .contentsInner{
padding:5px 5px;
display:table-cell;
vertical-align:middle;
direction:ltr;
text-align:left;
}
.imageBlockA02{
width:100%;
display:table;
direction:ltr;
}

.imageBlockA02 .image{
margin:0;
padding-bottom:5px;
display:table-cell;
vertical-align:top;
width:1%;
direction:rtl;
}

.imageBlockA02 .contentsInner{
padding:5px 15px;
display:table-cell;
vertical-align:middle;
direction:rtl;
text-align:left;
}

.imageBlockA02 .contentsInner1{
padding:5px 15px;
display:table-cell;
vertical-align:middle;
direction:ltr;
text-align:left;
}

@media screen and (max-width: 750px) {
	.imageBlockA01 .contentsInner{
		padding-right:5px;
	}
	.imageBlockA02 .contentsInner{
		padding-left:13px;
	}
	.imageBlockA02 .contentsInner1{
		padding:5px 15px;
	}
}

.imageBlockB01{
width:100%;
display:table;
}
.imageBlockB01 .image{
margin:0;
padding:0 30px 20px 0;
display:table-cell;
width:22%;
vertical-align:middle;
}
.imageBlockB01 .contentsInner{
padding: 5px 5px;
padding-bottom:1px;
display:table-cell;
vertical-align:middle;
}
@media screen and (max-width: 750px) {
	.imageBlockB01 .image{
		padding-right:0px;
	}
}
/* ======================= imageBlock end ======================== */


/* ======================= form start ======================== */
.formA01{
	width:100%;
}
.formA01 th,
.formA01 td{
	background:#fff;
	position:relative;
}
.formA01 input[type='text']{
	box-sizing:border-box;
	width:100%;
}
.formA01 textarea{
	box-sizing:border-box;
	width:100%;
	height:7.5em;
}
.formA01 .required{
	padding:0 8px;
	height:1.5em;
	display:block;
	background:#e4007f;
	color:#fff;
}
.formA01 .inputList{
	margin:0;
}
.formA01 .inputList input{
	margin-right:5px;
}
.formA01 .error{
	display:block;
	color:#dd0044;
	font-weight:normal;
}
@media screen and (min-width: 751px) {
	.formA01 th,
	.formA01 td{
		padding:20px 30px;
		vertical-align:middle;
	}
	.formA01 tr + tr th,
	.formA01 tr + tr td{
		border-top:2px solid #f0f0f0;
	}
	.formA01 th{
		padding-right:50px;
		width:130px;
	}
	.formA01 td{
		position:relative;
	}
	.formA01.confirm td{
		padding-right:30px;
	}
	.formA01 .required{
		margin:auto;
		position:absolute;
		top:0;
		right:0;
		bottom:0;
	}
	.formA01 .inputList li + li{
		margin-top:20px;
	}
}
@media screen and (max-width: 750px) {
	.formA01 th,
	.formA01 td{
		padding:12px;
		display:block;
	}
	.formA01 td{
		padding-top:0;
	}
	.formA01 tr + tr th{
		border-top:6px solid #f0f0f0;
	}
	.formA01 .required{
		margin-left:0.5em;
		display:inline-block;
	}
	.formA01 .inputList{
		margin-left:-10px;
	}
	.formA01 .inputList li{
		margin-left:10px;
		display:inline-block;
	}
}
/* ======================= form end ======================== */

/* ======================= table start ======================== */
.tableA01{
	width:100%;
}
.tableA01 th,
.tableA01 td{
	padding:20px;
	border:1px solid #00b2e8;
	vertical-align:top;
}
@media screen and (max-width: 750px) {
	.tableA01 th,
	.tableA01 td{
		padding:15px;
	}
	.tableA01 col:first-child{
		width:90px !important;
	}
}
.tableA01 th{
	background:#eaf6fd;
	font-weight:bold;
}

.tableB01{}
@media screen and (min-width: 751px) {
	.tableB01{
		width:100%;
	}
	.tableB01 th,
	.tableB01 td{
		padding:20px;
		background:#f0f0f0;
	}
	.tableB01 tr + tr th,
	.tableB01 tr + tr td{
		border-top:5px solid #fff;
	}
	.tableB01 td{
		border-left:4px solid #fff;
	}
}

@media screen and (max-width: 750px) {
	.tableB01{
		display:block;
	}
	.tableB01 tbody,
	.tableB01 tr,
	.tableB01 th,
	.tableB01 td{
		display:block;
	}
	.tableB01 th{
		padding:10px 20px;
		font-weight:bold;
		background:#f0f0f0;
	}
	.tableB01 td{
		padding:10px 0 25px;
		background:#fff;
	}
}
/* ======================= table end ======================== */

/* ======================= list start ======================== */
.bnrListA01{
}
.bnrListA01 li + li{
	margin-top:20px;
}
@media screen and (max-width: 750px) {
	.bnrListA01{
		margin-top:-13px;
		margin-left:-13px;
		margin-bottom:20px;
	}
	.bnrListA01 li{
		margin:13px 0 0 13px;
		display:inline-block;
	}
}

.bnrListB01{
}
.bnrListB01 li + li{
	/*margin-top:2px;*/
}
.bnrListB01 li a{
	background:#e5f7fd;
	color:#666;
	display:block;
	position:relative;
	text-decoration:none;
}
.bnrListB01 li a:before{
	content:'';
	border:0 solid #00b2e8;
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	transition:all 0.1s ease;
}
.bnrListB01 li a:hover:before{
	border-width:3px;
}
.bnrListB01 li span{
	padding:10px;
	display:block;
}
#asideContents .bnrListB01 li {
	margin-top: 10px;
}
#asideContents .bnrListB01 li a{
	padding-bottom: 5px;
	background: #fff;
	word-break: break-all;
}
#asideContents .bnrListB01 li span {
	overflow: hidden;
	max-height: 2.5em;
	padding-top: 0;
}
@media screen and (max-width: 750px) {
	.bnrListB01{
		margin:0 -15px;
	}
	.bnrListB01 li a img{
		width:100%;
		height:inherit;
	}
	#asideContents .bnrListB01 {
		margin: 0;
		text-align: center;
	}
	#asideContents .bnrListB01 li {
		display: inline-block;
		width: 45%;
		min-width: 136px;
		margin: 20px 0 0 0;
		text-align: left;
	}
	#asideContents .bnrListB01 li:nth-of-type(2n-1) {margin-right: 5px;}
	#asideContents .bnrListB01 li:nth-of-type(2n) {margin-left: 5px;}
	#asideContents .bnrListB01 li:not(:nth-of-type(1)),
	#asideContents .bnrListB01 li:not(:nth-of-type(2)) {margin-top: 15px;}
	#asideContents .bnrListB01 li a {
	}
}

.tagListA01{
}
.tagListA01{
	margin-top:-8px;
	margin-left:-8px;
	font-size:0;
}
.tagListA01 li{
	margin-left:8px;
	border-radius: 2px;
	padding: 6px 10px;
	display: inline-block;
	background: #afafaf;
	color: #fff;
	font-size:13px;
}
@media screen and (max-width: 750px) {
	.tagListA01 li{
		font-size:8px;
	}
}
.tagListA01 li + li{
	margin-top: 8px;
}
table .tagList{
	margin-bottom:0;
}

.entryListA01 {
}
.entryListA01 li {
	border-bottom: 1px solid #d2d2d2;
}
.entryListA01 li:last-child {
	border-bottom: none;
}
.entryListA01 li a {
	width: 100%;
	position: relative;
	display: table;
	padding: 20px 0;
	color: #595757;
	text-decoration: none;
}
.entryListA01 li a .thumb {
	display: table-cell;
	width: 80px;
	padding: 0 16px 0 0;
	vertical-align: top;
}
.entryListA01 li a .thumb img {
	width: 100%;
}
.entryListA01 li a dl {
	vertical-align: top;
}
.entryListA01 li a dl dt {
	margin-bottom: 10px;
	color:#00b2e8;
	font-size:20px;
	font-weight:bold;
}
.entryListA01 li a:hover dl dt {
	text-decoration: underline;
}
.entryListA01 li a dl dd {
}
.entryListA01 li a .more {
	display: inline-block;
	padding: 0 12px 0 0;
	background: url(/public/images/common/arrow_01.png) no-repeat right center;
	color:#00b2e8;
	text-decoration: underline;
}
@media screen and (max-width: 750px) {
	.entryListA01 li:last-child {
		border-bottom: 1px solid #d2d2d2;
	}
	.entryListA01 li a  {
		box-sizing: border-box;
		padding-right: 16px;
		background: url(/public/images/common/arrow_02.png) no-repeat right center;
		background-size: 12px auto;
	}
	.entryListA01 li a .thumb {
		padding-right: 10px;
	}
	.entryListA01 li a dl {
	}
	.entryListA01 li a dl dt {
		font-size:18px;
		line-height: 1.2;
	}
	.entryListA01 li a dl dd {
		display: none;
	}
}
.linkListA01 {	
}
.linkListA01 li {
}
.linkListA01 li a {
	display: block;
	position:relative;
	padding: 10px 20px 10px 38px;
	background: #fff;
	color: #282828;
}
.linkListA01 li a{
    text-decoration: underline !important;
}
.linkListA01 li:nth-child(2n) a {
	background: #eaf6fd;
}
.linkListA01 li a:before{
	content:'';
	margin:auto;
	border-top:6px solid transparent;
	border-bottom:6px solid transparent;
	border-left:10px solid #282828;
	width:0;
	height:0;
	display:block;
	position:absolute;
	top:0;
	left:20px;
	bottom:0;
}
/* ======================= list end ======================== */


/*----------------------------------------------------------------------------------------

　　　　　　　　　　　　　　　　　　　　Unique　【 start 】
　
----------------------------------------------------------------------------------------*/


/* ======================= pickup start ======================== */
.pickupA01{
	margin-bottom:10px;
	position:relative;
	background:#fff;
}
.resultA01 .pickupA01 {
	margin-bottom:0;
}
.resultA01 .pickupA01.pickupMgn{
	margin:15px 0 0;
}
@media screen and (max-width: 750px) {
	.pickupA01{
		margin-right:-15px;
		margin-left:-15px;
		border-bottom:1px solid #00b2e8;
	}
	.slideA01 .pickupA01{
		margin:0;
	}
}
.pickupA01 a{
	padding:30px 40px 20px;
	display:block;
	position:relative;
	color:#595757;
	text-decoration:none;
}
.pickupA01 a:before{
	content:'';
	border:0px solid #00b2e8;
	position:absolute;
	top:0;
	right:0;
	left:0;
	bottom:0;
	transition:all 0.1s ease;
}
.pickupA01 a:hover:before{
	border-width:3px;
}
@media screen and (max-width: 750px) {
	.pickupA01 a{
		padding:25px 15px 15px;
	}
}
.pickupA01 h2{
	position:absolute;
}
@media screen and (min-width: 751px) {
	.pickupA01 h2{
		margin-top:-7px;
		margin-right:-7px;
		top:0;
		right:0;
	}
	.pickupA01 h2 img{
		width:169px;
	}
}
@media screen and (max-width: 750px) {
	.pickupA01 h2{
	}
	.pickupA01 h2 img{
		width:89px;
	}
}
.pickupA01 h3{
	margin-bottom:30px;
	color:#3e3a39;
	font-size:21px;
	font-weight:bold;
	line-height:1.2;
	text-decoration:underline;
}
@media screen and (max-width: 750px) {
	.pickupA01 h3{
		margin-bottom:20px;
	}
}
.pickupA01 h3 span{
	display:inline-block;
	padding:4px 10px;
	background:#00B2E8;
	margin-right:7px;
	font-size:14px;
	font-weight:bold;
	color:#fff;
}
.pickupA01 a > .contentsInner{}
@media screen and (min-width: 751px) {
	.pickupA01 a > .contentsInner:before,
	.pickupA01 a > .contentsInner:after {
		content:"";
		display:table;
	}
	.pickupA01 a > .contentsInner:after {
		clear:both;
	}
}
.pickupA01 .image{
	margin-bottom:20px;
}
@media screen and (min-width: 751px) {
	.pickupA01 .image{
		float: left;
		width:300px;
		height: 225px;
		line-height: 225px;
		background: #fafafa;
		text-align: center;
	}
	.pickupA01 .image img {
		max-width:300px;
		max-height: 225px;
		vertical-align: middle;
	}
}
@media screen and (max-width: 750px) {
	.pickupA01 .image{
		margin-right:auto;
		margin-left:auto;
		background: #fafafa;
		display:table;
		position:relative;
		text-align: center;
	}
	.pickupA01 .image:before{
		content:'';
		width:89px;
		height:26px;
		display:block;
		position:absolute;
		top:-4px;
		right:-4px;
		background:url(/public/images/common/pickup-a01_ttl_01.png);
		background-size:89px 26px;
	}
	.pickupA01 .image.noPkup:before{
		background:none;
	}
	.pickupA01 .image img{
		width:100%;
		max-width: 100%;
		min-width: 285px;
		/*max-height: 225px;*/
		vertical-align: middle;
	}
}
.pickupA01 .company{
	overflow:hidden;
	color:#00b2e8;
	font-weight:bold;
	line-height:1.2;
	text-decoration:underline;
	text-overflow:ellipsis;
	white-space: nowrap;
}
@media screen and (min-width: 751px) {
	.pickupA01 .company{
		width:312px;
		float:right;
		font-size:18px;
	}
}
@media screen and (max-width: 750px) {
	.pickupA01 .company{
		margin-bottom:15px;
		font-size:15px;
	}
}
.pickupA01 .summary{
	margin-bottom:20px;
	width:312px;
	max-height:12em;
	float:right;
	overflow:hidden;
	word-break: break-all;
	word-wrap: break-word;
}
.pickupA01 .details {
}
@media screen and (min-width: 751px) {
	.pickupA01 .details {
		width:312px;
		float:right;
	}
}
.pickupA01 .types {
	margin-bottom: 8px;
}
.pickupA01 .types li {
	display: inline-block;
}
.pickupA01 .types li img {
	height: 19px;
	line-height: 1;
}
@media screen and (max-width: 750px) {
	.pickupA01 .types {
		margin-bottom: 0;
	}
	.pickupA01 .types li {
		margin-right: 0;
		margin-bottom: 8px;
	}
	.pickupA01 .types li img {
		height: 24px;
	}
}
@media screen and (max-width: 414px) {
	.pickupA01 .types {
		margin-bottom: 0;
	}
	.pickupA01 .types li {
		margin-right: -2px;
		margin-bottom: 6px;
	}
	.pickupA01 .types li img {
		height: 18px;
	}
}
.pickupA01 table{
	box-sizing:border-box;
	border:1px solid #afafaf;
	width:100%;
}
@media screen and (min-width: 751px) {
	.pickupA01 table{
		width:312px;
		float:right;
	}
	.pickupA01 .details table{
		width:312px;
		float:none;
	}
}
.pickupA01 table th,
.pickupA01 table td{
	height: 3em;
	padding:10px;
	vertical-align: middle;
}
.pickupA01 table th{
	width:4em;
	background:#afafaf;
	color:#fff;
	text-align:center;
}
@media screen and (min-width: 751px) {
	.pickupA01 table tr + tr th{
		border-top:1px solid #fff;
	}
}
.pickupA01 table tr + tr td{
	border-top:1px solid #afafaf;
}
.pickupA01 table td div{
	max-height: 3em;
	overflow: hidden;
}
.pickupA01 .tags{
	margin-top:-8px;
	margin-left:-8px;
	font-size:0;
}
@media screen and (min-width: 751px) {
	.pickupA01 .tags{
		width:298px;
		float:left;
	}
}
.pickupA01 .tags li{
	margin-left:8px;
	border-radius: 2px;
	padding: 6px 10px;
	display: inline-block;
	background: #afafaf;
	color: #fff;
	font-size:13px;
}
.pickupA01 .tags li + li{
	margin-top: 8px;
}
.pickupA01 .source{
	text-align:right;
}
@media screen and (min-width: 751px) {
	.pickupA01 .source{
		font-size:13px;
	}
}
@media screen and (max-width: 750px) {
	.pickupA01 .source{
		font-size:10px;
	}
}

.pickupB01{
	background:#fff;
	vertical-align: top;
}
.pickupB01 a{
	padding:20px 20px 10px;
	position:relative;
	display:block;
	position:relative;
	color:#595757;
	text-decoration:none;
}
.pickupB01 a:before{
	content:'';
	border:0 solid #00b2e8;
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	transition:all 0.1s ease;
}
.pickupB01 a:hover:before{
	border-width:3px;
}
.pickupB01 .image{
	margin-bottom: 20px;
}
@media screen and (min-width: 751px) {
	.pickupB01 .image{
		width:160px;
		height: 120px;
		background: #fafafa;
		line-height: 120px;
		text-align: center;
	}
	.pickupB01 .image img {
		max-width:160px;
		max-height: 120px;
		vertical-align: middle;
	}
}
@media screen and (max-width: 750px) {
	.pickupB01 .image{
		width:100%;
		max-height: 100px;
		background: #fafafa;
		line-height: 100px;
		text-align: center;
	}
	.pickupB01 .image img {
		max-width:100%;
		max-height: 100px;
		vertical-align: middle;
	}
}
.pickupB01 h3{
	margin-bottom: 20px;
	max-height: 3.8em;
	color:#3e3a39;
	font-size: 17px;
	line-height:1.2;
	font-weight: bold;
	overflow: hidden;
}
.pickupB01 h3 span{
	display:inline-block;
	padding:3px 8px;
	background:#00B2E8;
	margin-right:7px;
	margin-bottom:3px;
	font-size:11px;
	font-weight:bold;
	color:#fff;
}
.pickupB01 .company{
	max-height: 1.2em;
	font-size: 15px;
	line-height:1.2;
	overflow: hidden;
	color:#00b2e8;
	text-decoration:underline;
	word-break: break-all;
}
.pickupB01 .summary{
	margin-bottom: 20px;
	max-height: 6em;
	overflow: hidden;
	word-break: break-all;
	word-wrap: break-word;
}
.pickupB01 .types {
	margin-bottom: 8px;
}
.pickupB01 .types li {
	display: inline-block;
}
.pickupB01 .types li img {
	height: 16px;
	line-height: 1;
}
@media screen and (max-width: 750px) {
	.pickupB01 .types {
	}
	.pickupB01 .types li {
		margin-right: 0;
		margin-bottom: 0;
	}
	.pickupB01 .types li img {
		height: 16px;
	}
}
.pickupB01 table{
	box-sizing:border-box;
	border: 1px solid #afafaf;
	width: 100%;
}
.pickupB01 table th,
.pickupB01 table td{
	padding: 6px 10px;
	display: block;
}
.pickupB01 table th{
	background: #afafaf;
	color: #fff;
	font-weight: bold;
	text-align: center;
}
.pickupB01 table td div{
	max-height: 3em;
	overflow: hidden;
}
.pickupB01 .tags{
	font-size: 12px;
}
.pickupB01 .tags li{
	border-radius: 2px;
	padding: 6px 10px;
	display: inline-block;
	background: #afafaf;
	color: #fff;	
}
.pickupB01 .tags li + li{
	margin-top: 10px;
}
@media screen and (max-width: 750px) {
	.pickupB01{
		margin:0 -15px;
	}
	#asideContents h2{
		margin:0;
	}
	.pickupTtl{
		width:100%;
		height:inherit;
	}
}

#asideContents .pickupArea .pickupB01 {
	margin-top: 10px;
}
#asideContents .pickupArea .pickupB01 + h2 {
	margin-top: 10px;
}
@media screen and (max-width: 750px) {
	#asideContents .pickupArea {
		text-align: center;
	}
	#asideContents .pickupArea h2:not(:first-of-type) {
		display: none;
	}
	#asideContents .pickupArea .pickupB01 {
		display: inline-block;
		width: 45%;
		min-width: 136px;
		margin: 15px 0 0 0;
		text-align: left;
	}
	#asideContents .pickupArea .pickupB01:nth-of-type(2n-1) {margin-right: 5px;}
	#asideContents .pickupArea .pickupB01:nth-of-type(2n) {margin-left: 5px;}
	#asideContents .pickupArea .pickupB01 a {
		padding: 12px;
	}
}

.pickupC01{
	margin-bottom:10px;
	position:relative;
	padding:30px 40px 30px;
	background:#fff;
	color:#282828;
}
@media screen and (max-width: 750px) {
	.pickupC01{
		margin:0 -15px;
		padding:20px 15px 30px;
	}
}
.pickupC01 h2{
	margin-bottom:30px;
	padding-left:110px;
	font-size:25px;
	font-weight:bold;
	line-height:1.2;
	position:relative;
}
.pickupC01 h2 .pickup{
	margin:0;
	width:96px;
	display:block;
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	overflow:hidden;
	text-indent:-9999px;
	background-color:#ffea00;
	background-image:url(/public/images/common/pickup-c01_ttl_01.png);
	background-position:center center;
	background-repeat:no-repeat;
	background-size:63px 18px;
}
@media screen and (max-width: 750px) {
	.pickupC01 h2{
		margin-bottom:15px;
		padding-left:54px;
		font-size:18px;
	}
	.pickupC01 h2 .pickup{
		width:45px;
		background-size:35px 10px;
	}
}
.pickupC01 .slideA01{
	margin:0 -40px 20px;
}
@media screen and (max-width: 750px) {
	.pickupC01 .slideA01{
		margin:0 -15px 20px;
	}
}
.pickupC01 .company{
	margin-bottom:30px;
	color:#00b2e8;
	font-size:21px;
	line-height:1.2;
}
@media screen and (max-width: 750px) {
	.pickupC01 .company{
		margin-bottom:20px;
		font-size:15px;
	}
}
.pickupC01 .summary{
	margin-bottom:30px;
	word-break: break-all;
	word-wrap: break-word;
}
.pickupC01 dl{
}
.pickupC01 dl + dl{
	margin-top:20px;
	padding-top:20px;
	border-top:1px solid #aeaeaf;
}
@media screen and (max-width: 750px) {
	.pickupC01 dl + dl{
		margin-top:15px;
		padding-top:15px;
	}
}
.pickupC01 dl + dl dt,
.pickupC01 dl + dl dd{
}
.pickupC01 dl dt,
.pickupC01 dl dd{
	display:table-cell;
	font-size:14px;
	vertical-align:top;
}
.pickupC01 dl dt{
	padding-right:20px;
	white-space:nowrap;
}
@media screen and (max-width: 750px) {
	.pickupC01 dl dt{
		padding-right:10px;
	}
}
.pickupC01 dl dt span{
	padding:0 10px;
	border:1px solid #00b2e8;
	display:block;
	color:#00b2e8;
}

.pickupConteiner{
	margin:0 -10px 0 0;
}
.pickupConteiner:after {
	height: 0;
	display: block;
	clear: both;
	visibility: hidden;
	content: ".";
	line-height: 0;
}

.pickupD01{
	width:355px;
	float:left;
	margin:0 10px 10px 0;
	position:relative;
	background:#fff;
}
@media screen and (max-width: 750px) {
	.pickupConteiner{
		margin-right:-15px;
		margin-left:-15px;
		margin-bottom: 0px;
	}
	.pickupD01{
		width:100%;
		float:none;
		border-bottom:1px solid #00b2e8;
		margin-bottom:0;
	}
}
.pickupD01 a{
	padding:20px 27px 20px;
	display:block;
	position:relative;
	color:#595757;
	text-decoration:none;
}
.pickupD01 a:before{
	content:'';
	border:0px solid #00b2e8;
	position:absolute;
	top:0;
	right:0;
	left:0;
	bottom:0;
	transition:all 0.1s ease;
}
.pickupD01 a:hover:before{
	border-width:3px;
}
@media screen and (max-width: 750px) {
	.pickupD01 a{
		padding:25px 15px 15px;
	}
}
.pickupD01 h2{
	position:absolute;
}
@media screen and (min-width: 751px) {
	.pickupD01 h2{
		margin-top:-7px;
		margin-right:-7px;
		top:0;
		right:0;
	}
	.pickupD01 h2 img{
		width:169px;
	}
}
@media screen and (max-width: 750px) {
	.pickupD01 h2{
	}
	.pickupD01 h2 img{
		width:89px;
	}
}
.pickupD01 h3{
	overflow: hidden;
	max-height: 3.8em;
	min-height: 3.8em;
	margin-bottom:30px;
	color:#3e3a39;
	font-size:21px;
	font-weight:bold;
	line-height:1.2;
	text-decoration:underline;
}
@media screen and (max-width: 750px) {
	.pickupD01 h3{
		margin-bottom:20px;
		min-height: 0;
	}
}
.pickupD01 h3 span{
	display:inline-block;
	padding:4px 10px;
	background:#00B2E8;
	margin-right:7px;
	margin-bottom:3px;
	font-size:14px;
	font-weight:bold;
	color:#fff;
}
.pickupD01 a > .contentsInner{}
@media screen and (min-width: 751px) {
	.pickupD01 a > .contentsInner:before,
	.pickupD01 a > .contentsInner:after {
		content:"";
		display:table;
	}
	.pickupD01 a > .contentsInner:after {
		clear:both;
	}
}
.pickupD01 .image{
	margin-bottom:20px;
}
@media screen and (min-width: 751px) {
	.pickupD01 .image{
		width:300px;
		height: 225px;
		line-height: 225px;
		background: #fafafa;
		text-align: center;
	}
	.pickupD01 .image img {
		max-width:300px;
		max-height: 225px;
		vertical-align: middle;
	}
}
@media screen and (max-width: 750px) {
	.pickupD01 .image{
		float: left;
		width: 45%;
		min-height: 100px;
		margin-right:auto;
		margin-left:auto;
		position:relative;
	}
	.pickupD01 .image img{
		width:100%;
		height:auto;
	}
	.pickupD01 .image:before{
	}
}
.pickupD01 .company{
	overflow:hidden;
	color:#00b2e8;
	font-weight:bold;
	line-height:1.2;
	text-decoration:underline;
	text-overflow:ellipsis;
	white-space: nowrap;
}
@media screen and (min-width: 751px) {
	.pickupD01 .company{
		width:100%;
		/*float:right;*/
		font-size:18px;
	}
}
@media screen and (max-width: 750px) {
	.pickupD01 .company{
		margin-bottom:15px;
		font-size:15px;
	}
}
.pickupD01 .summary{
	margin-bottom:20px;
	width:100%;
	max-height:9.1em;
	min-height:9.1em;
	overflow:hidden;
	word-break: break-all;
	word-wrap: break-word;
}
@media screen and (max-width: 750px) {
	.pickupD01 .summary{
		display: none;
	}
}
.pickupD01 .types {
	margin-bottom: 8px;
}
.pickupD01 .types li {
	display: inline-block;
}
.pickupD01 .types li img {
	height: 18px;
	line-height: 1;
}
@media screen and (max-width: 750px) {
	.pickupD01 .types {
		float: right;
		width: 50%;
		margin-bottom: 6px;
	}
	.pickupD01 .types li {
		margin-right: 0;
		margin-bottom: 3px;
	}
}
.pickupD01 table{
	box-sizing:border-box;
	border:1px solid #afafaf;
	width:100%;
	margin-bottom:0px;
}
@media screen and (min-width: 751px) {
	.pickupD01 table{
		width:100%;
		/*float:right;*/
	}
}
.pickupD01 table th,
.pickupD01 table td{
	height: 3em;
	padding:10px;
	vertical-align: middle;
}
.pickupD01 table th{
	width:4em;
	background:#afafaf;
	color:#fff;
	text-align:center;
}
@media screen and (min-width: 751px) {
	.pickupD01 table tr + tr th{
		border-top:1px solid #fff;
	}
}
.pickupD01 table tr + tr td{
	border-top:1px solid #afafaf;
}
.pickupD01 table td div{
	max-height: 3em;
	overflow: hidden;
}
@media screen and (max-width: 750px) {
	.pickupD01 table td div{
		min-height: 0;
	}
}
.pickupD01 .tags{
	margin-top:-8px;
	margin-left:-8px;
	font-size:0;
}
@media screen and (min-width: 751px) {
	.pickupD01 .tags{
		width:298px;
		float:left;
	}
}
.pickupD01 .tags li{
	margin-left:8px;
	border-radius: 2px;
	padding: 6px 10px;
	display: inline-block;
	background: #afafaf;
	color: #fff;
	font-size:13px;
}
.pickupD01 .tags li + li{
	margin-top: 8px;
}
.pickupD01 .source{
	text-align:right;
}
@media screen and (min-width: 751px) {
	.pickupD01 .source{
		font-size:13px;
	}
}
@media screen and (max-width: 750px) {
	.pickupD01 .source{
		font-size:10px;
	}
}

@media screen and (max-width: 750px) {
	.pickupD01 a {
		position: relative;
	}
	.pickupD01 h3 {
		float: right;
		width: 50%;
	}
	.pickupD01 .company {
		float: right;
		width: 50%;
	}
	.pickupD01 table {
		clear: both;
	}
}
@media screen and (max-width: 380px) {
	.pickupD01 h3 {
		max-height: 2.5em;
		overflow: hidden;
	}
}

.pickupA01 h3 span.new,
.pickupB01 h3 span.new,
.pickupD01 h3 span.new{
	background:#DD007F;
}
.pickupA01 h3 span.pickup,
.pickupB01 h3 span.pickup,
.pickupD01 h3 span.pickup{
	background:#FFCC00;
}
@media screen and (max-width: 750px) {
	.pickupD01 h3 span.new{
		padding: 3px 6px;
		line-height: 14px;
	}
	.pickupD01 h3 span.pickup{
		padding: 3px 6px;
		line-height: 14px;
	}
}
.pickupA01 table td div,
.pickupB01 table td div,
.pickupD01 table td div{
	word-break: break-all;
}

/* ======================= pickup end ======================== */

/* ======================= result start ======================== */
.resultA01{
	margin-bottom:10px;
}
@media screen and (max-width: 750px) {
	.resultA01{
		margin-top:-20px;
		margin-right:-15px;
		margin-left:-15px;
		border-bottom:2px solid #00b2e8;
	}
}
.resultA01 header{
}
.resultA01 header .keywords{
	border:1px solid #595757;
	background:#fff;
	color:#828282;
}
.resultA01 header .num{
	color:#00b2e8;
}
@media screen and (min-width: 751px) {
	.resultA01 header{
		padding:30px 40px 20px;
		background:#fff;
	}
	.resultA01 header .keywords{
		padding:10px;
		font-size:20px;
		line-height:1.2;
	}
	.resultA01 header .num{
		font-size:20px;
		line-height:1.2;
	}
}
@media screen and (max-width: 750px) {
	.resultA01 header{
		padding:20px 15px 10px;
		background:#f0f0f0;
	}
	.resultA01 header .keywords{
		padding:15px 10px;
	}
	.resultA01 header .num{
		font-size:18px;
		line-height:1.2;
	}
}
.resultA01 article{
	border-top:2px solid #00b2e8;
	position:relative;
	background:#fff;
}
.resultA01 article > a{
	padding:30px 40px 20px;
	display:block;
	position:relative;
	color:#595757;
	text-decoration:none;
}
.resultA01 article > a:before{
	content:'';
	border:0 solid #00b2e8;
	position:absolute;
	display:block;
	top:0;
	right:0;
	bottom:0;
	left:0;
	transition:all 0.1s ease;
}
.resultA01 article > a:hover:before{
	border-top-width:2px;
	border-right-width:3px;
	border-bottom-width:2px;
	border-left-width:3px;
}

@media screen and (max-width: 750px) {
	.resultA01 article.pickupA01{
		margin:0
	}
	.resultA01 article a{
		padding:25px 15px 15px;
	}
}
.resultA01 article h2{
	margin-bottom:30px;
	color:#3e3a39;
	font-size:21px;
	font-weight:bold;
	line-height:1.2;
	text-decoration:underline;
}
@media screen and (max-width: 750px) {
	.resultA01 article h2{
		margin-bottom:20px;
	}
}
.resultA01 article a > .contentsInner{}
@media screen and (min-width: 751px) {
	.resultA01 article a > .contentsInner:before,
	.resultA01 article a > .contentsInner:after {
		content:"";
		display:table;
	}
	.resultA01 article a > .contentsInner:after {
		clear:both;
	}
}
.resultA01 article .image{
	margin-bottom:20px;
}
@media screen and (min-width: 751px) {
	.resultA01 article .image {
		float: left;
		width:300px;
		height: 225px;
		line-height: 225px;
		background: #fafafa;
		text-align: center;
	}
	.resultA01 article .image img {
		max-width:300px;
		max-height: 225px;
		vertical-align: middle;
	}
}
@media screen and (max-width: 750px) {
	.resultA01 article .image {
		margin-right:auto;
		margin-left:auto;
		background: #fafafa;
		display:table;
		position:relative;
		text-align: center;
	}
	.resultA01 article .image img {
		width:100%;
		max-width: 100%;
		min-width: 285px;
		vertical-align: middle;
	}
}
.resultA01 article .company{
	overflow:hidden;
	color:#00b2e8;
	font-weight:bold;
	line-height:1.2;
	text-decoration:underline;
	text-overflow:ellipsis;
	white-space: nowrap;
}
@media screen and (min-width: 751px) {
	.resultA01 article .company{
		width:312px;
		float:right;
		font-size:18px;
	}
}
@media screen and (max-width: 750px) {
	.resultA01 article .company{
		margin-bottom:15px;
		font-size:15px;
	}
}
.resultA01 article .summary{
	margin-bottom:20px;
	width:312px;
	float:right;
	word-break: break-all;
	word-wrap: break-word;
}
.resultA01 .details {
}
@media screen and (min-width: 751px) {
	.resultA01 .details {
		width:312px;
		float:right;
	}
}
.resultA01 .types {
	margin-bottom: 8px;
}
.resultA01 .types li {
	display: inline-block;
}
.resultA01 .types li img {
	height: 19px;
	line-height: 1;
}
@media screen and (max-width: 750px) {
	.resultA01 .types {
		margin-bottom: 0;
	}
	.resultA01 .types li {
		margin-right: 0;
		margin-bottom: 8px;
	}
	.resultA01 .types li img {
		height: 24px;
	}
}
@media screen and (max-width: 414px) {
	.resultA01 .types {
		margin-bottom: 0;
	}
	.resultA01 .types li {
		margin-right: -2px;
		margin-bottom: 6px;
	}
	.resultA01 .types li img {
		height: 18px;
	}
}
.resultA01 article table{
	box-sizing:border-box;
	border:1px solid #afafaf;
	width:100%;
}
@media screen and (min-width: 751px) {
	.resultA01 article table{
		width:312px;
		float:right;
	}
	.resultA01 article .details table{
		width:312px;
		float:none;
	}
}
.resultA01 article table th,
.resultA01 article table td{
	height: 3em;
	padding:10px;
	vertical-align: middle;
}
.resultA01 article table th{
	width:4em;
	background:#afafaf;
	color:#fff;
	text-align:center;
}
@media screen and (min-width: 751px) {
	.resultA01 article table tr + tr th{
		border-top:1px solid #fff;
	}
}
.resultA01 article table tr + tr td{
	border-top:1px solid #afafaf;
}
.resultA01 article table td div{
	max-height: 3em;
	overflow: hidden;
	word-break: break-all;
}
.resultA01 article .tags{
	margin-top:-8px;
	margin-left:-8px;
	font-size:0;
}
@media screen and (min-width: 751px) {
	.resultA01 article .tags{
		width:298px;
		float:left;
	}
}
.resultA01 article .tags li{
	margin-left:8px;
	border-radius: 2px;
	padding: 6px 10px;
	display: inline-block;
	background: #afafaf;
	color: #fff;
	font-size:13px;
}
.resultA01 article .tags li + li{
	margin-top: 8px;
}
.resultA01 article .source{
	text-align:right;
}
@media screen and (min-width: 751px) {
	.resultA01 article .source{
		font-size:13px;
	}
}
@media screen and (max-width: 750px) {
	.resultA01 article .source{
		font-size:10px;
	}
}
.resultA01 footer{
	border-top:2px solid #00b2e8;
	color:#000;
}
.resultA01 footer dl{
	margin:0;
	text-align:center;
	font-size:0;
}
.resultA01 footer dt,
.resultA01 footer dd{
	display:inline-block;
}
.resultA01 footer ul{
	margin:0;
}
.resultA01 footer li{
	display:inline-block;
}
.resultA01 footer li a{
	padding:8px 10px;
	display:block;
	background:#fff;
	color:#000;
	text-decoration:none;
}
.resultA01 footer li.prev a,
.resultA01 footer li.next a{
	padding:0;
	background:#f0f0f0;
	color:#0000ff;
	text-decoration:underline;
}
.resultA01 footer li span{
	padding:8px 10px;
	display:block;
	color:#000;
}
@media screen and (min-width: 751px) {
	.resultA01 footer{
		padding:30px 10px;
	}
	.resultA01 footer dt,
	.resultA01 footer li{
		font-size:18px;
		line-height:1.2;
	}
	.resultA01 footer dt{
		margin-right:20px;
	}
	.resultA01 footer li{
		margin-left:10px;
	}
	.resultA01 footer li.prev{
		margin-right:10px;
	}
	.resultA01 footer li.next{
		margin-left:20px;
	}
}
@media screen and (max-width: 750px) {
	.resultA01 footer{
		padding:15px;
		background:#fff;
	}
	.resultA01 footer dt,
	.resultA01 footer li{
		font-size:15px;
		line-height:1.2;
	}
	.resultA01 footer dt{
		margin-bottom:10px;
		display:block;
	}
	.resultA01 footer dd{
		display:block;
	}
	.resultA01 footer li{
		margin-left:15px;
	}
	.resultA01 footer li.prev{
		margin-right:3px;
	}
	.resultA01 footer li.next{
		margin-left:13px;
	}
	.resultA01 footer li a{
		background:#dadcdd;
	}
	.resultA01 footer li.prev a,
	.resultA01 footer li.next a{
		background:#fff;
	}
}

.rectangleBnr{
}
.rectangleBnr p{
	margin-bottom:0;
}
@media screen and (min-width: 751px) {
	.rectangleBnr p{
		width:200px;
		text-align: center;
	}
	.rectangleBnr p img {
		width: 100%;
		max-width:200px;
		vertical-align: top;
	}
}
@media screen and (max-width: 750px) {
	.rectangleBnr p{
		width:100%;
		max-width: 290px;
		margin:0 auto;
	}
	.rectangleBnr p img{
		width:100%;
		height: auto;
	}
}
/* ======================= result end ======================== */

/* ======================= searchMap start ======================== */
.searchMapA01{
	margin-bottom:29px;
	min-height:620px;
	position:relative;
	background:url(/public/images/common/searchmap-a01_bg_01.png) no-repeat scroll right 100px;
}
@media screen and (max-width: 750px) {
	.searchMapA01{
		min-height:1px;
		background:none;
	}
}
.searchMapA01 .searchArea{
	margin-top:22px;
	border-radius:2px;
	padding: 15px 30px 1px;
	width: 450px;
	background: #fff;
	color: #828282;
}
@media screen and (max-width: 750px) {
	.searchMapA01 .searchArea{
		padding:20px 15px 1px;
		box-sizing:border-box;
		width:100%;
	}
}
.searchMapA01 h1{
	margin-bottom: 5px;
	color:#00b2e8;
	font-size: 42px;
	font-weight:bold;
	line-height: 1.4;
	text-align: center;
}

.searchMapA01 .searchArea h2{
	margin-bottom: 20px;
	color: #00b2e8;
	font-size: 26px;
	font-weight:bold;
	line-height: 1.2;
	text-align: center;
}
.searchMapA01 .searchArea p{
	margin-bottom: 20px;
}
.searchMapA01 .searchArea input{
	box-sizing:border-box;
	width: 100%;
	font-size:16px;
}
.searchMapA01 .searchArea .search{
	position: relative;
	height: 45px;
	background:#dd007f;
	transition:all 0.2s ease;
}
.searchMapA01 .searchArea .search:hover{
	background:#e43399;
}
.searchMapA01 .searchArea .search:before{
	content:'';
	margin:auto;
	width: 90px;
	height: 24px;
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	background-image:url(/public/images/common/mod_btn_search_01.png);
	background-size: 90px 24px;
}
@media screen and (max-width: 750px) {
	.searchMapA01 .searchArea .search:before{
		width:80px;
		height:21px;
		background-size: 80px 21px;
	}
}
.searchMapA01 .searchArea .search button{
	border:none;
	width:100%;
	display:block;
	position:absolute;
	top:0;
	bottom:0;
	background:none;
	color:#fff;
	outline:none;
	text-indent: -9999px;
	z-index:2;
}
.searchMapA01 .area li{
	width:88px;
	height:34px;
	position:absolute;
}
@media screen and (max-width: 750px) {
	.searchMapA01 .area li{
		position:static;
	}
}
.searchMapA01 .area li a{
	width:inherit;
	height:inherit;
	display:block;
	position:relative;
	overflow:hidden;
}
.searchMapA01 .area li a:before,
.searchMapA01 .area li a:after{
	content:'';
	width:inherit;
	height:inherit;
	display:block;
	background-image:url(/public/images/common/searchmap-a01_img_0.gif);
}
.searchMapA01 .area li a:after{
	position:absolute;
	top:0;
	left:0;
	transition:all 0.2s ease;
}
.searchMapA01 .area li a:hover:after{
	opacity:0;
}
.searchMapA01 .area li.area01{ top:145px; left:539px; }
.searchMapA01 .area li.area02{ top:312px; left:539px; }
.searchMapA01 .area li.area03{ top:527px; right:0; }
.searchMapA01 .area li.area04{ top:434px; left:487px; }
.searchMapA01 .area li.area05{ top:535px; left:435px; }
.searchMapA01 .area li.area06{ top:434px; left:281px; }
.searchMapA01 .area li.area07{ top:561px; left:278px; }
.searchMapA01 .area li.area08{ top:444px; left:94px; }
.searchMapA01 .area li.area09{ top:517px; left:20px; }
.searchMapA01 .area li.area01 a:before{background-position:-88px 0;}
.searchMapA01 .area li.area02 a:before{background-position:-88px -34px; }
.searchMapA01 .area li.area03 a:before{background-position:-88px -68px; }
.searchMapA01 .area li.area04 a:before{background-position:-88px -102px; }
.searchMapA01 .area li.area05 a:before{background-position:-88px -136px; }
.searchMapA01 .area li.area06 a:before{background-position:-88px -170px; }
.searchMapA01 .area li.area07 a:before{background-position:-88px -204px; }
.searchMapA01 .area li.area08 a:before{background-position:-88px -238px; }
.searchMapA01 .area li.area09 a:before{background-position:-88px -272px; }
.searchMapA01 .area li.area01 a:after{background-position:0 0;}
.searchMapA01 .area li.area02 a:after{background-position:0 -34px; }
.searchMapA01 .area li.area03 a:after{background-position:0 -68px; }
.searchMapA01 .area li.area04 a:after{background-position:0 -102px; }
.searchMapA01 .area li.area05 a:after{background-position:0 -136px; }
.searchMapA01 .area li.area06 a:after{background-position:0 -170px; }
.searchMapA01 .area li.area07 a:after{background-position:0 -204px; }
.searchMapA01 .area li.area08 a:after{background-position:0 -238px; }
.searchMapA01 .area li.area09 a:after{background-position:0 -272px; }

/* ======================= searchMap end ======================== */

/* ======================= slide start ======================== */
.slideA01 {
	margin-bottom: 20px;
	position: relative;
}
@media screen and (max-width: 750px) {
	.slideA01{
	margin:0 -15px 20px;
	}
}
.slideA01 h2 {
	position:absolute;
}
@media screen and (min-width: 751px) {
	.slideA01 h2{
		margin-top:-7px;
		margin-right:-7px;
		top:0;
		right:0;
		z-index:5;
	}
	.slideA01 h2 img{
		width:169px;
	}
}
@media screen and (max-width: 750px) {
	.slideA01 h2{
	}
	.slideA01 h2 img{
		width:89px;
	}
}
.slideA01 .slidesContainer {
	overflow: hidden;
}
.slideA01 .slides,
.slideA01 .slides02 {
	margin-bottom: 0;
	width: 1000% !important;
	position: relative;
}
.slideA01 .slides:after,
.slideA01 .slides02:after {
	height: 0;
	display: block;
	clear: both;
	visibility: hidden;
	content: ".";
	line-height: 0;
}
.slideA01 .slides>li,
.slideA01 .slides02>li {
	width: 10%;
	float: left;
}
.slideA01 .slides>li:first-child,
.slideA01 .slides02>li:first-child {
	display: block;
}
.slideA01 .slideControl {
	margin-top:12px;
	clear: both;
}

.slideA01 .slideControl .cursor li {
  margin: auto;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 0;
  bottom: 30px;
}
@media screen and (min-width: 751px) {
  .slideA01 .slideControl .cursor li {
    transition: all 0.2s ease;
    opacity: 0;
  }
}
@media screen and (max-width: 750px) {
  .slideA01 .slideControl .cursor li {
    width: 30px;
    height: auto;
  }
}
.slideA01 .slideControl .cursor li a {
  margin-top: -20px;
  width: inherit;
  height: inherit;
  display: block;
  overflow: hidden;
  font-size: 0;
}
.slideA01 .slideControl .cursor li a:before {
  content: '';
  width: inherit;
  height: inherit;
  display: block;
  background-image: url(/public/images/common/mod_arrow_05.png);
}
.slideA01 .slideControl .cursor li.prev {
  position: absolute;
  left: 0px;
}
.slideA01 .slideControl .cursor li.prev a {
  padding: 20px 20px 20px 6px;
}
.slideA01 .slideControl .cursor li.prev a:before {
  background-position: left top;
}
.slideA01 .slideControl .cursor li.next {
  position: absolute;
  right: 26px;
}
@media screen and (max-width: 750px) {
  .slideA01 .slideControl .cursor li.next {
    right: 0;
  }
}
.slideA01 .slideControl .cursor li.next a {
  padding: 20px 6px 20px 20px;
}
.slideA01 .slideControl .cursor li.next a:before {
  background-position: right top;
}
@media screen and (min-width: 751px) {
  .slideA01 .slidesContainer:hover + .slideControl .cursor li,
  .slideA01 .slideControl .cursor:hover li {
    opacity: 1;
  }
}
@media screen and (max-width: 750px) {
  .slideA01 .slideControl .cursor li.prev a,
  .slideA01 .slideControl .cursor li.next a {
    position: absolute;
	top: 40%;
	width: 32px;
	height: 32px;
	margin-top: 0;
	padding: 0;
  }
  .slideA01 .slideControl .cursor li.next a {
	right: 0;
  }
}

.slideA01 .slideControl .select{
	margin: auto;
	display:table;
}
.slideA01 .slideControl .select li {
	display: table-cell;
}
.slideA01 .slideControl .select li + li{
	padding-left:10px;
}
.slideA01 .slideControl .select li a {
	border-radius:50%;
	width: 12px;
	height: 12px;
	display: block;
	background: #d2d2d2;
	line-height: 0;
	text-indent: -9999px;
	transition: all 0.2s ease;
}
.slideA01 .slideControl .select li.active a{
	background: #00b2e8 !important;
}
.slideA01 .slideControl .select li a:hover {
	background: #dbdbdb;
}
/* ======================= slide end ======================== */

/* ======================= step start ======================== */
.stepA01{
	margin:0;
	width:100%;
	display:table;
	border-collapse:collapse;
	table-layout:fixed;
}
.stepA01 li{
	border:1px solid #e8e8e8;
	padding:15px 10px;
	display:table-cell;
	position:relative;
	background:#fff;
	color:#3e3a39;
	font-weight:bold;
	text-align:center;
}
.stepA01 li.current{
	border-color:#f0f0f0;
	background:#f0f0f0;
	color:#00b2e8;
}
.stepA01 li:before,
.stepA01 li:after{
	content:'';
	margin:auto;
	width:0;
	height:0;
	position:absolute;
	top:0;
	bottom:0;
	display:block;
	position:absolute;
	z-index:2;
}
.stepA01 li:before{
	border-top:11px solid transparent;
	border-left:12px solid #e8e8e8;
	border-bottom:11px solid transparent;
	right:-12px;
}
.stepA01 li:after{
	border-top:9px solid transparent;
	border-left:11px solid #fff;
	border-bottom:9px solid transparent;
	right:-11px;
}
.stepA01 li.current:before{
	border-left:12px solid #e8e8e8;
}
.stepA01 li.current:after{
	border-left:11px solid #f0f0f0;
	right:-11px;
}
.stepA01 li:last-child:before,
.stepA01 li:last-child:after{
	display:none;
}
/* ======================= step end ======================== */

/* ======================= tab start ======================== */
@media screen and (max-width: 750px) {
	.tabA01,
	.tabA02{
		margin:0 -15px;
	}
	.tabA01{
		margin-bottom:-7px;
	}
	.tabA02{
		margin-top:-7px;
	}
}
.tabA01 ul,
.tabA02 ul{
	margin-bottom:7px;
	border:3px solid #00b2e8;
	display:table;
}
@media screen and (max-width: 750px) {
	.tabA01 ul,
	.tabA02 ul{
		box-sizing:border-box;
		width:100%;
		table-layout:fixed;
	}
}
.tabA02 ul{
	margin:7px 0 10px;
}
.tabA01 ul li,
.tabA02 ul li{
	display:table-cell;
	position:relative;
	vertical-align:top;
}
.tabA01 ul li.active:before{
	content:'';
	margin:auto;
	border-top:13px solid #00b2e8;
	border-right:12px solid transparent;
	border-left:12px solid transparent;
	width:0;
	height:0;
	position:absolute;
	right:0;
	bottom:-13px;
	left:0;
	z-index:2;
}
.tabA02 ul li.active:before{
	content:'';
	margin:auto;
	border-bottom:13px solid #00b2e8;
	border-right:12px solid transparent;
	border-left:12px solid transparent;
	width:0;
	height:0;
	position:absolute;
	top:-13px;
	right:0;
	left:0;
	z-index:2;
}
.tabA01 ul li a,
.tabA02 ul li a{
	padding:14px 20px 14px 45px;
	display:block;
	position:relative;
	background:#fff;
	font-size:19px;
	text-decoration:none;
	transition:all 0.2s ease;
}
@media screen and (max-width: 750px) {
	.tabA01 ul li a,
	.tabA02 ul li a{
		padding:13px 10px 13px 40px;
		font-size:16px;
	}
}
.tabA01 ul li a:before{
	content:'';
	margin:auto;
	border-top:13px solid #00b2e8;
	border-right:9px solid transparent;
	border-left:9px solid transparent;
	width:0;
	height:0;
	position:absolute;
	top:0;
	bottom:0;
	left:20px;
	transition:all 0.2s ease;
}
@media screen and (max-width: 750px) {
	.tabA01 ul li a:before{
		border-top:11px solid #00b2e8;
		border-right:8px solid transparent;
		border-left:8px solid transparent;
	}
}
.tabA02 ul li a:before{
	content:'';
	margin:auto;
	border-bottom:13px solid #00b2e8;
	border-right:9px solid transparent;
	border-left:9px solid transparent;
	width:0;
	height:0;
	position:absolute;
	top:0;
	bottom:0;
	left:20px;
	transition:all 0.2s ease;
}
@media screen and (max-width: 750px) {
	.tabA02 ul li a:before{
		border-bottom:11px solid #00b2e8;
		border-right:8px solid transparent;
		border-left:8px solid transparent;
	}
}

.tabA01 ul li.active a,
.tabA02 ul li.active a{
	background:#00b2e8;
	color:#fff;
}
.tabA01 ul li.active a:before{
	border-top:13px solid #fff;
}
.tabA02 ul li.active a:before{
	border-bottom:13px solid #fff;
}
/* =========================== tab end ============================ */


/* =========================== btn start =========================== */
.btnA01{
	padding:20px 80px 20px 50px;
	display:inline-block;
	position:relative;
	background:#dd007f;
	color:#fff;
	font-size:24px;
	font-weight:bold;
	line-height:1.2;
	text-decoration:none;
	transition:all 0.2s ease;
}
.btnA01:hover{
	background:#e43399;
}
.btnA01:before{
	content:'';
	margin:auto;
	border-top:12px solid transparent;
	border-bottom:12px solid transparent;
	border-left:18px solid #fff;
	width:0;
	height:0;
	display:block;
	position:absolute;
	top:0;
	right:50px;
	bottom:0;
}
@media screen and (max-width: 750px) {
	.btnA01{
		padding:10px 40px 10px 25px;
		font-size:15px;
	}
	.btnA01:before{
		border-top:8px solid transparent;
		border-bottom:8px solid transparent;
		border-left:10px solid #fff;
		right:25px;
	}
}

.btnA02{
	padding:20px 50px;
	display:inline-block;
	background:#00b2e8;
	color:#fff;
	font-size:24px;
	font-weight:bold;
	line-height:1.2;
	text-decoration:none;
	transition:all 0.2s ease;
}
.btnA02:hover{
	background:#33c1ed;
}
.btnA02 span{
	display:inline-block;
	position:relative;
	padding-left: 30px;
}
.btnA02 span:before{
	content:'';
	margin:auto;
	border-top:12px solid transparent;
	border-bottom:12px solid transparent;
	border-left:18px solid #fff;
	width:0;
	height:0;
	display:block;
	position:absolute;
	top:0;
	left:0;
	bottom:0;
}
@media screen and (max-width: 750px) {
	.btnA02{
		padding:10px 25px;
		font-size:15px;
	}
	.btnA02 span{
		padding-left: 15px;
	}
	.btnA02 span:before{
		border-top:8px solid transparent;
		border-bottom:8px solid transparent;
		border-left:10px solid #fff;
		left:0;
	}
}

.btnB01,
.btnB02,
.btnB03{
	padding:20px 40px;
	display:inline-block;
	background:#00b2e8;
	color:#fff;
	font-size:18px;
	font-weight:bold;
	line-height:1.2;
	text-decoration:none;
	transition:all 0.2s ease;
}
.btnB03{
	padding: 16px 110px;
	font-size: 24px;
}
@media screen and (max-width: 750px) {
	.btnB01,
	.btnB02,
	.btnB03{
		padding:20px 20px;
		font-size:15px;
	}
}
.btnB02{ background:#dd007f; }
.btnB01:hover,.btnB03:hover{ background:#33c1ed; }
.btnB02:hover{ background:#e43399; }
.btnB01 span,
.btnB02 span,
.btnB03 span{
	padding-left:30px;
	display:inline-block;
	position:relative;
}
.btnB01 span:before,
.btnB02 span:before,
.btnB03 span:before{
	content:'';
	margin:auto;
	border-radius:50%;
	width:21px;
	height:21px;
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	background-position:-42px 0;
	background-size:84px 21px;
}
.btnB01 span:before,
.btnB03 span:before{ background-image:url(/public/images/common/mod_arrow_03.png); }
.btnB02 span:before{ background-image:url(/public/images/common/mod_arrow_04.png); }
.btnB01.left span:before,
.btnB03.left span:before{ background-position:-63px 0; }
.btnB02.left span:before{ background-position:-63px 0; }


.btnListA01{}
@media screen and (min-width: 751px) {
	.btnListA01{
		margin-left:-10px;
		font-size:0;
	}
	.btnListA01 li{
		margin-left:10px;
		display:inline-block;
		font-size:14px;
	}
}
@media screen and (max-width: 750px) {
	.btnListA01 li a{
		box-sizing:border-box;
		width:100%;
	}
}

.btnListB01{}
.btnListB01 li a{
	box-sizing:border-box;
	width:100%;
}
@media screen and (min-width: 751px) {
	.btnListB01{
		width:100%;
		display:table;
		table-layout:fixed;
	}
	.btnListB01 li{
		padding-right:18px;
		display:table-cell;
	}
	.btnListB01 li + li{
		padding-right:0;
		padding-left:18px;
	}
}
@media screen and (max-width: 750px) {
	.btnListB01 li{
		display:block;
	}
	.btnListB01 li + li{
		margin-top:10px;
	}
}

.textA01{
	color: #00b2e8;
}
.textA02{
	color: #e21d1d;
}


/* =========================== btn end =========================== */


/*----------------------------------------------------------------------------------------

　　　　　　　　　　　　　　　　　　　　page Unique　【 start 】
　
----------------------------------------------------------------------------------------*/


/* ========================= about start ========================== */
.uniqueAbout01{
	margin:-30px -40px 40px;
}
@media screen and (max-width: 750px) {
	.uniqueAbout01{
		margin: -30px -15px 20px -15px;
	}
}

.uniqueAbout02 .image{
	width:145px;
	text-align:center;
}
.uniqueAbout02 .image img{
	margin: 0 auto;
}
.uniqueAbout02.merit1 .image img{ margin-top:-46px; }
.uniqueAbout02.merit2 .image img{ margin-top:-49px; }

@media screen and (max-width: 750px) {
	.uniqueAboutHeading {
		overflow: hidden;
	}
	.uniqueAboutHeading img {
		display: block;
		float: left;
	}
	.uniqueAbout02 .image{
		width:140px;
		text-align:center;
	}
	.uniqueAbout02.merit1 .image img{ margin-top:0; }
	.uniqueAbout02.merit2 .image img{ margin-top:0; }

}

/* ===== Contact ====== */
.uniqueContact01{
	padding:50px 30px 40px;
}
@media screen and (max-width: 750px) {
	.uniqueContact01{
		padding:40px 15px 30px;
	}
	.uniqueContact01 .message01{
		font-size:20px !important;
	}
	.uniqueContact01 .message02{
		font-size:12px !important;
	}
}
/* ========================= about end ========================== */

/* ========================= term start ========================== */
.uniqueTerm01{}
@media screen and (max-width: 750px) {
	.uniqueTerm01{
		border:1px solid #d2d2d2;
		padding:12px 12px 2px;
		max-height:240px;
		overflow-y:scroll;
	}
	.uniqueTerm01::-webkit-scrollbar{ /* スクロールバー本体 */
		width: 8px;
		background: #eee;
	}
	.uniqueTerm01::-webkit-scrollbar-thumb{ /* スクロールバーの動く部分 */
		background: #ccc;
		border-radius: 4px;
	}
}
/* ========================= term end ========================== */

/* ========================= client contact start ========================== */
.uniqueClientContact01{
	padding-top: 40px;
	padding-bottom: 40px;
}
.uniqueClientContact01 + .unitA01{	margin-top: 0;}
.uniqueClientContact01 h2{	margin-bottom: 20px;}
.uniqueClientContact01 h2 img {	margin: 0 auto;}
.uniqueClientContact01 h2 + p {	width: 19em;margin: 0 auto 30px auto;font-weight: bold;text-align: center;}
.uniqueClientContact01 .btnB02{	margin-top: 0.5em;padding: 10px 34px;font-size:16px;}
@media screen and (max-width: 750px) {
	.uniqueClientContact01{
		padding-top: 30px;
		padding-bottom: 20px;
		border-bottom: none;
	}
	.uniqueClientContact01 h2 + p{
		width: 15em;
		margin-bottom: 20px;
		font-size:18px;
	}
	.uniqueClientContact01 .imageBlockB01 {	display: block;}
	.uniqueClientContact01 .imageBlockB01 .image {
		display: block;
		width: 176px;
		height: 127px;
		margin: 0 auto;
		padding: 0 0 20px 0;
		text-align: center;
	}
	.uniqueClientContact01 .imageBlockB01 .contentsInner {	display: block;}
	.uniqueClientContact01 .contentsInner .btnB02 {
		box-sizing: border-box;
		width: 100%;
		padding: 20px;
		text-align: center;
	}
	.uniqueClientContact01 + .unitA01{
		border-top: none;
	}
}
/* ========================= client contact end ========================== */

/* ========================= pickup start ========================== */
.uniqueTel01 {
	font-size: 300%;
	line-height: 1.1;
}
@media screen and (max-width: 750px) {
	.uniqueTel01 {
		font-size: 160%;
		line-height: 1.1;
	}
}
/* ========================= client contact end ========================== */

/* ========================= ccwork start ========================== */
.uniqueCcwork01 {}
.uniqueCcwork01 h1 {
	margin: -30px -40px 0 -40px;
}
.tabNav_ccwork {
	padding: 20px 0;
}
.tabNav_ccwork ul {
	display: table;
	margin-left: -12px;
}
.tabNav_ccwork ul li {
	display: table-cell;
	padding-left: 12px;
}
.tabNav_ccwork ul li span img {
	opacity: 0.3;
	filter: alpha(opacity=30);
}
.uniqueCcwork01 .entryListA01 li a dl dt .cate {
	display: inline-block;
	width: 100px;
	min-height: 23px;
	margin: 0 8px 0 0;
	padding: 2px 0 2px 20px;
	background-color: #ffea00;
	background-repeat: no-repeat;
	font-size:15px;
	font-weight:bold;
	text-align: center;
	vertical-align: middle;
}
.uniqueCcwork01 .entryListA01 li a:hover dl dt .cate {
	text-decoration: none !important;
}
.uniqueCcwork01 .entryListA01 li a dl dt .cate.ccworkCate01 {
	background-image: url(/public/images/ccwork/ico_cate_01.png);
	background-position: 18px center;
}
.uniqueCcwork01 .entryListA01 li a dl dt .cate.ccworkCate02 {
	background-image: url(/public/images/ccwork/ico_cate_02.png);
	background-position: 10px center;
}
.uniqueCcwork01 .entryListA01 li a dl dt .cate.ccworkCate03 {
	background-image: url(/public/images/ccwork/ico_cate_03.png);
	background-position: 10px center;
}
.uniqueCcwork01 .tabContents .moreBtn {
	margin: 0 auto 30px auto;
	text-align: center;
}
.uniqueCcwork01 .tabContents .moreBtn .btnA02 {
	padding: 10px 80px;
}
.uniqueCcwork01 .tabContents .moreBtn .btnA02 p {
	display: none;
}
@media screen and (max-width: 750px) {
	.uniqueCcwork01 .unitA02 {
		padding: 0;
	}
	.tabNav_ccwork {
		padding: 0;
	}
	.tabNav_ccwork ul {
		display: block;
		margin-left: 0;
		text-align: center;
	}
	.tabNav_ccwork ul li {
		display: inline-block;
		margin-left: -2px;
		padding-left: 0;
        padding-top: 16px;
	}
	.uniqueCcwork01 .entryListA01 li a .thumb {
		width: 85px;
	}
	.uniqueCcwork01 .entryListA01 li a dl dt .cate {
		display: block;
		margin-bottom: 8px;
	}
	.uniqueCcwork01 .tabContents .moreBtn .btnA02 {
		box-sizing: border-box;
		width: 100%;
		padding: 20px 10px;
		font-size: 20px;
		vertical-align: middle;
	}
	.uniqueCcwork01 .tabContents .moreBtn .btnA02 p {
		display: inline-block;
		margin: 0 0 0 0.5em;
		font-size: 14px;
		font-weight: normal;
		vertical-align: middle;
	}
}
/* ========================= ccwork end ========================== */

/* ========================= Maintenance start ========================== */
.uniqueMaintenance {}
.uniqueMaintenance #globalHeader,
.uniqueMaintenance #globalHeader #ci,
.uniqueMaintenance #contents,
.uniqueMaintenance #globalFooter,
.uniqueMaintenance #globalFooter > .contentsInner {
	position: static;
}
.uniqueMaintenance #globalHeader {
	padding-top: 10px;
	padding-bottom: 12px;
}
.uniqueMaintenance #contents {
	border-top: 2px solid #00b1eb;
	background: #fff;
}
.uniqueMaintenance #contents .msgBox {
	padding: 175px 0;
	text-align: center;
}
.uniqueMaintenance #contents .msgBox h2 {
	margin-bottom: 30px;
	color: #00b2e8;
	font-size: 32px;
    line-height: 1.2;
}
.uniqueMaintenance #contents .msgBox p {
	font-size: 16px;
}
.uniqueMaintenance #globalFooter > .contentsInner {
	padding-top: 16px;
	padding-bottom: 16px;
}
.uniqueMaintenance #copyright {
	position: static;
	text-align: right;
}

/* ========================= Maintenance end ========================== */

/* ========================= common start ========================== */
.alignL,
.alignC .alignL,
.alignR .alignL{
text-align:left !important;
}

.alignC,
.alignL .alignC,
.alignR .alignC{
text-align:center !important;
}

.alignR,
.alignC .alignR,
.alignL .alignR{
text-align:right !important;
}

.valignT{
	vertical-align:top !important;
}

.marginOff{
margin-bottom:0 !important;
}
.borderOff{
border:0 !important;
}

.marginA_none{ margin: 0 !important; }
.marginA5{ margin:5px 5px !important; }
.marginA10{ margin:10px 10px !important; }
.marginA20{ margin:20px 20px !important; }
.marginA30{ margin:30px 30px !important; }
.marginA40{ margin:40px 40px !important; }
.marginA50{ margin:50px 50px !important; }

.marginBottom_none{ margin-bottom: 0 !important; line-height:60px; display: block; margin-left: auto; margin-right: auto; }
.marginBottom5px{ margin-bottom:5px !important; line-height:60px; display: block; margin-left: auto; margin-right: auto; }
.marginBottom10px{ margin-bottom:10px !important; line-height:60px; display: block; margin-left: auto; margin-right: auto; }
.marginBottom20px{ margin-bottom:20px !important; line-height:60px; display: block; margin-left: auto; margin-right: auto; }
.marginBottom30px{ margin-bottom:30px !important; line-height:60px; display: block; margin-left: auto; margin-right: auto; }
.marginBottom40px{ margin-bottom:40px !important; line-height:60px; display: block; margin-left: auto; margin-right: auto; }
.marginBottom50px{ margin-bottom:50px !important; line-height:60px; display: block; margin-left: auto; margin-right: auto; }

.marginB_none{ margin-bottom: 0 !important; }
.marginB5{ margin-bottom:5px !important; }
.marginB10{ margin-bottom:10px !important; }
.marginB20{ margin-bottom:20px !important; }
.marginB30{ margin-bottom:30px !important; }
.marginB40{ margin-bottom:40px !important; }
.marginB50{ margin-bottom:50px !important; }

.marginT10{ margin-top:10px !important; }
.marginT20{ margin-top:20px !important; }
.marginT30{ margin-top:30px !important; }
.marginT40{ margin-top:40px !important; }
.marginT50{ margin-top:50px !important; }

.fontSizeNormal{ font-size:14px; }
.fontSize15{ font-size:15px; line-height:1.2; }
.fontSize16{ font-size:16px; line-height:1.2; }
.fontSize17{ font-size:17px; line-height:1.2; }
.fontSize18{ font-size:18px; line-height:1.2; }
.fontSize19{ font-size:19px; line-height:1.2; }
.fontSize20{ font-size:20px; line-height:1.2; }
.fontSize21{ font-size:21px; line-height:1.2; }
.fontSize22{ font-size:22px; line-height:1.2; }
.fontSize23{ font-size:23px; line-height:1.2; }
.fontSize24{ font-size:24px; line-height:1.2; }
.fontSize25{ font-size:25px; line-height:1.2; }
.fontSize26{ font-size:26px; line-height:1.2; }
.fontSize27{ font-size:27px; line-height:1.2; }
.fontSize28{ font-size:28px; line-height:1.2; }
.fontSize29{ font-size:29px; line-height:1.2; }
.fontSize30{ font-size:30px; line-height:1.2; }
.fontSize32{ font-size:32px; line-height:1.2; }

.floatBlock{
	/*position:fixed !important;*/
	z-index:99;
}

.fontWeightBold{ font-weight:bold; }

/* ========================= common end ========================== */

/* ===== mediaSP ====== */
.mediaSP{ display:none !important; }
@media screen and (max-width: 750px){
	.mediaSP{ display:block !important; }
}

/* ===== mediaPC ====== */
.mediaPC{ display:block !important;}
@media screen and (max-width: 750px){
	.mediaPC{ display:none !important; }
}

/* ===== hover ====== */
@media screen and (min-width: 751px) {
	.imgHover{
		display:inline-block;
		background-color:#fff;
	}
	.imgHover img,
	.imgHover .mediaPC img{ transition:opacity 0.2s ease; -webkit-transform: translateZ(0); }
	.imgHover:hover img,
	.imgHover:hover .mediaPC img{ opacity:0.8 }
}

/* ===== Contents List ====== */
.article{
	position: relative;
}
.article .article-list .main-list ol li{
	width: 33.3%;
}

.article .pick-up-row .main-list ol li.pick-up-item{
	width: 66.6%;
}

.article .pick-up-row .main-list > ol >li{
	width: 100%;
	margin-bottom:20px;
	padding-bottom: 10px;
    border-bottom: 1px solid #cccccc;
	
}

.article .pick-up-row .main-list ol li.second .list-header{
	margin-top: 7px;
	border-bottom: none;
}

.article .pick-up-row .main-list ol li.second .cat-list ul{
	padding: 0;
}

.article .pick-up-row .main-list ol li.second .cat-list .under-list-header{
	margin: 10px 0;
	color: #4e4e4e;
	font-weight: bold;
}
.article .pick-up-row .main-list ol li.second .cat-list ul li{
	float: none ;
	display: inline-block;
	width: inherit;
	padding: 0;
	margin-right: 8px;
    margin-bottom: 10px;
}

.article .pick-up-row .main-list ol li.second .cat-list ul li a{
	display: block;
    padding: 8px;
    border: 1px solid #c5c5c5;
	color: #c5c5c5;
    letter-spacing: 1.2px;
    max-width: 190px;
    white-space: nowrap;
	line-height: 1;
}
.article .pick-up-row .main-list ol li.second .cat-list ul li a:hover,
.article .pick-up-row .main-list ol li.second .cat-list ul li a.active{
	color: #4e4e4e;
}
.article .pick-up-row .main-list ol li.second .cat-list ul li a > span{
	color:#b9ead2;
}

.article .pick-up-row .main-list ol li.second .cat-list ul li a:hover > span,
.article .pick-up-row .main-list ol li.second .cat-list ul li a.active > span{
	color:#29d38d;
}
/* ===== Contents List End ====== */

/* ===== Pick Up Row ====== */
.pick-up-row, .article-list{
	padding-left: 0px;
    padding-right: 0px;
}

/* ===== Pick Up Row End ====== */



