/*TODO: [top banner] @comment*/
.banner .banner-title h1 {
	font-size: 54px;
	text-align: center;
}

.banner .banner-title h2 {
    font-size: 24px;
    text-align: center;
}

.banner .middle-content {
    top: 56%;
}
/*TODO: [top banner/]*/


/*TODO: [step] @comment*/
.tabcontrol > .steps > ul > li.current a {
    background: #29d38d;
    color: white;
    border-color: #29d38d;
}

.tabcontrol > .steps > ul > li.current > a:before {
    background: #29d38d;
}

#content-step1Content .custom-checkbox input[type="checkbox"] {
    display: block;
	visibility: hidden;
	position: absolute;
	z-index: -1;
}
#content-step1Content .custom-checkbox{
	position: relative;
}
#content-step1Content .custom-checkbox label.error{
	position: absolute;
	left: 50%;
    margin-left: -140px;
}
/*TODO: [step/]*/