#contents-details-category .buttondetail{
    width: auto;
}

#contents-details-category .saycontent .saytext a{
    float: left;
}

/*TODO: [top-banner] @comment*/

.header{
	line-height: 1.42857143;
    font-size: 12px;
    font-family: Avenir , "Open Sans" , "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "メイリオ" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
}
.header .heading-logo{
	font-size: 36px;
	font-weight: 500;
}

.header .no-padding.headerlink{
	line-height: 1.42857143;
}

.header .heading-logo img {
	height: 30px;
	vertical-align: middle;
}

.top-banner-bg{
    font-size: 12px;
    line-height: 1.42857143;
}


.custom-modern-textbox input{
    font-size: 12px;
    padding: 12px 15px;
    border: none;
}

.custom-modern-select select{
	line-height: 1.4;
	font-size: 12px;
}

/*TODO: [top-banner/]*/