/* [Contact Page] */
#contact-main .contact-subtitle p{
    font-size: 12px;
    color: #4e4e4e;
    margin-top: 8px;
    margin-bottom: 28px;
    line-height: 1.8em;
}
#contact-main .div-contact-form .form-group{
	margin-bottom: 10px;
}
#contact-main .div-contact-form .form-group,
#contact-main .div-contact-form .form-group > .wp-st{
   	overflow: hidden;
	display: table;
	width: 100%;
}
#contact-main .div-contact-form .contact-lablel{
	display: table-cell;
    width: 35.7%;
    font-size: 14px;
    color: #636363;
	background: #f2f2f2;
	padding: 15px 10px 15px 20px;
	margin: 0;
}

#contact-main .div-contact-form .form-group-note{
	padding-left: 35.7%;
	margin-bottom: 14px;
	font-size: 10px;
	line-height: 1.8;
}
#contact-main .div-contact-form .form-group-note span{
	padding: 0 10px;
	display: block;
}

#contact-main .div-contact-form .custom-text{
    padding: 0 100px;
    margin-top: 40px;
}

#contact-main .div-contact-form .contact-lablel span.require{
    float: right;
}

#contact-main .div-contact-form .contact-input{
	display: table-cell;
    width: 64.3%;
	padding: 0 10px;
}

#contact-main .div-contact-form .contact-input p{
    font-size: 10px;
    margin-top: 8px;
    line-height: 16px;
}

#contact-main .div-contact-form .contact-input .form-control{
   	border: 1px solid #dfdfdf;
    color: #808080;
    font-size: 14px;
    border-radius: 2px;
    padding: 24px 20px;
}
#contact-main .div-contact-form .contact-input select.form-control{
	height: 50px;
	padding: 0 20px;
}
#contact-main .div-contact-form .contact-input textarea.form-control{
    height: 120px;
	padding-top: 15px;
}

#contact-main .div-contact-form .step2 .contact-lablel{
    color: #636363;
    font-size: 14px;
}
#contact-main .div-contact-form .step2 .contact-input .form-control{
     font-size: 14px;
 }

#contact-main .div-contact-form .finish{
    display: table;
}
#contact-main .div-contact-form .finish .finish-tr{
    display: table-row;
}
#contact-main .div-contact-form .finish .finish-td{
    display: table-cell;
}

#contact-main .div-contact-form .finish p.main-text{
    text-align: center;
    vertical-align: middle;
    width: 100%;
    height: 250px;
    display: table-cell;
    font-size: 14px;
    color: #666666;
    line-height: 1.8;
}
#contact-main .steps .number{
	display: none;
}

#contact-main .div-contact-form .step2 .contact-input .form-control[disabled]{
    cursor: auto;
    background-color: white;
    opacity: 1;
}
label.error {
    color: #ff8a8a;
    position: absolute;
    font-size: 11px;
    margin-top: 1px;
    margin-left: 20px;
}

#contact-main .div-contact-form .custom-checkbox{
	text-align: center;
	margin-top: 37px;
}

#contact-main .div-contact-form .switch-form{
	padding: 0 10px;
}
	
#contact-main .div-contact-form .switch-form .custom-checkbox{
	margin-top: 0px;
}
	
#contact-main .div-contact-form .custom-checkbox > label{
	position: relative;
}
#contact-main .div-contact-form .custom-checkbox label.error{
	left: 0;
    top: -17px;
    margin-left: 17px;
}
#contact-main .div-contact-form .custom-checkbox input[type="checkbox"]{
	visibility: hidden;
    display: inline;
    position: absolute;
}
/* [Contact Page /] */


.tab2 > .content
{
    height: 765px !important;
}

.tab2 > .content #contact-main .div-contact-form .custom-text{
    margin-top: 30px !important;
}

#frm-contact-form2{
    display: none;
}


/*TODO: switch-form*/
.switch-form .custom-checkbox{
	display: inline-block;
	margin-right: 25px;
}
.switch-form .custom-checkbox .vir-content{
	font-weight: bold;
}

.color-disable{
    color: #dcdcdc !important;
}

/*[custom checkbox privacy/]*/

@media only screen and (max-width: 480px){
    .custom-radio{
        padding-left: 0;
        width: 100%;
    }
}


@media only screen and (max-width: 320px){
    .contact-subtitle{
        padding-bottom: 10px;
    }
}