/*[detail SP]*/
.content1 ul{
    padding: 10px 10px !important;
    background: #f2f2f2 !important;
    font-size: 14px;
    color: #00b2e8;
    margin-bottom: 10px;
}
.comment p {
    font-size: 14px;
    margin-left: 0px;
    line-height: 2;
}
.content1 span{
	font-size:10px;
	margin-left:20px;
}
.contentsp p{
	font-size:14px;
}
.contentsp {
    width: 100% !important;
    overflow: hidden;
    margin-left: 0px;
}
.detailfix{
	padding-left:0px;
	padding-right:0px;
}
.contentnew{
	margin-right:0px;
	margin-left:0px;
}
.link-but{
	margin-left:10px;
}
/*[content1 ul title]*/
.content1 ul li strong{
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}
/*[content1 ul title/]*/
/*[detail SP/]*/