html, body {
    height: 100%;
}

body {
    color: #808080;
    background: #f2f2f2;
    margin: 0px;
}

.container {
    height: 100%;
}

.title {
	font-family: FreeSans,Arimo,"Droid Sans",Helvetica,Arial,sans-serif;
    font-size: 14px;
    color: #808080;
    text-align: center;
    line-height: 33px;
}

.title p{
    font-size: 40px;
    color: #808080;
    font-weight: bold;
    margin-bottom: -20px;
    margin-top: 40px;
}

.title span{
    font-size: 60px;
    margin-right: 10px;
}

.title img{
    width:200px;
}

.content{
    position: absolute;
    top: 0px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 450px;
    height: 250px;
}
.content-link{
	text-align: center;
    color: #808080;
    font-size: 14px;
    text-decoration: none;
}

.content:visited{
	color: #808080;
}
.header {
    border-top: 5px solid #00b2e8;
    box-shadow: 0 0 5px rgba(0,0,0,0.16), 0 2px 10px rgba(0,0,0,0.12);
    border-bottom: 3px solid #fff;
}

@media only screen and (max-width: 480px) {
    .title {
        font-family: FreeSans,Arimo,"Droid Sans",Helvetica,Arial,sans-serif;
        font-size: 10px;
        color: #808080;
        text-align: center;
        line-height: 33px;
    }
    .title p{
        font-size: 20px;
        color: #808080;
        font-weight: bold;
        margin-bottom: -40px;
        margin-top: 40px;
    }

    .title span{
        font-size: 40px;
        margin-right: 10px;
    }

    .title img{
        width:200px;
    }
    .content{
        font-size: 13px;
    }
    .content{
        position: absolute;
        top: 0px;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        width: 320px;
        height: 220px;
    }
}
@media only screen and (max-width: 375px) {
    .content{
        position: absolute;
        top: 0px;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        width: 320px;
        height: 220px;
    }
}
@media only screen and (max-width: 320px){
    .content{
        position: absolute;
        top: 0px;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        width: 320px;
        height: 220px;
    }
}