@charset "utf-8";

html{
overflow-y:scroll;
}

body{
margin:0;
padding:0;
font-family:Verdana, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
font-size:14px;
line-height:1.5;
}

h1, h2, h3, h4, h5, h6{
font-size:14px;
font-weight:normal;
}

ul{
list-style:none;
}

ul ul,
ul ol,
ol ul,
ol ol,
table ul,
table ol{
margin-bottom:0;
}

table{
border-collapse:collapse;
border-spacing:0;
}
table th{
font-weight:normal;
text-align:left;
}

img{
border:0;
vertical-align:top;
}

input{
vertical-align:middle;
outline:none;
}
input[type="submit"]::-moz-focus-inner{
border :0px;
}
input[type=button],
input[type=submit],
button{
cursor: pointer;
}
input[type=radio]:focus,
input[type=checkbox]:focus{
outline:auto;
}

select{
}

em,
address{
font-style:normal;
}
em{
font-weight:bold;
}

article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary{
display:block;
}