/*CSS Detail PC*/

body {
   background: #f2f2f2 !important;
    font-size: 13px !important;
    color: #808080 !important;
}

a {
    text-decoration: none !important;
}

.no-padding {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.navbar-default {
    background: rgba(255, 255, 255, 0.8);
    border-color: white;
}

a:hover {
    /*color:black !important;*/
}

.created {
    letter-spacing: 0.05em;
    margin-right: 5px;
    padding: 0px;
    font-size: 10px;
    color: #808080;
}
.menuborder {
    box-shadow: 0px 1px 6px #80838F;
    border: 1px solid #d2d2d2;
    margin-bottom: 15px;
    margin-top: 10px;
}

.navbar-default .navbar-toggle {
    border: none !important;
    margin: 0px !important;
    z-index: 200;
}

.navbar-default .navbar-toggle .icon-bar {
    background: #00b2e8;
    min-height: 5px;
    min-width: 30px;
}

.topic {
    background: #fafafa;
}

.topic p {
    font-size: 24.5px;
    color: #00b2e8;
    margin-left: 30px;
}

.border {
    border-bottom: 5px solid #00b2e8;
    text-align: center;
    margin-left: 60px;
    margin-right: 60px;
    width: 85% !important;
    margin-bottom: 20px;
}

.new img {
    margin-right: 10px;
    margin-top: -7px;
}

.topic h1 {
    font-size: 30px;
    color: #808080;
    margin-left: 30px;
}

.titlehed {
    margin-bottom: 20px;
    margin-top: -15px;
}

.titlehed h1 {
    font-size: 22px;
    line-height: 2;
    padding-left: 40px;
    padding-right: 40px;
    color:#636363;
    font-weight: bold;
}

.titlehed h2 {
    font-size: 14px;
    line-height: 1.6;
    font-weight: normal;
    padding-left: 40px;
    padding-right: 40px;
}

.topic h2 {
    font-size: 20px;
    color: #808080;
    margin-left: 40px;
}

.link {
    margin-bottom: 20px;
    display: flex;
}

.number p {
    font-size: 16px;
    color: #808080;
}

.middle-content {
    margin-top: 0px !important;
}

.content1 {
    margin-top: 10px;
    padding-left: 60px;
    padding-right: 60px;
    font-size: 14px;
    line-height: 2;
}

.content1 h2 {
    font-size: 22px;
    color: #5f5f5f;
    margin: 0px;
    margin-bottom: 18px;
}

.content1 p {
    font-size: 14px;
    color: #4a4a4a;
    line-height: 1.8;
}

.content2 {
    text-align: center;
    margin-top: 50px;
}

.footer {
    padding-bottom: 0px;
    margin-top: 30px;
}

.footerleft h3 {
    color: #828282;
    font-size: 14px;
    border-bottom: 1px solid #ababab;
}
.footerleft{
    padding-left: 0px;
    width: 820px;
}

/* .footerleft{
	border-bottom:2px solid #f2f2f2;
} */

.footerright {
    text-align: center;
    margin-top: 35px;
    width:260px;
}

.footerbut a {
    padding: 6px 10px;
    color: #808080;
    border-radius: 2px;
    font-size: 12px;
    margin-right: 8px;
    line-height: 1.5em;
    border: 1px solid #ababab;
}

.footerbut a:hover {
    color: #808080;
}

.footerbut h3 {
    padding-bottom: 15px;
    font-size: 16px;
    color: #666666;
    letter-spacing: 2px;
    font-weight: bold;
}

.footerbut p {
    margin-bottom: 10px;
    display: flex;
}

.box img {
    background: red;
    height: 40px;
    width: 151px;
}

.sayright {
    background: #FFF;
    margin-bottom: 15px;
    box-shadow: 0 0 0.5em #e0e0e0;
    border-radius: 3px;
    padding-bottom: 30px;
    color:#4A4A4A;
    font-family: FreeSans,Arimo,"Droid Sans",Helvetica,Arial,sans-serif;
}

.saybottom {
    background: #FFF;
}

.saybottom img {
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.saycontent {}

/*CSS contents img st*/

.contents_img {
    margin-bottom: 0px;
    padding: 0px;
    width: 150px !important;
    height: 100px;
    background: #f2f2f2;
    table-layout: fixed;
    margin-left: 0px;
    /*border-radius: 3px;*/
    clear: both;
    display: block;
    overflow: hidden;
}

.contents_img img {
    max-width: 130%;
    min-width: 100%;
    position: absolute;
    transform: translate3d(-50%, -50%, 0);
    -webkit-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0);
    top:50%;
    left: 50%;
}

.contents_text h4 {
    font-size: 14px;
    margin-bottom: 5px;
    line-height: 1.8em;
    color: #4A4A4A;
    height: 55px;
    vertical-align: top;
    display: table-cell;
}

.content .contentnew .contents_text {
    /*padding-left: 0px !important;*/
    padding-right: 0px !important;
    width: 70%;
    margin-left: 20px;
    margin-top: 15px;
}

.content .contentnew .contents_text p {
    font-size: 10px;
    margin-right: 10px;
    color: #fff;
    clear: both;
    background: #00b2e8;
    padding: 0px 5px;
    border-radius: 0px;
}

.contents_text a {
    font-size: 12px;
    color: #888888;
    margin-bottom: 0px;
}

/*CSS contents img end*/

.saytext h4 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    line-height: 1.8em;
    color: #4A4A4A;
    height: 70px;
    vertical-align: middle;
    display: table-cell;
}

.sayimg {
    margin-bottom: 0px;
    padding: 0px;
    width: 260px !important;
    height: 150px;
    background: #fff;
    table-layout: fixed;
    margin-left: 0px;
    /*border-radius: 3px;*/
    clear: both;
    display: block;
    overflow: hidden;
}

.sayimg div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.saytext {
    margin-top: 15px;
	margin-left:0px;
}
.detail-colum {
    width: 60%;
    padding-right: 0px;
}
.sayimg img {
    max-width: 110%;
    min-width: 105%;
    position: absolute;
    transform: translate3d(-50%, -50%, 0);
    -webkit-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0);
    top:50%;
    left: 50%;
}

.sayimg_sub {
    margin-bottom: 0px;
    padding: 0px;
    width: 200px !important;
    height: 110px;
    background: #fff;
    table-layout: fixed;
    margin-left: 0px;
    /*border-radius: 3px;*/
    clear: both;
    display: block;
    overflow: hidden;
}

.sayimg_sub div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.sayimg_sub img {
    max-width: 100%;
    min-width: 100%;
    position: absolute;
    transform: translate3d(-50%, -50%, 0);
    -webkit-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0);
    top:50%;
    left: 50%;
}

.saytext p {
    font-size: 10px;
    margin-right: 10px;
    color: #fff;
    clear: both;
    background: #00b2e8;
    padding: 0px 5px;
    border-radius: 0px;
}




.saytext_sub h4 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    line-height: 1.8em;
    color: #4A4A4A;
    height: 70px;
    vertical-align: middle;
    display: table-cell;
}
.saytext_sub {
    margin-top: 10px;
    margin-left:0px;
}
.detail-colum_sub {
    width: 70%;
    padding-right: 0px;
}
.saytext_sub p {
    font-size: 10px;
    margin-right: 10px;
    color: #00b2e8;
    clear: both;
    border: 1px solid #00b2e8;
    padding: 2px 5px;
    border-radius: 0px;
    letter-spacing: 0.2em;
    font-weight: bold;
    background: none;
}
.saycontent_sub .saytext_sub a {
    float: right;
    font-size: 12px;
    color: #8E8D8D;
    text-decoration: none;
    margin-bottom: 0px;
}
#mainContents .saycontent_sub .saytext_sub a{
    float: none;
}
.saytext_sub a {
    font-size: 12px;
    color: #888888;
    margin-bottom: 0px;
    display: block;
}



.contentborder {
    border-bottom: 1px solid #f2f2f2;
    margin: 5px 0px 0px 0px;
}

.saycontent .saytext a {
    float: right;
    font-size: 12px;
    color: #8E8D8D;
    text-decoration: none;
	margin-bottom: 0px;
}
#mainContents .saycontent .saytext a{
    float: none;
}
.saytext a {
    font-size: 12px;
    color: #888888;
    margin-bottom: 0px;
    display: block;
}
.saytext a:first-child,
.contents_text a:first-child,
.slidertext a:first-child{
	display: block;
}

.saytext img {
    margin-right: 3px;
    width: 18px;
    margin-top: -3px
}

.saybottom {
    margin-bottom: 30px;

}

h5 {
    font-size: 18px;
    color: #808080;
}

.saylink a {
    margin-right: 15px;
    font-size: 14px;
    color: #8a8a8a;
}

.saylink a:hover {
    border-bottom: 2px dotted #00b2e8;
    padding-bottom: 3px;
}

.saylinka {
    margin-right: 15px;
    font-size: 12px;
    color: #808080;
    padding-left: 0px;
}

.saylinka a {
    margin-right: 15px;
    font-size: 12px;
    color: #808080;
}

.saylinkbut a {
    padding: 5px;
    background: #00b2e8;
    color: white;
    border-radius: 4px;
    overflow: hidden;
    white-space: nowrap;
}

.saylinkbut .buttondetail:first-child a {
    padding: 5px;
    background: #29d38d;
    color: white;
    border-radius: 4px;
}

.saylinkbut {
    margin-top: 20px;
    margin-bottom: 20px;
}

.saylast {
    margin-bottom: 40px;
}

.contentright {
    background: white;
}

.contentright h2 {
    text-align: center;
}

.slidertext h4 {
font-size: 12px;
    font-weight: bold;
    margin-top: 0px !important;
    margin-bottom: 0px!important;
    line-height: 1.5em;
    color: #4A4A4A;
    width: 170px;
    vertical-align: middle;
    display: table-cell;
    height: 35px;
}

.blog h4 {
    font-size: 12px;
    font-weight: bold;
    margin-top: 0px !important;
    margin-bottom: 0px!important;
    line-height: 1.5em;
    color: #4A4A4A;
    vertical-align: top;
    display: table-cell;
    margin-left: 0px;
    float: left;
}

.slidertext p {
    font-size: 10px;
    color: #00b2e8;
    float: left;
    font-weight: normal;
    margin-bottom: 5px;
    margin-right: 10px;
}

.slidertext a {
    float: left;
    color: #565656;
    text-decoration: none;
    font-weight: bold;
    margin-left: 10px;
}

.contentrightbottom {
    background: white;
    margin-top: 20px;
}

.slidercontent a {
    padding: 5px;
    border-radius: 3px;
    background: #00b2e8;
    color: white;
    float: right;
    margin-bottom: 15px;
}


/*CSS index PC*/

.content p {
    margin-bottom: 0px;
    border-radius: 3px;
}

.row {
    margin: 0 auto;
}

.new_menulist ul {
    list-style-type: none;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 0px;
    /* background: white; */
    padding-left: 0px !important;
    padding-right: 0px !important;
    width: 220px;
    float: left;
    border-top: 1px dotted #00b2e8;
}

.new_menulist li a {
    display: block;
    color: #636363;
    text-decoration: none;
    line-height: 35px;
    font-size: 14px;
    padding-left: 0px;
}

.new_menulist a:before{
    content: "▶︎";
    color: #00b2e8;
    font-size: 10px;
    margin-right: 10px;
}

.new_lastchild {
    margin-bottom: 20px;
}

.new_menulist .first {
    color: #00b2e8;
    padding-left: 0px;
    padding-top: 40px;
    line-height: 0;
    height: 60px;
    border-bottom: 1px dotted #3bc4f0;
    font-family: Times, Times New Roman, serif;
    font-size: 20px;
    letter-spacing: 0.1em;
}


/* Change the link color on hover */

.new_menulist li a:hover,
.new_menulist li a:focus {
    color: #00b2e8;
    text-decoration: none;
    -webkit-transition: All 0.4s ease;
    -moz-transition: All 0.4s ease;
    -o-transition: All 0.4s ease;
    -ms-transition: All 0.4s ease;
    transition: All 0.4s ease;
}

.new p:first-child {
    font-family: Times,Times New Roman,serif;
    letter-spacing: 0.1em;
    font-size: 24.5px;
    color: #00b2e8;
}

.span {
    color: #636363;
    font-size: 14px;
    font-weight: bold;
}

.button:hover,
.button.actived {
    /*background: #2387a6;*/
    /*vertical-align: sub;*/
    /*transition: 0.4s;*/
}

.button {
    position: relative;
    top: 0px;
    background-color: #00b2e8;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    width: 90px;
    height: 30px;
    border: none;
    margin-bottom: 10px;
    padding-top: 6px;
    transition: 0.1s;
    box-shadow: 0px 2px 0px #2387a6;
    border-radius: 3px;
}

.button:active,
.button.actived,
.button:focus {
    /*-webkit-transition: All 0.4s ease;*/
    /*-moz-transition: All  0.4s ease;*/
    /*-o-transition: All  0.4s ease;*/
    /*-ms-transition: All  0.4s ease;*/
    /*transition: All  0.4s ease;*/
    position: relative;
    top: 2px;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    -ms-box-shadow: none !important;
    -o-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-transition: All 0.1s ease;
    -moz-transition: All 0.1s ease;
    -o-transition: All 0.1s ease;
    -ms-transition: All 0.1s ease;
    transition: All 0.1s ease;
    outline: none;
    background: #2387a6;
}

.buttonnew {
    background-color: #00b2e8;
    /* Green */
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 10px;
    width: 80px;
    height: 25px;
    border: none;
    padding-top: 12px;
}

.button1 {
    /*border: none;*/
    color: #CECECE;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    width: 80px;
    height: 30px;
    /*margin-right: 25px;*/
    border-radius: 4px;
    padding: 10px;
}

.button2 {
    color: #666666;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    width: 30px;
    height: 30px;
    border: none;
    padding-top: 0px;
    border-radius: 4px;
    line-height: 4;
}

.next a:focus,
.prev a:focus,
.button2 a:focus {
    color: #727272 !important;
}

.button2 a {
    padding: 0px 10px;
    text-decoration: underline !important;
}

.button3 {
    color: #CECECE;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    width: 50px;
    height: 45px;
    border-radius: 4px;
    padding: 10px 11px;
    margin-left: 25px;
}

.buttontop:focus,
.buttontop:active {
    outline: none;
}

.buttontop {
    background-color: #f2f2f2;
    color: #666;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    width: 90px;
    height: 18px;
    border: none;
    font-weight: bold;
    float: right;
    margin-right: 2px;
    margin-top: 14px;
}

.current {
    background-color: transparent;
    padding: 0 10px 0 10px;
}

.prev .prev a {
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    width: 50px;
    height: 45px;
    border-radius: 4px;
    padding: 10px 11px;
    margin-left: 25px;
}

.next {
    color: #CECECE;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    width: 50px;
    height: 45px;
    border-radius: 4px;
    padding: 10px 11px;
}
.pageination span{
    font-size: 14px;
    font-weight: bold;
}
.pageination span a{
    color: #727272;
    font-size: 14px;
    font-weight: bold;
}
.buttonslider {
    background-color: #00b2e8;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 11px;
    width: 60px;
    height: 20px;
    box-shadow: 0px 3px #2387a6;
    border: none;
    float: right;
    margin-top: 5px;
    margin-right: 10px;
}

.buttondetail {
    background-color: #00b2e8;
    /* Green */
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 10px;
    width: 97px;
    height: 25px;
    border: none;
}

.buttondetail:first-child {
    background-color: #29d38d;
    /* Green */
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 10px;
    width: 80px;
    height: 25px;
    border: none;
    margin-bottom: 2.5px;
}

.span1 {
    font-size: 12px !important;
    color: #808080 !important;
    padding-left: 15px !important;
    font-weight: normal !important;
}

.last {
    font-size: 12px;
    color: #808080;
    padding-top: 8px;
    padding-bottom: 5px;
}

.abc {
    background: red;
    height: 100px;
}

.contentnew {
    background: white;
    margin-bottom: 25px;
    box-shadow: 0 -1px 2px rgba(0,0,0,0.05), 0 1px 2px rgba(0,0,0,0.05);
    padding-bottom: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    border-radius: 3px;
    /*border-radius: 3px;*/
}

.footerbut {
    width: 390px;
    margin-left: 10px;
    padding: 0px;
}

.footerlink {
    padding: 0 !important;
    width: 380px;
    margin-left: 20px;
}

.footerlink h3 {
    margin-bottom: 15px;
    padding-bottom: 15px;
    color: #666666;
    font-size: 16px;
    margin-right: 10px;
    letter-spacing: 2px;
    font-weight: bold;
}

.footerlink p {
    font-size: 14px;
    color: #636363;
    margin-bottom: 20px;
}

.footerborder {
    margin-top: 10px;
    margin-bottom: 0px;
}

.footertem img {
    margin-right: 20px;
}

.footertem {
    margin-bottom: 15px;
    padding-left: 20px;
}

.footertem p {
    font-size: 12px;
    color: #636363;
}

.sayborder {
    margin: 15px 0px 25px 0px;
}

.sayborderdetail {}

.slidertop {
    padding-bottom: 0px;
    border-radius: 3px;
    display: inline-block;
    margin-bottom: 20px;
    margin-left: 0;
    padding: 20px 15px 0px;
    width: 260px;
    box-shadow: 0 -1px 2px rgba(0,0,0,0.05), 0 1px 2px rgba(0,0,0,0.05);
    background: #fff;
}

.slidertop h1 {
    /*font-size:25px;*/
    color: #666666;
    text-align: left;
    font-size: 17px;
}

.sliderbottom {
    /*background: white;*/
    margin-top: 0px !important;
    /*box-shadow: 0 -1px 2px rgba(0,0,0,0.05), 0 1px 2px rgba(0,0,0,0.05);*/
    padding-bottom: 0px;
    /*border-radius: 3px;*/
}

.sliderbottom .slider-header h1 {
    color: #666;
    text-align: left;
    font-size: 14px;
    margin-left: 15px;
    margin-bottom: 5px;
    /*font-family: Times, Times New Roman, serif;*/
    letter-spacing: 2px;
    font-weight: bold;
}

.sliderbottom .slider-header h1 span {
    font-size: 12px;
    color: #666666;
    /*background: white;*/
    padding-left: 5px;
    font-family: FreeSans,Arimo,"Droid Sans",Helvetica,Arial,sans-serif;
}

.sliderbottom .slider-header h2 {
    margin-bottom: 5px;
    text-align: center;
    font-size: 12px;
    margin-top: 10px;
    position: relative;
    padding-bottom: 0px;
    color:#4A4A4A;
}

.sliderbottom .slider-header h2:before {
    /*content: "";*/
    /*border-top: 1px solid #e1e1e1;*/
    /*width: 20%;*/
    /*position: absolute;*/
    /*bottom: 50%;*/
    /*left: 3%;*/
    content: "";
    border-top: 1px solid #e1e1e1;
    width: 25%;
    position: absolute;
    bottom: 50%;
    left: 5%;
}

.sliderbottom .slider-header h2:after {
    /*content: "";*/
    /*border-top: 1px solid #e1e1e1;*/
    /*width: 20%;*/
    /*position: absolute;*/
    /*bottom: 50%;*/
    /*right: 3%;*/
    content: "";
    border-top: 1px solid #e1e1e1;
    width: 25%;
    position: absolute;
    bottom: 50%;
    right: 5%;
}

.sliderimg {
    padding-left: 0px;
    margin-bottom: 10px;
    padding: 0px;
}

.sliderimg img {
    max-width: 110%;
    min-width: 100%;
    text-align: center;
    position: absolute;
    transform: translate3d(-50%, -50%, 0);
    -webkit-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0);
    top: 50%;
    left: 50%;
}

.sliderBlogimg {
    padding-left: 0px;
    margin-bottom: 10px;
    padding: 0px;
}

.sliderBlogimg img {
    max-width: 110%;
    min-width: 100%;
    text-align: center;
    position: absolute;
    transform: translate3d(-50%, -50%, 0);
    -webkit-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0);
    top: 50%;
    left: 50%;
}

.slidertext {
    padding-right: 0px;
}

.sliderborder {
    margin: 0px 10px 5px 10px;
    ;
    width: 93% !important;
}

.sliderborderlast {
    border: 1px solid #f2f2f2;
    margin: 2px 0px 40px 0px;
}

.header {
     border-top: 5px solid #00b2e8;
    box-shadow: 0 0 5px rgba(0,0,0,0.16), 0 2px 10px rgba(0,0,0,0.12);
    border-bottom: 3px solid #fff;
}

.logotext {
    margin-top: 60px;
    margin-bottom: 60px;
}

.logotext a {
    margin: 10px 12px;
    color: #00b2e8;
    /*font-weight:bold;*/
}

.logotext a:hover {
    color: #00C3FF;
    -webkit-transition: All 0.4s ease;
    -moz-transition: All 0.4s ease;
    -o-transition: All 0.4s ease;
    -ms-transition: All 0.4s ease;
    transition: All 0.4s ease;
}

.header_menu {
    float:right;
}

.afist {
    margin-right: 70px;
}

.logotext img {
    margin: 0 auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.headerlink a {
    font-size: 12px;
    color: #808080;
    margin-bottom: 10px;
    font-weight: normal;
}

.comment p {
    font-size: 16px;
    line-height: 2;
}

.backtop {}

.back-to-top {
    display: none;
    width: 100%;
    height: 52px;
    text-indent: -9999px;
    position: fixed;
    z-index: 999;
    right: 20px;
    bottom: 0px;
    background: #6dd1f4 url("up-arrow.png") no-repeat center 43%;
}

.backtop p {
    color: red;
}

.ptop {
    /*font-size:22px;*/
    /*color:#00b2e8;*/
    /*font-weight:normal;*/
    font-size: 26px;
    color: #00b2e8;
    font-family: Times, Times New Roman, serif;
    letter-spacing: 0.11em;
}

.prev {
    font-weight: bold;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 25px;
}

.prev a {
    /*padding: 6px 8px;*/
    color: #727272;
    font-size: 14px;
}

.gach {
    margin: 0px 10px 0px 10px;
}

.footersp {
    background: white;
    margin-top: 20px;
    box-shadow: 0 0 0.5em #e0e0e0;
    border-radius: 3px;
    padding-bottom: 15px;
}

.footersp h1 {
    /*font-size: 18px;*/
    color: #00b3e8;
    text-align: center;
    font-size: 22px;
    font-family: Times, Times New Roman, serif;
    letter-spacing: 0.11em;
}

.footersp h2 {
    /*font-size:15px;*/
    /*margin-bottom:25px;*/
    text-align: center;
    font-size: 13px;
    margin-top: -5px;
    margin-bottom: 15px;
    padding-bottom: 0px;
    position: relative;
}

.footerspleft {
    text-align: right;
    padding-right: 5px;
}

.footerspright {
    padding-left: 5px;
}

.footerspleft p {
    /*background: #bababa;*/
    /*border-radius: 5px;*/
    /*width: 135px;*/
    border-radius: 3px;
    margin-bottom: 10px;
    text-align: center;
    width: 90%;
    height: 40px;
    vertical-align: middle;
    float: right;
    line-height: 40px;
    background: #f2f2f2;
}

.menua {
    padding: 8px;
    background: #C7C7C7;
    margin-bottom: 10px;
    text-align: center;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 12px;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 2px #8A8A8A;
}

.footerspright p {
    /*background: #bababa;*/
    /*border-radius: 5px;*/
    /*width: 135px;*/
    background: #f2f2f2;
    border-radius: 3px;
    margin-bottom: 10px;
    text-align: center;
    width: 90%;
    height: 40px;
    vertical-align: middle;
    float: left;
    line-height: 40px;
}

.buttonsp {
    background-color: #bababa;
    /* Green */
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    width: 250px;
    height: 70px;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    border-radius: 7px;
}

.buttonsp1 {
    background-color: #bababa;
    /* Green */
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    width: 250px;
    height: 70px;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    border-radius: 7px;
}

.footerspimg {
    background: white;
    margin-top: 20px;
    box-shadow: 0 0 2em #e0e0e0;
}

.footerspimg img {
    max-width: 100%;
    min-width: 70%;
    margin-bottom: 20px;
}

.footersplinkleft {
    padding: 0px;
    border-right: 1px solid #e1e1e1;
}

.footersplinkleft p {
    padding-left: 23px;
}

.footersplinkright {
    padding: 0px;
}

.footersplinkright p {
    padding-left: 40px;
}

.footersplinktext p {
    border-bottom: 1px solid #e1e1e1;
}

.footersplink {
    margin-top: 20px;
}

.cus-footersplink {
    margin-top: 0;
    box-shadow: 0 0 0.5em #e0e0e0;
    background: white;
    position: relative;
    z-index: 1;
}

.cus-footersplink p {
    text-align: center;
}

.footersplinknext {
    float: right;
}

.footersplink p {
    border-bottom: 1px solid #e1e1e1;
    padding: 12px;
    height: 40px;
    margin-bottom: 0;
}

.cus-footersplink p:last-child {
    border-bottom: 0;
}

.footersplinktext a:focus {
    color: inherit !important;
}

.footersplinktext {
    background: #f2f2f2;
    box-shadow: 0 0 0.5em #e0e0e0;
    text-align: center;
    padding: 0 10px;
}

.footersplinktext .footer-mail a {
    color: #1eb9ee;
    vertical-align: bottom;
    padding: 9px 37px;
    background: #ffffff;
}

.footersplinktext .footer-mail {
    margin-top: 37px;
}

.footersplinktext .footer-mail img {
    width: 30px;
    min-width: 0;
    margin-bottom: 0;
    margin-right: 15px;
}

.footersplinktext .footer-link {
    margin-top: 23px;
    line-height: 22px;
}

.footersplinktext .footer-link a {
    color: #666666;
    font-weight: 600;
}

.footersplinktext .footer-call-center {
    margin-top: 32px;
    margin-bottom: 10px;
}

.footersplinktext .footer-call-center a {
    color: #666666;
    font-weight: 600;
}

.footersplinktext p {
    padding: 0 10px;
    text-align: left;
    line-height: 50px;
    margin-top: -7px;
}

.footersplinktext img {
    max-width: 100%;
    min-width: 50%;
}

.footersplinktext p:first-child {
    /*border-top:1px solid #e1e1e1;*/
    margin-top: 10px;
}

.gotop {
/*     background: #00b2e8;
    color: white;
    font-size: 18px;
    height: 50px;
    text-align: center;
    width: 100%;
    opacity: 0.65;
    transition: 0.4s;
    margin-top: 10px;
    width: 140px;
    display: none;
	 */
	     background: #00b2e8;
    color: white;
    font-size: 18px;
    height: 40px;
    text-align: center;
    width: 100%;
    /*opacity: 0.65;*/
    /*transition: 0.4s;*/
    margin: 0px auto;
    right:0;
    left:0;
    width: 120px;
    display: none;
    border-radius: 2px;
    position: absolute;
}

.gotop:hover {
    opacity: 1;
    transition: 0.4s;
}

.gotop img {
    margin-top: -5px;
    width: 13%;
}

.gotop p {
    /*padding-top:10px;*/
    color: white;
    font-size: 20px;
    margin-bottom: 0px;
}

.gotop a {
    color: white;
    text-decoration: none !important;
    width: 100%;
    display: block;
    line-height: 40px;
    font-size: 14px;
}

.gotop a:hover,
a:focus {
    /*color: white !important;*/
}

.navbar-header img {
    padding-left: 10px;
    width: 150px;
    height: 25px;
    margin-top: 15px;
}

.menulist-fix {
    position: fixed;
    top: 15px
}

.right-menu-fix {
    position: fixed;
    top: 15px;
    width: 260px;
}

#right-menu .sliderimg .new-label{
	position: absolute;
    top: 0px;
    left: 0px;
}

#right-menu .sliderimg .new-label span{
	font-size:10px;
}

.position-absolute {
    position: absolute !important;
}

.menu-absolute {
    position: absolute;
    top: 530px;
}

.content {
    width: 820px !important;
    margin-left: 0px;
    margin-right: 10px;
    font-family: FreeSans,Arimo,"Droid Sans",Helvetica,Arial,sans-serif;
}

.slider {
    width: 260px !important;
    margin-left: 10px;
    font-family: FreeSans,Arimo,"Droid Sans",Helvetica,Arial,sans-serif;
}

.content .contentnew {
    padding-right: 0px !important;
    padding-left: 0px !important;
    padding-top: 0px;
    font-family: FreeSans,Arimo,"Droid Sans",Helvetica,Arial,sans-serif;
}

.content .contentnew .saytext {
    /*padding-left: 0px !important;*/
    padding-right: 0px !important;
    width: 60%;
    margin-left: 25px;
}

.content .contentnew .saytext p {
    font-size: 10px;
    margin-right: 10px;
    color: #00b2e8;
    clear: both;
    border: 1px solid #00b2e8;
    padding: 2px 5px;
    border-radius: 0px;
    letter-spacing: 0.2em;
    font-weight: bold;
    background: none;
}

.slidertop .slider-header,
.sliderbottom .slider-header {
    /*height: 50px;*/
    margin-bottom: 5px;
}

.slidertop .slider-header h1 {
    margin-top: 0px;
    margin-bottom: 10px;
    /*font-family: Times, Times New Roman, serif;*/
    font-size: 14px;
    letter-spacing: 2px;
    padding-left: 0px;
    font-weight: bold;
}

.slidertop .slider-header h1 span {
    font-size: 12px;
    color: #666666;
    /*background: white;*/
    padding-left: 5px;
    font-family: FreeSans,Arimo,"Droid Sans",Helvetica,Arial,sans-serif;
}

.slidertop .slider-header h2 {
    /*font-size: 13px;*/
    padding-bottom: 0px;
    text-align: center;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 5px;
    position: relative;
    color:#4A4A4A;
}

.slidertop .slider-header h2:before {
    /*bottom: 50%;*/
    /*left: 3%;*/
    content: "";
    border-top: 1px solid #e1e1e1;
    width: 20%;
    position: absolute;
    bottom: 50%;
    left: 5%;
}

.slidertop .slider-header h2:after {
    /*bottom: 50%;*/
    /*right: 3%;*/
    content: "";
    border-top: 1px solid #e1e1e1;
    width: 20%;
    position: absolute;
    bottom: 50%;
    right: 5%;
}

.footersp h2:before {
    content: "";
    border-top: 1px solid #e1e1e1;
    width: 33%;
    position: absolute;
    bottom: 50%;
    left: 3%;
}

.footersp h2:after {
    content: "";
    border-top: 1px solid #e1e1e1;
    width: 33%;
    position: absolute;
    bottom: 50%;
    right: 3%;
}

.slidertop .sliderimg,
.sliderbottom .sliderimg {
    width: 230px !important;
    height: 80px;
    /*margin-left: 10px;*/
    margin-bottom: 0px;
    overflow: hidden;
}

.sliderBlogimg {
    width: 100px !important;
    height: 70px;
    margin-bottom: 0px;
    overflow: hidden;
}

.slidertop .slidertext,
.sliderbottom .slidertext {
    padding: 10px 0px !important;
    margin-top: 0px;
    width: 100% !important;
    background: white;
    margin-bottom: 0px;
    /*border-bottom-left-radius: 3px;*/
    /*border-bottom-right-radius: 3px;*/
}

.sliderBlogtext {
    padding: 10px !important;
    margin-top: 0px;
    width: 160px;
    background: white;
    margin-bottom: 0px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    height: 70px;
}

.dertail-content {
    width: 820px !important;
    margin-right: 10px;
}
.dertail-content .middle-content ul{
    padding: 10px 10px !important;
    list-style: none;
    color: #00b2e8;
    font-size: 14px;
}

.dertail-content .middle-content li{
    padding: 10px 10px !important;
    list-style: none;
    color: #00b2e8;
    font-size: 14px;
}

.dertail-header {
    width: auto !important;
    padding-left: 40px !important;
    margin-top: 10px;
}

.detail-view {
    margin-top: 20px;
    text-align: left;
    padding-right: 0px !important;
    width: auto !important;
    margin-left: 30px;
}

.view_eye {
    margin-top: -3px;
    margin-left: 10px;
    margin-right: 3px;
    vertical-align: middle;
}

.margin-right-5 {
    margin-right: 5px !important;
}

.hedader-fix {
    background: rgba(255, 255, 255, 0.5);
    position: fixed;
    z-index: 3;
    width: 100%;
}

.detailfix {
    padding-left: 10px;
    padding-right: 10px;
}

.logotext {
    margin-left: auto;
    margin-right: auto;
}

.logotext .logo {
    margin: 0 auto;
}

.bg-white {
    background: #ffffff;
    padding-top: 20px;
    padding-bottom: 20px;
}

.padding-10 {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.fb-icon {
    margin-top: 0px;
    width: 40px;
    float: right;
    border-radius: 50%;
    height: 40px;
    margin-right: 15px;
    background: #ccc;
}

.fb-icon .fa-facebook {
    color: #fff;
    font-size: 1.8em;
    line-height: 40px;
}

.tw-icon {
    margin-top: 0px;
    width: 40px;
    float: right;
    border-radius: 50%;
    height: 40px;
    margin-right: 15px;
    background: #ccc;
}

.tw-icon .fa-twitter {
    color: #fff;
    font-size: 1.8em;
    line-height: 40px;
}

.padding-left-5 {
    padding-left: 5px !important;
}

.headerlink {
    margin-bottom: 10px;
}

#footer{
    border-bottom: 3px solid #00b2e8;
    box-shadow: 0 -1px 2px rgba(0,0,0,0.05), 0 1px 2px rgba(0,0,0,0.05);
}

.headerlink-slider{
    color: #808080;
}

.headerlink-slider:hover{
    color: #808080;
}

.headerlink{
    font-size: 12px;
    color: #808080;
    font-weight: normal;
    padding-left: 0px;
}

.saylinka a {
    margin-right: 0;
}

/*[news-topic-header]*/
.news-topic-header > .pull-left{
	line-height: 1;
}
/*[news-topic-header/]*/

/*[news-category]*/
.news-category .pull-right{
	width: 240px;
	margin-right: 0px;
}
.news-category .pull-right .custom-search-select select{
	padding-top: 6px;
    font-size: 12px;
    padding-bottom: 5px;
}
.news-category .pull-right .custom-search-select:before{
	top: 7px;
}
/*[news-category/]*/


.container {
        width: 1100px !important;
        font-family: FreeSans,Arimo,"Droid Sans",Helvetica,Arial,sans-serif;
    }
.left-menu{
    margin-left: -17px;
    margin-right: 0px;
}
.secret-layout .left-menu{
    width: 16.66666667%;
    margin-right: 0;
}

/*search-box*/
.search-box {
    float: none !important;
}
.top-search .multiply{
    margin: 0px 7px -4px;
}

.multiply{
	background: url('/img/multiply_symbol.png') no-repeat center bottom;
    width: 14px;
    height: 14px;
    display: inline-block;
}
.custom-aboutpc{
    width: 19%;
    
}
.search-box .brick-btn {
    vertical-align: middle;
    margin-top: -5px;
    height: 40px;
    font-size: 14px;
    padding: 0 17px;
    margin-left: 15px;
    box-shadow: 0px 2px #3ea67b;
}
.about-bottom img{
    margin-bottom: 20px;
}
.new-layout .slide-panel {
    margin-bottom: 20px;
    margin-left: 0;
    padding: 20px;
    width: 260px;
    box-shadow: 0 -1px 2px rgba(0,0,0,0.05), 0 1px 2px rgba(0,0,0,0.05);
    background: #fff;
}
/*search-box/*/
@media only screen and (max-width: 1024px) {
    html{
        width: 1100px;
    }
    .container-contact .container{
            width: 1100px !important;
        }
}
