body {
  /*padding-top: 20px;*/
  /*padding-bottom: 20px;*/
}

.navbar {
    margin:0px;
    min-height: 50px;
    border-radius: 0px;
    border: none;
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 12px 15px;
    margin-top: 8px;
    margin-right: 5px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.navbar-toggle:hover {
     background: transparent !important;
 }

.navbar-toggle .icon-bar {
    width: 30px;
    transition: all 0.2s;
}
#wrapper.toggled .navbar-toggle .top-bar {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 10% 10%;
    transform-origin: 10% 10%;
}
#wrapper.toggled .navbar-toggle .middle-bar {
    opacity: 0;
}
#wrapper.toggled .navbar-toggle .bottom-bar {
    -webkit-transform-origin: 0% 90%;
    transform-origin: 0% 90%;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    /*transform-origin: 15% -50%;*/
}


#wrapper .navbar-toggle.top-bar {
    -webkit-transform: rotate(0);
    transform: rotate(0);
}
#wrapper .navbar-toggle .middle-bar {
    opacity: 1;
}
#wrapper .navbar-toggle .bottom-bar {
    -webkit-transform: rotate(0);
    transform: rotate(0);
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{
    background: transparent !important;
    color: #777 !important;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    color: #808080 !important;
    box-shadow: none;
}

.float-right{
    float: right;
}

