/* Paste this css to your style sheet file or under head tag */
/* This only works with JavaScript, 
if it's not present, don't show loader */
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../img/preload/Preloader_2.gif) center no-repeat #f2f2f2;
}

.page-pre, .top-pre{
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 9999;
	background: #f2f2f2;
}

.page-pre .pre-img, 
.top-pre .pre-img{
	width: 300px;
    max-height: 70px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
}

.page-pre .pre-img p, .top-pre .pre-img p{
	 margin-top: 5px;
	 font-size: 14px;
	 color: #808080;
}