.main-contain img {
	margin: 0;
	padding: 0;
	max-width: 100%;
	display: block;	
}
.banner img {
	width: 100%;
}
.title_stt {
	font-size: 20px;
	margin-bottom: 10px;
	color: #4e4e4e;
}

.box_cat .pretty-list {
	padding-top: 0;
}

.box_cat .list-col-2 > li:last-child {
	margin-bottom: 0;
}

.pretty-layout {
	padding-left: 30px;
	padding-right: 30px;
}

.pretty-content-header {
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
    padding: 20px 0;
}

.pretty-title {
	font-size: 28px;
	padding: 10px 0;
}
.pretty-title strong {
	font-size: 38px;
	background: url("../img/pretty/icon_crown.gif") left no-repeat;
	padding-left: 70px;
}
.pretty-content-header .pretty-title {
	text-align: center;
}
.pretty-content-header .pretty-title p {
	text-align: center;
}
.pretty-title small {
	font-size: 12px;
}

.fz-xxs {
	font-size: 16px;
	color: #4e4e4e;
}

.pretty-tab-header {
	overflow: hidden;
}

.pretty-tab-header > .tab-item {
	float: left;
	width: 33.333333%;
}

.pretty-tab-header > .tab-item a{
	display: block;
	border-bottom: 5px solid #fff;
}
.pretty-tab-header > .tab-item.active a{
	border-color: #f9f9f9;
}

.pretty-tab-header > .tab-item.active a span{
	border-color: #f9f9f9;
	background: #f9f9f9;
}

.pretty-tab-header > .tab-item a span {
	text-align: center;
	font-size: 28px;
	display: block;
	padding: 30px 0;
	font-weight: bold;
	color: #4e4e4e;
	border: 1px solid #eeeeee;
}

.pretty-tab-header > .tab-item a span:before {
	content: "";
	background: url('../img/pretty/crown_tab.gif') no-repeat bottom center;
	width: 40px;
	height: 30px;
	display: inline-block;
	margin-right: 10px;
	position: relative;
	top: 2px;
}

.pretty-tab-header > .tab-item.active a span:before {
	background: url('../img/pretty/crown_tab_active.gif') no-repeat center;
}

.pretty-tab-header > .tab-item:nth-child(2) a{
	margin-left: 5px;
	margin-right: 5px;
}

.pretty-tab-content {
	padding: 20px 20px 0 20px;
}

.list-col {
	list-style: none;
	overflow: hidden;
	padding: 0;
	margin-bottom: 0;
}

.list-col-4 > li {
	background: #fff;
	margin-bottom: 20px;
}

.list-col-2 > li {
	margin-bottom: 20px;
	background: #fff;
}



.pretty-item{
	background: white;
}


.pretty-item .search-image {
	width: 40%;
	display: inline-block;
	vertical-align: middle;
}

.pretty-item .search-content {
	display: inline-block;
	vertical-align: middle;
	width: 58%;
}
.pretty-item .search-content .padding {
	padding: 0 5.46875vw;
}
.pretty-item .search-image img {
	max-width: 100%;
}

.pretty-div {
	margin-left: 20px;
	margin-right: 20px;
	height: 1px;
	background: #cccccc;
}

.pretty-list {
	padding: 20px 20px 0 20px;
}

.div_button {
	margin-top: 35px;
}

.pretty-btn {
	background: #fff;
	border: 1px solid #29d38d;
	background-color: #29d38d;
	border-radius: 1px;
	color: white;
	padding: 20px 10px;
	text-align: center;
	width: 100%;
	font-size: 28px;
	font-weight: bold;
	cursor: pointer;
}

.pretty-simple {
	overflow: hidden;
	cursor: pointer;
}

.pretty-simple .image_left {
	display: inline-block;
	width: 30%;
	vertical-align: middle;
}
.pretty-simple .image_left img {
	max-width: 100%;
}
.pretty-simple .info_right {
	display: inline-block;
	width: 68%;
	vertical-align: middle;
}
.pretty-simple .info_right .padding {
	padding: 0 60px;
}
.pretty-simple .info_right .div_button {
	margin-top: 15px;
}
.pretty-simple .i-nick {
	font-size: 30px;
}
.pretty-simple .i-nick big{
	font-size: 52px;

}

.pretty-simple .s-count{
	display: inline-block;
	background: #29d38d;
	color: white;
	font-size: 42px;
		font-weight: bold;
	width: 80px;
	height: 80px;
	text-align: center;
	line-height: 80px;
	margin-right: 15px;
}


.s-pv {
	font-size: 30px;
}

.s-pv big {
	font-size: 52px;
	color: #29d38d;
	padding-right: 5px;
}

.s-nick {
	color: white;
	text-shadow: 2px 2px 6px rgba(150, 150, 149, 1);
}

.s-nick big {
	font-size: 16px;
}

.s-nick small {
	font-size: 10.5px;
}


.i-new {
	display: inline-block;
	background: #29d38d;
	color: white;
	font-size: 24px;
	padding: 8px 10px;
margin-right: 10px;
}
.search-content .i-nick {
	font-size: 24px;
	position: relative;
	bottom: -15px;
}
.search-content .i-nick big{
	font-size: 52px;

}
.search-content.had_cat .i-nick {
	display: inline-block;
	bottom: -20px;
	white-space: nowrap;
	max-width: 170px;
}
.search-content.had_cat .i-nick .s-pv {
	display: block;
	line-height: 18px;
	font-size: 28px;
}
.search-content.had_cat .i-nick .s-pv big{
	font-size: 38px;
}
.i-top{
	font-size: 10px;
	color: #29d38d;
	line-height: 1;
	margin-top: -10px;
}
.i-count{
	display: inline-block;
	font-size: 68px;

}
.i-count span {
	padding: 0px 30px;
	margin-right: 15px;
	display: inline-block;
	background: #29d38d;
	color: #fff;

}
.i-pv {
	color: #29d38d;
	font-size: 20px;
	vertical-align: middle;
	margin-left: 10px;
}

.i-pv .i-unit {
	color: #4e4e4e;
	font-size: 12px;
	font-style: normal;
}




.gb-gray {
	background: #f9f9f9;
}

.gray-hr {
	background: #cccccc;
	width: 100%;
	height: 1px;
}

.text-bold {
	font-weight: bold;
}

.black-brick {
	padding: 4px 10px;
	background: #686868;
	color: white;
	margin-right: 5px;
}

.pretty-full-btn {
	display: block;
	background: #29d38d;
	color: white;
	font-size: 20px;
	text-align: center;
	padding: 12px;
	font-weight: bold;
	width: 100%;
	border: 0;
}
.pretty-full-btn.disable{
	opacity: 0.5;
	pointer-events: none;
}


/*-----------*/
.top-popup-search {
	display: block;
}
.top-popup-search .display-table {
	padding: 0;
	width: 100%;
}

.top-popup-search .popup-pretty {
	width: 100%;
	top: 50%;
	webkit-transform: translateY(-50%);
}

.top-popup-search .search-image {
	position: relative;
}
.top-popup-search .search-image img {
	width: 100%;
	margin: 0 auto;
}
.top-popup-search .search-image .info {
	position: absolute;
	bottom: 10px;
	z-index: 10;
	background: rgba(0,0,0,0.4);
	width: 100%;
	color: #fff;
	padding: 20px;
}

.top-popup-search .search-image .info .text-bold {
	font-size: 28px;
}
.top-popup-search .search-image .info #level {
	font-size: 48px;
	background: #29d38d;
	display: inline-block;
	padding: 10px 15px;
	margin-right: 20px;
	min-width: 80px;
	text-align: center;
}
.top-popup-search .search-image .info .p-nick {
	font-size: 48px;
	padding-right: 15px;
}

.top-popup-search .search-image .info  .mg-top-20 {
	font-size: 22px;
}

.top-popup-search .search-image .info .p-pv {
	font-size: 48px;
	color: #29d38d;
}
.top-popup-search .search-image .info .p-pv i {
	font-weight: bold;
	font-size: 28px;
	color: #fff;
	font-style: normal;
	padding-right: 10px;
}

.top-popup-search .search-content {
	font-size: 24px;
	color: #ffffff;
}

.top-popup-search .search-content .black-brick {
	background: #ffffff;
	color: #4e4e4e;
}

.popup-pretty .close-button {
	font-size: 38px;
}

.popup-pretty .close-button i:nth-child(1) {
	right: -60px;
}

.popup-pretty .close-button i {
	height: 2px;
	width: 50px;
}




@media only screen and (max-width: 1024px)
{
	.pretty-layout{
		padding-left: 0;
	}
}

@media only screen and (max-width: 640px)
{
	.pretty-item .search-content .padding {
		padding: 0 15px;
	}
	.pretty-simple .info_right .padding {
		padding: 0 50px;
	}


	.top-popup-search .search-image img {
		max-width: 100%;
		margin: 0 auto;
	}
}


/* Landscape */
@media only screen and (orientation: landscape) {

	.top-popup-search .search-image img {
		width: 30%;
		margin: 0 auto;
	}

}



