.pretty-layout {
	padding-left: 30px;
	padding-right: 30px;
}

.pretty-content-header {
	padding-left: 20px;
	padding-right: 20px;
}

.pretty-title {
	margin: 0;
	font-size: 16px;
	padding: 10px 0;
}

.pretty-title small {
	font-size: 12px;
}

.fz-xxs {
	font-size: 10px;
}

.pretty-tab-header {
	overflow: hidden;
}

.pretty-tab-header > .tab-item {
	float: left;
	width: 33.333333%;
}

.pretty-tab-header > .tab-item a{
	display: block;
	border-bottom: 5px solid #fff;
}
.pretty-tab-header > .tab-item.active a{
	border-color: #f9f9f9;
}

.pretty-tab-header > .tab-item.active a span{
	border-color: #f9f9f9;
	background: #f9f9f9;
}

.pretty-tab-header > .tab-item a span {
	text-align: center;
	font-size: 14px;
	display: block;
	padding: 10px 0;
	font-weight: bold;
	color: #4e4e4e;
	border: 1px solid #eeeeee;
}

.pretty-tab-header > .tab-item a span:before {
	content: "";
	background: url('/img/icons/crown_gray_icon.png') no-repeat bottom center;
	width: 20px;
	height: 15px;
	display: inline-block;
	margin-right: 5px;
	position: relative;
	top: 2px;
}

.pretty-tab-header > .tab-item.active a span:before {
	background: url('/img/icons/crown_green_icon.png') no-repeat center;
}

.pretty-tab-header > .tab-item:nth-child(2) a{
	margin-left: 5px;
	margin-right: 5px;
}

.pretty-tab-content {
	padding: 20px 20px 0 20px;
}

.list-col {
	list-style: none;
	overflow: hidden;
	padding: 0;
	margin-bottom: 0;
}

.list-col-4 > li {
	width: 25%;
	float: left;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
}

.list-col-2 > li {
	width: 50%;
	float: left;
	padding-bottom: 20px;
}

.list-col-2 > li:nth-child(odd) {
	padding-right: 10px;
}

.list-col-2 > li:nth-child(even) {
	padding-left: 10px;
}

.pretty-item{
	background: white;
}

.pretty-item .display-table {
	padding: 0;
}

.pretty-item .search-image {
	width: 42%;
	height: 150px;
}

.pretty-item .search-content {
	height: 150px;
	padding: 0 20px;
}

.pretty-item .search-image img {
	width: 100%;
}

.pretty-div {
	margin-left: 20px;
	margin-right: 20px;
	height: 1px;
	background: #cccccc;
}

.pretty-list {
	padding-top: 20px;
}

.pretty-btn {
	background: #fff;
	border: 1px solid #29d38d;
	border-radius: 1px;
	color: #29d38d;
	padding: 3px 10px;
	text-align: center;
	width: 100%;
	font-size: 12px;
}

.pretty-simple {
	position: relative;
	overflow: hidden;
	cursor: pointer;
}

.pretty-simple .s-pv {
	position: absolute;
	top: 0;
	right: 5px;
}

.pretty-simple .s-nick {
	position: absolute;
	bottom: 0;
	left: 5px;
}
.pretty-simple .s-count{
	position: absolute;
	top: 0;
	left: 0;
}

.s-count{
	display: block;
    background: #29d38d;
    color: white;
    font-size: 18px;
    height: 30px;
	width: 30px;
	text-align: center;
	line-height: 30px;
}


.s-pv {
	color: white;
	font-size: 12px;
	text-shadow: 2px 2px 6px rgba(150, 150, 149, 1);
}

.s-pv big {
	font-size: 22px;
    margin-right: 4px;
}

.s-nick {
	color: white;
	text-shadow: 2px 2px 6px rgba(150, 150, 149, 1);
}

.s-nick big {
	font-size: 16px;
}

.s-nick small {
	font-size: 10.5px;
}

.pretty-simple img {
	width: 100%;
}

.i-new {
	display: inline-block;
	background: #29d38d;
	color: white;
	font-size: 12px;
	padding: 8px 10px;
}
.i-top{
    font-size: 10px;
    color: #29d38d;
    line-height: 1;
    margin-top: -10px;
}
.i-count{
	display: inline-block;
    background: #29d38d;
    color: white;
    font-size: 22px;
    padding: 3px 14px;
}

.i-pv {
	color: #29d38d;
	font-size: 20px;
	vertical-align: middle;
	margin-left: 10px;
}

.i-pv .i-unit {
	color: #4e4e4e;
	font-size: 12px;
	font-style: normal;
}

.i-nick big {
	font-size: 16px;
}

.i-nick small {
	font-size: 10.5px;
}

.gb-gray {
	background: #f9f9f9;
}

.gray-hr {
	background: #cccccc;
	width: 100%;
	height: 1px;
}

.text-bold {
	font-weight: bold;
}

.black-brick {
	padding: 4px 10px;
	background: #686868;
	color: white;
	margin-right: 5px;
}

.pretty-full-btn {
	display: block;
	background: #29d38d;
	color: white;
	font-size: 20px;
	text-align: center;
	padding: 12px;
	font-weight: bold;
	width: 100%;
	border: 0;
}

.pretty-full-btn.disable{
	opacity: 0.5;
	pointer-events: none;
}


/*-----------*/

.top-popup-search .display-table {
	padding: 0;
}

.top-popup-search .popup-pretty {
	width: 740px;
	margin-top: -215px;
	margin-left: -370px;
}

.popup-pretty .close-button {
	font-size: 22px;
}

.popup-pretty .close-button i:nth-child(1) {
	right: -36px;
}

.popup-pretty .close-button i {
	height: 2px;
	width: 30px;
}

.popup-pretty-item {
	font-size: 15px;
}

.popup-pretty-item .search-image {
	width: 44%;
	height: 400px;
}

.popup-pretty-item .search-image img {
	width: 100%;
}

.popup-pretty-item .p-nick {
	font-size: 22px;
}

.popup-pretty-item .p-pv {
	font-size: 20px;
	color: #29d38d;
	margin-left: 40px;
}

@media only screen and (max-width: 1024px)
{
	.pretty-layout{
		padding-left: 0;
	}
}