            .social-box .fb-column .fb-like {
                top: 19.5vw;
                right: 71vw;
                -webkit-transform: scale(1.5);
                transform: scale(0.8);
            }    
        @media only screen and (max-width: 720px){
            .social-box .fb-column .fb-like {
                top: 15.5vw;
                right: 61vw;
                -webkit-transform: scale(1.5);
                transform: scale(0.8);
            }
        }

        .social-box .fb-column .fb-like > span{
                width: 133px !important;
            height: 42px !important;
        }
        .fb_iframe_widget iframe{
            width: 135px !important;
            height: 42px !important;
        }