/*[reset]*/
.search-layout li a{
	height: auto;
}
/*[reset/]*/

/*[key result]*/
.keyword-result .number-result,
.keyword-result h1{
	font-size: 20px;
	margin: 0;
	color: #666;
}
.keyword-result .number-result b,
.keyword-result h1 strong{
	font-size: 24px;
}
.keyword-result .pull-right{
	width: 20%;
}
.keyword-result .pull-left{
	width: 80%;
}
/*[key result/]*/

/*[secret-group]: controller secret box in search layout*/
.secret-group ol{
	list-style: none;
	margin: 0;
	padding: 0 10px;
}
.secret-group ol li{
	margin-bottom: 20px;
}
.secret-group .secret-box .secret-foot .pull-right,
.secret-group .secret-box .secret-foot .pull-left{
	width: 50%;
}
/*[secret-group/]*/

/*[search result]: controller search box in search layout*/
.search-result ul{
	list-style: none;
	margin: 0;
	padding: 0 10px;
}
.search-result ul li{
	float: left;
	width: 50%;
	margin-bottom: 20px;
}

.search-result ul li:nth-child(2n+1){
	padding-right: 5px;
}
.search-result ul li:nth-child(2n+2){
	padding-left:  5px;
}
/*[search result/]*/

/*[pagination]*/
.search-layout .pagination{
	width: 100%;
	padding: 0 20px;
}
.search-layout .pagination .brick-btn{
	font-size: 26px;
    width: 100%;
    padding: 17px 0;
    border-width: 10px;
}
/*[pagination/]*/

/*[search layout] setting only in search layout*/
.search-layout .secret-group{
	margin-top: 20px;
}
/*[search layout/]*/

/*--------------RESPONSIVE---------------*/
@media only screen and (max-width: 700px) {
	/*[search result]*/
	.search-result .search-box .search-title{
		height: 150px;
	}
	.search-result .search-box .search-salary {
		height: 100px;
	}
	/*[search result/]*/
}

@media only screen and (max-width: 480px) {
	/*[search result]*/
	.search-result ul li {
		float: none;
		width: 100%;
		padding: 0 !important;
	}
	
	.search-result .search-box .search-title{
		height: auto;
	}
	/*[search result/]*/
	
	/*[secret-box] custom when in small screen*/
	.secret-box .secret-salary,
	.secret-group .secret-box .secret-foot .pull-right, 
	.secret-group .secret-box .secret-foot .pull-left{
		width: 100%;
	}
	.secret-group .secret-box .secret-foot .pull-right{
		margin-top: 10px;
	}
	.secret-box .secret-salary{
		height: 100px;
	}
	/*[secret-box/]*/
	
	/*[search-vericle]*/
	.search-vericle .brick-btn-group .pull-left,
	.search-vericle .brick-btn-group .pull-right{
		width: 100%;
		margin-top: 10px;
	}
	.search-vericle .keyword-result .pull-left,
	.search-vericle .keyword-result .pull-right{
		width: 100%;
		margin-bottom: 10px;
	}
	.search-vericle .keyword-result h1,
	.search-vericle .keyword-result .number-result{
		text-align: center;
	}
	.keyword-result h1 strong{
		display: block;
	}
	/*[search-vericle/]*/
	
}

