/*[key result]*/
.list-header{
	font-weight: normal;
	color: #666666;
}

.keyword-result .number-result{
	float: right;
    line-height: 1;
    margin-top: 6px;
	font-size: 12px;
}
.keyword-result .number-result b{
	font-size: 16px;
}
/*[key result/]*/


/*[secret-group]: controller secret box in search layout*/
.secret-group{
	margin-bottom: 20px;
	font-family: FreeSans,Arimo,"Droid Sans",Helvetica,Arial,sans-serif;
}
.secret-group ol{
	list-style: none;
	margin: 0;
	padding-left: 0;
}
.secret-group ol li:nth-child(odd){
	padding-right: 5px;
	padding-left: 0px;
}
.secret-group ol li:nth-child(even){
	padding-left: 5px;
	padding-right: 0px;
}
/*[secret-group/]*/

/*[search result]: controller search box in search layout*/
.search-result ul{
	list-style: none;
	margin: 0;
	padding-left: 0;
}
.search-result ul li{
	display: block;
}
/*[search result/]*/






/*[pagination]*/
.search-layout .pagination{
	width: 100%;
}
.search-layout .showmore-btn{
	width: 420px;
	padding: 8px;
	font-size: 16px;
	box-shadow: 0px 5px #2387a6;
}
/*[pagination/]*/

/*[current-search]*/
.current-search{
	color: #636363;
	font-size: 14px;
}
/*[current-search/]*/

/*[setting]*/
.search-layout .search-result{
	position: relative;
}
.search-layout .search-result:after{
	content: "";
    width: 1px;
    background: white;
    position: absolute;
    top: 0;
    bottom: 20px;
    right: -10px;
    display: block;
}

.search-layout .content{
	margin-right: 20px;
}
.slider .slider-wrap{
	position: static;
}
.slider #right-column-search.isBottom{
	position: absolute;
	bottom: 110px;
}
.material-box{
	visibility: hidden;
}
.material-box.isTop,
.material-box.isFixed,
.material-box.isBottom{
	visibility: visible;
}
/*[setting/]*/