/*TODO: [search] @comment*/
.main-contain{
	background: #eeeeee;
}
.banner{
	background: #eeeeee;
	padding-bottom: 30px;
}

.banner .banner-title {
    padding: 0 40px;
}

.banner .top-content {
   	background: url('/img/banner/top_search_sp_banner.jpg');
	background-size: 100%;
	padding-top: 130px;
	padding-bottom: 60px;
	background-repeat: no-repeat;
}

.banner-title-wp{
	font-size: 20px; 
}

.banner-title-wp big{
	font-size: 24px; 
}

.banner .middle-content {
    top: 30%;
    padding: 0 40px;
}

.banner-box-search{
	color: #4e4e4e;
	overflow: hidden;
	background: rgba(255,255,255, 0.65);
	margin-top: 20px;
	border: 1px solid white;
}

.metal-item-left{
	width: 75%;
	float: left;
	padding: 30px 0 30px 35px;
	font-size: 22px;
}

.metal-item-right{
	width: 25%;
	float: left;
	padding: 30px 35px 30px 0;
	font-size: 20px;
}

.search-part{
	border-bottom: 1px solid white;
	overflow: hidden;
	line-height: 1;
}

.i-change {
    text-align: right;
    cursor: pointer;
    font-size: 22px;
	display: block;
}

.i-change:after {
    content: "";
    background: url(/img/icons/right-arrow-gray-icon.png) no-repeat;
    width: 15px;
    height: 30px;
    display: inline-block;
    margin-left: 15px;
    background-size: 100%;
	vertical-align: middle;
}


.metal-item-left big{
	font-size: 28px;
}

.mg-left-30{
	margin-left: 30px;
}

.bottom-item{
	padding: 40px 30px;
}



.i-hotkey{
	display: block;
	margin: 10px 10px 0 0;
	float: left;
	background-color: #fff;
	padding: 15px 20px;
	line-height: 1;
	border-radius: 02px;
}

.metal-item-left.bottom {
    padding: 30px 00px 30px 35px;
}

.metal-item-right.bottom > .i-change{
	position: absolute;
	right: 35px;
	bottom: 20px;
}

.metal-item-hotkey{
	max-height: 120px;
    overflow: hidden;
}

.bottom-part{
	overflow: hidden;
	position: relative;
	/*height: 220px;*/
}

.count-job{
	text-align: center;
	font-size: 24px;
	padding-top: 22px;
	line-height: 1;
}

.count-job big{
	font-size: 28px;
}
@media only screen and (max-width: 3800px) {
	
	.metal-item-left.bottom,
	.metal-item-left {
	    padding: 20px 0 20px 20px;
	}

	.metal-item-right {
		padding: 20px 20px 20px 0;
	}
	.count-job{
		padding-top: 10px;
	}
.label-brick-inline--secondary{
	background: #d1ab4c;
	padding: 4px 20px;
	color: #ffffff;
	font-size: 20px;
	margin-right: 5px;
}	
	.metal-item-right.bottom > .i-change{
		right: 	20px;
		bottom: 10px;
	}
}
/*TODO: [search/]*/


/*TODO: [content] @comment*/
	.label-brick-inline{
		background: #686868;
		padding: 04px 26px;
		color: white;
    	font-size: 20px;
		margin-right: 05px;
	}
	.label-brick-inline-benefit{
		background: #d1ab4c;
		padding: 04px 6px;
		color: white;
    	font-size: 20px;
		margin-right: 05px;
	}
.y_search_sp .search-content__salary{
	overflow: hidden;
	line-height: 1.8;
	height: 3.6em;
}
.y_search_sp .benefit{
	color: #d1ab4c;
	font-weight: bold;
	line-height: 1.6;
}
	.y_search_sp{ 
		background-color: #eee; 
		padding-bottom: 30px; 
	}
	.y_search_sp .article-box{ 
		border-bottom: none; 
		padding: 30px 20px 0 20px;  
	}
	.y_search_sp .display-table{ 
		background-color: #f9f9f9; 
		table-layout: fixed;
	}
	.y_search_sp .search-content{ 
		padding: 23px 20px 20px 20px; 
		color: #4e4e4e; 
		font-size: 22px; 
	}
	.y_search_sp .salary{
		color: #4e4e4e; 
		font-weight: bold;
		line-height: 1.6;
	}
	.y_search_sp .title{
		margin-bottom: 10px;
		font-size: 18px;
		font-weight: 600;
		line-height: 1.6;
		clear: left;
	}
	.y_search_content_title{
		min-height: 120px;
		display: block;
		line-height: 1.6;
		overflow: hidden;
	}
	.search-content .secret-hr{
		margin-top: 30px;
		margin-bottom: 18px;
		border: 0;
		height: 1px;
		background: #4e4e4e;
	}

	.y_search_sp_btn{ 
		display: block; 
		text-align: center; 
		border-bottom: 06px solid #177a51; 
		background-color: #29d38d; 
		padding: 30px 0; 
		font-size: 34px; 
		line-height: 1; 
	}
	a.y_search_sp_btn { 
		color: #fff !important; 
	}
	.y_search_sp .site_name{ 
		color: #aaa; 
		float: right; 
		font-size: 20px; 
		padding: 20px 0 20px 0; 
	}

	.y_pagination_sp.pagination{ 
		padding-top: 10px;
		padding-bottom: 50px;
		background-color: #eeeeee;
	}
	.y_pagination_sp .article-box{
		padding: 27px 40px;
		width: 100%;
	}
	.y_pagination_sp .article-box .display-table{
		position: relative;
	}
	.y_pagination_sp .paginate_center{
		color: #4e4e4e;
		line-height: 1;
		font-size: 32px;
        text-align:center;
        width: 100%;
	}
	.y_pagination_sp .owl-nav .owl-prev, 
	.y_pagination_sp .owl-nav .owl-next {
	    top: 0;
		height: 40px;
	}
	.y_pagination_sp .owl-nav .owl-prev{
		left: 0;
	}
	.y_pagination_sp .owl-nav .owl-next{
		right: 0;
	}
	.y_pagination_sp .owl-nav .owl-prev-cus{
		background: url('/img/icons/right-arrow-drak-icon.png') no-repeat;
		background-size: 100%;
		width: 20px;
		transform: rotate(180deg);
		margin-top: -04px;
	}
	.y_pagination_sp .owl-nav .owl-next-cus{
		background: url('/img/icons/right-arrow-drak-icon.png') no-repeat;
		background-size: 100%;
		width: 20px;
	}
	.y_pagination_sp .owl-nav .owl-prev.opacity, 
	.y_pagination_sp .owl-nav .owl-next.opacity{
		opacity: 0.5;
	}
	.y_secret_banner_top{
		height: 10px;
	}
	.y_secret_banner_bottom{
		height: 40px;
	}
	.y_secret_banner_top, .y_secret_banner_bottom{
		background-color: #eeeeee;
	}

	

	.special-box{
		background: #fff;
	}
	.special-box .owl-dots{
		padding-top: 30px;
    	padding-bottom: 30px;
	}
/*TODO: [content/]*/