/*--- common ---*/



/*TODO: [display-table]*/
.display-table{
	display: table;
}
.display-table > *{
	display: table-cell;
}
.display-table p{
	margin: 0;
}
/*TODO: [display-table/]*/

/*TODO: [ul-icon]*/
.ul-icon:before {
    content: "◆";
    position: relative;
    margin-right: 5px;
}
.cus-ul-icon:before {
    content: "▼";
    position: relative;
    margin-right: 5px;
}
/*TODO: [ul-icon/]*/

/*TODO: [list-diamon-blue]*/
.list-diamon-blue{
	list-style: none;
	padding-left: 0px;
	line-height: 2;
}
/*.list-diamon-blue li:before{
	content: "◆";
    color: #00b2e8;
    font-size: 12px;
    line-height: 0;
    margin-right: 5px;
}*/
/*TODO: [list-diamon-blue/]*/

/*TODO: [circle-icon]*/
.circle-icon:before {
    content: "○";
    font-size: 27px;
    position: relative;
    line-height: 0;
    bottom: -3px;
}
/*TODO: [circle-icon/]*/

/*TODO: [icon-title]*/
.icon-title{
	padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #dfdfdf;
    border-top: 1px solid #dfdfdf;
    font-weight: bold;
	margin-bottom: 20px;
	font-size: 16px;
	color:#444444;
	line-height: 1.8;
}
.icon-title:before {
    color: #00b2e8;
    font-size: 14px;
	vertical-align: middle;
}
/*TODO: [icon-title/]*/

/*TODO: [cus-ul-icon-tab]*/
.cus-ul-icon-tab:before {
    content: "■";
    font-size: 20px;
    line-height: 0;
}
/*TODO: [cus-ul-icon-tab/]*/


/*TODO: [secret-table]*/
.secret-table{
	margin: 30px 0;
	table-layout: fixed;
	width: 100%;
}
.secret-table .display-table{
	width: 100%;
	margin-bottom: 10px;
}

.secret-table .display-table > div{
	padding: 15px 15px;
	vertical-align: top;
}

.secret-table .display-table > div:last-child{
	padding: 15px 15px 15px 30px;
}
.secret-table .display-table > div:first-child{
	width: 240px;
	background: #eeeeee;
	line-height: 2;
	/*font-weight: bold;*/
}
.secret-table ul
{
	padding: 0;
	list-style-type: none;
}
/*TODO: [secret-table/]*/

/*TODO: [secret-pr-title]*/
.secret-pr-title{
    line-height: 0;
	text-align: center;
	margin-top: 9px;
    margin-bottom: 24px;
}
.secret-pr-title > span{
    margin-bottom: 0;
    line-height: 0;
    font-size: 16px;
    font-weight: 600;
    padding: 1px 10px;
    background: white;
    color:#444444;
}
.secret-pr-title > hr{
	margin: 0;
}
/*TODO: [secret-pr-title/]*/



/*TODO: [secret-group]*/
.secret-group{
	margin-bottom: 0;
	color: #444444;
}
.secret-group .mg-col{
	height: 5px;
}
.secret-group .text-bold{
	font-weight: bold;
}
.secret-group small{
	font-size: 11px;
	color: #4a4a4a;
	font-weight: bold;
}
.secret-group > li{
	padding: 20px 0;
	border-bottom: 1px solid #dfdfdf;
	overflow: hidden;
}
.secret-group > li:first-child{
	padding-top: 0;
}
.secret-group > li:last-child{
	border-bottom: 0;
	padding-bottom: 0;
}
.secret-group .balance >span{
	width: 45px;
	display: inline-block;
	float: left;
}
.secret-group .balance >div{
	padding-left: 45px;
	font-weight: normal;
}
/*TODO: [secret-group/]*/

/*TODO: [topic-header]*/
.topic-header
{
	text-align: center;
	padding-bottom: 6px;
	margin-bottom: 10px;
}
.topic-header em{
	color: #00b3e8;
    font-size: 22px;
    ffont-family:Avenir , "Open Sans" , "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "メイリオ" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
    letter-spacing: 4px;
	font-style: normal;
}
.topic-header hr{
	border-color: #e1e1e1;
    margin: 0;
	margin-top: 5px;
}
.topic-header div{
    margin-bottom: 0;
    line-height: 0;
}
.topic-header div span{
	font-size: 12px;
    color: #666666;
    background: white;
    padding: 0 8px;
}
/*TODO: [topic-header/]*/


/*--- this page ---*/
.secret-layout{
	color: #4a4a4a;
	background: #fff;
}

.left-menu {
    width: 140px;
    margin-right: 10px;
}

/*TODO: [custom-nav-tabs]*/
ul.custom-nav-tabs{
	list-style: none;
	padding-left: 0;
	margin-bottom: 0;
}
.custom-nav-tabs li{
	margin-right: 20px;
	opacity: 0.4;
	margin-right: 20px; 
	margin-left: 20px; 
}
.custom-nav-tabs li .brick-btn{
	background: white;
    color: #4e4e4e;
    padding: 25px 35px;
    border-radius: 0;
	display: block;
	box-shadow: none;
	width: 220px;
	font-size: 16px;
	margin: 0 30px;
}
.custom-nav-tabs li.active{
	box-shadow: 0 1px #4e4e4e;
	opacity: 1;
}
.secret-layout .custom-nav-tabs{
	padding: 0;
	margin:0 ;
}
.secret-layout .custom-nav-tabs li:first-child{
	margin-right: 15px;
}

.tab-content{
	margin-top: 40px;
	margin-bottom: 220px;
}
.tab-content .tab-pane{
	display: none;
}
.tab-content .tab-pane.active{
	display: block;
}
/*TODO: [custom-nav-tabs/]*/

/*TODO: [company-header]*/
.company-header{
	margin-top: 2px;
}
.company-header .clearfix .pull-left{
	font-size: 12px;
}
.company-header .clearfix .pull-right{
	font-size: 10px;
}
.company-header .company-info{
	margin-bottom: 15px;
}

.company-header .company-info p{
	font-size: 12px;
	margin-top: 8px;
}
.company-header .company-logo img{
	width: 100%;
    position: relative;
    top: -30%;
}
.company-header .google-map{
	height: 300px;
	margin-bottom: 20px;
}
.company-logo-wrap {
    height: 360px;
    overflow: hidden;
}

.company-title h4{
	font-size: 20px;
	color: #636363;
}
.company-title p{
	font-size: 12px;
	color: #636363;
}

/*TODO: [company-header/]*/

/*TODO: [ads]*/
.ads{
	margin-top: -40px;
	z-index: 1;
    position: relative;
}
.ads .ads-wrap{
	padding: 10px 20px;
	background: rgba(0,0,0,0.55);
	color: #00b2e8;
}
.ads p{
	display: inline;
	font-size: 14px;
	line-height: 1;
}
/*TODO: [ads/]*/

/*TODO: [entry-this-job]*/
.entry-this-job{
	text-align: right;
}
.entry-this-job.bottom{
	margin-top: 0;
	margin-bottom: 60px;
}
.entry-this-job button.brick-green{
	padding: 10px 20px;
	box-shadow: none;
    font-size: 14px;
	border-radius: 3px;
	background: #29d28d;
}
.entry-this-job .brick-btn > span{
	font-size: 18px;
    vertical-align: middle;
    line-height: 1;
}
/*TODO: [entry-this-job/]*/

/*Main column*/
.tab-content p{
	line-height: 1.5;
	font-size: 13px;
}

.tab-content .person-present{
	margin-bottom: 30px;
	margin-top: 20px;
}
.tab-content .person-present.president-present{
	margin-bottom: 20px;
}
.tab-content .person-present .cell-img{
	width: 130px;
	height: 160px;
	overflow: hidden;
	position: relative;
	float: left;
}
.tab-content .person-present .cell-img img{
	height:100%;
	position: absolute;
	margin: 0 auto;
}

.tab-content .person-present .cell-content{
	padding-left: 160px;
	padding-top: 90px;
	vertical-align: middle;
}
.tab-content .person-present .cell-content p{
	line-height: 2;
}
.tab-content .person-present .cell-content .cell-header{
	margin-bottom: 5px;
	display: block;
	font-size: 14px;
}
.tab-content .display-table .cell-ceo{
	padding: 22px 22px 22px 60px;
	vertical-align: middle;
	font-size: 16px;
	line-height: 1.5;
}
.tab-content iframe{
	margin: 12px 0;
}
.tab-content .person-present__v3{
	margin-bottom: 0px;
    margin-top: 0px;
}

/*sub-column*/
.sub-column p{
	margin-bottom: 0;
	font-size: 12px;
	line-height: 1.8;
	font-weight: normal;
}
.sub-column .text-justify{
	margin-top: 5px;
	margin-bottom: 10px;
	line-height: 1.7;
}
.common-box.sub-column{
	padding: 10px;
}
/*TODO: [secret-button]*/
.secret-button{
	padding:0px 0px 0px 0px;
	background:#ffffff;
}
.secret-button img{
	padding-top:30px;
	width:100%;
}
.top-back{
	display:table;
	width:100%;
    text-align: center;
}
.top-back .benifit-title{
	display:table-cell;
	width:20%;
	background:#00b2e8;
	line-height:1.2;
	font-size:16px;
	padding: 20px 10px;
	color:#ffffff;
	border-radius: 0px !important;
}
.top-back .benifit-content{
	display:table-cell;
	width:80%;
	background:#ffffff;
	text-align: center;
	border:2px solid #00b2e8;
	color:#636363;
	vertical-align:middle;
	border-radius:0px;
}
.icon-span:before{
	content:"『";
    position: relative;
	font-size:13px;
	line-height: 1;
}
.icon-span1:before{
	content:"』";
    position: relative;
	font-size:13px;
	line-height: 1;
}
/*.top-back span{*/
	/*font-size: 22px;*/
    /*color: #444444;*/
    /*font-weight: bold;*/
    /*line-height: 1;*/
	/*font-family:Tw Cen MT;*/
/*}*/
.span-title{
	font-size:16.5px !important;
}
.top-back img{
	padding-top:0px;
}
/*TODO: [secret-button]*/

.secret-title-comment{
	font-weight: bold;
}

.search-layout .headerlink {
	padding-bottom: 29px;
	margin-bottom: 0;
}
.secret-title {
	color: #4e4e4e;
	font-weight: bold;
}

.search-layout .pagination {
	width: 100%;
}


/*TODO: [secret-box]: variable secret box*/
.secret-group{
	list-style: none;
	font-family:Avenir , "Open Sans" , "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "メイリオ" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
	padding-left: 0px;
}

.secret-box{
	margin-bottom: 10px;
	background: white;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), 0 1px 2px rgba(0,0,0,0.05);
}
.secret-box .secret-title h2{
	margin: 0;
	line-height: 14px;
	height: 38px;
	overflow: hidden;
}
.secret-box .secret-title a{
	color: #444;
	font-size: 14px;
	font-weight: 600;
}
.secret-box .secret-title{
	padding-bottom: 10px;
}
.secret-box .secret-foot{
	padding: 0;
}
.secret-box .secret-salary{
	background: #f2f2f2;
	padding: 5px;
	width: 180px;
	height: 40px;
	overflow: hidden;
}
.secret-box .secret-salary p{
	margin: 0;
	font-size: 10px;
	color: #444444;
	display: table-cell;
	vertical-align: middle;
	overflow: hidden;
}

.secret-box .secret-company{
	font-size: 12px;
	color: #444444;
	margin-top: 5px;
	height: 17px;
	overflow: hidden;
}
.secret-box .secret-image{
	overflow: hidden;
	position: relative;
	height: 116px;
}
.secret-box .secret-image  a {
	padding: 10px;
	position: relative;
	display: block;
	overflow: hidden;
	height: inherit;
}
.secret-box .secret-image img{
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	left: 0;
	right: 0;
	width: 100%;
}
.secret-box .secret-image .secret-work{
	position: absolute;
	right: 0;
	top: 10px;
	z-index: 1;
}

.secret-box  .info {
	padding: 10px;
}
.secret-box  .info .pull-right {
	width: 145px;
}


/*TODO: [secret-box/]*/
.col_custom:nth-child(odd){
	padding-right: 5px;
	padding-left: 0px;
}
.col_custom:nth-child(even){
	padding-left: 5px;
	padding-right: 0px;
}


/*TODO: [current-search]*/
.current-search{
	color: #636363;
    font-size: 14px
}
.keyword-result .number-result {
    float: right;
    line-height: 1;
    margin-top: 6px;
    font-size: 12px;
}
.keyword-result .number-result b{
	font-size: 16px;
}
/*TODO: [current-search/]*/


/*----*/
.container-contact.secret.detail, .container-contact.secret.previewCompany, .container-contact.secret.preview{
	background: #fff;
	color: #4e4e4e;
	font-size: 14px;
	position: relative;
}


/*Secret banner*/
.secret-info-banner{
	padding-top: 100px;
	padding-bottom: 20px;
}
.secret-info-banner h1{
	font-size: 26px;
	color: #4e4e4e;
}
.secret-info-banner small{
	font-size: 16px;
	color: #4e4e4e;
}
.secret-info-banner time{
	font-size: 12px;
}

/*secret-search-box*/
.secret-search-box{
	padding: 0;
}
.secret-search-box .search-image{
	width: 350px;
	height:255px;
}
.secret-search-box .search-content{
	width: 60%;
}
.secret-search-box .search-salary{
	margin-top: 10px;
    margin-bottom: 30px;
}
.secret-search-box .search-salary > span{
	background: #4e4e4e;;
}
.secret-search-box .search-salary > p{
	height: auto;
    padding-left: 80px;
    font-weight: bold;
    margin: 0;
    font-size: 18px;
}

.secret-search-box__v3 .search-salary{
	margin-top: 10px;
	margin-bottom: 0;
}
.secret-search-box__v3 .search-salary ._p{
	font-size: 14px;
	line-height: 2;
}

.secret-search-box__v3 .search-salary .href{
	padding-left: 80px;
	margin: 0;
}

.secret-search-box__v3 .search-salary > span{
	width: 70px;
	text-align: center;
	line-height: 1.5;
}

.secret-search-box__v3 .search-salary .__special{
	background: #00b2e8;;
}

.location > span{
	padding: 0 20px;
}

/*map-wrapper*/
.map-wrapper{
	height: 220px;
	overflow: hidden;
}
.map-wrapper .google-map{
	height: 360px;
}

/*secret-hr*/
.secret-hr{
	border-color: #4e4e4e;
	margin-top: 75px;
	margin-bottom: 80px;
}


/*TODO: secret-company-table*/
.secret-company-table{
	width: 620px;
	margin: 0 auto;
	table-layout: fixed;
}
.secret-company-table p{
	margin:0;
}
.secret-company-table .website-company{
	color: #4e4e4e;
}
.secret-company-table .display-table{
	width: 100%;
	margin-bottom: 20px;
}
.secret-company-table .display-table > div:first-child{
	width: 22.5%;
}
.secret-company-table .display-table > div:last-child{
	width: 77.5%;
}

/*TODO: branch-info*/
.branch-info{
	color: #b8b8b8;
}

/*TODO: [secret-info-footer]*/
.secret-info-footer{
	padding: 40px 0;
	max-height: 135px;
}
.secret-info-footer-company{
/*	padding-top: 7px;*/
	vertical-align: middle;
}
.secret-info-footer-company p{
	font-weight: bold;
	margin: 0;
	padding-left: 20px;
}
/*TODO: [secret-info-footer/]*/

/*TODO: [secret-fixed-box] @comment*/
.secret-fixed-box.isFixed{
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 1;
}
.secret-fixed-box.isBottom{
	position: absolute;
	right: 20px;
	bottom: 600px;
	z-index: 1;
}

.secret-fixed-box .secret-fixed-box-wp{
	background: rgba(0,0,0,0.4);
	padding: 17px;
	width: 300px;
}
.secret-fixed-box .brick-apply{
	width: 100%;
	font-size: 12px;
	padding: 8px 22px;
	background-position: right 18px top 12px;
	background-size: 24px;
	line-height: 2;
}
.secret-fixed-box .brick-apply span{
	font-size: 12px;
	line-height: 2;
	vertical-align: top;
}

.secret-fixed-box-company{
	color: white;
	/*font-weight: bold;*/
}
.secret-fixed-box-company > p{
	margin-bottom: 5px;
	font-size: 12px;
}
.secret-fixed-box-company big{
	font-size: 14px;
	font-weight: bold;
}

.secret-fixed-box-company small{
	font-size: 12px;
}
/*TODO: [secret-fixed-box/]*/







.brick-apply{
	background-image: url(/img/mail-icon.png);
    background-repeat: no-repeat;
        background-position: right 16px top 12px;
    width: 200px;
    text-align: left;
    padding: 7px 15px;
	color: white;
	font-size: 18px;
	line-height: 1;
}
.brick-apply span{
	font-size: 10px;
}

.i-cat-secret-label{
	background: #59cdf0;
    color: white;
    border: 0;
    border-radius: 0;
    padding: 3px 10px;
    font-size: 12px;
    line-height: 1;
	font-weight: normal;
	margin-right: 5px;
}



.gray-area{
	background: #efefef;
}

/*TODO: [setting]*/
.search-layout{
	margin-bottom: 40px;
}
.search-layout .dertail-content .common-box{
	margin-bottom: 10px;;
}
.secret-layout .slider .material-box{
	width: 360px;
}
.search-layout .slider .material-box{
	margin-bottom: 20px;
	width: 360px;
}
.search-layout .material-box.isBottom{
	position: absolute;
	bottom: 128px;
}
.material-box .material-wapper,
.slider .slider-wrap,
.search-layout .slider{
	position: static;
}
.search-layout .slider .slider-wrap{
	width: 360px;
}
.list-header{
	font-weight: normal;
    color: #666666;
}
.search-layout .search-result,
.history-box-metal{
	position: relative;
}
.search-layout .search-result:after {
    content: "";
    width: 1px;
    background: white;
    position: absolute;
    top: 0;
    bottom: 20px;
    right: -10px;
    display: block;
}
/*TODO: [setting/]*/




/* ------------------------- preview -----------------------*/
.secret-header .headerlink{
	float: left;
}
/* ------------------------- end preview -----------------------*/

.website-company{
    color: #4e4e4e;
}