@charset "utf-8";
/*TODO: [banner] @for secret detail*/
.detail .banner .bottom-content{
	position: absolute;
	bottom: 20px;
	left: 0;
	width: 100%;
	top: inherit;
	-ms-transform: none;
	transform: none;
}
.benifit{
	background: rgba(0,178,232,0.75);
	padding: 15px 20px;
	color: #ffffff;
	position: relative;
}
.benifit:after{
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: transparent;
	border-top-color: rgba(0,178,232,0.75);
	border-width: 40px;
	margin-left: -40px;
}
.benifit .benifit-title{
	font-size: 28px;
}
.benifit .benifit-content{
	font-size: 24px;
}
/*TODO: [banner/]*/
/*TODO: [label brick] @comment*/
.label-brick,.label-brick--secondary{
	display: inline-block;
	padding: 8px 20px;
	color: #ffffff;
	font-size: 24px;
	max-width: 140px;
	min-width: 140px;
	text-align: justify;
	height: 40px;
	line-height: 1;
	margin-bottom: 30px;
	font-weight: bold;
}
.label-brick{
	background: #686868;
}
.label-brick:after{
	content: "";
	display: inline-block;
	width: 100%;
}
.label-brick--secondary{
	background-color: #d1ab4c;
}
/*TODO: [label brick/]*/
.condition-box{
	background: #eeeeee;
	padding: 20px 26px;
	margin-bottom: 30px;
	font-size: 22px;
}
.condition-box__title{
	width: 3em;
	font-weight: bold;
}
.i-condi:after{
	content: " / ";
	letter-spacing: 1px;
}
.i-condi:last-child:after{
	content: "";
}
/*TODO: [company-info] @comment*/
.company-info .company-title{
	padding-top: 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid #686868;
	font-size: 28px;
	margin-left: 30px;
	margin-right: 30px;
}
.company-info .company-title small{
	font-size: 22px;
	font-weight: normal;
}
.company-info .company-sum{
	padding-top: 40px;
}
.company-info .company-sum .table-cell{
	vertical-align: top;
}
.company-info .company-sum p{
	padding-left: 28px;
	margin-bottom: 20px;
}
/*TODO: [company-info/]*/
/*TODO: [brick button] @comment*/
.brick-btn{
	display: block;
	box-shadow: 0px 6px #3ea67b;
	padding: 12px 0;
}
.brick-btn .brick-wp{
	background-repeat: no-repeat;
	text-align: left;
	color: #ffffff;
	font-size: 20px;
	line-height: 1.2;
	display: table;
	margin: 0 auto;
}
.brick-btn .brick-wp span{
	font-size: 20px;
}
.mail > .brick-btn .brick-wp{
	background-size: 65px 50px;
	background-image: url("/img/mail-icon.png");
	background-position: right 0 top 50%;
	padding-right: 80px;
}
.phone > .brick-btn .brick-wp{
	background-size: 30px 60px;
	background-image: url("/img/phone-icon.png");
	background-position: right 0 top 50%;
	padding-right: 40px;
}
.mail > .brick-btn{
	background: #29d38d;
	box-shadow: 0px 6px #3ea67b;
}
.phone > .brick-btn{
	background: #00b2e8;
	box-shadow: 0px 6px #0096c4;
}
.table-cell.phone small{
	font-size: 22px;
}
.table-cell.mail{
	width: 53%;
}
.table-cell.phone{
	width: 44.5%;
}
/*TODO: [brick button/]*/
/*TODO: [detail button] @comment*/
.detail-button{
	width: 100%;
}
.detail-button .middle-width{
	width: 20px;
}
.fixed-detail-button{
	position: fixed;
	bottom: 0;
	padding: 30px;
	background: rgba(0,0,0,0.55);
	display: none;
	z-index: 2;
}
.display-table.fixed-detail-button{
	display: table;
}
/*TODO: [detail button/]*/
/*TODO: [custom-nav-tabs]*/
.gray-background{
	height: 40px;
	background-color: #eeeeee;
}
.custom-nav-tabs{
	overflow: hidden;
}
.custom-nav-tabs li{
	width: 33.333%;
	float: left;
	text-align: center;
	background-color: #ababab;
	border-right: 1px solid #ffffff;
}
.custom-nav-tabs li a{
	display: block;
	font-size: 30px;
	background-color: #ababab;
	padding: 25px 0px;
	border-bottom: 1px solid #ababab;
	margin: 0 10px;
	font-weight: bold;
}
.custom-nav-tabs a{
	color: #dcdcdc;
}
.custom-nav-tabs li.active{
	background-color: #ffffff;
}
.custom-nav-tabs li.active a{
	color: #4e4e4e;
	background-color: #ffffff;
	border-bottom-color: #ababab;
}
.custom-nav-tabs li:last-child{
	border-right: none;
}
/*TODO: [custom-nav-tabs/]*/
/*TODO: [secret tab] @comment*/
.common_secret-box .secret-title{
	background: #eeeeee;
	font-size: 24px;
	padding: 10px 20px;
	margin-bottom: 30px;
	font-weight: 600;
}
.secret-tranf-title{
	font-size: 24px;
	font-weight: 600;
}
.common_secret-box .label-brick{
	width: 120px;
	text-align: center;
	margin-bottom: 10px;
}
/*TODO: [secret tab/]*/
/*TODO: [person-present] @comment*/
.person-present{
	overflow: hidden;
}
.person-present .cell-img,.person-present .cell-content{
	display: inline-block;
	vertical-align: middle;
}
.person-present .cell-img{
	width: 160px;
	height: 190px;
	overflow: hidden;
}
.person-present .cell-img img{
	width: 100%;
}
.person-present .cell-content{
	padding: 10px;
	max-width: 70%;
}
.common_secret-box span[style="font-size: 12px;"]{
	font-size: 24px !important;
}
/*TODO: [person-present/]*/
/*TODO: [box slider] @comment*/
.box_slider{
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 2px solid #4e4e4e;
	border-top: 2px solid #4e4e4e;
}
.box_slider .owl-dots{
	display: none;
}
.owl-carousel .owl-item{
	padding-right: 20px;
}
/*TODO: [box slider/]*/
/*TODO: [secret-hr] @comment*/
.secret-hr{
	border: 0;
	background: #cccccc;
	height: 1px;
	margin-bottom: 0;
}
/*TODO: [secret-hr/]*/
/*TODO: [tab__2017] @comment*/
.tab__title,.tab__title--secondary{
	background: #29d38d;
	color: #ffffff;
	padding: 30px;
	line-height: 1;
	font-size: 30px;
	font-weight: 600;
}
.tab__title--secondary{
	text-align: center;
}
/*TODO: [tab__2017/]*/
/*TODO: [icons] @comment*/
.circle-icon:before{
	content: "○";
	font-size: 27px;
	position: relative;
	line-height: 0;
	bottom: -3px;
}
/*TODO: [icons/]*/
/*TODO: [secret-company-table] @comment*/
.secret-company-table > .display-table{
	margin-top: 35px;
}
.secret-company-table > .display-table > div{
	display: table-cell;
	margin-top: 35px;
}
.secret-company-table > .display-table > div:first-child{
	width: 110px;
	border-right: 1px solid #222222;
}
.secret-company-table > .display-table > div:last-child{
	padding-left: 30px;
}
/*TODO: [secret-company-table/]*/
.website-company{
	color: #4e4e4e;
}
/*TODO: [secret-box--secondary] @comment*/
.secret-box--secondary{
	background-color: #ffffff;
}
.secret-box__title,.secret-box__title--s{
	padding-top: 40px;
	padding-bottom: 40px;
	border-bottom: 1px solid #cccccc;
}
.secret-box__title{
	font-size: 32px;
}
.secret-box__title--s{
	font-size: 26px;
}
.secret-box__txt{
	line-height: 2;
}
.secret-box__img > img{
	width: 100%;
	height: auto;
	vertical-align: top;
}
/*TODO: [secret-box--secondary/]*/
.search-tag{
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: end;
	justify-content: flex-end;
}
.search-tag__item{
	margin-left: 10px;
}
.search-tag__item:first-of-type{
	margin-left: 0;
}
.search-tag__item > span{
	color: #ffffff;
	font-size: 20px;
	font-weight: bold;
	padding: 5px 13px;
	vertical-align: middle;
}
.search-tag__item .interview-tag{
	background: #29d38d;
}
.search-tag__item .secret-tag{
	background: #1db3e5;
}
.search-tag__item .benefit-tag{
	background: #d1ab4c;
}
/* secret content */
.secret-content__item{
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: start;
	align-items: flex-start;
}
.secret-content__item > p{
	padding-left: 20px;
}
.txt-overflow{
	white-space: nowrap;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
}
@media only screen and (max-width: 480px){
	.brick-btn .brick-wp{
		/*		zoom: 0.8;*/
		-ms-transform: scale(0.8);
		transform: scale(0.8);
	}
}