/*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Toggle Styles */

#wrapper {
    padding-left: 0;

}
#wrapper-content{
    margin-top: 130px;
    background: #F2F2F2 ;
    box-shadow: 0 -1px 2px rgba(0,0,0,0.05), 0 1px 2px rgba(0,0,0,0.05);
}
#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 100;
    position: fixed;
    right: -250px;
    /*right: 250px;*/
    width: 250px;
    /*width: 0;*/
    height: 100%;
    margin-right: -250px;
    overflow-y: auto;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background: white;
    top: 0;
    padding-top: 40px;
}

#wrapper.toggled #sidebar-wrapper {
    right: 250px;
    box-shadow: -3px 0px 10px rgba(0,0,0,0.3);
    height: 100%;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}


.sidebar-nav li a {
    display: block;
    text-decoration: none;
    padding: 15px 15px !important;
}

.sidebar-nav li a:hover {
    text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

#sidebar-wrapper .sidebar-nav .dropdown .dropdown-menu{
    width: 100%;
    border: none;
    box-shadow: none;
    float: none;
    position: static;
    padding: 0;
}

#goTop, #footer{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#goTop.translate3d-250, #footer.translate3d-250{
    /*transform:translate3d(-250px, 0px, 0px) !important;*/
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#overlay.actived, #logo-img.actived{
    display: block !important;

    opacity: 1;
    z-index: 1;
    transition: all 0.5s cubic-bezier(0, 0, 0.25, 1);
}

#overlay{
    overflow: hidden;
    width: 200%;
    height: 100%;
    z-index: -1;
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0;
    display: none;
    opacity: 0;
    background: rgba(0,0,0,.6);
    transform: translate3d(-250px, 0px, 0px);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#logo-img{
    width: 100%;
    height: 100%;
    z-index: 1000;
    transition: transform 0.5s cubic-bezier(0, 0, 0.25, 1);
}
.toggled .hedader-fix .navbar-header .actived{
    /*transform: translate3d(-250px, 0px, 0px);*/
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.navbar-nav .open .dropdown-menu>li>a, .navbar-nav .open .dropdown-menu .dropdown-header{
    padding: 15px 15px 15px 35px !important;
    font-size: 12px;
    background: #f5f5f5;
}

.navbar-nav .dropdown-menu>li>a, .navbar-nav .dropdown-menu .dropdown-header{
    padding: 15px 15px 15px 35px !important;
    font-size: 12px;
    background: #f5f5f5;
    height: 50px;
    line-height: 20px;
}

.dropdown-menu>li>a{
    padding: 10px 15px 10px 35px ;
    color: #777;
    font-size: 12px;
}

.dropdown-menu>li>a:before{
    content: ">";
    float: right;
    margin-right: 10px;
}

#ranking-sp  .sliderimg .new-label{
	position: absolute;
	top: 0px;
    left: 0px;
}

#ranking-sp  .sliderimg .new-label span{
	font-size:12px;
    line-height: 2em;
}
@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }


}