/*CSS Detail PC*/

body {
   background: #f2f2f2 !important;
    font-size: 13px !important;
    color: #808080 !important;
}

a {
    text-decoration: none !important;
}

.no-padding {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.navbar-default {
    background: rgba(255, 255, 255, 0.8);
    border-color: white;
}

a:hover {
    /*color:black !important;*/
}

.topis-detailsp{
	background:red;
}
.menuborder {
    box-shadow: 0px 1px 6px #80838F;
    border: 1px solid #d2d2d2;
    margin-bottom: 15px;
    margin-top: 10px;
}

.navbar-default .navbar-toggle {
    border: none !important;
    margin: 0px !important;
    z-index: 200;
}
.navbar-toggle{
	padding: 12px 15px;
}
.navbar-default .navbar-toggle .icon-bar {
    background: #00b2e8;
    min-height: 5px;
    min-width: 30px;
}

.topic {
    background: #fafafa;
}

.topic p {
    font-size: 24.5px;
    color: #00b2e8;
    margin-left: 30px;
}

.border {
    border-bottom: 5px solid #00b2e8;
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
    width: 95% !important;
}

.new img {
    margin-right: 10px;
    margin-top: -7px;
}

.topic h1 {
    font-size: 30px;
    color: #808080;
    margin-left: 30px;
}

.titlehed {
    margin-bottom: 20px;
    margin-top: -15px;
}

.titlehed h1 {
    font-size: 23px;
    line-height: 1.5;
}

.titlehed h2 {
    font-size: 18px;
    font-weight: normal
}

.topic h2 {
    font-size: 20px;
    color: #808080;
    margin-left: 40px;
}

.link {
    margin-bottom: 15px;
    display: flex;
}

.number p {
    font-size: 16px;
    color: #808080;
}

.content1 {
    margin-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 14px;
    line-height: 2;
	
	/*Break content to new line when too long*/
	word-break: break-all;
	-ms-word-break: break-all;
}

.content1 h2 {
    font-size: 20px;
    color: #5f5f5f;
    margin: 0px;
    margin-bottom: 10px;
	line-height: 1.4;
}

.content1 p {
    font-size: 14px;
    color: #4a4a4a;
    line-height: 2;
}

.content2 {
    text-align: center;
    margin-top: 50px;
}

.footer {
    padding-bottom: 0px;
    margin-top: 30px;
}

.footerleft h3 {
    color: #828282;
    font-size: 14px;
    border-bottom: 2px solid #f2f2f2;
}


/* .footerleft{
	border-bottom:2px solid #f2f2f2;
} */

.footerright {
    text-align: center;
    margin-top: 35px;
}

.footerbut a {
    padding: 4px 8px;
    background: #999;
    color: white;
    border-radius: 3px;
    font-size: 10px;
    margin-right: 5px;
}

.footerbut a:hover {
    color: #fff;
}

.footerbut h3 {
    padding-bottom: 10px;
    font-size: 12px;
    color: #828282;
}

.footerbut p {
    margin-bottom: 10px;
    display: flex;
}

.box img {
    background: red;
    height: 40px;
    width: 151px;
}

.sayright {
    background: #FFF;
    margin-bottom: 33px;
    box-shadow: 0 0 0.5em #e0e0e0;
    border-radius: 3px;
    padding-bottom: 30px;
}

.saybottom {
    background: #FFF;
}

.saybottom img {
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.saycontent {}

.saytext h4 {
    font-size: 14px;
    margin-top: 0px;
    color: #636363;
    line-height: 1.6em;
    margin-bottom: 0px !important;
}

.sayimg {
    margin-top: 15px;
    padding: 0px;
    width: 70px !important;
    height: 70px;
    background: #ffffff;
    table-layout: fixed;
    margin-bottom: 5px;
    /*border-radius: 3px;*/
    clear: both;
    display: block;
    overflow: hidden;
}

.sayimg div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.saytext {
    margin-top: 20px;
}
.detaispimg .sayimg img{
	/* max-width: 150%;
	min-width: 100%;  */
	 width:90%; 
	text-align:center;
	position: absolute;
	transform: translate3d(-50%, -50%, 0);
	-webkit-transform: translate3d(-50%, -50%, 0);
	-ms-transform: translate3d(-50%, -50%, 0);
	top: 50%;
	left: 50%;
}
.sayimg img {
	 max-width: 150%;
	min-width: 100%;  
	/*  width:90%; */ 
	text-align:center;
	position: absolute;
	transform: translate3d(-50%, -50%, 0);
	-webkit-transform: translate3d(-50%, -50%, 0);
	-ms-transform: translate3d(-50%, -50%, 0);
	top: 50%;
	left: 50%;
}

.saytext p {
    font-size: 10px;
    color: #B9B7AC;
    clear: both;
    margin-bottom: 0px;
}

.contentborder {
    border-bottom: 1px solid #f2f2f2;
    margin: 5px 0px 0px 0px;
}

.saytext a {
    /*float: right;*/
    font-size: 12px;
    color: #8E8D8D;
    text-decoration: none;
}

.saytext img {
    margin-right: 3px;
    width: 18px;
    margin-top: -3px
}

.saybottom {
    margin-bottom: 30px;
}

h5 {
    font-size: 18px;
    color: #808080;
}

.saylink a {
    margin-right: 15px;
    font-size: 14px;
    color: #8a8a8a;
}

.saylinka a {
    margin-right: 15px;
    font-size: 14px;
    color: #8a8a8a;
}

.saylinkbut a {
    padding: 5px;
    background: #00b2e8;
    color: white;
    border-radius: 4px;
}

.saylinkbut a:first-child {
    padding: 5px;
    background: #29d38d;
    color: white;
    border-radius: 4px;
}

.saylinkbut {
    margin-top: 20px;
    margin-bottom: 20px;
}

.saylast {
    margin-bottom: 40px;
}

.contentright {
    background: white;
}

.contentright h2 {
    text-align: center;
}

.slidertext h4 {
    font-size: 12px;
    margin-bottom: 5px;
    line-height: 1.4em;
    color: #4A4A4A;
    height: 35px;
    vertical-align: middle;
    display: table-cell;
    padding-left: 10px;
}

.slidertext p {
    font-size: 10px;
    margin-right: 5px;
    color: #00b2e8;
    clear: both;
    border: 1px solid #00b2e8;
    padding: 0px 10px;
    letter-spacing: 0.1em;
    margin-bottom: 0px;
    margin-top: 5px;
    font-weight: normal;
}

.cus-footersplink a{
	color:#4a4a4a;
}
.footersp a{
	color:#808080;
}


.slidertext a {
    /*float:right;*/
    color: #565656;
    text-decoration: none;
    font-weight: bold;
	display: block;
}
.slidertext a.cat-label {
	display: inline-block;
}
.slidertext a.cat-label p{
	margin-right: 6px;
}

.contentrightbottom {
    background: white;
    margin-top: 20px;
}

.slidercontent a {
    padding: 5px;
    border-radius: 3px;
    background: #00b2e8;
    color: white;
    float: right;
    margin-bottom: 15px;
}


/*CSS index PC*/

.content p {
    margin-bottom: 5px;
    border-radius: 3px;
}

.row {
    margin: 0 auto;
}

.menulist ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    background: white;
    border-radius: 3px;
    box-shadow: 0 0 0.5em #e0e0e0;
    width: 140px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-bottom: 5px;
}

.menulist li a {
    display: block;
    color: #888888;
    text-decoration: none;
    border-bottom: 1px dotted #3bc4f0;
    line-height: 45px;
    font-size: 13px;
    padding-left: 5px;
}

.lastchild {
    margin-bottom: 20px;
}

.menulist .first {
    color: #00b2e8;
    padding-left: 0px;
    padding-top: 40px;
    line-height: 0;
    height: 60px;
    font-weight: bold;
    border-bottom: 1px dotted #3bc4f0;
    font-family: Times, Times New Roman, serif;
    font-size: 20px;
    letter-spacing: 0.1em;
}


/* Change the link color on hover */

.menulist li a:hover,
.menulist li a:focus {
    background-color: #f2f2f2;
    color: #808080 !important;
    text-decoration: none;
}

.new p:first-child {
    font-size: 24.5px;
    color: #00b2e8;
}

.span {
    color: #8b8b8b;
    font-size: 16px;
}

.button:hover,
.button.actived {
    /*background: #2387a6;*/
    /*vertical-align: sub;*/
    /*transition: 0.4s;*/
}

.button {
    position: relative;
    top: 0px;
    background-color: #00b2e8;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    width: 90px;
    height: 30px;
    border: none;
    margin-bottom: 10px;
    padding-top: 6px;
    transition: 0.1s;
    box-shadow: 0px 3px 0px #2387a6;
}

.button:active,
.button.actived,
.button:focus {
    /*-webkit-transition: All 0.4s ease;*/
    /*-moz-transition: All  0.4s ease;*/
    /*-o-transition: All  0.4s ease;*/
    /*-ms-transition: All  0.4s ease;*/
    /*transition: All  0.4s ease;*/
    position: relative;
    top: 3px;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    -ms-box-shadow: none !important;
    -o-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-transition: All 0.1s ease;
    -moz-transition: All 0.1s ease;
    -o-transition: All 0.1s ease;
    -ms-transition: All 0.1s ease;
    transition: All 0.1s ease;
    outline: none;
    background: #2387a6;
}

.buttonnew {
    background-color: #00b2e8;
    /* Green */
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 10px;
    width: 80px;
    height: 25px;
    border: none;
    padding-top: 12px;
}

.button1 {
    /*border: none;*/
    color: #ECECEC;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    width: 80px;
    height: 30px;
    margin-right: 25px;
    border-radius: 2px;
    padding: 10px;
}

.button2 {
    color: #666666;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    width: 30px;
    height: 30px;
    border: none;
    padding-top: 0px;
    border-radius: 4px;
    line-height: 4;
}


.next a:focus,
.prev a:focus,
.button2 a:focus {
    color: #ECECEC !important;
}

.button2 a {
    padding: 0px 10px;
}

.button3 {
    color: #CECECE;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    width: 50px;
    height: 45px;
    border-radius: 4px;
    padding: 10px 11px;
    margin-left: 25px;
}

.buttontop:focus,
.buttontop:active {
    outline: none;
}

.buttontop {
    background-color: #29d38d;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    width: 75px;
    height: 30px;
    border: none;
    box-shadow: 0px 3px #3ea67b;
    float: right;
    margin-right: 2px;
    padding-top: 6px;
}

.current {
    background-color: transparent;
}

.prev .prev a {
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    width: 50px;
    height: 45px;
    border-radius: 4px;
    padding: 10px 11px;
    margin-left: 25px;
}

.next {
    color: #CECECE;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    width: 50px;
    height: 45px;
    border-radius: 2px;
    padding: 10px 11px;
    margin-left: 25px;
}

.buttonslider {
    background-color: #00b2e8;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 11px;
    width: 60px;
    height: 20px;
    box-shadow: 0px 3px #2387a6;
    border: none;
    float: right;
    margin-top: 5px;
    margin-right: 10px;
}

.buttondetail {
    background-color: #00b2e8;
    /* Green */
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 10px;
    width: 80px;
    height: 25px;
    border: none;
}

.buttondetail:first-child {
    background-color: #29d38d;
    /* Green */
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 10px;
    width: 80px;
    height: 25px;
    border: none;
}

.span1 {
    font-size: 12px !important;
    color: #808080 !important;
    padding-left: 15px !important;
    font-weight: normal !important;
}

.last {
    font-size: 16px;
    color: #808080;
    padding-top: 5px;
    padding-bottom: 5px;
}

.abc {
    background: red;
    height: 100px;
}

.contentnew {
    background: white;
    margin-bottom: 5px;
    box-shadow: 0 -1px 2px rgba(0,0,0,0.05), 0 1px 2px rgba(0,0,0,0.05);
}

.footerlink {
    padding: 0 !important;
}

.footerlink h3 {
    /*padding-bottom:10px;*/
    /*color:black;*/
    /*font-size:13px;*/
    /*margin-top: 25px;*/
    /*margin-bottom: 15px;*/
    padding-bottom: 10px;
    color: #828282;
    font-size: 12px;
    margin-right: 10px;
}

.footerlink p {
    font-size: 12px;
    color: #828282;
    margin-bottom: 10px;
    padding: 3px;
}

.footerborder {
    margin-top: 10px;
    margin-bottom: 20px;
}

.footertem img {
    margin-right: 20px;
}

.footertem {
    margin-bottom: 15px;
}

.footertem p {
    font-size: 12px;
    color: #828282;
}

.sayborder {
    margin: 15px 0px 25px 0px;
}

.sayborderdetail {}

.slidertop {
    box-shadow: 0 0 0.5em #e0e0e0;
    padding-bottom: 10px;
    border-radius: 3px;
    padding-left: 0px !important;
    padding-right: 0px !important;
    background: #f2f2f2;
}

.slidertop h1 {
    /*font-size:25px;*/
    color: #00b3e8;
    text-align: center;
    font-size: 17px;
}

.sliderbottom {
    background: white;
    margin-top: 10px !important;
    box-shadow: 0 0 0.5em #e0e0e0;
    padding-bottom: 20px;
    border-radius: 0px;
}

.sliderbottom .slider-header h1 {
    color: #00b3e8;
    text-align: center;
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 0px;
    font-family: Times, Times New Roman, serif;
}

.sliderbottom .slider-header h2 {
    margin-bottom: 10px;
    text-align: center;
    font-size: 12px;
    margin-top: 5px;
    position: relative;
    padding-bottom: 10px;
}

.sliderbottom .slider-header h2:before {
    /*content: "";*/
    /*border-top: 1px solid #e1e1e1;*/
    /*width: 20%;*/
    /*position: absolute;*/
    /*bottom: 50%;*/
    /*left: 3%;*/
    content: "";
    border-top: 1px solid #e1e1e1;
    width: 20%;
    position: absolute;
    bottom: 80%;
    left: 5%;
}

.sliderbottom .slider-header h2:after {
    /*content: "";*/
    /*border-top: 1px solid #e1e1e1;*/
    /*width: 20%;*/
    /*position: absolute;*/
    /*bottom: 50%;*/
    /*right: 3%;*/
    content: "";
    border-top: 1px solid #e1e1e1;
    width: 20%;
    position: absolute;
    bottom: 80%;
    right: 5%;
}
.sliderimg {
    padding-left: 0px;
    margin-bottom: 0px;
    padding: 0px;
}

.sliderimg img {
    max-width: 150%;
    min-width: 100%;
    text-align: center;
    position: absolute;
    transform: translate3d(-50%, -50%, 0);
    -webkit-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0);
    top: 50%;
    left: 45%;
}
.detailsp{
	width:100% !important;
}
.detailsp .content1 img{
	display: table;
    margin: 0 auto;
	width: 90% !important;
	/*max-height: none !important;*/
    /*min-height: 0 !important;*/
    height:auto !important;
}
.slidertext {
    padding-right: 0px;
}

.sliderborder {
    margin: 0px 10px 5px 10px;
    ;
    width: 93% !important;
}

.sliderborderlast {
    border: 1px solid #f2f2f2;
    margin: 2px 0px 40px 0px;
}

.header {
   box-shadow: 0 1px 2px rgba(0,0,0,0.05), 0 1px 2px rgba(0,0,0,0.05);
   border-bottom: 2px solid #fff;
}

.logotext {
    margin-top: 47px;
    margin-bottom: 35px;
}

.logotext a {
    margin-left: 20px;
    color: #00b2e8;
    /*font-weight:bold;*/
}

.afist {
    margin-right: 70px;
}

.logotext img {
    margin-right: 60px;
    margin-left: 60px;
}

.headerlink a {
    font-size: 12px;
    color: #949494;
    margin-bottom: 10px;
    font-weight: bold;
}

.comment p {
    font-size: 22px;
}

.backtop {}

.back-to-top {
    display: none;
    width: 100%;
    height: 52px;
    text-indent: -9999px;
    position: fixed;
    z-index: 999;
    right: 20px;
    bottom: 0px;
    background: #6dd1f4 url("up-arrow.png") no-repeat center 43%;
}

.backtop p {
    color: red;
}

.ptop {
    /*font-size:22px;*/
    /*color:#00b2e8;*/
    /*font-weight:normal;*/
    font-size: 26px;
    color: #00b2e8;
    font-family: Times, Times New Roman, serif;
    letter-spacing: 0.11em;
}

.prev {
    font-weight: bold;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 0;
}

.prev a {
    /*padding: 6px 8px;*/
    color: #ffffff;
    font-size: 14px;
}

.gach {
    margin: 0px 10px 0px 10px;
}

.footersp {
    background:#f2f2f2;
    /*box-shadow: 0 -1px 2px rgba(0,0,0,0.05), 0 1px 2px rgba(0,0,0,0.05);*/
    /*border-radius: 3px;*/
    padding-bottom: 5px;
}

.footersp h1 {
    /*font-size:15px;*/
    /*margin-bottom:25px;*/
    text-align: left;
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    position: relative;
    color: #666666;
    padding-left: 0px;
    border-bottom: 1px dotted #ababab;
    font-weight: bold;
    letter-spacing: 0.11em;
}

/*.footersp h1:after {
    content: "";
    border-top: 1px solid #e1e1e1;
    width: 33%;
    position: absolute;
    bottom: 50%;
    right: 3%;
}*/

.footerspleft {
    text-align: right;
    padding: 0px 0px;
}

.footerspright {
    padding-left: 5px;
}

.footerspleft p {
    margin-bottom: 10px;
    text-align: center;
    vertical-align: middle;
    float: left;
    padding: 8px 20px;
    color: #808080;
    font-weight: bold;
    margin-right: 10px;
    border-radius: 2px;
    /*border: 1px solid #ababab;*/
    background: #fff;
}

.contents-sp .saycontent{
    display: table;
}
.contents-sp .sayimg{
    display: table-cell;
    width: 35% !important;
}
.contents-sp .saytext{
    display: table-cell;
    width: 60%;
    padding-top: 0px !important;
}
.contents-sp .titlesp{
    margin-top: 10px;
}

.next-prev-block > .prev{
	padding: 0;
}
@media only screen and (max-width: 480px){
    .custom-news-select select {
        font-size: 14px;
        padding: 10px 12px 10px 30px;
        border: 1px solid #cccccc;
        border-radius: 2px;
        outline: 0;
        width: 100%;
        -webkit-box-shadow: inset 0px 8px 8px -8px rgba(0,0,0,0.3);
        -moz-box-shadow: inset 0px 8px 8px -8px rgba(0,0,0,0.3);
        box-shadow: inset 0px 8px 8px -8px rgba(0,0,0,0.3);
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        font-weight: 600;
        background: #fff;
    }
    .custom-news-select:before {
        content: "▼";
        color: #bababa;
        font-size: 12px;
        position: absolute;
        left: 30px;
        top: 13px;
    }
    .custom-news-select {
        position: relative;
        padding:0 20px;
    }
}


.menua {
    padding: 9px;
    background: #00b2e8;
    margin-bottom: 2px;
    text-align: center;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    margin-right: 1px;
    margin-left: 1px;
}

.footerspright p {
    background: #B5B5B5;
    margin-bottom: 10px;
    text-align: center;
    width: 90%;
    height: 40px;
    vertical-align: middle;
    float: left;
    line-height: 40px;
    color: #fff;
    font-weight: bold;
}

.buttonsp {
    background-color: #bababa;
    /* Green */
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    width: 250px;
    height: 70px;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    border-radius: 7px;
}

.buttonsp1 {
    background-color: #bababa;
    /* Green */
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    width: 250px;
    height: 70px;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    border-radius: 7px;
}

.footerspimg {
    background: white;
    margin-top: 20px;
    box-shadow: 0 0 2em #e0e0e0;
}

.footerspimg img {
    max-width: 100%;
    min-width: 70%;
    margin-bottom: 20px;
}

.footersplinkleft {
    padding: 0px;
    border-right: 1px solid #e1e1e1;
}

.footersplinkleft p {
    padding-left: 23px;
}

.footersplinkright {
    padding: 0px;
}

.footersplinkright p {
    padding-left: 40px;
}

.footersplinktext p {
    border-bottom: 1px solid #e1e1e1;
}

.footersplink {
    margin-top: 20px;
}

.cus-footersplink {
    margin-top: 0;
    /*box-shadow: 0 -1px 2px rgba(0,0,0,0.05), 0 1px 2px rgba(0,0,0,0.05);*/
    background: white;
    position: relative;
    z-index: 1;
    font-family: FreeSans,Arimo,"Droid Sans",Helvetica,Arial,sans-serif;
    font-weight: bold;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
}

.cus-footersplink p {
    text-align: center;
}

.footersplinknext {
    float: right;
}

.footersplink p {
    border-bottom: 1px solid #e1e1e1;
    padding: 12px;
    height: 40px;
    margin-bottom: 0;
}

.cus-footersplink p:last-child {
    border-bottom: 0;
}

.footersplinktext a:focus {
    color: inherit !important;
}

.footersplinktext {
    background: #f2f2f2;
    box-shadow: 0 0 0.5em #e0e0e0;
    text-align: center;
    padding: 0 10px;
    font-family: FreeSans,Arimo,"Droid Sans",Helvetica,Arial,sans-serif;
}

.footersplinktext .footer-mail a {
    color: #1eb9ee;
    vertical-align: bottom;
    padding: 9px 37px;
    background: #ffffff;
    font-weight: bold;
}

.footersplinktext .footer-mail {
    margin-top: 37px;
}

.footersplinktext .footer-mail img {
    width: 30px;
    min-width: 0;
    margin-bottom: 0;
    margin-right: 15px;
}

.footersplinktext .footer-link {
    margin-top: 23px;
    line-height: 22px;
}

.footersplinktext .footer-link a {
    color: #666666;
    font-weight: 600;
}

.footersplinktext .footer-call-center {
	margin-top: 10px;
    margin-bottom: 30px;
    font-size: 11px;
}

.footersplinktext .footer-call-center a {
    color: #666666;
    font-weight: 600;
}

.footersplinktext p {
    padding: 0 10px;
    text-align: left;
    line-height: 50px;
    margin-top: -7px;
}

.footersplinktext img {
    max-width: 100%;
    min-width: 50%;
}

.footersplinktext p:first-child {
    /*border-top:1px solid #e1e1e1;*/
    margin-top: 10px;
}

.gotop {
    background: #00b2e8;
    color: white;
    font-size: 18px;
    height: 50px;
    text-align: center;
    width: 100%;
    opacity: 0.65;
    transition: 0.4s;
    margin-top: 20px;
    width: 140px;
    display: none;
}

.gotop:hover {
    opacity: 1;
    transition: 0.4s;
}

.gotop img {
    margin-top: -5px;
    width: 13%;
}

.gotop p {
    /*padding-top:10px;*/
    color: white;
    font-size: 20px;
    margin-bottom: 0px;
}

.gotop a {
    color: white;
    text-decoration: none !important;
    width: 100%;
    display: block;
    line-height: 50px;
    font-size: 16px;
}

.gotop a:hover,
a:focus {
    color: white !important;
}

.navbar{
	min-height: 50px;
}
.navbar-header img {
    width: 100px;
    height: 22px;
    margin-top: 12px;
	margin: 15px auto 0px;
	right:0;
	left:0;
	position: absolute;
}

.menulist-fix {
    position: fixed;
    top: 15px
}

.right-menu-fix {
    position: fixed;
    top: 15px;
    width: 260px;
}

.position-absolute {
    position: absolute !important;
}

.menu-absolute {
    position: absolute;
    top: 530px;
}

.content {
    width: 560px !important;
    margin-left: 10px;
    margin-right: 10px;
}

.slider {
    width: 260px !important;
    margin-left: 10px;
}

.content .contentnew {
    padding-right: 20px !important;
    padding-left: 20px !important;
    padding-top: 5px;
}

.content .contentnew .saytext {
    padding-left: 10px !important;
    padding-right: 0px !important;
    width: 86%;
}

.content .contentnew .saytext p {
    font-size: 10px;
    color: #c3c3c3;
    clear: both;
    margin-bottom: 0px;
}

.slidertop .slider-header,
.sliderbottom .slider-header {
    /*height: 50px;*/
}

.slidertop .slider-header h1 {
    margin-top: 15px;
    margin-bottom: 0px;
    font-family: Times, Times New Roman, serif;
    font-size: 20px;
}

.slidertop .slider-header h2 {
    /*font-size: 13px;*/
    padding-bottom: 10px;
    text-align: center;
    font-size: 12px;
    margin-top: 5px;
    position: relative;
}

.slidertop .slider-header h2:before {
    /*bottom: 50%;*/
    /*left: 3%;*/
    content: "";
    border-top: 1px solid #e1e1e1;
    width: 20%;
    position: absolute;
    bottom: 80%;
    left: 5%;
}

.slidertop .slider-header h2:after {
    /*bottom: 50%;*/
    /*right: 3%;*/
    content: "";
    border-top: 1px solid #e1e1e1;
    width: 20%;
    position: absolute;
    bottom: 80%;
    right: 5%;
}

.slidertop .sliderimg,
.sliderbottom .sliderimg {
    margin-top: 0px;
    width: 35%;
    height: 80px;
    table-layout: fixed;
    clear: both;
    display: block;
    overflow: hidden;
    margin-left: 0px;
}

.slidertop .slidertext,
.sliderbottom .slidertext {
    padding-left: 10px !important;
    margin-top: 0px;
}

.dertail-content {
    width: 720px !important;
    margin-right: 10px;
}

.dertail-header {
    width: 640px !important;
    padding-left: 40px !important;
    margin-top: 10px;
}

.detail-view {
    margin-top: 20px;
    text-align: right;
    padding-right: 0px !important;
    width: 250px !important;
}

.margin-right-5 {
    margin-right: 5px !important;
}

.hedader-fix {
    background: rgba(255, 255, 255, 0.5);
    position: fixed;
    z-index: 3;
    width: 100%;
}

.detailfix {
    padding-left: 10px;
    padding-right: 10px;
}

.logotext {
    margin-left: auto;
    margin-right: auto;
}

.logotext .logo {
    text-align: center;
    padding-left: 25%;
}

.bg-white {
    background: #ffffff;
    padding-top: 20px;
    padding-bottom: 40px;
}

.padding-10 {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.fb-icon {
    background: #999;
    margin-top: 30px;
    width: 50px;
    float: right;
    border-radius: 50%;
    height: 50px;
    margin-right: 5px;
}

.fb-icon .fa-facebook {
    color: white;
    font-size: 2em;
    line-height: 50px;
}

.tw-icon {
    background: #999;
    margin-top: 30px;
    width: 50px;
    float: left;
    border-radius: 50%;
    height: 50px;
    margin-left: 5px;
}

.tw-icon .fa-twitter {
    color: white;
    font-size: 2em;
    line-height: 50px;
}

.padding-left-5 {
    padding-left: 5px !important;
}

.headerlink {
    margin-bottom: 10px;
}

#footer{
    border-bottom: 5px solid #00b2e8;
}

.topis{
    /*position: fixed;*/
    overflow: hidden;
    background: #f5f5f5;
    padding: 10px 10px 0 10px;
    font-family: FreeSans,Arimo,"Droid Sans",Helvetica,Arial,sans-serif;
	/*z-index: -1;*/
}

.detailfix{
    /*margin-top: 205px;*/
    background: #f2f2f2;
}

.titlehed {
    margin-bottom: -15px;
}

.link {
    margin-top: 15px;
}

.link-but {
    margin-left: 10px;
}

.button-fb{
    overflow: hidden;
    margin-left: -10px;
    margin-right: -10px;
    padding-left: 10px;
    box-shadow: 0 0 0.5em #BFBFBF;
}

.ranking{
    padding-left:  0px !important;
    padding-right: 0px !important;
}

.keyward{
    padding-left: 10px;
    padding-right: 10px;
}

.content1>table{
    width: 100% !important;
}
/* tablet */

@media only screen and (min-width: 768px) and (max-width: 992px) {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    li a {
        display: block;
        color: #888888;
        font-weight: bold;
        padding: 8px 0 8px 16px;
        text-decoration: none;
        /* border-bottom: 1px dotted #3bc4f0;*/
        height: 40px;
    }
    .lastchild {
        margin-bottom: 20px;
    }
    .menulist a {
        font-size: 10px;
    }
    .saytext h4 {
        font-size: 13px;
    }
    .saytext p {
        font-size: 9px;
    }
    .saytext a {
        font-size: 9px;
    }
    .buttonslidermore {
        background-color: #00b2e8;
        /* Green */
        color: white;
        text-align: center;
        text-decoration: none;
        font-size: 11px;
        height: 30px;
        box-shadow: 0px 5px #2387a6;
        border: none;
        float: right;
        margin-top: -30px;
        margin-bottom: 20px;
    }
    .buttonslidermore span {
        padding-left: 5px;
    }
    .button1 {
        background-color: #f2f2f2;
        /* Green */
        color: #666666;
        text-align: center;
        text-decoration: none;
        font-size: 9px;
        width: 80px;
        height: 30px;
        border: none;
        margin-right: 70px;
        border-radius: 4px;
    }
    .button2 {
        background-color: #f2f2f2;
        /* Green */
        color: #666666;
        text-align: center;
        text-decoration: none;
        font-size: 12px;
        width: 30px;
        height: 30px;
        border: none;
        margin-right: 6px;
        border-radius: 4px;
    }
    .button3 {
        background-color: #f2f2f2;
        /* Green */
        color: #666666;
        text-align: center;
        text-decoration: none;
        font-size: 12px;
        width: 80px;
        height: 30px;
        border: none;
        margin-right: 6px;
        border-radius: 4px;
        margin-left: 64px;
    }
}

.detail_subtitle_innner a{
    color: #808080;
}

.buttonslidermore a {
    background-color: #00b2e8;
    color: white;
}

/* smart phone */

@media only screen and (max-width: 767px) {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    li a {
        display: block;
        color: #888888;
        font-weight: bold;
        padding: 8px 0 8px 16px;
        text-decoration: none;
        height: 50px;
    }
    .contentspborder {
        margin-bottom: 10px;
		border: 2px solid #00b2e8;
    }
    .sayborder {
        margin: 15px 0px 10px 0px;
    }
    .content {
        margin-top: -20px;
    }
    .background {
        background: #b2b2b2;
    }
    .content2 {
        text-align: center;
        margin-top: 10px;
    }
    .content1 {
        margin-top: 10px;
        padding: 0 5px;
    }
    .newtop {
        background: #f5f5f5;
        padding-top: 10px;
        padding-bottom: 40px;
        position: fixed;
        z-index: 0;
    }
    .lastchild {
        margin-bottom: 20px;
    }
    .menulist a {
        font-size: 10px;
    }
    .created {
        font-size:10px;
        letter-spacing: 0.05em;
    }
    .saytext h4 {
        font-size: 14px;
        margin-bottom: 5px;
        line-height: 1.6em;
        color: #4A4A4A;
        height: 45px;
        vertical-align: middle;
        display: table-cell;
        overflow: hidden;
        font-weight: bold;
    }
    .saytext p {
        font-size: 10px;
        margin-right: 5px;
        color: #00b2e8;
        clear: both;
        border: 1px solid #00b2e8;
        padding: 0px 10px;
        letter-spacing: 0.1em;
    }
    .saytext a {
        font-size: 12px;
        display: block;
    }
    .button {
        background-color: #00b2e8;
        /* Green */
        color: white;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        width: 150px;
        height: 35px;
        box-shadow: 0px 5px #2387a6;
        border: none;
        margin-bottom: 10px;
        margin-left: 20px;
    }
    .buttonslidermore {
        background-color: #00b2e8;
        color: white;
        text-align: center;
        text-decoration: none;
        font-size: 15px;
        height: 40px;
        border: none;
        margin-top: 5px;
        margin-bottom: 15px;
        margin-left: 10px;
        margin-right: 10px;
        width: 95%;
        border-bottom: 2px solid #2387a6;
    }
    .buttonslidermore span {
        padding-left: 5px;
        font-size: 12px;
    }
    .footersplinktext img {
        width: 45%;
    }
    .footersplinktext .copy-right span {
        font-size: 9px;
    }
    .footersplinktext .copy-right {
        color: #00b2e8;
        font-size: 12px;
        height: 23px;
    }
    .backgroundlast {
        background: #b2b2b2;
        height: 90px;
        margin-top: 15px;
    }
    .buttontop {
        margin-right: 5px;
    }
    .buttontop {
        background-color: #29d38d;
        color: white;
        text-align: center;
        text-decoration: none;
        font-size: 12px;
        width: 70px;
        height: 30px;
        border: none;
        box-shadow: 0px 3px #3ea67b;
        float: right;
        margin-top: 3px;
        padding-top: 4px;
        white-space: nowrap;
    }
    .contentsp {
        background: white;
        box-shadow: 0 -1px 2px rgba(0,0,0,0.05), 0 1px 2px rgba(0,0,0,0.05);
        margin-bottom: 0px;
        padding: 10px;
        margin-right: -10px;
        margin-left: -10px;
        padding-top: 0;
		padding-left: 10px !important;
		padding-right: 10px !important;
		width: auto !important;
        font-family: FreeSans,Arimo,"Droid Sans",Helvetica,Arial,sans-serif;
        color:#4A4A4A;
    }
    .contentsp p {
        font-size: 12px;
		line-height: 1.8;
    }
    .comment {
        padding: 5px;
        float: none;
        margin: 0 auto;
        clear: both;
        margin-top: -20px;
    }
    .contentspimg img {
        width: 20px;
        height: 20px;
		text-align:center;
    }
    .content2 img {
/*         max-width: 100%;
        min-width: 50%; */
		text-align:center;
		width:90%;
    }
    .contentspimgr img {
        width: 20px;
        height: 20px;
    }
    .contentspimgr {
        float: right;
        margin-top: -40px;
    }
    .topis {
       /*  background: white;
        margin-bottom: 17px;
        padding-top: 5px;
        margin-top: 10px; */
    }
    .number img {
        width: 20px;
        margin-top: -2px;
        margin-right: 5px;
        margin-left: 10px;
    }
    .new a {
        padding:8px 5px;
        background: #00b2e8;
        font-size: 12px;
        font-weight: normal;
        color: white;
		margin-right:5px;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    }
    .new p:first-child {
        font-size: 20px;
        letter-spacing: 0.1em;
    }
    .number p {
        font-size: 11px;
        color: #808080;
        text-align: left;
        white-space: nowrap;
        margin-bottom: 0px;
    }
    .titlesp {
        clear: both;
        color:#4A4A4A;
    }
    .titlehed h1 {
        font-size: 18px;
        color: #666666;
        font-weight: bold;
    }
    .titlehed h2 {
        font-size: 13px;
        color: #808080;
    }
    .padding-10 {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
    .sayimg {
        width: 35% !important;
        height: 90px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .saytext {
        margin-top: 15px;
        padding-top: 5px;
        margin-left: 4%;
    }
	.col-xs-9{
		width: 60% !important;
		margin-top: -1px;
	}
    .contentborder {
        /*margin-top: 12px;*/
        margin-top: 0px;
        border-bottom: none;
    }
    .slider {
        width: 100% !important;
        margin-left: 0px;
        background: #F2F2F2;
        padding-bottom: 20px;
        font-family: FreeSans,Arimo,"Droid Sans",Helvetica,Arial,sans-serif;
    }
    .slidertop .slider-header h2:before {
        content: "";
        border-top: 1px solid #e1e1e1;
        width: 26%;
        position: absolute;
        bottom: 80%;
        left: 3%;
    }
    .slidertop .slider-header h2 {
        border-bottom: none;
        color:#4A4A4A;
    }
    .slidertop .slider-header h2:after {
        content: "";
        border-top: 1px solid #e1e1e1;
        width: 26%;
        position: absolute;
        bottom: 80%;
        right: 3%;
    }
    .prev {
        margin-top: 20px;
        margin-bottom: 0px;
        text-align: inherit;
        padding-left: 10px;
        padding-right: 10px;
    }
    .prev span.prev a {
        margin-right: 10%;
        width: 50px;
        height: 45px;
        padding: 13px 2px;
        text-align: left;
        float: left;
        border-radius: 2px;
        border: 1px solid #cecece;
        margin-left: 0px;
    }
    .button1 {
        margin-right: 10%;
        width: 50px;
        height: 45px;
        padding: 10px 2px;
        text-align: left;
        float: left;
    }
    .button2 a {
        padding: 8px 10px;
        color:#666666;
        text-decoration: underline !important;
    }
    .next,
    .button3 {
        text-align: right;
        float: right;
        width: 50px;
        height: 45px;
        padding: 10px 2px;
    }
    .button3 {
        border: 1px solid #CECECE;
        background-color: #EFEFEF;
        color: #ECECEC;
    }
    .next a,
    .button3 a {
        /*width: 50px;*/
        /*height: 40px;*/
        /*padding: 13px 2px;*/
        margin-right: 0px;
        text-align: right;
        border-radius: 4px;
    }
    .sliderborder {}
    .sliderbottom {
        box-shadow: 0 -1px 2px rgba(0,0,0,0.05), 0 1px 2px rgba(0,0,0,0.05);
        padding-bottom: 0px;
        border-radius: 0px;
        font-family: FreeSans,Arimo,"Droid Sans",Helvetica,Arial,sans-serif;
    }
    .col-xs-9 {
        width: 58% !important;
    }
    .last {
        font-size: 14px;
        color: #808080;
        padding-top: 0px;
        padding-bottom: 0px;
        margin-bottom: 5px;
        font-weight: normal;
        margin-top: 5px;
    }
    body {
        background: #f2f2f2 !important;
    }
    .ptop {
        font-size: 20px;
        color: #00b2e8;
        font-family: Times, Times New Roman, serif;
        letter-spacing: 0.11em;
        margin-left: 4px;
        line-height: 1;
        font-weight: bold;
    }
    .span {
        color: #888888;
        font-size: 10px;
        margin-left: 4px;
        margin-top: 2px;
        font-weight: 600;
    }
/*    .slidertop .slider-header h1 {*/
/*        margin-top: 20px;*/
/*        margin-bottom: 0px;*/
/*    }*/
    .ranking h1 {
        margin-top: 20px;
        margin-bottom: 0px;
    }
/*    .sliderbottom .slider-header h1 {*/
/*        color: #00b3e8;*/
/*        text-align: center;*/
/*        font-size: 22px;*/
/*        font-family: Times, Times New Roman, serif;*/
/*        letter-spacing: 0.11em;*/
/*    }*/
    .ranking h1 {
        color: #666666;
        text-align: left;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 0.11em;
        padding-left: 10px;
    }
    .slider h1 {
        margin-top: 20px;
        margin-bottom: 0px;
    }
    .slider h1 {
        color: #666666;
        text-align: left;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 0.11em;
        padding-left: 20px;
    }
    .slidertop .slider-header,
    .sliderbottom .slider-header {
        height: 75px;
    }
    .slidertop .slidertext,
    .sliderbottom .slidertext {
        padding-left: 15px !important;
        margin-top: 10px;
        width: 60% !important;
    }
    #footer {
        background: #F2F2F2;
        border-bottom: 0;
        font-family: FreeSans,Arimo,"Droid Sans",Helvetica,Arial,sans-serif;
    }
    .contentnew {
        padding: 5px 0px 0px;
        font-family: FreeSans,Arimo,"Droid Sans",Helvetica,Arial,sans-serif;
    }
    .pagination-number {
        text-align: center;
        float: left;
        width: 60%;
    }
    /*SP paginator*/
    .next-prev-block {
        overflow: hidden;
    }
    .button1 {
        margin: 0;
        width: 48%;
        height: 40px;
        margin-left: 0px;
        text-align: center;
        background-color: #29d38d;
    }
    .prev span.prev a {
        margin: 0;
        width: 48%;
        text-align: center;
        /* height: 35px; */
		height: 40px;
        padding: 10px 2px;
        float: left;
        margin-left: 0px;
        border: none;
        background-color: #29d38d;
    }
    .next {
        width: 48%;
        height: 40px;
        margin-left: 0px;
        text-align: center;
        background-color: #29d38d;
    }
    .prev .prev a {
        border: none;
    }
    .button3 {
        margin: 0;
        width: 48%;
        height: 40px;
        margin-left: 0px;
        text-align: center;
        background-color: #29d38d;
        border: none
    }
    .pagination-number {
        text-align: center;
        float: none;
        margin: 0 auto;
    }
    .detail_title {
        text-align: center;
        font-size: 20px;
        color: #00b2e8;
        font-family: Times, Times New Roman, serif;
        letter-spacing: 0.1em;
        white-space: nowrap;
        font-weight: bold;
        margin-top: 15px;
        margin-bottom: 0px;
    }
    .detail_title_innner {
        margin-left: 10px;
        font-size: 14px;
        color: #808080;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        white-space: nowrap;
        letter-spacing: 0em;
    }
    .detail_subtitle {
        text-align: center;
        font-size: 20px;
        color: #00b2e8;
        font-family: Times, Times New Roman, serif;
        letter-spacing: 0.1em;
        white-space: nowrap;
        font-weight: bold;
        margin-top: 10px;
    }
    .detail_subtitle_innner {
        margin-left: 10px;
        font-size: 14px;
        color: #808080;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        white-space: nowrap;
        letter-spacing: 0em;
    }
	.datenew {
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        font-weight: normal;
        color: #808080;
        margin-left: 10px;
    }
    /*End SP paginator*/
}

/* iphone 6 */

@media only screen and (max-width: 375px) {
    .col-xs-9 {
        width: 60% !important;
    }
    .slidertop .slidertext,
    .sliderbottom .slidertext {
        padding-left: 10px !important;
        margin-top: 0px;
        width: 65% !important;
    }
    .footerspleft p {
        margin-bottom: 10px;
        text-align: center;
        vertical-align: middle;
        float: left;
        padding: 8px 10px;
        color: #808080;
        font-weight: bold;
        margin-right: 10px;
        border-radius: 2px;
        /*border: 1px solid #ababab;*/
        background: #fff;
    }
}

/* iphone 4.5 */

@media only screen and (max-width: 320px) {
    .col-xs-9 {
        width: 55% !important;
    }
    .slidertop .sliderimg,
    .sliderbottom .sliderimg {
        margin-top: 0px;
        width: 37%;
        height: 80px;
        table-layout: fixed;
        clear: both;
        display: block;
        overflow: hidden;
        margin-left: 0px;
    }
    .slidertop .slidertext,
    .sliderbottom .slidertext {
        padding-left: 10px !important;
        margin-top: 0px;
        width: 60% !important;
    }
    .next,
    .button3 {
        margin-left: 5px;
    }
    .pagination-number {
        text-align: center;
        width: 100%;
    }
    .saytext{
        margin-top: 0px;
        padding-top: 2px;
		margin-left: 3%;
    }
    .saytext h4 {
        font-size: 12px;
        margin-top: 0px;
        line-height: 1.6;
        height: 40px;
        vertical-align: middle;
        display: block;
		overflow: hidden;
        color: #302A1A;
    }
	.sayimg{
		width: 37% !important;
		height: 80px;
		margin-top: 0px;
	}
	.last{
		font-size: 14px;
		color: #808080;
		padding-top: 0px;
		padding-bottom: 0px;
		font-weight: normal;
	}
	.span1{
		font-size: 10px !important;
		color: #808080 !important;
		padding-left: 10px !important;
		font-weight: normal !important;
	}
    .menua {
        padding: 9px;
        background: #00b2e8;
        margin-bottom: 2px;
        text-align: center;
        color: #fff;
        font-size: 12px;
        font-weight: bold;
        margin-right: 1px;
        margin-left: 1px;
    }
    .titlehed h1 {
        font-size: 16px;
        color: #666666;
        font-weight: bold;
    }
}

@media only screen and (min-width: 250px) and (max-width: 320px) {
 .slidertop .slidertext,
    .sliderbottom .slidertext {
        width: 60% !important;
        padding-top: 10px;
    }
}
/* laptop */

@media only screen and (min-width: 992px) and (max-width: 1200px) {}


/* pc */

@media only screen and (min-width: 1200px) {
    .container {
        width: 1000px !important;
    }
}