/*CSS Detail PC*/

body {
   background: #f2f2f2 !important;
    font-size: 13px !important;
    color: #808080 !important;
}

a {
    text-decoration: none !important;
}

.no-padding {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.navbar-default {
    background: rgba(255, 255, 255, 0.8);
    border-color: white;
}

a:hover {
    /*color:black !important;*/
}


.menuborder {
    box-shadow: 0px 1px 6px #80838F;
    border: 1px solid #d2d2d2;
    margin-bottom: 15px;
    margin-top: 10px;
}

.navbar-default .navbar-toggle {
    border: none !important;
    margin: 0px !important;
    z-index: 200;
}

.navbar-default .navbar-toggle .icon-bar {
    background: #00b2e8;
    min-height: 5px;
    min-width: 30px;
}

.topic {
    background: #fafafa;
}

.topic p {
    font-size: 24.5px;
    color: #00b2e8;
    margin-left: 30px;
}

.border {
    border-bottom: 5px solid #00b2e8;
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
    width: 95% !important;
    margin-bottom: 20px;
}

.new img {
    margin-right: 10px;
    margin-top: -7px;
}

.topic h1 {
    font-size: 30px;
    color: #808080;
    margin-left: 30px;
}

.titlehed {
    margin-bottom: 20px;
    margin-top: -15px;
}

.titlehed h1 {
    font-size: 28px;
    line-height: 1.6;
    padding-left: 40px;
    padding-right: 40px;
    color:#636363;
}

.titlehed h2 {
    font-size: 18px;
    font-weight: normal;
    padding-left: 40px;
    line-height: 1.6;
}

.topic h2 {
    font-size: 20px;
    color: #808080;
    margin-left: 40px;
}

.link {
    margin-bottom: 20px;
    display: flex;
}

.number p {
    font-size: 16px;
    color: #808080;
}

.middle-content {
    margin-top: 0px !important;
}

.content1 {
    margin-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 14px;
    line-height: 2;
}

.content1 h2 {
    font-size: 22px;
    color: #5f5f5f;
    margin: 0px;
    margin-bottom: 18px;
}

.content1 p {
    font-size: 14px;
    color: #636363;
    line-height: 1.8;
}

.content2 {
    text-align: center;
    margin-top: 50px;
}

.footer {
    padding-bottom: 0px;
    margin-top: 30px;
}

.footerleft h3 {
    color: #828282;
    font-size: 14px;
    border-bottom: 1px solid #ababab;
}


/* .footerleft{
	border-bottom:2px solid #f2f2f2;
} */

.footerright {
    text-align: center;
    margin-top: 35px;
}

.footerbut a {
    padding: 4px 8px;
    background: #ababab;
    color: white;
    border-radius: 2px;
    font-size: 12px;
    margin-right: 5px;
    line-height: 1.5em;
}

.footerbut a:hover {
    color: #fff;
}

.footerbut h3 {
    padding-bottom: 15px;
    font-size: 14px;
    color: #636363;
}

.footerbut p {
    margin-bottom: 15px;
    display: flex;
}

.box img {
    background: red;
    height: 40px;
    width: 151px;
}

.sayright {
    background: #FFF;
    margin-bottom: 15px;
    box-shadow: 0 0 0.5em #e0e0e0;
    border-radius: 3px;
    padding-bottom: 30px;
    color:#4A4A4A;
    font-family: FreeSans,Arimo,"Droid Sans",Helvetica,Arial,sans-serif;
}

.saybottom {
    background: #FFF;
}

.saybottom img {
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.saycontent {}

.saytext h4 {
    font-size: 14px;
    margin-bottom: 5px;
    line-height: 1.5em;
    color: #4A4A4A;
    height: 55px;
    vertical-align: top;
    display: table-cell;
}

.sayimg {
    margin-top: 5px;
    padding: 0px;
    width: 130px !important;
    height: 70px;
    background: #f2f2f2;
    table-layout: fixed;
    margin-bottom: 10px;
    /*border-radius: 3px;*/
    clear: both;
    display: block;
    overflow: hidden;
}

.sayimg div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.saytext {
    margin-top: 5px;
	margin-left:20px;
}

.sayimg img {
    max-width: 155%;
    min-width: 100%;
    position: absolute;
    transform: translate3d(-50%, -50%, 0);
    -webkit-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0);
    top:50%;
    left: 50%;
}

.saytext p {
    font-size: 10px;
    margin-right: 10px;
    color: #fff;
    clear: both;
    background: #00b2e8;
    padding: 0px 5px;
    border-radius: 0px;
}

.contentborder {
    border-bottom: 1px solid #f2f2f2;
    margin: 5px 0px 0px 0px;
}

.saycontent .saytext a {
    float: right;
    font-size: 12px;
    color: #8E8D8D;
    text-decoration: none;
	margin-bottom: -14px;
}

.saytext a {
    font-size: 12px;
    color: #888888;
    margin-bottom: 0px;
}
.saytext a:first-child,
.slidertext a:first-child{
	display: block;
}

.saytext img {
    margin-right: 3px;
    width: 18px;
    margin-top: -3px
}

.saybottom {
    margin-bottom: 30px;

}

h5 {
    font-size: 18px;
    color: #808080;
}

.saylink a {
    margin-right: 15px;
    font-size: 14px;
    color: #8a8a8a;
}

.saylink a:hover {
    border-bottom: 2px dotted #00b2e8;
    padding-bottom: 3px;
}

.saylinka a {
    margin-right: 15px;
    font-size: 14px;
    color: #8a8a8a;
}

.saylinkbut a {
    padding: 5px;
    background: #00b2e8;
    color: white;
    border-radius: 4px;
}

.saylinkbut .buttondetail:first-child a {
    padding: 5px;
    background: #29d38d;
    color: white;
    border-radius: 4px;
}

.saylinkbut {
    margin-top: 20px;
    margin-bottom: 20px;
}

.saylast {
    margin-bottom: 40px;
}

.contentright {
    background: white;
}

.contentright h2 {
    text-align: center;
}

.slidertext h4 {
    font-size: 10px;
    margin-top: 0px !important;
    margin-bottom: 0px!important;
    line-height: 1.5em;
    color: #4A4A4A;
    height: 35px;
    vertical-align: top;
    display: table-cell;
}

.slidertext p {
    font-size: 10px;
    color: #00b2e8;
    float: left;
    font-weight: normal;
    margin-bottom: 5px;
}

.slidertext a {
    /*float:right;*/
    color: #565656;
    text-decoration: none;
    font-weight: bold;
}

.contentrightbottom {
    background: white;
    margin-top: 20px;
}

.slidercontent a {
    padding: 5px;
    border-radius: 3px;
    background: #00b2e8;
    color: white;
    float: right;
    margin-bottom: 15px;
}


/*CSS index PC*/

.content p {
    margin-bottom: 0px;
    border-radius: 3px;
}

.row {
    margin: 0 auto;
}

.menulist ul {
     list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    background: white;
    border-radius: 3px;
    box-shadow: 0 -1px 2px rgba(0,0,0,0.05), 0 1px 2px rgba(0,0,0,0.05);
    width: 140px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-bottom: 5px;
}

.menulist li a {
    display: block;
    color: #636363;
    text-decoration: none;
    border-bottom: 1px dotted #3bc4f0;
    line-height: 45px;
    font-size: 13px;
    padding-left: 5px;
}

.lastchild {
    margin-bottom: 20px;
}

.menulist .first {
    color: #00b2e8;
    padding-left: 0px;
    padding-top: 40px;
    line-height: 0;
    height: 60px;
    border-bottom: 1px dotted #3bc4f0;
    font-family: Times, Times New Roman, serif;
    font-size: 20px;
    letter-spacing: 0.1em;
}


/* Change the link color on hover */

.menulist li a:hover,
.menulist li a:focus {
    background-color: #f2f2f2;
    color: #636363;
    text-decoration: none;
    -webkit-transition: All 0.4s ease;
    -moz-transition: All 0.4s ease;
    -o-transition: All 0.4s ease;
    -ms-transition: All 0.4s ease;
    transition: All 0.4s ease;
}

.new p:first-child {
    font-family: Times,Times New Roman,serif;
    letter-spacing: 0.1em;
    font-size: 24.5px;
    color: #00b2e8;
}

.span {
    color: #636363;
    font-size: 14px;
    font-weight: bold;
}

.button:hover,
.button.actived {
    /*background: #2387a6;*/
    /*vertical-align: sub;*/
    /*transition: 0.4s;*/
}

.button {
    position: relative;
    top: 0px;
    background-color: #00b2e8;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    width: 90px;
    height: 30px;
    border: none;
    margin-bottom: 10px;
    padding-top: 6px;
    transition: 0.1s;
    box-shadow: 0px 2px 0px #2387a6;
    border-radius: 3px;
}

.button:active,
.button.actived,
.button:focus {
    /*-webkit-transition: All 0.4s ease;*/
    /*-moz-transition: All  0.4s ease;*/
    /*-o-transition: All  0.4s ease;*/
    /*-ms-transition: All  0.4s ease;*/
    /*transition: All  0.4s ease;*/
    position: relative;
    top: 2px;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    -ms-box-shadow: none !important;
    -o-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-transition: All 0.1s ease;
    -moz-transition: All 0.1s ease;
    -o-transition: All 0.1s ease;
    -ms-transition: All 0.1s ease;
    transition: All 0.1s ease;
    outline: none;
    background: #2387a6;
}

.buttonnew {
    background-color: #00b2e8;
    /* Green */
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 10px;
    width: 80px;
    height: 25px;
    border: none;
    padding-top: 12px;
}

.button1 {
    /*border: none;*/
    color: #CECECE;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    width: 80px;
    height: 30px;
    margin-right: 25px;
    border-radius: 4px;
    padding: 10px;
}

.button2 {
    color: #666666;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    width: 30px;
    height: 30px;
    border: none;
    padding-top: 0px;
    border-radius: 4px;
    line-height: 4;
}

.next a:focus,
.prev a:focus,
.button2 a:focus {
    color: #727272 !important;
}

.button2 a {
    padding: 0px 10px;
}

.button3 {
    color: #CECECE;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    width: 50px;
    height: 45px;
    border-radius: 4px;
    padding: 10px 11px;
    margin-left: 25px;
}

.buttontop:focus,
.buttontop:active {
    outline: none;
}

.buttontop {
    background-color: #f2f2f2;
    color: #666;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    width: 90px;
    height: 18px;
    border: none;
    font-weight: bold;
    float: right;
    margin-right: 2px;
    margin-top: 14px;
}

.current {
    background-color: transparent;
    padding: 0 10px 0 10px;
}

.prev .prev a {
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    width: 50px;
    height: 45px;
    border-radius: 4px;
    padding: 10px 11px;
    margin-left: 25px;
}

.next {
    color: #CECECE;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    width: 50px;
    height: 45px;
    border-radius: 4px;
    padding: 10px 11px;
    margin-left: 25px;
}

.buttonslider {
    background-color: #00b2e8;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 11px;
    width: 60px;
    height: 20px;
    box-shadow: 0px 3px #2387a6;
    border: none;
    float: right;
    margin-top: 5px;
    margin-right: 10px;
}

.buttondetail {
    background-color: #00b2e8;
    /* Green */
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 10px;
    width: 95px;
    height: 25px;
    border: none;
}

.buttondetail:first-child {
    background-color: #29d38d;
    /* Green */
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 10px;
    width: 80px;
    height: 25px;
    border: none;
}

.span1 {
    font-size: 12px !important;
    color: #808080 !important;
    padding-left: 15px !important;
    font-weight: normal !important;
}

.last {
    font-size: 12px;
    color: #808080;
    padding-top: 8px;
    padding-bottom: 5px;
}

.abc {
    background: red;
    height: 100px;
}

.contentnew {
    background: white;
    margin-bottom: 25px;
    box-shadow: 0 -1px 2px rgba(0,0,0,0.05), 0 1px 2px rgba(0,0,0,0.05);
    padding-bottom: 20px;
    padding-top: 5px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 3px;
    /*border-radius: 3px;*/
}

.footerbut {
    width: auto;
    margin-left: 10px;
}

.footerlink {
    padding: 0 !important;
    width: 280px;
}

.footerlink h3 {
    /*padding-bottom:10px;*/
    /*color:black;*/
    /*font-size:13px;*/
    /*margin-top: 25px;*/
    margin-bottom: 15px;
    padding-bottom: 15px;
    color: #636363;
    font-size: 14px;
    margin-right: 10px;
}

.footerlink p {
    font-size: 14px;
    color: #636363;
    margin-bottom: 20px;
}

.footerborder {
    margin-top: 10px;
    margin-bottom: 20px;
}

.footertem img {
    margin-right: 20px;
}

.footertem {
    margin-bottom: 15px;
}

.footertem p {
    font-size: 12px;
    color: #636363;
}

.sayborder {
    margin: 15px 0px 25px 0px;
}

.sayborderdetail {}

.slidertop {
    background: white;
    box-shadow: 0 -1px 2px rgba(0,0,0,0.05), 0 1px 2px rgba(0,0,0,0.05);
    padding-bottom: 10px;
    border-radius: 3px;
    padding-top: 10px;
}

.slidertop h1 {
    /*font-size:25px;*/
    color: #00b3e8;
    text-align: center;
    font-size: 17px;
}

.sliderbottom {
    background: white;
    margin-top: 20px !important;
    box-shadow: 0 -1px 2px rgba(0,0,0,0.05), 0 1px 2px rgba(0,0,0,0.05);
    padding-bottom: 20px;
    border-radius: 3px;
}

.sliderbottom .slider-header h1 {
    color: #00b3e8;
    text-align: center;
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 0px;
    font-family: Times, Times New Roman, serif;
    letter-spacing: 2px;
}

.sliderbottom .slider-header h2 {
    margin-bottom: 5px;
    text-align: center;
    font-size: 12px;
    margin-top: 10px;
    position: relative;
    padding-bottom: 0px;
    color:#4A4A4A;
}

.sliderbottom .slider-header h2:before {
    /*content: "";*/
    /*border-top: 1px solid #e1e1e1;*/
    /*width: 20%;*/
    /*position: absolute;*/
    /*bottom: 50%;*/
    /*left: 3%;*/
    content: "";
    border-top: 1px solid #e1e1e1;
    width: 25%;
    position: absolute;
    bottom: 50%;
    left: 5%;
}

.sliderbottom .slider-header h2:after {
    /*content: "";*/
    /*border-top: 1px solid #e1e1e1;*/
    /*width: 20%;*/
    /*position: absolute;*/
    /*bottom: 50%;*/
    /*right: 3%;*/
    content: "";
    border-top: 1px solid #e1e1e1;
    width: 25%;
    position: absolute;
    bottom: 50%;
    right: 5%;
}

.sliderimg {
    padding-left: 0px;
    margin-bottom: 10px;
    padding: 0px;
}

.sliderimg img {
    max-width: 210%;
    min-width: 100%;
    text-align: center;
    position: absolute;
    transform: translate3d(-50%, -50%, 0);
    -webkit-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0);
    top: 50%;
    left: 50%;
}

.slidertext {
    padding-right: 0px;
}

.sliderborder {
    margin: 0px 10px 5px 10px;
    ;
    width: 93% !important;
}

.sliderborderlast {
    border: 1px solid #f2f2f2;
    margin: 2px 0px 40px 0px;
}

.header {
     border-top: 5px solid #00b2e8;
    box-shadow: 0 0 5px rgba(0,0,0,0.16), 0 2px 10px rgba(0,0,0,0.12);
    border-bottom: 3px solid #fff;
}

.logotext {
    margin-top: 60px;
    margin-bottom: 60px;
}

.logotext a {
    margin-left: 20px;
    color: #00b2e8;
    /*font-weight:bold;*/
}

.logotext a:hover {
    color: #00C3FF;
    -webkit-transition: All 0.4s ease;
    -moz-transition: All 0.4s ease;
    -o-transition: All 0.4s ease;
    -ms-transition: All 0.4s ease;
    transition: All 0.4s ease;
}

.afist {
    margin-right: 70px;
}

.logotext img {
    margin-right: 0px;
    margin-left: 120px;
}

.headerlink a {
    font-size: 12px;
    color: #949494;
    margin-bottom: 10px;
    font-weight: bold;
}

.comment p {
    font-size: 16px;
    line-height: 2;
}

.backtop {}

.back-to-top {
    display: none;
    width: 100%;
    height: 52px;
    text-indent: -9999px;
    position: fixed;
    z-index: 999;
    right: 20px;
    bottom: 0px;
    background: #6dd1f4 url("up-arrow.png") no-repeat center 43%;
}

.backtop p {
    color: red;
}

.ptop {
    /*font-size:22px;*/
    /*color:#00b2e8;*/
    /*font-weight:normal;*/
    font-size: 26px;
    color: #00b2e8;
    font-family: Times, Times New Roman, serif;
    letter-spacing: 0.11em;
}

.prev {
    font-weight: bold;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 0;
}

.prev a {
    /*padding: 6px 8px;*/
    color: #727272;
    font-size: 14px;
}

.gach {
    margin: 0px 10px 0px 10px;
}

.footersp {
    background: white;
    margin-top: 20px;
    box-shadow: 0 0 0.5em #e0e0e0;
    border-radius: 3px;
    padding-bottom: 15px;
}

.footersp h1 {
    /*font-size: 18px;*/
    color: #00b3e8;
    text-align: center;
    font-size: 22px;
    font-family: Times, Times New Roman, serif;
    letter-spacing: 0.11em;
}

.footersp h2 {
    /*font-size:15px;*/
    /*margin-bottom:25px;*/
    text-align: center;
    font-size: 13px;
    margin-top: -5px;
    margin-bottom: 15px;
    padding-bottom: 0px;
    position: relative;
}

.footerspleft {
    text-align: right;
    padding-right: 5px;
}

.footerspright {
    padding-left: 5px;
}

.footerspleft p {
    /*background: #bababa;*/
    /*border-radius: 5px;*/
    /*width: 135px;*/
    border-radius: 3px;
    margin-bottom: 10px;
    text-align: center;
    width: 90%;
    height: 40px;
    vertical-align: middle;
    float: right;
    line-height: 40px;
    background: #f2f2f2;
}

.menua {
    padding: 8px;
    background: #C7C7C7;
    margin-bottom: 10px;
    text-align: center;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 12px;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 2px #8A8A8A;
}

.footerspright p {
    /*background: #bababa;*/
    /*border-radius: 5px;*/
    /*width: 135px;*/
    background: #f2f2f2;
    border-radius: 3px;
    margin-bottom: 10px;
    text-align: center;
    width: 90%;
    height: 40px;
    vertical-align: middle;
    float: left;
    line-height: 40px;
}

.buttonsp {
    background-color: #bababa;
    /* Green */
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    width: 250px;
    height: 70px;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    border-radius: 7px;
}

.buttonsp1 {
    background-color: #bababa;
    /* Green */
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    width: 250px;
    height: 70px;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    border-radius: 7px;
}

.footerspimg {
    background: white;
    margin-top: 20px;
    box-shadow: 0 0 2em #e0e0e0;
}

.footerspimg img {
    max-width: 100%;
    min-width: 70%;
    margin-bottom: 20px;
}

.footersplinkleft {
    padding: 0px;
    border-right: 1px solid #e1e1e1;
}

.footersplinkleft p {
    padding-left: 23px;
}

.footersplinkright {
    padding: 0px;
}

.footersplinkright p {
    padding-left: 40px;
}

.footersplinktext p {
    border-bottom: 1px solid #e1e1e1;
}

.footersplink {
    margin-top: 20px;
}

.cus-footersplink {
    margin-top: 0;
    box-shadow: 0 0 0.5em #e0e0e0;
    background: white;
    position: relative;
    z-index: 1;
}

.cus-footersplink p {
    text-align: center;
}

.footersplinknext {
    float: right;
}

.footersplink p {
    border-bottom: 1px solid #e1e1e1;
    padding: 12px;
    height: 40px;
    margin-bottom: 0;
}

.cus-footersplink p:last-child {
    border-bottom: 0;
}

.footersplinktext a:focus {
    color: inherit !important;
}

.footersplinktext {
    background: #f2f2f2;
    box-shadow: 0 0 0.5em #e0e0e0;
    text-align: center;
    padding: 0 10px;
}

.footersplinktext .footer-mail a {
    color: #1eb9ee;
    vertical-align: bottom;
    padding: 9px 37px;
    background: #ffffff;
}

.footersplinktext .footer-mail {
    margin-top: 37px;
}

.footersplinktext .footer-mail img {
    width: 30px;
    min-width: 0;
    margin-bottom: 0;
    margin-right: 15px;
}

.footersplinktext .footer-link {
    margin-top: 23px;
    line-height: 22px;
}

.footersplinktext .footer-link a {
    color: #666666;
    font-weight: 600;
}

.footersplinktext .footer-call-center {
    margin-top: 32px;
    margin-bottom: 10px;
}

.footersplinktext .footer-call-center a {
    color: #666666;
    font-weight: 600;
}

.footersplinktext p {
    padding: 0 10px;
    text-align: left;
    line-height: 50px;
    margin-top: -7px;
}

.footersplinktext img {
    max-width: 100%;
    min-width: 50%;
}

.footersplinktext p:first-child {
    /*border-top:1px solid #e1e1e1;*/
    margin-top: 10px;
}

.gotop {
/*     background: #00b2e8;
    color: white;
    font-size: 18px;
    height: 50px;
    text-align: center;
    width: 100%;
    opacity: 0.65;
    transition: 0.4s;
    margin-top: 10px;
    width: 140px;
    display: none;
	 */
	     background: #00b2e8;
    color: white;
    font-size: 18px;
    height: 40px;
    text-align: center;
    width: 100%;
    /*opacity: 0.65;*/
    /*transition: 0.4s;*/
    margin: 0px auto;
    right:0;
    left:0;
    width: 120px;
    display: none;
    border-radius: 2px;
    position: absolute;
}

.gotop:hover {
    opacity: 1;
    transition: 0.4s;
}

.gotop img {
    margin-top: -5px;
    width: 13%;
}

.gotop p {
    /*padding-top:10px;*/
    color: white;
    font-size: 20px;
    margin-bottom: 0px;
}

.gotop a {
    color: white;
    text-decoration: none !important;
    width: 100%;
    display: block;
    line-height: 40px;
    font-size: 14px;
}

.gotop a:hover,
a:focus {
    /*color: white !important;*/
}

.navbar-header img {
    padding-left: 10px;
    width: 150px;
    height: 25px;
    margin-top: 15px;
}

.menulist-fix {
    position: fixed;
    top: 15px
}

.right-menu-fix {
    position: fixed;
    top: 15px;
    width: 260px;
}

#right-menu .sliderimg .new-label{
	position: absolute;
    top: 0px;
    left: 0px;
}

#right-menu .sliderimg .new-label span{
	font-size:10px;
}

.position-absolute {
    position: absolute !important;
}

.menu-absolute {
    position: absolute;
    top: 530px;
}

.content {
    width: 560px !important;
    margin-left: 10px;
    margin-right: 10px;
    font-family: FreeSans,Arimo,"Droid Sans",Helvetica,Arial,sans-serif;
}

.slider {
    width: 260px !important;
    margin-left: 10px;
    font-family: FreeSans,Arimo,"Droid Sans",Helvetica,Arial,sans-serif;
}

.content .contentnew {
    padding-right: 20px !important;
    padding-left: 20px !important;
    padding-top: 15px;
    font-family: FreeSans,Arimo,"Droid Sans",Helvetica,Arial,sans-serif;
}

.content .contentnew .saytext {
    /*padding-left: 10px !important;*/
    padding-right: 0px !important;
    width: 70%;
    margin-left: 20px;
}

.content .contentnew .saytext p {
    font-size: 10px;
    margin-right: 10px;
    color: #fff;
    clear: both;
    background: #00b2e8;
    padding: 0px 5px;
    border-radius: 0px;
}

.slidertop .slider-header,
.sliderbottom .slider-header {
    /*height: 50px;*/
    margin-bottom: 5px;
}

.slidertop .slider-header h1 {
    margin-top: 15px;
    margin-bottom: 0px;
    font-family: Times, Times New Roman, serif;
    font-size: 20px;
    letter-spacing: 2px;
}

.slidertop .slider-header h2 {
    /*font-size: 13px;*/
    padding-bottom: 0px;
    text-align: center;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 5px;
    position: relative;
    color:#4A4A4A;
}

.slidertop .slider-header h2:before {
    /*bottom: 50%;*/
    /*left: 3%;*/
    content: "";
    border-top: 1px solid #e1e1e1;
    width: 20%;
    position: absolute;
    bottom: 50%;
    left: 5%;
}

.slidertop .slider-header h2:after {
    /*bottom: 50%;*/
    /*right: 3%;*/
    content: "";
    border-top: 1px solid #e1e1e1;
    width: 20%;
    position: absolute;
    bottom: 50%;
    right: 5%;
}

.footersp h2:before {
    content: "";
    border-top: 1px solid #e1e1e1;
    width: 33%;
    position: absolute;
    bottom: 50%;
    left: 3%;
}

.footersp h2:after {
    content: "";
    border-top: 1px solid #e1e1e1;
    width: 33%;
    position: absolute;
    bottom: 50%;
    right: 3%;
}

.slidertop .sliderimg,
.sliderbottom .sliderimg {
    width: 80px !important;
    height: 50px;
    margin-left: 12px;
    margin-bottom: 0px;
    overflow: hidden;
}

.slidertop .slidertext,
.sliderbottom .slidertext {
    padding-left: 10px !important;
    margin-top: 0px;
    width: 60% !important;
}

.dertail-content {
    width: 720px !important;
    margin-right: 10px;
}
.dertail-content .middle-content ul{
    padding: 0px 10px !important;
    border-left: 5px solid #00b2e8;
    list-style: none;
    color: #00b2e8;
    font-size: 18px;
    background: none !important;
}
.dertail-header {
    width: 640px !important;
    padding-left: 40px !important;
    margin-top: 10px;
}

.detail-view {
    margin-top: 20px;
    text-align: right;
    padding-right: 0px !important;
    width: 250px !important;
    margin-left:70px;
}

.margin-right-5 {
    margin-right: 5px !important;
}

.hedader-fix {
    background: rgba(255, 255, 255, 0.5);
    position: fixed;
    z-index: 3;
    width: 100%;
}

.detailfix {
    padding-left: 10px;
    padding-right: 10px;
}

.logotext {
    margin-left: auto;
    margin-right: auto;
}

.logotext .logo {
    text-align: center;
    padding-left: 25%;
}

.bg-white {
    background: #ffffff;
    padding-top: 20px;
    padding-bottom: 40px;
}

.padding-10 {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.fb-icon {
    background: #999;
    margin-top: 30px;
    width: 50px;
    float: right;
    border-radius: 50%;
    height: 50px;
    margin-right: 5px;
}

.fb-icon .fa-facebook {
    color: white;
    font-size: 2em;
    line-height: 50px;
}

.tw-icon {
    background: #999;
    margin-top: 30px;
    width: 50px;
    float: left;
    border-radius: 50%;
    height: 50px;
    margin-left: 5px;
}

.tw-icon .fa-twitter {
    color: white;
    font-size: 2em;
    line-height: 50px;
}

.padding-left-5 {
    padding-left: 5px !important;
}

.headerlink {
    margin-bottom: 10px;
}

#footer{
    border-bottom: 5px solid #00b2e8;
    box-shadow: 0 -1px 2px rgba(0,0,0,0.05), 0 1px 2px rgba(0,0,0,0.05);
}

.headerlink-slider{
    color: #808080;
}

.headerlink-slider:hover{
    color: #808080;
}

.headerlink{
    font-size: 12px;
    color: #949494;
    font-weight: bold;
}

.saylinka a {
    margin-right: 0;
}

/*[news-topic-header]*/
.news-topic-header > .pull-left{
	line-height: 1;
}
/*[news-topic-header/]*/

/*[news-category]*/
.news-category .pull-right{
	width: 210px;
	margin-right: 10px;
}
.news-category .pull-right .custom-search-select select{
	padding-top: 6px;
    font-size: 12px;
    padding-bottom: 5px;
}
.news-category .pull-right .custom-search-select:before{
	top: 7px;
}
/*[news-category/]*/

/* tablet */

@media only screen and (min-width: 768px) and (max-width: 992px) {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    li a {
        display: block;
        color: #888888;
        font-weight: bold;
        padding: 8px 0 8px 16px;
        text-decoration: none;
        border-bottom: 1px dotted #3bc4f0;
        height: 40px;
    }
    .lastchild {
        margin-bottom: 20px;
    }
    .menulist a {
        font-size: 10px;
    }
    .saytext h4 {
        font-size: 13px;
    }
    .saytext p {
        font-size: 9px;
    }
    .saytext a {
        font-size: 9px;
    }
    .buttonslidermore {
        background-color: #00b2e8;
        /* Green */
        color: white;
        text-align: center;
        text-decoration: none;
        font-size: 11px;
        height: 30px;
        box-shadow: 0px 5px #2387a6;
        border: none;
        float: right;
        margin-top: -30px;
        margin-bottom: 20px;
    }
    .buttonslidermore span {
        padding-left: 5px;
    }
    .button1 {
        background-color: #f2f2f2;
        /* Green */
        color: #666666;
        text-align: center;
        text-decoration: none;
        font-size: 9px;
        width: 80px;
        height: 30px;
        border: none;
        margin-right: 70px;
        border-radius: 4px;
    }
    .button2 {
        background-color: #f2f2f2;
        /* Green */
        color: #666666;
        text-align: center;
        text-decoration: none;
        font-size: 12px;
        width: 30px;
        height: 30px;
        border: none;
        margin-right: 6px;
        border-radius: 4px;
    }
    .button3 {
        background-color: #f2f2f2;
        /* Green */
        color: #666666;
        text-align: center;
        text-decoration: none;
        font-size: 12px;
        width: 80px;
        height: 30px;
        border: none;
        margin-right: 6px;
        border-radius: 4px;
        margin-left: 64px;
    }
}


/* smart phone */

@media only screen and (max-width: 767px) {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    li a {
        display: block;
        color: #888888;
        font-weight: bold;
        padding: 8px 0 8px 16px;
        text-decoration: none;
        border-bottom: 1px dotted #3bc4f0;
        height: 40px;
    }
    .contentspborder {
        border-top: 5px solid #00b2e8;
        margin-bottom: 20px;
    }
    .sayborder {
        margin: 15px 0px 10px 0px;
    }
    .content {
        margin-top: -20px;
    }
    .background {
        background: #b2b2b2;
    }
    .content2 {
        text-align: center;
        margin-top: 10px;
    }
    .content1 {
        margin-top: 10px;
        padding: 0 5px;
    }
    .newtop {
        margin-top: -15px;
        background: #FFFFFF;
        padding-top: 15px;
        padding-bottom: 10px;
        position: fixed;
        z-index: -1;
    }
    .lastchild {
        margin-bottom: 20px;
    }
    .menulist a {
        font-size: 10px;
    }
    .header {
	    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.10);
	    border-top: none;
	    border-bottom: none;
	}
    .saytext h4 {
        font-size: 13px;
        margin-bottom: 5px;
        line-height: 1.6em;
    }
    .saytext p {
        font-size: 9px;
        margin-bottom: 0px;
    }
    .saytext a {
        font-size: 9px;
    }
    .button {
        background-color: #00b2e8;
        /* Green */
        color: white;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        width: 150px;
        height: 35px;
        box-shadow: 0px 5px #2387a6;
        border: none;
        margin-bottom: 10px;
        margin-left: 20px;
    }
    .buttonslidermore {
        background-color: #00b2e8;
        color: white;
        text-align: center;
        text-decoration: none;
        font-size: 14px;
        height: 40px;
        /*box-shadow: 0px 5px #2387a6;*/
        border: none;
        margin-top: 5px;
        margin-bottom: 15px;
        margin-left: 10px;
        margin-right: 10px;
        width: 95%;
        border-bottom: 5px solid #2387a6;
    }
    .buttonslidermore span {
        padding-left: 5px;
        font-size: 10px;
    }
    .footersplinktext img {
        width: 45%;
    }
    .footersplinktext .copy-right span {
        font-size: 9px;
    }
    .footersplinktext .copy-right {
        color: #6f6f6f;
        font-size: 11px;
        margin-bottom: 31px;
    }
    .backgroundlast {
        background: #b2b2b2;
        height: 90px;
        margin-top: 15px;
    }
    .buttontop {
        margin-right: 5px;
    }
    .buttontop {
        background-color: #29d38d;
        color: white;
        text-align: center;
        text-decoration: none;
        font-size: 12px;
        width: 70px;
        height: 30px;
        border: none;
        box-shadow: 0px 3px #3ea67b;
        float: right;
        margin-top: 3px;
        padding-top: 4px;
        white-space: nowrap;
    }
    .contentsp {
        background: white;
        box-shadow: 0 0 2em #e0e0e0;
        margin-bottom: 25px;
        padding: 10px;
        margin-right: 10px;
        padding-top: 0;
    }
    .contentsp p {
        font-size: 12px;
    }
    .comment {
        padding: 5px;
        float: none;
        margin: 0 auto;
        clear: both;
        margin-top: -20px;
    }
    .contentspimg img {
        width: 20px;
        height: 20px;
    }
    .content2 img {
        max-width: 100%;
        min-width: 50%;
    }
    .contentspimgr img {
        width: 20px;
        height: 20px;
    }
    .contentspimgr {
        float: right;
        margin-top: -40px;
    }
    .topis {
        background: white;
        margin-bottom: 17px;
        padding-top: 5px;
        margin-top: 10px;
    }
    .number img {
        width: 30%;
    }
    .new a {
        padding: 5px;
        background: #00b2e8;
        font-size: 12px;
        font-weight: bold;
        color: white;
    }
    .new p:first-child {
        font-size: 20px;
        color: #00b2e8;
        font-family: Times, Times New Roman, serif;
        letter-spacing: 0.1em;
        white-space: nowrap;
        font-weight: bold;
    }
    .number p {
        font-size: 11px;
        color: #808080;
        padding-left: 25px;
        padding-top: 4px;
        text-align: right;
        white-space: nowrap;
    }
    .datenew {
        display: block;
        margin-top: -7px;
        margin-left: 50px;
        font-size: 8px;
        color: #808080;
    }
    .titlesp {
        clear: both;
    }
    .titlehed h1 {
        font-size: 17px;
        color: #808080;
		padding-left: 40px;
    padding-right: 40px;
    }
    .titlehed h2 {
        font-size: 13px;
        color: #999999;
    }
    .padding-10 {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
    .sayimg {
        width: 130px !important;
        height: 80px;
        margin-top: 10px;
        margin-bottom: 0px;
    }
    .sayimg img {
	    max-width: 150%;
	    min-width: 100%;
	    position: absolute;
	    transform: translate3d(-50%, -50%, 0);
	    -webkit-transform: translate3d(-50%, -50%, 0);
	    -ms-transform: translate3d(-50%, -50%, 0);
	    top: 50%;
	    left: 45%;
	}
    .saytext {
        margin-top: 15px;
        padding-top: 10px;
        margin-left: 10px;
    }
    .contentborder {
        /*margin-top: 12px;*/
        margin-top: 0px;
        border-bottom: none;
    }
    .slider {
        width: 100% !important;
        margin-left: 0px;
        background: #F2F2F2;
    }
    .slidertop .slider-header h2:before {
        content: "";
        border-top: 1px solid #e1e1e1;
        width: 26%;
        position: absolute;
        bottom: 80%;
        left: 3%;
    }
    .slidertop .slider-header h2 {
        border-bottom: none;
    }
    .slidertop .slider-header h2:after {
        content: "";
        border-top: 1px solid #e1e1e1;
        width: 26%;
        position: absolute;
        bottom: 80%;
        right: 3%;
    }
    .prev {
        margin-top: 20px;
        margin-bottom: 15px;
        text-align: inherit;
    }
    .prev span.prev a {
        margin-right: 10%;
        width: 50px;
        height: 45px;
        padding: 13px 2px;
        text-align: left;
        float: left;
        border-radius: 4px;
        border: 1px solid #cecece;
        margin-left: 0px;
    }
    .button1 {
        margin-right: 10%;
        width: 50px;
        height: 45px;
        padding: 13px 2px;
        text-align: left;
        float: left;
    }
    .button2 a {
        padding: 8px 12px 8px 11px;
    }
    .next,
    .button3 {
        text-align: right;
        float: right;
        width: 50px;
        height: 45px;
        padding: 13px 2px;
    }
    .button3 {
        border: 1px solid #CECECE;
        background-color: #EFEFEF;
        color: #CECECE;
    }
    .next a,
    .button3 a {
        /*width: 50px;*/
        /*height: 40px;*/
        /*padding: 13px 2px;*/
        margin-right: 0px;
        text-align: right;
        border-radius: 4px;
    }
    .sliderborder {}
    .sliderbottom {
        box-shadow: 0 0 0.5em #e0e0e0;
        padding-bottom: 0px;
        border-radius: 3px;
    }
    .col-xs-9 {
        width: 60% !important;
    }
    .last {
        font-size: 14px;
        color: #808080;
        padding-top: 15px;
        padding-bottom: 0px;
        font-weight: normal;
    }
    body {
        background: #f2f2f2 !important;
    }
    .navbar-header img {
	    margin: 0px auto;
	    margin-top: 15px;
	    padding-left: 0px;
	    width: 100px;
	    height: 22px;
	    right: 0;
	    left: 0;
	    position: absolute;
	}
    .ptop {
        font-size: 20px;
        color: #00b2e8;
        font-family: Times, Times New Roman, serif;
        letter-spacing: 0.11em;
        margin-left: 4px;
        line-height: 1;
        font-weight: bold;
    }
    .span {
        color: #888888;
        font-size: 10px;
        display: block;
        margin-left: 4px;
        margin-top: 2px;
        font-weight: 600;
    }
    .slidertop .slider-header h1 {
        margin-top: 20px;
        margin-bottom: 0px;
    }
    .sliderbottom .slider-header h1 {
        color: #00b3e8;
        text-align: center;
        font-size: 22px;
        font-family: Times, Times New Roman, serif;
        letter-spacing: 0.11em;
    }
    .slidertop .slider-header,
    .sliderbottom .slider-header {
        height: 75px;
    }
    .slidertop .slidertext,
    .sliderbottom .slidertext {
        padding-left: 10px !important;
        margin-top: 0px;
        width: 70% !important;
    }
    #footer {
        background: #F2F2F2;
        border-bottom: 0;
    }
    .contentnew {
        width: auto;
        padding: 10px;
        margin-left: -10px;
        margin-right: -10px;
    }
    .pagination-number {
        text-align: center;
        float: left;
        width: 60%;
    }
    /*SP paginator*/
    .next-prev-block {
        overflow: hidden;
    }
    .button1 {
        margin: 0;
        width: 48%;
        height: 45px;
        margin-left: 0px;
        text-align: center;
        background-color: #eeeeee;
    }
    .prev span.prev a {
        margin: 0;
        width: 48%;
        text-align: center;
        height: 45px;
        padding: 13px 2px;
        float: left;
        margin-left: 0px;
        border: none;
        background-color: #eeeeee;
    }
    .next {
        width: 48%;
        height: 45px;
        margin-left: 0px;
        text-align: center;
        background-color: #eeeeee;
    }
    .prev .prev a {
        border: none;
    }
    .button3 {
        margin: 0;
        width: 48%;
        height: 45px;
        margin-left: 0px;
        text-align: center;
        background-color: #eeeeee;
        border: none
    }
    .pagination-number {
        text-align: center;
        float: none;
        margin: 0 auto;
    }
    /*End SP paginator*/
}


/* iphone 4.5 */

@media only screen and (max-width: 320px) {
    .navbar-header img {
	    margin: 0px auto;
	    margin-top: 15px;
	    padding-left: 0px;
	    width: 100px;
	    right: 0;
	    left: 0;
	    position: absolute;
	}
    .col-xs-9 {
        width: 60% !important;
    }
    .slidertop .sliderimg,
    .sliderbottom .sliderimg {
        width: 90px;
    }
    .next,
    .button3 {
        margin-left: 5px;
    }
    .pagination-number {
        text-align: center;
        width: 100%;
    }
    .saytext{
            margin-top: 0px;
    }
    .sayimg {
        width: 110px !important;
        height: 70px;
        margin-top: 10px;
        margin-bottom: 0px;
    }
    .last {
        font-size: 14px;
        color: #808080;
        padding-top: 15px;
        padding-bottom: 0px;
        font-weight: normal;
    }
    .span1 {
	    font-size: 10px !important;
	    color: #808080 !important;
	    padding-left: 10px !important;
	    font-weight: normal !important;
	}
}


/* laptop */

@media only screen and (min-width: 992px) and (max-width: 1200px) {}


/* pc */

@media only screen and (min-width: 1200px) {
    .container {
        width: 1000px !important;
        font-family: FreeSans,Arimo,"Droid Sans",Helvetica,Arial,sans-serif;
    }
	.col-lg-10{
		width: 76%;
	}
}