@media only screen and (min-width: 768px) and (max-width: 992px) {
	.container {
	    width: 1000px;
	}

	#footer {
		width: 1000px;
    	margin: 0 auto;
	}

	.header{
		width: 1000px;
	}

	.footer{
	}

	#left-menu{
		width: 130px !important;
	}

	.menulist ul{
		width: 100% !important;
	}

	.content {
	    width: 570px !important;
	}

	.button{
		width: 32.8%;
		font-size: 13px !important;
		padding-top: 0;
	}

	.saytext{
		width: 76.333333%;
	}

	.menulist li a {
		line-height: 25px;
	}
}

@media only screen and (min-width: 992px){
	.container {
	    width: 1000px;
	}

	.saytext{
		width: 76.333333%;
	}

	.button{
		padding-top: 0;
	}
}