.img-banner{
	width: 100%;
}

div.top-search{
	padding: 10px 10px;
	text-align: center;
	background-color: #ffffff;
}

/*custom select*/
.custom-select select {
    padding: 10px 12px 10px 12px;
    border: 1px solid #cccccc;
    border-radius: 2px;
    overflow: hidden;
    outline: 0;
    width: 100%;
    -webkit-box-shadow: inset 0px 8px 8px -8px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0px 8px 8px -8px rgba(0,0,0,0.3);
    box-shadow: inset 0px 8px 8px -8px rgba(0,0,0,0.3);
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    font-size: 14px;
    color: #808080;
}

.brick-green{
	width: 100%;
	height: 40px;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0.11em;
}

.button-select{
	padding-top: 10px;
    margin-right: 8px;
    margin-left: 8px;
}



/*news topics*/
.top-news-topics{
	margin-top: 0px;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.slider-header-news-topics{
    margin-bottom: 0px;
}

.slider-header-news-topics h1 {
    color: #666666;
    text-align: left;
    font-size: 14px;
    letter-spacing: 0.11em;
    padding-left: 10px;
    margin-top: 15px;
    font-weight: bold;
}

.slider-header-news-topics h2 {
    /* font-size: 15px; */
    /* margin-bottom: 25px; */
    text-align: center;
    font-size: 13px;
    margin-top: -5px;
    margin-bottom: 15px;
    padding-bottom: 0px;
    position: relative;
    color: #4A4A4A;
}

.slider-header-news-topics h2:before {
    content: "";
    border-top: 1px solid #e1e1e1;
    width: 155px;
    position: absolute;
    bottom: 50%;
    left: 0px;
}

.slider-header-news-topics h2:after {
    content: "";
    border-top: 1px solid #e1e1e1;
    width: 155px;
    position: absolute;
    bottom: 50%;
    right: 0px;
}

.contentnew{
	padding: 0px 0px 0px;
}

/*fotter*/
.footersp{
	margin-top: 20px;
}

/* iphone 6 */
@media only screen and (max-width: 375px) {
    .brick-green{
		width: 100%;
	}
    .slider-header-news-topics h2:before {
        content: "";
        border-top: 1px solid #e1e1e1;
        width: 140px;
        position: absolute;
        bottom: 50%;
        left: 0px;
    }
    .slider-header-news-topics h2:after {
        content: "";
        border-top: 1px solid #e1e1e1;
        width: 140px;
        position: absolute;
        bottom: 50%;
        right: 0px;
    }
}

/* iphone 4.5 */
@media only screen and (max-width: 320px) {
	.brick-green{
		width: 100%;
	}
        .slider-header-news-topics h2:before {
        content: "";
        border-top: 1px solid #e1e1e1;
        width: 110px;
        position: absolute;
        bottom: 50%;
        left: 0px;
    }
    .slider-header-news-topics h2:after {
        content: "";
        border-top: 1px solid #e1e1e1;
        width: 110px;
        position: absolute;
        bottom: 50%;
        right: 0px;
    }
}

.created {
    font-size:10px;
    letter-spacing: 0.05em;
}