/*Custom Left Column*/
.left-menu{
	width: 140px;
	margin-right: 10px; 
}

/*Custom Right Column, slider*/
.top-layout .slide-panel{
	margin-bottom: 0px;
	margin-left: 0;
	padding: 20px;
	width: 260px;
	box-shadow: 0 -1px 2px rgba(0,0,0,0.05), 0 1px 2px rgba(0,0,0,0.05);
    background: #fff;
}
.slider #right-menu{
	overflow: hidden;
	padding-top: 15px;
}
.slider #right-menu .slidertop{
	margin-top: 0px;
}
#right-menu.right-menu-fix{
	top:0;
}

.slider-content{
	padding: 0 12px;
	overflow: hidden;
}

.top-search {
    margin-left: 20px;
}
.top-layout .slidertop .slider-header{
	overflow: hidden;
	margin-bottom: 0px;
}


/*Main Column*/
.contentnew .slider-header{
	text-align: center;
	margin-bottom: 0px;
}
.contentnew .slider-header hr{
	border-color: #e1e1e1;
    margin: 0;
}
.contentnew .slider-header h2 span{
	font-size: 12px;
    color: #666666;
    background: white;
    padding: 0 20px;
}
.contentnew .slider-header h2{
    text-align: center;
    font-size: 12px;
    margin-top: -5px;
    position: relative;
    color: #4A4A4A;
    margin-bottom: 5px;
}

.contentnew .slider-header h1{
	color: #00b2e8;
	font-size: 22px;
	font-family: Times, Times New Roman, serif;
	margin-top: 5px;
	margin-bottom: 25px;
	letter-spacing: 4px;
}

.contentnew .slider-header h1 span{
	font-size: 12px;
    color: #666666;
    background: white;
    padding-left: 5px;
    font-family: FreeSans,Arimo,"Droid Sans",Helvetica,Arial,sans-serif;
}

/*Panel, keyword*/
.top-layout .slide-panel .footerbut a{
	white-space: nowrap;
	line-height: 28px;
}

/*Banner*/
.top-layout .banner{
	margin-left: 0px;
	margin-bottom: 20px;
	padding-bottom: 0px;
	width:1100px;
}

.top-layout .banner .ads-panel{
	margin-bottom: 0px;
}

	/*Top search*/
	.search_wrap_box {
	    margin-top: -62px;
	    z-index: 1;
	    position: relative;
	    display: block;
	    padding: 10px 0;
	    background: rgba(255,255,255,0.4);
	}
	.top-search .custom-select{
		width: 220px;
		vertical-align: middle;
		height: 42px;
	}
	.top-search .brick-btn{
		vertical-align: middle;
		margin-top: -2px;
		height: 40px;
		font-size: 14px;
		padding: 0 17px;
		margin-left: 15px;
		box-shadow: 0px 2px #3ea67b;
	    letter-spacing: 0.1em;
	}
	.top-search .brick-btn:active, .top-search .brick-btn:focus {
    /* -webkit-transition: All 0.4s ease; */
    /* -moz-transition: All 0.4s ease; */
    /* -o-transition: All 0.4s ease; */
    /* -ms-transition: All 0.4s ease; */
    /* transition: All 0.4s ease; */
    position: relative;
    top: 2px;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    -ms-box-shadow: none !important;
    -o-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-transition: All 0.1s ease;
    -moz-transition: All 0.1s ease;
    -o-transition: All 0.1s ease;
    -ms-transition: All 0.1s ease;
    transition: All 0.1s ease;
    outline: none;
    background: #3ea67b;
}
	.top-search .multiply{
		margin: 0px 7px -4px;
	}

.number-jobs{
	color: #fff;
	margin-right: 30px;
}

.number-jobs p{
    margin: 0;
    line-height: 1.2;
    color: #fff;
    font-weight: bold;
    text-shadow: 1px 1px 1px #4a4a4a;
}

.number-jobs span{
	color: #ff5e5e;
    font-size: 18px;
    font-weight: bold;
}

/*Common panel: for all panels resemble*/
.common-panel{
	padding-bottom: 20px;
	background: white;
	box-shadow: 0 -1px 2px rgba(0,0,0,0.05), 0 1px 2px rgba(0,0,0,0.05);
}

/*custom select*/
.custom-select{
	display: inline-block;
	position: relative;
}
.custom-select select{
	padding: 10px 12px 10px 30px;
	border: 1px solid #cccccc;
	border-radius: 2px;
	overflow: hidden;
	outline: 0;
	width: 100%;
	
	-webkit-box-shadow: inset 0px 8px 8px -8px rgba(0,0,0,0.3);
	-moz-box-shadow: inset 0px 8px 8px -8px rgba(0,0,0,0.3);
	box-shadow: inset 0px 8px 8px -8px rgba(0,0,0,0.3);

	-moz-appearance: none;
	-webkit-appearance: none;
    appearance: none;
	font-size: 14px;
	color: #9d9d9d;
	background: #ffffff;
}
.custom-select .arrow{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px 3px 0 3px;
	border-color: #bababa transparent transparent transparent;
}
.custom-select:before{
	content: "▼";
    color: #bababa;
    font-size: 12px;
    position: absolute;
    left: 12px;
    top: 13px;
}

/*Brick button*/
.brick-btn{
	outline: 0;
	border: 0;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 11px;
	background-color: #00b2e8;
	box-shadow: 0px 3px #2387a6;
}
.brick-green{
	background:#29d38d;
	box-shadow: 0px 3px #3ea67b;
}

/*symbols*/
/*mutiply*/
.multiply{
	background: url('/img/multiply_symbol.png') no-repeat center bottom;
    width: 14px;
    height: 14px;
    display: inline-block;
}


.created {
	padding: 0 5px;
}