<div class="container-980 mg-top-40">
	<ul id="tab-top" class="clearfix custom-nav-tabs">
			<li class="pull-left active"><a class="brick-btn" href="#tab1" data-toggle="tab">メッセージ</a></li>
			<li class="pull-left"><a class="brick-btn" href="#tab2" title="2" data-toggle="tab" >募集情報</a></li>
			<li class="pull-left"><a class="brick-btn" href="#tab3" title="3" data-toggle="tab" >企業情報</a></li>
	</ul>

	<div id="tab-content" class="tab-content">
		  <div class="tab-pane fade active in" id="tab1">	
			<?php echo $this->element('../Secret/detail/detail2/index-tab1');?>
		  </div>
		  <div class="tab-pane fade" id="tab2">				
			<?php echo $this->element('../Secret/detail/detail2/index-tab2'); ?>
		  </div>		
		  <div class="tab-pane fade" id="tab3">				
			<?php echo $this->element('../Secret/detail/detail2/index-tab3'); ?>
		  </div>		  
	</div>
</div>