      <footer class="footer">
        <div class="footer__inner">
          <ul>
            <li class="footer-link u-fs--ss"><a href="../../">HOME</a></li>
            <li class="footer-link u-fs--ss"><a href="../../company">会社概要</a></li>
            <li class="footer-link u-fs--ss"><a href="../../company">プライバシーポリシー</a></li>
          </ul><small>© 2015 CALL Navi Inc.</small>
        </div>
      </footer>