
<?php if(stristr($_SERVER['REQUEST_URI'], '/account/index') || stristr($_SERVER['REQUEST_URI'], '/account/input') || stristr($_SERVER['REQUEST_URI'], '/account/confirm') || stristr($_SERVER['REQUEST_URI'], '/account/thanks') || stristr($_SERVER['REQUEST_URI'], '/login/index') || stristr($_SERVER['REQUEST_URI'], '/login/resetPassword')): ?>
<footer id="globalFooter">

    <div class="globalFooterInner">
        <ul id="footerNav">
            <li><a href="/customer/contract" target="_blank">利用規約・プライバシーポリシー</a></li>
        </ul>
        <div id="footerLogo2">
            <p id="copyright">Copyright &copy; 2015 CALL Navi Inc.All Rights Reserved.</p>
        </div>
    </div><!-- / contentsInner -->
</footer>
<<<<<<< HEAD

<?php elseif(stristr($_SERVER['REQUEST_URI'], '/admin')) : ?>
<footer id="globalFooter">
	<div class="globalFooterInner">
		<div id="footerLogo2">
			<p id="copyright">Copyright &copy; 2015 CALL Navi Inc.All Rights Reserved.</p>
		</div>
	</div><!-- / contentsInner -->
</footer>
<?php elseif(!stristr($_SERVER['REQUEST_URI'], '/customer/contract') && !stristr($_SERVER['REQUEST_URI'], '/pickup/confirmPreview')) : ?>

=======
<?php elseif(!stristr($_SERVER['REQUEST_URI'], '/customer/contract') && !stristr($_SERVER['REQUEST_URI'], '/pickup/confirmPreview')) : ?>
>>>>>>> origin/dev
<footer id="globalFooter">
    <div class="globalFooterInner">
        <ul id="footerNav">
            <li><a href="/customer/index">求人広告管理（ホーム）</a></li>
            <li><a href="/customer/make">新規求人広告作成</a></li>
            <li><a href="/customer/charge">ご請求情報</a></li>
            <li><a href="/account/accountModify">登録情報の確認・変更</a></li>
            <li><a href="/credit/input">クレジットカード情報の登録・変更</a></li>
        </ul>
        <ul id="footerutilityNav">
            <li><a href="/customer/contract" target="_blank">利用規約・プライバシーポリシー</a></li>
            <li><a href="#">お問い合わせ</a></li>
            <li><a href="/login/logout">ログアウト</a></li>
        </ul>
        <div id="footerLogo">
            <p id="copyright">Copyright &copy; 2015 CALL Navi Inc.All Rights Reserved.</p>
        </div>
    </div><!-- / contentsInner --> 

</footer>

<?php else: ?>	
<?php endif; ?>

