<ul class="tags mediaPC">
    {% for keyword in recommendKeywords %}
        <li><a href="/search/result?keyword={{keyword.keyword}}" class="level0{{keyword.level}}">{{keyword.keyword}}</a></li>
        {% endfor %}
</ul>