<section class="entryA01 ccwork_entry">
  <header>
  <div class="sub_title01">コールセンターの仕事とは？<span class="sub_title02">知っ得情報</span></div>
  <h1>色んな人と出会えるチャンス！<br />コールセンターで友達＆恋人もゲットしちゃおう</h1>
  </header>
<section class="sect01">
<img src="/public/images/ccwork/060/main001.jpg" alt="色んな人と出会えるチャンス！コールセンターで友達＆恋人もゲットしちゃおう"  class="imagemargin_B10"/>
<p class="marginBottom20px">コールセンターのお仕事って女性が多く働いているイメージですよね。でも実はコールセンターで働いている男性って多いんです。業種にもよりますが、<span class="Blue_text">男女比率が五分五分、もしくは男性の方が多い！というコールセンターもあります。</span>そんな環境なので、意外に思われるかもしれませんがコールセンターでの恋愛話や職場結婚って意外に多いんですよ。どんなところに<span class="Blue_text">出会いのポイント</span>があるのか、まとめてみました！</p>
<h3 class="blueblockBG">POINT.1</h3>
<img src="/public/images/ccwork/060/sub_001.jpg" alt="色んな人と出会えるチャンス！コールセンターで友達＆恋人もゲットしちゃおう"  class="imagemargin_B10"/>
<p class="marginBottom30px">コールセンターでは、実際に電話を使っての業務の前に、ある程度の研修時間が設けられています。場所によりけりですが、<span class="Blue_text">研修は２～３日程度行うところが多い</span>ので、その間に同期メンバーとして仲良くなる確率がかなり高いです</p>
<h3 class="blueblockBG">POINT.2</h3>
<p class="marginBottom30px">コールセンターは<span class="Blue_text">シフト制のところが多く、残業もほとんどありません。</span>シフトの融通も利きやすいので遊びの予定があわせやすいんです。バイトをきっかけに仲良くなったメンバーと遊びにいくことやイベントを企画することも多いみたい！</p>
<h3 class="blueblockBG">POINT.3</h3>
<p class="marginBottom30px">コールセンターの仕事柄、業界知識や対応マニュアルなど覚えることがたくさんあって、仕事に慣れるまでが大変なんですよね。そんなときは、<span class="Blue_text">まわりの人に相談して疑問点を解消していきましょう。そういうことがきっかけで周りの人ともいい関係がつくれます。</span>いつの間にか恋愛相談までしてしまう仲になっているかも？！</p>
<h3 class="blueblockBG">POINT.4</h3>
<p class="marginBottom30px">コールセンターの休憩スペースって充実しているところが多いんです。ちょっとしたカフェコーナーがあったり、寝転がれるスペースがあったりして、リフレッシュできる環境が完備されています。<span class="Blue_text">休み時間に休憩スペースでお茶でもしながらお喋りできるシチュエーションがあります！</span></p>
<h3 class="blueblockBG">POINT.5</h3>
<p class="marginBottom30px">コールセンターでは本当に色んな人が働いています。高校生や大学生はもちろん、主婦の方やフリーター、創作活動をしている方、留学資金を貯めるために働いている方などさまざまです。たくさんの人が働いているので、<span class="Blue_text">今まで自分が出会ったことのない人たちとの出会いがあるかも！</span></p>
<h3 class="blueblockBG">POINT.6</h3>
<img src="/public/images/ccwork/060/sub_002.jpg" alt="色んな人と出会えるチャンス！コールセンターで友達＆恋人もゲットしちゃおう"  class="imagemargin_B10"/>
<p class="marginB20 sectborder">コールセンターのバイトは、服装自由、シフト自由、高時給…などの理由から、モデルやアーティスト、役者などのお仕事をしている方が多く働いているんです。<span class="Blue_text">将来のスター予備軍と、今から仲良くなれるチャンスです！</span></p>
<p class="marginBottom40px">いかがでしたか？友達がたくさんできそうなのはもちろん、異性との出会いもバッチリ？！なコールセンターで、一度働いてみるのもアリかもしれないですよ！</p>
</section>

<aside>
  <dl>
  <dt class="headingG01">「コールセンター知っ得情報」オススメのページ</dt>
  <dd>
  <ul class="linkListA01">
  <li><a href="/ccwork/detail18">学歴なんて関係ない！コールセンターなら、実力次第で高収入が目指せる</a></li>
  <li><a href="/ccwork/detail39">初心者大歓迎！高時給バイトなら、コールセンターが狙い目</a></li>
  </ul>
  </dd>
  </dl>
  </aside>
  
  
  <aside class="tabNav_ccwork">
  <ul>
  <li><a href="/ccwork#tabContents01"><img src="/public/images/ccwork/nav/tabnav_01_n.png" width="192" height="" alt="基礎知識" class="mediaPC"><img src="/public/images/ccwork/nav/tabnav_01_03_n.png" width="286" height="" alt="基礎知識" class="mediaSP"></a></li>
  <li><a href="/ccwork#tabContents02"><img src="/public/images/ccwork/nav/tabnav_02_a.png" width="192" height="" alt="知っ得情報" class="mediaPC"><img src="/public/images/ccwork/nav/tabnav_02_03_a.png" width="286" height="" alt="知っ得情報" class="mediaSP"></a></li>
<li><a href="/ccwork#tabContents03"><img src="/public/images/ccwork/nav/tabnav_03_n.png" width="192" height="" alt="働く人の声" class="mediaPC"><img src="/public/images/ccwork/nav/tabnav_03_03_n.png" width="286" height="" alt="働く人の声" class="mediaSP"></a></li>
  </ul>
  </aside><!-- / tabNav -->
  
  
</section>
