<section class="entryA01 ccwork_entry">
<header>
<div class="sub_title01">コールセンターの仕事とは？<span class="sub_title02">働く人の声</span></div>
<h1>高時給バイトのテレアポ体験談！<br />苦情は意外と気にならない！？</h1>
</header>
  
<section class="sect01">
<img src="/public/images/ccwork/074/main001.jpg" class="imagemargin_T10B30" alt="高時給バイトのテレアポ体験談！苦情は意外と気にならない！？" />

<div class="freebox03_grayBG"><p class="marginBottom_none">「生活にゆとりが欲しいから、給料の良いアルバイトを探している」<br />「大学生活最後の年だから、多少お金がかかっても思う存分楽しみたい！」<br />「学費を稼ぎたい！」<br />「かわいい洋服が欲しい！」<br /></p></div>
<p class="marginBottom10px">などなど、様々な理由で高時給のアルバイトを探している方がいらっしゃると思います。高時給アルバイトで検索をすると、必ず上がってくるのが「コールセンター」でのお仕事ですね。「やってみようかなぁ…」と思うものの、実態がよくわからなくて不安に思ったり、時給がいいということはその分キツイのではないかと…と踏みとどまってしまったり、なかなか一歩を踏み出せない方が多いのではないでしょうか？</p>
<p class="marginBottom10px">本日は、<span class="Blue_text">私が実際にコールセンターでアルバイトをしていた時の体験談をお伝えします！</span>私はインバウンドの電話営業のコールセンターで、働いたことがあります。コールセンターで働いてみようか考え中のあなたの、参考になれば幸いです★</p>
<p class="marginBottom10px">私が実際に働いてみた見解からすると、基本的には誰でも働けると思います！<br />ただ自分が「精神的にかなり弱い」という自負がある方はやめておいた方がいいかもしれません。</p>
<p class="marginBottom20px">本日は、電話をかけ続けていれば、必ず心無いお客様に当たってしまうことは否めません。「親にも一回も怒られたことが無いのに‥‥」という方はやめておいた方が無難かもしれませんね。しかしそんなお客様は稀なので、そんなに心配しないでくださいね！</p>

<p class="marginBottompx"><span class="text_bold">【コールセンターで実際に働く前に私が懸念していたこと】</span></p>
<div class="freebox03_grayBG">
<p class="marginBottom_none"><span class="Blue_textbold">●</span>そもそも私にできるのかな？</p>
<p class="marginBottom_none"><span class="Blue_textbold">●</span>苦情を受けるのが怖い…</p>
<p class="marginBottom_none"><span class="Blue_textbold">●</span>ずっと座ってかけ続けるのは辛そう！</p>
<p class="marginBottom_none"><span class="Blue_textbold">●</span>一人でずっと電話をかけ続けるって、単調でつまらなそう。</p>
</div>

<h2 class="sideBlueBorder_blueText02 marginBottom10px">そもそも私にできるのかな？</h2>
<img src="/public/images/ccwork/074/sub_001.jpg" class="imagemargin_T10B30" alt="初めてコールセンターで働いたのが大学１年生の秋" />
<p class="marginBottom20px">初めてコールセンターで働いたのが大学１年生の秋でした。<br />今までアルバイトと言えば某大手ハンバーガーチェーン店や、プールの受付などのアルバイトしかしたことがなかったので、コールセンターで働くにあたり心配な点が２つありました。</p>

<ul class="dot_bluetext">
<li><span>1</span>敬語が正しく使えるか？</li>
<li><span>2</span>お客様の質問等に臨機応変に対応できるか？
</li>
</ul>
<p class="marginBottom10px">もちろん、それまでのアルバイトでも敬語を使った経験はありましたが、会社の名前を背負って営業の電話をするとなると話が違います。またお客様に購買意欲を持ってもらえるほどの特殊な話術が自分にあるのか、お客様の質問に臨機応変に対応できるのか…など不安でいっぱいでした。しかし、お金に目がくらんだ私はそんな不安を抱えながら、コールセンターでのアルバイトに飛び込んでいきました。</p>
<p class="marginBottom10px">コールセンターの中には、<span class="Blue_text">「敬語研修」</span>というものを設けている会社もあるようですが、私が働いていたコールセンターでは、敬語の研修は特にありませんでした。それなので、その時の自分の敬語の実力のまま、お客様に電話をしていました。</p>
<p class="marginBottom10px">最初はすごくつたない敬語を駆使してお客様とお話ししていましたが、これがだんだん慣れてくるものなんですよ。それに、周りでは沢山の先輩や上司も電話をしているので、先輩方のお客様対応が耳に入ります。そこから多くの敬語の使い方を学んだなと思います。</p>
<p class="marginBottom10px">例えば、お客様の声が小さくて聞こえない時は「お電話が遠いようでございまして…」と言えばいいんだな！とか<span class="Blue_text">周りの先輩方から知らず知らずのうちに敬語を習っている感覚でした。</span>また、これはその時の上司から聞いた話ですが、<span class="Blue_text">あまりにも丁寧な敬語を使うよりも、少しラフで元気がある方が、お客様のふところに入りやすく、契約が取れやすい</span>とか（状況により、当てはまらない場合もあります）。ふところに入ってしまえば、お客様も警戒せずに、現在の状況などをお話ししてくれたりするので、お客様に合った提案などもしやすくなります。</p>
<p class="marginBottom10px">「敬語が苦手だから」という理由でコールセンターを敬遠するのはもったいないですよ！入ってから、いくらでも身に付けることができるので、安心して下さい！</p>
<p class="marginBottom10px">臨機応変な対応は、商材についての知識がつくまでは、なかなか難しかったです。スクリプトという電話対応の台本があるのですが、最初はそれを「上から下まで読む」ことに必死でした。もちろん読み切らずに電話を切られてしまうことの方が多かったですが‥･。</p>
<p class="marginBottom10px">最初は商材についての質問をされると、その回答を探すのに一苦労！バタバタと事前にもらっている商材知識の資料の中から該当回答を探します！しかし、基本的にお客様が疑問に思う点は一緒です。２週間程お客様対応をすると、「この質問はよく来るな」と見当がつきはじめるので、バタバタと資料をめくることも少なくなってきます。</p>
<p class="marginBottom20px"><span class="Blue_text">スクリプトは会社側が練りに練って作ったトーク集</span>なので、基本的にはスクリプトを読み切れば契約が取れる、と言われています。なので、昨日入った新人さんが、スクリプトを元気よく読み続けたら契約が取れてしまった！ということもよくあります。逆に知識がついてくると、自分流にスラスラと多くの説明をしすぎて、お客様を混乱させてしまい、契約に至らないということも起こってきます。そういう時は、まずは基本スクリプトに戻れ！そうすれば契約がとれる！と上司に言われるほど、本来テレアポはシンプルなものです。<span class="Blue_text">臨機応変に対応する力は、商品知識はついてくれば自然とついてくる</span>ので、最初は少し大変かもしれませんが、踏ん張りましょう！</p>

<h2 class="sideBlueBorder_blueText02 marginBottom10px">苦情を受けるのが怖い</h2>
<p class="marginBottom10px">正直なところ、「コールセンター＝ガチャ切り、苦情ばっかり」みたいなイメージがありました。じゃあ、なんでコールセンターのアルバイト始めたんだって話ですが(笑)。なので、電話をかけ始める前は、苦情受けるのやだなー、みんなキツイこと言ってくるんだろうなーと少し憂鬱でした。しかし、実際に架電を始めてみると、意外にもお客様は、そんなに冷たい方ばかりではないです。もちろん、話を聞いて貰えずに冒頭で切られてしまう方も多いのですが、そのさいも「すいません、今から出かけるので、また次の機会にお願いします。」など、切るにしても丁寧な人が想像以上に多かったです。</p>
<p class="marginBottom10px">お客様が一方的に電話を切ることは「ガチャ切り」と言われていますが、それも思いのほか傷ついた感じはしませんでした。こちちは会社名しか伝えてない段階でのガチャ切りに出くわすことが多かったのですが、会社名しかお伝えしてないので、傷つく要素がありませんでした。さすがに暴言や声を荒げる人にあたってしまった場合は少し落ち込みます。</p>
<p class="marginBottom10px">しかし、そういう人はほんの一部なので、当たってしまう頻度もそんなに高くはありません。暴言を吐く方や、声を荒げる人は、電話の掛け手があなたではなく他の人だったとしても、同じ対応だったと思います。そういうとき、職場では「運が悪かったね～」と同僚同士で声を掛け合っていました。</p>
<p class="marginBottom20px">自分のミスで発生してしまった苦情の場合は…心して受けましょう。その後のあなたの成長に繋がりますし、苦情の対応次第では、名誉挽回もできます！また、<span class="Blue_text">どうしても対応しきれない苦情や、まだ新人の場合は、すみやかに上司に対応をゆだねましょう！</span></p>

<h2 class="sideBlueBorder_blueText02 marginBottom10px">ずっと電話をかけ続けるって辛くないの？<br />単調でつまらなそう…</h2>
<p class="marginBottom10px">私も始める前はそう思っていました。特にコールセンターの正社員の方の場合は、７，８時間永遠に電話をかけ続けるわけですから、さすがに飽きてしまうんじゃないの…？と考えていました。私も７時間、フルで働いたことがあるのですが、意外と時が早く経つんですよね。というのも、私のアルバイト先では２時間毎に休憩があるので、メリハリがはっきりしていたからだと思います。２時間後までに、何人に電話しよう！何件獲ろう！と目標を決めて取り組めたので、時間が早く経っていったのだと思います。</p>
<p class="marginBottom10px">そうはいっても、お客様が家にいない時間帯で電話がつながらない時は、少し暇でした。例えば、３０代～４０代がターゲットになることの多い商材の場合、基本的に昼の時間帯は奥さんが電話を取ることが多いですよね。奥さんもずっと家にいるわけではありません。お昼～午後は出かけている場合が多いので、この時間帯は暇なときも多かったです。</p>
<p class="marginBottom10px">しかし夕方～夜にかけては、かなりの確率で電話に出てくれるようになります。また、夜になると決定権を持っている旦那さんも帰宅するので、契約が取れやすい時間帯だったりもします。そう考えると、コールセンターは比較的暇な時間帯と忙しい時間帯に分かれることが多いかと思います。（もちろん商材やコールセンターによって異なります。）</p>
<p class="marginBottom20px">特にアルバイトを始めたばかりの頃は、慣れない作業だらけで、時が過ぎるのが非常に早かったです！電話を掛けるたびに緊張していましたし、２時間なんてすぐに経ってしまいました。そして「かけ続ける」という作業にも慣れていくので、かけ続けるのが苦痛！と思ったことはありませんでした。周りにも同僚もいて、みんなバンバン契約をとっているのがわかるので、単調という感じでもなかったかなと思います。どちらかというと、常に盛り上がっている感じでした。</p>

<h3 class="blueblockBG">最後に</h3>
<p class="marginBottom10px">いかがでしたか？あなたが懸念していたことの答えはありましたでしょうか？
何でもそうですが、行動をせずに考え込んでいる時が一番モヤモヤすると思います。このさい、思い切ってコールセンターのアルバイトを始めてみてはいかがでしょう！</p>
<p class="marginBottom40px">慣れるまでは確かに、辛い日もあるかもしれません。しかし、<span class="Blue_text">ある程度山を越えれば、高時給＋インセンティブの収入を得ることができますよ♪金銭面だけではなく、ビジネスマナーも学ぶことができる職場</span>なので、大学生の方にもオススメです！</p>
</section>

  <aside>
  <dl>
  <dt class="headingG01">「コールセンター働く人の声」オススメのページ</dt>
  <dd>
  <ul class="linkListA01">
  <li><a href="/ccwork/detail76">お笑い芸人の卵です！そんな方は、高時給・シフト制のコールセンターで、当面の生活費と将来の夢の両立を！</a></li>
  <li><a href="/ccwork/detail73">【質問】コールセンターバイトでの休憩時間は、仲間と積極的に話すべき！？できれば一人でゆっくりしたいのですが･･･</a></li>
  </ul>
  </dd>
  </dl>
  </aside>
  
  <aside class="tabNav_ccwork">
  <ul id="js-tab01">
  <li><a href="/ccwork#tabContents01"><img src="/public/images/ccwork/nav/tabnav_01_n.png" width="192" height="" alt="基礎知識" class="mediaPC"><img src="/public/images/ccwork/nav/tabnav_01_03_n.png" width="286" height="" alt="基礎知識" class="mediaSP"></a></li>
  <li><a href="/ccwork#tabContents02"><img src="/public/images/ccwork/nav/tabnav_02_n.png" width="192" height="" alt="知っ得情報" class="mediaPC"><img src="/public/images/ccwork/nav/tabnav_02_03_n.png" width="286" height="" alt="知っ得情報" class="mediaSP"></a></li>
  <li><a href="/ccwork#tabContents03"><img src="/public/images/ccwork/nav/tabnav_03_a.png" width="192" height="" alt="働く人の声" class="mediaPC"><img src="/public/images/ccwork/nav/tabnav_03_03_a.png" width="286" height="" alt="働く人の声" class="mediaSP"></a></li>
  </ul>
  </aside><!-- / tabNav -->
  
  
</section>
