<section class="entryA01 ccwork_entry">
  <header>
  <div class="sub_title01">コールセンターの仕事とは？<span class="sub_title02">働く人の声</span></div>
  <h1>テレマから人事部へ！<br />コールセンター業務の経験が、その後の昇進を決める！？</h1>
  </header>
  
<!-- 段落１ 開始 -->  
  <section class="sect01">
  <p class="marginBottom10px">こんにちは。某テレマーケティングを行うコールセンターの会社にて、広報を担当しているＹ子です。<br />社内で、テレマーケティングを行っている営業部の方に会うと、テレマーケティングのお仕事もやりがいがあって好きだけど、ほかの業務にも実は興味があるんです！というようなお話を、最近よく耳にします。</p><p class="marginBottom10px">実は私も、以前はテレマーティングのオペレーターでした。今回は、テレマーケティング業務（電話対応）からスタートし、その後人事部、総務部、管理部、広報部など営業部以外に異動になった人達の経験談をお伝えしたいと思います！</p>
    <img src="/public/images/ccwork/033/main001.jpg" class="imagemargin_T10B10" alt="コールセンターの面接で失敗しないコツ？" />
  </section>
<!-- 段落１ 終了 -->  

<!-- 段落２ 開始 -->  
  <section class="sect02">
<p class="dot_bluestar_text"><span>『テレマーケティング営業』⇒『人事部』</span></p>
  <p class="marginBottom20px"><span class="Blue_text">新卒入社・Ｔさん（女性・25歳）</span><br />Ｔさんが入社したのは、営業の成績や個人の適性によって、部署の移動が可能なコールセンターの会社で、実力主義のベンチャー企業です。<br />彼女の夢は「人事」で採用のお仕事に携わること。入社当初から「絶対に人事に異動する！」と心に決め、更に周囲にも宣言し、日々テレマーケティングの営業に励みました。入社直後は、なかなか営業成績が伸びない日々に苦しんだＴさん。しかしそんな苦しい時期に心の支えになったのが、入社時に決めた「人事部に異動する！」という目標でした。そして同期の中で、１番早く営業の部署でリーダーに昇格をし、半年後には人事部に異動することができました！<br />夢を掴みとったＴさんは、現在人事部の課長代理のポジションで、バリバリ採用のお仕事をされています！</p>

<p class="dot_bluestar_text"><span>『テレマーケティング営業』⇒『人材開発部』</span></p>
  <p class="marginBottom20px"><span class="Blue_text">中途採用・Ｒさん（男性・35歳）</span><br />前職で人事職の経験があるＲさんは、テレマーケティングの営業マンとして入社しました。入社１ヵ月で部署内の新人の中で、営業成績１位を獲得し、即座に営業部でのリーダーへの昇格が決定し順風満帆なスタートとなりました。その翌月である入社３ヶ月目には、人事業務での経験と、営業能力を買われ、立ち上がったばかりの新部署「人材開発部」に異動が決定しました。営業部で、キャリアを積んでいくつもりで入社をしたＳさんでしたが、現在は人材開発部にて、会社内の従業員スキル、人間力を伸ばす研修の開催などで活躍中です。</p>

<p class="dot_bluestar_text"><span>『テレマーケティングサポート業務』⇒『営業企画部』</span></p>
  <p class="marginBottom20px"><span class="Blue_text">新卒入社・Ｍさん（女性・23歳）</span><br />Ｍさんは新卒入社で、テレマーケティングの会社に入社しました。意気揚々と上京し、都内に１人暮らしを始め、これから始まる社会人ライフを楽しみにしていました。しかし、入社１ヵ月の頃、Ｍさんに異変がおきました！テレマーケティングのお仕事が合わないな…と感じるようになってしまったのです。その様子の変化に気づいたＭさんの上司は、Ｍさんとの面談を行い、今の状況を丁寧にヒアリングしてもらった結果、Mさんは「営業企画部」へ異動が決定しました。今はパソコン作業中心の業務を行い、エクセルのプロフェッショナルを目指しています。<br />世の中に、全員にぴったり合う仕事なんてありません。だから、テレママーケティングが苦手…と感じる方もいらっしゃって当然です。そんなときは、ひとりで抱え込まずに、まずは上司に相談してみましょうね。</p>

<p class="dot_bluestar_text"><span>『テレマーケティング受電』⇒『総務部』</span></p>
  <p class="marginBottom20px"><span class="Blue_text">中途採用・Ｋさん（女性・30歳）</span><br />テレマーケティング業務の前は、アパレルの店長さんだったＫさん。元々は人事部を希望し、テレマーケティングの会社に入社しました。人事部配属前の３か月間、営業部で経験を積みました。会社の業務のことをより深く理解しておいてほしいという会社側からの希望があってのことでした。現場での業務を経験し「人事も魅力的だけど、現場のスタッフを傍で支えるような部署に異動したい！」と強く思うようになりました。人事部とも相談した結果、現場と一体となって動く「総務部」を勧められ、現在は総務部で現場のサポート、そして会社全体のサポートに全力で取り組んでいます。</p>

<p class="dot_bluestar_text"><span>『テレマーケティング受電』⇒『広報部』</span></p>
  <p class="marginBottom_none"><span class="Blue_text">中途採用・Ｙさん（女性・27歳）</span><br />これは私のストーリーになりますが、前職は、営業とは全く関係のないサービス業でした。しかし、大きくキャリアチェンジを図りたかった私は、テレマーケティングやクリエイティブ事業に力を入れている会社への中途入社を決断しました。２か月後から広報に異動という条件で、入社後２ヵ月は営業部で通信系サービスを紹介するテレマーケティング（電話営業）をすることに。初めての営業業務は、未経験のことばかりで正直「楽」ではなかったです。しかし、裏方での仕事をする前に、現場の空気感を知っておくのは大事だな、と広報に異動してから感じました。短い期間の営業業務ではありましたが、広報の仕事をしていて「現場での経験があってよかった」と、感じる出来事に遭遇することも多々あります。また現場に知り合いがいるのも心強いです！</p>

　 <h3 class="blueblockBG">最後に</h3>
  <p class="marginBottom40px">いかがでしたでしょうか。<br />会社のフロントであるテレマーケティングのお仕事、経験しておいて損はありません！
営業部以外でのお仕事を希望しているあなたも、テレマーケティングでの経験はあなたの血となり、肉となり、その後のキャリアでも大いに役に立ってくるはずです！上記でご紹介できたのはほんの一例で、ほかにも沢山の方がテレマーケティングからほかの部署のお仕事に異動して、活躍しています。魅力が沢山つまったテレマーケティングのお仕事。ぜひ求人でチェックしてみてくださいね★</p>
</section>
<!-- 段落２ 終了 -->  
  

  <aside>
  <dl>
  <dt class="headingG01">「コールセンター働く人の声」オススメのページ</dt>
  <dd>
  <ul class="linkListA01">
  <li><a href="/ccwork/detail32">どうするクレーム？しっかり対応するための魔法の４ステップ！</a></li>
  <li><a href="/ccwork/detail34">就活の秘訣！コールセンター経験者が就活を有利に進められる理由とは？</a></li>
  </ul>
  </dd>
  </dl>
  </aside>
  
  
  <aside class="tabNav_ccwork">
  <ul id="js-tab01">
  <li><a href="/ccwork#tabContents01"><img src="/public/images/ccwork/nav/tabnav_01_n.png" width="192" height="" alt="基礎知識" class="mediaPC"><img src="/public/images/ccwork/nav/tabnav_01_03_n.png" width="286" height="" alt="基礎知識" class="mediaSP"></a></li>
  <li><a href="/ccwork#tabContents02"><img src="/public/images/ccwork/nav/tabnav_02_n.png" width="192" height="" alt="知っ得情報" class="mediaPC"><img src="/public/images/ccwork/nav/tabnav_02_03_n.png" width="286" height="" alt="知っ得情報" class="mediaSP"></a></li>
  <li><a href="/ccwork#tabContents03"><img src="/public/images/ccwork/nav/tabnav_03_a.png" width="192" height="" alt="働く人の声" class="mediaPC"><img src="/public/images/ccwork/nav/tabnav_03_03_a.png" width="286" height="" alt="働く人の声" class="mediaSP"></a></li>
  </ul>
  </aside><!-- / tabNav -->
  
  
</section>
