<section class="entryA01 ccwork_entry">
  <header>
  <div class="sub_title01">コールセンターの仕事とは？<span class="sub_title02">知っ得情報</span></div>
  <h1>仕事とプライベートの両立！<br />シフト制は、スケジュール管理の魔法の杖となるのか？</h1>
  </header>

<!--- 段落１ 開始 --->
  <section class="sect01">
  <img src="/public/images/ccwork/031/main001.jpg" alt="服装は本当に自由なの？" class="imagemargin_T20B20" />
  <p class="marginBottom10px">アルバイト、派遣社員、契約社員、正社員に関わらず、シフト制の仕事ってありますよね！？<br />これって、好きな時に出社して、好きな時に帰れるのでしょうか？<br />今回は、シフト制の仕事について、紹介します。</p>
</section>
<!--- 段落１ 終了 --->

<!--- 段落２ 開始 --->
    <section class="sect02">
  <h2 class="sideBlueBorder_blueText02">シフト制って何？</h2>
  <p class="marginBottom10px">シフト制とは、レストランやスーパーの接客業など営業時間が長く、同じ人が開店から閉店まで勤務するのが難しい場合に採用される勤務システムです。お店の営業時間が朝8時から夜の22時までだとすると、早番の人は、8時から16時までで、遅番の人は14時から22時といった感じです。</p><p class="marginBottom10px">アルバイトでも、曜日や時間帯などある程度決められていて、その中からひとりひとりのスケジュールを決めていく制度です。シフト制であっても、一日の労働時間は、8時間で、これを超えれば残業勤務となり、残業代が発生します。</p><p class="marginBottom10px">シフト制にも、固定シフト制と、希望シフト制、フリーシフト制などがあります。本人の希望を受け付けてくれるのか、お店や雇い主が一方的にシフトを決定してしまうのかは、シフト制の種類や、職場によります。</p><p class="marginBottom30px">ただ、間違いないのは、シフト制だからと言って、朝起きて、出社したくなったら出社して、帰りたくなったら帰れるシステムではありません。勤務する日にちと時間は、雇用者と労働者の間で予め決定しておき、当日は、その決定されたスケジュールに従って働くことになります。</p>

  <h2 class="sideBlueBorder_blueText02 marginBottom10px">シフト制のバイトには、どんな職業があるの？</h2>
  <p class="marginBottom10px">シフト制について、概要を抑えたところで、実際にはどんなバイトがあるのか、見ていきます。まず、思いつくのが接客業です。セブンイレブンやファミリーマートなどのコンビニエンスストア、マクドナルドやファーストキッチンなどのファーストフード、デニーズやジョナサンやガストのようなファミレス（ファミリーレストラン）、ほっともっとや小僧寿しなどのテイクアウト系のお弁当屋さん、スターバックスやベローチェなどのカフェ、成城石井やサンワなどのスーパーマーケット、警備員のお仕事、ラインが止められない工場勤務、夜間深夜や休日対応もしてくれるカスタマーサポート、そして、テレアポやテレマなどコールセンターのお仕事があります。</p><p class="marginBottom20px">そして、シフト制が向いている人は、主婦のパートの方や、フリーターなど時間が比較的自由になる方です。その反対に、モデルの卵や、ミュージシャンや芸人など芸能人の卵の方など、夢を追っている方で、レッスンやライブなどが不定期である方にもおすすめです。</p>

  <h2 class="sideBlueBorder_blueText02 marginBottom10px">シフト制のメリット</h2>
  <p class="marginBottom10px">一般的に言われるシフト制のメリットとしては、平日に休みが取れることです。病院に通う、役所での手続きを済ませる、イベント、リゾート、旅行など比較的空いている時期を選ぶことができます。勤務先によっては、休みたい日の希望やリクエストを聞いてくれるところもあるので、プライベートも有効活用することができます。</p>
  <img src="/public/images/ccwork/031/sub_001.jpg" alt="服装は本当に自由なの？" class="imagemargin_B25" />

  <h2 class="sideBlueBorder_blueText02 marginBottom10px">シフト制のデメリット</h2>
  <p class="marginBottom10px">とっても良さそうなシフト制ですが、残念ながら、デメリットもあります。接客業が多いため、土日祝日など繁忙期には休みがとりにくくなります。また、シフト表が出来上がるタイミングにもよりますが、それまでは、プライベートな予定を立てにくく、仲間や友達との飲み会やパーティー、ピアノや英会話や料理教室などの予約などがとりにくくなることがあります。</p><p class="marginBottom10px">会社員の仕事のイメージだと、みんな同じ時間に出社して、同じような時間に退社する。仕事が終わった後に、みんなで食事や飲み会に行く、なんてこともできますが、シフト制の場合、予定を組んでおかない限り難しくなってしまいます。</p><p class="marginBottom10px">あとは、最初のうちは希望のシフトに入りにくかったり、予定していた出勤日数が入れなかったりで、収入が安定しないなどのデメリットがあるかも知れません。</p>

  <h2 class="sideBlueBorder_blueText02 marginBottom10px">シフト制バイトで確認すべきこと</h2>
  <p class="marginBottom20px">求人情報に応募するさい、もしくは面接のさい、シフト制バイトの詳細について、確認しておく必要があります。また、自分の希望を履歴書に記載しておくことも大切です。</p>
<ul class="fukidasi02_graybox">
<li>・シフト制のシステムはどうなっている？</li>
<li>・期間は？1週間単位、10日単位、半月単位、1ヶ月単位</li>
<li>・個人の予定は、いつまでに出す？</li>
<li>・シフト表が決定するのは、どのタイミング？</li>
<li>・病気や身内の不幸など、突然休まなくてはいけない場合にはどうすればいい？</li>
<li>・１日の労働時間は？</li>
<li>・１ヶ月の出勤日数は？</li>
<li>・研修期間は、シフト制が使えるのか？</li>
<li>・固定期間（シフト制ではない期間）は、あるのか？</li>
</ul>
  <p class="marginBottom10px">まずは、このあたりをしっかりと確認しておきましょう。シフト制にも、固定シフト制、希望シフト制、フリーシフト制、シフトの自己申告制など色々な種類や呼び方がありますが、実際に運用しているシフト制は、会社や職場、配属先によって、異なってきますので、しっかりと確認しておくことが大切です。<br />募集要項に記載されていることでも、疑問に思ったことは、しっかりと確認しておきましょう。</p>
  </section>  
<!--- 段落２ 終了 --->

<!--- 段落３ 開始 --->  
  <section class="sect03">
  <p class="marginBottom10px">あとは、聞きにくいかも知れませんが、このあたりも確認しておきましょう。</p>
<ul class="fukidasi02_graybox">
<li>・自分の予定は、どの程度受け入れてもらえる？</li>
<li>・予定変更は、いつまでなら可能なの？</li>
<li>・有給はあるのか？使用方法は？</li>
<li>・絶対に入らなければいけない曜日や日にち、時間などは？</li>
</ul>
  <p class="marginBottom10px">シフト制のバイトを選ぶということは、自分の予定を大切にしたい！　と思う場合も多いです。いざ入社してから、「こんなはずじゃなかった。。。」なんてことにならないように、確認作業は大切です。</p><p class="marginBottom10px">聞きにくかったら、英会話や料理教室などの習い事をしたいから、タレントなどの夢を追っているから、場合によっては、身内で入院している人がいて、看病のためなんて場合もあるかも知れません。ただし、嘘はばれますので、ご注意ください。</p>
  <h2 class="sideBlueBorder_blueText02 marginBottom10px">シフト制業務の体験談</h2>
  <p class="marginBottom10px">テクニカルサポート業務を行っていたさいの体験談です。とあるビッグデータのシステムの技術的なサポートでした。基本的にサポート対象の曜日と時間が決まっているのですが、企業の中心的なシステムであったため、休日や深夜の緊急対応をしなければならないこともあります。</p><p class="marginBottom10px">夜間や深夜は、各自携帯電話を持たされて、対応した場合には、対応した時間だけ、勤務時間に組み込み、土日祝日など休日対応に関しては、シフト制になっていて、土日に出社した人は、平日に休みをもらえる、ということになっていました。</p><p class="marginBottom10px">各自のスケジュール表に関しては、１ヶ月単位で決定して、休日出勤の負担が分散できるようにするなど、リーダーの人が、配慮してくれました。</p><p class="marginBottom10px">土日祝日は、緊急対応のみなので、何もなければかなり暇で、待機しているだけです。平日に溜まった業務をこなしたり、マニュアル作成や調査などをしたり、普段はなかなかできない仕事をすることができました。</p><p class="marginBottom10px">しかし、一度緊急事態が発生すると、一人で何でもしなければいけないため、とても忙しく、昼食も食べずに、深夜まで対応を迫られたこともありました。上司や上級エンジニアの人に確認しようとしても、電話やメールが繋がらなかったり、繋がっても反応があまりにも遅かったりと、苦労したことも多かったです。</p><p class="marginBottom10px">良かった点としては、平日に休みがもらえるので、空いている映画館に行けたりゆっくり買い物ができたり、満員電車に乗る日数が減ったりといったところでした。</p><p class="marginBottom10px">反対に、良くなかった点としては、家族と休みが一緒にとれないため、家族サービスができなかったことです。平日に休みをもらっても、家族は仕事で、子供は学校だと、何となく罪悪感があって、休日を楽しめないといったこともありました。家族持ちの方には、シフト制は向かないかも知れませんね。</p>

  <img src="/public/images/ccwork/031/sub_002.jpg" alt="服装は本当に自由なの？" class="imagemargin_B25" />
  <h2 class="sideBlueBorder_blueText02 marginBottom10px">コールセンター業務におけるシフト制とは？</h2>
  <p class="marginBottom10px">コールセンターの場合、テレアポかテレマ（テレフォーンマーケティング）か、お客様が個人か法人かにもよりますが、個人のお客様の場合、平日よりも休日の方が、電話が繋がりやすくなります。このため、シフト制を採用して、休日は全ての従業員に出社してもらい、平日は分散して出社するケースが多くなります。</p><p class="marginBottom10px">また、コンビニやレストランと比べて人数が多いので、代替え要員も多く、休みのリクエストが比較的通りやすいなどのメリットもあります。</p>

  <h2 class="sideBlueBorder_blueText02 marginBottom10px">コールセンターでシフト制を上手に活用する方法は？</h2>
  <p class="marginBottom10px">最後にコールセンターでシフト制を上手に活用する方法について、記載します。まずは、シフト制に着目して、コールセンターを選ぶポイントです。</p>

<ul class="fukidasi02_graybox">
<li>・シフト制度がしっかりしている</li>
<li>・景気が良い</li>
<li>・人数が多い</li>
</ul>
  <p class="marginBottom10px">これらは、求人情報や、求人サイトはもちろん、その業界の動向や、会社の経済状況、そして、転職サイトの口コミなどもチェックしてみるといいでしょう。</p><p class="marginBottom10px">一番大切なことは、シフト制を採用していて、しっかりと機能していること。景気が良ければ、どんどんシフトに入れるし、人数が多ければ、ほかの方と予定が重なる可能性も少なくなるので、休日のリクエストが通りやすくなります。</p><p class="marginBottom10px">そして、コールセンターで、シフト制を上手に活用するためには、以下も大切になってきます。</p>
<ul class="fukidasi02_graybox">
<li>・繁忙期には、シフトに入る</li>
<li>・結果を出す</li>
<li>・最初のうちは、勤務日数を多くする</li>
</ul>

  <p class="marginBottom10px">シフト制と関係あるの？と思われるかも知れませんが、大切なことは、入社したコールセンターの中で、自分のことを大切だと思ってもらえるポジショニングを確立することです。</p>
  <p class="marginBottom10px">そのために、日曜祝日などの繁忙期には、必ずシフトに入り、営業成績を出します。そして、最初のうちは、できるだけ多く出社して、初心者ではなく経験者として戦力になれることが大切です。</p>
  <p class="marginBottom40px">コールセンターのリーダーや経験者の立場に立ってみれば、その人がシフトに入ることで、全体の営業成績が上がるようでしたら、ある程度のわがままを聞いてくれるケースも多いようです。</p>

  </section>
<!--- 段落３ 終了 --->


  <aside>
  <dl>
  <dt class="headingG01">「コールセンター知っ得情報」オススメのページ</dt>
  <dd>
  <ul class="linkListA01">
  <li><a href="/ccwork/detail24">声で人生が変わる！？コールセンターで好印象な声を会得する方法</a></li>
  <li><a href="/ccwork/detail50">あなたはどっち？SV転向、アポインター継続</a></li>
  </ul>
  </dd>
  </dl>
  </aside>
  
<aside class="tabNav_ccwork">
<ul><li><a href="/ccwork#tabContents01"><img src="/public/images/ccwork/nav/tabnav_01_n.png" width="192" height="" alt="基礎知識" class="mediaPC"><img src="/public/images/ccwork/nav/tabnav_01_03_n.png" width="286" height="" alt="基礎知識" class="mediaSP"></a></li><li><a href="/ccwork#tabContents02"><img src="/public/images/ccwork/nav/tabnav_02_a.png" width="192" height="" alt="知っ得情報" class="mediaPC"><img src="/public/images/ccwork/nav/tabnav_02_03_a.png" width="286" height="" alt="知っ得情報" class="mediaSP"></a></li><li><a href="/ccwork#tabContents03"><img src="/public/images/ccwork/nav/tabnav_03_n.png" width="192" height="" alt="働く人の声" class="mediaPC"><img src="/public/images/ccwork/nav/tabnav_03_03_n.png" width="286" height="" alt="働く人の声" class="mediaSP"></a></li></ul>
</aside><!-- / tabNav -->
  
</section>