@charset "utf-8";
.table-cell{
	display: table-cell;
}
/*TODO: [footer] @comment*/
footer{
	display: none;
}
/*TODO: [footer/]*/
/*TODO: [header] @comment*/
h1.heading-logo p{
	margin-top: 0;
}
.header .container{
	width: 100% !important;
}
/*TODO: [header/]*/
/*TODO: [google-map-wrapper] @comment*/
#div-main{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100% !important;
}
.google-map-wrapper,.google-map{
	width: 100%;
	height: 100%;
	background: #aaaaaa;
}
/*TODO: [google-map-wrapper/]*/
.callnavi-search-menu{
	position: absolute;
	top: 140px;
	left: 0;
	bottom: 0;
	width: 400px;
	transition: linear 0.1s;
}
.callnavi-search-menu.is_close{
	left: -390px;
}
/*TODO: [.callnavi-search-panel] @comment*/
.callnavi-search-panel{
	width: 400px;
	position: absolute;
	left: 0;
	top: 0;
	color: #4e4e4e;
	bottom: 0;
	overflow: hidden;
	background: rgba(0,0,0,0.8);
	box-shadow: 0px 0px 10px 4px rgba(0,0,0,0.7);
}
.callnavi-search-panel h1{
	font-size: 17px;
	margin: 0;
}
.callnavi-search-panel h2{
	font-size: 12px;
	margin: 0;
	margin-top: 8px;
	line-height: 1.4;
}
.callnavi-search-panel input[type="search"]{
	padding: 12px 30px 12px 16px;
	display: block;
	width: 100%;
	outline: none;
	border: 0;
	font-size: 16px;
	line-height: 16px;
	height: 40px;
}
.callnavi-search-panel .panel-header{
	padding: 0 20px;
}
.callnavi-search-panel .padding{
	padding-right: 20px;
}
.panel-btn{
	color: #ffffff;
	background: #29d38d;
	position: absolute;
	top: 20px;
	left: 400px;
	padding: 16px 14px 16px 16px;
	width: 80px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.panel-btn span{
	font-size: 16px;
	vertical-align: middle;
}
.panel-btn:before{
	display: inline-block;
	content: '';
	width: 12px;
	height: 12px;
	border-top: 1px solid #ffffff;
	border-left: 1px solid #ffffff;
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	vertical-align: middle;
}
.panel-btn.is_close{
	padding-left: 6px;
}
.panel-btn.is_close span{
	margin-left: 8px;
}
.panel-btn.is_close:before{
	-ms-transform: rotate(135deg);
	transform: rotate(135deg);
}
.panel-wp .panel-div{
	padding: 20px 10px;
}
.input-submit-btn{
	background: #ffffff;
	border: none;
	border-left: 1px solid #4e4e4e;
	font-size: 16px;
	padding: 12px 18px;
	line-height: 16px;
}
.btn-green{
	background: #29d38d;
	color: #ffffff;
	padding: 8px 35px;
	border: 0;
}
.panel-hit-result{
	color: #ffffff;
	font-size: 14px;
	text-align: center;
}
.panel-hit-result:before{
	display: inline-block;
	content: '';
	background: url("../../img/icons/green-logo.png") no-repeat top left;
	width: 25px;
	height: 30px;
	margin-right: 9px;
}
.panel-hit-result > span{
	font-size: 18px;
}
.panel-hit-result > span i{
	font-size: 32px;
	font-style: normal;
	margin-right: 5px;
}
.panel-list{
	position: absolute;
	top: 90px;
	bottom: 0;
	width: 100%;
	overflow-x: auto;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
}
.panel-list.not-empty{
	display: block;
	top: 186px;
	background-image: none;
}
.panel-lead-block{
	color: #ffffff;
	padding: 20px;
	background: url("../../img/icons/green-logo-sp.png") no-repeat top center;
	padding-top: 80px;
}
.panel-lead-block > h1{
	text-align: center;
	font-size: 20px;
}
.panel-lead-block > p{
	margin-top: 20px;
	font-size: 15px;
	line-height: 1.8;
}
/*TODO: [.callnavi-search-panel/]*/
/*TODO: [ul-callcenter-list] @comment*/
.ul-callcenter-list{
	padding: 0 10px;
}
.ul-callcenter-list li{
	background: rgba(255,255,255,0.05);
	margin-top: 9px;
	padding: 15px 15px 15px 0;
	line-height: 0;
	cursor: pointer;
}
.ul-callcenter-list li:hover{
	background: rgba(255,255,255,0.2);
}
.ul-callcenter-list li .btn-green{
	display: inline-block;
	font-size: 12px;
	line-height: 20px;
	padding: 0 14px;
	margin-top: 10px;
	border-radius: 2px;
}
.ul-callcenter-list .display-table{
	width: 100%;
	table-layout: fixed;
}
.ul-callcenter-list section,p{
	color: #ffffff;
	margin: 0;
	line-height: 1.5;
}
.ul-callcenter-list section{
	font-size: 16px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.ul-callcenter-list p{
	font-size: 12px;
}
.ul-callcenter-list li.active .green-circle{
	width: 40px;
	height: 40px;
}
.ul-callcenter-list li.active{
	border-right: 5px solid #29d38d;
}
.ul-callcenter-list .display-table .table-cell:first-child{
	width: 50px;
	text-align: center;
}
.green-circle{
	display: inline-block;
	color: #29d38d;
	font-size: 20px;
}
/*TODO: [ul-callcenter-list/]*/
/*TODO: [mCustomScrollbar] @comment*/
.mCSB_inside > .mCSB_container{
	margin-right: 0;
}
.mCSB_scrollTools .mCSB_draggerRail{
	display: none;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	background-color: rgba(215,214,214,0.5);
}
.mCSB_scrollTools .mCSB_draggerContainer{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	transition: opacity 0.5s;
}
.mCustomScrollbar:hover .mCSB_draggerContainer{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{
	background-color: rgba(215,214,214,0.5);
}
/*TODO: [mCustomScrollbar/]*/
/*TODO: [cc-pp] @cc-pp*/
.banner-search-wrap-box{
	color: #ffffff;
	margin-top: 10px;
}
.banner-search-wrap-box i{
	font-style: normal;
}
.close-button{
	font-size: 18px;
}
.close-button i{
	height: 2px;
	position: relative;
}
.close-button i:nth-child(1){
	right: -15px;
}
.close-button i:nth-child(2){
	top: -1px;
	right: 5px;
}
.cc-pp-header,.cc-pp-content,.cc-pp-hr,.cc-pp-footer{
	padding-left: 40px;
	padding-right: 40px;
}
.cc-pp-header{
	background: rgba(0,0,0,0.25);
	padding-top: 20px;
	padding-bottom: 20px;
}
.cc-pp-cat{
	font-size: 14px;
	line-height: 18px;
	color: #ffffff;
	margin-top: 5px;
}
.cc-pp-content{
	background: rgba(255,255,255,0.25);
	margin-top: 20px;
	padding: 30px;
}
.cc-pp-footer{
	padding-top: 35px;
	padding-bottom: 30px;
}
.cc-pp-item span{
	background: #ffffff;
	color: #4e4e4e;
	display: inline-block;
	padding: 5px 0;
	width: 70px;
	margin-right: 20px;
	text-align: center;
}
.cc-pp-item{
	margin-top: 20px;
}
.cc-pp-item:first-child{
	margin-top: 0;
}
.cc-pp-item span{
	vertical-align: middle;
	font-size: 14px;
}
.cc-pp-item big{
	vertical-align: middle;
	font-size: 16px;
}
.cc-pp-item big > a{
	color: #ffffff;
}
.cc-pp-item big > a:hover{
	color: #ffffff;
}
.green{
	color: #29d38d;
}
.cc-pp-name{
	font-size: 20px;
	color: #ffffff;
}
.cc-pp-name,.cc-pp-cat{
	text-align: center;
}
.top-popup-search .popup-container{
	width: 750px;
	margin-top: -200px;
}
.cc-pp-item a:hover{
	color: #337ab7;
}
.cc-pp-footer{
	text-align: center;
}
.cc-pp-footer .btn-green{
	padding: 6px 15px;
	display: inline-block;
	border-radius: 2px;
}
.cc-pp-footer .green{
	line-height: 27px;
	font-size: 16px;
}
.cc-pp-footer .green > i{
	font-size: 26px;
}
.cc-pp-footer-txt,.cc-pp-footer-btn{
	display: inline-block;
	vertical-align: bottom;
	font-size: 14px;
}
.cc-pp-footer-btn{
	margin-left: 20px;
}
.cc-pp-dir{
	font-size: 12px;
	margin-left: 20px;
}
.cc-pp-dir .icon-2ways{
	margin-right: 5px;
}
.cc-pp-dir a,.cc-pp-dir a:hover{
	color: #ffffff;
}
.icon-2ways{
	background: url("../../img/icons/2ways-icon.png") no-repeat;
	display: inline-block;
	width: 30px;
	height: 30px;
	vertical-align: middle;
}
li.active{
	border-right: 5px solid #29d38d;
}
/*TODO: [cc-pp/]*/
.panel-input-box{
	background: #ffffff;
	padding: 5px;
	border-radius: 2px;
}
.panel-input-box > .pull-left{
	position: relative;
	width: 300px;
}
.panel-input-box .clear-btn{
	display: inline-block;
	width: 16px;
	height: 16px;
	position: absolute;
	right: 12px;
	top: -50%;
	bottom: -50%;
	margin: auto 0;
}
.panel-input-box .clear-btn i{
	display: block;
	width: 17px;
	height: 2px;
	background: #808080;
	position: relative;
}
.panel-input-box .clear-btn i:nth-child(1){
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	top: 7px;
}
.panel-input-box .clear-btn i:nth-child(2){
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	top: 5px;
}
@media only screen and (max-width: 1024px){
	.panel-wp{
		width: 400px;
	}
	.ul-callcenter-list .display-table .table-cell:last-child{
		padding-right: 20px;
	}
}