@charset "utf-8";
.table-cell{
	display: table-cell;
}
/*TODO: [footer] @comment*/
footer{
	display: none;
}
/*TODO: [footer/]*/
/*TODO: [header] @comment*/
.nav-header{
	position: fixed;
}
.nav-header .display-table{
	background: rgba(0,0,0,0.75);
}
.nav-header .btn-square{
	background: none;
}
/*TODO: [header/]*/
/*TODO: [google-map-wrapper] @comment*/
#content{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100% !important;
}
#footer{
	display: none;
}
.google-map-wrapper,.google-map{
	width: 100%;
	height: 100%;
	background: #aaaaaa;
}
/*TODO: [google-map-wrapper/]*/
/*TODO: [.callnavi-search-panel] @comment*/
.callnavi-search-panel{
	position: absolute;
	left: 0;
	color: #4e4e4e;
	top: 100px;
	overflow: hidden;
	width: 100%;
	/*height: 500px;*/
	z-index: 1;
	bottom: 0;
	background: rgba(0,0,0,0.75);
	display: block;
}
.callnavi-search-panel.is_close{
	display: none;
}
.callnavi-search-panel h2{
	font-size: 12px;
	margin: 0;
	margin-top: 8px;
	line-height: 1.4;
}
.callnavi-search-panel input[type="search"],.callnavi-search-panel input[type="text"]{
	background: #eeeeee;
	padding: 0 30px;
	display: block;
	width: 100%;
	outline: none;
	border: 0;
	height: 100px;
	font-size: 28px;
	line-height: 100px;
}
.callnavi-search-panel .panel-header{
	padding: 0 20px;
}
.callnavi-search-panel .padding{
	padding: 0 20px;
}
.panel-wp{
	width: 100%;
	position: absolute;
	bottom: 50%;
}
.panel-lead-title{
	color: #ffffff;
	font-size: 32px;
	text-align: center;
}
.panel-lead-title:before{
	content: '';
	display: block;
	background: url("../../img/icons/green-logo-sp.png") no-repeat;
	width: 40px;
	height: 48px;
	margin: 0 auto 18px;
}
.panel-lead-txt{
	font-size: 24px;
	line-height: 1.83;
	margin-top: 33px;
}
.panel-result-txt{
	text-align: center;
	vertical-align: middle;
	color: #ffffff;
	font-size: 24px;
}
.panel-result-txt:before{
	content: '';
	display: inline-block;
	background: url("../../img/icons/green-logo-sp.png") no-repeat;
	width: 40px;
	height: 48px;
	margin-right: 13px;
}
.panel-result-txt span{
	font-size: 28px;
}
.panel-result-txt span i{
	font-size: 46px;
	font-weight: bold;
	font-style: normal;
}
.input-box{
	position: relative;
}
.clear-btn{
	display: inline-block;
	width: 30px;
	height: 30px;
	position: absolute;
	top: -50%;
	bottom: -50%;
	margin: auto;
	right: 45px;
	cursor: pointer;
}
.clear-btn i{
	width: 3px;
	height: 31px;
	background: #808080;
	display: block;
	position: relative;
	right: -14px;
}
.clear-btn i:nth-child(1){
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.clear-btn i:nth-child(2){
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	top: -31px;
}
.btn-green{
	background: #29d38d;
	color: #ffffff;
	padding: 8px 35px;
	border: 0;
}
.panel-list{
	width: 100%;
	background: rgba(0,0,0,0.75);
	display: none;
}
.panel-list.not-empty{
	background-image: none;
	display: block;
	position: relative;
}
.panel-list.not-empty:before{
	display: block;
	content: '';
	width: 30px;
	background: rgba(0,0,0,0.8);
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
}
.panel-list.not-empty:after{
	content: '';
	height: 0;
	border-style: solid;
	border-width: 10px;
	border-color: transparent transparent transparent #ffffff;
	position: absolute;
	top: -50%;
	bottom: -50%;
	right: 0;
	margin: auto 0;
	-ms-transform: scale(1, 1.6);
	transform: scale(1, 1.6);
	z-index: 3;
}
/*TODO: [.callnavi-search-panel/]*/
/*TODO: [ul-callcenter-list] @comment*/
.callnavi-search-panel-list{
	overflow: hidden;
	height: 240px;
	width: 100%;
	position: absolute;
	bottom: 0;
}
.callnavi-search-panel-list .nav-horizontal__mask{
	height: 240px;
}
.ul-callcenter-list{
	padding: 0;
}
.ul-callcenter-list li{
	line-height: 1;
	cursor: pointer;
	display: table-cell;
	padding: 20px 20px 0 0;
	vertical-align: top;
}
.ul-callcenter-list li:first-child{
	padding-left: 20px;
}
.ul-callcenter-list .display-table{
	width: 100%;
	table-layout: fixed;
}
.ul-callcenter-list section,p{
	color: #ffffff;
	margin: 0;
	line-height: 1.5;
	font-size: 24px;
}
.ul-callcenter-list p{
	font-size: 22px;
}
.ul-callcenter-list li .display-box{
	width: 470px;
	padding: 30px;
	min-height: 220px;
	background: rgba(255,255,255,0.05);
}
.ul-callcenter-list li.active .display-box{
	background: rgba(255,255,255,0.2);
}
.ul-callcenter-list li .display-table{
	min-height: 70px;
}
.ul-callcenter-list li .display-table .table-cell:first-child{
	width: 45px;
	padding: 0 10px 0 0;
	vertical-align: top;
	text-align: right;
}
.green-circle{
	display: inline-block;
	color: #29d38d;
	font-size: 34px;
	line-height: 1.17;
}
.callcenter-company{
	color: #ffffff;
	font-size: 26px;
	line-height: 1.34;
	height: 70px;
	max-height: 70px;
	width: 100%;
}
.callcenter-company .callcenter-company__inner{
	overflow: hidden;
	height: 70px;
}
.callcenter-btn{
	background: #29d38d;
	font-size: 28px;
	text-align: center;
	line-height: 2.5;
	margin-top: 7px;
	color: #ffffff;
	border-radius: 2px;
}
/*TODO: [ul-callcenter-list/]*/
/*TODO: [mCustomScrollbar] @comment*/
.mCSB_inside > .mCSB_container{
	margin-right: 0;
}
.mCSB_scrollTools .mCSB_draggerRail{
	display: none;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	background-color: rgba(215,214,214,0.5);
}
.mCSB_scrollTools .mCSB_draggerContainer{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	transition: opacity 0.5s;
}
.mCustomScrollbar:hover .mCSB_draggerContainer{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{
	background-color: rgba(215,214,214,0.5);
}
/*TODO: [mCustomScrollbar/]*/
/*TODO: [cc-pp] @cc-pp*/
.banner-search-wrap-box{
	color: #ffffff;
	margin-top: 10px;
}
.banner-search-wrap-box i{
	font-style: normal;
}
.cc-pp-header{
	color: #ffffff;
	font-size: 40px;
	line-height: 1.55;
}
.cc-pp-cat{
	font-size: 26px;
	clear: both;
}
.cc-pp-hr hr{
	background: #eeeeee;
	margin: 0;
	border: 0;
	height: 1px;
}
.cc-pp-footer{
	padding-top: 0;
	padding-bottom: 20px;
	width: 100%;
}
.cc-pp-footer_txt{
	margin-top: 44px;
	font-size: 24px;
}
.cc-pp-footer_txt span > i{
	font-size: 38.5px;
}
.cc-pp-item span{
	background: #ffffff;
	color: #4e4e4e;
	display: block;
	line-height: 60px;
	text-align: center;
	font-size: 26px;
}
.cc-pp-item{
	margin-top: 20px;
}
.cc-pp-item:first-child{
	margin-top: 62px;
}
.cc-pp-item__address{
	position: relative;
}
.cc-pp-item__address > span{
	display: block;
}
.cc-pp-item__address .icon-access{
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	width: 60px;
	background: #29d38d;
}
.cc-pp-item__address .icon-2ways{
	background: #29d38d url("../../img/icons/2ways-icon-sp.png") no-repeat;
	width: 60px;
	height: 60px;
	vertical-align: middle;
	background-size: 100%;
}
.cc-pp-item big{
	display: block;
	text-align: center;
	font-size: 26px;
	padding: 30px 0 10px;
}
.cc-pp-item big > a{
	color: #ffffff;
}
.green{
	color: #29d38d;
}
.cc-pp-name{
	font-weight: bold;
	padding-bottom: 15px;
	padding-top: 80px;
}
.top-popup-search{
	background: rgba(0,0,0,0.85);
}
.top-popup-search .popup-container{
	width: 100%;
}
.cc-pp-item a:hover{
	color: #337ab7;
}
.cc-pp-footer{
	text-align: center;
}
.cc-pp-footer .btn-green{
	padding: 25px 105px;
	display: inline-block;
	background: #29d38d;
	border: 0;
	border-radius: 2px;
	margin-top: 34px;
	font-size: 32px;
}
.cc-pp-footer .green{
	line-height: 27px;
	font-size: 24px;
}
.cc-pp-footer .pull-left{
	max-width: 59%;
	padding-top: 18px;
}
.cc-pp-footer .pull-left{
	max-width: 41%;
}
.cc-pp-dir{
	font-size: 10px;
	margin-top: 25px;
}
.cc-pp-dir .icon-2ways{
	margin-right: 5px;
}
.cc-pp-dir a,.cc-pp-dir a:hover{
	color: #4e4e4e;
}
/*TODO: [cc-pp/]*/
/*TODO hide element*/
.gmnoprint > .gm-style-mtc,.gmnoprint > div,.gm-fullscreen-control{
	display: none;
}
.close-button{
	font-size: 20px;
}
.close-button i{
	height: 5px;
	width: 52px;
	position: relative;
	top: -50px;
}
.close-button i:nth-child(1){
	right: -102px;
}
.close-button i:nth-child(2){
	right: -50px;
}
@media only screen and (max-width: 320px){
	.cc-pp-hr{
		padding-bottom: 10px;
	}
	.cc-pp-item{
		margin-top: 10px;
	}
	.cc-pp-name{
		padding-bottom: 0;
	}
	.cc-pp-hr{
		padding-top: 10px;
	}
	.cc-pp-footer .pull-left{
		padding-top: 0;
	}
	.cc-pp-footer .btn-green{
		font-size: 17px;
		padding: 18px 22px;
	}
}