<div class="nav-header">
	<div class="display-table">
		<div class="table-cell nav-btn-wp">
			<button type="button" class="btn-square btn-search" id="btn-search-open">	
				<i></i>
				<span>search</span>	
			</button>
		</div>
		<div class="table-cell nav-logo">
			<h1><a href="/"><img src="/img/logo-white-230-sp.png" alt=""></a></h1>
		</div>
		<div class="table-cell nav-btn-wp">
			<button id="button-slide-open" type="button" class="btn-square btn-menu">	
				<i></i>	
				<i></i>	
				<i></i>	
				<span>menu</span>	
			</button>
		</div>
	</div>
</div>


<?php echo $this->element('Header/_header_menu_sp'); ?>
<?php echo $this->element('Header/_header_search_sp'); ?>
