<div id="goTop" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 header"></div>
<div class="container no-padding headerlogo">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding logotext">
		<a class="logo" href="/"><img src="/img/logo_pc.png" /></a>
		<!-- <a class="header_menu" href="/search">求人まとめ</a> -->
		<!-- <a href="/secret">シークレット求人</a> -->
		<!-- <a class="header_menu" href="/callcenter_matome">日本コールセンターまとめ</a> -->
		<div class="fb-icon">
			<a href="https://www.facebook.com/login.php?next=https%3A%2F%2Fwww.facebook.com%2Fshare.php%3Fu%3Dhttp%253A%252F%252Fcallnavi.jp%252F&display=popup">
				<i class="fa fa-facebook" aria-hidden="true"></i>
			</a>
		</div>
		<div class="tw-icon">
			<a href="https://twitter.com/intent/tweet?url=http%3A%2F%2Fcallnavi.jp%2F&text=%E3%82%B3%E3%83%BC%E3%83%AB%E3%82%BB%E3%83%B3%E3%82%BF%E3%83%BC%E6%B1%82%E4%BA%BA%E3%81%BE%E3%81%A8%E3%82%81%E3%83%A1%E3%83%87%E3%82%A3%E3%82%A2%EF%BD%9C%E3%82%B3%E3%83%BC%E3%83%AB%E3%83%8A%E3%83%93&original_referer=">
				<i class="fa fa-twitter" aria-hidden="true"></i>
			</a>
		</div>
	</div>
</div>