<div is_mail_content="true">
━━━━━━━━━━━━━━━━
新規アカウント登録がありました
━━━━━━━━━━━━━━━━
※本メールは『コールナビ』より自動送信されています。

ご登録いただいた方のメールアドレスは以下の通りです。

＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
アカウント名：{{mail}}<br/>
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

━━━━━━━━━━━━━━━━
『コールナビ』 http://callnavi.jp/
━━━━━━━━━━━━━━━━
</div is_mail_content="true">