<div is_mail_content="true">
━━━━━━━━━━━━━━━━
アカウント登録完了のお知らせ
━━━━━━━━━━━━━━━━
※本メールは『コールナビ』より自動送信されています。

{{account.representative}}様

この度は『コールナビ』をご利用いただき、
誠にありがとうございます。

ご登録いただいたメールアドレスでアカウントを開設いたしました。

＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
アカウント名：{{account.email}}<br/>
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
    
求人広告の出稿は以下のページよりログインしてください。

<a href="{{ link }}">{{ link }}</a>


本メールについてご不明な点や心当たりが無い場合は、大変お手数ですが、
下記の『お問い合わせ先』までご連絡ください。
━━━━━━━━━━━━━━━━
全国のコールセンター転職・求人一括検索！
アルバイト・中途・新卒もおまかせ！
『コールナビ』
http://callnavi.jp/
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
【お問い合わせ先】
株式会社コールナビ
Eメール：info@callnavi.jp
━━━━━━━━━━━━━━━━
</div is_mail_content="true">