<div is_mail_content="true">
━━━━━━━━━━━━━━━━
クレジットカードを再度ご登録下さい
━━━━━━━━━━━━━━━━
※本メールは『コールナビ』より自動送信されています。

{{account.representative}}様

この度は『コールナビ』をご利用いただき、
誠にありがとうございます。

ご確認の上、再度求人広告掲載システムの
［クレジットカード情報の登録・変更］ページより、
クレジットカード情報をご登録していただけますよう、お願い申し上げます。

{{ link }}


本メールについてご不明な点や心当たりが無い場合は、大変お手数ですが、
下記の『お問い合わせ先』までご連絡ください。
━━━━━━━━━━━━━━━━
全国のコールセンター転職・求人一括検索！
アルバイト・中途・新卒もおまかせ！
『コールナビ』
http://callnavi.jp/
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
【お問い合わせ先】
株式会社コールナビ
Eメール：info@callnavi.jp
━━━━━━━━━━━━━━━━
</div is_mail_content="true">
