<div is_mail_content="true">
━━━━━━━━━━━━━━━━
パスワード再設定用のご案内
━━━━━━━━━━━━━━━━
※本メールは『コールナビ』より自動送信されています。

{{account.representative}}様

パスワードを再設定いたします。
下記のURLにてパスワードを再設定してください。

＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
<a href="{{ link }}">{{ link }}</a>
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝


本メールについてご不明な点や心当たりが無い場合は、大変お手数ですが、
下記の『お問い合わせ先』までご連絡ください。
━━━━━━━━━━━━━━━━
全国のコールセンター転職・求人一括検索！
アルバイト・中途・新卒もおまかせ！
『コールナビ』
http://callnavi.jp/
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
【お問い合わせ先】
株式会社コールナビ
Eメール：info@callnavi.jp
━━━━━━━━━━━━━━━━
以下のリンクからパスワードを再設定してください。
</div is_mail_content="true">