{% set features=['0': '未経験歓迎', '1': '40歳以上歓迎', '2': '短期勤務OK', '3': '時短OK', '4': '年収500万以上', '5': '残業少なめ', '6': '残業代支給', '7': '退職金制度有り', '8': '異動／転勤無し', '9': '産休／育休有り', '10': '上場企業', '11': '成長企業', '12': '駅から5分以内', '13': '女性が活躍', '14': 'オシャレ事務所', '15': '平均年齢が若い', '16': '服装自由', '17': '社内行事多数'] %}