<div class="bottom-banner">
	<div class="background">
		<div class="container">
			<div class="clearfix">
				<img src="/img/banner/adv_area_02.jpg">
				<img src="/img/banner/adv_area_03.jpg">
			</div>
		</div>
	</div>
	<div class="adv-banner">
		<div class="container">
			<a href="#">
				<img src="/img/bottom-banner.png" alt="">
			</a>
		</div>
	</div>
</div>