<div class="container no-padding">
	<div class="row contact-info">
		<div class="width-50 text-right">
			<a class="link-to-contact" href="https://line.me/R/ti/p/%40zgv0276t"><img src="/img/concierge/concierge_contact.jpg" > </a>
		</div>
		<div class="width-50 text-left">
            <img src="/img/concierge/concierge_contact_info.png" >
        </div>
	</div>
</div>