<?php
	$id = '';
	$data = array(
		'20160613184652' => '/contents',
		'20160613184610' => '/search',
		'20160613184452' => '/news',
		'20160613184334' => '/blog',
		'20160613184149' => '/callcenter_matome',
		'20160613183942' => '/',
	);

	//Get current URL
	$curURL = $this->here;
	$curURL = strtolower($curURL);

	//Find current URL
	foreach( $data as $key=>$val)
	{
		if($curURL == $val || $curURL == $val.'/')
		{
			$id = $key;
			break;
		}
	}
?>

<?php if ($id): ?>
<script type='text/javascript' charset='utf-8' src='//clickanalyzer.jp/ClickIndex.js' id='wiz/<?php echo $id; ?>'></script>
<noscript><img src='//clickanalyzer.jp/ClickIndex.php?mode=noscript&id=wiz&pg=<?php echo $id; ?>' width='0' height='0' /></noscript>
<?php endif; ?>
