<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 saylink">
    メニュー　｜
    <a href="/search">求人まとめ</a>
    <a href="/search/pickup/">シークレット求人</a>
    <a href="/callcenter_matome">日本CCまとめ</a>
    <a href="/blog">CCブログ</a>
    <a href="/contents">特集</a>
    <a href="/news">ニュース</a>
</div>