<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
<?php if(empty($_GET['page'])) {?>
        <script>
            function getRandomInt(min, max) {
                return Math.floor(Math.random() * (max - min + 1000)) + min;
            }
        </script>
        <?php if ($_SERVER['REQUEST_URI'] == '/') { ?>

            <script>
                $(window).load(function () {
                    // Animate loader off screen
                    setTimeout(function(){
                        $(".top-pre").fadeOut('slow');
                    }, 1000);
                });
            </script>
        <?php }else{
        ?>
            <script>
                $(window).load(function () {
                    // Animate loader off screen
                    setTimeout(function(){
                        $(".page-pre").fadeOut('slow');
                    },1000);

                });
            </script>

        <?php }
 }?>
 
<?php if(empty($_GET['page'])) {
        if ( $_SERVER['REQUEST_URI'] == '/') {
            if (isset($_COOKIE["isFirstAccess"])) { // check first times access ?>
                <div class="top-pre">
                    <div class="pre-img">
                        <!-- <img src="/img/logo.png" /><br> -->
                        <img src="/img/preload/Preloader_2.gif"/>
                        <!-- <p>Loading...</p> -->
                    </div>

                </div>
            <?php } else {
                setcookie("isFirstAccess", true, time() + 900, "/"); // 86400 = 1 day
                ?>
                <div class="top-pre">
                    <div class="pre-img">
                        <img src="/img/logo.png" /><br>
                        <!-- <img src="/img/preload/Preloader_default.gif" /> -->
                        <p>Loading...</p>
                    </div>
                </div>

        <?php }
        } else {
            ?>
            <div class="page-pre">
                <div class="pre-img">
                    <!-- <img src="/img/logo.png"/><br> -->
                    <img src="/img/preload/Preloader_2.gif"/>
                    <!-- <p>Loading...</p> -->
                </div>

            </div>
        <?php }
    }?>