<div is_mail_content="true">
    ━━━━━━━━━━━━━━━━
    求人広告を受付いたしました
    ━━━━━━━━━━━━━━━━
    ※本メールは『コールナビ』より自動送信されています。

    管理システムにて、広告内容の審査をお願いいたします。

    ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
    広告名：{{offer.title}}<br/>
    受付日時：{{date.year}}年{{date.month}}月{{date.day}}日　{{date.time}}<br/>
    広告種別：リスティング広告
    ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

    ━━━━━━━━━━━━━━━━
    『コールナビ』　http://callnavi.jp/
    ━━━━━━━━━━━━━━━━
</div is_mail_content="true">