<div is_mail_content="true">
━━━━━━━━━━━━━━━━
求人広告受付完了のお知らせ
━━━━━━━━━━━━━━━━
※本メールは『コールナビ』より自動送信されています。

{{account.representative}}様

この度は『コールナビ』をご利用いただき、
誠にありがとうございます。

求人広告の受付を完了いたしました。

＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
広告名：{{offer.title}}<br/>
受付日時：{{date.year}}年{{date.month}}月{{date.day}}日　{{date.time}}<br/>
広告種別：リスティング広告
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

広告内容を審査後、随時掲載を開始いたします。
※審査期間：平日9:00～18:00

＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
【ご注意】
以下の場合、掲載をお断りする場合があります。

事業内容・募集内容が法令に抵触するもの
均等な雇用機会を損なうおそれがあると認められるもの
社会倫理・社会秩序に反すると認められるもの
利用者に不利益を与えるもの
予め提供する意思のない労働条件を表示するもの

その他、弊社の掲載基準により、掲載をお断りする場合がございます。
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝


本メールについてご不明な点や心当たりが無い場合は、大変お手数ですが、
下記の『お問い合わせ先』までご連絡ください。
━━━━━━━━━━━━━━━━
全国のコールセンター転職・求人一括検索！
アルバイト・中途・新卒もおまかせ！
『コールナビ』
http://callnavi.jp/
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
【お問い合わせ先】
株式会社コールナビ
Eメール：info@callnavi.jp
━━━━━━━━━━━━━━━━
</div is_mail_content="true">