<div class="padding-lr-40 text-right mg-top-30 mg-bottom-10">
	<strong>
	<time class="_ss" datetime="<?php echo $CareerOpportunity['release_date']; ?>">公開日：<?php echo date('Y年m月d日', strtotime($CareerOpportunity['release_date'])); ?></time>
	</strong>
</div>