<?php if (!empty($CareerOpportunity['thumb_1'])||!empty($CareerOpportunity['thumb_2'])||!empty($CareerOpportunity['thumb_3'])): ?>
<div class="padding-lr-40 mg-top-40">
	<div class="bg-white panel-v3">
		<div class="topic-v3">社内風景</div>
		<div>
		<div class="own-carousel mg-top-20">
			<?php
			echo (!empty($CareerOpportunity['thumb_1'])) ? "<div class='item'><img src='".$this->webroot."upload/secret/jobs/".$CareerOpportunity['thumb_1']."' /> </div>" : "";
			echo (!empty($CareerOpportunity['thumb_2'])) ? "<div class='item'><img src='".$this->webroot."upload/secret/jobs/".$CareerOpportunity['thumb_2']."' /> </div>" : "";
			echo (!empty($CareerOpportunity['thumb_3'])) ? "<div class='item'><img src='".$this->webroot."upload/secret/jobs/".$CareerOpportunity['thumb_3']."' /> </div>" : "";
			?>
		</div>
		</div>
		
		<?php echo $this->element('../Secret/detail/detail3/_button_apply'); ?>
	</div>
</div>
<?php endif; ?>