
<div id="contents">
<div id="contentsContainer">
<!-- InstanceBeginEditable name="mainContents" -->

<div class="unitA01">
{{ partial("/pickup/preview_template")}}

<div class="alignC">
<div style="display:inline-flex">
<form method="post" action="/pickup/makeStart" enctype="multipart/form-data">


<input type="hidden" name="offer_id" value="{{data.id}}"/>
<button class="btnA01" marginR15">入力内容を修正する</button>
</form>
&nbsp;&emsp;<form method="post" action="/pickup/makeThanks" enctype="multipart/form-data">


<input type="hidden" name="offer_id" value="{{data.id}}"/>


<button class="btnA02">この内容で掲載依頼する</button>
</form>
</div>
</div>
</div><!-- /.unitA01 -->

<!-- InstanceEndEditable -->
</div><!-- / contentsContainer -->
</div><!-- / contents -->
