<div id="contents">
<div id="contentsContainer">
<!-- InstanceBeginEditable name="mainContents" -->
<input type="hidden" name="offer_id" value="{{data.id}}"/>
<div class="unitA01">
{{ partial("/pickup/preview_template")}}
</div><!-- /.unitA01 -->

<!-- InstanceEndEditable -->
</div><!-- / contentsContainer -->
</div><!-- / contents -->