<div id="contents">
  <div id="contentsContainer">
  <!-- InstanceBeginEditable name="mainContents" -->

    <div class="unitA01">
      <h2 class="headingA01">求人広告審査</h2>
      <p class="alignC marginB40">非承認理由を出稿者に送信いたしました。</p>
      <p class="alignC"><a href="/admin">求人広告審査（HOME）へ戻る</a></p>
    </div><!-- /.unitA01 -->

  <!-- InstanceEndEditable -->
  </div><!-- / contentsContainer -->
</div><!-- / contents -->