<?php
	
	if(isset($_GET["pickup"]))
	{
		$article = $this->requestAction('elements/getPickUp');
		if($article['type'] == 'content')
		{
			$article['url'] = $this->app->createContentDetailHref($article);
		}

		echo $this->element('pickup_box_v2', $article);
	}
	
?>

<div class="pick-up-box_v2 mg-top-50">
	<a href="/pretty">
		<img width="100%" src="/img/banner/ranking.png" alt="美男美女図鑑">
	</a>
</div>
