<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.7&appId=1579537585628485";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
      <section class="bg-gray"  style="clear: both;">
        <ul class="banner-list">
          <li class="banner-list__item"><a href="https://share.callnavi.jp/" target="_blank"><img src="/img/secret/bnr_top_callshare_sp.png" alt=""></a></li>
          <li class="banner-list__item"><a href="/secret/%E3%80%90%E6%97%A9%E7%A8%B2%E7%94%B0%E5%A4%A7%E3%81%8B%E3%82%89%E3%82%B9%E3%82%B0%EF%BC%81%E3%80%91%E6%9C%8D%E8%A3%85%E9%AB%AA%E5%9E%8B%E8%87%AA%E7%94%B1%E2%98%85%E3%82%B7%E3%83%95%E3%83%88%E8%87%AA%E7%94%B1%E3%81%A7%E7%A9%BA%E3%81%8D%E6%99%82%E9%96%93%E3%81%AB%E3%82%B5%E3%82%AF%E3%83%83%E3%81%A8%E7%A8%BC%E3%81%92%E3%82%8B%E2%99%AA" target="_blank"><img src="/img/secret/secret_sp.png" alt="早大生×高田馬場 コールセンターで働こう！！"></a></li>
          <li class="banner-list__item"><a href="/pretty/" target="_blank"><img src="/img/pretty_sp.png" alt="コールセンター美男美女図鑑"></a></li>
        </ul>
      </section>

<!-- remove in date 06-10-2017 issues #345
<div class="social-box df-padding">
	
	<div class="fb-column">

		<div class="advertisement__item"><a href="/pretty"><img src="/img/pretty_sp.png"/></a></div>
		<div class="advertisement__item"><a href="/callcenter_matome"><img src="/img/map_sp.png"/></a></div>
		<div class="advertisement__item">
			<img src="/img/sns_sp.png"/>
			<div class="fb-like" data-href="https://callnavi.jp" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="false"></div>
		</div>
	</div>
	
	<div class="twitter-button clearfix">
       	<span class="description">「コールナビ」Twitterアカウント</span>
        <a  class="pull-right"
        	target="_blank" 
        	href="https://twitter.com/intent/tweet?url=https://callnavi.jp/&via=コールナビ&text=コールセンター求人数日本No.1サイト、コールナビ。最新の求人情報とお役立ち記事が満載！&related=コールナビ">
        </a>
		<script>
			! function (d, s, id) {
				var js, fjs = d.getElementsByTagName(s)[0],
					p = /^http:/.test(d.location) ? 'http' : 'https';
				if (!d.getElementById(id)) {
					js = d.createElement(s);
					js.id = id;
					js.src = p + '://platform.twitter.com/widgets.js';
					fjs.parentNode.insertBefore(js, fjs);
				}
			}(document, 'script', 'twitter-wjs');
		</script>
	</div>
	
	
</div>

-->