.padding-left-10{
	padding-left:10px;
}

.padding-right-10{
	padding-right:10px;
}

.padding-top-40{
	padding-top: 40px;
}

.table{
    background: white;
    
}

.table thead tr th{
	text-align: center;
}

input[type=radio], input[type=checkbox]{
    vertical-align: middle;
	margin: 0;
}
.fr-box div:last-child a{
	display: none !important;
}
.fr-command.fr-btn + .fr-dropdown-menu .fr-dropdown-wrapper .fr-dropdown-content ul.fr-dropdown-list li a{
	display: block !important;
}
.file-preview-frame img {
	max-width: 100%;
    width:100%;
}


table tr td img{
	max-width: 100%;
}

.width-50{
	width: 50%;
	float: left;
}

.form-row-5{
	margin-left: -5px;
	margin-right: -5px;
}
.table-bordered{
    text-align: left;
}
.padding-5{
	padding-left: 5px;
	padding-right: 5px;
}

.btn-publish{
	color: rgb(183, 6, 6);
	font-size: 14px;
}
.btn-publish input{
	margin-right:5px ;
}

.box-last{
    width: 104px;
}
.box-company{
    width: 220px;
    text-align: center;
}
.box-date{
    width: 100px;
    text-align: center;
}
.container-fluid .btn-default{
    background-color: #ff8a8a;
    border-color:#ff8a8a;
    color: white;
}

.form-horizontal{
    height: 50px;
    padding: 8px;
    margin: 0px 0px 15px;
    background: #e6e6e6;
    clear: both;
}
.container-fluid .btn-top{
    margin-right: 15px;
}

.modal-logout{
	margin: 20% auto;
    width: 25%;
}

.left-menu-admin .active-menu{
	background-color: #7db7e9;
	color: #fff;
}

.left-menu-admin .active-menu a{
	color: #fff;
}

ul.left-menu-admin > li > a:hover{
	background-color: #7db7e9;
	color: #fff;
}

ul.left-menu-admin > li > a {
	display: block;
    width: 100%;
    height: 100%;
    padding: 10px 0 10px 15px;
}

.left-menu-admin .list-group-item{
	padding: 0;
}

.feedback .padding-left-10 > .search-form{
	margin-top: 35px;
}

.test_mode{
	position: fixed;
    background: rgba(0, 0, 0, 0.65);
    color: white;
    width: 100%;
    text-align: center;
    padding: 2px;
    z-index: 100;
	top: 0;
}

.test_mode_bottom{
	text-align: right;
	color: gray;
}

input[type="file"].form-control{
	height: auto;
}