
/* [login page] */
.login-container{
    width: 350px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
    height: 220px;
}

#footer {
    display: none;
}

label.error {
	color: #ff8a8a;
}
/* [login page /] */

#div-main{
	position: static;
}