
/* [Manage blogs-categoy] */

#manage-blogs-categoy .pageination{
	text-align: center;
}
#manage-blogs-categoy .btn{
	margin-bottom:15px;
	margin-left: 15px;
}
/* [Manage blogs-categoy /] */

/* [Manage blogs-categoy edit] */

#manage-blogs-categoy-edit .form-horizontal .form-group{
    margin-right: 0;
    margin-left: 0;
}

#manage-blogs-categoy-edit #edit-blogs-categoy .blogs-categoy-form-container{
	float:left;
	width: 100%;
}

#edit-blogs-categoy  label.control-title{
	font-size: 18px;
    margin-bottom: 30px;
}

#edit-blogs-categoy  span.require{
	margin-left: 5px;
	margin-right: 5px;
}

#manage-blogs-categoy-edit #edit-blogs-categoy .blogs-categoy-form-container .form-group{
	margin-bottom: 30px;
}

#manage-blogs-categoy-edit #edit-blogs-categoy .blogs-categoy-form-container  .control-label{
	margin-bottom: 10px;
	padding-top:0px
}

#manage-blogs-categoy-edit #edit-blogs-categoy .blogs-categoy-form-container  .control-label span.require{
	margin-left:5px;
}
/* [Manage blogs-categoy edit /] */