
/* [Manage news] */

#manage-news {
    margin-bottom: 100px;
}

#manage-news .pageination{
	text-align: center;
}
#manage-news .btn{
	margin-bottom:15px;
	margin-left: 15px;
	min-width: 82px;
}
/* [Manage News /] */

/* [Manage news edit] */

#manage-news-edit .form-horizontal .form-group{
    margin-right: 0;
    margin-left: 0;
}

#manage-news-edit #edit-news .news-form-container{
	float:left;
	width: 100%;
}

#manage-news-edit #edit-news .news-form-container label.control-title{
	font-size: 18px;
    margin-bottom: 30px;
}

#manage-news-edit #edit-news .news-form-container .form-group{
	margin-bottom: 30px;
}

#manage-news-edit #edit-news .news-form-container  .control-label{
	margin-bottom: 10px;
	padding-top:0px
}

#manage-news-edit #edit-news .news-form-container  .control-label span.require{
	margin-left:5px;
	margin-right: 5px;
}

#manage-news .btn-xs{
    margin-bottom: 0px;
    margin-left: 3px;
    min-width: 0px;
}
#manage-news .btn-default{
    background-color: #ff8a8a;
    border-color:#ff8a8a;
    color: white;
}


/* [Manage News edit /] */

.lbl-map-location{
	float: left;
}

.input-map-location{
	float: left;
	max-width: 500px;
	clear: both;
}

#map{
	float: left;
	clear: both;
	width: 100%;
	height: 500px;
	margin-top: 15px;
}
#manage-news-edit #edit-news .news-form-container{
	margin-top: 25px;
}