
/* [Manage job] */

#manage-job .pageination{
	text-align: center;
}
#manage-job .btn{
	margin-bottom:15px;
	margin-left: 15px;
	min-width: 82px;
}
/* [Manage job /] */

/* [Manage job edit] */

#manage-job-edit .form-horizontal .form-group{
    margin-right: 0;
    margin-left: 0;
	margin-bottom: 30px;
}

#manage-job-edit #edit-job .job-form-container{
	float:left;
	width: 100%;
}

#manage-job-edit #edit-job .job-form-container label.control-title{
	font-size: 18px;
    margin-bottom: 30px;
}

#manage-job-edit .form-horizontal .form-group .control-label{
	margin-bottom: 10px;
	padding-top:0px
}

#manage-job-edit .form-horizontal .form-group  .control-label span.require{
	margin-left:5px;
	margin-right: 5px;
}

#manage-job-edit .form-horizontal .form-group input[type=radio]{
    margin-left: 5px;
}
#manage-job-edit .form-horizontal .form-group .checkbox{
	float:left;
	width:25%;
}
#manage-job-edit .form-horizontal .form-group input[type=checkbox]{
	margin-left: 0px;
}

#manage-job-edit .form-horizontal .form-group ul{
    list-style-type: none;
    padding-left: 0;
}

#manage-job .btn-xs{
    margin-bottom: 0px;
    margin-left: 3px;
    min-width: 0px;
}
#manage-job-edit #edit-job .job-form-container{
    margin-top: 30px;
}
.input-map-location {
    float: left;
    max-width: 500px;
    clear: both;
}
.lbl-map-location {
    float: left;
}
#map {
    float: left;
    clear: both;
    width: 100%;
    height: 500px;
    margin-top: 15px;
}
/*#manage-job-edit .form-horizontal .form-group ul li{*/
	/*width:25%;*/
	/*float:left;*/
	/*margin-bottom: 10px;*/
/*}*/

/* [Manage job edit /] */