/*[manage call center]*/
#frm-callcenter .form-group .location{
	clear: both;
	float: left;
}

#frm-callcenter .form-group #province_id, #frm-callcenter .form-group #city_id {
	width: 48%;
	float: left;

}

#frm-callcenter .form-group #province_id{
	margin-right: 2%;
	clear: both;
}

#frm-callcenter .form-group #city_id{
	margin-left: 2%;
}
#frm-callcenter .form-group .width-50:first-child{
	padding-right: 2%;
}

#frm-callcenter .form-group .width-50:last-child{
	padding-left: 2%;
}

/*[manage call center /]*/