img {
  max-width: 100%;
}
.label {
  font-size: 13px;
  color: #333;
}


.textFeild {
  width: 80%;
}
.row {
  padding-bottom: 20px;
}

.title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}

.div_btn_post {
  padding-bottom: 10px;
}

#manage-news .btn {
  margin-bottom: 15px;
  margin-left: 15px;
  min-width: 82px;
}
#manage-news .btn-xs{
    margin-bottom: 0px;
    margin-left: 3px;
    min-width: 0px;
}


.selectpicker {
  padding: 10px;
  border-radius: 5px;
}
.input-gender label {
  padding-right: 25px;
  padding-left: 5px;
  cursor: pointer;
}