<div id="contents">
<div id="contentsContainer">
<!-- InstanceBeginEditable name="mainContents" -->
<form method="post" action="#">
<div class="unitA01">
<h2 class="headingA01">クレジットカード情報の登録・変更</h2>
<div class="headingB01">
<h3>クレジットカード情報の入力</h3>
</div>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<div class="alignC">
<a href="/credit/modify/" class="btnA01 marginR15">入力内容を修正する</a>
<a href="/credit/thanks" class="btnA02">この内容で登録する</a>
</div>

</div><!-- /.unitA01 -->
</form>
<!-- InstanceEndEditable -->
</div><!-- / contentsContainer -->
</div><!-- / contents -->