<div id="contents">
<div id="contentsContainer">
<!-- InstanceBeginEditable name="mainContents" -->
<form method="post" action="#">
<div class="unitA01">
<h2 class="headingA01">クレジットカード情報の登録・変更</h2>
<p class="alignC">登録情報を削除いたしました。</p>

<p class="alignC"><a href="/customer/index">求人広告管理（HOME）へ戻る</a></p>
</div>

</div><!-- /.unitA01 -->
</form>
<!-- InstanceEndEditable -->
</div><!-- / contentsContainer -->
</div><!-- / contents -->
