/* [Contact SP Page] */
#contact-main {
    width: 100%;
}

#contact-main .header-title {
    margin-top: 30px;
    margin-bottom: 10px;
}

#contact-main .header-title h4 {
    font-size: 17px;
    color: #636363;
    line-height: 30px;
    margin: 0;
    font-weight: bold;
}

#contact-main .contact-subtitle p {
    font-size: 14px;
    color: #636363;
    margin-bottom: 15px;
    line-height: 1.6em;
}

#contact-main .sp-div-contact-form .contact-lablel {
    float: left;
    font-size: 14px;
    color: #636363;
    margin-right: 15px;
}

#contact-main .sp-div-contact-form .contact-lablel span.require {
    float: right;
    margin-left: 5px;
}

#contact-main .sp-div-contact-form .contact-input {
    width: 100%;
    float: left;
    margin-bottom: 15px;
}

#contact-main .sp-div-contact-form .contact-input p {
    font-size: 10px;
    margin-top: 8px;
    line-height: 15px;
}

#contact-main .sp-div-contact-form .contact-input .form-control {
    border: 1px solid #f3f3f3;
    color: #666666;
    font-size: 12px;
    border-radius: 3px;
}

#contact-main .sp-div-contact-form .contact-input textarea.form-control {
    height: 100px;
}

#contact-main .sp-div-contact-form .step2 .contact-lablel {
    color: #53c8ef;
    font-size: 14px;
}

#contact-main .sp-div-contact-form .step2 .contact-input .form-control {
    font-size: 14px;
}

#contact-main .sp-div-contact-form .finish {
    display: table;
}

#contact-main .sp-div-contact-form .finish p {
    text-align: center;
    vertical-align: middle;
    width: 100%;
    height: 330px;
    display: table-cell;
    font-size: 12px;
    color: #636363;
    font-weight: bold;
    line-height: 1.8em;
}

@media only screen and (max-width: 320px) {
    #contact-main .sp-div-contact-form .finish p {
        text-align: center;
        vertical-align: middle;
        width: 100%;
        height: 330px;
        display: table-cell;
        font-size: 10px;
        color: #636363;
        font-weight: bold;
        line-height: 1.8em;
    }

    #contact-main .contact-subtitle p {
        font-size: 12px;
        color: #636363;
        margin-bottom: 0px;
        line-height: 1.6em;
    }
}

/*css contact form in sp*/

.sp-div-contact-form .tabcontrol > .steps > ul > li.current {
    height: 40px;
    margin-top: 2px;
}

.sp-div-contact-form .tabcontrol > .steps > ul > li.current a {
    color: #666666;
    padding: 10px 25px;
    font-size: 14px;
}

.sp-div-contact-form .tabcontrol > .steps > ul > li {
    height: 30px;

}

.sp-div-contact-form .tabcontrol > .steps > ul > li a {
    color: #b1b1b1;
}

.sp-div-contact-form .tabcontrol > .content > .body {
    padding: 22px 10px;
}

.sp-div-contact-form .tabcontrol > .content {
    height: 368px;
}

.sp-div-contact-form .wizard ul > li, .tabcontrol ul > li {
    margin: 10px 0 20px 0;
    display: inline-block;
}

.sp-div-contact-form .actions ul li a {
    margin: 10px 0 20px 0;
}

.sp-div-contact-form .gotop a:hover, a:focus {
    color: #666666 !important;
}

#contact-main .steps .number {
    display: none;
}

#contact-main .sp-div-contact-form .step2 .contact-input .form-control[disabled] {
    cursor: auto;
    background-color: white;
    opacity: 1;
}

label.error {
    color: #ff8a8a;
}

/*end css contact form in sp*/

/* [Contact Sp Page /] */

.tab2 > .content {
    height: 1851px !important
}

#frm-contact-form2 {
    display: none;
}

/*[custom radio]*/
.custom-radio {
    padding-left: 15px;
    width: 45%;
    float: left;
}

.custom-radio input[type="radio"] {
    display: none;
}

.custom-radio .vir-label {
    cursor: pointer;
    margin-bottom: 5px;
}

.custom-radio .vir-content {
    vertical-align: middle;
    font-size: 14px;
    margin-left: 5px;
    font-weight: 700;
    color: #636363;
}

.custom-radio .vir-radio {
    border-radius: 100%;
    width: 15px;
    height: 15px;
    border: 1px solid #808080;
    background: #ffffff;
    vertical-align: middle;
    position: relative;
    display: inline-block;
}

.custom-radio input[type="radio"]:checked + .vir-label .vir-radio:before {
    content: "";
    background: #00b2e8;
    height: 7px;
    width: 7px;
    position: absolute;
    display: inline-block;
    top: 3px;
    left: 3px;
    border-radius: 100%;
}

/*[custom radio/]*/

/*[custom checkbox privacy]*/
.custom-checkbox-privacy {
    float: left;
}

.custom-checkbox-privacy input[type="checkbox"] {
    visibility: hidden;
}

.custom-checkbox-privacy .vir-label {
    cursor: pointer;
    margin-bottom: 5px;
}

.custom-checkbox-privacy .vir-content {
    vertical-align: middle;
    font-size: 14px;
    margin-left: 5px;
    font-weight: 700;
    color: #636363;
}

.custom-checkbox-privacy .vir-checkbox {
    width: 15px;
    height: 15px;
    border: 1px solid #808080;
    background: #ffffff;
    vertical-align: middle;
    position: relative;
    display: inline-block;
}

.custom-checkbox-privacy input[type="checkbox"]:checked + .vir-label .vir-checkbox:before {
    content: "";
    background: #808080;
    height: 9px;
    width: 9px;
    position: absolute;
    display: inline-block;
    top: 2px;
    left: 2px;
}

/*[custom checkbox privacy/]*/

.color-disable {
    color: #dcdcdc !important;
}

.form-group > div .contact-lablel.contents-label {
    width: 100%;
    padding-bottom: 14px;
}

/*TODO: form-group*/
.form-group {
    padding-top: 30px;
    padding-bottom: 30px;
}
.form-group:last-child {
    border-bottom: none;
}

.form-group > div .contact-lablel {
    padding-top: 13px;
}


.form-group .form-control {
    padding: 35px 25px;

}

/*TODO: button*/
.actions .disabled, .tabcontrol ul > li {
    display: table-cell;
}

.actions ul {
    display: table;
    margin: 10px 0 60px 0;
    width: 100%;
}

.actions ul li {
    width: 50%;
}

.actions ul li:first-child {
    padding-right: 5px;
}

.actions ul li:nth-child(2) {
    padding-left: 5px;
}

.actions ul li a[href="#previous"] {
    background: #ababab;
    border-bottom-color: #838181;
	white-space: nowrap;
}
.actions ul li a{
    font-size: 22px;
}
.tabcontrol > .content{
    height: 920px;
}
.actions ul li a {
    width: 100%;
}

#contact-form .form-group #st1-email .contact-input span{
    display: none;
}
#contact-form2 .form-group #st1-email .contact-input span{
    display: block;
    font-size: 17px;
    white-space: nowrap;
}

.custom-checkbox {
    text-align: center;
}
@media only screen and (max-width: 480px) {
    .custom-radio {
        padding-left: 0;
        width: 100%;
    }
}

@media only screen and (max-width: 320px) {
    .contact-subtitle {
        padding-bottom: 10px;
    }
    .form-group > div .contact-lablel {
        width: 24%;
    }
}