<div id="goTop" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 header"></div>
<div class="container no-padding headerlogo">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding logotext">
		<a title="コールナビ｜コールセンターの総合情報サイト" class="logo" href="<?php echo FULL_BASE_URL; ?>">
			<img src="/img/logo_pc.png" alt="コールナビ｜コールセンターの総合情報サイト" />
		</a>
	</div>
</div>
