<!--  start  tagit js-->
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" src="<?php echo $this->base;?>/admin/plugins/tagit/js/tag-it.min.js"></script>
<!--  end  tagit js-->