<?php
/**
 * CakePHP(tm) : Rapid Development Framework (http://cakephp.org)
 * Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 *
 * Licensed under The MIT License
 * For full copyright and license information, please see the LICENSE.txt
 * Redistributions of files must retain the above copyright notice.
 *
 * @copyright     Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 * @link          http://cakephp.org CakePHP(tm) Project
 * @package       app.View.Errors
 * @since         CakePHP(tm) v 0.10.0.1076
 * @license       http://www.opensource.org/licenses/mit-license.php MIT License
 */
?>

<?php $this->layout = 'error404' ?>
<div class="content">
	<div class="title">
		<a href="/"><img src="/img/logo_pc.png"></a>
		<p><span>Out of date</span>
			<br>
			<br>
			<small>管理者に連絡してください。</small>
		</p>
		<br><a href="/" class="content-link">TOPページに戻る</a>
	</div>
</div>