<?php
$this->set('title', 'コールナビ｜Download CV');
$this->start('css'); ?>
<link rel="stylesheet" href="<?php echo $this->base;?>/admin/css/login.css" type="text/css" media="all">
<?php $this->end('css');
?>



<div class="login-container">
	<?php if(!empty($errorMess)){ ?>
			<label  generated="true" class="error"><?php echo $errorMess ;?></label>
	<?php } ?>
</div>