{% if pickup.id is defined %}
    <article class="pickupD01 impression_offer pickup_offer" offer_id="{{pickup.id}}" offer_type="pickup">
        <a href={% if pickup.detail_url !=="" and pickup.detail_content_type == "none" %}"{{pickup.detail_url}}" target="_blank"{% elseif pickup.detail_content_type !== "none" %}"/public/index/pickupPreview?offer_id={{pickup.id}}" target="_blank"{% endif %}>
            <h3><span class="new">NEW</span><span class="pickup">PICKUP</span><br>{{pickup.job_category}}</h3>
            <p class="image"><img src="/public/images/pickup/thum/{{pickup.id}}.png" width="" height="" alt=""></p>
            <p class="company">{{pickup.company_name}}</p>
             <p class="summary mediaPC">{{pickup.message}}</p>
             <?php $hired_as = explode(':', $pickup->hired_as) ; ?>
             {{ partial("/data/hired_as_preview")}}  
            <table>
                <tr>
                    <th>給　与</th>
                    <td><div>{{pickup.salary_term_display}} {% if pickup.salary_unit_min !== "dollar" %}{{pickup.salary_value_min}}{{pickup.salary_unit_min_display}}〜{{pickup.salary_value_max}}{{pickup.salary_unit_max_display}}{% else %}{{pickup.salary_unit_min_display}}{{pickup.salary_value_min}}〜{{pickup.salary_unit_max_display}}{{pickup.salary_value_max}}{% endif %}</div></td>
                </tr>
                <tr>
                    <th>勤務地</th>
                    <td><div>{{pickup.workplace_prefecture}}{{pickup.workplace_area}}{{pickup.workplace_address}}</div></td>
                </tr>
            </table>
        </a>
    </article>
{% endif %}