{% if rectangle.id is defined and rectangle.id != 0 %}
    <section class="rectangleBnr">
        <a href="{{rectangle.detail_url}}" target="_blank"><img class="impression_offer rectangle_offer" offer_id="{{rectangle.id}}" offer_type="rectangle" src="/public/images/rectangle/{{rectangle.id}}.png" width="200" height="" alt=""></a>
    </section>  
{% endif %}   
