<ul class="types">
<li><img src="/public/images/common/ico_full_time.png" width="" height="" alt="正社員" /></li>
<li><img src="/public/images/common/ico_contract.png" width="" height="" alt="契約社員" /></li>
<li><img src="/public/images/common/ico_temporary.png" width="" height="" alt="派遣社員" /></li>
<li><img src="/public/images/common/ico_part_time.png" width="" height="" alt="パート" /></li>
<li><img src="/public/images/common/ico_arbeit.png" width="" height="" alt="アルバイト" /></li>
</ul>

